= highlight_js do
  :erb
    1. Project created:
    {
              "created_at": "2012-07-21T07:30:54Z",
              "event_name": "project_create",
                    "name": "StoreCloud",
             "owner_email": "johnsmith@gmail.com"
              "owner_name": "John Smit",
                    "path": "stormcloud",
     "path_with_namespace": "jsmith/stormcloud",
              "project_id": 74,
    }

    2. Project destroyed:
    {
              "created_at": "2012-07-21T07:30:58Z",
              "event_name": "project_destroy",
                    "name": "Underscore",
             "owner_email": "johnsmith@gmail.com"
              "owner_name": "John Smith",
                    "path": "underscore",
     "path_with_namespace": "jsmith/underscore",
              "project_id": 73,
    }

    3. New Team Member:
    {
         "created_at": "2012-07-21T07:30:56Z",
         "event_name": "user_add_to_team",
     "project_access": "Master",
         "project_id": 74, 
       "project_name": "StoreCloud",
       "project_path": "storecloud", 
        "user_email": "johnsmith@gmail.com",
         "user_name": "John Smith",
    }

    4. Team Member Removed:
    {
         "created_at": "2012-07-21T07:30:56Z",
         "event_name": "user_remove_from_team",
     "project_access": "Master",
         "project_id": 74, 
       "project_name": "StoreCloud",
       "project_path": "storecloud", 
        "user_email": "johnsmith@gmail.com",
         "user_name": "John Smith",
    }

    5. User created:
    { 
       "created_at": "2012-07-21T07:44:07Z",
            "email": "js@gitlabhq.com",
       "event_name": "user_create",
             "name": "John Smith", 
          "user_id": 41 
    }

    6. User removed:
    { 
       "created_at": "2012-07-21T07:44:07Z",
            "email": "js@gitlabhq.com",
       "event_name": "user_destroy",
             "name": "John Smith",
          "user_id": 41 
    }
