- page_title @hook.pluralized_name

.settings-section{ data: { event_tracking_load: 'true', event_tracking: 'view_admin_hooks_pageload' } }
  = render 'shared/web_hooks/title_and_docs', hook: @hook
  = render 'shared/web_hooks/index', hooks: @hooks, title: @hook.pluralized_name, partial: 'form', url: admin_hooks_path

= render 'shared/file_hooks/index'
