.blank-state.ee-trial.clearfix
  .blank-state-icon
    = custom_icon("ee_trial", size: 50)
  .blank-state-body
    %h3.blank-state-title
      Unlock more features with GitLab Enterprise Edition
    %p.blank-state-text
      GitLab is free to use.
      Many features for larger teams are part of
      our paid
      = succeed "." do
        = link_to "Enterprise Edition products", "https://about.gitlab.com/products/"
      You can try these out for free without
      any obligation or payment details.
    = link_to new_group_path, class: "btn btn-new" do
      Start free trial