.nav-block
  %ul.nav-links.mobile-separator.nav.nav-tabs
    = nav_link(html_options: { class: ("active" unless params[:personal].present?) }) do
      = link_to s_('DashboardProjects|All'), dashboard_projects_path
    = nav_link(html_options: { class: ("active" if params[:personal].present?) }) do
      = link_to s_('DashboardProjects|Personal'), filter_projects_path(personal: true)
