= render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-projects-starred-md.svg',
  title: s_("StarredProjectsEmptyState|You don't have starred projects yet.")) do |c|

  - c.with_description do
    = s_("StarredProjectsEmptyState|Visit a project page and press on a star icon. Then, you can find the project on this page.")
