.row.empty-state
  .col-12
    .svg-content.svg-250
      = image_tag 'illustrations/starred_empty.svg'
    .text-content
      %h4.text-center
        = s_("StarredProjectsEmptyState|You don't have starred projects yet.")
      %p.text-secondary
        = s_("StarredProjectsEmptyState|Visit a project page and press on a star icon. Then, you can find the project on this page.")
