.row.blank-state-parent-container
  .col-md-6
    .section-body.section-welcome
      = render "blank_state_welcome"
  .col-md-6
    .section-body.section-ee-trial
      = render "blank_state_ee_trial"