.row.blank-state-parent-container
  .col-md-6.section-container
    .section-body.section-welcome
      .blank-state.blank-state-welcome
        %h2.blank-state-welcome-title
          Welcome to GitLab
        %p.blank-state-text
          Code, test, and deploy together
      - if current_user.admin?
        = render "blank_state_admin_welcome"
      - else
        = render "blank_state_welcome"
