- admin_without_ee_license = !current_license && current_user.admin?

.blank-state-parent-container{ class: ('has-start-trial-container' if admin_without_ee_license) }
  .section-container.section-welcome
    .container.section-body
      .row
        .blank-state-welcome
          %h2.blank-state-welcome-title
            Welcome to GitLab
          %p.blank-state-text
            Code, test, and deploy together
        .blank-state-row
          %div{ class: ('column-large' if admin_without_ee_license) }
            - if current_user.admin?
              = render "blank_state_admin_welcome"
            - else
              = render "blank_state_welcome"
          - if admin_without_ee_license
            .column-small
              = render "blank_state_ee_trial"
