- page_title "Starred Projects"
- header_title "Projects", dashboard_projects_path

= render 'dashboard/projects_head'

- if @last_push
  = render "events/event_last_push", event: @last_push

- if @projects.any?
  = render 'projects'
- else
  %h3 You don't have starred projects yet
  %p.slead Visit project page and press on star icon and it will appear on this page.
