- page_title "Starred Projects"
- header_title "Projects", projects_path

= render 'dashboard/projects_head'

- if @projects.any?
  = render 'projects'
- else
  %h3 You don't have starred projects yet
  %p.slead Visit project page and press on star icon and it will appear on this page.
