%popup-dialog{ ":title": "title" }
  %template{ slot: "body" }
    %p{ "v-if" => "currentPage === 'delete'" }
      Are you sure you want to delete this board?
    %form{ "v-else" => true,
      "@submit.prevent" => "submit" }
      %input{ type: "hidden",
        id: "board-milestone",
        "v-model.number" => "board.milestone_id" }
      %div
        %label.label-light{ for: "board-new-name" }
          Board name
        %input.form-control{ type: "text",
          id: "board-new-name",
          "v-model" => "board.name" }
      - if current_board_parent.issue_board_milestone_available?(current_user)
        %board-milestone-select{ ":board": "board",
          ":milestone-path": "milestonePath",
          ":select-milestone": "selectMilestone" }
  %template{ slot: "footer" }
    = link_to current_board_path(board),
      class: "btn btn-danger pull-left",
      "v-if": "currentPage === 'delete'",
      method: :delete do
      Delete
    %button.btn.btn-primary.pull-left{ type: "button",
      "v-else": true,
      "@click" => "submit",
      ":disabled" => "submitDisabled",
      "ref" => "'submit-btn'" }
      {{ buttonText }}
    %button.btn.btn-default.pull-right{ type: "button",
      "@click" => "cancel",
      data: { dismiss: "modal" } }
      Cancel
