- button_path = local_assigns.fetch(:button_path, false)
- project_select_button = local_assigns.fetch(:project_select_button, false)
- has_button = button_path || project_select_button

.row.empty-state
  .col-xs-12
    .svg-content
      = render 'shared/empty_states/icons/service_desk_empty_state.svg'
  .col-xs-12.text-center
    .text-content
      - if has_button && current_user
        %h4
          The Issue Tracker is the place to add things that need to be improved or solved in a project
        %p
          Issues can be bugs, tasks or ideas to be discussed.
          Also, issues are searchable and filterable.
        - if project_select_button
          = render 'shared/new_project_item_select', path: 'issues/new', label: 'New issue', type: :issues
        - else
          = link_to 'New issue', button_path, class: 'btn btn-new', title: 'New issue', id: 'new_issue_link'
      - else
        .text-center
          %h4 Use Service desk to connect with your users (e.g. to offer customer support) through email right inside GitLab.
          %p Have your users email incoming+victorwu/acme-lawncare-ios@gitlab.com. Those emails automatically become issues (with the comments becoming the email conversation) listed here.
          %a{ href: '#' } Read more

