.row.empty-state
  .col-xs-12
    .svg-content
      = render 'shared/empty_states/icons/service_desk_empty_state.svg'
  .col-xs-12.text-center
    .text-content
      = render 'service_desk_info_content'
