.row
  .col-md-3
    %h3.page-title Help
    %ul.nav.nav-pills.nav-stacked
      - links = {:"Workflow" => help_workflow_path, :"SSH Keys" => help_ssh_path, :"GitLab Markdown" => help_markdown_path, :"Permissions" => help_permissions_path, :"API" => help_api_path, :"Web Hooks" => help_web_hooks_path, :"Rake Tasks" => help_raketasks_path, :"System Hooks" => help_system_hooks_path, :"Public Access" => help_public_access_path, :"Security" => help_security_path}
      - links.each do |title,path|
        %li{class: current_page?(path) ? 'active' : nil}
          = link_to title, path

  .col-md-9
    .wiki
      = yield
