#modal-shortcuts.modal{ tabindex: -1 }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title
          Keyboard Shortcuts
          %small
            = link_to '(Show all)', '#', class: 'js-more-help-button'
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": true } &times;
      .modal-body
        .row
          .col-lg-4
            %table.shortcut-mappings
              %tbody
                %tr
                  %th
                  %th Global Shortcuts
                %tr
                  %td.shortcut
                    %kbd s
                  %td Focus Search
                %tr
                  %td.shortcut
                    %kbd f
                  %td Focus Filter
                - if performance_bar_enabled?
                  %tr
                    %td.shortcut
                      %kbd p b
                    %td Show/hide the Performance Bar
                %tr
                  %td.shortcut
                    %kbd ?
                  %td Show/hide this dialog
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      %kbd &#8984; shift p
                    - else
                      %kbd ctrl shift p
                  %td Toggle Markdown preview
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-up
                  %td Edit last comment (when focused on an empty textarea)
                %tr
                  %td.shortcut
                    %kbd shift t
                  %td
                    Go to todos
                %tr
                  %td.shortcut
                    %kbd shift a
                  %td
                    Go to the activity feed
                %tr
                  %td.shortcut
                    %kbd shift p
                  %td
                    Go to projects
                %tr
                  %td.shortcut
                    %kbd shift i
                  %td
                    Go to issues
                %tr
                  %td.shortcut
                    %kbd shift m
                  %td
                    Go to merge requests
                %tr
                  %td.shortcut
                    %kbd shift g
                  %td
                    Go to groups
                %tr
                  %td.shortcut
                    %kbd shift l
                  %td
                    Go to milestones
                %tr
                  %td.shortcut
                    %kbd shift s
                  %td
                    Go to snippets
              %tbody
                %tr
                  %th
                  %th Finding Project File
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-up
                  %td Move selection up
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-down
                  %td Move selection down
                %tr
                  %td.shortcut
                    %kbd enter
                  %td Open Selection
                %tr
                  %td.shortcut
                    %kbd esc
                  %td Go back
          .col-lg-4
            %table.shortcut-mappings
              %tbody
                %tr
                  %th
                  %th Project
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd p
                  %td
                    Go to the project's overview page
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd v
                  %td
                    Go to the project's activity feed
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd f
                  %td
                    Go to files
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd c
                  %td
                    Go to commits
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd j
                  %td
                    Go to jobs
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd n
                  %td
                    Go to network graph
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd d
                  %td
                    Go to repository charts
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd i
                  %td
                    Go to issues
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd b
                  %td
                    Go to issue boards
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd m
                  %td
                    Go to merge requests
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd e
                  %td
                    Go to environments
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd k
                  %td
                    Go to kubernetes
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd s
                  %td
                    Go to snippets
                %tr
                  %td.shortcut
                    %kbd g
                    %kbd w
                  %td
                    Go to wiki
                %tr
                  %td.shortcut
                    %kbd t
                  %td Go to finding file
                %tr
                  %td.shortcut
                    %kbd i
                  %td New issue

              %tbody
                %tr
                  %th
                  %th Project Files browsing
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-up
                  %td Move selection up
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-down
                  %td Move selection down
                %tr
                  %td.shortcut
                    %kbd enter
                  %td Open Selection
              %tbody
                %tr
                  %th
                  %th Project File
                %tr
                  %td.shortcut
                    %kbd y
                  %td Go to file permalink
              %tbody
                %tr
                  %th
                  %th Web IDE
                %tr
                  %td.shortcut
                    - if browser.platform.mac?
                      %kbd &#8984; p
                    - else
                      %kbd ctrl p
                  %td Go to file
          .col-lg-4
            %table.shortcut-mappings
              %tbody.hidden-shortcut{ style: 'display:none' }
                %tr
                  %th
                  %th Network Graph
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-left
                    \/
                    %kbd h
                  %td Scroll left
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-right
                    \/
                    %kbd l
                  %td Scroll right
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-up
                    \/
                    %kbd k
                  %td Scroll up
                %tr
                  %td.shortcut
                    %kbd
                      %i.fa.fa-arrow-down
                    \/
                    %kbd j
                  %td Scroll down
                %tr
                  %td.shortcut
                    %kbd
                      shift
                      %i.fa.fa-arrow-up
                    \/
                    %kbd
                      shift k
                  %td Scroll to top
                %tr
                  %td.shortcut
                    %kbd
                      shift
                      %i.fa.fa-arrow-down
                    \/
                    %kbd
                      shift j
                  %td Scroll to bottom
              %tbody.hidden-shortcut{ style: 'display:none' }
                %tr
                  %th
                  %th Issues
                %tr
                  %td.shortcut
                    %kbd a
                  %td Change assignee
                %tr
                  %td.shortcut
                    %kbd m
                  %td Change milestone
                %tr
                  %td.shortcut
                    %kbd r
                  %td Reply (quoting selected text)
                %tr
                  %td.shortcut
                    %kbd e
                  %td Edit issue
                %tr
                  %td.shortcut
                    %kbd l
                  %td Change Label
              %tbody.hidden-shortcut{ style: 'display:none' }
                %tr
                  %th
                  %th Merge Requests
                %tr
                  %td.shortcut
                    %kbd a
                  %td Change assignee
                %tr
                  %td.shortcut
                    %kbd m
                  %td Change milestone
                %tr
                  %td.shortcut
                    %kbd r
                  %td Reply (quoting selected text)
                %tr
                  %td.shortcut
                    %kbd e
                  %td Edit merge request
                %tr
                  %td.shortcut
                    %kbd l
                  %td Change Label
              %tbody.hidden-shortcut{ style: 'display:none' }
                %tr
                  %th
                  %th Wiki pages
                %tr
                  %td.shortcut
                    %kbd e
                  %td Edit wiki page
