#modal-shortcuts.modal.hide
  .modal-header
    %a.close{href: "#", "data-dismiss" => "modal"} ×
    %h3 Keyboard Shortcuts
  .modal-body
    %h5 Global Shortcuts
    %p
      %span.label.label-inverse s
      &ndash;
      Focus Search
    %p
      %span.label.label-inverse ?
      &ndash;
      Show this dialog
