#modal-shortcuts.modal{tabindex: -1}
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h4
          键盘快捷键
          %small
            = link_to '(显示全部)', '#', class: 'js-more-help-button'
      .modal-body.shortcuts-cheatsheet
        .col-lg-4
          %table.shortcut-mappings
            %tbody
              %tr
                %th
                %th 全局快捷键
              %tr
                %td.shortcut
                  .key s
                %td 直接搜索
              %tr
                %td.shortcut
                  .key ?
                %td 显示/隐藏本对话框
              %tr
                %td.shortcut
                  - if browser.mac?
                    .key &#8984; shift p
                  - else
                    .key ctrl shift p

                %td 切换 Markdown 预览
            %tbody
              %tr
                %th
                %th 项目文件浏览
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-up
                %td 选择向上
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-down
                %td 选择向下
              %tr
                %td.shortcut
                  .key 回车
                %td 打开选择
            %tbody
              %tr
                %th
                %th 查找项目文件
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-up
                %td 选择向上
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-down
                %td 选择向下
              %tr
                %td.shortcut
                  .key 回车
                %td 打开选择
              %tr
                %td.shortcut
                  .key esc
                %td 返回

        .col-lg-4
          %table.shortcut-mappings
            %tbody{ class: 'hidden-shortcut project', style: 'display:none' }
              %tr
                %th
                %th 全局仪表盘
              %tr
                %td.shortcut
                  .key g
                  .key a
                %td
                  转到动态
              %tr
                %td.shortcut
                  .key g
                  .key p
                %td
                  转到项目
              %tr
                %td.shortcut
                  .key g
                  .key i
                %td
                  转到问题
              %tr
                %td.shortcut
                  .key g
                  .key m
                %td
                  转到合并请求
            %tbody
              %tr
                %th
                %th 项目
              %tr
                %td.shortcut
                  .key g
                  .key p
                %td
                  转到项目首页
              %tr
                %td.shortcut
                  .key g
                  .key e
                %td
                  转到项目动态
              %tr
                %td.shortcut
                  .key g
                  .key f
                %td
                  转到文件
              %tr
                %td.shortcut
                  .key g
                  .key c
                %td
                  转到提交
              %tr
                %td.shortcut
                  .key g
                  .key b
                %td
                  转到构建
              %tr
                %td.shortcut
                  .key g
                  .key n
                %td
                  转到网络图表
              %tr
                %td.shortcut
                  .key g
                  .key g
                %td
                  转到图表
              %tr
                %td.shortcut
                  .key g
                  .key i
                %td
                  转到问题
              %tr
                %td.shortcut
                  .key g
                  .key m
                %td
                  转到合并请求
              %tr
                %td.shortcut
                  .key g
                  .key s
                %td
                  转到代码片段
              %tr
                %td.shortcut
                  .key t
                %td 转到查找文件
              %tr
                %td.shortcut
                  .key i
                %td 新问题
        .col-lg-4
          %table.shortcut-mappings
            %tbody{ class: 'hidden-shortcut network', style: 'display:none' }
              %tr
                %th
                %th 网络图表
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-left
                  \/
                  .key h
                %td 左滚动
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-right
                  \/
                  .key l
                %td 右滚动
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-up
                  \/
                  .key k
                %td 上滚动
              %tr
                %td.shortcut
                  .key
                    %i.fa.fa-arrow-down
                  \/
                  .key j
                %td 下滚动
              %tr
                %td.shortcut
                  .key
                    shift
                    %i.fa.fa-arrow-up
                  \/
                  .key
                    shift k
                %td 滚动到顶部
              %tr
                %td.shortcut
                  .key
                    shift
                    %i.fa.fa-arrow-down
                  \/
                  .key
                    shift j
                %td 滚动到底部
            %tbody{ class: 'hidden-shortcut issues', style: 'display:none' }
              %tr
                %th
                %th 问题
              %tr
                %td.shortcut
                  .key a
                %td 修改指派
              %tr
                %td.shortcut
                  .key m
                %td 修改里程碑
              %tr
                %td.shortcut
                  .key r
                %td 回复 (并引用选择的文本)
              %tr
                %td.shortcut
                  .key e
                %td 编辑问题
              %tr
                %td.shortcut
                  .key l
                %td 修改标记
            %tbody{ class: 'hidden-shortcut merge_requests', style: 'display:none' }
              %tr
                %th
                %th 合并请求
              %tr
                %td.shortcut
                  .key a
                %td 修改指派
              %tr
                %td.shortcut
                  .key m
                %td 修改里程碑
              %tr
                %td.shortcut
                  .key r
                %td 回复 (并引用选择的文本)
              %tr
                %td.shortcut
                  .key e
                %td 编辑合并请求
              %tr
                %td.shortcut
                  .key l
                %td 修改标记
