%h3 
  Gitlabhq
  %span.right v2.2
%hr
%h4 Self Hosted Git Management
%h4 Fast, secure and stable solution based on Ruby on Rails & Gitolite. 

%hr

%h3 Help

%ol
  %li
    = link_to "Workflow", help_workflow_path

  %li
    = link_to "Permissions", help_permissions_path
