%h3.page_title
  GITLAB
  .right
    %span= Gitlab::Version
    %small= Gitlab::Revision
%hr
%p.lead
  Self Hosted Git Management
  %br
  Fast, secure and stable solution based on Ruby on Rails & Gitolite.

%br

= render 'help_pages'