%h3
  = t 'help.permissions.title'
%hr

.row
  .ui-box.span2
    %h5 Gast
    %ul.unstyled
      %li Neue Tickets erstellen
      %li Kommentare hinterlassen
      %li Auf die Wall schreiben

  .ui-box.span3
    %h5 Tester
    %ul.unstyled
      %li Branches pullen
      %li Downloads herunterladen
      %li Neue Tickets erstellen
      %li Neue Merge Requests erstellen
      %li Auf die Wall schreiben
      %li Codeschnipsel erstellen


  .ui-box.span3
    %h5 Entwickler
    %ul.unstyled
      %li Branches pullen
      %li Neue Branches erstellen
      %li In ungesicherte Branches pushen
      %li Ungesicherte Branches entfernen
      %li Tags setzen
      %li Neue Tickets erstellen
      %li Neue Merge Requests erstellen
      %li Auf die Wall schreiben
      %li Wikis bearbeiten

  .ui-box.span3
    %h5 Eigentümer
    %ul.unstyled
      %li Kompletter Repositoryzugriff
      %li Kompletter Projektzugriff
      %li Nutzer zum Team hinzufügen/entfernen
