%h3 Permissions
%hr

%h4 Guest
%ul
  %li Create new issue
  %li Leave comments
  %li Write on project wall

%h4 Reporter
%ul
  %li Pull project code
  %li Download project
  %li Create new issue
  %li Create new merge request
  %li Write on project wall
  %li Create a code snippets


%h4 Developer
%ul
  %li Pull project code
  %li Create new branches
  %li Push to non-protected branches
  %li Remove non-protected branches
  %li Add tags
  %li Create new issue
  %li Create new merge request
  %li Write on project wall
  %li Write a wiki

%h4 Master
%ul
  %li Full repository access
  %li Full project access
  %li Add new team members
