= render layout: 'help/layout' do
  %h3.page-title Permissions
  %p.light Users have different abilities depending on the access level they have in particular group or project.
  %p.light If a user is both in a project group and in the project itself the highest permission level is used.
  %p.light If a user is a GitLab administrator they receive all permissions.
  %hr

  %h4 Project:
  %table.table
    %thead
      %tr
        %th Action
        %th Guest
        %th Reporter
        %th Developer
        %th Master
        %th Owner
    %tbody
      %tr
        %td Create new issue
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Leave comments
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Write on project wall
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Pull project code
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Download project
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Create code snippets
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Create new merge request
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Create new branches
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Push to non-protected branches
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Remove non-protected branches
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Add tags
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Write a wiki
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Manage issue tracker
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Add new team members
        %td
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Push to protected branches
        %td
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Remove protected branches
        %td
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Edit project
        %td
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Add Deploy Keys to project
        %td
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Configure Project Hooks
        %td
        %td
        %td
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Switch visibility level
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;
      %tr
        %td Transfer project to another namespace
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;
      %tr
        %td Remove project
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;

  %h4 Group
  %table.table
    %thead
      %tr
        %th Action
        %th Guest
        %th Reporter
        %th Developer
        %th Master
        %th Owner
    %tbody
      %tr
        %td Browse group
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
        %td.permission-x &#10003;
      %tr
        %td Edit group
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;
      %tr
        %td Create project in group
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;
      %tr
        %td Manage group members
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;
      %tr
        %td Remove group
        %td
        %td
        %td
        %td
        %td.permission-x &#10003;
  %p.light Any user can remove himself from a group, unless he is the last Owner of the group.
