%h3.page_title Permissions
.back_link
  = link_to help_path do
    &larr; to index
%hr

.row
  .ui-box.span2
    %h5 Guest
    %ul.unstyled
      %li Create new issue
      %li Leave comments
      %li Write on project wall

  .ui-box.span3
    %h5 Reporter
    %ul.unstyled
      %li Create new issue
      %li Leave comments
      %li Write on project wall
      %li Pull project code
      %li Download project
      %li Create new merge request
      %li Create a code snippets


  .ui-box.span3
    %h5 Developer
    %ul.unstyled
      %li Create new issue
      %li Leave comments
      %li Write on project wall
      %li Pull project code
      %li Download project
      %li Create new merge request
      %li Create a code snippets
      %li Create new branches
      %li Push to non-protected branches
      %li Remove non-protected branches
      %li Add tags
      %li Write a wiki

  .ui-box.span3
    %h5 Master
    %ul.unstyled
      %li Create new issue
      %li Leave comments
      %li Write on project wall
      %li Pull project code
      %li Download project
      %li Create new merge request
      %li Create a code snippets
      %li Create new branches
      %li Push to non-protected branches
      %li Remove non-protected branches
      %li Add tags
      %li Write a wiki
      %li Add new team members
      %li Push to protected branches
      %li Remove protected branches
      %li Push with force option
      %li Edit project
      %li Add Deploy Keys to project
      %li Configure Project Hooks
