%h3.page_title Public Area
.back_link
  = link_to help_path do
    &larr; to index
%hr

%p
  Public area - is part of application with public access.
  %br
  It used to list all projects with public read-only access.
  %br
  If you enable public http access to the project - it will appears there
  %br

  Follow #{link_to "this link", public_root_path} to visit Public Area

