= render layout: 'help/layout' do
  %h3.page-title Public Access

  %p
    GitLab allows you to open selected projects to be accessed publicly or internally.
    Projects with either of these visibility levels will be listed in the #{link_to "public access directory", public_root_path}. Internal projects will only be available to authenticated users.
  %p
    = public_icon
    Public projects will be cloneable
    %em without any
    authentication.
  %p
    = internal_icon
    Internal projects will be cloneable by
    %em any authenticated user.

  %ol
    %li Go to your project dashboard
    %li Click on the "Edit" tab
    %li Change "Visibility Level"

