= render layout: 'help/layout' do
  %h3.page-title Security

  %p.slead
    If your GitLab instance is visible from the internet chances are it will be 'tested' by bots sooner or later.
    %br
    %br
    %br
    .file-holder
      .file-title
        %i.icon-file
        Dealing with bruteforcing
      .file-content.wiki
        = preserve do
          = markdown File.read(Rails.root.join("doc", "security", "rack_attack.md"))
