= render layout: 'help/layout' do
  %h3.page_title SSH Keys
  %br

  %p.slead
    SSH key allows you to establish a secure connection between your computer and GitLab

  %p.slead
    To generate a new SSH key just open your terminal and use code below.

  %pre.dark
    ssh-keygen -t rsa -C "#{current_user.email}"

    \# Creates a new ssh key using the provided email
    \# Generating public/private rsa key pair...

  %p.slead
    Next just use code below to dump your public key and add to GitLab SSH Keys

  %pre.dark
    cat ~/.ssh/id_rsa.pub

    \# ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6eNtGpNGwstc....
