= render layout: 'help/layout' do
  %h3.page-title SSH Keys

  %p.slead
    SSH key allows you to establish a secure connection between your computer and GitLab

  %p.slead
    To generate a new SSH key just open your terminal and use code below. Press enter to accept the defaults when generating the key.

  %pre.dark
    ssh-keygen -t rsa -C "#{current_user.email}"

  %p.slead
    Next just use code below to dump your public key and add to GitLab SSH Keys

  %pre.dark
    cat ~/.ssh/id_rsa.pub
