%h3 System hooks
.back_link
  = link_to :back do
    &larr; back
%hr

%p.slead
  Your GitLab instance can perform HTTP POST request on next event: create_project, delete_project, create_user, delete_user, change_team_member.
  %br
  System Hooks can be used for logging or change information in LDAP server.
  %br
%h5 Hooks request example:
= render "admin/hooks/data_ex"
