- status = subject.detailed_status(current_user)
- icon = "#{status.icon}_borderless"
- klass = "ci-status-icon ci-status-icon-#{status}"

%span.mini-pipeline-graph-icon-container
  %span{ class: klass }= custom_icon(icon)
