- if current_user
  %button.csv_download_link.btn.has-tooltip{ title: _('Export as CSV'),
    data: { toggle: 'modal', target: '.issues-export-modal', qa_selector: 'export_as_csv_button' } }
    = sprite_icon('export')
