.light-well {
  background: #f9f9f9;
  padding: 15px;
}

.centered-light-block {
  text-align: center;
  color: #888;
  margin: 20px;
}

.nothing-here-block {
  text-align: center;
  padding: 20px;
  color: #666;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
}
