.filter-item {
  margin-right: 15px;
}

.issues-state-filters {
  li.active a,
  li.active a:hover {
    background: #f5f5f5;
    border-bottom: 1px solid #f5f5f5 !important;
  }
}

.issues-details-filters {
  font-size: 13px;
  background: #f5f5f5;
  margin: -10px 0;
  padding: 10px 15px;
  margin-top: -15px;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;

  .btn {
    font-size: 13px;
  }
}
