.flash-container {
  display: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  z-index: 100;

  .flash-notice {
    background: #49C;
    padding: 10px;
    text-shadow: 0 1px 1px #178;
  }

  .flash-alert {
    background: #C67;
    text-shadow: 0 1px 1px #945;
    padding: 10px;
  }
}

.alert-container {
  padding: 10px;
  text-align: center;
  background: #F51;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
}
