/** Select2 selectbox style override **/

.select2-container {
  .select2-choice {
    background: #EEE;
    border-color: #BBB;
  }
}

select {
  &.select2 {
    width: 100px;
  }

  &.select2-sm {
    width: 100px;
  }
}

@media (min-width: $screen-sm-min) {
  select {
    &.select2 {
      width: 150px;
    }
    &.select2-sm {
      width: 120px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  select {
    &.select2 {
      width: 170px;
    }
    &.select2-sm {
      width: 140px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  select {
    &.select2 {
      width: 200px;
    }
    &.select2-sm {
      width: 150px;
    }
  }
}
