table {
  &.table {
    tr {
      td, th {
        padding: 8px 10px;
        line-height: 20px;
        vertical-align: middle;
      }
      th {
        font-weight: normal;
        font-size: 15px;
        border-bottom: 1px solid $border-color !important;
      }
      td {
        border-color: #F1F1F1 !important;
        border-bottom: 1px solid;
      }
    }
  }
}
