.timeline {
  @include basic-list;

  margin: 0;
  padding: 0;

  > li {
    padding: $gl-padding;
    border-color: #f1f2f4;
    margin-left: -$gl-padding;
    margin-right: -$gl-padding;
    color: $gl-gray;
    border-right: 1px solid #f1f2f4;

    .avatar {
      margin-right: 15px;
    }

    .controls {
      padding-top: 10px;
      float: right;
    }
  }

  .note-text {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .system-note .timeline-entry-inner {
    .timeline-icon {
      float: left;
      margin-left: 12px;
      margin-top: 8px;
      @include box-shadow(none);

      span {
        margin: 0 2px;
        font-size: 16px;
        color: #eeeeee;
      }
    }

    .timeline-content {
      background: none;
      margin-left: 45px;
      padding: 0px 15px;

      &:after { border: 0; }

      .note-header {
        span { font-size: 12px; }

        .avatar {
          margin-right: 5px;
        }
      }

      .note-text {
        font-size: 12px;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .timeline {
    &:before {
      background: none;
    }
    .timeline-entry .timeline-entry-inner {
      .timeline-icon {
        display: none;
      }

      .timeline-content {
        margin-left: 0;
      }
    }
  }
}
