.timeline {
  @include basic-list;

  margin: 0;
  padding: 0;

  > li {
    padding: $gl-padding;
    border-color: #f1f2f4;
    margin-left: -$gl-padding;
    margin-right: -$gl-padding;
    color: $gl-gray;
    border-right: 1px solid #f1f2f4;

    .avatar {
      margin-right: 15px;
    }

    .controls {
      padding-top: 10px;
      float: right;
    }
  }

  .note-text {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .system-note {
    .note-text {
      color: $gl-gray !important;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .timeline {
    &:before {
      background: none;
    }
    .timeline-entry .timeline-entry-inner {
      .timeline-icon {
        display: none;
      }

      .timeline-content {
        margin-left: 0;
      }
    }
  }
}
