- variables = @project.group.self_and_ancestors.map(&:variables).flatten

.ci-variable-table
  %table.gl-table.gl-w-full.gl-table-layout-fixed
    = render 'ci/group_variables/variable_header'
    - variables.each do |variable|
      %tr
        %td.gl-text-truncate
          = variable.key
        %td.gl-text-truncate
          = variable.environment_scope
        %td.gl-text-truncate
          %a.group-origin-link{ href: group_settings_ci_cd_path(variable.group) }
            = variable.group.name
