.group-variable-keys.d-flex.w-100.align-items-center.pb-2.border-bottom
  .bold.table-section.section-40.append-right-10
    = s_('Key')
  .bold.table-section.section-40.append-right-10
    = s_('Origin')
