- expanded = expand_deploy_tokens_section?(@new_deploy_token, @created_deploy_token)

= render ::Layouts::SettingsBlockComponent.new(s_('DeployTokens|Deploy tokens'),
  id: 'js-deploy-tokens',
  testid: 'deploy-tokens-settings-content',
  expanded: expanded) do |c|
  - c.with_description do
    = description
  - c.with_body do
    #new-deploy-token-alert
    = render 'shared/deploy_tokens/table', group_or_project: group_or_project, active_tokens: @deploy_tokens
