.nothing-here-block.diff-collapsed{ data: { diff_for_path: collapsed_diff_url(viewer.diff_file) } }
  = _("This diff is collapsed.")
  %button.click-to-expand.gl-button.btn.btn-link= _("Click to expand it.")
