.nothing-here-block.diff-collapsed{ data: { diff_for_path: collapsed_diff_url(viewer.diff_file) } }
  = _("This diff is collapsed.")
  = render Pajamas::ButtonComponent.new(variant: :link, button_options: { class: 'click-to-expand' }) do
    = _("Click to expand it.")
