- diff_file = viewer.diff_file
- blob = diff_file.blob
- blob_raw_path = diff_file_blob_raw_path(diff_file)
- old_blob = diff_file.old_blob
- old_blob_raw_path = diff_file_old_blob_raw_path(diff_file)

= webpack_bundle_tag 'common_vue'
= webpack_bundle_tag 'image_diff'

- latest_image = { path: blob_raw_path, alt: diff_file.file_path, size: number_to_human_size(blob.size) }.to_json

- if diff_file.new_file?
  - data = { added: latest_image }
- elsif diff_file.deleted_file?
  - data = { deleted: latest_image }
- else
  - old_image = { path: old_blob_raw_path, alt: diff_file.old_path, size: number_to_human_size(old_blob.size) }.to_json
  - data = { deleted: old_image, added: latest_image }

- data['coordinates'] = [{x: 50, y: 50, id: 1}, {x: 25, y: 25, id: 2}].to_json

-# TODO: Extract into api call
.js-vue-image-diff{ data: data }
