- @body_class = 'card-content'

.service-installation
  .inline.float-right
    = custom_icon('mattermost_logo', size: 48)
  %h3 Install Mattermost Command
  - if @teams.empty?
    = render 'no_teams'
  - else
    = render 'team_selection'
