- page_title _("GitLab.com import")
%h1.page-title.gl-text-size-h-display
  = sprite_icon('heart', css_class: 'gl-align-middle')
  = _('Import projects from GitLab.com')

= render 'import/githubish_status', provider: 'gitlab', filterable: false, default_namespace: @namespace
