- @commits.group_by { |c| c.committed_date.to_date }.each do |day, commits|
  %div.ui-box
    %h5.title
      %i.icon-calendar
      %span= day.stamp("28 Aug, 2010")
    %ul.well-list= render commits
