- line_old = 0
- line_new = 0
- lines_arr = diff.diff.lines.to_a
- lines_arr.each do |line|
  - next if line.match(/^--- a/)
  - next if line.match(/^\+\+\+ b/)
  - if line.match(/^@@ -/)
    - line_old = line.match(/\-[0-9]*/)[0].to_i.abs rescue 0
    - line_new = line.match(/\+[0-9]*/)[0].to_i.abs rescue 0
    - next

  = diff_line(line, line_new, line_old)
  - if line[0] == "+"
    - line_new += 1
  - elsif 
    - line[0] == "-"
    - line_old += 1
  - else 
    - line_new += 1
    - line_old += 1

