- lines_arr = diff.diff.lines.to_a
- line_old = lines_arr[2].match(/-(\d)/)[0].to_i.abs rescue 0
- line_new = lines_arr[2].match(/\+(\d)/)[0].to_i.abs rescue 0
- lines = lines_arr[3..-1].join
- lines.each_line do |line|
  = diff_line(line, line_new, line_old)
  - if line[0] == "+"
    - line_new += 1
  - elsif 
    - line[0] == "-"
    - line_old += 1
  - else 
    - line_new += 1
    - line_old += 1

