.file-loading.hidden
  = render 'projects/blob/viewers/loading', viewer: viewer

.file-content
  .nothing-here-block.diff-collapsed
    This diff is collapsed.

    = link_to('Click to expand it.', '#', class: 'js-diff-viewer-load-btn', data: { viewer: viewer.type })
