%td.old_line.diff-line-num.unfold.js-unfold{data: {linenumber: line_old},
 class: unfold_bottom_class(bottom)}
  = hidden_lines_placeholder
%td.new_line.diff-line-num.unfold.js-unfold{data: {linenumber: line_new},
 class: unfold_bottom_class(bottom)}
  = hidden_lines_placeholder
%td.line_content.matched= line
