%td.old_line.diff-line-num{data: {linenumber: line_old},
 class: [unfold_bottom_class(bottom), unfold_class(!new_file)]}
  \...
%td.new_line.diff-line-num{data: {linenumber: line_new},
 class: [unfold_bottom_class(bottom), unfold_class(!new_file)]}
  \...
%td.line_content.match= line
