- too_big = diff_file.diff_lines.count > Commit::DIFF_SAFE_LINES
- if too_big
  .suppressed-container
    %a.show-suppressed-diff.js-show-suppressed-diff Changes suppressed. Click to show.

%table.text-file.code.js-syntax-highlight{ data: diff_view_data, class: too_big ? 'hide' : '' }
  - last_line = 0
  - diff_file.diff_lines.each do |line|
    - last_line = line.new_pos
    = render "projects/diffs/line", line: line, diff_file: diff_file

    - unless @diff_notes_disabled
      - line_code = diff_file.line_code(line)
      - discussion = @grouped_diff_discussions[line_code] if line_code
      - if discussion
        = render "discussions/diff_discussion", discussion: discussion

  - if last_line > 0
    = render "projects/diffs/match_line", { line: "",
      line_old: last_line, line_new: last_line, bottom: true, new_file: diff_file.new_file }
