- too_big = diff_file.diff_lines.count > Commit::DIFF_SAFE_LINES
- if too_big
  .suppressed-container
    %a.show-suppressed-diff.js-show-suppressed-diff Changes suppressed. Click to show.

%table.text-file.code.js-syntax-highlight{ data: diff_view_data, class: too_big ? 'hide' : '' }
  - discussions = @grouped_diff_discussions unless @diff_notes_disabled
  = render partial: "projects/diffs/line",
    collection: diff_file.highlighted_diff_lines,
    as: :line,
    locals: { diff_file: diff_file, discussions: discussions }

  - last_line = diff_file.highlighted_diff_lines.last.new_pos
  - if !diff_file.new_file && last_line > 0
    = diff_match_line last_line, last_line, bottom: true
