- hidden = local_assigns.fetch(:hidden, false)
- diff_file = viewer.diff_file

- viewer_url = url_for(params.merge(action: :diff_for_path, old_path: diff_file.old_path, new_path: diff_file.new_path, file_identifier: diff_file.file_identifier, viewer: viewer.type, format: :json))
.diff-viewer{ data: { type: viewer.type, url: viewer_url, autoload: 'false' }, class: ('hidden' if hidden) }
  - if viewer.render_error
    = render 'projects/diffs/render_error', viewer: viewer
  - elsif viewer.collapsed?
    = render 'projects/diffs/collapsed', viewer: viewer
  - else
    - viewer.prepare!

    -# In the rare case where the first kilobyte of the file looks like text,
    -# but the file turns out to actually be binary after loading all data,
    -# we fall back on the binary No Preview viewer.
    - viewer = DiffViewer::NoPreview.new(viewer.diff_file) if viewer.binary_detected_after_load?

    = render viewer.partial_path, viewer: viewer
