= render layout: 'projects/protected_tags/shared/protected_tag', locals: { protected_tag: protected_tag } do
  = render partial: 'projects/protected_tags/update_protected_tag', locals: { protected_tag: protected_tag }
