= render layout: 'projects/protected_tags/shared/protected_tag', locals: { protected_tag: protected_tag } do
<<<<<<< HEAD
  = render partial: 'projects/protected_tags/ee/fallback_update_protected_tag', locals: { protected_tag: protected_tag }
=======
  = render partial: 'projects/protected_tags/update_protected_tag', locals: { protected_tag: protected_tag }
>>>>>>> upstream/master
