= render layout: 'projects/protected_tags/shared/protected_tag', locals: { protected_tag: protected_tag } do
  %td
    = render 'projects/protected_tags/protected_tag_create_access_levels', protected_tag: protected_tag, create_access_level: protected_tag.create_access_levels.for_role.first
    = render_if_exists 'projects/protected_tags/protected_tag_extra_create_access_levels', protected_tag: protected_tag
