.panel.panel-default.protected-tags-list
  .panel-heading
    %h3.panel-title
      Protected tag (0)
  %p.settings-message.text-center
    There are currently no protected tags, protect a tag with the form above.
