- page_title @protected_ref.name, "Protected Tags"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0.ref-name
      = @protected_ref.name

  .col-lg-9.edit_protected_tag
    %h5 Matching Tags
    - if @matching_refs.present?
      .table-responsive
        %table.table.protected-tags-list
          %colgroup
            %col{ width: "30%" }
            %col{ width: "30%" }
          %thead
            %tr
              %th Tag
              %th Last commit
          %tbody
            - @matching_refs.each do |matching_tag|
              = render partial: "projects/protected_tags/shared/matching_tag", object: matching_tag
    - else
      %p.settings-message.text-center
        Couldn't find any matching tags.
