- admin = false unless defined?(admin)

- if builds.blank?
  %li
    .nothing-here-block No builds to show
- else
  .table-holder
    %table.table.builds
      %thead
        %tr
          %th Status
          %th Commit
          - if admin
            %th Project
            %th Runner
          %th Stage
          %th Name
          %th
          %th Coverage
          %th

      - if admin
        = render partial: "projects/ci/builds/build", collection: builds, as: :build, locals: { commit_sha: true, ref: true, stage: true, allow_retry: true, runner: true, coverage: true, admin: true }
      - else
        = render partial: "projects/ci/builds/build", collection: builds, as: :build, locals: {commit_sha: true, ref: true, stage: true, allow_retry: true, coverage: project.build_coverage_enabled? }

  = paginate builds, theme: 'gitlab'
