= render "projects/project_head"
%h3.page_title Services
%br

%ul.unstyled.ui-box
  %li.wll
    %h4
      = link_to edit_project_service_path(@project, :gitlab_ci) do
        GitLab CI
        %small Continuous integration server from GitLab
      .right
        - if @gitlab_ci_service.active
          %small.cgreen Enabled
        - else
          %small.btn Disabled
  %li.wll
    %h4
      Jenkins CI
      %small An extendable open source continuous integration server
      .right
        %small Not implemented yet
  %li.wll
    %h4
      Campfire
      %small Web-based group chat tool
      .right
        %small Not implemented yet
