= render "projects/settings_nav"

%h3.page_title Services
%br

%ul.bordered-list
  - @services.each do |service|
    %li
      %h4
        - if service.activated?
          %span.cgreen
            %i.icon-circle
        - else
          %span.cgray
            %i.icon-circle-blank
        = link_to edit_project_service_path(@project, service.to_param) do
          = service.title
      %p= service.description
