= render "projects/project_head"
%h3.page-title Services
%hr

.row
  .span6
    .padded
      %p.slead Continuous integration server from GitLab
      .thumbnail.left
        = link_to edit_project_service_path(@project, :gitlab_ci) do
          - if @gitlab_ci_service.try :active
            = image_tag 'service-gitlab-ci.png'
          - else
            = image_tag 'service-disabled-gitlab-ci.png'

