= render "projects/project_head"
%h3.page_title Services
%br

%ul.ui-box.well-list
  %li
    %h4.cgreen
      = link_to edit_project_service_path(@project, :gitlab_ci) do
        GitLab CI
        %small Continuous integration server from GitLab
      .right
        - if @gitlab_ci_service.try(:active)
          %small.cgreen
            %i.icon-ok
            Enabled
        - else
          %small.cgray
            %i.icon-off
            Disabled
  %li.disabled
    %h4
      Jenkins CI
      %small An extendable open source continuous integration server
      .right
        %small Not implemented yet
  %li.disabled
    %h4
      Campfire
      %small Web-based group chat tool
      .right
        %small Not implemented yet
