- if @errors.present?
  .gl-alert.gl-alert-danger.gl-mb-5
    .gl-alert-container
      = sprite_icon('error', size: 16, css_class: 'gl-icon gl-alert-icon gl-alert-icon-no-title')
      .gl-alert-content
        .gl-alert-body
          - @errors.each do |error|
            = error
