- tooltip_title = safe_format(s_('BulkImport|This %{importable} was imported from another instance.'), importable: local_assigns[:importable])
- text_only = local_assigns.fetch(:text_only, false)

- if text_only
  %span.has-tooltip.gl-leading-normal.gl-text-sm{ title: tooltip_title }= _('Imported')
- else
  = render Pajamas::BadgeComponent.new(_('Imported'), title: tooltip_title, class: 'has-tooltip')
