- breadcrumb_title _('Edit')
- add_to_breadcrumbs _('Releases'), project_releases_path(@project)
- add_to_breadcrumbs @release.name, project_release_path(@project, @release)
- page_title _('Edit Release')

#js-edit-release-page{ data: data_for_edit_release_page }
