- @no_container = true
- page_title _('Releases')

%div{ class: container_class }
  #js-releases-page{ data: { project_id: @project.id, illustration_path: image_path('illustrations/releases.svg'), documentation_path: help_page_path('user/project/releases/index') } }
