- add_to_breadcrumbs s_("Releases|Releases"), project_releases_path(@project)
- page_title s_('Releases|New release')
- add_page_specific_style 'page_bundles/releases'

#js-new-release-page{ data: data_for_new_release_page }
