- page_title 'New Deploy Key'
%h3.page-title New public deploy key
%hr

%div
  = form_for [:admin, @deploy_key], html: { class: 'deploy-key-form' } do |f|
    = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
    .form-actions
      = f.submit 'Create', class: 'btn-create btn'
      = link_to 'Cancel', admin_deploy_keys_path, class: 'btn btn-cancel'
