.container.devops-empty
  .col-sm-12.justify-content-center.text-center
    = custom_icon('dev_ops_score_no_data')
    %h4= _('Data is still calculating...')
    %p
      = _('In order to gather accurate feature usage data, it can take 1 to 2 weeks to see your index.')
      = link_to _('Learn more'), help_page_path('user/instance_statistics/dev_ops_score'), target: '_blank'
