- grouped_user_team_members(team).each do |access, members|
  - access_key = Project.access_options.key(access)
  - next if params[:type].present? && params[:type] != access_key.tableize
  .ui-box
    %h5.title
      = access_key.pluralize
      %small= members.size
    %ul.well-list.team-members
      - members.sort_by(&:user_name).each do |member|
        = render 'teams/members/member', member: member
