$base-font-size: 16px;
$code-row-height-target: 20px;
$code-font-size-target: 12.5px;

$code-row-height: calc($code-row-height-target / $base-font-size * 1rem);
$code-font-size: calc($code-font-size-target / $base-font-size * 1rem);
$code-line-height: calc($code-row-height-target / $code-font-size-target);

$app-sticky-top-padding: 11px
