.rd-page-container {
  max-width: none;
}

.rd-app-header {
  display: flex;
  padding: $gl-spacing-scale-3 0;
  min-height: 3rem;
  // do not let dropdowns cover sticky header
  position: relative;
  // this should always be higher than z-index inside diff files or file browser
  // otherwise dropdowns will not cover diff file or file tree content
  z-index: 10;
}

.rd-app-settings {
  display: flex;
  margin-left: auto;
}

.rd-app-body {
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.rd-app-content {
  flex: 1 0;
}

.rd-app-sidebar {
  width: 320px;
  flex: none;
  box-sizing: content-box;

  @include media-breakpoint-up(sm) {
    $drag-handle-width: 4px;
    padding-right: calc($gl-spacing-scale-4 + $drag-handle-width / 2);
    margin-right: calc($gl-spacing-scale-4 - $drag-handle-width / 2);
  }

  @include media-breakpoint-down(sm) {
    flex: 1;
    margin: 0;
    // override .diff-tree-list, remove when fully switched to Rapid Diffs
    width: auto !important;
    position: static !important;
    padding: 0 0 $gl-spacing-scale-4 !important;
    min-height: auto !important;
  }
}

.rd-app-sidebar-loading {
  display: flex;
  justify-content: center;
  padding: $gl-padding-8;
}
