@use 'constants';

.rd-diff-file-component {
  display: block;
  scroll-margin-top: var(--rd-app-sticky-top-with-padding);
  margin-bottom: var(--rd-diff-file-bottom-margin);
}

.rd-diff-file {
  $header-padding: constants.$diff-file-header-padding-y * 2;
  // top/bottom padding + toggle button size, excluding borders
  $file-header-height: calc($header-padding + $gl-button-small-size);
  --rd-diff-file-header-height: #{$file-header-height};
  --rd-diff-file-border-radius: #{$gl-border-radius-base};
}

.rd-diff-file[data-virtual]:not([data-collapsed]) {
  // header top/bottom borders + body border
  $total-borders: constants.$diff-file-border-width * 3;
  content-visibility: var(--rd-content-visibility-auto, auto);
  contain-intrinsic-size:
    auto 0 auto
    calc(var(--rd-diff-file-header-height) + #{$total-borders} + (#{constants.$code-row-height-target} * var(--total-rows)));
}

// content-visibility: auto; applies paint containment, which means you can not draw outside a diff file
// we need to disable this when we show dropdowns and other elements which extend past a diff file
.rd-diff-file[data-virtual]:has([data-options-toggle] button[aria-expanded='true']) {
  --rd-content-visibility-auto: visible;
}

.rd-diff-file-header-sticky {
  position: sticky;
  // 1px offset to hide top border
  top: calc(var(--rd-app-sticky-top, 1px) - 1px);
  z-index: constants.$diff-file-header-z-index;
  container-type: scroll-state;
}

.rd-diff-file-header-sticky:has([data-options-toggle] button[aria-expanded='true']) {
  z-index: constants.$diff-file-header-active-z-index;
}

.rd-diff-file-header {
  --rd-diff-file-header-horizontal-padding: #{$gl-spacing-scale-4};
  @apply gl-text-default;
  display: flex;
  background-color: var(--gl-background-color-subtle);
  border: 1px solid var(--gl-border-color-default);
  padding: #{constants.$diff-file-header-padding-y} var(--rd-diff-file-header-horizontal-padding);
  border-radius: var(--rd-diff-file-border-radius) var(--rd-diff-file-border-radius) 0 0;
  word-break: break-word;

  @container scroll-state(stuck: top) {
    border-radius: 0 0 var(--rd-diff-file-border-radius) var(--rd-diff-file-border-radius);
  }
}

.rd-diff-file[data-collapsed] .rd-diff-file-header {
  border-radius: var(--rd-diff-file-border-radius);
}

.rd-diff-file-header-main {
  position: relative;
  // extra spacing to avoid accidental file collapse clicks
  padding: $gl-spacing-scale-3;
  margin: -$gl-spacing-scale-3;
  z-index: 1;
}

// we shouldn't use flex to align these items because it forces copy button to always wrap to a new line
.rd-diff-file-header-submodule,
.rd-diff-file-title,
.rd-diff-file-deleted {
  display: inline;
}

.rd-diff-file-title {
  @apply gl-text-default;
  font: inherit;
  font-weight: $gl-font-weight-heading;
  margin: 0;
}

.rd-diff-file-title .commit-sha {
  font-size: 85%;
  font-weight: normal;
}

.rd-diff-file-header-submodule,
.rd-diff-file-title,
.rd-file-mode-change,
.rd-copy-path,
.rd-diff-file-deleted,
.rd-submodule-icon.rd-submodule-icon {
  vertical-align: middle;
}

.rd-diff-file-title,
.rd-file-mode-change,
.rd-copy-path,
.rd-diff-file-deleted,
.rd-submodule-icon {
  margin-right: $gl-padding-4;
}

.rd-diff-file-moved {
  margin: 0 $gl-padding-4;
  font-weight: $gl-font-weight-normal;
}

.rd-diff-file-toggle {
  margin-right: $gl-spacing-scale-3;
}

.rd-diff-file[data-collapsed] .rd-diff-file-toggle-button[data-opened],
.rd-diff-file:not([data-collapsed]) .rd-diff-file-toggle-button[data-closed] {
  display: none;
}

.rd-diff-file-toggle-button::before {
  content: '';
  position: absolute;
  inset: 1px;
}

.rd-diff-file-info {
  position: relative;
  display: flex;
  align-self: flex-start;
  align-items: center;
  // extra spacing to avoid accidental file collapse clicks
  padding:  $gl-spacing-scale-3       var(--rd-diff-file-header-horizontal-padding)         $gl-spacing-scale-3  $gl-spacing-scale-3;
  margin: (-$gl-spacing-scale-3) calc(var(--rd-diff-file-header-horizontal-padding) * -1) (-$gl-spacing-scale-3) auto;
  gap: $gl-padding;
  z-index: 1;
}

.rd-diff-file-stats {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  white-space: nowrap;
}

.rd-lines-added {
  @apply gl-text-success;
  margin: 0;
}

.rd-lines-removed {
  @apply gl-text-danger;
  margin: 0 0 0 $gl-padding-8;
}

.rd-diff-file-body {
  --rd-content-border-radius: 0 0 var(--rd-diff-file-border-radius) var(--rd-diff-file-border-radius);
  border: constants.$diff-file-border-width solid var(--gl-border-color-default);
  border-top: 0;
  border-radius: var(--rd-content-border-radius);
}

@supports (content-visibility: hidden) {
  [data-file-body][hidden] {
    display: block !important;
    // https://web.dev/articles/content-visibility#hide_content_with_content-visibility_hidden
    // content-visibility: hidden preserves element's rendering state which improves performance for larger diffs
    content-visibility: hidden;
  }
}

