.rd-diff-file {
  padding-bottom: $gl-padding;
}

.rd-diff-file-header {
  display: flex;
  background-color: $gray-10;
  border: 1px solid $gray-100;
  border-bottom: 1px solid $border-color;
  padding: $gl-padding-8 $gl-padding;
  min-height: px-to-rem($file-header-height);
  border-radius: calc($gl-border-radius-base - 1px) calc($gl-border-radius-base - 1px) 0 0;
}

.rd-diff-file-stats {
  margin-left: auto;
}

.rd-lines-added {
  color: $green-600;
}

.rd-lines-removed {
  color: $red-500;
}

.rd-diff-file-body {
  border: 1px solid $gray-100;
  border-top: 0;
  border-radius: 0 0 calc($gl-border-radius-base - 1px) calc($gl-border-radius-base - 1px);
}
