.rd-diff-file {
  padding-bottom: $gl-padding;

  --rd-diff-file-border-radius: #{calc($gl-border-radius-base - 1px)};

  &:has([data-file-body][hidden]) .rd-diff-file-toggle [data-opened],
  &:not(:has([data-file-body][hidden])) .rd-diff-file-toggle [data-closed] {
    display: none;
  }
}

.rd-diff-file-header {
  display: flex;
  background-color: var(--gl-background-color-subtle);
  border: 1px solid var(--gl-border-color-default);
  padding: $gl-padding-8 $gl-padding;
  min-height: px-to-rem($file-header-height);
  border-radius: var(--rd-diff-file-border-radius) var(--rd-diff-file-border-radius) 0 0;
  word-break: break-word;
}

.rd-diff-file-stats {
  margin-left: auto;
}

.rd-lines-added {
  @apply gl-text-success;
}

.rd-lines-removed {
  @apply gl-text-danger;
  margin-left: $gl-padding-4;
}

.rd-diff-file-body {
  border: 1px solid var(--gl-border-color-default);
  border-top: 0;
  border-radius: 0 0 var(--rd-diff-file-border-radius) var(--rd-diff-file-border-radius);

  > :only-child {
    border-radius: inherit;
  }
}

[data-file-body][hidden] {
  display: block !important;
  // https://web.dev/articles/content-visibility#hide_content_with_content-visibility_hidden
  // content-visibility: hidden preserves element's rendering state which improves performance for larger diffs
  content-visibility: hidden;
}
