@use 'constants';

.rd-discussion-row {
  --content-border-radius: 0 0 var(--rd-row-bottom-right-radius) var(--rd-row-bottom-left-radius);
  display: flex;
  background-color: var(--gl-background-color-subtle);
  border-radius: var(--content-border-radius);
}

.rd-discussion-row:has(> td:not(:empty)) {
  border-top: 1px solid var(--gl-border-color-default);
  border-bottom: 1px solid var(--gl-border-color-default);
}

.rd-discussion-row.rd-discussion-row:last-child {
  border-bottom: 0;
}

.rd-discussion-row > td {
  @apply gl-max-w-limited;
  flex: 1;
  min-width: 0;
  padding: 0;
  border-left: 1px solid var(--gl-border-color-default);
  border-right: 1px solid var(--gl-border-color-default);
}

.rd-discussion-row > td:not(:empty) {
  border-radius: var(--content-border-radius);
}

.rd-discussion-row > td:first-child {
  margin-left: -1px;
}

.rd-discussion-row > td:first-child:not(:only-child),
.rd-discussion-row > td:first-child:empty {
  border-right-color: transparent;
}

.rd-discussion-row > td:last-child {
  margin-right: -1px;
}

.rd-new-discussion-toggle {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 1px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: var(--gl-background-color-default);
  color: var(--gl-feedback-info-icon-color);
  border: 1px solid var(--gl-feedback-info-icon-color);
  border-radius: 50%;
  z-index: constants.$diff-file-new-discussion-toggle-z-index;

  &:hover,
  &:focus {
    background: var(--gl-feedback-info-icon-color);
    color: var(--gl-background-color-default);
  }

  &::before {
    content: "";
    position: absolute;
    inset: -2px;
  }
}
