- if current_user
  .block.light.subscription{ ":data-url" => "'#{namespace_project_issues_path(@project.namespace, @project)}/' + issue.id + '/toggle_subscription'" }
    %span.toggle-text.hide-collapsed.pull-left
      Notifications
    %a.btn.toggle-button.pull-right.js-subscribe-button.issuable-subscribe-button.hide-collapsed{ type: "button", role="button", ":class" => "issue.subscribed ? 'subscribed' : 'unsubscribed'" }
