- content_for :create_protected_branch do
  = render 'protected_branches/create_protected_branch'

- content_for :branches_list do
  = render "protected_branches/branches_list"

= render 'protected_branches/shared/index'
