= render Pajamas::AlertComponent.new(alert_class: 'gl-my-5',
  variant: :danger,
  dismissible: false,
  title: reason) do
  .gl-alert-body
    = s_('The git server, Gitaly, is not available at this time. Please contact your administrator.')
