- unless @snippet.content.empty?
  - if markup?(@snippet.file_name)
    %textarea.markdown-snippet-copy.blob-content{data: {blob_id: @snippet.id}}
      = @snippet.data
    .file-content.wiki
      = render_markup(@snippet.file_name, @snippet.data)
  - else
    = render 'shared/file_highlight', blob: @snippet
- else
  .file-content.code
    .nothing-here-block Empty file
