- remote = local_assigns.fetch(:remote, false)
- link_project = local_assigns.fetch(:link_project, false)

- if @snippets.to_a.empty?
  .nothing-here-block= s_("SnippetsEmptyState|No snippets found")
- else
  .snippets-list-holder
    %ul.content-list
      = render partial: 'shared/snippets/snippet', collection: @snippets, locals: { link_project: link_project }

    = paginate @snippets, theme: 'gitlab', remote: remote
