- return unless push_rule.available?(:reject_unsigned_commits)

- form = local_assigns.fetch(:form)
- push_rule = local_assigns.fetch(:push_rule)

.form-check
  = form.check_box :reject_unsigned_commits, class: "form-check-input", disabled: !can_change_push_rule?(form.object, :reject_unsigned_commits)
  = form.label :reject_unsigned_commits, class: "label-bold form-check-label" do
    Reject unsigned commits
  %p.text-muted
    = reject_unsigned_commits_description(push_rule)
