.nav-block.activities
  = render 'shared/event_filter'
  .controls
    = render Pajamas::ButtonComponent.new(href: dashboard_projects_path(rss_url_options), icon: 'rss', button_options: { title: _('Subscribe'), aria: { label: _('Subscribe') }, class: 'gl-hidden sm:gl-inline-flex' })

.content_list
.loading
  = render Pajamas::SpinnerComponent.new(size: :md)
