.nav-block.activities
  = render 'shared/event_filter'
  .controls
    = link_to dashboard_projects_path(rss_url_options), class: 'btn gl-button btn-default btn-icon d-none d-sm-inline-flex has-tooltip', title: 'Subscribe' do
      = sprite_icon('rss', css_class: 'qa-rss-icon gl-icon')

.content_list
.loading
  .gl-spinner.gl-spinner-md
