.nav-block.activities
  = render 'shared/event_filter'
  .controls
    = render Pajamas::ButtonComponent.new(href: dashboard_projects_path(rss_url_options), icon: 'rss', button_options: { title: _('Subscribe'), aria: { label: _('Subscribe') }, class: 'gl-hidden @sm/panel:gl-inline-flex' })

.js-infinite-scrolling-root
  %ul.content_list.gl-list-none.gl-pl-0.js-infinite-scrolling-content
  .js-infinite-scrolling-page-end
    .js-infinite-scrolling-loading
      .loading
        = render Pajamas::SpinnerComponent.new(size: :md)
