%ul.center-top-menu
  = nav_link(page: dashboard_groups_path) do
    = link_to dashboard_groups_path, title: 'Your groups', data: {placement: 'right'} do
      Your Groups
  = nav_link(page: explore_groups_path) do
    = link_to explore_groups_path, title: 'Explore groups', data: {placement: 'bottom'} do
      Explore Groups
