- @issues.each do |issue|
  .wll
    = link_to [issue.project, issue] do 
      %p
        %strong
          %span.label= issue.project.name
          &ndash;
          Issue #
          = issue.id
        = truncate issue.title, :length => 50
