- @issues.each do |issue|
  .alert-message.entry
    = link_to [issue.project, issue] do 
      %p
        %strong
          = issue.project.name
          &ndash;
          Issue #
          = issue.id
        = truncate issue.title, :length => 50
