- @merge_requests.each do |merge_request|
  .entry
    = link_to [merge_request.project, merge_request] do 
      %p
        %strong
          = merge_request.project.name
          &ndash;
          Merge Request #
          = merge_request.id
        = truncate merge_request.title, :length => 50
