- @active_projects.first(5).each do |project|
  .wll
    = link_to project do 
      %h4
        = project.name
        %small
          last activity at 
          = project.last_activity_date_cached.stamp("Aug 25, 2011")
