.projects-list-holder
  .projects-search-form
    .input-group
      = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'projects-list-filter form-control'
      - if current_user.can_create_project?
        %span.input-group-btn
          = link_to new_project_path, class: 'btn btn-success' do
            New project

  %ul.projects-list.bordered-list.my-projects
    - @projects.each do |project|
      %li.project-row
        = render partial: 'shared/project', locals: { project: project, avatar: true, stars: true }
