= link_to project_path(project), class: dom_class(project) do
  .dash-project-access-icon
    = visibility_level_icon(project.visibility_level)
  %span.str-truncated
    %span.namespace-name
      - if project.namespace
        = project.namespace.human_name
        \/
    %span.project-name.filter-title
      = project.name
  %span.arrow
    %i.icon-angle-right
