- @active_projects.first(5).each do |project|
  .wll
    = link_to project do 
      %h4
        %span.ico.project
        = project.name
        %small
          last activity at 
          = project.last_activity_date.stamp("Aug 25, 2011")
