.panel.panel-default
  .panel-heading.clearfix
    .input-group
      = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'projects-list-filter form-control'
      - if current_user.can_create_project?
        .input-group-addon.dash-new-project
          = link_to new_project_path do
            %strong New project

  = render 'shared/projects_list', projects: @projects, projects_limit: 20
