%aside
  %h4
    Your Projects
    - if current_user.can_create_project?
      = link_to new_project_path, :class => "btn small" do 
        New Project
  %ol.project-list
    - @projects.each do |project|
      %li
        %a{:href => project_path(project)}
          -#%span.arrow →
          %span.project-name= project.name
          %span.time
            %strong Last activity:
            = project.last_activity_date_cached ? time_ago_in_words(project.last_activity_date_cached) + " ago" : "Never"

