- if @groups.present?
  = render "groups", groups: @groups
= render "projects", projects: @projects
%div
  %span.rss-icon
    = link_to dashboard_path(:atom, { private_token: current_user.private_token }) do
      = image_tag "rss_ui.png", title: "feed"
      %strong News Feed

