%ul.nav-links
  = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
    = link_to dashboard_snippets_path, title: '你的代码片段', data: {placement: 'right'} do
      你的代码片段
  = nav_link(page: explore_snippets_path) do
    = link_to explore_snippets_path, title: '浏览代码片段', data: {placement: 'right'} do
      浏览代码片段
