%h3.page-title Welcome to GitLab!
%p.light Self Hosted Git Management application.
%hr
%div
  .dashboard-intro-icon
    %i.icon-bookmark-empty
  %div
    %p.slead
      You don't have access to any projects right now.
      %br
      - if current_user.can_create_project?
        You can create up to
        %strong= pluralize(current_user.projects_limit, "project") + "."
        Click on the button below to add a new one
      - else
        If you are added to a project, it will be displayed here

    - if current_user.can_create_project?
      .link_holder
        = link_to new_project_path, class: "btn btn-new" do
          New project »

- if current_user.can_create_group?
  %hr
  %div
    .dashboard-intro-icon
      %i.icon-group
    %div
      %p.slead
        You can create a group for several dependent projects.
        %br
        Group is the best way to manage projects and members
      .link_holder
        = link_to new_group_path, class: "btn btn-new" do
          New group »

