%h3.nothing_here_message
  You don't have access to any projects.
  %br
  - if current_user.can_create_project?
    You can create up to
    = pluralize(current_user.projects_limit, "project") + "."
    Click on the button below to add a new one
    .link_holder
      = link_to new_project_path, class: "btn btn-primary" do
        New Project »
  - else
    If you are added to a project, it will be displayed here
