- if @events.any?
  %div.dashboard_category
    %h3
      %span.ico.activities
      = link_to "Activities" , "#activities", :id => "activities"

    %hr
    = render @events
- else
  %h3 Nothing here
