= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, dashboard_url(format: :atom, private_token: current_user.private_token), title: "All activity")

%section.activities
  = render 'activities'
