= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, dashboard_projects_url(format: :atom, private_token: current_user.private_token), title: "All activity")

- page_title    "Activity"
- header_title  "Activity", activity_dashboard_path

= render 'dashboard/activity_head'

%section.activities
  = render 'activities'
