- if @has_authorized_projects
  .projects
    .activities.span8
      = render 'activities'
    .side.span4
      = render 'sidebar'

- else
  = render "zero_authorized_projects"

:javascript
  dashboardPage();
