- page_title "Merge Requests"
%h3.page-title
  Merge Requests


%p.light
  List all merge requests from all projects you have access to.
%hr
.append-bottom-20
  = render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
