%h3.page_title
  Merge Requests
  %small (authored by or assigned to you)
  %small.pull-right #{@merge_requests.total_count} merge requests

%hr
.row
  .span3
    = render 'filter', entity: 'merge_request'
  .span9
    = render 'shared/merge_requests'
