%h3.page-title
  Merge Requests
  %span.pull-right #{@merge_requests.total_count} merge requests


%p.light
  List all merge requests from all projects you have access to.
%hr
.row
  .col-md-3
    = render 'shared/filter', entity: 'merge_request'
  .col-md-9
    = render 'shared/merge_requests'
