- if @has_authorized_projects
  .dashboard.row
    %section.activities.col-md-8
      = render 'activities'
    %aside.col-md-4
      = render 'sidebar'
    = link_to '#aside', class: 'show-aside' do
      %i.fa.fa-angle-left

- else
  = render "zero_authorized_projects"
