- if @has_authorized_projects
  .dashboard.row
    %section.activities.col-md-8
      = render 'activities'
    %aside.side.col-md-4.left.responsive-side
      = render 'sidebar'

  .fixed.sidebar-expand-button.hidden-lg.hidden-md
    %i.icon-list.icon-2x

- else
  = render "zero_authorized_projects"
