.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: explore_groups_path) do
      = link_to explore_groups_path do
        Explore Groups
  .nav-controls
    = render 'shared/groups/search_form'
    = render 'shared/groups/dropdown'
