.top-area
  = gl_tabs_nav({ class: 'gl-display-flex gl-flex-grow-1 gl-border-none'}) do
    = gl_tab_link_to _("Explore Groups"), explore_groups_path
  .nav-controls
    = render 'shared/groups/search_form'
    = render 'shared/groups/dropdown'
