- page_title    "Groups"
- header_title  "Groups", dashboard_groups_path

- if current_user
  = render 'dashboard/groups_head'
- else
  = render 'explore/head'


- if @groups.present?
  = render 'groups'
- else
  .nothing-here-block No public groups

= paginate @groups, theme: "gitlab"
