- add_to_breadcrumbs _("Service Templates"), admin_application_settings_services_path
- page_title @service.title, _("Service Templates")
- breadcrumb_title @service.title
- @content_class = 'limit-container-width' unless fluid_layout

= render 'form'
