%h5.prepend-top-0
  History of authentications

%ul.well-list
  - events.each do |event|
    %li
      %span.description
        = audit_icon(event.details[:with], class: "append-right-5")
        Signed in with
        = event.details[:with]
        authentication
      %span.float-right= time_ago_with_tooltip(event.created_at)

= paginate events, theme: "gitlab"
