%h5.prepend-top-0
  认证历史记录

%ul.well-list
  - events.each do |event|
    %li
      %span.description
        = audit_icon(event.details[:with], class: "append-right-5")
        使用
        = event.details[:with]
        认证登录
      %span.pull-right
        #{time_ago_in_words event.created_at}之前

= paginate events, theme: "gitlab"
