- page_title "Audit Log"
- header_title page_title, audit_log_profile_path

.alert.alert-help.prepend-top-default
  History of authentications

.prepend-top-default
= render 'event_table', events: @events
