- page_title _('Authentication log')
- @force_desktop_expanded_sidebar = true

.row.gl-mt-3.js-search-settings-section
  .col-lg-4.profile-settings-sidebar
    %h4.gl-mt-0
      = page_title
    %p
      = _('This is a security log of authentication events involving your account.')
  .col-lg-8
    = render 'event_table', events: @events
