- page_title "审核日志"

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h3.prepend-top-0
      = page_title
    %p
      这是涉及您的帐户安全的重要事件日志。
  .col-lg-9
    = render 'event_table', events: @events
