- page_title "Authentication log"
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      This is a security log of important events involving your account.
  .col-lg-8
    = render 'event_table', events: @events
