- if project.delayed_deletion_ready? && project.self_deletion_scheduled?
  = render Pajamas::ButtonComponent.new(category: :tertiary,
    href: project_restore_path(project),
    method: :post,
    variant: :link,
    button_options: { class: 'gl-ml-3' }) do
    = _("Restore")
