- if params[:sort].present?
  = hidden_field_tag :sort, params[:sort]

- if params[:personal].present?
  = hidden_field_tag :personal, params[:personal]

- if params[:archived].present?
  = hidden_field_tag :archived, params[:archived]

- if params[:visibility_level].present?
  = hidden_field_tag :visibility_level, params[:visibility_level]
