- last_successful_update_at = @project.mirror_last_successful_update_at
- mirror_last_update_status = @project.mirror_last_update_status
- show_icon = local_assigns.fetch(:show_icon, true)

- if mirror_last_update_status == :success
  Updated #{time_ago_with_tooltip(last_successful_update_at)}.
- else
  = render_mirror_failed_message(status: mirror_last_update_status, icon: show_icon)

  - if @project.mirror_ever_updated_successfully?
    %br
    Last successful update #{time_ago_with_tooltip(last_successful_update_at)}.
