- unless @commits.empty? 
  .ui-box
    %h5 Commits
    .merge-request-commits
      %ul.unstyled= render @commits

- else 
  %h5
    Nothing to merge from 
    %span.label #{@merge_request.source_branch} 
    to 
    %span.label #{@merge_request.target_branch}
  %br
