- unless @commits.empty? 
  .ui-box
    %h5
      = t '.title'
    .merge-request-commits
      %ul.unstyled
        - @commits.each do |commit| 
          = render "commits/commit", :commit => commit

- else 
  %h5
    = t '.no_commits'
  %br
