= render "merge_requests/head"

- if @merge_requests.opened.count > 0
  %div{ :class => "update-data ui-box ui-box-small ui-box-big" }
    %h3
      %span.tag.open Open
    .data
      = render @merge_requests.opened

  .clear
  %br

- if @merge_requests.closed.count > 0
  %div{ :class => "update-data ui-box ui-box-small ui-box-big" }
    %h3 
      %span.tag.closed Closed
    .data
      = render @merge_requests.closed
  .clear
  %br

- unless @merge_requests.count > 0
  .notice_holder
    %li Merge Requests do not exist yet.
    - if can? current_user, :write_merge_request, @project
      %li You can add a new one by clicking on "Add New" button

