- dropdown_options = assignees_dropdown_options('issue')
- relative_url = Gitlab.config.gitlab.relative_url_root || '/'

.block.assignee{ ref: "assigneeBlock" }
  %template{ "v-if" => "issue.assignees" }
    %sidebar-assignees-widget{ ":iid" => "String(issue.iid)",
      ":full-path" => "issue.path.split('/-/')[0].substring(1).replace(`#{relative_url}`, '')",
      ":initial-assignees" => "issue.assignees",
      ":allow-multiple-assignees" => "!Boolean(#{dropdown_options[:data][:"max-select"]})",
      "@assignees-updated" => "setAssignees" }
