.block.time-tracking
  %time-tracker{ ":time-estimate" => "issue.timeEstimate || 0",
    ":time-spent" => "issue.timeSpent || 0",
    ":human-time-estimate" => "issue.humanTimeEstimate",
    ":human-time-spent" => "issue.humanTimeSpent",
    ":limit-to-hours" => "timeTrackingLimitToHours",
    "root-path" => "#{root_url}" }
