.block.time-tracking
  %time-tracker{ ":limit-to-hours" => "timeTrackingLimitToHours",
    ":issuable-iid" => "issue.iid ? issue.iid.toString() : ''",
    ":full-path" => "issue.project ? issue.project.fullPath : ''",
    "root-path" => "#{root_url}" }
