%div
  #environments-folder-list-view{ data: { "can-create-deployment" => "true",
    "can-read-environment" => "true",
    "css-class" => "",
    "commit-icon-svg" => custom_icon("icon_commit"),
    "terminal-icon-svg" => custom_icon("icon_terminal"),
    "play-icon-svg" => custom_icon("icon_play") } }
