#js-metrics{ data: { endpoint: '/test' } }
  %svg.graph-line-shadow
  .top-area
    .row
      .col-sm-6
        %h3.page-title
          Metrics for environment
  .row
    .col-sm-12
      %svg.prometheus-graph{ 'graph-type' => 'cpu_values' }
  .row
    .col-sm-12
      %svg.prometheus-graph{ 'graph-type' => 'memory_values' }
