- if note.valid?
    NoteList.appendNewNote(#{note.id}, "#{escape_javascript(render "notes/note", note: note)}");

- else
  $(".note-form-holder").replaceWith("#{escape_javascript(render 'notes/common_form')}");
  GitLab.GfmAutoComplete.setup();
