- note = notes.first # example note
%tr.notes_holder
  %td.notes_line{ colspan: 2 }
    %span.btn.disabled
      %i.icon-comment
      = notes.count
  %td.notes_content
    %ul.notes{ rel: note.discussion_id }
      = render notes

    = render "notes/discussion_reply_button", note: note
