%tr.notes_holder
  %td.notes_line{ colspan: 2 }
    %span.btn.disabled
      %i.icon-comment
      = notes.count
  %td.notes_content
    %ul.notes
      = render notes

    -# reply button
    - note = notes.first # example note
    %button{  class: "btn comment-btn js-note-add-to-diff-line",
              data: { line_code:     note.line_code,
                      noteable_type: note.noteable_type,
                      noteable_id:   note.noteable_id },
              title: "Add a comment to this line" }
      %i.icon-comment
      Reply
