%ul#new_notes_list
%ul#notes-list
.status
- if can? current_user, :write_note, @project
  = render "notes/form"
.clear


:javascript
  $(function(){
    NoteList.init("#{tid}", "#{tt}", "#{project_notes_path(@project)}");
  });
