- @notes.each do |note|
  - next unless note.author
  - if @show_discussions && part_of_discussion?(note)
    - unless has_rendered?(note)
      = render 'discussion', discussion_params(note)
  - else
    = render 'note', note: note
