- @notes.each do |note|
  - next unless note.author
  - if note.reference?
    = render :partial => "notes/reference_show", :locals => {:note => note}
  - else
    = render :partial => "notes/show", :locals => {:note => note}

