- discussions = []
- @notes.each do |note|
  - next unless note.author
  - if note.line_code.nil?
    = render "note", note: note
  - else
    - next if discussions.include?(note.line_code)
    - discussions << note.line_code
    = render "discussion", note: note
