- if @discussions.present?
  - @discussions.each do |discussion_notes|
    - note = discussion_notes.first
    - if note_for_main_target?(note)
      = render discussion_notes
    - else
      = render 'discussion', discussion_notes: discussion_notes
- else
  - @notes.each do |note|
    - next unless note.author
    = render 'note', note: note
