%ul#notes-list
%ul#new_notes_list
.notes-status

- if can? current_user, :write_note, @project
  = render "notes/form"


:javascript
  $(function(){
    NoteList.init("#{tid}", "#{tt}", "#{project_notes_path(@project)}");
  });
