= link_to "",
          "#",
          id: "add-diff-line-note-#{line_code}",
          class: "line_note_link js-note-add-to-diff-line",
          data: @comments_target.merge({ line_code: line_code }),
          title: "Add a comment to this line"
