= link_to "",
          "#",
          id: "line-note-#{line_code}",
          class: "line_note_link",
          data: @comments_target.merge({ line_code: line_code }),
          title: "Add comment on line #{line_code[/[0-9]+$/]}"
