- if can? current_user, :write_note, @project
  = render "notes/common_form"

%ul#new-notes-list.reversed.notes
%ul#notes-list.reversed.notes
.notes-status

:javascript
  $(function(){
    NoteList.init("#{tid}", "#{tt}", "#{project_notes_path(@project)}");
  });
