.js-main-target-form
- if can? current_user, :write_note, @project
  = render "notes/form"

%ul#new-notes-list.reversed.notes
%ul#notes-list.reversed.notes
.notes-busy.js-notes-busy

:javascript
  $(function(){
    NoteList.init("#{@target_id}", "#{@target_type}", "#{project_notes_path(@project)}");
  });
