%li{:id => dom_id(note), :class => "note"}
= image_tag gravatar_icon(note.author.email), :class => "left", :width => 40, :style => "padding-right:5px;"
%div.note-author
	%strong
		= note.author_name
		referenced this issue from a commit
	%cite.cgray
		= time_ago_in_words(note.updated_at)
		ago
%div.note-title
	p
		= link_to(markdown(note.note), project_commit_path(@project,:id => note.commit_id))
.clear