- if @note.valid?
  :plain
    $("#new_note .errors").remove();
    updatePage();
    $('#note_note').val("");
- else
  :plain
    $("#new_note").replaceWith("#{escape_javascript(render('form'))}");

:plain
  $("#submit_note").removeAttr("disabled");
