.info-well
  .well-segment
    %p= s_('SlackIntegration|Sends notifications about project events to Slack channels.')
    = link_to _('How do I set up this service?'), help_page_path('user/project/integrations/slack')
