.well-confirmation.text-center
  %h1.prepend-top-0
    Almost there...
  %p.lead
    Please check your email to confirm your account
- if current_application_settings.after_sign_up_text.present?
  .well-confirmation.text-center
    = markdown_field(current_application_settings, :after_sign_up_text)
%p.confirmation-content.text-center
  No confirmation email received? Please check your spam folder or
.append-bottom-20.prepend-top-20.text-center
  %a.btn.btn-lg.btn-success{ href: new_user_confirmation_path }
    Request new confirmation email
