.well-confirmation.text-center.append-bottom-20
  %h1.prepend-top-0
    Almost there...
  %p.lead.append-bottom-20
    Please check your email to confirm your account
  %hr
- if Gitlab::CurrentSettings.after_sign_up_text.present?
  .well-confirmation.text-center
    = markdown_field(Gitlab::CurrentSettings, :after_sign_up_text)
%p.text-center
  No confirmation email received? Please check your spam folder or
.append-bottom-20.prepend-top-20.text-center
  %a.btn.btn-lg.btn-success{ href: new_user_confirmation_path }
    Request new confirmation email
