:plain
  var $listItem = $('#{escape_javascript(render('shared/members/member', member: @group_member))}');
  $("##{dom_id(@group_member)} .list-item-name").replaceWith($listItem.find('.list-item-name'));
