---
title: Welcome to our Lookbook 👋
---

<p>With Lookbook we can navigate, inspect and interact with our ViewComponent previews.</p>

<h2>Usage</h2>

<ul>
  <li>Use the sidebar on the left to navigate our component previews.</li>
  <li>Many previews can be interacted with by making changes in the <em>Params</em> tab.</li>
  <li>Some previews have additional usage instructions in their <em>Notes</em> tab.</li>
</ul>

<h2>Learn more</h2>

<ul>
  <li>Learn all about <a href="https://viewcomponent.org/">ViewComponent</a> and <a href="https://github.com/allmarkedup/lookbook">Lookbook</a>.</li>
  <li>Have a look at our ViewComponent page in the <a href="https://docs.gitlab.com/ee/development/fe_guide/view_component.html">Frontend development docs</a>.</li>
</ul>
