%p.slead
  Should you ever lose your phone, each of these recovery codes can be used one
  time each to regain access to your account. Please save them in a safe place, or you
  %b will
  lose access to your account.

.codes.card
  %ul
    - @codes.each do |code|
      %li
        %span.monospace= code

= link_to 'Proceed', profile_account_path, class: 'btn btn-success'
