- show_success_alert = local_assigns.fetch(:show_success_alert, nil)

.js-2fa-recovery-codes{ data: { codes: @codes.to_json, profile_account_path: profile_account_path(two_factor_auth_enabled_successfully: show_success_alert) } }
