- parent = board.parent
- milestone_filter_opts = { format: :json }
- milestone_filter_opts = milestone_filter_opts.merge(only_group_milestones: true) if board.group_board?

%boards-selector{ "inline-template" => true,
  ":current-board" => current_board_json,
  "milestone-path" => milestones_filter_path(milestone_filter_opts) }
  %span.boards-selector-wrapper
    .dropdown
      %button.dropdown-menu-toggle{ "@click" => "loadBoards",
        data: { toggle: "dropdown" } }
        {{ board.name }}
        = icon("chevron-down")
      .dropdown-menu{ ":class" => "{ 'is-loading': loading }" }
        .dropdown-content
          %ul{ "v-if" => "!loading" }
            %li{ "v-for" => "board in boards" }
              %a{ ":href" => "'#{board_base_url}/' + board.id" }
                {{ board.name }}
            - if !multiple_boards_available? && current_board_parent.boards.size > 1
              %li.small
                Some of your boards are hidden, activate a license to see them again.
        .dropdown-loading{ "v-if" => "loading" }
          = icon("spin spinner")

        - if can?(current_user, :admin_board, parent)
          .dropdown-footer
            %ul.dropdown-footer-list
              - if parent.feature_available?(:multiple_issue_boards)
                %li
                  %a{ "href" => "#", "@click.prevent" => "showPage('new')" }
                    Create new board
              %li{ "v-if" => "showDelete" }
                %a{ "href" => "#", "@click.prevent" => "showPage('delete')" }
                  %span.text-danger
                    Delete board

    %board-selector-form{ ":milestone-path" => "milestonePath",
      ":can-admin-board" => can?(current_user, :admin_board, parent),
      "v-if" => "currentPage" }
