- category = local_assigns[:category] || :primary

= render Pajamas::ButtonComponent.new(variant: :danger, category: category, button_options: { class: 'js-confirm-modal-button', data: button_data }) do
  = _('Delete')
