- content_for :page_specific_javascripts do
  = stylesheet_link_tag "xterm/xterm"
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'repo'

#repo{ data: { is_ide: 'true', url: project_workspaces_show_path(@project, :json), terminal_url: project_workspaces_attach_path(@project) } }
