%p.slead
  Edit access for
  = link_to @admin_team_member.user_name, admin_user_path(@admin_team_member)
  in
  = link_to @admin_team_member.project.name_with_namespace, admin_project_path(@admin_team_member)

%hr
= render 'form'
