- add_to_breadcrumbs _('Google Cloud'), project_google_cloud_path(@project)
- breadcrumb_title s_('CloudSeed|Service Account')
- page_title s_('CloudSeed|Service Account')

= form_tag project_google_cloud_service_accounts_path(@project), method: 'post' do
  #js-google-cloud-service-accounts{ data: @js_data }
