- expanded = expanded_by_default?

= render ::Layouts::SettingsBlockComponent.new(_('Deploy keys'),
  id: 'js-deploy-keys-settings',
  testid: 'deploy-keys-settings-content',
  css_class: 'rspec-deploy-keys-settings',
  expanded: expanded) do |c|
  - c.with_description do
    - link = link_to('', help_page_path('user/project/deploy_keys/_index.md'), target: '_blank', rel: 'noopener noreferrer')
    = safe_format(_("Add deploy keys to grant read/write access to this repository. %{link_start}What are deploy keys?%{link_end}"), tag_pair(link, :link_start, :link_end))
  - c.with_body do
    = render ::Layouts::CrudComponent.new(_('Deploy keys'),
      body_options: { class: '!gl-m-0' },
      toggle_text: s_('DeployKeys|Add new key'),
      toggle_options: { data: { testid: 'add-new-deploy-key-button' } }) do |c|
      - c.with_body do
        #js-deploy-keys{ data: { project_id: @project.id,
                        project_path: @project.full_path,
                        enabled_endpoint: enabled_keys_project_deploy_keys_path(@project),
                        available_project_endpoint: available_project_keys_project_deploy_keys_path(@project),
                        available_public_endpoint: available_public_keys_project_deploy_keys_path(@project)
          } }

      - c.with_form do
        = render @deploy_keys.form_partial_path
