{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ],
  "env": {
    "karma": {
      "plugins": ["babel-plugin-rewire"]
    },
    "coverage": {
      "plugins": [
        [
          "babel-plugin-istanbul",
          {
            "exclude": ["spec/javascripts/**/*", "app/assets/javascripts/locale/**/app.js"]
          }
        ],
        "babel-plugin-rewire"
      ]
    }
  }
}
