# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json,vue,graphql,scss,rb,haml,yml}]
indent_size = 2

[*.{js,json,vue,scss,rb,haml,yml,md}]
indent_style = space
charset = utf-8

[*.{md,markdown,js.snap}]
trim_trailing_whitespace = false

[doc/**/*.md]
trim_trailing_whitespace = true

[*.rb]
max_line_length = 120

# Don't apply editorconfig rules to vendor/ resources
[vendor/**]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
max_line_length = unset
