{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "plugins": [
    "filenames"
  ],
  "rules": {
    "filenames/match-regex": [2, "^[a-z0-9_]+(.js)?$"]
  },
  "globals": {
    "$": false,
    "_": false,
    "gl": false,
    "jQuery": false
  }
}
