{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "globals": {
    "__webpack_public_path__": true,
    "gl": false,
    "gon": false,
    "localStorage": false
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "filenames",
    "import",
    "html",
    "promise"
  ],
  "settings": {
    "html/html-extensions": [".html", ".html.raw"],
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.config.js"
      }
    }
  },
  "rules": {
    "filenames/match-regex": [2, "^[a-z0-9_]+$"],
    "import/no-commonjs": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "promise/catch-or-return": "error",
    "no-underscore-dangle": ["error", { "allow": ["__", "_links"] }],
    "no-mixed-operators": 0,
    "space-before-function-paren": 0,
    "curly": 0,
    "arrow-parens": 0,
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "vue/attributes-order": 0
  }
}
