.bundle
.rbx/
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/
.sass-cache/
coverage/*
backups/*
*.swp
public/uploads/
.rvmrc
.rbenv-version
.directory
nohup.out
Vagrantfile
.vagrant
config/gitlab.yml
config/database.yml
config/initializers/omniauth.rb
config/unicorn.rb
db/data.yml
.idea
.DS_Store
.chef
vendor/bundle/*
