{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**/app/assets/javascripts/**/*", "**/spec/javascripts/**/*"],
      "options": {
        "trailingComma": "all"
      }
    }
  ]
}
