{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "at-rule-no-unknown": [ true, {
      ignoreAtRules: ["include", "each", "mixin", "extend", "if", "function", "for", "else", "return"]
    }],
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["gl-emoji"]
    }],
    "unit-no-unknown" : [true, {
      "ignoreFunctions": ["-webkit-image-set"]
    }],
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-function-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension-blacklist": ["scss"],
    "scss/at-mixin-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-pattern": "^[_]?[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/percent-placeholder-pattern": "^[a-z]+([a-z0-9-]+[a-z0-9]+)?$",
    "scss/selector-no-redundant-nesting-selector": true,
  }
}
