{
  "extends": ["@gitlab/stylelint-config"],
  "plugins": ["./tooling/stylelint/gitlab_no_gl_class.plugin.js"],
  "rules": {
    "gitlab/no-gl-class": true
  },
  "ignoreFiles": [
    "app/assets/stylesheets/pages/emojis.scss",
    "app/assets/stylesheets/startup/startup-*.scss",
    "ee/app/assets/stylesheets/startup/startup-*.scss",
    "app/assets/stylesheets/highlight/themes/*.scss",
    "app/assets/stylesheets/lazy_bundles/cropper.css"
  ],
  "overrides": [
    {
      "files": ["app/assets/stylesheets/mailers/mailer.scss"],
      "rules": {
        "color-hex-length": "long"
      }
    },
    {
      "files": [
        "app/assets/stylesheets/application_dark.scss",
        "app/assets/stylesheets/framework/**/*.scss",
        "app/assets/stylesheets/page_bundles/_ide_theme_overrides.scss"
      ],
      "rules": {
        "gitlab/no-gl-class": null
      }
    }
  ]
}
