.row.empty-state
  .col-xs-12
    .svg-content
      = image_tag 'illustrations/feature_moved.svg'
  .col-xs-12
    .text-content.text-center
      %h4= _("GitLab CI Linter has been moved")
      %p
        = _("To validate your GitLab CI configurations, go to 'CI/CD → Pipelines' inside your project, and click on the 'CI Lint' button.")
