- page_title "CI Lint"

.center
  = image_tag 'illustrations/feature_moved.svg'
  %h3 GitLab CI Linter has been moved
  %p To validate your GitLab CI configurations, go to 'CI/CD → Pipelines' inside your project, and click on the "CI Lint" button.
