- gke_label = s_('ClusterIntegration|Google GKE')
- eks_label = s_('ClusterIntegration|Amazon EKS')
- create_cluster_label = s_('ClusterIntegration|Create cluster on')
.d-flex.flex-column
  %h5
    = create_cluster_label
  .d-flex
    = render partial: 'clusters/clusters/cloud_providers/cloud_provider_button',
      locals: { provider: 'gke', label: gke_label, logo_path: '' }
    = render partial: 'clusters/clusters/cloud_providers/cloud_provider_button',
      locals: { provider: 'eks', label: eks_label, logo_path: '' }
