= render "branches_head"

%table.admin-table
  %thead
    %tr
      %th Name
      %th Last commit
      %th Updated at
      %th
  - @activities.each do |update|
    = render "repositories/branch", :branch => update.head

