- page_title _("Fork project")
- if @fork_response.error?
  = render Pajamas::AlertComponent.new(title: _('Fork Error!'),
    variant: :danger,
    alert_options: { class: 'gl-mt-5' },
    dismissible: false) do |c|
    - c.with_body do
      %p
        = _("You tried to fork %{link_to_the_project} but it failed for the following reason:").html_safe % { link_to_the_project: link_to_project(@project) }

      - @fork_response.errors.each do |error|
        %p
          &ndash;
          = error

    - c.with_actions do
      = link_button_to _('Try to fork again'), new_project_fork_path(@project), title: _("Fork"), class: 'gl-alert-action', variant: :confirm
