- page_title "Fork project"
- if @forked_project && !@forked_project.saved?
  .alert.alert-danger.alert-block
    %h4
      = sprite_icon('fork', size: 16)
      Fork Error!
    %p
      You tried to fork
      = link_to_project @project
      but it failed for the following reason:


    - if @forked_project && @forked_project.errors.any?
      %p
        &ndash;
        - error = @forked_project.errors.full_messages.first
        - if error.include?("already been taken")
          Name has already been taken
        - else
          = error

    %p
      = link_to new_project_fork_path(@project), title: "Fork", class: "btn" do
        Try to fork again
