- page_title "派生项目"
- if @forked_project && !@forked_project.saved?
  .alert.alert-danger.alert-block
    %h4
      %i.fa.fa-code-fork
      派生错误！
    %p
      试图派生
      = link_to_project @project
      出现错误，原因如下：


    - if @forked_project && @forked_project.errors.any?
      %p
        &ndash;
        = @forked_project.errors.full_messages.first

    %p
      = link_to new_namespace_project_fork_path(@project.namespace, @project), title: "派生", class: "btn" do
        %i.fa.fa-code-fork
        重试派生
