- page_title "Fork project"

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      Fork project
    %p
      A fork is a copy of a project.
      %br
      Forking a repository allows you to make changes without affecting the original project.
  .col-lg-9
    - if @namespaces.present?
      .fork-thumbnail-container.js-fork-content
        %h5.prepend-top-0.append-bottom-0.prepend-left-default.append-right-default
          Click to fork the project
        - @namespaces.each do |namespace|
          = render 'fork_button', namespace: namespace
    - else
      %strong
        No available namespaces to fork the project.
      %p.prepend-top-default
        You must have permission to create a project in a namespace before forking.

    .save-project-loader.hide.js-fork-content
      %h2.text-center
        = icon('spinner spin')
        Forking repository
      %p.text-center
        Please wait a moment, this page will automatically refresh when ready.
