- breadcrumb_title s_('Airflow|Airflow DAGs')
- page_title s_('Airflow|Airflow DAGs')

.page-title-holder
  %h1.page-title.gl-font-size-h-display= s_('Airflow|Airflow DAGs')

#js-show-airflow-dags{ data: {
  dags: @dags.to_json,
  pagination: @pagination.to_json
  }
}
