.blank-state
  .blank-state-icon
    = custom_icon("ee_trial", size: 50)
  .blank-state-body
    %h3.blank-state-title
      Unlock more features with GitLab Ultimate
    %p.blank-state-text
      GitLab is free to use.
      Many features for larger teams are part of
      our
      = succeed "." do
        = link_to "paid products", "https://about.gitlab.com/products/", target: "_blank", rel: "noopener noreferrer nofollow"
      You can try Ultimate for free without
      any obligation or payment details.
    = link_to new_trial_url, class: "btn btn-new" do
      Start free trial
