%h3.page-title Unsubscribe from Admin notifications
%p
  Don't want to receive any updates from your system administrator.
  By clicking the confirmation button you'll no longer receive these notifications

%hr
= form_tag public_unsubscribe_path(@email) do
  %p
    Yes, I want to unsubscribe
    %strong= @email
    from any further admin emails.
  .form-actions
    = submit_tag 'Unsubscribe', class: 'btn btn-create'
