- page_title _("Observability")
- add_page_specific_style 'page_bundles/observability'

.observability-container.gl-flex.gl-flex-col
  .gl-display-flex.gl-items-center.gl-mt-3.gl-mb-5
    %h1.gl-heading-1= @data.title

  - if @data&.auth_tokens.blank?
    = render Pajamas::AlertComponent.new(dismissible: false, variant: :danger, title: _('Unable to authenticate with the observability service. Please check your configuration and try again.'))

  - else
    #js-observability{ data: @data.to_h }
