- @no_container = true
- page_title s_(@data.title)
- add_page_specific_style 'page_bundles/observability'

.observability-container
  #js-observability{ data: @data.to_h.merge(polling_endpoint: url_for(format: :json, only_path: true)) }
