testdata/data
testdata/scratch
testdata/public
testdata/alt-public
/gitlab-workhorse
/gitlab-resize-image
/gitlab-zip-cat
/gitlab-zip-metadata
/_build
coverage.html
cover.out
/*.toml
/gitaly.pid
/_support/bin/golangci-*
