# alt_document_root = '/home/git/public/assets'
# shutdown_timeout = "60s"
# trusted_cidrs_for_x_forwarded_for = []
# trusted_cidrs_for_propagation = []

[redis]
URL = "unix:/home/git/gitlab/redis/redis.socket"

[object_storage]
  provider = "AWS" # Allowed options: AWS, AzureRM, Google

[object_storage.s3]
  aws_access_key_id = "YOUR AWS ACCESS KEY"
  aws_secret_access_key = "YOUR AWS SECRET ACCESS KEY"

[object_storage.azurerm]
  azure_storage_account_name = "YOUR ACCOUNT NAME"
  azure_storage_access_key = "YOUR ACCOUNT KEY"

[object_storage.google]
  google_application_default = true # if the application default should be used
  google_json_key_string = '''
  JSON KEY STRING
  '''
  google_json_key_location = "PATH TO JSON KEY FILE"

[metadata]
  zip_reader_limit_bytes = 104857600

[image_resizer]
  max_scaler_procs = 4 # Recommendation: CPUs / 2
  max_filesize = 250000

[[listeners]]
  network = "tcp"
  addr = "127.0.0.1:3443"

[listeners.tls]
  certificate = "/path/to/certificate"
  key = "/path/to/private/key"
  min_version = "tls1.2"
  max_version = "tls1.3"
