- if ::Gitlab::Geo.secondary? && ::Gitlab::Geo.primary_node
  - primary_node = link_to('primary node', ::Gitlab::Geo.primary_node.url)
  .flash-container.flash-container-page
    .flash-notice
      %div{ class: (container_class) }
        %span You are on a secondary (read-only) Geo node. If you want to make any changes, you must visit the #{primary_node}.
