- form_resource_name = local_assigns.fetch(:form_resource_name)

- title = safe_format(s_('SignUp|Minimum length is %{minimum_password_length} characters.'),
  minimum_password_length: @minimum_password_length)

= local_assigns.fetch(:form).label :password, _('Password')
%input.form-control.gl-form-input.js-password{ data: { id: "#{form_resource_name}_password",
  title: title,
  minimum_password_length: @minimum_password_length,
  testid: 'new-user-password-field',
  track_action_for_errors: preregistration_tracking_label,
  autocomplete: 'new-password',
  name: "#{form_resource_name}[password]" } }
%p.gl-field-hint-valid.gl-text-subtle
  = title
