- page_title "Sign up"
- if experiment_enabled?(:signup_flow)
  = render 'devise/shared/experimental_separate_sign_up_flow_box'
- else
  = render 'devise/shared/signup_box'

= render 'devise/shared/sign_in_link'
