- page_title s_('WorkItem|Work items')
- add_page_specific_style 'page_bundles/issuable_list'
- add_page_specific_style 'page_bundles/notes'

.js-work-items-list-root{ data: work_items_list_data(@group) }
