-# TODO: add fork suggestion (commits only)

%diff-file{ id: id, data: server_data }
  .rd-diff-file
    = render RapidDiffs::DiffFileHeaderComponent.new(diff_file: @diff_file)
    -# extra wrapper needed so content-visibility: hidden doesn't require removing border or other styles
    %div{ data: { file_body: '' } }
      .rd-diff-file-body
        = render viewer_component.new(diff_file: @diff_file)
  %diff-file-mounted
