-# TODO: add fork suggestion (commits only)

%diff-file.rd-diff-file-component{ id: id, data: {  testid: 'rd-diff-file', file_data: file_data.to_json } }
  .rd-diff-file{ data: { virtual: virtual? }, style: ("--total-rows: #{total_rows}" if virtual?) }
    = header || default_header
    -# extra wrapper needed so content-visibility: hidden doesn't require removing border or other styles
    %div{ data: { file_body: '' } }
      .rd-diff-file-body
        = render viewer_component.new(diff_file: @diff_file)
  %diff-file-mounted
