= render RapidDiffs::DiffFileComponent.new(diff_file:, parallel_view: @parallel_view, plain_view: @plain_view) do |file_component_instance|
  - file_component_instance.with_header do
    - if diff_file.conflict
      .rd-diff-file-conflict-message
        = render Pajamas::AlertComponent.new(variant: :danger, dismissible: false) do |alert_instance|
          - alert_instance.with_body do
            = human_readable_conflict(diff_file.conflict)
    = render RapidDiffs::DiffFileHeaderComponent.new(diff_file:, additional_menu_items:)
