.groups-empty-state
  = custom_icon("icon_empty_groups")

  .text-content
    %h4= s_("GroupsEmptyState|A group is a collection of several projects.")
    %p= s_("GroupsEmptyState|If you organize your projects under a group, it works like a folder.")
    %p= s_("GroupsEmptyState|You can manage your group member’s permissions and access to each project in the group.")
