- if groups.any?
  - user = local_assigns[:user]

  %ul.content-list
    - groups.each_with_index do |group, i|
      = render "shared/groups/group", group: group, user: user
- else
  .nothing-here-block= s_("GroupsEmptyState|No groups found")
