- milestone = local_assigns.fetch(:milestone)

- return unless milestone.supports_weight?

- total_weight = milestone.issues_visible_to_user(current_user).sum(:weight)
.block.weight
  .sidebar-collapsed-icon.has-tooltip{ title: milestone_weight_tooltip_text(total_weight), data: { container: 'body', placement: 'left' } }
    = icon('balance-scale')
    %span
      - unless total_weight.zero?
        = total_weight
      - else
        None
  .title.hide-collapsed
    Total issue weight
  .value.hide-collapsed
    - unless total_weight.zero?
      %strong.bold= total_weight
    - else
      .no-value None

