.gl-form-checkbox.custom-control.custom-checkbox{ content_wrapper_options }
  = form.check_box(method,
      formatted_input_options,
      checked_value,
      unchecked_value)
  = render_label_with_help_text
