%span{ class: @classes,
  data: { name: @name,
    id: @id,
    is_checked: @is_checked.to_s,
    disabled: @is_disabled.to_s,
    is_loading: @is_loading.to_s,
    label: @label,
    help: @help,
    label_position: @label_position,
    **@data } }

-# Leverage this block to render a rich help text. To render a plain text help text,
-# prefer the `help` parameter.
- if content.present?
  .gl-help-label
    = content
