- form = local_assigns.fetch(:form)

= form.gitlab_ui_checkbox_component :only_allow_merge_if_pipeline_succeeds,
  s_('MergeChecks|Pipelines must succeed'),
  help_text: s_("MergeChecks|Merge requests can't be merged if the latest pipeline did not succeed or is still running.")
.gl-pl-6
  = form.gitlab_ui_checkbox_component :allow_merge_on_skipped_pipeline,
    s_('MergeChecks|Skipped pipelines are considered successful'),
    help_text: s_('MergeChecks|Introduces the risk of merging changes that do not pass the pipeline.'),
    checkbox_options: { class: 'gl-pl-6' }
= form.gitlab_ui_checkbox_component :only_allow_merge_if_all_discussions_are_resolved,
  s_('MergeChecks|All threads must be resolved')
