- page_title _('New group')
- add_to_breadcrumbs _('Groups and projects'), groups_and_projects_organization_path(@organization)

#js-organizations-groups-new{ data: { app_data: organization_groups_new_app_data(@organization) } }
