- diff_file = discussion.diff_file
- discussions = { discussion.original_line_code => [discussion] }
- diff_file_class = diff_file.text? ? 'text-file' : 'js-image-file'

.diff-file.file-holder{ class: diff_file_class }
  .js-file-title.file-title.file-title-flex-parent
    = render partial: "discussions/diff", locals: { discussion: discussion }
    .note-container
      = render partial: "discussions/notes", locals: { discussion: discussion, show_toggle: false, show_image_comment_badge: true, disable_collapse_class: true }
