- diff_file = discussion.diff_file
- blob = discussion.blob
- discussions = { discussion.original_line_code => [discussion] }

.diff-file.file-holder{ class: (diff_file.text? ? 'text-file' : '') }
  .js-file-title.file-title.file-title-flex-parent
    .file-header-content
      = render "projects/diffs/file_header", diff_file: diff_file, url: discussion_path(discussion), show_toggle: false

  - if diff_file.text?
    .diff-content.code.js-syntax-highlight
      %table
        = render partial: "projects/diffs/line",
          collection: discussion.truncated_diff_lines,
          as: :line,
          locals: { diff_file: diff_file,
            discussions: discussions,
            discussion_expanded: true,
            plain: true }
  - else
    - blob_raw_path = diff_file_blob_raw_path(diff_file)
    .image
      .frame{ class: (diff_file.deleted_file? ? 'deleted' : 'added'), data: { position: discussion.position.to_json } }
        = image_tag(blob_raw_path, alt: diff_file.file_path, draggable: false)
    .note-container
      = render partial: "discussions/notes", locals: { discussion: discussion, show_toggle: false, show_image_comment_badge: true, disable_collapse: true }
