- diff_file = discussion.diff_file
- blob = discussion.blob

.diff-file.file-holder
  .file-title
    = render "projects/diffs/file_header", diff_file: diff_file, blob: blob, diff_commit: diff_file.content_commit, project: discussion.project, url: discussion_diff_path(discussion)

  .diff-content.code.js-syntax-highlight
    %table
      - discussions = { discussion.original_line_code => discussion }
      = render partial: "projects/diffs/line",
        collection: discussion.truncated_diff_lines,
        as: :line,
        locals: { diff_file: diff_file,
          discussions: discussions,
          discussion_expanded: true,
          plain: true }
