%tr.notes_holder
  %td.notes_line{ colspan: 2 }
  %td.notes_content
    %ul.notes{ data: { discussion_id: discussion.id } }
      = render partial: "projects/notes/note", collection: discussion.notes, as: :note

    .discussion-reply-holder
      .btn-group-justified.discussion-with-resolve-btn{ role: "group" }
        .btn-group{ role: "group" }
          = link_to_reply_discussion(note)
        .btn-group{ role: "group" }
          = render "projects/notes/discussions/resolve_all", note: note
