- diff_file = discussion.diff_file
- blob = discussion.blob

.diff-file.file-holder
  .file-title
    = render "projects/diffs/file_header", diff_file: diff_file, blob: blob, diff_commit: diff_file.content_commit, project: discussion.project, url: discussion_diff_path(discussion)

  .diff-content.code.js-syntax-highlight
    %table
      - discussion.truncated_diff_lines.each do |line|
        = render "projects/diffs/line", line: line, diff_file: diff_file, plain: true

        - if discussion.for_line?(line)
          = render "discussions/diff_discussion", discussion: discussion
