- expanded = discussion.expanded?
%li.note.note-discussion.timeline-entry.unstyled-comments
  .timeline-entry-inner
    .timeline-content
      .discussion.js-toggle-container{ data: { discussion_id: discussion.id, is_expanded: expanded.to_s } }
        .discussion-body.js-toggle-content{ class: ("hide" unless expanded) }
          - if discussion.diff_discussion? && discussion.diff_file
            = render "discussions/diff_with_notes", discussion: discussion
          - else
            .card.discussion-wrapper
              = render partial: "discussions/notes", locals: { discussion: discussion, disable_collapse_class: true }
