- discussion = local_assigns.fetch(:discussion, nil)
- if current_user
  %jump-to-discussion{ "inline-template" => true, ":discussion-id" => "'#{discussion.try(:id)}'" }
    .btn-group{ role: "group",
      "v-show" => "!allResolved" }
      %button.btn.btn-default.discussion-next-btn.has-tooltip{ "@click" => "jumpToNextUnresolvedDiscussion",
        title: "Jump to next unresolved discussion",
        "aria-label" => "Jump to next unresolved discussion",
        data: { container: "body" } }
        = custom_icon("next_discussion")
