%h3.page-title
  Identities for
  = link_to @user.name, [:admin, @user]

%hr
- if @identities.present?
  %table.table
    %thead
      %tr
        %th Provider
        %th Id
        %th
    = render @identities
- else
  %h4 This user has no identities
