- add_to_breadcrumbs _('Users'), admin_users_path
- add_to_breadcrumbs @user.name, admin_user_identities_path(@user)
- breadcrumb_title _('New Identity')
- page_title _('New Identity')
%h1.page-title.gl-font-size-h-display= _('New identity')
%hr
= render 'form'
