- page_context_word = local_assigns.fetch(:page_context_word)
- counter = local_assigns.fetch(:counter)

= gl_tab_link_to page_filter_path(state: 'all'), item_active: params[:state] == 'all', id: 'state-all', title: _("Show all %{issuable_type}.") % { issuable_type: page_context_word }, data: { state: 'all' } do
  #{counter}
