%tr{:class => defined?(row_class) && row_class}
  %td.line{:class => line.in_app? && 'in-app' }
    %span.path>= raw line.decorated_path
    %span.file>= line.file_name
    - if line.line.present?
      %span.number>= ":#{line.line}"
    - if line.column.present?
      %span.number>= ":#{line.column}"
    &rarr;
    %span.method= line.method