.csvdiff td.modify, .csvdiff tr.modify {
  background-color: #aaf !important;
}

.csvdiff td.add, .csvdiff tr.add {
  background-color: #afa !important;
}

.csvdiff td.remove, .csvdiff tr.remove {
  background-color: #faa !important;
}
