- page_title "Git Hooks"
%h3.page-title
  Git hooks
%p.light
  Rules that define what git pushes are accepted for this project. Request new rules for free by creating an issue on the <a href="https://gitlab.com/gitlab-org/gitlab-ee/issues/">GitLab EE issue tracker</a> and labeling it 'Feature proposal'.

%hr.clearfix

= form_for [@project.namespace.becomes(Namespace), @project, @git_hook], html: { class: 'form-horizontal' } do |f|
  -if @git_hook.errors.any?
    .alert.alert-danger
      - @git_hook.errors.full_messages.each do |msg|
        %p= msg
  = render "shared/git_hooks_form", f: f
