- page_title "Git Hooks"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p.light
      Rules that define what git pushes are accepted for this project. Request new rules for free by creating an issue on the <a href="https://gitlab.com/gitlab-org/gitlab-ee/issues/">GitLab EE issue tracker</a> and labeling it 'Feature proposal'. Or if you can please contribute a tested merge request.
  .col-lg-9
    %h5.prepend-top-0
      Add new web hook
    = form_for [@project.namespace.becomes(Namespace), @project, @git_hook] do |f|
      = form_errors(@git_hook)

      = render "shared/git_hooks_form", f: f
