.info-well {
  .admin-well-statistics,
  .admin-well-features {
    padding-bottom: 46px;
  }
}

.usage-data {
  max-height: 400px;
}

[data-page='admin:jobs:index'] {
  .admin-builds-table {
    td:last-child {
      min-width: 120px;
    }
  }
}
