.build-page {
  pre.trace {
    background: #111;
    color: #fff;
    font-family: $monospace_font;
    white-space: pre-wrap;
    overflow: auto;
    overflow-y: hidden;
    font-size: 12px;

    .fa-refresh {
      font-size: 24px;
      margin-left: 20px;
    }
  }

  .autoscroll-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }

  .scroll-controls {
    &.affix-top {
      position: absolute;
      top: 10px;
      right: 25px;
    }

    &.affix-bottom {
      position: absolute;
      right: 25px;
    }

    &.affix {
      right: 30px;
      bottom: 15px;

      @media (min-width: $screen-md-min) {
        right: 26%;
      }
    }

    a {
      display: block;
      margin-bottom: 10px;
    }
  }

  .page-sidebar-collapsed {
    .scroll-controls {
      left: 70px;
    }
  }

  .nav-links {
    svg {
      position: relative;
      top: 2px;
      margin-right: 3px;
    }
  }
}

.build-header {
  position: relative;
  padding-right: 40px;

  @media (min-width: $screen-sm-min) {
    padding-right: 0;
  }

  a {
    color: $gl-gray;

    &:hover {
      color: $gl-link-color;
      text-decoration: none;
    }
  }

  code {
    color: $code-color;
  }

  .avatar {
    float: none;
    margin-right: 2px;
    margin-left: 2px;
  }
}

.build-trace {
  background: $ci-output-bg;
  color: $ci-text-color;
  white-space: pre;
  overflow-x: auto;
  font-size: 12px;

  .fa-refresh {
    font-size: 24px;
  }

  .bash {
    display: block;
  }
}

.right-sidebar.build-sidebar {
  padding-top: $gl-padding;
  padding-bottom: $gl-padding;

  &.right-sidebar-collapsed {
    display: none;
  }

  .block {
    width: 100%;
  }

  .build-sidebar-header {
    padding-top: 0;

    .gutter-toggle {
      margin-top: 0;
    }
  }
}

.build-detail-row {
  margin-bottom: 5px;
}

.build-light-text {
  color: $gl-placeholder-color;
}

.build-gutter-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -17px;
}
