.clusters-container {
  .empty-state .svg-content {
    @include gl-pb-0;

    img {
      width: 100px;
    }
  }

  .agents-empty-state {
    .text-content {
      @include gl-max-w-full;
      @include media-breakpoint-up(lg) {
        max-width: 70%;
      }
    }

    .gl-alert-actions {
      @include gl-mt-0;
      @include gl-flex-wrap;
    }
  }

  .gl-card-body {
    @include media-breakpoint-up(sm) {
      @include gl-pt-2;
      min-height: 372px;
    }
  }

  @include media-breakpoint-down(xs) {
    .nav-controls {
      @include gl-w-full;
      order: -1;

      .gl-new-dropdown,
      .split-content-button {
        @include gl-w-full;
      }
    }
  }
}
