/**
 * Container Registry
 */

.container-image {
  border-bottom: 1px solid $white-normal;
}

.container-image-head {
  padding: 0 16px;
  line-height: 4em;

  .btn-link {
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

.table.tags {
  margin-bottom: 0;
}
