.file-editor {
  #editor {
    border: none;
    @include border-radius(0);
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .ace_gutter-cell {
    background-color: $background-color;
  }

  .cancel-btn {
    color: #b94a48;
    &:hover {
      color: #b94a48;
    }
  }

  .file-title {
    @extend .monospace;

    line-height: 42px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .editor-ref {
    background: $background-color;
    padding-right: $gl-padding;
    border-right: 1px solid $border-color;
    display: block;
    float: left;
    margin-right: 10px;
  }

  .editor-file-name {
    @extend .monospace;
    
    float: left;
    margin-right: 10px;
  }

  .new-file-name {
    display: inline-block;
    width: 450px;
    float: left;
  }

  .select2 {
    float: right;
  }
}

.text-selection-popup {
  position: relative;
  background: $gray-light;
  border: 2px solid $border-gray-dark;
  padding: 10px;
  border-radius: $dropdown-border-radius;

  .text-selection-icon {
    margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
  }

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 6px;
    margin-left: -6px;
  }

  &:before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: $border-gray-dark;
    border-width: 9px;
    margin-left: -9px;
  }
}