.environment-logs-page {
  .content-wrapper {
    padding-bottom: 0;
  }
}

.environment-logs-viewer {
  height: calc(100vh - #{$environment-logs-difference-xs-up});
  min-height: 700px;

  @include media-breakpoint-up(md) {
    height: calc(100vh - #{$environment-logs-difference-md-up});
  }

  .with-performance-bar & {
    height: calc(100vh - #{$environment-logs-difference-xs-up} - #{$performance-bar-height});

    @include media-breakpoint-up(md) {
      height: calc(100vh - #{$environment-logs-difference-md-up} - #{$performance-bar-height});
    }
  }

  .top-bar {
    .date-time-picker-wrapper,
    .dropdown-toggle {
      @include media-breakpoint-up(md) {
        width: 140px;
      }

      @include media-breakpoint-up(lg) {
        width: 160px;
      }
    }
  }

  .log-lines,
  .gl-infinite-scroll-container {
    // makes scrollbar visible by creating contrast
    background: $black;
    height: 100%;
  }

  .build-trace {
    @include build-trace($black);
  }

  .gl-infinite-scroll-legend {
    margin: 0;
  }

  .build-loader-animation {
    @include build-loader-animation;
  }
}
