.error-details {
  li {
    @include gl-line-height-32;
  }
}

.stacktrace {
  .file-title {
    svg {
      vertical-align: middle;
      top: -1px;
    }
  }

  .file-title-name {
    &.limited-width {
      max-width: 80%;
    }
  }

  .line_content.old::before {
    content: none !important;
  }
}
