.error-list {
  .sort-control {
    .btn {
      padding-right: 2rem;
    }

    .gl-dropdown-caret {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .error-list-table {
      .table-col {
        min-height: 68px;

        &:last-child {
          background-color: $gray-10;

          &::before {
            content: none !important;
          }

          div {
            width: 100% !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
}
