.signup-page {
  .page-wrap {
    background-color: $gray-light;
  }

  .signup-box-container {
    max-width: 960px;
  }

  .signup-box {
    background-color: $white-light;
    box-shadow: 0 0 0 1px $border-color;
    border-radius: $border-radius;
  }

  .form-control {
    &:active,
    &:focus {
      background-color: $white-light;
    }
  }

  .devise-errors {
    h2 {
      font-size: $gl-font-size;
      color: $red-700;
    }
  }

  .omniauth-divider {
    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $gray-dark;
      margin: $gl-padding-24 0;
    }

    &::before {
      margin-right: $gl-padding;
    }

    &::after {
      margin-left: $gl-padding;
    }
  }

  .omniauth-btn {
    width: 48%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    img {
      width: $default-icon-size;
      height: $default-icon-size;
    }
  }
}
