.dashboard .side .card .card-header .input-group {
  .form-control {
    height: 42px;
  }
}

.groups-list {
  @include basic-list;
}

.group-root-path {
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.group-row {
  .description p {
    margin-bottom: 0;
    @apply gl-text-subtle;
  }
}

.save-group-loader {
  margin-top: $gl-spacing-scale-9;
  margin-bottom: $gl-spacing-scale-9;
  @apply gl-text-subtle;
}

.card {
  .shared_runners_limit_under_quota {
    @apply gl-text-success;
  }

  .shared_runners_limit_over_quota {
    @apply gl-text-danger;
  }
}

.group-list-tree {
  .folder-toggle-wrap {
    font-size: 0;
    flex-shrink: 0;

    span {
      font-size: $gl-font-size;
    }
  }

  .item-type-icon {
    margin-top: 2px;
    width: 20px;
  }

  .group-list-tree {
    margin-bottom: 0;
    margin-left: 30px;

    .group-row {
      &.being-removed {
        opacity: 0.5;
      }
    }
  }

  .group-row {
    padding: 0;

    &.has-children {
      border-top: 0;
    }

    &:first-child {
      border-top: 1px solid $gray-100;
    }
  }

  .group-row-contents {
    &:hover {
      border-color: $blue-200;
      background-color: $blue-50;
      cursor: pointer;
    }

    .group-text-container,
    .group-text {
      min-width: 0; // allows for truncated text within flex children
    }

    .group-text {
      flex-basis: 100%;
    }

    .avatar-container {
      flex-shrink: 0;

      > a {
        width: 100%;
        text-decoration: none;
      }
    }

    .title {
      font-size: $gl-font-size;
    }

    &.has-more-items {
      display: block;
      padding: 20px 10px;
    }

    .description {
      z-index: 1;
      position: relative;

      p {
        @include str-truncated;

        max-width: 100%;
      }

      mark {
        @include str-highlighted;
      }
    }

    .stats {
      position: relative;
      line-height: normal;
      text-align: right;
      flex-shrink: 0;

      > span {
        display: inline-flex;
        align-items: center;
        height: 16px;
        min-width: 30px;
      }

      .stat-value {
        margin: 2px 0 0 5px;
      }
    }
  }

  .project-row-contents .stats {
    line-height: inherit;

    > span:first-child {
      margin-left: 25px;
    }

    .last-updated {
      position: relative;
      min-width: 250px;
      text-align: right;
      @apply gl-text-subtle;
    }
  }
}
