.suggest-colors {
  margin-top: 5px;
  a {
    @include border-radius(4px);
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
  }

  &.suggest-colors-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: $border-radius-base;
    overflow: hidden;

    a {
      @include border-radius(0);
      width: (100% / 7);
      margin-right: 0;
      margin-bottom: -5px;
    }
  }
}

.dropdown-new-label {
  .dropdown-content {
    max-height: 260px;
  }
}

.dropdown-label-color-input {
  position: relative;
  margin-bottom: 10px;

  &.is-active {
    padding-left: 32px;
  }
}

.dropdown-label-color-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-top-left-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}

.label-row {
  .label {
    padding: 9px;
    font-size: 14px;
  }
}

.color-label {
  padding: 3px 4px;
}

.label-subscription {
  display: inline-block;
}

.dropdown-labels-error {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: $gl-danger;
  color: $white-light;
}
