.page-title {
  .btn-upload-license {
    margin-right: 10px;
  }
}

.blank-state-container {
  margin-top: 35px;

  .trial-description {
    color: $gl-gray-light;
  }

  .btn-start-trial {
    margin-top: 10px;
  }
}