$head_line:               #effdeb;
$head_gutter:             #daface;
$selected_head_gutter:    #b2ee9e;
$selected_head_line:      #d4f5c9;

$origin_line:             #f2f9ff;
$origin_gutter:           #e0f0ff;
$selected_origin_gutter:  #a3d3ff;
$selected_origin_line:    #cee4f9;

$unselected_gutter:       #eee;
$unselected_line:         #f8f8f8;


#conflicts {

  .diff-wrap-lines .line_content {
    white-space: normal;
    min-height: 19px;
  }

  .header.line_content, .diff-line-num {
    &.origin {
      background-color: $origin_gutter;
      &.selected {
        background-color: $selected_origin_gutter;
      }
      &.unselected {
        background-color: $unselected_gutter;
      }
    }
    &.head {
      background-color: $head_gutter;
      &.selected {
        background-color: $selected_head_gutter;
      }
      &.unselected {
        background-color: $unselected_gutter;
      }
    }
  }

  .line_content {
    &.origin {
      background-color: $origin_line;
      &.selected {
        background-color: $selected_origin_line;
      }
      &.unselected {
        background-color: $unselected_line;
      }
    }
    &.head {
      background-color: $head_line;
      &.selected {
        background-color: $selected_head_line;
      }
      &.unselected {
        background-color: $unselected_line;
      }
    }
  }

  .line_content.header {
    position: relative;

    button {
      border-radius: 4px;
      border: 1px solid #e1e1e1;
      background: #fff;
      font-size: 10px;
      position: absolute;
      right: 10px;
      height: 17px;
      line-height: 4px; // FIXME: 4px?
      top: 1px;
      outline: none;
    }
  }

  .btn-success .fa-spinner {
    color: #FFF;
  }
}
