@import '../page_bundles/mixins_and_variables_and_functions';

.ml-experiment-row {
  .title {
    margin-bottom: $gl-spacing-scale-1;
    font-weight: $gl-font-weight-bold;
  }

  .ml-experiment-info {
    color: $gl-text-color-secondary;
  }

  a {
    color: $gl-text-color;
  }
}

table.ml-candidate-table {
  table-layout: fixed;

  tr td,
  tr th {
    padding: $gl-padding-8;

    > * {
      @include gl-display-block;
      @include gl-text-truncate;
    }
  }
}

table.candidate-details {
  td {
    padding: $gl-spacing-scale-3;
  }
}
