.js-pipeline-schedule-form {
  .dropdown-select,
  .dropdown-menu-toggle {
    width: 100% !important;
  }

  .gl-field-error {
    margin: 10px 0 0;
  }
}

.interval-pattern-form-group {
  label {
    margin-right: 10px;
    font-weight: $gl-font-weight-normal;

    &[for='custom'] {
      margin-right: 0;
    }
  }

  .cron-interval-input-wrapper {
    padding-left: 0;
  }

  .cron-interval-input {
    margin: 10px 10px 0 0;
  }

  .cron-syntax-link-wrap {
    margin-right: 10px;
    font-size: 12px;
  }
}

.pipeline-schedule-table-row {
  .branch-name-cell {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    svg {
      vertical-align: middle;
    }
  }

  .next-run-cell {
    color: $gl-text-color-secondary;
  }

  a {
    color: $text-color;
  }
}

.pipeline-schedules-user-callout {
  .bordered-box.content-block {
    border: 1px solid $border-color;
    background-color: transparent;
    padding: 16px;
  }

  #dismiss-callout-btn {
    color: $gl-text-color;
  }
}

.cron-preset-radio-input {
  display: inline-block;

  @media (max-width: $screen-md-max) {
    display: block;
    margin: 0 0 5px 5px;
  }

  input {
    margin-right: 3px;
  }
}
