.avatar-image {
  margin-bottom: $grid-size;

  .avatar {
    float: none;
  }

  @include media-breakpoint-up(sm) {
    float: left;
    margin-bottom: 0;
  }
}

.avatar-file-name {
  position: relative;
  top: 2px;
  display: inline-block;
}

.account-well {
  padding: 10px;
  background-color: $gray-light;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;

  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.user-avatar-button {
  .file-name {
    display: inline-block;
    padding-left: 10px;
  }
}

.subkeys-list {
  @include basic-list;

  li {
    padding: 3px 0;
    border: 0;
  }
}

.key-list-item {
  .key-list-item-info {
    @include media-breakpoint-up(sm) {
      float: left;
    }
  }
}

.ssh-keys-list {
  .last-used-at,
  .expires,
  .key-created-at {
    line-height: 32px;
  }
}

.key-created-at {
  line-height: 42px;
}

.provider-btn-group {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid $border-color;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.social-provider-btn-image {
  > img {
    width: 16px;
    vertical-align: inherit;
  }
}

.provider-btn-image {
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid $border-color;

  > img {
    width: 20px;
  }
}

.provider-btn {
  display: inline-block;
  padding: 5px 10px;
  margin-left: -3px;
  line-height: 22px;
  background-color: $gray-light;
}

.oauth-applications {
  form {
    display: inline-block;
  }

  .last-heading {
    width: 105px;
  }
}

.modal-profile-crop {
  .modal-dialog {
    width: 380px;

    @include media-breakpoint-down(xs) {
      width: auto;
    }
  }

  .profile-crop-image-container {
    height: 300px;
    margin: 0 auto;
  }

  .crop-controls {
    padding: 10px 0 0;
    text-align: center;
  }
}

.created-personal-access-token-container {
  .btn-clipboard {
    border: 1px solid $border-color;
  }
}

table.u2f-registrations {
  th:not(:last-child),
  td:not(:last-child) {
    border-right: solid 1px transparent;
  }
}

.codes {
  padding-top: 14px;
}

.oauth-application-show {
  .scopes-list {
    padding-left: 18px;
  }
}

.user-callout {
  margin: 20px -5px 0;

  .bordered-box {
    padding: 32px;
    border: 1px solid $blue-300;
    border-radius: $border-radius-default;
    background-color: $blue-50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing {
    padding: 32px;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;

    .dismiss-icon {
      float: right;
      cursor: pointer;
      color: $blue-300;
    }

    &:hover {
      background-color: transparent;
      border: 0;

      .dismiss-icon {
        color: $blue-400;
      }
    }
  }

  .svg-container {
    margin-right: 30px;
    display: inline-block;

    svg {
      height: 110px;
      vertical-align: top;
    }

    &.convdev {
      margin: 0 0 0 30px;

      svg {
        height: 127px;
      }
    }
  }

  .user-callout-copy {
    display: inline-block;
    vertical-align: top;
    max-width: 570px;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;

    .bordered-box {
      display: block;
    }

    .svg-container,
    .user-callout-copy {
      margin: 0 auto;
      display: block;

      svg {
        height: 75px;
      }

      &.convdev {
        margin: $gl-padding auto 0;

        svg {
          height: 120px;
        }
      }
    }
  }
}

.edit-user {
  svg {
    fill: $gl-text-color-secondary;
  }

  .form-group > label {
    font-weight: $gl-font-weight-bold;
  }

  .form-group > .form-text {
    font-size: $gl-font-size;
  }

  .emoji-menu-toggle-button {
    @include emoji-menu-toggle-button;
    padding: 6px 10px;

    .no-emoji-placeholder {
      position: relative;
    }
  }

  @include media-breakpoint-down(sm) {
    .input-md,
    .input-lg {
      max-width: 100%;
    }
  }
}

.help-block {
  color: $gl-text-color-secondary;
}

.gitlab-slack-slack-logo {
  transform: scale(200%); // Slack logo SVG is scaled down 50% and has empty space around it
}
