.account-page {
  fieldset {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.btn-build-token {
  float: left;
  padding: 6px 20px;
  margin-right: 12px;
}

.profile-avatar-form-option {
  hr {
    margin: 10px 0;
  }
}

.oauth-buttons {
  .btn-group {
    margin-right: 10px;
  }

  .btn {
    line-height: 40px;
    height: 42px;
    padding: 0px 12px;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

// Profile > Account > Two Factor Authentication
.two-factor-new {
  .manual-instructions {
    h3 {
      margin-top: 0;
    }

    // Slightly increase the size of the details so they're easier to read
    dl {
      font-size: 1.1em;
    }
  }
}

.calendar-hint {
  margin-top: -12px;
  float: right;
  font-size: 12px;
}

.profile-link-holder {
  display: inline;

  &:after {
    content: "\00B7";
    padding: 0px 6px;
    font-weight: bold;
  }

  &:last-child {
    &:after {
      content: "";
      padding: 0;
    }
  }

  a {
    color: $blue-dark;
    text-decoration: none;
  }
}
