.user-callout.promotion-callout {
  margin: 20px 0 0;

  .bordered-box {
    padding: 20px;
    border-color: $border-color;
    background-color: $white-light;
    align-items: flex-start;

    .user-callout-copy {
      max-width: inherit;
    }

    .close {
      .dismiss-icon {
        color: $gray-darkest;
      }

      &:hover {
        .dismiss-icon {
          color: $text-color;
        }
      }
    }

    .svg-container {
      margin-right: 15px;
    }
  }
}
