.user-callout.promotion-callout {
  margin: 20px 0 0;

  &.prepend-top-10 { margin-top: 10px; }

  .bordered-box {
    padding: 20px;
    border-color: $border-color;
    background-color: $white-light;
    align-items: flex-start;

    .user-callout-copy {
      max-width: inherit;
    }

    .close {
      .dismiss-icon {
        color: $gray-darkest;
      }

      &:hover {
        .dismiss-icon {
          color: $text-color;
        }
      }
    }

    .svg-container {
      margin-right: 15px;
    }
  }
}

.promotion-modal {
  .modal-header {
    border-bottom: none;
  }

  .modal-body {
    margin-top: -20px;
  }

  .modal-footer {
    border-top: none;
  }
}
