.ci-body {
  .runner-state {
    padding: 6px 12px;
    margin-right: 10px;
    color: #FFF;

    &.runner-state-shared {
      background: #32b186;
    }
    &.runner-state-specific {
      background: #3498db;
    }
  }

  .runner-status-online {
    color: green;
  }

  .runner-status-offline {
    color: gray;
  }

  .runner-status-paused {
    color: red;
  }

  .runner {
    .btn {
      padding: 1px 6px;
    }

    h4 {
      font-weight: normal;
    }
  }
}
