.runner-state {
  padding: 6px 12px;
  margin-right: 10px;
  color: $white-light;

  &.runner-state-shared {
    background: $runner-state-shared-bg;
  }

  &.runner-state-specific {
    background: $runner-state-specific-bg;
  }
}

.runner-status-online {
  color: $runner-status-online-color;
}

.runner-status-offline {
  color: $runner-status-offline-color;
}

.runner-status-paused {
  color: $runner-status-paused-color;
}

.runner {
  .btn {
    padding: 1px 6px;
  }

  h4 {
    font-weight: $gl-font-weight-normal;
  }
}

.admin-runner-btn-group-cell {
  min-width: 150px;

  .btn-sm {
    padding: 4px 9px;
  }

  .btn-default {
    color: $gl-text-color-secondary;
  }

  .fa-pause,
  .fa-play {
    font-size: 11px;
  }
}

@media (max-width: $screen-md-max) {
  .runners-content {
    width: 100%;
    overflow: auto;
  }
}
