.visibility-level-setting {
  .option-description,
  .option-disabled-reason {
    color: var(--gray-700, $gray-700);
  }

  .option-disabled-reason {
    display: none;
  }

  .disabled {
    svg {
      opacity: 0.5;
    }

    .option-description {
      display: none;
    }

    .option-disabled-reason {
      display: block;
    }
  }
}

.saml-settings.info-well {
  .form-control[readonly] {
    background: var(--white, $white);
  }
}

// doorkeeper-authorize refers to an element rendered by 'doorkeeper' gem, do not remove unless removing doorkeeper gem
.doorkeeper-authorize {
  max-width: px-to-rem(500px);
}

.settings-section::after {
  content: '';
  display: block;
  margin-bottom: $gl-spacing-scale-7;
}

.settings-section,
.settings-section-no-bottom ~ .settings-section {
  padding-top: 0;
}

// Fix for sticky header when there is no search bar.
.flash-container + .settings-section {
  padding-top: $gl-spacing-scale-3;
}

.settings-section:not(.settings-section-no-bottom) ~ .settings-section {
  @apply gl-border-t;
  padding-top: $gl-spacing-scale-6;
}

.settings-section-no-bottom::after {
  padding-bottom: 0 !important;

  @include media-breakpoint-up(sm) {
    padding-bottom: $gl-spacing-scale-5;
  }
}

$sticky-header-z-index: 98;

.settings-sticky-header,
.settings-sticky-footer {
  position: sticky;
  @apply gl-bg-default;
}

.settings-sticky-header {
  z-index: $sticky-header-z-index;
  top: $calc-application-header-height;

  &::before {
    content: '';
    display: block;
    height: $gl-padding-8;
    position: sticky;
    top: calc(#{$calc-application-header-height} + 36px);
    box-shadow: 0 1px 0 var(--gl-border-color-default);
  }
}

.settings-sticky-header-inner {
  position: sticky;
  padding: $gl-padding-12 $gl-padding $gl-padding-8;
  margin: #{-$gl-padding} #{-$gl-padding} 0;
  @apply gl-bg-default;
}

.settings-sticky-footer {
  z-index: #{$sticky-header-z-index +1};
  bottom: 0;
  padding: $gl-padding-8 0;
  box-shadow: 0 -1px 0 var(--gl-border-color-default);
}

// Header shouldn't be sticky if only one section on page
.settings-sticky-header:first-of-type:last-of-type {
  position: static;
}
