.triggers-container {
  .label-container {
    display: inline-block;
    margin-left: 10px;
  }
}

.trigger-description {
  max-width: 100px;
}

.trigger-actions {
  white-space: nowrap;
}

.auto-devops-card {
  margin-bottom: $gl-vert-padding;
}
