.triggers-container {
  .label-container {
    display: inline-block;
    margin-left: 10px;
  }
}

.trigger-actions {
  white-space: nowrap;

  .btn {
    margin-left: 10px;
  }
}

.registry-placeholder {
  min-height: 60px;
}
