table .sherlock-code {
  max-width: 700px;
}

.sherlock-code {
  pre {
    word-wrap: normal;

    code {
      white-space: pre;
    }
  }
}

.sherlock-line-samples-table {
  margin-bottom: 0 !important;

  thead tr th,
  tbody tr td {
    font-size: 13px !important;
    text-align: right;
    padding: 0 10px !important;
  }

  .slow {
    color: $red-500;
    font-weight: $gl-font-weight-bold;
  }
}

.sherlock-file-sample pre {
  padding-top: 28px !important;
}
