.snippet-form-holder .file-holder .file-title {
  padding: 2px;
}


.snippet-row {
  .snippet-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 2px;

    .monospace {
      font-weight: normal;
    }
  }

  .snippet-info {
    color: #888;
    font-size: 13px;
    line-height: 24px;

    a {
      color: #888;
    }
  }
}

.snippet-holder {
  margin-bottom: -$gl-padding;

  .file-holder {
    border-top: 0;
  }

  .file-actions {
    .btn-clipboard {
      @extend .btn;
    }
  }
}

.snippet-box {
  @include border-radius(2px);

  display: block;
  float: left;
  padding: 0 $gl-padding;
  font-weight: normal;
  margin-right: 10px;
  font-size: $gl-font-size;
  border: 1px solid;
  line-height: 40px;
}
