.snippet-form-holder .file-holder .file-title {
  padding: 2px;
}


.snippet-row {
  .snippet-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 2px;

    .monospace {
      font-weight: normal;
    }
  }

  .snippet-info {
    color: #888;
    font-size: 13px;
    line-height: 24px;

    a {
      color: #888;
    }
  }
}

.snippet-holder {
  .snippet-details {
    .page-title {
      margin-top: -15px;
      padding: 10px 0;
      margin-bottom: 0;
      color: #5c5d5e;
      font-size: 16px;

      .author {
        color: #5c5d5e;
      }

      .snippet-id {
        color: #5c5d5e;
      }
    }

    .snippet-title {
      margin: 0;
      font-size: 23px;
      color: #313236;
    }

    @media (max-width: $screen-md-max) {
      .new-snippet-link {
        display: none;
      }
    }

    @media (max-width: $screen-sm-max) {
      .creator,
      .page-title .btn-close {
        display: none;
      }
    }
  }

  .file-holder {
    border-top: 0;
  }
}


.snippet-box {
  @include border-radius(2px);

  display: inline-block;
  padding: 10px $gl-padding;
  font-weight: normal;
  margin-right: 10px;
  font-size: $gl-font-size;
  border: 1px solid;
}
