.ci-status {
  padding: 2px 7px;
  margin-right: 5px;
  border: 1px solid #EEE;
  white-space: nowrap;
  @include border-radius(4px);

  &:hover {
    text-decoration: none;
  }

  &.ci-failed {
    color: $gl-danger;
    border-color: $gl-danger;
  }

  &.ci-success {
    color: $gl-success;
    border-color: $gl-success;
  }

  &.ci-info {
    color: $gl-info;
    border-color: $gl-info;
  }

  &.ci-disabled {
    color: $gl-gray;
    border-color: $gl-gray;
  }

  &.ci-pending,
  &.ci-running {
    color: $gl-warning;
    border-color: $gl-warning;
  }
}

.ci-status-icon-success {
  @extend .cgreen;
}
.ci-status-icon-failed {
  @extend .cred;
}
.ci-status-icon-running,
.ci-status-icon-pending {
  // These are standard text color
}
.ci-status-icon-canceled,
.ci-status-icon-disabled,
.ci-status-icon-not-found,
.ci-status-icon-skipped {
  @extend .cgray;
}
