.tint-box {
  background: $stat-graph-common-bg;
  position: relative;
  margin-bottom: 10px;
}

.area {
  fill: $stat-graph-area-fill;
  fill-opacity: 0.5;
}

.axis {
  font-size: 10px;
}

#contributors-master {
  @include media-breakpoint-up(md) {
    @include make-col(12);
  }

  svg {
    width: 100%;
  }
}

#contributors {
  .contributors-list {
    margin: 0 0 10px;
    list-style: none;
    padding: 0;

    svg {
      width: 100%;
    }
  }

  .person {
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    margin-top: 10px;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    .spark {
      display: block;
      background: $stat-graph-common-bg;
      width: 100%;
    }

    .area-contributor {
      fill: $stat-graph-orange-fill;
    }
  }
}

.selection rect {
  fill-opacity: 0.1;
  stroke-width: 1px;
  stroke-opacity: 0.4;
  shape-rendering: crispedges;
  stroke-dasharray: 3 3;
}
