.tree-holder {
  .tree-content-holder {
    float: left;
    width: 100%;
  }

  .tree_progress {
    display: none;
    margin: 20px;
    &.loading {
      display: block;
    }
  }

  .tree-table {
    @extend .table;
    @include border-radius(0);

    tr {
      &:hover {
        td {
          background: $hover;
          border-top: 1px solid #ADF;
          border-bottom: 1px solid #ADF;
        }
        cursor: pointer;
      }
      &.selected {
        td {
          background: $background-color;
          border-top: 1px solid #EEE;
          border-bottom: 1px solid #EEE;
        }
      }
    }
  }

  .tree-item {
    .tree-item-file-name {
      max-width: 320px;
      vertical-align: middle;

      i, a {
        color: $gl-link-color;
      }

      img {
        position: relative;
        top:-1px;
      }
    }

    .tree_commit {
      max-width: 320px;
    }

    .tree_time_ago {
      min-width: 135px;
    }
  }

  .tree_author {
    padding-right: 8px;

    .commit-author-name {
      color: $gl-gray;
    }
  }

  .tree_commit {
    color: $gl-gray;

    .tree-commit-link {
      color: $gl-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.tree-ref-holder {
  float: left;
  margin-right: 15px;
}

.readme-holder {
  margin: 0 auto;

  .readme-file-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #777;
    border-bottom: 1px solid #DDD;
    padding: 10px 0;
  }
}

.blob-commit-info {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  .commit {
    padding: $gl-padding 0;

    .commit-row-title {
      .commit-row-message {
        font-weight: normal;
      }
    }
  }
}

#modal-remove-blob > .modal-dialog { width: 850px; }

.blob-upload-dropzone-previews {
  text-align: center;
  border: 2px;
  border-style: dashed;
  border-color: $border-color;
  min-height: 200px;
}

.upload-link {
  font-weight: normal;
  color: $md-link-color;
}
