/*
* A CSS cross-browser fix for  Select2 failire to display HTML5 required warnings
* MR link https://gitlab.com/gitlab-org/gitlab/-/merge_requests/22716
*/
.gl-select2-html5-required-fix div.select2-container+select.select2 {
  @include gl-opacity-0;
  @include gl-border-0;
  @include gl-bg-none;
  @include gl-bg-transparent;
  display: block !important;
  width: 1px;
  height: 1px;
  z-index: -1;
  margin: -3px auto 0;
}
