.user-sort-dropdown {
  margin-left: $gl-padding-8;
}

.user-search-form {
  position: relative;

  @include media-breakpoint-up(sm) {
    float: right;
  }

  .dropdown {
    width: 100%;
    margin-top: 5px;

    .dropdown-menu-toggle {
      vertical-align: middle;
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      width: 155px;
    }
  }

  .form-control {
    padding-right: 35px;
  }

  .search-control-wrap,
  .form-control {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 250px;
    }
  }
}

.user-search-btn {
  position: absolute;
  right: 4px;
  top: 0;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: $gray-darkest;
  background: transparent;
  border: 0;
  outline: 0;
}

.content-list.members-list li {
  display: flex;
  justify-content: space-between;

  .list-item-name {
    float: none;
    display: flex;
    flex: 1;
  }
}

.card-body .user-info {
  float: left;

  .user {
    color: $gl-text-color;
    font-weight: $gl-font-weight-bold;
  }
}
