.new-wiki-page {
  .new-wiki-page-slug-tip {
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
  }
}

.wiki-form {
  .edit-wiki-page-slug-tip {
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
  }
}

.title .edit-wiki-header {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 7px;
}

.wiki-page-header {
  @extend .top-area;
  position: relative;

  .wiki-breadcrumb {
    border-bottom: 1px solid $white-normal;
    padding: 11px 0;
  }

  .wiki-page-title {
    margin: 0;
    font-size: 22px;
  }

  .wiki-last-edit-by {
    display: block;
    color: $gl-text-color-secondary;

    strong {
      color: $gl-text-color;
    }
  }

  .light {
    font-weight: $gl-font-weight-normal;
    color: $gl-text-color-secondary;
  }

  .git-access-header {
    padding: $gl-padding 0 $gl-padding-top;
  }

  .git-clone-holder {
    width: 100%;
    padding-bottom: 40px;
  }

  button.sidebar-toggle {
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
  }

  @media (min-width: $screen-sm-min) {
    &.has-sidebar-toggle {
      padding-right: 40px;
    }

    .git-clone-holder {
      width: 480px;
      padding-bottom: $gl-padding;
    }

    .nav-controls {
      width: auto;
      min-width: 50%;
    }
  }

  @media (min-width: $screen-md-min) {
    &.has-sidebar-toggle {
      padding-right: 0;
    }

    button.sidebar-toggle {
      display: none;
    }
  }
}

.wiki-git-access {
  margin: $gl-padding 0;

  h3 {
    font-size: 19px;
    font-weight: $gl-font-weight-normal;
    margin: $gl-padding 0;
  }
}

.right-sidebar.wiki-sidebar {
  padding: 0;

  &.right-sidebar-collapsed {
    display: none;
  }

  .sidebar-container {
    padding: $gl-padding 0;
    width: calc(100% + 100px);
    padding-right: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .blocks-container {
    padding: 0 $gl-padding;
  }

  .block {
    width: 100%;
  }

  a {
    color: $layout-link-gray;

    &:hover,
    &.active {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  .active > a {
    color: $black;
  }

  ul.wiki-pages,
  ul.wiki-pages li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.wiki-pages li {
    margin: 5px 0 10px;
  }

  ul.wiki-pages ul {
    padding-left: 15px;
  }

  .wiki-sidebar-header {
    padding: 0 $gl-padding $gl-padding;

    .gutter-toggle {
      margin-top: 0;
    }
  }
}

ul.wiki-pages-list.content-list {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 15px;

    li {
      padding: 5px 0;
    }
  }
}

.wiki-holder {
  overflow-x: auto;
  overflow-y: hidden;
}

.wiki {
  table {
    @include markdown-table;
  }
}
