.title .edit-wiki-header {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 7px;
}

.top-area {
  position: relative;

  button.sidebar-toggle {
    position: absolute;
    right: 0;
    top: 11px;
    display: block;
  }

  @media (min-width: $screen-sm-min) {
    padding-right: 40px;
  }

  @media (min-width: $screen-md-min) {
    padding-right: 0;

    button.sidebar-toggle {
      display: none;
    }
  }
}

.wiki-page-header {
  @extend .top-area;

  .git-access-header {
    padding: 16px 0 11px;
    line-height: 28px;
    font-size: 18px;
  }

  .git-clone-holder {
    width: 480px;
    padding-bottom: 40px;
  }

  @media (max-width: $screen-xs-max) {
    .git-clone-holder {
      width: 100%;
    }
  }
}

.wiki-git-access {
  margin: $gl-padding 0;

  h3 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 1.4em;
  }
}

.right-sidebar.wiki-sidebar {
  padding: $gl-padding 0;

  &.right-sidebar-collapsed {
    display: none;
  }

  .blocks-container {
    padding: 0 $gl-padding;
  }

  .block {
    width: 100%;
  }

  a {
    color: $layout-link-gray;

    &:hover,
    &.active {
      color: $black;
    }
  }

  .active > a {
    color: $black;
  }

  ul.wiki-pages,
  ul.wiki-pages li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.wiki-pages li {
    margin: 5px 0 10px;
  }

  .wiki-sidebar-header {
    padding: 0 $gl-padding $gl-padding;

    .gutter-toggle {
      margin-top: 0;
    }
  }
}
