- add_to_breadcrumbs _('Runners'), group_runners_path(@group)
- breadcrumb_title s_('Runners|New')
- page_title s_('Runners|Create a group runner')

#js-group-new-runner{ data: { legacy_registration_token: @group_runner_registration_token, group_id: @group.to_global_id } }
