- service.fields.each do |field|
  TOPD
    / - name = field[:name]
    / - value = "V"#@service.send(name) unless field[:type] == 'password'
    / - type = field[:type]
    / - placeholder = field[:placeholder]
    / - choices = field[:choices]
    / - default_choice = field[:default_choice]

    / .form-group
    /   = f.label name, class: "control-label"
    /   .col-sm-10
    /     - if type == 'text'
    /       = f.text_field name, class: "form-control", placeholder: placeholder
    /     - elsif type == 'textarea'
    /       = f.text_area name, rows: 5, class: "form-control", placeholder: placeholder
    /     - elsif type == 'checkbox'
    /       = f.check_box name
    /     - elsif type == 'select'
    /       = f.select name, options_for_select(choices, value ? value : default_choice), {}, { class: "form-control" }
    /     - elsif type == 'password'
    /       = f.password_field name, class: 'form-control'
