- if Feature.enabled?(:allow_immediate_namespaces_deletion, current_user)
  - form = local_assigns.fetch(:form)
  - help_page_link = link_to('', help_page_path('administration/settings/visibility_and_access_controls.md', anchor: 'immediate-deletion'), target: '_blank', rel: 'noopener noreferrer')

  %fieldset.form-group.gl-form-group
    %legend.col-form-label
      = s_('DeletionSettings|Immediate deletion')
    = form.gitlab_ui_checkbox_component :allow_immediate_namespaces_deletion, s_('ImmediateNamespacesDeletionSettings|Allow immediate deletion') do |c|
      - c.with_help_text do
        = safe_format(s_('ImmediateNamespacesDeletionSettings|Immediately delete groups and projects scheduled for deletion and bypass the configured retention period. %{link_start}Learn more.%{link_end}'), tag_pair(help_page_link, :link_start, :link_end))
