%fieldset
  %legend Repository Remote mirror settings
  .form-group
    = f.label :remote_mirror_available, 'Enable remote mirror configuration', class: 'control-label col-sm-2'
    .col-sm-10
      .checkbox
        = f.label :remote_mirror_available do
          = f.check_box :remote_mirror_available
          Allow remote mirrors to be setup for projects
      %span.help-block
        If disabled, only admins will be able to setup remote mirrors in projects.
        = link_to icon('question-circle'), help_page_path('workflow/repository_mirroring', anchor: 'pushing-to-a-remote-repository')
