- breadcrumb_title "Settings"
- page_title "Settings"
- @content_class = "limit-container-width" unless fluid_layout
- expanded = Rails.env.test?

= render_if_exists 'admin/application_settings/geo', expanded: expanded
