- return unless performance_bar_enabled?

#js-peek{ data: { env: Peek.env,
         request_id: peek_request_id,
         stats_url: ENV.fetch('GITLAB_PERFORMANCE_BAR_STATS_URL', ''),
         peek_url: "#{peek_routes_path}/results",
         request_method: request.method, },
         class: Peek.env }
