- unless defined?(project)
  - project = @project
- if @commits.size > MergeRequestDiff::COMMITS_SAFE_SIZE
  - commits = @commits.first(MergeRequestDiff::COMMITS_SAFE_SIZE)
  - overflow = true
- else
  - commits = @commits
  - overflow = false

- commits.group_by { |c| c.committed_date.to_date }.sort.reverse.each do |day, commits|
  .row.commits-row
    .col-md-2.hidden-xs.hidden-sm
      %h5.commits-row-date
        %i.fa.fa-calendar
        %span= day.strftime('%d %b, %Y')
      .light
        = pluralize(commits.count, 'commit')
    .col-md-10.col-sm-12
      %ul.bordered-list
        = render commits, project: project
  %hr.lists-separator

- if overflow
  .alert.alert-warning
    Not shown: #{@commits.size - MergeRequestDiff::COMMITS_SAFE_SIZE} more commits
