- commits = @commits
- hidden = @hidden_commit_count
- commits = Commit.decorate(commits, @project)

= render ::Layouts::CrudComponent.new(s_('CompareRevisions|Commits on Source'),
  count: @total_commit_count,
  is_collapsible: true,
  options: { class: 'gl-mb-5' },
  footer_options: { class: 'gl-bg-orange-50' }) do |c|
  - c.with_body do
    - if hidden > 0
      %ul.content-list
        - commits.each do |commit|
          = render "projects/commits/inline_commit", commit: commit, project: @project
    - else
      %ul.content-list= render commits, project: @project, ref: @ref
  - if hidden > 0
    - c.with_footer do
      #{number_with_delimiter(hidden)} additional commits have been omitted to prevent performance issues.
