- commits, hidden = limited_commits(@commits)
- commits = Commit.decorate(commits, @project)

.card
  .card-header
    Commits (#{@commits.count})
  - if hidden > 0
    %ul.content-list
      - commits.each do |commit|
        = render "projects/commits/inline_commit", commit: commit, project: @project
      %li.warning-row.unstyled
        #{number_with_delimiter(hidden)} additional commits have been omitted to prevent performance issues.
  - else
    %ul.content-list= render commits, project: @project, ref: @ref
