- unless defined?(project)
  - project = @project

- @commits.group_by { |c| c.committed_date.to_date }.sort.reverse.each do |day, commits|
  .row.commits-row
    .col-md-2
      %h4
        %i.fa.fa-calendar
        %span= JalaliDate.new(day).strftime("%A %d %b %Y")
      %p= pluralize(commits.count, 'commit')
    .col-md-10
      %ul.bordered-list
        = render commits, project: project
  %hr.lists-separator
