- unless defined?(project)
  - project = @project

- commits, hidden = limited_commits(@commits)

- commits.group_by { |c| c.committed_date.to_date }.sort.reverse.each do |day, commits|
  .row.commits-row
    .col-md-12.col-sm-12
      %ul.content-list
        %li.commit-header
          .light
            %span
              = day.strftime('%d %b, %Y')
            &#8226;
            = pluralize(commits.count, 'commit')
        = render commits, project: project
  %hr.lists-separator

- if hidden > 0
  .alert.alert-warning
    #{number_with_delimiter(hidden)} additional commits have been omitted to prevent performance issues.
