%li.commit.inline-commit
  .commit-row-title
    = link_to commit.short_id(8), project_commit_path(project, commit), class: "commit_short_id"
    &nbsp;
    %span.str-truncated
      = link_to_gfm commit.title, project_commit_path(project, commit.id), class: "commit-row-message"
    .pull-right
      #{time_ago_with_tooltip(commit.committed_date)}
