%li.commit.inline-commit
  .commit-row-title
    = link_to commit.short_id, project_commit_path(project, commit), class: "commit-sha"
    &nbsp;
    %span.str-truncated
      = link_to_markdown_field(commit, :title, project_commit_path(project, commit.id), class: "commit-row-message")
    .float-right
      #{time_ago_with_tooltip(commit.committed_date)}
