.issue-count-badge,
.mr-count-badge {
  display: inline-flex;
  border-radius: $border-radius-base;
  padding: 5px $gl-padding-8;
}

.issue-count-badge-count,
.mr-count-badge-count {
  display: inline-flex;
  align-items: center;
}
