.issue-count-badge {
  display: inline-flex;
  border-radius: $border-radius-base;
  border: 1px solid $border-color;
  padding: 5px 8px;
}

.issue-count-badge-count {
  display: inline-flex;
  align-items: center;
}
