.related-issues-block {
  margin-top: 3 * $gl-vert-padding;
}

.related-issues-panel-title {
  display: flex;
  justify-content: space-between;
}

.related-issues-header-help-icon {
  margin-left: 0.25em;
  color: $gl-text-color-secondary;
}

.related-issues-header-issue-count {
  margin-left: 0.5em;
}

.related-issues-add-related-issues-form-with-break {
  border-bottom: 1px solid $border-color;
}

.related-issues-token-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.related-issues-token-list-item {
  max-width: 100%;
  margin-bottom: 0.5em;
  margin-right: 1em;
}
