%li
  .file_holder
    .file_title
      = link_to project_blob_path(blob[:project], tree_join(blob[:blob].ref, blob[:blob].filename), :anchor => "L" + blob[:blob].startline.to_s) do
        %i.icon-file
        %strong
          = blob[:blob].filename
    .file_content.code.term
      %div{class: user_color_scheme_class}
        = raw blob[:blob].colorize( formatter: :gitlab, options: { first_line_number: blob[:blob].startline } )
