= render_if_exists 'shared/promotions/promote_advanced_search'

.gl-w-full.gl-flex-grow-1.gl-overflow-x-hidden
  = render partial: 'search/results_status' unless @search_objects.to_a.empty?
  = render partial: 'search/results_list'
