- return unless @search_service_presenter.show_results_status?

- if Feature.enabled?(:search_page_vertical_nav, current_user)
  = render partial: 'search/results_status_vert_nav'
- else
  = render partial: 'search/results_status_horiz_nav'
