- @hide_top_links = true
- breadcrumb_title "Search"
- page_title @search_term

.prepend-top-default
  = render 'search/form'
- if @search_term
  = render 'search/category'
  = render 'search/results'
