.row.empty-state.activities
  .col-xs-12.col-sm-6.pull-right
    .svg-content
      = render 'shared/empty_states/icons/activities.svg'
  .col-xs-12.col-sm-6
    .text-content
      %h4
        The Activity tab will give you a glimpse of what's going on in your projects.
      %p
        See comments, push, and merge events from your teammates.
