.row.empty-state.groups
  .pull-right.col-xs-12.col-sm-6
    .svg-content
      = render 'shared/empty_states/icons/groups.svg'
  .col-xs-12.col-sm-6
    .text-content
      %h4
        A group is a collection of several projects.
      %p
        If you organize your projects under a group, it works like a folder.
        You can manage your group member’s permissions and access to each project in the group.
