- learn_more_path = local_assigns.fetch(:learn_more_path, help_page_path('user/project/milestones/_index.md'))
- learn_more_link = link_to _('Learn more.'), learn_more_path
- closed_tab_selected = params[:state] == 'closed'
- title = s_('Milestones|There are no open milestones')
- if closed_tab_selected
  - title = s_('Milestones|There are no closed milestones')

- if params[:search_title]
  = render ::Layouts::EmptyResultComponent.new(type: :search)

- else
  = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-milestone-md.svg',
    title: title) do |c|

    - c.with_description do
      = s_('Milestones|Create a milestone to better track your issues and merge requests. %{learn_more_link}').html_safe % { learn_more_link: learn_more_link }
      - if yield.present?
        .gl-flex.gl-flex-wrap.gl-mt-5.gl-justify-center
          = yield
