.row.empty-state
  .col-12
    .svg-content
      = image_tag 'illustrations/labels.svg'
    .text-content.gl-text-center.gl-pt-0!
      %h4= _('There are no topics to show.')
      %p= _('Add topics to projects to help users find them.')
