.row.empty-state
  .col-12
    .svg-content.svg-150
      = image_tag 'illustrations/empty-state/empty-labels-md.svg'
    .text-content.gl-text-center.gl-pt-0!
      %h4= _('There are no topics to show.')
      %p= _('Add topics to projects to help users find them.')
