.protected-branches-list.js-protected-branches-list
  - if @protected_branches.empty?
    .card-header
      %h3.card-title
        Protected branch (#{@protected_branches_count})
    %p.settings-message.text-center
      There are currently no protected branches, protect a branch with the form above.
  - else
    %table.table.table-bordered
      %colgroup
        %col{ width: "20%" }
        %col{ width: "20%" }
        %col{ width: "20%" }
        %col{ width: "20%" }
        - if can_admin_project
          %col
      %thead
        %tr
          %th Protected branch (#{@protected_branches_count})
          %th Last commit
          %th Allowed to merge
          %th Allowed to push
          - if can_admin_project
            %th
      %tbody
        %tr
          %td.flash-container{ colspan: 5 }
        = yield

    = paginate @protected_branches, theme: 'gitlab'
