- is_hidden = local_assigns.fetch(:hidden, Gitlab.dev_env_or_com?)

.gl-mb-3.js-email-opt-in{ class: is_hidden ? 'hidden' : '' }
  .gl-font-weight-bold.gl-mb-3
    = _('Email updates (optional)')
  = f.check_box :email_opted_in
  = f.label :email_opted_in, _("I'd like to receive updates about GitLab via email"), class: 'gl-font-weight-normal'
