.omniauth-container
  %p
    %span.light
      Sign in with &nbsp;
    - providers = enabled_button_based_providers
    - providers.each do |provider|
      %span.light
        - has_icon = provider_has_icon?(provider)
        = link_to provider_image_tag(provider), omniauth_authorize_path(:user, provider), method: :post, class: 'oauth-login' + (has_icon ? ' oauth-image-link' : ' btn'), id: "oauth-login-#{provider}"
    %fieldset.prepend-top-10.form-check.remember-me
      %label
        = check_box_tag :remember_me, nil, false, class: 'remember-me-checkbox'
        %span
          Remember me
