- button_options = { class: local_assigns[:classes], data: data, form: { class: 'js-omniauth-form' } }

= render Pajamas::ButtonComponent.new(href: href, method: :post, form: true, block: true, button_options: button_options) do
  - if provider_has_icon?(provider)
    = provider_image_tag(provider)
  %span.gl-button-text
    = label_for_provider(provider)
