.gl-mb-3.gl-p-4
  = yield :omniauth_providers_top if show_omniauth_providers

  = render 'devise/shared/signup_box_form',
    button_text: button_text,
    url: url,
    show_omniauth_providers: omniauth_enabled? && button_based_providers_enabled?,
    tracking_label: tracking_label
