= render 'devise/shared/omniauth_provider_button',
  href: href,
  provider: provider,
  classes: 'js-track-omni-auth',
  data: { provider: provider, track_action: "#{provider}_sso", track_label: tracking_label }
