- if Feature.disabled?(:restyle_login_page, @project)
  .omniauth-divider.gl-display-flex.gl-align-items-center
    = _("or")
= render 'devise/shared/signup_omniauth_provider_list', providers: enabled_button_based_providers
