= gl_tabs_nav({ class: 'nav-tabs nav-links new-session-tabs' }) do
  = gl_tab_link_to tab_title, '#', { item_active: true, class: 'gl-cursor-default!', tabindex: '-1', data: { testid: 'sign-in-tab' } }
