%ul.nav-links.new-session-tabs.nav-tabs.nav{ role: 'tablist' }
  %li.nav-item{ role: 'presentation' }
    %a.nav-link.active{ href: '#login-pane', data: { toggle: 'tab' }, role: 'tab' } Sign in
  - if allow_signup?
    %li.nav-item{ role: 'presentation' }
      %a.nav-link{ href: '#register-pane', data: { toggle: 'tab' }, role: 'tab' } Register
