- tab_title = local_assigns.fetch(:tab_title, _('Sign in'))
- render_signup_link = local_assigns.fetch(:render_signup_link, true)

%ul.nav-links.new-session-tabs.nav-tabs.nav{ role: 'tablist' }
  %li.nav-item{ role: 'presentation' }
    %a.nav-link.active{ href: '#login-pane', data: { toggle: 'tab', qa_selector: 'sign_in_tab' }, role: 'tab' }= tab_title
  - if render_signup_link && allow_signup?
    %li.nav-item{ role: 'presentation' }
      %a.nav-link{ href: '#register-pane', data: { track_label: 'sign_in_register', track_property: '', track_event: 'click_button', track_value: '', toggle: 'tab', qa_selector: 'register_tab' }, role: 'tab' } Register
