- return unless Gitlab::CurrentSettings.current_application_settings.enforce_terms?

- css_class = local_assigns.fetch(:css_class, 'gl-mt-5')

%p.gl-text-subtle.gl-mb-0{ class: css_class }
  = terms_service_notice_link(button_text)
