-#-----------------------------------------------------------------
  WARNING: Please keep changes up-to-date with the following files:
  - `assets/javascripts/diffs/components/commit_widget.vue`
-#-----------------------------------------------------------------
- collapsible = local_assigns.fetch(:collapsible, true)

- if @commit
  .info-well.mw-100.mx-0
    .well-segment
      %ul.blob-commit-info
        = render 'projects/commits/commit', commit: @commit, merge_request: @merge_request, view_details: true, collapsible: collapsible
