- page_title 'Knative'

%h3.page-title.with-button
  Knative

  - if can?(current_user, :create_cluster, @project)
    = link_to new_project_knative_path(@project), class: 'btn btn-new float-right', title: 'New Function' do
      New Function

%hr.clearfix

= render 'functions'

- if cluster_client = @project.clusters.first.application_knative.client
  = render 'triggers', locals: { cluster_client: cluster_client }

