- page_title 'Knative'

%h3.page-title.with-button
  Knative

%p.light
  With GitLab Knative

%hr.clearfix

- if cluster_client = @project.clusters.first.application_knative.client
  = render 'list', locals: { cluster_client: cluster_client }
- else
  = render 'use'
