- add_to_breadcrumbs "Functions", project_knative_index_path(@project)
- page_title 'New Function'
%h3.page-title
  New Function
%hr.clearfix
%div
  = form_for [@project, @serverless_function], url: project_knative_index_path(@project), html: { class: 'fieldset-form' } do |f|
    = render 'form', { f: f }
    .form-actions
      = f.submit 'Create New Function', class: "btn btn-save"
      .float-right
        = link_to _('Cancel'), project_knative_index_path(@project), class: 'btn btn-cancel'
