{
  "env": {
    "jasmine": true
  },
  "extends": "plugin:jasmine/recommended",
  "globals": {
    "appendLoadFixtures": false,
    "appendLoadStyleFixtures": false,
    "appendSetFixtures": false,
    "appendSetStyleFixtures": false,
    "getJSONFixture": false,
    "loadFixtures": false,
    "loadJSONFixtures": false,
    "loadStyleFixtures": false,
    "preloadFixtures": false,
    "preloadStyleFixtures": false,
    "readFixtures": false,
    "sandbox": false,
    "setFixtures": false,
    "setStyleFixtures": false,
    "spyOnDependency": false,
    "spyOnEvent": false,
    "ClassSpecHelper": false
  },
  "plugins": ["jasmine"],
  "rules": {
    "func-names": 0,
    "jasmine/no-suite-dupes": [1, "branch"],
    "jasmine/no-spec-dupes": [1, "branch"],
    "no-console": 0,
    "prefer-arrow-callback": 0
  }
}
