{
  "plugins": ["jasmine"],
  "env": {
    "jasmine": true
  },
  "extends": "plugin:jasmine/recommended",
  "rules": {
    "prefer-arrow-callback": 0,
    "func-names": 0
  },
  "globals": {
    "fixture": false,
    "spyOnEvent": false
  }
}
