- page_title 'IP Blocking: DNS Whitelists'
%h3 DNS Whitelists

= render 'admin/ip_blocking/nav'

.gray-content-block.clearfix
  = render 'admin/ip_blocking/dns_list_form', url: admin_ip_blocking_dns_whitelists_path
  = render 'admin/ip_blocking/search_dns_form'

= render 'admin/ip_blocking/dns_lists'
