- if can?(current_user, :create_deployment, @project)
  .inline{ "v-if" => "hasManualActions"}
    .dropdown
      %a.dropdown-new.btn.btn-default{type: "button", "data-toggle" => "dropdown"}
        = custom_icon('icon_play')
        = icon('caret-down')
        
        %ul.dropdown-menu.dropdown-menu-align-right
          %li{ "v-for" => "action in manualActions" }
            %a{ ":ref" => "action.play_url",
            "data-method" => "post",
            "rel" => "nofollow" }

              = custom_icon('icon_play')
              %span
                {{action.name}}