.branch-commit{"v-if" => "!isFolder && model.last_deployment"}
  .icon-container{ "v-if" => "model.last_deployment.ref && model.last_deployment.tag" }
    =icon("tag")

  .icon-container{ "v-if" => "model.last_deployment.ref && !model.last_deployment.tag" }
    =icon("code-fork")

  %a.monospace.branch-name{"v-if" => "model.last_deployment.ref", ":href" => "model.last_deployment.ref.ref_url"}
    {{model.last_deployment.ref.name}}
    
  .icon-container.commit-icon
    = custom_icon("icon_commit")

  %a.commit-id.monospace{":href" => "model.last_deployment.commit.commit_url"}
    {{model.last_deployment.commit.short_id}}
    
  %p.commit-title

    %span{ "v-if" => "model.last_deployment.commit && model.last_deployment.commit.title"}
      %a{"v-if" => "model.last_deployment.commit.author", ":href" => "model.last_deployment.commit.author.web_url"}
        %img.avatar.has-tooltip.s20{":title" => "model.last_deployment.commit.author.username",
        ":src" => "model.last_deployment.commit.author.avatar_url"}
      %a.commit-row-message{":href" => "model.last_deployment.commit.commit_url"}
        {{model.last_deployment.commit.title}}

    %span{ "v-if" => "!model.last_deployment.commit.title"}
      Cant find HEAD commit for this branch
