%script#environment-item-template{ "type"=> "text/x-template" }
  %tr.environment
    %td.environment-folder-name{ "@click" => "toggle" }
      %a{ "v-if" => "!isFolder", 
        ":href" => "'#{namespace_project_environments_path(@project.namespace, @project)}/' + model.id" }
        {{model.name}}
        
      %span{ "v-if" => "isFolder" }
        %i{ "v-show" => "open" }
          = icon("caret-down")

        %i{ "v-show" => "!open" }
          = icon("caret-right")
        
        {{model.name}}

    %td.deployment-column
      %span{ "v-if" => "!isFolder && model.last_deployment && model.last_deployment.iid" }
        {{model.last_deployment.iid}}

        by
        %span{ "v-if" => "model.last_deployment.user" }
          {{model.last_deployment.user.name}}

    %td
      %a{ "v-if" => "!isFolder && model.last_deployment && model.last_deployment.deployable",
        ":class" => "build-link",
        ":href" => "" }
        {{model.last_deployment.deployable.name}}  (## {{model.last_deployment.deployable.id}})

    %td
      %a{ "v-if" => "!isFolder && model.last_deployment" }
        column 4
      %p.commit-title{ "v-if" => "!isFolder && !model.last_deployment"}
        No deployments yet

    %td 
      %span{ "v-if" => "!isFolder && model.last_deployment" }
        {{model.last_deployment.created_at}}

    %td.hidden-xs
      .pull-right{ "v-if" => "!isFolder"}
        actions

  %tr.environment-children{ "v-show" => "open", 
    "v-if"=>"isFolder", 
    "v-for" => "child in model.children", 
    ":model" => "child" }

    %td
      %a{ ":href" => "'#{namespace_project_environments_path(@project.namespace, @project)}/' + child.id" }
        {{child.name}}
  
    %td.deployment-column
      %span{ "v-if" => "child.last_deployment && child.last_deployment.iid" }
        {{child.last_deployment.iid}}

        by
        %span{ "v-if" => "model.last_deployment.user" }
          {{child.last_deployment.user.name}}

    %td
      %a{ "v-if" => " child.last_deployment && child.last_deployment.deployable",
        ":class" => "build-link",
        ":href" => "" }
        {{model.last_deployment.deployable.name}}  (## {{model.last_deployment.deployable.id}})

    %td
      %a{ "v-if" => "child.last_deployment" }
        column 4
      %p.commit-title{ "v-if" => "!child.last_deployment"}
        No deployments yet

    %td 
      %span{ "v-if" => "child.last_deployment" }
        {{child.last_deployment.created_at}}

    %td.hidden-xs
      .pull-right{ "v-if" => "!isFolder"}
        actions