%environment-item{"inline-template" => true, 
  "v-for" => "environment in state.environments", 
  ":model" => "environment"}
  .name{"click" => "toggle"}
    %i{"v-if" => "isFolder && isOpen"}
      = icon("caret-down")
      %i{"v-if" => "isFolder && !isOpen"}
      = icon("caret-right")
    {{model.name}}
