- if can?(current_user, :create_deployment, @project) 
  %a.btn.btn-build{ "v-if" => "canRetry",
    ":href" => "model.last_deployment.deployable.retry_url",
    "data-method" => "post",
    "rel" => "nofollow" }

    %span{ "v-if" => "isLastDeployment" }
      Re-deploy
    %span{ "v-if" => "!isLastDeployment" }
      Rollback
