- @hide_breadcrumbs = true
- page_title _('Enter Admin Mode')

.row.justify-content-center
  .col-6.new-session-forms-container
    .login-page
      #signin-container
        = render 'admin/sessions/tabs_normal'
        .tab-content
          - if !current_user.require_password_creation_for_web?
            .login-box.tab-pane.active{ id: 'login-pane', role: 'tabpanel' }
              .login-body
                = render 'admin/sessions/new_base'

          - if omniauth_enabled? && button_based_providers_enabled?
            .clearfix
              = render 'devise/shared/omniauth_box'

          -# Show a message if none of the mechanisms above are enabled
          - if current_user.require_password_creation_for_web? && !omniauth_enabled?
            .prepend-top-default.center
              = _('No authentication methods configured.')
