- page_title _('Enter 2FA for Admin Mode')
- add_page_specific_style 'page_bundles/login'

.row.justify-content-center
  .col-md-5.new-session-forms-container
    .login-page
      #signin-container{ class: ('borderless' if Feature.enabled?(:restyle_login_page, @project)) }
        = render 'devise/shared/tab_single', tab_title: _('Enter admin mode')
        .tab-content
          .login-box.tab-pane.gl-p-5.active{ id: 'login-pane', role: 'tabpanel' }
            .login-body
              - if current_user.sign_in_with_codes_allowed?
                = render 'admin/sessions/two_factor_otp'
              - if current_user.two_factor_webauthn_enabled?
                = render 'authentication/authenticate', render_remember_me: false, target_path: admin_session_path
