- page_title _('Two-factor authentication for admin mode')
- add_page_specific_style 'page_bundles/login'

.row.gl-mt-5.justify-content-center
  .col-md-5
    .login-page
      = render 'devise/shared/totp_recovery_code_or_webauthn', admin_mode: true
