- page_title _('Two-factor authentication for admin mode')
- add_page_specific_style 'page_bundles/login'

.row.justify-content-center
  .col-md-5
    .login-page
      #signin-container.borderless
        .login-box.gl-p-5
          .login-body
            - if current_user.two_factor_enabled?
              = render 'admin/sessions/two_factor_otp'
            - if current_user.two_factor_webauthn_enabled?
              = render 'authentication/authenticate', render_remember_me: false, target_path: admin_session_path
