- @issues.each do |issue|
  = render(partial: 'issues/show', locals: {issue: issue})

- if @issues.present?
  %li.bottom
    .row
      .span7= paginate @issues, remote: true, theme: "gitlab"
      .span3.right
        %span.cgray.right 
          %span.issue-counter #{@issues.total_count}
          issues for this filter
- else
  %li
    %h4.nothing-here-message Nothing to show here

