- @issues.critical.each do |issue|
  = render(:partial => 'issues/show', :locals => {:issue => issue})

- @issues.non_critical.each do |issue|
  = render(:partial => 'issues/show', :locals => {:issue => issue})
