- @issues.each do |issue|
  = render(partial: 'issues/show', locals: {issue: issue})

- if @issues.present?
  %li.bottom
    .left= paginate @issues, remote: true, theme: "gitlab"
    .pull-right
      %span.issue_counter #{@issues.total_count}
      issues for this filter
- else
  %li
    %h4.nothing_here_message Nothing to show here

