- if @issue.valid?
  :plain
    switchFromNewIssue();
    $("#issues-table").prepend("#{escape_javascript(render(:partial => 'show', :locals => {:issue => @issue} ))}");
    $.ajax({type: "GET", url: location.href, dataType: "script"});
- else
  :plain
    $("#new_issue_dialog").empty();
    $("#new_issue_dialog").append("#{escape_javascript(render('form'))}");
    $('select#issue_assignee_id').chosen();
