.file_holder
  .file_title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      = link_to "raw", raw_project_snippet_path(@project, @snippet), class: "btn very_small", target: "_blank"
  .file_content.code
    - unless @snippet.content.empty?
      %div{class: current_user.dark_scheme ? "black" : "white"}
        :preserve
          #{raw @snippet.colorize(formatter: :gitlab)}
    - else
      %p.nothing_here_message Empty file
