.file_holder
  .file_title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      = link_to "raw", raw_project_snippet_path(@project, @snippet), class: "btn btn-tiny", target: "_blank"
  .file_content.code
    - unless @snippet.content.empty?
      %div{class: user_color_scheme_class}
        = raw @snippet.colorize(formatter: :gitlab)
    - else
      %p.nothing_here_message Empty file
