- remote = local_assigns.fetch(:remote, false)

- if @snippets.blank?
  = render 'shared/empty_states/snippets'
- else
  .snippets-list-holder
    %ul.content-list
      = render partial: 'shared/snippets/snippet', collection: @snippets

    = paginate @snippets, theme: 'gitlab', remote: remote

  :javascript
    gl.SnippetsList();
