%table
  %thead
    %tr
      %th Title
      %th File Name
      %th Expires At
      %th Project

  = render partial: 'snippet', collection: @snippets
  - if @snippets.empty?
    %tr
      %td{colspan: 4}
        %h3.nothing_here_message Nothing here.
