- link_project = local_assigns.fetch(:link_project, false)

.snippets-list-holder
  %ul.content-list
    = render partial: 'shared/snippets/snippet', collection: @snippets, locals: { link_project: link_project }
    - if @snippets.empty?
      %li
        .nothing-here-block Nothing here.

  = paginate @snippets, theme: 'gitlab'
