- breadcrumb_title _("Edit Snippet")
- page_title _("Edit"), "#{@snippet.title} (#{@snippet.to_reference})", _("Snippets")
- content_for :prefetch_asset_tags do
  - webpack_preload_asset_tag('monaco')

%h1.page-title.gl-font-size-h-display
  = _("Edit Snippet")
%hr
= render 'shared/snippets/form', url: gitlab_snippet_path(@snippet)
