- add_to_breadcrumbs _("Snippets"), dashboard_snippets_path
- add_to_breadcrumbs @snippet.to_reference, snippet_path(@snippet)
- breadcrumb_title _("Edit")
- page_title _("Edit"), "#{@snippet.title} (#{@snippet.to_reference})", _("Snippets")
- content_for :prefetch_asset_tags do
  - webpack_preload_asset_tag('monaco')

%h1.page-title.gl-text-size-h-display
  = _("Edit snippet")
= render 'shared/snippets/form', url: gitlab_snippet_path(@snippet)
