%h3.page-title
  Public snippets

  .pull-right
    = link_to new_snippet_path, class: "btn btn-new grouped", title: "New Snippet" do
      Add new snippet
    = link_to user_snippets_path(current_user), class: "btn grouped"  do
      My snippets

%p.light
  Public snippets created by you and other users are listed here

%hr
= render 'snippets'

