%div
  - if can? current_user, :write_snippet, @project
    .left= link_to 'New Snippet', new_project_snippet_path(@project), :class => "lbutton vm"

  %table.round-borders#snippets-table
    %thead
      %th 
    = render @snippets.fresh
:javascript
  $('.delete-snippet').live('ajax:success', function() {
    $(this).closest('tr').fadeOut(); });
