%h3.page_title
  Public snippets
  %small share code pastes with others out of git repository
  = link_to new_snippet_path, class: "btn btn-small add_new pull-right", title: "New Snippet" do
    Add new snippet

%hr
.row
  .span12
    = render 'snippets'

