= render "projects/project_head"

- if can? current_user, :write_snippet, @project
  .alert-message.block-message
    = link_to new_project_snippet_path(@project), :class => "btn small add_new right", :title => "New Snippet" do 
      Add new snippet
    Share code pastes with others if it cant be in a git repository
    %br
    To add new snippet - click on button. 

- unless @snippets.fresh.empty?
  %table.zebra-striped.borders= render @snippets.fresh
