%div
  - if can? current_user, :write_snippet, @project
    = link_to 'New Snippet', new_project_snippet_path(@project), :class => "grey-button append-bottom-10"

  %table#snippets-table
    = render @snippets.fresh
:javascript
  $('.delete-snippet').live('ajax:success', function() {
    $(this).closest('tr').fadeOut(); });
