%h3.page_title
  Public snippets
  %small share code pastes with others out of git repository

  .pull-right
    = link_to new_snippet_path, class: "btn btn-small add_new grouped btn-primary", title: "New Snippet" do
      Add new snippet
    = link_to user_snippets_path(current_user), class: "btn btn-small grouped"  do
      My snippets

%hr
.row
  .span12
    = render 'snippets'

