%h2.icon
  %span>
  Snippets
- if can? current_user, :write_snippet, @project
  .right= link_to 'New Snippet', new_project_snippet_path(@project), :class => "grey-button append-bottom-10"

- unless @snippets.fresh.empty?
  %div{ :class => "update-data ui-box ui-box-small ui-box-big" }
    .data
      = render @snippets.fresh
