- @hide_top_links = true
- add_to_breadcrumbs "Snippets", dashboard_snippets_path
- breadcrumb_title "New"
- page_title "New Snippet"
%h3.page-title
  New Snippet
%hr
= render "shared/snippets/form", url: snippets_path(@snippet)
