- @hide_top_links = true
- @hide_breadcrumbs = true
- page_title _("New Snippet")
- @content_class = "limit-container-width" unless fluid_layout

.page-title-holder.d-flex.align-items-center
  %h1.page-title= _('New Snippet')

.gl-mt-3
  = render "shared/snippets/form", url: snippets_path(@snippet)
