- page_title _("New Snippet")

.page-title-holder.d-flex.gl-align-items-center
  %h1.page-title.gl-font-size-h-display= _('New Snippet')

.gl-mt-3
  = render "shared/snippets/form", url: snippets_path(@snippet)
