- add_page_startup_graphql_call('snippet/snippet', { ids: [@snippet.to_global_id.uri] })
- add_page_startup_graphql_call('snippet/snippet_blob_content', { ids: [@snippet.to_global_id.uri], rich: false, paths: [@snippet.file_name] })
- if @snippet.project_id?
  - add_page_startup_graphql_call('snippet/project_permissions', { fullPath: @snippet.project_id })
- else
  - add_page_startup_graphql_call('snippet/user_permissions')
- if @snippet.author != current_user
  -# If current user is not the snippet author, then it renders with the Explore layout which doesn't have this breadcrumb.
  - add_to_breadcrumbs _("Snippets"), explore_snippets_path
- else
  - add_to_breadcrumbs _("Snippets"), dashboard_snippets_path
- breadcrumb_title @snippet.to_reference
- page_title "#{@snippet.title} (#{@snippet.to_reference})", _("Snippets")
- content_for :prefetch_asset_tags do
  - webpack_preload_asset_tag('monaco', prefetch: true)

#js-snippet-view{ data: { 'snippet-gid': @snippet.to_global_id, 'report-abuse-path': snippet_report_abuse_path(@snippet), 'can-report-spam': @snippet.submittable_as_spam_by?(current_user).to_s } }

.row-content-block.top-block.content-component-block.gl-px-0.gl-py-2
  = render 'award_emoji/awards_block', awardable: @snippet, inline: true

#notes.limited-width-notes= render "shared/notes/notes_with_form", :autocomplete => false
