%h3.page_title
  - if @snippet.private?
    %i.icon-lock
  - else
    %i.icon-globe.public-snippet

  = @snippet.title
  %small= @snippet.file_name
  - if @snippet.author == current_user
    = link_to "Edit", edit_snippet_path(@snippet), class: "btn btn-small pull-right", title: 'Edit Snippet'

%br
%div= render 'blob'
