- page_title @snippet.title, "Snippets"
= render 'shared/snippets/header'

.file-holder
  .file-title
    %i.fa.fa-file
    %strong
      = @snippet.file_name
    .file-actions
      .btn-group
        = link_to "raw", raw_snippet_path(@snippet), class: "btn btn-sm", target: "_blank"
  = render 'shared/snippets/blob'
