.container.devops-empty
  .col-sm-12.justify-content-center.text-center
    = custom_icon('dev_ops_report_no_data')
    %h4= _('Data is still calculating...')
    %p
      = _('It may be several days before you see feature usage data.')
      = link_to _('Our documentation includes an example DevOps Score report.'), help_page_path('user/admin_area/analytics/dev_ops_report'), target: '_blank'
