- page_title _('DevOps Reports')
- add_page_specific_style 'page_bundles/dev_ops_reports'

%div{ data: { event_tracking_load: 'true', event_tracking: 'view_admin_dev_ops_reports_pageload' } }
  - if show_adoption?
    = render_if_exists 'admin/dev_ops_report/devops_tabs'
  - else
    = render 'score'

