- page_title _('DevOps Report')
- usage_ping_enabled = Gitlab::CurrentSettings.usage_ping_enabled
- add_page_specific_style 'page_bundles/dev_ops_report'

.container
  - if usage_ping_enabled && show_callout?('dev_ops_report_intro_callout_dismissed')
    = render 'callout'

  .gl-mt-3
  - if !usage_ping_enabled
    #js-devops-empty-state{ data: { is_admin: current_user&.admin.to_s, empty_state_svg_path: image_path('illustrations/convdev/convdev_no_index.svg'), enable_usage_ping_link: metrics_and_profiling_admin_application_settings_path(anchor: 'js-usage-settings'), docs_link: help_page_path('development/product_analytics/usage_ping') } }
  - elsif @metric.blank?
    = render 'no_data'
  - else
    = render 'report'
