%button.btn-blank.btn-link.bold{ type: 'button', data: { toggle: 'modal', target: '#modal-peek-pg-queries' } }
  %span{ data: { defer_to: "#{view.defer_key}-duration" } }...
  \/
  %span{ data: { defer_to: "#{view.defer_key}-calls" } }...
#modal-peek-pg-queries.modal{ tabindex: -1 }
  .modal-dialog.modal-full
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label' => 'Close' }
          %span{ 'aria-hidden' => 'true' }
            &times;
        %h4
          SQL queries
      .modal-body{ data: { defer_to: "#{view.defer_key}-queries" } }...
