/**
 * CSS Custom properties
 */
:root {
  --gl-nav-item-foreground-color-default: var(--gl-text-color-default);
  --gl-nav-item-background-color-default: transparent;
  --gl-nav-item-foreground-color-hover: var(--gl-nav-item-foreground-color-default);
  --gl-nav-item-background-color-hover: var(--gl-color-alpha-dark-6);
  --gl-nav-item-foreground-color-focus: var(--gl-nav-item-foreground-color-hover);
  --gl-nav-item-background-color-focus: var(--gl-nav-item-background-color-hover);
  --gl-nav-item-foreground-color-active: var(--gl-nav-item-foreground-color-focus);
  --gl-nav-item-background-color-active: var(--gl-nav-item-background-color-focus);

  --gl-nav-item-selected-foreground-color-default: hsl(from var(--super-sidebar-theme-accent-color) h calc(s - 20) 20);
  --gl-nav-item-selected-background-color-default: hsla(from var(--super-sidebar-theme-accent-color) h s l / 16%);
  --gl-nav-item-selected-foreground-color-hover: var(--gl-text-color-default);
  --gl-nav-item-selected-background-color-hover: var(--gl-color-alpha-dark-6);
  --gl-nav-item-selected-foreground-color-focus: var(--gl-nav-item-selected-foreground-color-hover);
  --gl-nav-item-selected-background-color-focus: var(--gl-nav-item-selected-background-color-hover);
  --gl-nav-item-selected-foreground-color-active: var(--gl-nav-item-selected-foreground-color-focus);
  --gl-nav-item-selected-background-color-active: var(--gl-nav-item-selected-background-color-focus);
}

:root.gl-dark {
  --gl-nav-item-foreground-color-default: var(--gl-text-color-default);
  --gl-nav-item-background-color-default: transparent;
  --gl-nav-item-foreground-color-hover: var(--gl-nav-item-foreground-color-default);
  --gl-nav-item-background-color-hover: var(--gl-color-alpha-light-8);
  --gl-nav-item-foreground-color-focus: var(--gl-nav-item-foreground-color-hover);
  --gl-nav-item-background-color-focus: var(--gl-nav-item-background-color-hover);
  --gl-nav-item-foreground-color-active: var(--gl-nav-item-foreground-color-focus);
  --gl-nav-item-background-color-active: var(--gl-nav-item-background-color-focus);

  --gl-nav-item-selected-foreground-color-default: hsl(from var(--super-sidebar-theme-accent-color) h s 88);
  --gl-nav-item-selected-background-color-default: hsla(from var(--super-sidebar-theme-accent-color) h s calc(l + 20) / 25%);
  --gl-nav-item-selected-foreground-color-hover: var(--gl-text-color-default);
  --gl-nav-item-selected-background-color-hover: var(--gl-color-alpha-light-8);
  --gl-nav-item-selected-foreground-color-focus: var(--gl-nav-item-selected-foreground-color-hover);
  --gl-nav-item-selected-background-color-focus: var(--gl-nav-item-selected-background-color-hover);
  --gl-nav-item-selected-foreground-color-active: var(--gl-nav-item-selected-foreground-color-focus);
  --gl-nav-item-selected-background-color-active: var(--gl-nav-item-selected-background-color-focus);
}

.gl-nav-item {
  &.with-mouse-over-flyout {
    color: var(--gl-nav-item-foreground-color-hover);
    background-color: var(--gl-nav-item-background-color-hover);
  }

  &.selected {
    &.with-mouse-over-flyout {
      color: var(--gl-nav-item-selected-foreground-color-hover);
      background-color: var(--gl-nav-item-selected-background-color-hover);
    }
  }
}

.browser-more-features-badge {
  color: var(--gl-nav-item-selected-foreground-color-default) !important;
  background-color: var(--gl-nav-item-selected-background-color-default) !important;
}
