@use "sass:map";

/*
 * Application chrome
 */

:where(.application-chrome) {

  // Variable overrides
  @include media-breakpoint-up(xl) {
    &.page-with-panels .page-with-super-sidebar {
      --application-bar-left: 0px; // stylelint-disable-line length-zero-no-unit
    }
  }

  // Application chrome background
  body {
    background-color: var(--super-sidebar-bg);

    // Disable global bootstrap modal backdrop when using panels
    &.modal-open {
      .modal-backdrop {
        display: none;
      }
    }
  }

  // When using panels, remove top padding
  &.page-with-panels .layout-page {
    @apply gl-pt-0 #{!important};
  }

  // Super topbar
  .super-topbar {
    @apply gl-fixed gl-w-screen gl-left-0 gl-py-0 gl-px-5;
    top: $calc-system-headers-height;
    height: var(--header-height);
    z-index: calc($super-sidebar-z-index + 1);

    // Placeholder styles
    .topbar-search-button-placeholder {
      font-weight: 320;
      line-height: 1.25;
      color: var(--gl-control-placeholder-color);
    }
  }

  // Super sidebar
  .super-sidebar-wrapper {
    @apply gl-w-0;
  }

  @media (min-width: $breakpoint-xl) {
    .super-sidebar-wrapper {
      width: auto;
    }
  }

  .page-with-super-sidebar-collapsed {
    .super-sidebar {
      @apply gl-m-0;
    }

    .panels-container {
      // When the sidebar is fully collapsed out of view, some margin is needed to not touch the window edge.
      @apply gl-ml-3;
    }
  }

  // Super sidebar active item
  .super-sidebar-nav-item {
    @apply gl-rounded-lg #{!important};

    // Hide indicator
    .active-indicator {
      display: none;
    }
  }

  // Search button
  .gl-dark .super-topbar .topbar-search-button:not(:hover):not(:focus):not(:active) {
    @apply gl-bg-alpha-light-8;
  }

  // Quick search overlay
  #super-sidebar-search-modal {
    @apply gl-pt-0 gl-bg-transparent;

    &,
    .modal-dialog {
      transition: none !important;
    }
  }

  // Position for search overlay when Performance bar is visible
  &.with-performance-bar #super-sidebar-search-modal {
    padding-top: $performance-bar-height;
  }

  // Quick search overlay search input
  &.page-with-panels .global-search-modal .modal-content {
    @apply gl-rounded-[1rem] #{!important};

    .gl-search-box-by-type-input-borderless {
      @apply gl-rounded-[0.75rem];
    }
  }

  // Organization switcher adjustment (light mode only)
  &:not(.gl-dark) .super-topbar .organization-switcher-button.gl-button:not(:hover):not(:focus):not(:active) {
    @apply gl-bg-alpha-dark-6 gl-border-default;
  }
}

/*
 * Panels
 */

:where(.page-with-panels) {

  // Layout
  &.page-with-panels .layout-page {
    @apply gl-flex gl-gap-3 gl-items-stretch gl-justify-center gl-pl-0 gl-py-3 gl-pr-3;
    height: calc(100vh - var(--system-header-height) - var(--performance-bar-height) - var(--header-height));

    // Temporarily solution to hide empty AI Chat divs
    // empty:gl-hidden and :empty doesn't work because these empty divs have comment blocks
    > div:not(:has(*)) {
      @apply gl-hidden;
    }
  }

  // Unset fixed positions
  #js-peek,
  .super-topbar,
  #super-sidebar,
  .header-logged-out {
    @apply gl-relative #{!important};
    @apply gl-top-0;
  }

  // Super sidebar height
  #super-sidebar {
    @apply gl-h-full -gl-mr-3;

    .contextual-nav {
      @apply gl-pt-2;
    }
  }

  // Panels container
  .panels-container {
    @apply gl-relative gl-grow gl-flex gl-pr-0 gl-pb-0;
    @apply gl-h-full #{!important};

    .panel-content-inner,
    .vue-portal-target .work-item-drawer-content {
      height: calc(100% - #{$header-height} - #{$gl-spacing-scale-3});

      @apply gl-overflow-y-auto gl-overflow-x-hidden;
      scrollbar-color: var(--gl-color-neutral-400) var(--gl-background-color-default);
      scrollbar-width: thin;

      .container-fluid {
        @apply gl-px-4 gl-pb-3;
      }

      // Hide alert wrapper if it's empty
      > .alert-wrapper:not(:has(*)) {
        @apply gl-hidden;
      }
    }
  }

  // Static panel
  .paneled-view.static-panel {
    // Specifics here
  }

  // Contextual panel
  .paneled-view.contextual-panel {
    @apply gl-absolute #{!important};
    @apply gl-overflow-y-auto gl-flex-1 gl-rounded-lg gl-bg-default empty:gl-hidden gl-h-full;
    @apply @xl/content-panels:gl-w-1/2 gl-z-[252] gl-shadow-lg @xl/content-panels:gl-shadow-none gl-w-8/10 gl-right-0;
    @apply @xl/content-panels:gl-relative #{!important};
    clip-path: inset(0 0 0 -15px round 1rem);
  }

  // AI panel
  .paneled-view.ai-panels {
    @apply gl-px-2 -gl-mx-2;

    .ai-panel-header {
      z-index: $top-bar-z-index;
      @apply gl-sticky #{!important};
      @apply gl-top-0 gl-py-3 gl-pl-5 gl-pr-3;
    }

    .ai-nav-icon-active,
    .ai-nav-icon-active:hover,
    .ai-nav-icon:hover {
      background-color: var(--super-sidebar-nav-item-current-bg);
      color: var(--super-sidebar-accent-color-fg);
    }
  }

  .ai-panel-header-actions {
    border-left: 1px solid var(--super-sidebar-bg);
    @apply gl-pl-3;
  }

  .paneled-view:has(.ai-panel-maximized) {
    flex-grow: 1;
  }

  // Hiding all other panels when DAP is maximized
  .panels-container:has(~ .paneled-view .ai-panel-maximized) {
    display: none;
  }

  // Preserving other panels when DAP is maximized on bigger screens
  @media(min-width: #{$paneled-layout-ultra-wide-breakpoint}) {
    .paneled-view:has(.ai-panel-maximized) {
      width: auto;
    }

    .panels-container:has(~ .paneled-view .ai-panel-maximized) {
      display: flex;
    }
  }

  // Panel header
  .panel-header .top-bar-fixed,
  .work-item-drawer-header {
    @apply gl-bg-transparent gl-shadow-none gl-relative gl-px-5 #{!important};
    z-index: 99;
    border-bottom: 1px solid var(--super-sidebar-bg);
  }

  // Scrollbar offset
  .panel-content-inner,
  .vue-portal-target .work-item-drawer {
    @apply gl-mx-3;
  }

  // Panel content
  .panel-content {
    @apply gl-overflow-clip gl-h-full gl-pb-0;
    clip-path: inset(1px 1px 1px 1px);
    transform: translate3d(0, 0, 0);
  }

  // Vue portal height
  .vue-portal-target {
    @apply gl-h-full;
  }

  // Work item drawer adjustments
  .work-item-drawer-header {
    @apply -gl-mx-3 gl-py-4;
    width: calc(100% + 1rem) !important;
  }

  // Work item spacing adjustment
  .vue-portal-target .work-item-drawer-content {
    @apply gl-px-5 #{!important};
  }

  // Work item modal footer
  #create-work-item-modal {
    container-type: inline-size;
    container-name: panel;
  }

  // Content adjustments within panels
  .paneled-view {
    @apply gl-overflow-clip;
    @apply gl-rounded-[1rem] #{!important};

    // Work item drawer
    .work-item-drawer {
      @apply gl-h-full gl-pt-0;
    }

    // Issue sticky header
    .issue-sticky-header:not(.merge-request-sticky-header) {
      @apply gl-w-full gl-border-b-subtle;
      top: -1px !important;

      .work-item-sticky-header-text {
        @apply @xl/panel:gl-px-4 gl-py-2;
      }
    }

    .work-item-drawer .issue-sticky-header:not(.merge-request-sticky-header) {
      top: calc(#{$header-height} + 1px) !important;

      .work-item-sticky-header-text {
        @apply gl-px-6;
      }
    }

    // Merge request sticky header
    .merge-request-sticky-header {
      @apply gl-w-full gl-bg-default;
      top: 1px !important; // Fix flickering

      // Fixes for Firefox as it doesn't support (container-type: scroll-state)
      // see https://caniuse.com/?search=scroll-state
      html:not(.gl-browser-firefox) & {
        @apply gl-sticky;
      }

      .issue-sticky-header-text {
        @apply gl-px-6 @xl/panel:gl-px-4;
      }

      &::after {
        display: none;
      }
    }

    // Issue boards height
    .boards-app {
      height: calc(#{$calc-application-viewport-height} - 1.5rem);
    }

    // MR file change header
    .diff-file .file-title, .diff-file .file-title-flex-parent {
      @media (min-width: map-get($grid-breakpoints, md)) {
        top: calc(#{$mr-sticky-header-height} - 2px) !important;

        &.is-wiki {
          top: -1px;
        }
      }
    }

    // MR sidebar
    .work-item-attributes-wrapper,
    .issuable-sidebar.is-merge-request .issuable-context-form {
      @include media-breakpoint-up(lg) {
        top: calc(#{$mr-sticky-header-height} - 1px) !important;
        @apply gl-pr-4 #{!important};
      }
    }

    // Issue sidebar
    @include media-breakpoint-up(md) {
      .work-item-attributes-wrapper {
        top: calc(#{$work-item-sticky-header-height} + #{$gl-spacing-scale-3}) !important;
      }
    }

    // Project sidebar
    @include media-breakpoint-up(lg) {
      .project-page-indicator:not(.hidden) + .project-page-layout .project-page-sidebar {
        top: calc(#{$gl-spacing-scale-4}) !important;
      }
    }

    // User profile sidebar
    @include media-breakpoint-up(lg) {
      .user-profile .profile-header {
        top: -1px !important;
      }
    }

    // Sticky headers below top bar
    .right-sidebar,
    .issue-sticky-header:not(.merge-request-sticky-header),
    .settings-sticky-header,
    .build-page .top-bar,
    .rd-diff-file-header-sticky {
      top: -1px !important;
    }

    // Sticky flash alert
    .flash-container:has(.gl-alert) {
      top: auto !important;
    }

    // Sticky settings header
    .settings-sticky-header::after {
      top: 2.5rem !important;
    }

    // Fix drawer height
    .gl-drawer {
      height: calc(100% - #{$header-height});
    }

    // MR: File tree sidebar alignment
    .rd-app-sidebar {
      top: calc(#{$mr-sticky-header-height} + 1rem + -1px) !important;
    }

    // Compare revision: File tree sidebar alignment
    .rd-app .rd-app-sidebar {
      top: calc(1rem + -1px) !important;
    }
  }

  // Sidebar adjustments
  :where(.right-sidebar-expanded) {
    .content-wrapper {
      @apply gl-pr-0 #{!important};
    }

    &:not(.wiki-sidebar) .panel-content-inner {
      @container content-panels (width >= #{map.get($breakpoints, 'sm')}) {
        padding-right: $right-sidebar-width;
      }
    }
  }

  // Position fixed sidebar fix
  .right-sidebar:not(.right-sidebar-merge-requests):not(.wiki-sidebar):not(.build-sidebar):not(.issuable-bulk-update-sidebar) {
    @apply gl-hidden #{!important};

    &.right-sidebar-expanded {
      @apply gl-block #{!important};
    }

    @container content-panels (width >= #{map.get($breakpoints, 'sm')}) {
      @apply gl-block #{!important};
    }
  }

  :where(.right-sidebar-collapsed:not(.issuable-bulk-update-sidebar)) {
    .content-wrapper {
      @apply gl-pr-0 #{!important};
    }

    .panel-content-inner {
      @container content-panels (width >= #{map.get($breakpoints, 'sm')}) {
        padding-right: $right-sidebar-collapsed-width;
      }
    }
  }

  // Linux scrollbar adjustment
  .gl-platform-linux .panels-container {
    .panel-content-inner,
    .vue-portal-target [data-testid="work-item-detail"] {
      scrollbar-width: auto;
    }
  }

  // Static and Contextual panels
  .paneled-view.static-panel,
  .paneled-view.contextual-panel {
    @apply gl-overflow-clip gl-p-0 gl-rounded-[1rem];

  }

  .content-wrapper.paneled-view {
    @apply gl-pt-0;
  }

  /* Hide all .paneled-view elements when the last .paneled-view contains .fullscreen */
  .panels-container:has(~ .paneled-view .fullscreen) {
    @apply gl-hidden;
  }

  .paneled-view:has(.fullscreen) {
    @apply gl-grow;
  }

}

/*
 * Themes
 */

 :where(.application-chrome) {
  // Light mode
  &:not(.gl-dark) {
    // default color to mute the gradient
    --_shade-1: hsla(from var(--theme-color) h 25 95 / 90%);
    // alternative color
    --_shade-2: hsl(from var(--theme-color) calc(h + 60) calc(s + 20) l);
    // original color
    --_shade-3: hsl(from var(--theme-color) h calc(s + 20) l);
    // bottom color
    --_shade-4: hsla(from var(--theme-color) calc(h + 30) calc(s + 20) l / 40%);

    // Temporarily unship this change as it introduced some regressions, see https://gitlab.com/gitlab-org/gitlab/-/merge_requests/204009
    // --theme-background-color: color-mix(in srgb, var(--gl-background-color-default), var(--theme-color) 2%);
    --theme-background-color: var(--gl-background-color-default);
    --theme-border-color: hsl(from var(--theme-color) h 24 90);

    body {
      background:
        linear-gradient(var(--_shade-1)),
        radial-gradient(farthest-side at 50% 0%, var(--_shade-3), transparent 50vw),
        radial-gradient(farthest-side at 50% 0%, var(--_shade-2), transparent 70vw),
        linear-gradient(-10deg, var(--_shade-4), transparent 70%),
        var(--gl-background-color-default);
    }

    .ai-panel,
    .super-sidebar,
    .super-topbar {
      --super-sidebar-bg: var(--theme-background-color);
      --super-sidebar-accent-color-fg: hsl(from var(--theme-accent-color) h calc(s - 20) 24);
      --super-sidebar-nav-item-current-bg: hsla(from var(--theme-accent-color) h s l / 16%);
      --super-sidebar-nav-item-hover-bg: hsla(from var(--theme-accent-color) h s l / 16%);
      --super-sidebar-accent-color-badge: hsl(from var(--theme-accent-color) h s 90);
      --super-sidebar-user-bar-notification-dot: hsl(from var(--theme-notification-color) calc(h - 2) s calc(l + 2));
      --super-sidebar-accent-color-bg: hsla(from var(--theme-accent-color) h s l / 16%);
    }

    .ai-panel .ai-nav-icon-active,
    .ai-panel .ai-nav-icon-active:hover,
    .ai-panel .ai-nav-icon:hover {
      background-color: var(--super-sidebar-nav-item-current-bg);
    }

    .ai-panel .ai-nav-icon-active {
      color: var(--super-sidebar-accent-color-fg);
    }
  }

  // Dark mode
  &.gl-dark {
    // default color to mute the gradient
    --_shade-1: hsla(from var(--gl-background-color-default) h s l / 75%);
    // background
    --_shade-2: hsl(from var(--theme-color) h 15 20);
    // alternative color
    --_shade-3: hsla(from var(--theme-color) calc(h + 30) s l / 70%);
    // original color
    --_shade-4: hsla(from var(--theme-color) h s l / 100%);
    // bottom color
    --_shade-5: hsla(from var(--theme-color) h s l / 55%);

    // Temporarily unship this change as it introduced some regressions, see https://gitlab.com/gitlab-org/gitlab/-/merge_requests/204009
    // --theme-background-color: color-mix(in srgb, var(--gl-background-color-default), var(--theme-color) 1%);
    --theme-background-color: var(--gl-background-color-default);
    --theme-border-color: hsl(from var(--theme-color) h 12 25);

    body {
      background:
        linear-gradient(var(--_shade-1)),
        radial-gradient(farthest-side at 50% 0%, var(--_shade-4), transparent 50vw),
        radial-gradient(farthest-side at 50% 0%, var(--_shade-3), transparent 65vw),
        linear-gradient(-10deg, var(--_shade-5), transparent),
        var(--_shade-2);
    }

    .ai-panel,
    .super-sidebar,
    .super-topbar {
      --super-sidebar-bg: var(--theme-background-color);
      --super-sidebar-nav-item-current-bg: hsla(from var(--theme-accent-color) h s calc(l + 20) / 26%);
      --super-sidebar-accent-color-fg: hsl(from var(--theme-accent-color) h s 92);
      --super-sidebar-nav-item-hover-bg: hsla(from var(--theme-accent-color) h calc(s - 30) l / 16%);
      --super-sidebar-accent-color-badge: hsl(from var(--theme-accent-color) h s 85);
      --super-sidebar-user-bar-notification-dot: hsl(from var(--theme-notification-color) calc(h - 2) s calc(l + 20));
      --super-sidebar-accent-color-bg: hsla(from var(--theme-accent-color) h s l / 32%);
    }

    .super-sidebar .badge {
      background-color: var(--super-sidebar-accent-color-badge) !important;
    }

    .ai-panel .ai-nav-icon-active,
    .ai-panel .ai-nav-icon-active:hover,
    .ai-panel .ai-nav-icon:hover {
      color: var(--super-sidebar-accent-color-fg);
      background-color: var(--super-sidebar-nav-item-current-bg);
    }
  }

  .super-topbar,
  .super-sidebar,
  .super-sidebar .bottom-scrim,
  .super-sidebar .top-scrim {
    background: transparent !important;
  }

  .bottom-scrim-visible,
  .top-scrim-visible {
    border-color: var(--theme-border-color);
  }

  .panel-header .top-bar-fixed,
  .work-item-drawer-header,
  .ai-panel-header {
    border-bottom: 1px solid var(--theme-border-color);
  }

  .top-bar-fixed,
  .static-panel,
  .contextual-panel,
  .ai-panel,
  .settings-sticky-header,
  .settings-sticky-header::before,
  .settings-sticky-footer {
    background-color: var(--theme-background-color) !important;
  }
 }
