.nothing-here-block {
  text-align: center;
  padding: 16px;
  color: $gl-text-color;
  font-weight: $gl-font-weight-normal;
  font-size: 14px;

  &.diff-collapsed {
    padding: 5px;
    line-height: 34px;

    .click-to-expand {
      cursor: pointer;
      vertical-align: initial;
    }
  }
}

.oneline {
  line-height: 35px;
}

.row-content-block {
  margin-top: 0;
  background-color: $gray-10;
  padding: $gl-padding;
  margin-bottom: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $gl-text-color;

  &.top-block {
    border-top: 0;

    .container-fluid {
      background-color: inherit;
    }
  }

  &.middle-block {
    margin-top: $gl-padding-24;
    margin-bottom: 0;
  }

  &.clear-block {
    margin-bottom: $gl-padding - 1px;
    padding-bottom: $gl-padding;
  }

  &.second-block {
    margin-top: -1px;
    margin-bottom: 0;
  }

  &.footer-block {
    margin-top: $gl-padding-24;
    border-bottom: 0;
  }

  &.content-component-block {
    background-color: $body-bg;
  }

  .title {
    color: $gl-text-color;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.content-block {
  padding: $gl-padding 0;
  border-bottom: 1px solid $border-color;

  > .controls {
    float: right;
  }

  .new-branch {
    margin-top: 3px;
  }
}

.content-block-small {
  padding: 4px 0;
}

.landing {
  margin: $gl-padding auto;
  overflow: hidden;
  display: flex;
  position: relative;
  border: 1px solid var(--gl-banner-intro-border-color);
  border-radius: $gl-border-radius-base;
  background-color: var(--gl-feedback-info-background-color);
  justify-content: center;

  .svg-container {
    align-self: center;
  }

  .inner-content {
    text-align: left;
    white-space: nowrap;

    h4 {
      color: $gl-text-color;
      font-size: 17px;
    }

    p {
      color: $gl-text-color;
      margin-bottom: $gl-padding;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .inner-content {
      white-space: normal;
      padding: 0 28px;
      text-align: center;
    }
  }
}

.empty-state {
  margin: 5% auto 0;

  .text-content {
    max-width: 460px;
    margin: 0 auto;
    padding: $gl-padding;
  }

  .emoji-icon {
    display: inline-block;
  }

  .btn:not(.split-content-button):not(.dropdown-toggle-split) {
    margin: $gl-padding-8 $gl-padding-4;

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin: $gl-padding-8 0;
    }
  }
}

.code-block {
  white-space: pre;
  overflow-x: auto;
  font-size: 12px;
  border: 0;
  padding: $grid-size;

  code {
    background-color: inherit;
    padding: inherit;
  }
}

.gl-empty-state {
  margin-top: $gl-spacing-scale-7;
}
