.brand-logo {
  display: inline-block;
  border-radius: $gl-border-radius-base;
  padding: $gl-spacing-scale-2;
  background-color: transparent;
  border-style: none;

  .tanuki-logo {
    vertical-align: middle;
  }

  &:focus,
  &:active {
    @apply gl-focus;
  }
}
