.broadcast-message {
  padding: $gl-padding-8;

  div,
  p {
    display: inline;
    margin: 0;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.broadcast-banner-message {
  p {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.broadcast-notification-message {
  position: fixed;
  bottom: $gl-padding;
  right: $gl-padding;
  max-width: 300px;
  width: auto;
  background: $white;
  border: 1px solid $gray-100;
  box-shadow: 0 1px 2px 0 rgba($black, 0.1);
  border-radius: $gl-border-radius-base;
  z-index: 999;

  &.preview {
    position: static;
  }
}

.toggle-colors {
  input {
    min-height: 34px;
  }
}

.gl-broadcast-message-content p:last-child {
  margin: 0;
}

// Manually override text color
// to fix darkmode contrast issues
// See https://gitlab.com/gitlab-org/gitlab-ui/-/merge_requests/4114#note_1875136307
.gl-dark .gl-broadcast-message.banner {
  &.indigo,
  &.blue,
  &.green,
  &.red,
  &.dark {
    color: $gl-text-color-inverted;
  }
}
