.user-calendar-activities {
  .calendar_onclick_hr {
    padding: 0;
    margin: 10px 0;
  }

  .str-truncated {
    max-width: 70%;
  }

  .text-expander {
    background: #eee;
    color: #555;
    padding: 0 5px;
    cursor: pointer;
    margin-left: 4px;
    &:hover {
      background-color: #ddd;
    }
  }
}
/**
* This overwrites the default values of the cal-heatmap gem
*/
.calendar {
  .qi {
    background-color: #999;
    fill: #fff;
  }

  .q1 {
    background-color: #dae289;
    fill: #ededed;
  }

  .q2 {
    background-color: #cedb9c;
    fill: #ACD5F2;
  }

  .q3 {
    background-color: #b5cf6b;
    fill: #7FA8D1;
  }

  .q4 {
    background-color: #637939;
    fill: #49729B;
  }

  .q5 {
    background-color: #3b6427;
    fill: #254E77;
  }

  .domain-background {
    fill: none;
    shape-rendering: crispedges;
  }

  .ch-tooltip {
    position: absolute;
    display: none;
    margin-top: 22px;
    margin-left: 1px;
    font-size: 13px;
    padding: 3px;
    font-weight: 550;
    background-color: #222;
    span {
      position: absolute;
      width: 200px;
      text-align: center;
      visibility: hidden;
      border-radius: 10px;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-top: 8px solid #000000;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }
  }
}
