/*
 * Callouts from Bootstrap3 docs
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: $gl-padding 0;
  padding: $gl-padding;
  border-color: $border-color;
  border-style: solid;
  border-width: 0 0 0 3px;
  color: $text-color;
  background: $gray-10;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/* Variations */
.bs-callout-danger {
  background-color: $red-100;
  border-color: $red-200;
  color: $red-700;

  a {
    color: $red-700;
  }
}

.bs-callout-warning {
  background-color: $orange-50;
  border-color: $orange-200;
  color: $gray-900;

  a {
    color: $blue-600;
  }
}

.bs-callout-info {
  background-color: $blue-100;
  border-color: $blue-200;
  color: $blue-700;

  h4 {
    color: $blue-700;
  }
}

.bs-callout-success {
  background-color: $green-100;
  border-color: $green-200;
  color: $green-700;
}
