/*
 * DS token overrides
 */

 // Neutralize design tokens

:root.application-chrome {

  --gl-button-confirm-primary-background-color-default: var(--gl-color-neutral-800);
  --gl-button-confirm-primary-background-color-hover: var(--gl-color-neutral-950);
  --gl-button-confirm-primary-background-color-focus: var(--gl-color-neutral-950);
  --gl-button-confirm-primary-background-color-active: var(--gl-color-neutral-1000);

  --gl-button-confirm-primary-border-color-default: var(--gl-color-neutral-800);
  --gl-button-confirm-primary-border-color-hover: var(--gl-color-neutral-950);
  --gl-button-confirm-primary-border-color-focus: var(--gl-color-neutral-950);
  --gl-button-confirm-primary-border-color-active: var(--gl-color-neutral-1000);

  --gl-button-confirm-secondary-foreground-color-default: var(--gl-color-neutral-800);
  --gl-button-confirm-secondary-foreground-color-hover: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-foreground-color-focus: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-foreground-color-active: var(--gl-color-neutral-1000);

  --gl-button-confirm-secondary-background-color-hover: var(--gl-color-neutral-50);
  --gl-button-confirm-secondary-background-color-focus: var(--gl-color-neutral-50);
  --gl-button-confirm-secondary-background-color-active: var(--gl-color-neutral-100);

  --gl-button-confirm-secondary-border-color-default: var(--gl-color-neutral-700);
  --gl-button-confirm-secondary-border-color-hover: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-border-color-focus: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-border-color-active: var(--gl-color-neutral-1000);

  --gl-tab-selected-indicator-color-default: var(--gl-color-neutral-800);

  --gl-control-background-color-selected-default: var(--gl-color-neutral-800);
  --gl-control-background-color-selected-hover: var(--gl-color-neutral-950);
  --gl-control-background-color-selected-focus: var(--gl-color-neutral-950);

  --gl-control-border-color-selected-default: var(--gl-color-neutral-800);
  --gl-control-border-color-selected-hover: var(--gl-color-neutral-950);
  --gl-control-border-color-selected-focus: var(--gl-color-neutral-950);

  --gl-toggle-switch-icon-color-checked-default: var(--gl-color-neutral-800);
  --gl-toggle-switch-icon-color-checked-hover: var(--gl-color-neutral-950);
  --gl-toggle-switch-icon-color-checked-focus: var(--gl-color-neutral-950);
  --gl-toggle-switch-icon-color-checked-active: var(--gl-color-neutral-1000);

  --gl-action-strong-confirm-background-color-default: var(--gl-color-neutral-800);
  --gl-action-strong-confirm-background-color-hover: var(--gl-color-neutral-950);
  --gl-action-strong-confirm-background-color-focus: var(--gl-color-neutral-950);
  --gl-action-strong-confirm-background-color-active: var(--gl-color-neutral-1000);

}

:root.application-chrome.gl-dark {

  --gl-button-confirm-primary-background-color-default: var(--gl-color-neutral-50);
  --gl-button-confirm-primary-background-color-hover: var(--gl-color-neutral-10);
  --gl-button-confirm-primary-background-color-focus: var(--gl-color-neutral-10);
  --gl-button-confirm-primary-background-color-active: var(--gl-color-neutral-0);

  --gl-button-confirm-primary-border-color-default: var(--gl-color-neutral-50);
  --gl-button-confirm-primary-border-color-hover: var(--gl-color-neutral-10);
  --gl-button-confirm-primary-border-color-focus: var(--gl-color-neutral-10);
  --gl-button-confirm-primary-border-color-active: var(--gl-color-neutral-0);

  --gl-button-confirm-secondary-foreground-color-default: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-foreground-color-hover: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-foreground-color-focus: var(--gl-color-neutral-950);
  --gl-button-confirm-secondary-foreground-color-active: var(--gl-color-neutral-800);

  --gl-button-confirm-secondary-background-color-default: var(--gl-color-neutral-300);
  --gl-button-confirm-secondary-background-color-hover: var(--gl-color-neutral-200);
  --gl-button-confirm-secondary-background-color-focus: var(--gl-color-neutral-200);
  --gl-button-confirm-secondary-background-color-active: var(--gl-color-neutral-100);

  --gl-button-confirm-secondary-border-color-default: var(--gl-color-neutral-300);
  --gl-button-confirm-secondary-border-color-hover: var(--gl-color-neutral-200);
  --gl-button-confirm-secondary-border-color-focus: var(--gl-color-neutral-200);
  --gl-button-confirm-secondary-border-color-active: var(--gl-color-neutral-100);

  --gl-tab-selected-indicator-color-default: var(--gl-color-neutral-50);

  --gl-control-background-color-selected-default: var(--gl-color-neutral-50);
  --gl-control-background-color-selected-hover: var(--gl-color-neutral-10);
  --gl-control-background-color-selected-focus: var(--gl-color-neutral-10);

  --gl-control-border-color-selected-default: var(--gl-color-neutral-50);
  --gl-control-border-color-selected-hover: var(--gl-color-neutral-10);
  --gl-control-border-color-selected-focus: var(--gl-color-neutral-10);

  --gl-toggle-switch-icon-color-checked-default: var(--gl-color-neutral-50);
  --gl-toggle-switch-icon-color-checked-hover: var(--gl-color-neutral-10);
  --gl-toggle-switch-icon-color-checked-focus: var(--gl-color-neutral-10);
  --gl-toggle-switch-icon-color-checked-active: var(--gl-color-neutral-0);

  --gl-action-strong-confirm-background-color-default: var(--gl-color-neutral-50);
  --gl-action-strong-confirm-background-color-hover: var(--gl-color-neutral-10);
  --gl-action-strong-confirm-background-color-focus: var(--gl-color-neutral-10);
  --gl-action-strong-confirm-background-color-active: var(--gl-color-neutral-0);

}
