.filter-item {
  margin-right: 6px;
  vertical-align: top;
}

@media (min-width: 800px)  {
  .issues-filters,
  .issues_bulk_update {
    select, .select2-container {
      width: 120px !important;
      display: inline-block;
    }
  }
}

@media (min-width: 1200px) {
  .issues-filters,
  .issues_bulk_update {
    select, .select2-container {
      width: 150px !important;
      display: inline-block;
    }
  }
}
