/**
 * Styles that apply to all GFM related forms.
 */

.gfm-commit,
.gfm-commit_range {
  @extend .commit-sha;
}

.gfm-project_member {
  padding: 0 2px;
  border-radius: #{$border-radius-default / 2};
  background-color: $user-mention-bg;

  &:hover {
    background-color: $user-mention-bg-hover;
    text-decoration: none;
  }
}
