@mixin icon-styles($color) {
  svg,
  .gl-icon {
    fill: $color;
  }
}

.ci-status-icon-success,
.ci-status-icon-passed {
  @include icon-styles($green-500);
}

.ci-status-icon-error,
.ci-status-icon-failed {
  @include icon-styles($red-500);
}

.ci-status-icon-pending,
.ci-status-icon-waiting-for-resource,
.ci-status-icon-waiting-for-callback,
.ci-status-icon-failed-with-warnings,
.ci-status-icon-success-with-warnings {
  @include icon-styles($orange-500);
}

.ci-status-icon-running {
  @include icon-styles($blue-500);
}

.ci-status-icon-canceled,
.ci-status-icon-disabled,
.ci-status-icon-scheduled,
.ci-status-icon-manual {
  @include icon-styles($gray-900);
}

.ci-status-icon-notification,
.ci-status-icon-preparing,
.ci-status-icon-created,
.ci-status-icon-skipped,
.ci-status-icon-notfound {
  @include icon-styles($gray-500);
}

a.ci-icon:focus {
  @include gl-focus;
}

.ci-icon {
  border-radius: 20px;

  // .ci-icon class is used at
  // - app/assets/javascripts/vue_shared/components/ci_icon/ci_icon.vue
  // - app/helpers/ci/status_helper.rb
  .ci-icon-gl-icon-wrapper {
    display: inline-block;
    border-radius: $gl-border-radius-full;
    line-height: 0;
  }

  // Makes the borderless CI icons appear slightly bigger than the default 16px.
  // Could be fixed by making the SVG fill up the canvas in a follow up issue.
  .gl-icon {
    width: 20px;
    height: 20px;
    margin: -2px;
  }

  @mixin ci-icon-style(
    $bg-color,
    $text-color,
    $border-color,
    $icon-color,
    $icon-bg-color,

    $dark-bg-color: null,
    $dark-text-color: null,
    $dark-border-color: null,
    $dark-icon-color: null,
    $dark-icon-bg-color: null
  ) {
    color: $text-color;
    background-color: $bg-color;
    border: 2px solid $border-color;

    .gl-dark & {
      color: $dark-text-color;
      background-color: $dark-bg-color;
      border-color: transparent;
    }

    .ci-icon-gl-icon-wrapper {
      border: 2px solid $border-color;
      background-color: $icon-bg-color;
      color: $icon-color;

      .gl-dark & {
        border-color: $dark-border-color;
        background-color: $dark-icon-bg-color;
        color: $dark-icon-color;
      }
    }
  }

  &.ci-icon-variant-success {
    @include ci-icon-style(
      $bg-color: $green-100,
      $text-color: $green-700,
      $border-color: $green-100,
      $icon-color: $white,
      $icon-bg-color: $green-500,

      $dark-bg-color: $green-600,
      $dark-text-color: $green-50,
      $dark-border-color: $green-50,
      $dark-icon-color: $green-600,
      $dark-icon-bg-color: $green-50
    )
  }

  &.ci-icon-variant-warning {
    @include ci-icon-style(
      $bg-color: $orange-100,
      $text-color: $orange-700,
      $border-color: $orange-100,
      $icon-color: $white,
      $icon-bg-color: $orange-500,

      $dark-bg-color: $orange-600,
      $dark-text-color: $orange-50,
      $dark-border-color: $orange-50,
      $dark-icon-color: $orange-600,
      $dark-icon-bg-color: $orange-50
    )
  }

  &.ci-icon-variant-danger {
    @include ci-icon-style(
      $bg-color: $red-100,
      $text-color: $red-700,
      $border-color: $red-100,
      $icon-color: $white,
      $icon-bg-color: $red-500,

      $dark-bg-color: $red-600,
      $dark-text-color: $red-50,
      $dark-border-color: $red-50,
      $dark-icon-color: $red-600,
      $dark-icon-bg-color: $red-50
    )
  }

  &.ci-icon-variant-info {
    @include ci-icon-style(
      $bg-color: $blue-100,
      $text-color: $blue-700,
      $border-color: $blue-100,
      $icon-color: $blue-500,
      $icon-bg-color: $white,

      $dark-bg-color: $blue-600,
      $dark-text-color: $blue-50,
      $dark-border-color: $blue-50,
      $dark-icon-color: $blue-600,
      $dark-icon-bg-color: $blue-50
    )
  }

  &.ci-icon-variant-neutral {
    @include ci-icon-style(
      $bg-color: $gray-100,
      $text-color: $gray-700,
      $border-color: $gray-100,
      $icon-color: $gray-700,
      $icon-bg-color: $white,

      $dark-bg-color: $gray-600,
      $dark-text-color: $gray-50,
      $dark-border-color: $gray-50,
      $dark-icon-color: $gray-600,
      $dark-icon-bg-color: $gray-50
    )
  }
}

.password-status-icon-success {
  svg {
    vertical-align: middle;
    fill: $green-500;
  }
}

.icon-link {
  &:hover {
    text-decoration: none;
  }
}

.user-avatar-link {
  text-decoration: none;
}

.circle-icon-container {
  $border-size: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-500;
}
