/**
 * Issue box for showing Open/Closed state:
 * Used for Issue#show page, MergeRequest#show page etc
 *
 */

.status-box {
  @include border-radius(3px);
  display: block;
  float: left;
  padding: 0 $gl-btn-padding;
  margin-top: 5px;
  margin-right: 10px;
  color: #FFF;
  font-size: $gl-font-size;
  line-height: 25px;

  &.status-box-closed {
    background-color: $gl-danger;
  }

  &.status-box-merged {
    background-color: $gl-primary;
  }

  &.status-box-open {
    background-color: $green-light;
  }

  &.status-box-expired {
    background: #cea61b;
  }
}
