/**
 * Issue box for showing Open/Closed state:
 * Used for Issue#show page, MergeRequest#show page etc
 *
 */

.issue-box {
  @include border-radius(3px);

  display: block;
  float: left;
  padding: 0 $gl-padding;
  font-weight: normal;
  margin-right: 10px;
  font-size: $gl-font-size;

  &.status-box-closed {
    background-color: $gl-danger;
    color: #FFF;
  }

  &.status-box-merged {
    background-color: $gl-primary;
    color: #FFF;
  }

<<<<<<< HEAD
  &.issue-box-open {
    background-color: #31af64;
=======
  &.status-box-open {
    background-color: #019875;
>>>>>>> 110a5f9c96457ac314f30630735dd827d9d96a4c
    color: #FFF;
  }

  &.status-box-expired {
    background: #cea61b;
    color: #FFF;
  }
}
