.memory-graph-container {
  svg {
    background: $white-light;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 4px $gray-darkest inset;
    }
  }

  path {
    fill: none;
    stroke: $blue-500;
    stroke-width: 2px;
  }

  circle {
    stroke: $blue-700;
    fill: $blue-700;
    stroke-width: 4px;
  }
}
