.memory-graph-container {
  svg {
    background: $white-light;
    border: 1px solid $white-dark;
  }

  path,
  circle {
    fill: none;
    stroke-width: 1px;
  }

  path {
    stroke: $blue-500;
  }

  circle {
    stroke: $blue-700;
    fill: $blue-700;
  }
}
