.page-title-holder {
  border-bottom: 1px solid $border-color;

  .page-title {
    margin: $gl-padding 0;
    font-size: 1.75em;
    font-weight: $gl-font-weight-bold;
    color: $gl-text-color;
  }

  .page-title-controls {
    margin-left: auto;
  }
}
