.panel {
  margin-bottom: $gl-padding;

  .panel-heading {
    padding: $gl-vert-padding $gl-padding;
    line-height: 36px;

    .controls {
      margin-top: -2px;
      float: right;
    }
  }

  .panel-body {
    padding: $gl-padding;

    .form-actions {
      margin: -$gl-padding;
      margin-top: $gl-padding;
    }
  }
}
