.read-more-container {
  @include media-breakpoint-down(md) {
    &:not(.is-expanded) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > * {
        display: inline;
      }
    }
  }
}
