.gl-responsive-table {
  .gl-responsive-table-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $white-normal;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: baseline;
      margin-top: 10px;
      border: 1px solid $border-color;
      padding: 0;
    }

    .table-section {
      white-space: nowrap;
      overflow: hidden;

      &.section-flex-full {
        flex: 1;
      }

      &.section-10 {
        flex: 0 0 10%;
      }

      &.section-15 {
        flex: 0 0 15%;
      }

      &:not(.environments-actions) {
        @media (max-width: $screen-sm-max) {
          display: flex;
          align-self: stretch;
          padding: 15px;

          &:not(:first-of-type) {
            border-top: 1px solid $white-normal;
          }
        }
      }
    }
  }

  .table-row-header {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .responsive-mobile-header {
    flex: 0 0 120px;

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }

  .mobile-content {
    @media (max-width: $screen-sm-max) {
      flex: 1;
      text-align: right;
    }
  }

  .flex-truncate-parent {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-truncate-child {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $screen-md-min) {
      flex: 0 0 90%;
    }
  }
}
