.severity-text-critical {
  color: var(--severity-color-critical);
}

.severity-text-high {
  color: var(--severity-color-high);
}

.severity-text-medium {
  color: var(--severity-color-medium);
}

.severity-text-low {
  color: var(--severity-color-low);
}

.severity-text-info {
  color: var(--severity-color-info);
}

.severity-text-unknown {
  color: var(--severity-color-unknown);
}

.severity-bg-critical {
  background-color: var(--severity-color-critical);
}

.severity-bg-high {
  background-color: var(--severity-color-high);
}

.severity-bg-medium {
  background-color: var(--severity-color-medium);
}

.severity-bg-low {
  background-color: var(--severity-color-low);
}

.severity-bg-info {
  background-color: var(--severity-color-info);
}

.severity-bg-unknown {
  background-color: var(--severity-color-unknown);
}
