.sortable-container {
  .flex-list {
    padding: 5px;
    margin-bottom: 0;
  }
}

.sortable-row {
  .flex-row {
    display: flex;

    &.issuable-info-container {
      padding-right: 0;
    }
  }

  .sortable-link {
    color: $black;
  }
}

.gl-sortable {
  .header {
    user-select: none;

    &:hover {
      cursor: pointer;
      background-color: $gray-100;
    }

    &:focus {
      outline: 1px solid $blue-300;
    }
  }
}

.is-dragging {
  // Important because plugin sets inline CSS
  opacity: 1 !important;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // !important to make sure no style can override this when dragging
    cursor: grabbing !important;
  }

  &.no-drop * {
    cursor: no-drop !important;
  }
}

.tree-item,
.linked-item {
  &.is-dragging {
    border-top: 0;

    .item-body {
      background-color: $white;
      border: 2px solid $gray-200;
    }
  }
}
