.stacked-progress-bar {
  display: flex;
  height: 16px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $gray-100;

  .status-unavailable,
  .status-green,
  .status-neutral,
  .status-red {
    height: 100%;
    min-width: 40px;
    padding: 0 5px;
    font-size: $tooltip-font-size;
    font-weight: normal;
    color: $white;
    line-height: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  .status-unavailable {
    padding: 0 10px;
    @apply gl-text-subtle;
  }

  .status-green {
    background-color: $green-500;

    &:hover {
      background-color: $green-600;
    }
  }

  .status-neutral {
    background-color: $gray-100;
    color: $gray-900;

    &:hover {
      background-color: $gray-200;
    }
  }

  .status-red {
    background-color: $red-500;

    &:hover {
      background-color: $red-600;
    }
  }
}
