.timeline {
  @include basic-list;
  margin: 0;
  padding: 0;

  &::before {
    @include notes-media('max', map-get($grid-breakpoints, xs)) {
      background: none;
    }
  }

  .system-note {
    .note-text {
      color: $gl-text-color !important;
    }
  }

  .diff-file {
    border: 1px solid $border-color;
    margin: 0;
  }

  &.text-file .diff-file {
    border-bottom: 0;
  }
}

.timeline-entry {
  border-color: $white-normal;
  color: $gl-text-color;
  border-bottom: 1px solid $border-white-light;
  background: $white-light;

  .timeline-entry-inner {
    position: relative;

    @include notes-media('max', map-get($grid-breakpoints, xs)) {
      .timeline-icon {
        display: none;
      }

      .timeline-content {
        margin-left: 0;
      }
    }
  }

  &:target,
  &.target {
    background: $line-target-blue;

    &.system-note .note-body .note-text.system-note-commit-list::after {
      background: linear-gradient(rgba($line-target-blue, 0.1) -100px, $line-target-blue 100%);
    }
  }

  .avatar {
    margin-right: 15px;
  }

  .controls {
    padding-top: 10px;
    float: right;
  }
}

.discussion .timeline-entry {
  margin: 0;
  border-right: 0;
}
