.top-bar-container {
  min-height: $top-bar-height;
}

.top-bar-fixed {
  @include gl-inset-border-b-1-gray-100;
  background-color: $body-bg;
  position: fixed;
  left: var(--application-bar-left);
  right: var(--application-bar-right);
  top: $calc-application-bars-height;
  width: calc(100% - var(--application-bar-left));
  z-index: $top-bar-z-index;

  @media (prefers-reduced-motion: no-preference) {
    transition: left $gl-transition-duration-medium,
                right $gl-transition-duration-medium,
                width $gl-transition-duration-medium;
  }
}
