.info-well {
  background: $gray-light;
  color: $gl-text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-default;
  margin-bottom: $gl-padding;

  .well-segment {
    padding: $gl-padding;

    &:not(:last-of-type) {
      border-bottom: 1px solid $well-inner-border;
    }

    &.branch-info {
      .commit-sha,
      .commit-info {
        margin-left: 4px;
      }

      .ref-name {
        font-size: 12px;
      }
    }

    &.admin-well h4 {
      border-bottom: 1px solid $border-color;
      padding-bottom: 8px;
    }
  }

  .icon-container {
    display: inline-block;
    margin-right: 8px;

    svg {
      position: relative;
      top: 2px;
      height: 16px;
      width: 16px;
    }

    &.commit-icon {
      svg {
        path {
          fill: $gl-text-color;
        }
      }
    }
  }

  .label.label-gray {
    background-color: $well-expand-item;
  }

  .limit-box-branch {
    width: 160px;
  }

  .limit-box-tag {
    width: 125px;
  }

  .branches {
    display: inline;
  }

  .branch-link {
    margin-bottom: 2px;
  }

  .limit-box {
    display: inline-flex;
    align-items: center;
    padding: 1px;
    background: $blue-100;
    border-radius: $border-radius-default;
    text-align: center;

    &:hover {
      background: $blue-200;
    }

    .limit-icon {
      width: 15%;
    }

    .limit-message {
      flex: 1;
      height: 16px;
      margin-right: 2px;
      background: $white-light;
      border-top-right-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
      font-family: $regular_font;
      font-size: 12px;
    }
  }
}

.light-well {
  background-color: $gray-light;
  padding: 15px;
}

.dark-well {
  background-color: $gray-normal;

  .btn {
    width: 100%;
  }
}

.well-centered {
  h1 {
    font-weight: $gl-font-weight-normal;
    text-align: center;
    font-size: 48px;
  }
}
