.zen-backdrop {
  &.fullscreen {
    background-color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1031;

    textarea {
      border: 0;
      box-shadow: none;
      border-radius: 0;
      color: $black;
      font-size: 20px;
      line-height: 26px;
      padding: 30px;
      display: block;
      outline: none;
      resize: none;
      height: 100vh;
      max-height: calc(100vh - 10px);
      max-width: 900px;
      margin: 0 auto 10px;
    }

    .div-dropzone {
      textarea.note-textarea {
        resize: none !important;
      }
    }

    .zen-control-leave {
      display: block;
    }
  }
}

.zen-control {
  padding: 0;
  @apply gl-text-subtle;
  background: none;
  border: 0;
}

.zen-control-leave {
  display: none;
  position: absolute;
  @apply sm:gl-p-3 sm:gl-text-base gl-leading-0 #{!important};
  @apply gl-right-3 gl-top-3;
}
