.form-group
  = label_tag :mirror_direction, _('Mirror direction'), class: 'label-light'
  .select-wrapper
    = select_tag :mirror_direction, options_for_select([[_('Push'), 'push']]), class: 'form-control select-control js-mirror-direction qa-mirror-direction', disabled: true
    = icon('chevron-down')

= render partial: "projects/mirrors/mirror_repos_push", locals: { f: f }
