- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'mirrors'

- if @project.feature_available?(:repository_mirrors)
  = render 'projects/mirrors/pull'
  = render 'projects/mirrors/push'
