- page_title "Team Dashboard"

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'teamdashboard'

  %script#js-board-template{ type: "text/x-template" }= render "projects/boards/components/board"
