- css_class = local_assigns.fetch(:css_class, '')
.bs-callout.clearfix.prepend-top-0{ class: css_class }
  %h4= s_("SharedRunnersMinutesSettings|Reset used pipeline minutes")
  %p= s_("SharedRunnersMinutesSettings|By resetting the pipeline minutes for this namespace, the currently used minutes will be set to zero.")

  = link_to s_("SharedRunnersMinutesSettings|Reset pipeline minutes"), link_reset_minutes, method: :post, class: "btn btn-default"
