- add_page_specific_style 'page_bundles/cluster_agents'
- add_to_breadcrumbs _('Kubernetes'), project_clusters_path(@project)
- page_title @agent_name

#js-cluster-agent-details{ data: js_cluster_agent_details_data(@agent_name, @project) }
