.user-callout.promotion-callout.js-service-desk-callout#promote_service_desk{ data: { uid: 'promote_service_desk_dismissed' } }
  .bordered-box.content-block
    %button.gl-button.btn.btn-default.close.js-close-callout{ type: 'button', 'aria-label' => 'Dismiss Service Desk promotion' }
      = sprite_icon('close', size: 16, css_class: 'dismiss-icon')
    .svg-container
      = custom_icon('icon_service_desk')
    .user-callout-copy
      %h4
        = _("Improve customer support with Service Desk")
      %p
        = _("Service Desk allows people to create issues in your GitLab instance without their own user account. It provides a unique email address for end users to create issues in a project. Replies can be sent either through the GitLab interface or by email. End users only see threads through email.")
