- title = capture do
  = html_escape(_('This commit was signed with a %{strong_open}verified%{strong_close} signature and the committer email is verified to belong to the same user.')) % { strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }

- locals = { signature: signature, title: title, label: _('Verified'), variant: 'success', show_user: true }

= render partial: 'projects/commit/signature_badge', locals: locals
