- note = notes.first # example note
-# Check if line want not changed since comment was left
- if !defined?(line) || line == note.diff_line
  %tr.notes_holder
    %td.notes_line{ colspan: 2 }
      %span.discussion-notes-count
        %i.fa.fa-comment
        = notes.count
    %td.notes_content
      %ul.notes{ data: { discussion_id: note.discussion_id } }
        = render notes
      .discussion-reply-holder
        = link_to_reply_diff(note)
