- note = discussion_notes.first
- if note.for_merge_request?
  - if note.outdated?
    = render "projects/notes/discussions/outdated", discussion_notes: discussion_notes
  - else
    = render "projects/notes/discussions/active", discussion_notes: discussion_notes
- else
  = render "projects/notes/discussions/commit", discussion_notes: discussion_notes
