.comment-toolbar.clearfix
  .toolbar-text
    Styling with
    = link_to 'Markdown', help_page_path('markdown', 'markdown'), target: '_blank', tabindex: -1
    is supported
  %button.toolbar-button.markdown-selector{ type: 'button', tabindex: '-1' }
    = icon('file-image-o', class: 'toolbar-button-icon')
    Attach a file
