.comment-hints.clearfix
  .pull-left
    = link_to 'Markdown', help_page_path('markdown', 'markdown'), target: '_blank', tabindex: -1
    tip:
    = random_markdown_tip
  .pull-right
    = link_to '#', class: 'markdown-selector', tabindex: -1 do
      = icon('paperclip')
      Attach a file
