- remote = local_assigns.fetch(:remote, false)
- search = params[:search]
- show_empty_search = @topics.empty? && search

- if show_empty_search
  = render ::Layouts::EmptyResultComponent.new(type: :search)
- else
  %ul.content-list
    = render partial: 'shared/topics/topic', collection: @topics
    = paginate_collection @topics, remote: remote
