%ul.nav.nav-sidebar
  = nav_link(path: user_snippets_path(current_user), html_options: {class: 'home'}) do
    = link_to user_snippets_path(current_user), title: 'Your snippets' do
      %i.fa.fa-dashboard
      %span
        Your Snippets
  = nav_link(path: snippets_path) do
    = link_to snippets_path, title: 'Discover snippets' do
      %i.fa.fa-globe
      %span
        Discover Snippets
