- view_model = top_nav_view_model(project: @project, group: @group)
%ul.list-unstyled.navbar-sub-nav#js-top-nav{ data: { view_model: view_model.to_json } }
  %li
    %a.top-nav-toggle{ href: '#', type: 'button', data: { toggle: "dropdown" } }
      = sprite_icon('hamburger', css_class: "dropdown-icon")
      = view_model[:activeTitle]

.hidden
  - view_model[:shortcuts].each do |shortcut|
    = link_to shortcut[:href], class: shortcut[:css_class] do
      = shortcut[:title]
