%div{ class: 'top-bar-fixed container-fluid', data: { testid: 'top-bar' } }
  .top-bar-container.gl-display-flex.gl-align-items-center.gl-gap-2
    = render Pajamas::ButtonComponent.new(icon: 'sidebar', category: :tertiary, button_options: { class: 'js-super-sidebar-toggle-expand super-sidebar-toggle gl-ml-n3', aria: { controls: 'super-sidebar', expanded: 'false', label: _('Primary navigation sidebar') } })
    = render "layouts/nav/breadcrumbs/breadcrumbs"
    = render_if_exists "layouts/nav/ask_duo_button"
