- add_to_breadcrumbs _("Labels"), group_labels_path(@group)
- breadcrumb_title _("Edit")
- page_title _("Edit"), @label.name, _("Labels")

%h1.page-title.gl-font-size-h-display
  = _('Edit Label')

= render 'shared/labels/form', url: group_label_path(@group, @label), back_path: @previous_labels_path
