- add_to_breadcrumbs _("Labels"), group_labels_path(@group)
- breadcrumb_title _("Edit")
- page_title _("Edit"), @label.name, _("Labels")

%h3.page-title
  = _('Edit Label')
%hr

= render 'shared/labels/form', url: group_label_path(@group, @label), back_path: @previous_labels_path
