- add_to_breadcrumbs _("Labels"), group_labels_path(@group)
- breadcrumb_title _("New")
- page_title _("New Label")

%h3.page-title
  = _('New Label')
%hr

= render 'shared/labels/form', url: group_labels_path, back_path: @previous_labels_path
