%li.build
  .build-content
    - if subject.target_url
      - link_to subject.target_url do
        = render_status_with_link('commit status', subject.status)
        %span.ci-status-text= subject.name
    - else
      = render_status_with_link('commit status', subject.status)
      %span.ci-status-text= subject.name
