.form-group
  = f.label :plan, class: 'control-label'
  .col-sm-10
    = f.select :plan, options_for_select(Namespace::EE_PLANS.keys.map { |plan| [plan.titleize, plan] }, f.object.plan), {}, class: 'form-control'
