!!!
%html
  %head
    %title OAuth authorize required
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          = stylesheet_link_tag "doorkeeper/application"
          = csrf_meta_tags
  %body
    #container
      - if flash[:notice].present?
        .alert.alert-info
          = flash[:notice]
      = yield