- label_status = hook_log.success? ? 'badge-success' : 'badge-danger'
%span{ class: "badge badge-pill gl-badge sm #{label_status}" }
  = hook_log.internal_error? ? _('Error') : hook_log.response_status
