- page_title "导入仓库"
%h3.page-title
  导入仓库

%hr

- if @project.import_failed?
  .panel.panel-danger
    .panel-heading 版本仓库无法被导入。
    .panel-body
      %pre
        :preserve
          #{sanitize_repo_path(@project.import_error)}

= form_for @project, url: namespace_project_import_path(@project.namespace, @project), method: :post, html: { class: 'form-horizontal' } do |f|
  = render "shared/import_form", f: f

  .form-actions
    = f.submit '开始导入', class: "btn btn-create", tabindex: 4
