- page_title "Import repository"
%h3.page-title
  Import repository

%hr

- if @project.import_failed?
  .alert.alert-danger
    %p The repository could not be imported.
    %pre.prepend-top-10
      :preserve
        #{@project.import_error.try(:strip)}

= form_for @project, url: namespace_project_import_path(@project.namespace, @project), method: :post, html: { class: 'form-horizontal' } do |f|
  = render "shared/import_form", f: f

  .form-actions
    = f.submit 'Start import', class: "btn btn-create", tabindex: 4
