- page_title import_in_progress_title

.save-project-loader
  .center
    %h2.gl-flex.gl-justify-center.gl-items-center.gl-flex-col.sm:gl-flex-row
      = gl_loading_icon(inline: true)
      %span.gl-ml-3
        = import_in_progress_title
    - if !has_ci_cd_only_params? && @project.external_import?
      %p.monospace git clone --bare #{@project.safe_import_url}
    %p
      = import_wait_and_refresh_message
