- page_title "Import in progress"
.save-project-loader
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      - if @project.forked?
        Forking in progress.
      - else
        Import in progress.
    - unless @project.forked?
      %p.monospace git clone --bare #{@project.safe_import_url}
    %p Please wait while we import the repository for you. Refresh at will.
    :javascript
      new ProjectImport();
