.save-project-loader
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      Import in progress.
    %p.monospace git clone --bare #{hidden_pass_url(@project.import_url)}
    %p Please wait while we import the repository for you. Refresh at will.
    :javascript
      new ProjectImport();
