- page_title "正在导入"
.save-project-loader
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      - if @project.forked?
        正在派生。
      - else
        正在导入。
    - unless @project.forked?
      %p.monospace git clone --bare #{@project.safe_import_url}
    %p 请稍候，正在导入仓库。将自动刷新。
    :javascript
      new ProjectImport();
