- return unless can?(current_user, :admin_operations, @project)
- expanded = expanded_by_default?
- add_page_specific_style 'page_bundles/alert_management_settings'
- add_page_specific_style 'page_bundles/paginated_table'

= render ::Layouts::SettingsBlockComponent.new(_('Alerts'),
  id: 'js-alert-management-settings',
  testid: 'alerts-settings-content',
  expanded: expanded) do |c|
  - c.with_description do
    = _('Display alerts from all configured monitoring tools.')
    = link_to _('Learn more.'), help_page_path('operations/incident_management/integrations.md'), target: '_blank', rel: 'noopener noreferrer'
  - c.with_body do
    .js-alerts-settings{ data: alerts_settings_data }
