.js-operation-settings{ data: { operations_settings_endpoint: project_settings_operations_path(@project),
  external_dashboard: { url: metrics_external_dashboard_url,
  help_page_path: help_page_path('user/project/operations/link_to_external_dashboard') } } }
