.js-grafana-integration{ data: { operations_settings_endpoint: project_settings_operations_path(@project),
  grafana_integration: { url: grafana_integration_url, token: grafana_integration_token, enabled: grafana_integration_enabled?.to_s } } }
