- setting = project_incident_management_setting
- templates = setting.available_issue_templates.map { |t| { key: t.key, name: t.name } }

.js-incidents-settings{ data: { operations_settings_endpoint: project_settings_operations_path(@project),
        templates: templates.to_json,
        create_issue: setting.create_issue.to_s,
        issue_template_key: setting.issue_template_key.to_s,
        send_email: setting.send_email.to_s } }
