- @content_class = 'limit-container-width' unless fluid_layout
- page_title _('Operations Settings')
- breadcrumb_title _('Operations Settings')

= render_if_exists 'projects/settings/operations/incidents'
= render 'projects/settings/operations/error_tracking'
= render 'projects/settings/operations/external_dashboard'
= render_if_exists 'projects/settings/operations/tracing'
