#repo{ data: { root: @path.empty?.to_s,
               url: content_url,
               project_name: project.name,
               refs_url: refs_project_path(project, format: :json),
               project_url: project_path(project),
               project_id: project.id,
               blob_url: namespace_project_blob_path(project.namespace, project, '{{branch}}'),
               new_mr_template_url: namespace_project_new_merge_request_path(project.namespace, project, merge_request: { source_branch: '{{source_branch}}' }),
               can_commit: (!!can_push_branch?(project, @ref)).to_s,
               on_top_of_branch: (!!on_top_of_branch?(project, @ref)).to_s,
               current_path: @path } }
