- page_title _("Gitea import")
%h1.page-title.gl-text-size-h-display.gl-flex.gl-items-center
  .gl-flex.gl-items-center.gl-justify-center
    = sprite_icon('gitea', css_class: 'gl-mr-3', size: 48)
  = _('Import projects from Gitea')

= render 'import/githubish_status', provider: 'gitea', default_namespace: @namespace
