- breadcrumb_title _("Snippets")
- page_title    _("Explore snippets")
- header_title  _("Snippets"), snippets_path

.page-title-holder.gl-flex.gl-items-center
  %h1.page-title.gl-text-size-h-display= page_title
  .page-title-controls
    - if can?(current_user, :create_snippet)
      = render Pajamas::ButtonComponent.new(href: new_snippet_path, variant: :confirm) do
        = _("New snippet")

= render partial: 'shared/snippets/list', locals: { link_project: true }
