- @hide_top_links = true
- page_title    _("Snippets")
- header_title  _("Snippets"), snippets_path

- if current_user
  = render 'dashboard/snippets_head'
- else
  = render 'explore/head'

= render partial: 'shared/snippets/list', locals: { link_project: true }
