- @hide_top_links = true
- page_title    "Snippets"
- header_title  "Snippets", snippets_path

- if current_user
  = render 'dashboard/snippets_head'
- else
  = render 'explore/head'

= render partial: 'snippets/snippets', locals: { link_project: true }
