- breadcrumb_title _('Packages and registries settings')
- page_title _('Packages and registries settings')
- @force_desktop_expanded_sidebar = true

%section#js-packages-and-registries-settings{ data: { group_path: @group.full_path,
  group_dependency_proxy_path: group_dependency_proxy_path(@group) } }
