- breadcrumb_title _('Packages and registries settings')
- page_title _('Packages and registries settings')
- @force_desktop_expanded_sidebar = true

%section#js-packages-and-registries-settings{ data: packages_and_registries_group_settings_template_data(@group) }
