- docs_link_url = help_page_path('topics/git/lfs/_index.md')
- docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: docs_link_url }

%h5= _('Large File Storage')

%p= s_('%{docs_link_start}What is Large File Storage?%{docs_link_end}').html_safe % { docs_link_start: docs_link_start, docs_link_end: '</a>'.html_safe }

.form-group.gl-mb-3
  = f.gitlab_ui_checkbox_component :lfs_enabled,
      _('Projects in this group can use Git LFS'),
      help_text: _('Possible to override in each project.'),
      checkbox_options: { checked: @group.lfs_enabled?, data: { testid: 'lfs-checkbox' } }
