- return unless Gitlab.config.pages.access_control
- forced_by_instance = ::Gitlab::CurrentSettings.current_application_settings.force_pages_access_control
- return if forced_by_instance || group.pages_access_control_forced_by_ancestor?

%h5= s_('GitLabPages|Pages access control')
.form-group.gl-mb-3
  = f.gitlab_ui_checkbox_component :force_pages_access_control,
    s_('GitLabPages|Restrict access to only project members on all group projects'),
    help_text: s_('GitLabPages|When enabled, all projects in the group and its subgroups become visible only to members.')
