= gitlab_ui_form_for @group, html: { multipart: true, class: 'gl-show-field-errors' }, authenticity_token: true do |f|
  = render_if_exists 'shared/pages/max_pages_size_input', form: f

  .gl-mt-3
    = f.submit s_('GitLabPages|Save changes'), pajamas_button: true
