- return unless render_setting_to_allow_project_access_token_creation?(group)

.form-group.gl-mb-3
  - project_access_tokens_link = help_page_path('user/project/settings/project_access_tokens')
  - link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: project_access_tokens_link }
  = f.gitlab_ui_checkbox_component :resource_access_token_creation_allowed,
    s_('GroupSettings|Allow project access token creation'),
    checkbox_options: { checked: group.namespace_settings.resource_access_token_creation_allowed?, data: { qa_selector: 'resource_access_token_creation_allowed_checkbox' } },
    help_text: s_('GroupSettings|Users can create %{link_start}project access tokens%{link_end} for projects in this group.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
