.form-group
  = f.label s_('SubgroupCreationLevel|Roles allowed to create subgroups'), class: 'label-bold'
  - ::Gitlab::Access.subgroup_creation_options.each do |label, action|
    = f.gitlab_ui_radio_component :subgroup_creation_level, action, label
