.empty-stage-container
  .empty-stage
    .icon-no-data
      = custom_icon ('icon_no_data')
    %h4 {{ __('We don\'t have enough data to show this stage.') }}
    %p
      {{currentStage.emptyStageText}}
