.no-access-stage-container
  .no-access-stage
    .icon-lock
      = custom_icon ('icon_lock')
    %h4 {{ __('You need permission.') }}
    %p
      {{ __('Want to see the data? Please ask an administrator for access.') }}
