.cycle-analytics-overview
  .container
    .row
      .col-md-10.offset-md-1
        .row.overview-details
          .col-md-6.overview-text
            %h4 Introducing Cycle Analytics
            %p
              Cycle Analytics gives an overview of how much time it takes to go from idea to production in your project.
              To set up CA, you must first define a production environment by setting up your CI and then deploy to production.
            %p
              %a.btn{ href: help_page_path('user/project/cycle_analytics'), target: '_blank' } Read more
          .col-md-6.overview-image
            %span.overview-icon
              = custom_icon ('icon_cycle_analytics_overview')
