- @no_container = true
- page_title "Cycle Analytics"
- content_for :page_specific_javascripts do
  = webpack_bundle_tag('common_vue')
  = webpack_bundle_tag('cycle_analytics')

= render "projects/head"

#js-vue-cycle-analytics{ "v-cloak" => "true", data: { request_path: project_cycle_analytics_path(@project), cycle_analytics_no_data: @cycle_analytics_no_data, help_path: help_page_path('user/project/cycle_analytics'), class: container_class} }