.panel.panel-default.protected-branches-list
  - if @protected_branches.empty?
    .panel-heading
      %b Protected branch (#{@protected_branches.size})
    %p.settings-message.text-center
      There are currently no protected branches, protect a branch with the form above.
  - else
    - can_admin_project = can?(current_user, :admin_project, @project)

    %table.table.table-bordered
      %colgroup
        %col{ width: "25%" }
        %col{ width: "30%" }
        %col{ width: "25%" }
        %col{ width: "20%" }
      %thead
        %tr
          %th Protected branch (#{@protected_branches.size})
          %th Last commit
          %th Allowed to merge
          %th Allowed to push
          - if can_admin_project
            %th
      %tbody
        = render partial: @protected_branches, locals: { can_admin_project: can_admin_project }

    = paginate @protected_branches, theme: 'gitlab'
