- merge_access_level = protected_branch.merge_access_levels.first
- push_access_level = protected_branch.push_access_levels.first

%td
  = render 'projects/settings/access_level_dropdown',
    verb: 'merge',
    protected_ref: protected_branch,
    access_level: merge_access_level,
    extra_toggle_classes: %w[qa-allowed-to-merge]

%td
  = render 'projects/settings/access_level_dropdown',
    verb: 'push',
    protected_ref: protected_branch,
    access_level: push_access_level,
    extra_toggle_classes: %w[qa-allowed-to-push]
