- page_title @protected_ref.name, "Protected Branches"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0.ref-name
      = @protected_ref.name

  .col-lg-9
    %h5 Matching Branches
    - if @matching_refs.present?
      .table-responsive
        %table.table.protected-branches-list
          %colgroup
            %col{ width: "30%" }
            %col{ width: "30%" }
          %thead
            %tr
              %th Branch
              %th Last commit
          %tbody
            - @matching_refs.each do |matching_branch|
              = render partial: "projects/protected_branches/shared/matching_branch", object: matching_branch
    - else
      %p.settings-message.text-center
        Couldn't find any matching branches.
