- actions = deployment.manual_actions
- if actions.any?
  .btn-group.inline
    .btn-group
      %a.dropdown-toggle.btn.btn-default{type: 'button', 'data-toggle' => 'dropdown'}
        = icon("play")
        %b.caret
      %ul.dropdown-menu.dropdown-menu-align-right
        %li
          = link_to play_namespace_project_build_path(@project.namespace, @project, build), rel: 'nofollow' do
            = icon("play")
            %span= actions.name.titleize
