- if can?(current_user, :create_deployment, deployment) && deployment.deployable
  = link_to [:retry, @project.namespace.becomes(Namespace), @project, deployment.deployable], method: :post, class: 'btn btn-build' do
    - if deployment.last?
      Re-deploy
    - else
      Rollback
