- add_to_breadcrumbs _("Environments"), project_environments_path(@project)
- add_to_breadcrumbs @environment.name, project_environment_path(@project, @environment)
- breadcrumb_title _("Deployment #%{iid}") % { iid: @deployment.iid }
- page_title _("Deployment #%{iid}") % { iid: @deployment.iid }

#js-deployment-details{ data: { project_path: @project.full_path,
                       environment_name: @environment.name,
                       deployment_iid: @deployment.iid,
                       graphql_etag_key: @environment.etag_cache_key } }
