- stage = local_assigns.fetch(:stage)
- statuses = stage.statuses.latest
- status_groups = statuses.sort_by(&:name).group_by(&:group_name)
%li.stage-column
  .stage-name
    %a{ name: stage.name }
    = stage.name.titleize
  .builds-container
    %ul
      - status_groups.each do |group_name, grouped_statuses|
        - if grouped_statuses.one?
          - status = grouped_statuses.first
          %li.build
            .curve
            .build-content
              = render 'ci/status/graph_badge', subject: status
        - else
          %li.build
            .curve
            .dropdown.inline.build-content
              = render 'projects/stage/in_stage_group', name: group_name, subject: grouped_statuses
