- detailed_status = @build.detailed_status(current_user)
- illustration = detailed_status.illustration

= render 'empty_state',
    illustration: illustration[:image],
    illustration_size: illustration[:size],
    title: illustration[:title],
    content: illustration[:content],
    action: illustration[:action_path] ? link_to(_("Trigger this manual action"), illustration[:action_path], method: illustration[:action_method], class: 'btn btn-primary', title: _("Trigger this manual action")) : nil
