- admin = local_assigns.fetch(:admin, false)

- if builds.blank?
  %div
    .nothing-here-block No jobs to show
- else
  .table-holder
    %table.table.ci-table.builds-page
      %thead
        %tr
          %th Status
          %th Job
          %th Pipeline
          - if admin
            %th Project
            %th Runner
          %th Stage
          %th Name
          %th
          %th Coverage
          %th

      = render partial: "projects/ci/builds/build", collection: builds, as: :build, locals: { commit_sha: true, ref: true, pipeline_link: true, stage: true, allow_retry: true, admin: admin }

  = paginate_collection(builds)
