- @no_container = true
- add_to_breadcrumbs _("Jobs"), project_jobs_path(@project)
- breadcrumb_title "##{@build.id}"
- page_title "#{@build.name} (##{@build.id})", _("Jobs")

- content_for :page_specific_javascripts do
  = stylesheet_link_tag 'page_bundles/xterm'


%div{ class: container_class }
  #js-vue-job-app{ data: { job_endpoint: project_job_path(@project, @build, format: :json),
    trace_options: javascript_build_options,
    runner_help_url: help_page_path('ci/runners/README.html', anchor: 'setting-maximum-job-timeout-for-a-runner'),
    terminal_path: can?(current_user, :create_build_terminal, @build) && @build.has_terminal? ? terminal_project_job_path(@project, @build) : nil,
    runners_path: project_runners_path(@build.project, anchor: 'js-runners-settings') } }

    -#= render "sidebar", builds: @builds

.js-build-options{ data: javascript_build_options }

