- @no_container = true
- add_to_breadcrumbs _("Jobs"), project_jobs_path(@project)
- breadcrumb_title "##{@build.id}"
- page_title "#{@build.name} (##{@build.id})", _("Jobs")

- content_for :page_specific_javascripts do
  = stylesheet_link_tag 'page_bundles/xterm'

%div{ class: container_class }
  #js-job-vue-app{ data: { endpoint: project_job_path(@project, @build, format: :json), project_path: @project.full_path,
    deployment_help_url: help_page_path('user/project/clusters/index.html', anchor: 'troubleshooting-failed-deployment-jobs'),
    runner_help_url: help_page_path('ci/runners/README.html', anchor: 'setting-maximum-job-timeout-for-a-runner'),
    runner_settings_url: project_runners_path(@build.project, anchor: 'js-runners-settings'),
    variables_settings_url: project_variables_path(@build.project, anchor: 'js-cicd-variables-settings'),
    page_path: project_job_path(@project, @build), build_status: @build.status, build_stage: @build.stage, log_state: '',
    build_options: javascript_build_options } }
