- add_to_breadcrumbs _("Jobs"), project_jobs_path(@project)
- breadcrumb_title "##{@build.id}"
- page_title "#{@build.name} (##{@build.id})", _("Jobs")
- add_page_specific_style 'page_bundles/build'
- add_page_specific_style 'page_bundles/xterm'
- add_page_specific_style 'page_bundles/ci_status'
- add_page_specific_style 'page_bundles/merge_request'

= render_if_exists "shared/shared_runners_minutes_limit_flash_message"

#js-job-page{ data: jobs_data(@project, @build) }
