- if can?(current_user, :admin_feature_flag, @project)
  %button.btn.btn-primary.btn-inverted.append-right-8{ type: 'button', data: { toggle: 'modal', target: '#configure-feature-flags-modal' } }>
    = s_('FeatureFlags|Configure')
