- content_for :create_protected_tag do
  = render 'projects/protected_tags/ee/create_protected_tag'

- content_for :tag_list do
  = render "projects/protected_tags/ee/tags_list"

= render 'projects/protected_tags/shared/index'
