- breadcrumb_title _("Templates")
- page_title _("Templates")
- @content_class = "limit-container-width" unless fluid_layout

= render_if_exists 'admin/application_settings/templates', expanded: expanded_by_default?

= render_if_exists 'admin/application_settings/custom_templates_form', expanded: expanded_by_default?
