- page_title _("CI Lint")
- page_description _("Validate your GitLab CI configuration file")

%h4.pt-3.pb-3= _("Validate your GitLab CI configuration")

#js-ci-lint{ data: { endpoint: project_ci_lint_path(@project), pipeline_simulation_help_page_path: help_page_path('ci/yaml/lint.md', anchor: 'simulate-a-pipeline') , lint_help_page_path: help_page_path('ci/yaml/lint.md', anchor: 'check-cicd-syntax') } }
