- name = label.parameterize
- attribute = name.underscore

.reset-action
  %p.cgray
    = label_tag name, label, class: "label-light"
    = text_field_tag name, current_user.send(attribute), class: 'form-control', readonly: true, onclick: 'this.select()'
    %p.help-block
      = help_text
  .prepend-top-default
    = link_to button_label, [:reset, attribute, :profile], method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-default private-token'
