- if params[:two_factor_auth_enabled_successfully]
  = render Pajamas::AlertComponent.new(title: _('2FA setup complete!'),
    variant: :success,
    close_button_options: { class: 'js-close-2fa-enabled-success-alert' }) do |c|
    - c.with_body do
      - doc_link = link_to '', help_page_path('user/profile/account/two_factor_authentication_troubleshooting.md', anchor: 'recovery-options-and-2fa-reset'),
        target: '_blank', rel: 'noopener noreferrer'
      = safe_format(_('If you lose access to your 2FA method, use your %{doc_start}recovery codes%{doc_end}.'),
        tag_pair(doc_link, :doc_start, :doc_end))
