.content-block.oneline-block.files-changed{"v-if" => "!isLoading && !hasError"}
  .inline-parallel-buttons{"v-if" => "showDiffViewTypeSwitcher"}
    .btn-group
      %a.btn{ |
        ":class" => "{'active': !isParallel}", |
        "@click" => "handleViewTypeChange('inline')"}
        Inline
      %a.btn{ |
        ":class" => "{'active': isParallel}", |
        "@click" => "handleViewTypeChange('parallel')"}
        Side-by-side

  .js-toggle-container
    .commit-stat-summary
      Showing
      %strong.cred {{conflictsCountText}}
      between
      %strong {{conflictsData.sourceBranch}}
      and
      %strong {{conflictsData.targetBranch}}
