.content-block.oneline-block.files-changed{ "v-if" => "!isLoading && !hasError" }
  .inline-parallel-buttons{ "v-if" => "showDiffViewTypeSwitcher" }
    .btn-group
      %button.btn{ ":class" => "{'active': !isParallel}", "@click" => "handleViewTypeChange('inline')" }
        Inline
      %button.btn{ ":class" => "{'active': isParallel}", "@click" => "handleViewTypeChange('parallel')" }
        Side-by-side

  .js-toggle-container
    .commit-stat-summary
      Showing
      %strong.cred {{conflictsCountText}}
      between
      %strong.ref-name {{conflictsData.sourceBranch}}
      and
      %strong.ref-name {{conflictsData.targetBranch}}
