.file-actions
  .btn-group
    %button.btn{ ":class" => "{ 'active': file.resolveMode == 'interactive' }",
      '@click' => "onClickResolveModeButton(file, 'interactive')",
      type: 'button' }
      Interactive mode
    %button.btn{ ':class' => "{ 'active': file.resolveMode == 'edit' }",
      '@click' => "onClickResolveModeButton(file, 'edit')",
      type: 'button' }
      Edit inline
  %a.btn.view-file.btn-file-option{":href" => "file.blobPath"}
    View file @{{conflictsData.shortCommitSha}}
