.file-actions.d-flex.align-items-center.gl-ml-auto.gl-align-self-start
  .btn-group.gl-mr-3{ "v-if" => "file.type === 'text'" }
    %button.btn.gl-button{ ":class" => "{ 'active': file.resolveMode == 'interactive' }",
      '@click' => "onClickResolveModeButton(file, 'interactive')",
      type: 'button' }
      = _('Interactive mode')
    %button.btn.gl-button{ ':class' => "{ 'active': file.resolveMode == 'edit' }",
      '@click' => "onClickResolveModeButton(file, 'edit')",
      type: 'button' }
      = _('Edit inline')
  %a.btn.gl-button.view-file{ ":href" => "file.blobPath" }
    = _('View file @%{commit_sha}') % { commit_sha: '{{conflictsData.shortCommitSha}}' }
