.files{"v-show" => "!isParallel"}
  .diff-file.file-holder.conflict.inline-view{"v-for" => "file in conflictsData.files"}
    .file-title
      %i.fa.fa-fw{":class" => "file.iconClass"}
      %strong {{file.filePath}}
      = render partial: 'projects/merge_requests/conflicts/file_actions'
    .diff-content.diff-wrap-lines
      .diff-wrap-lines.code.file-content.js-syntax-highlight{ 'v-show' => "file.resolveMode === 'interactive'" }
        %table
          %tr.line_holder.diff-inline{"v-for" => "line in file.inlineLines"}
            %template{"v-if" => "!line.isHeader"}
              %td.diff-line-num.new_line{":class" => class_bindings}
                %a {{line.new_line}}
              %td.diff-line-num.old_line{":class" => class_bindings}
                %a {{line.old_line}}
              %td.line_content{":class" => class_bindings}
                {{{line.richText}}}

            %template{"v-if" => "line.isHeader"}
              %td.diff-line-num.header{":class" => class_bindings}
              %td.diff-line-num.header{":class" => class_bindings}
              %td.line_content.header{":class" => class_bindings}
                %strong {{{line.richText}}}
                %button.btn{ "@click" => "handleSelected(file, line.id, line.section)" }
                  {{line.buttonTitle}}
      = render partial: 'projects/merge_requests/conflicts/diff_file_editor', locals: { if_condition: "file.resolveMode === 'edit' && !isParallel" }
