.diff-wrap-lines.code.file-content.js-syntax-highlight
  %table
    %tr.line_holder.parallel{"v-for" => "section in file.parallelLines"}
      %template{"v-for" => "line in section"}

        %template{"v-if" => "line.isHeader"}
          %td.diff-line-num.header{":class" => class_bindings}
          %td.line_content.header{":class" => class_bindings}
            %strong {{line.richText}}
            %button.btn{"@click" => "handleSelected(file, line.id, line.section)"}
              {{line.buttonTitle}}

        %template{"v-if" => "!line.isHeader"}
          %td.diff-line-num.old_line{":class" => class_bindings}
            {{line.lineNumber}}
          %td.line_content.parallel{":class" => class_bindings}
            {{{line.richText}}}
