.form-horizontal.resolve-conflicts-form
  .form-group
    %label.col-sm-2.control-label{ "for" => "commit-message" }
      #{ _('Commit message') }
    .col-sm-10
      .commit-message-container
        .max-width-marker
        %textarea.form-control.js-commit-message#commit-message{ "v-model" => "conflictsData.commitMessage", "rows" => "5" }
  .form-group
    .col-sm-offset-2.col-sm-10
      .row
        .col-xs-6
          %button.btn.btn-success.js-submit-button{ type: "button", "@click" => "commit()", ":disabled" => "!readyToCommit" }
            %span {{commitButtonText}}
        .col-xs-6.text-right
          = link_to "Cancel", project_merge_request_path(@merge_request.project, @merge_request), class: "btn btn-cancel"
