.content-block
  .commit-message-container.form-group
    .max-width-marker
    %textarea.form-control.js-commit-message{"v-model" => "conflictsData.commitMessage"}
      {{{conflictsData.commitMessage}}}

  %button{type: "button", class: "btn btn-success js-submit-button", "@click" => "commit()", ":disabled" => "!readyToCommit" }
    %span {{commitButtonText}}

  = link_to "Cancel", namespace_project_merge_request_path(@merge_request.project.namespace, @merge_request.project, @merge_request), class: "btn btn-cancel"
