- add_to_breadcrumbs _("Merge requests"), project_merge_requests_path(@project)
- add_to_breadcrumbs @merge_request.to_reference, project_merge_request_path(@project, @merge_request)
- breadcrumb_title _("Merge conflicts")
- page_title _("Merge conflicts"), "#{@merge_request.title} (#{@merge_request.to_reference}", _("Merge requests")
- add_page_specific_style 'page_bundles/merge_conflicts'
- add_page_specific_style 'page_bundles/merge_request'

= render "projects/merge_requests/mr_title", hide_gutter_toggle: true

.merge-request-details.issuable-details
  = render "projects/merge_requests/mr_box"

#conflicts{ data: { conflicts_path: conflicts_project_merge_request_path(@merge_request.project, @merge_request, format: :json),
    resolve_conflicts_path: resolve_conflicts_project_merge_request_path(@merge_request.project, @merge_request),
    source_branch_path: project_tree_path(@merge_request.project, @merge_request.source_branch),
    merge_request_path: project_merge_request_path(@merge_request.project, @merge_request) } }
