.user-callout.promotion-callout.append-bottom-20.js-mr-approval-callout{ id: 'promote_mr_approval', data: { uid: 'promote_mr_approval_dismissed' } }
  .bordered-box.content-block
    %button.btn.btn-default.close.js-close-callout{ type: 'button', 'aria-label' => 'Dismiss Merge Request promotion' }
      = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
    .user-callout-copy
      %h4
        - if current_application_settings.should_check_namespace_plan?
          Upgrade your plan to improve Merge Requests and customer support.
        - else
          Improve Merge Requests and customer support with GitLab Enterprise Edition.
      %ul
        %li
          = link_to 'Merge Request Approvals', help_page_path('user/project/merge_requests/merge_request_approvals.html'), target: '_blank'
          %p
            Merge request approvals allow you to set the number of necessary approvals and predefine a list of approvers that will need to approve every merge request in a project.
        %li
          = link_to 'Fast-forward Merge', help_page_path('user/project/merge_requests/fast_forward_merge.html'), target: '_blank'
          %p
            If you prefer a linear Git history and a way to accept merge requests without creating merge commits, you can configure this on a per-project basis.

      = render 'shared/promotions/promotion_link_project'
