- if show_promotions? && show_callout?('promote_mr_features_dismissed') && !@project.feature_available?(:merge_request_approvers)
  .user-callout.promotion-callout.append-bottom-20.js-mr-approval-callout#promote_mr_features{ data: { uid: 'promote_mr_features_dismissed' } }
    .bordered-box.content-block
      %button.btn.btn-default.close.js-close-callout{ type: 'button', 'aria-label' => 'Dismiss Merge Request promotion' }
        = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
      .user-callout-copy
        %h4
          - if Gitlab::CurrentSettings.should_check_namespace_plan?
            Upgrade your plan to improve Merge Requests.
          - else
            Improve Merge Requests and customer support with GitLab Enterprise Edition.
        %ul
          - unless @project.feature_available?(:merge_request_approvers)
            %li
              = link_to 'Merge Request Approvals', help_page_path('user/project/merge_requests/merge_request_approvals.html'), target: '_blank'
              %p
                Merge request approvals allow you to set the number of necessary approvals and predefine a list of approvers that will need to approve every merge request in a project.

        = render 'shared/promotions/promotion_link_project'
