- submit_btn_css ||= 'btn btn-link btn-remove btn-sm'
= form_tag oauth_application_path(application) do
  %input{:name => "_method", :type => "hidden", :value => "delete"}/
  - if defined? small
    = button_tag type: "submit", class: "btn btn-transparent", data: { confirm: "Are you sure?" } do
      %span.sr-only
        Destroy
      = icon('trash')
  - else
    = submit_tag 'Destroy', data: { confirm: "Are you sure?" }, class: submit_btn_css
