- submit_btn_css ||= 'btn btn-link btn-remove btn-sm'
= form_tag oauth_application_path(application) do
  %input{:name => "_method", :type => "hidden", :value => "delete"}/
  - if defined? small
    = button_tag type: "submit", class: "btn btn-transparent", data: { confirm: "确定要继续么？" } do
      %span.sr-only
        销毁
      = icon('trash')
  - else
    = submit_tag '销毁', data: { confirm: "确定要继续么？" }, class: submit_btn_css
