- page_title _("Edit"), @application.name, _("Applications")

%h1.page-title.gl-text-size-h-display= _('Edit application')
= render 'shared/doorkeeper/applications/form', url: doorkeeper_submit_path(@application)
