- page_title _("Applications")

= render 'shared/doorkeeper/applications/index',
        oauth_applications_enabled: user_oauth_applications?,
        oauth_authorized_applications_enabled: true,
        form_url: doorkeeper_submit_path(@application),
        application_url: ->(application) { oauth_application_path(application) },
        edit_application_url: ->(application) { edit_oauth_application_path(application) }
