- add_to_breadcrumbs _("Applications"), oauth_applications_path
- breadcrumb_title @application.name
- page_title @application.name, _("Applications")

%h1.page-title.gl-text-size-h-display
  = _("Application: %{name}") % { name: @application.name }

= render 'shared/doorkeeper/applications/show',
  edit_path: edit_oauth_application_path(@application),
  delete_path: oauth_application_path(@application),
  index_path: oauth_applications_path,
  renew_path: renew_oauth_application_path(@application)
