.modal{ id: "revoke-modal-#{token.id}" }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title.pull-left
          Revoke
          %b #{token.name}?
        %button.close.pull-right{ "aria-label" => "Close", data: { dismiss: "modal"} }
          %span{ "aria-hidden" => "true" } ×
      .modal-body
        %p
          Are you sure you want to revoke this Deploy Token? This action cannot be undone
      .modal-footer
        %a{ href: '#', data: { dismiss: 'modal' }, class: 'btn btn-default' } Cancel
        = link_to "Revoke #{token.name}", revoke_project_deploy_token_path(project, token), method: :put, class: 'btn btn-danger'
