- is_admin = local_assigns.fetch(:admin, false)

- if @keys.any?
  %ul.content-list
    = render partial: 'profiles/keys/key', collection: @keys, locals: { is_admin: is_admin }
- else
  %p.settings-message.text-center
    - if is_admin
      = _('There are no SSH keys associated with this account.')
    - else
      = _('There are no SSH keys with access to your account.')
