- page_title "SSH Keys"
%h3.page-title
  = page_title
  .pull-right
    = link_to "Add SSH Key", new_profile_key_path, class: "btn btn-new"
%p.light
  Before you can add an SSH key you need to
  = link_to "generate it.", help_page_path("ssh", "README")
%hr

= render 'key_table'
