- page_title "SSH Keys"
- header_title page_title, profile_keys_path

.top-area
  .nav-text
    Before you can add an SSH key you need to
    = link_to "generate it.", help_page_path("ssh", "README")
  .nav-controls
    = link_to new_profile_key_path, class: "btn btn-new" do
      = icon('plus')
      Add SSH Key

.prepend-top-default
= render 'key_table'
