%h3.page_title
  SSH Keys
  = link_to "Add new", new_profile_key_path, class: "btn pull-right"

%hr
%p.slead
  SSH key allows you to establish a secure connection between your computer and GitLab


%table#keys-table
  %thead
    %tr
      %th Name
      %th Added
      %th
  = render @keys
  - if @keys.blank?
    %tr
      %td{colspan: 3}
        %p.nothing_here_message There are no SSH keys with access to your account.

