%h3.page-title
  = t("gitlab.profile.ssh_keys.add_ssh_key")
%p.light
  #{t("gitlab.profile.ssh_keys.paste_your_public_key_here")}  #{link_to t("gitlab.profile.ssh_keys.ssh_help_page"), help_ssh_path}.
%hr
= render 'form'

:javascript
  $('#key_key').on('keyup', function(){
    var title = $('#key_title'),
        val      = $('#key_key').val(),
        key_mail = val.match(/([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+|\.[a-zA-Z0-9._-]+)/gi);

    if( key_mail && key_mail.length > 0 && title.val() == '' ){
      $('#key_title').val( key_mail );
    }
  });
