- return unless @project.feature_available?(:push_rules)

- expanded = Rails.env.test?
%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Push Rules
    %button.btn.js-settings-toggle
      = expanded ? 'Collapse' : 'Expand'
    %p
      Push Rules outline what is accepted for this project.
  .settings-content
    %h5
      Add new push rule
    = form_for [@project.namespace.becomes(Namespace), @project, @push_rule] do |f|
      = form_errors(@push_rule)

      = render "shared/push_rules/form", f: f
