- add_page_specific_style 'page_bundles/ci_status'

- breadcrumb_title s_('Terraform|Terraform states')
- page_title s_('Terraform|Terraform states')

#js-terraform-list{ data: js_terraform_list_data(current_user, @project) }
