- add_to_breadcrumbs s_('ModelRegistry|Model registry'), project_ml_models_path(@project)
- add_to_breadcrumbs @model_version.name, project_ml_model_path(@project, @model)
- breadcrumb_title @model_version.version
- page_title "#{@model_version.name} / #{@model_version.version}"

#js-mount-show-ml-model-version{ data: { view_model: show_ml_model_version_data(@model_version, @current_user) } }
