- add_to_breadcrumbs s_('AlertManagement|Alerts'), project_alert_management_index_path(@project)
- page_title s_('AlertManagement|Alert detail')
- add_page_specific_style 'page_bundles/alert_management_details'

#js-alert_details{ data: alert_management_detail_data(current_user, @project, @alert_id) }
