- @no_container = true
- page_title "Compare"
= render "projects/commits/head"

%div{ class: container_class }
  .sub-header-block
    Compare Git revisions.
    %br
    Fill input field with commit id like
    %code.label-branch 4eedf23
    or branch/tag name like
    %code.label-branch master
    and press compare button for the commits list and a code diff.
    %br
    Changes are shown <b>from</b> the version in the first field <b>to</b> the version in the second field.

  .prepend-top-20
    = render "form"
