- breadcrumb_title s_("CompareRevisions|Compare revisions")

- page_title s_("CompareRevisions|Compare revisions")

.prepend-top-20
  #js-compare-selector{ data: project_compare_selector_data(@project, @merge_request, @compare_params) }
