- @no_container = true
- breadcrumb_title "Compare Revisions"
- page_title "Compare"

%div{ class: container_class }
  .sub-header-block
    Compare Git revisions.
    %br
    Choose a branch/tag (e.g.
    = succeed ')' do
      %code.ref-name master
    or enter a commit SHA (e.g.
    = succeed ')' do
      %code.ref-name 4eedf23
    to see what's changed or to create a merge request.
    %br
    Changes are shown as if the
    %b source
    revision was being merged into the
    %b target
    revision.

  .prepend-top-20
    = render "form"
