- add_to_breadcrumbs _('Profile'), user_settings_profile_path
- @hide_top_links = true
- @content_class = 'limit-container-width'
- page_title s_('SlackIntegration|GitLab for Slack')

.js-gitlab-slack-application{ data: gitlab_slack_application_data(@projects) }
