= f.fields_for :namespace do |namespace_form|
  = namespace_form.hidden_field :id
  %fieldset
    %legend Limits
    = render 'namespaces/shared_runners_minutes_setting', f: namespace_form
    .form-group.append-bottom-0
      .col-sm-offset-2.col-sm-10
        = render 'namespaces/shared_runners_minutes_setting_reset', link_reset_minutes: reset_runners_minutes_admin_user_path(@user), css_class: 'append-bottom-0'
