%give-approval{ '@give-approval' => 'approveMergeRequest', ':approverNames' => 'approverNames', ':approvalsLeft' => 'approvalsLeft', ':moreApprovals' => 'moreApprovals', ':canApprove' => 'canApprove' }
