%h4
  This merge request contains merge conflicts that must be resolved.
  You can try it manually on the
  %strong
    = link_to "command line", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"
