%h4
  = icon("exclamation-triangle")
  This merge request contains merge conflicts

%p
  Please resolve these conflicts or 
  - if @merge_request.can_be_merged_by?(current_user)
    #{link_to "merge this request manually", "#modal_merge_info", class: "how_to_merge_link vlink", "data-toggle" => "modal"}.
  - else
    ask someone with write access to this repository to merge this request manually.
