- if @merge_request.can_be_merged_by?(current_user)
  %h4
    This merge request contains merge conflicts that must be resolved.
    You can try it manually on the
    %strong
      = link_to "command line", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"
- else
  %strong This merge request contains merge conflicts that must be resolved.
  Only those with write access to this repository can merge merge requests.
