%h4
  = icon("exclamation-triangle")
  此合并请求包含有合并冲突

%p
  请解决这些冲突或
  - if @merge_request.can_be_merged_by?(current_user)
    #{link_to "手工合并此请求", "#modal_merge_info", class: "how_to_merge_link vlink", "data-toggle" => "modal"}.
  - else
    询问具有此仓库写权限的成员来手工合并此请求。
