- unless @merge_request.source_branch_exists?
  %h4
    = icon("exclamation-triangle")
    Source branch
    %span.label-branch= source_branch_with_namespace(@merge_request)
    does not exist
  %p
    Please restore the source branch or close this merge request and open a new merge request with a different source branch.
- else
  %h4
    = icon("exclamation-triangle")
    Target branch
    %span.label-branch= @merge_request.target_branch
    does not exist
  %p
    Please restore the target branch or use a different target branch.
