- unless @merge_request.source_branch_exists?
  %h4
    = icon("exclamation-triangle")
    来源分支
    %span.label-branch= source_branch_with_namespace(@merge_request)
    不存在
  %p
    请恢复来源分支或关闭此合并请求并使用其他的来源分支开启新的合并请求。
- else
  %h4
    = icon("exclamation-triangle")
    目标分支
    %span.label-branch= @merge_request.target_branch
    不存在
  %p
    请恢复目标分支或者使用其他的目标分支。
