%h4 Nothing to merge
%p
  Nothing to merge from
  %span.label-branch #{@merge_request.source_branch}
  to
  %span.label-branch #{@merge_request.target_branch}
  %br
  Try to use different branches or push new code.
