.automerge_widget.cannot_be_merged.hide
  %strong This merge request contains merge conflicts that must be resolved.
  Only those with write access to this repository can merge merge requests.
.automerge_widget.work_in_progress.hide
  %strong This merge request is marked as Work In Progress.
  Only those with write access to this repository can merge merge requests.
.automerge_widget.can_be_merged.hide
  %strong This request can be merged automatically.
  Only those with write access to this repository can merge merge requests.
