%h4 
  = icon("exclamation-triangle")
  从
  %span.label-branch= source_branch_with_namespace(@merge_request)
  到
  %span.label-branch= @merge_request.target_branch
  无需合并
%p
  请推送新的提交到来源分支或者使用其他的目标分支。
