%h4 
  = icon("exclamation-triangle")
  Nothing to merge from
  %span.label-branch= source_branch_with_namespace(@merge_request)
  into
  %span.label-branch= @merge_request.target_branch
%p
  Please push new commits to the source branch or use a different target branch.
