%h4
  This merge request cannot be accepted because it is marked as Work In Progress.

%p
  %button.btn.disabled{:type => 'button'}
    %i.fa.fa-warning
    Accept Merge Request
  &nbsp;
  When the merge request is ready, remove the "WIP" prefix from the title to allow it to be accepted.
