%h4
  此合并请求当前正在处理中

- if can?(current_user, :update_merge_request, @merge_request)
  %p
    当合并请求准备好时，
    = link_to remove_wip_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), method: :post do
      请从标题中删除
      %code WIP:
      前缀，
    以表示该合并请求可以被接受。
