%h4
  This merge request is currently a Work In Progress

- if can?(current_user, :update_merge_request, @merge_request)
  %p
    When this merge request is ready,
    = link_to remove_wip_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), method: :post do
      remove the
      %code WIP:
      prefix from the title
    to allow it to be merged.
