.light.gl-mt-3
  %p
    = _("Register as many runners as you want. You can register runners as separate users, on separate servers, and on your local machine. Runners are either:")

  %div
    %ul
      %li
        %span.badge.badge-pill.gl-badge.sm.badge-success active
        = _('- Available to run jobs.')
      %li
        %span.badge.badge-pill.gl-badge.sm.badge-danger paused
        = _('- Not available to run jobs.')
