- shared_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: help_page_path('ci/runners/runners_scope.md', anchor: 'shared-runners') }

%h4
  = _('Shared runners')

.bs-callout{ data: { testid: 'shared-runners-description' } }
  %p= s_('Runners|%{link_start}These runners%{link_end} are available to all groups and projects.').html_safe % { link_start: shared_link_start, link_end: '</a>'.html_safe }
  - if Gitlab::CurrentSettings.shared_runners_text.present?
    = markdown(Gitlab::CurrentSettings.current_application_settings.shared_runners_text)
