%p
  = _('Notifications for %{project_or_group} are rate-limited due to the high volume of notifications sent.') % { project_or_group: @project_or_group.full_name }

%p
  = _('To avoid future interruption to notifications for %{project_or_group}, update your notification preferences.') % { project_or_group: @project_or_group.full_name }
