- expanded = Rails.env.test?
%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Deploy Keys
    %button.btn.js-settings-toggle.qa-expand-deploy-keys
      = expanded ? 'Collapse' : 'Expand'
    %p
      Deploy keys allow read-only or read-write (if enabled) access to your repository. Deploy keys can be used for CI, staging or production servers. You can create a deploy key or add an existing one.
  .settings-content
    %h5.prepend-top-0
      Create a new deploy key for this project
    = render @deploy_keys.form_partial_path
    %hr
    #js-deploy-keys{ data: { endpoint: project_deploy_keys_path(@project) } }
