%h3.page-title
  Deploy keys allow read-only access to the repository

  = link_to new_project_deploy_key_path(@project), class: "btn btn-new pull-right", title: "New Deploy Key" do
    %i.icon-plus
    New Deploy Key

%p.light
  Deploy keys can be used for CI, staging or production servers.
  You can create a deploy key or add an existing one

%hr.clearfix

.row
  .col-md-6.enabled-keys
    %h5
      %strong.cgreen Enabled deploy keys
      for this project
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          %p.nothing_here_message Create a #{link_to 'new deploy key', new_project_deploy_key_path(@project)} or add an existing one
  .col-md-6.available-keys
    %h5
      %strong Deploy keys
      from projects available to you
    %ul.bordered-list
      = render @available_keys
      - if @available_keys.blank?
        .light-well
          %p.nothing_here_message Deploy keys from projects you have access to will be displayed here
