.row
  .form-group.col-sm-12
    %label.label-bold
      = _('Template')
    .input-group.template-input-group
      .input-group-prepend
        .input-group-text
          .selected-icon.gl-mr-3
          .selected-template
      .input-group-append
        %button.btn.gl-button.btn-default.change-template{ type: "button" }
          = _('Change template')
