# Copy this file to 'omniauth.rb' and configure it as necessary.
# The wiki has further details on configuring each provider.

Devise.setup do |config|
  # config.omniauth :github, 'APP_ID', 'APP_SECRET', :scope => 'user,public_repo'

  # config.omniauth :ldap, 
  #     :host => 'YOUR_LDAP_SERVER',
  #     :base => 'THE_BASE_WHERE_YOU_SEARCH_FOR_USERS',
  #     :uid => 'sAMAccountName',
  #     :port => 389,
  #     :method => :plain,
  #     :bind_dn => 'THE_FULL_DN_OF_THE_USER_YOU_WILL_BIND_WITH',
  #     :password => 'THE_PASSWORD_OF_THE_BIND_USER'
end
