.container.convdev-empty
  .col-sm-6.col-sm-push-3.col-lg-6.col-lg-push-3.centered-light-block.text-center
    = custom_icon('convdev_no_data')
    %h4.callout-title Data is still calculating...
    %p.callout-description
      In order to gather accurate feature usage data, it can take 1 to 2 weeks to see your index.
      = link_to "Learn more", help_page_path('user/admin_area/monitoring/convdev'), target: '_blank'
