.nav-block.activities
  .controls
    = link_to group_path(@group, rss_url_options), class: 'btn rss-btn has-tooltip' , title: 'Subscribe' do
      %i.fa.fa-rss
  = render 'shared/event_filter'

.content_list
= spinner
