.nav-block.activities
  = render 'shared/event_filter', show_group_events: @group.supports_events?
  .controls
    = render Pajamas::ButtonComponent.new(href: group_path(@group, rss_url_options), icon: 'rss', button_options: { class: 'gl-hidden sm:gl-inline-flex has-tooltip', title: _('Subscribe') })

.content_list
.loading
  = render Pajamas::SpinnerComponent.new(size: :md)
