= render Pajamas::ButtonComponent.new(href: project,
  method: :delete,
  category: :tertiary,
  icon: 'remove',
  button_options: { class: 'has-tooltip', title: _('Delete'), data: { confirm: remove_project_message(project), confirm_btn_variant: 'danger' } })
