.js-invite-members-trigger{ data: { trigger_source: 'group-side-nav',
  icon: 'users',
  display_text: title,
  trigger_element: 'side-nav',
  qa_selector: 'invite_members_sidebar_button' } }

= render partial: 'shared/nav/sidebar_submenu', locals: { sidebar_menu: sidebar_menu }
