- return unless can_manage_members?(group)

.js-invite-members-modal{ data: { is_project: 'false',
  access_levels: GroupMember.access_level_roles.to_json,
  help_link: help_page_url('user/permissions') }.merge(group_select_data(group)).merge(common_invite_modal_dataset(group)) }
