- if current_user.admin?
  .form-group
    = f.label :repository_size_limit, class: 'control-label' do
      Repository size limit (MB)
    .col-sm-10
      = f.number_field :repository_size_limit, class: 'form-control', min: 0
      %span.help-block#repository_size_limit_help_block
        Repositories within this group will be restricted to this maximum size (includes LFS objects). Can be overridden inside each project. 0 for unlimited.
