%ul.sidebar-subnav
  = nav_link(path: 'groups#edit') do
    = link_to edit_group_path(@group), title: 'Group' do
      %i.fa.fa-pencil-square-o
      %span
        Group
  = nav_link(path: 'groups#projects') do
    = link_to projects_group_path(@group), title: 'Projects' do
      %i.fa.fa-folder
      %span
        Projects
