#js-groups-shared-tree
  .empty-state.text-center.hidden
    %p= _("There are no projects shared with this group yet")

  %ul.content-list{ data: { hide_projects: 'false', group_id: group.id, path: group_path(group) } }
    .js-groups-list-holder
      .loading-container.text-center.prepend-top-20
        .gl-spinner.gl-spinner-md
