%ul.nav-links
  = nav_link(page: group_path(@group)) do
    = link_to group_path(@group) do
      Projects
  = nav_link(page: subgroups_group_path(@group)) do
    = link_to subgroups_group_path(@group) do
      Subgroups
