#js-groups-subgroups_and_projects-tree
  .empty-state.hidden
    = render "shared/groups/empty_state"

  %section{ data: { hide_projects: 'false', group_id: group.id, path: group_path(group) } }
    .js-groups-list-holder{ data: { show_schema_markup: 'true'} }
      .loading-container.text-center.prepend-top-20
        .gl-spinner.gl-spinner-md
