#js-groups-subgroups_and_projects-tree
  %section{ data: { hide_projects: 'false', group_id: group.id, path: group_path(group) } }
    .js-groups-list-holder{ data: subgroups_and_projects_list_app_data(group) }
      = gl_loading_icon(size: 'md', css_class: 'gl-mt-6')
