= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, group_url(@group, rss_url_options), title: "#{@group.name} activity")

- page_title "Activity"

%section.activities
  = render 'activities'
