%h3.page-title
  Issues
  %small (assigned to you)
  %small.pull-right #{@issues.total_count} issues

%hr
.row
  .span3
    = render 'shared/filter', entity: 'issue'
  .span9
    = render 'shared/issues'
