%h3.page-title
  Issues

%p.light
  Only issues from
  %strong #{@group.name}
  group are listed here.
  - if current_user
    To see all issues you should visit #{link_to 'dashboard', issues_dashboard_path} page.
%hr

.append-bottom-20
  = render 'shared/issuable_filter'
= render 'shared/issues'
