- page_title "Merge Requests"
%h3.page-title
  Merge Requests

%p.light
  Only merge requests from
  %strong #{@group.name}
  group are listed here.
  - if current_user
    To see all merge requests you should visit #{link_to 'dashboard', merge_requests_dashboard_path} page.
%hr
.append-bottom-20
  = render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
