- has_bulk_update_permission = can?(current_user, :admin_merge_request, @group) && @group.licensed_feature_available?(:group_bulk_edit)
- page_title _("Merge requests")
- add_page_specific_style 'page_bundles/issuable_list'

%h1.gl-sr-only= page_title

.js-merge-request-list-root{ data: group_merge_requests_list_data(@group, current_user) }
- if has_bulk_update_permission
  = render_if_exists 'groups/group_bulk_update_sidebar', group: @group, type: :merge_requests
