- @hide_top_bar = true
- @hide_top_links = true
- page_title    _('New Group')
- header_title  _("Groups"), dashboard_groups_path
- add_page_specific_style 'page_bundles/new_namespace'

.group-edit-container

  .js-new-group-creation{ data: { has_errors: @group.errors.any?.to_s,
    root_path: root_path,
    groups_url: dashboard_groups_url }.merge(subgroup_creation_data(@group)) }

  .row{ 'v-cloak': true }
    #create-group-pane.tab-pane
      = gitlab_ui_form_for @group, html: { class: 'group-form gl-show-field-errors gl-mt-3' } do |f|
        = render 'new_group_fields', f: f, group_name_id: 'create-group-name'

    #import-group-pane.tab-pane
      = render 'import_group_from_another_instance_panel'
      .gl-mt-7.gl-border-b-solid.gl-border-default.gl-border-1
      = render 'import_group_from_file_panel'
