= render 'header'

%div{class: container_class}
  .tab-content
    .tab-pane.active
      - if can?(current_user, :read_group, @group)
        = render 'projects_head'
        = render 'projects', projects: @projects
      - else
        %p.nav-links.no-top
          No projects to show
