= render 'header'

%div{class: container_class}
  .tab-content
    .tab-pane.active
      - if can?(current_user, :read_group, @group)
        .activity-filter-block
          - if current_user
            = render "events/event_last_push", event: @last_push
            = render 'shared/event_filter'

        .content_list
        = spinner
      - else
        %p.nav-links.no-top No activity to show
