- return unless can?(current_user, :admin_group, group) && License.feature_available?(:member_lock)

%hr
.form-group.row
  = f.label :membership_lock, class: 'col-form-label col-sm-2' do
    Member lock
  .col-sm-10
    .form-check
      = f.check_box :membership_lock, class: 'form-check-input'
      %span.descr Prevent adding new members to project membership within this group
