- grouper_project_members(@project).each do |access, members|
  .ui-box
    %h5
      = Project.access_options.key(access).pluralize
      %small= members.size
    %ul.well-list
      - members.sort_by(&:user_name).each do |up|
        = render(partial: 'team_members/show', locals: {member: up})


:javascript
  $(function(){
    $('.repo-access-select, .project-access-select').live("change", function() {
      $(this.form).submit();
    });
  })
