- if @user_project_relation.valid?
  :plain
    $("##{dom_id(@user_project_relation)}").effect("highlight", {color: "#529214"}, 1000);;
- else
  :plain
    $("##{dom_id(@user_project_relation)}").effect("highlight", {color: "#D12F19"}, 1000);;
