.navbar-static-top {
  margin-bottom: 20px;
}

.navbar-ci {
  background: $style_color;

  .navbar-brand {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
  .brand,
  .nav > li > a {
    color: #fff;

    &:hover, &:focus, &:active {
      background: none;
    }
  }

  .profile-holder {
    position: relative;

    img {
      position: absolute;
      top: -8px;
      width: 32px;
      @include border-radius(32px);
    }

    span {
      margin-left: 42px;
    }
  }

  .btn-login {
    padding: 7px 22px;
    margin-top: 7px;
    &:hover, &:active, &:focus {
      background: #018865 !important;
    }
  }
}

.turbolink-spinner {
  position: absolute;
  top: 11px;
  left: 50%;
  color: #FFF;
  font-size: 20px;
}
