#cal-heatmap
  :javascript 
    window.timestamps = #{@timestamps};
    var currentDate = new Date();
    var mm = currentDate.getMonth()+1;
    var dd = currentDate.getDate();
    var cal = new CalHeatMap();
      cal.init({
        // data: {"1399607243":1},
        data: window.timestamps,
        start: new Date(#{@timeCopy.year-1}, mm, dd),
        domainLabelFormat: "%b",
        id : "cal-heatmap",
        domain : "month",
        subDomain : "day",
        range : 12, 
        tooltip: true,
        domainDynamicDimension: false,
        //legendColors: ["#efefef", "steelblue"],
        colLimit: 4,
        label: { position: "top" },
        domainMargin: 1,
        legend: [0, 3, 5, 10]
      });
  //-binding.pry    
  

