.ui-box
  .title
    Calendar
  .well-list
    #cal-heatmap
    :javascript
      var cal = new CalHeatMap();
      cal.init({
        data: "datas-years.json",
        start: new Date(2000, 0),
        id : "cal-heatmap",
        domain : "month",
        subDomain : "day",
        range : 12 , //
        legendColors: ["#efefef", "steelblue"]
      });
