- user = local_assigns.fetch(:user)

%ul
  %li
    %p
      Certain user content will be moved to a system-wide "Ghost User" in order to maintain content for posterity. For further information, please refer to the
      = link_to 'user account deletion documentation.', help_page_path("user/profile/account/delete_account", anchor: "associated-records")
  - personal_projects_count = user.personal_projects.count
  - unless personal_projects_count.zero?
    %li #{pluralize(personal_projects_count, 'personal project')} will be removed and cannot be restored
