- if allowable_actions.include?(action.to_sym)
  #js-legacy-tabs-container{ data: { action: action, endpoint: endpoint } }
    - case action
    - when 'overview'
      = render "users/overview"
    - when 'activity'
      .flash-container
      - if can?(current_user, :read_cross_project)
        .js-infinite-scrolling-root
          %ul.content_list.gl-list-none.gl-pl-0.user-activity-content.js-infinite-scrolling-content{ data: { href: user_activity_path } }
          .js-infinite-scrolling-page-end
            .js-infinite-scrolling-loading
              .loading
                = render Pajamas::SpinnerComponent.new(size: :md)
