- if @contributed_projects.present?
  .panel.panel-default.contributed-projects
    .panel-heading Projects contributed to
    = render 'shared/projects_list',
      projects: @contributed_projects.sort_by(&:star_count).reverse,
      projects_limit: 5, stars: true, avatar: false

- if @projects.present?
  .panel.panel-default
    .panel-heading Personal projects
    = render 'shared/projects_list',
      projects: @projects.sort_by(&:star_count).reverse,
      projects_limit: 10, stars: true, avatar: false
