.ui-box
  %h5.title Projects
  %ul.well-list
    - @projects.each do |project|
      %li
        = link_to project_path(project), class: dom_class(project) do
          - if project.namespace
            = project.namespace.human_name
            \/
          %strong.well-title
            = truncate(project.name, length: 45)
          %span.pull-right.light
            - if project.owner == @user
              %i.icon-wrench
            - tm = project.team.get_tm(@user.id)
            - if tm
              = tm.project_access_human
%p.light
  %i.icon-wrench
  &ndash; user is a project owner
