- if current_user && current_user.admin?
  = render Pajamas::ButtonComponent.new(href: [:admin, @user],
    icon: 'user',
    button_options: { class: 'has-tooltip', title: s_('UserProfile|View user in admin area'), data: { toggle: 'tooltip', placement: 'bottom', container: 'body' } })
