.clearfix.calendar
  .js-contrib-calendar
  .calendar-hint
    Summary of issues, merge requests, and push events
:javascript
  new Calendar(
    #{@activity_dates.to_json},
    '#{user_calendar_activities_path}'
  );