%h4
  Contributions calendar
  .pull-right
    %small Issues, merge requests and push events
#cal-heatmap.calendar
  :javascript
    new Calendar(
      #{@timestamps.to_json},
      #{@starting_year},
      #{@starting_month},
      '#{user_calendar_activities_path}'
    );
