.clearfix.calendar{ data: { dates: @activity_dates.to_json, path: user_calendar_activities_path } }
  .js-contrib-calendar
  .calendar-hint
    Summary of issues, merge requests, push events, and comments
