- page_title    "Snippets"
- header_title  "Snippets", dashboard_snippets_path

= render 'dashboard/snippets_head'

.gray-content-block
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new", title: "New Snippet" do
      = icon('plus')
      New Snippet

  .oneline
    Share code pastes with others out of git repository

= render 'snippets/snippets'

