= render "projects/commits/head"
.row
  .span3
    = render "filter"
  .span9
    - unless @branches.empty?
      %table
        %thead
          %tr
            %th Name
            %th Last commit
            %th
        %tbody
          - @branches.each do |branch|
            = render "projects/repositories/branch", branch: branch
