- if environment.external_url && can?(current_user, :read_environment, environment)
  = link_to environment.external_url, target: '_blank', rel: 'noopener noreferrer', class: 'gl-button btn external-url has-tooltip qa-view-deployment', title: s_('Environments|Open live environment') do
    = sprite_icon('external-link')
    = _("View deployment")
