- if environment.auto_stop_at? && environment.available?
  = button_to cancel_auto_stop_project_environment_path(environment.project, environment), class: 'btn btn-secondary has-tooltip', title: _('Prevent environment from auto-stopping') do
    = sprite_icon('thumbtack')
