- if environment.has_terminals? && can?(current_user, :admin_environment, @project)
  = link_to terminal_project_environment_path(@project, environment), class: 'btn terminal-button' do
    = icon('terminal')
