- page_title _("Edit"), @environment.name, _("Environments")
- add_page_specific_style 'page_bundles/environments'

#js-edit-environment{ data: { project_environments_path: project_environments_path(@project),
                              protected_environment_settings_path: (project_settings_ci_cd_path(@project, anchor: 'js-protected-environments-settings') if @project.licensed_feature_available?(:protected_environments)),
                              project_path: @project.full_path,
                              environment_name: @environment.name,
                              kas_tunnel_url: ::Gitlab::Kas.tunnel_url } }
