- page_title _("Edit"), @environment.name, _("Environments")
- add_page_specific_style 'page_bundles/environments'

#js-edit-environment{ data: { project_environments_path: project_environments_path(@project),
                              update_environment_path: project_environment_path(@project, @environment),
                              environment: environment_data(@environment)} }
