- page_title _("Metrics")

.row.empty-state
  .col-sm-12
    .svg-content
      = image_tag 'illustrations/operations_metrics_empty.svg'
  .col-12
    .text-content
      %h4.text-center
        = s_('Environments|No deployed environments')
      %p.state-description
        = s_('Metrics|Check out the CI/CD documentation on deploying to an environment')
      .text-center
        = link_to s_("Environments|Learn about environments"), help_page_path('ci/environments/index.md'), class: 'gl-button btn btn-confirm'
