- page_title _("Metrics")

.row
  .col-sm-12
    .svg-content
      = image_tag 'illustrations/operations_metrics_empty.svg'
.row.empty-environments
  .col-sm-12.text-center
    %h4
      = s_('Metrics|No deployed environments')
    .state-description
      = s_('Metrics|Check out the CI/CD documentation on deploying to an environment')
    .prepend-top-10
      = link_to s_("Metrics|Learn about environments"), help_page_path('ci/environments'), class: 'btn btn-success'
