- @no_container = true
- page_title "Environments"
= render "projects/pipelines/head"

%div{ class: (container_class) }
  .gray-content-block
    Environments for this project

  %ul.content-list
    - if @environments.blank?
      %li
        .nothing-here-block No environments to show
    - else
      .table-holder
        %table.table.builds
          %tbody
            %th Environment
            %th Last deployment
            %th Date
            %th
          - @environments.each do |environment|
            = render 'environment', environment: environment
