- page_title _("Environments")
- add_page_specific_style 'page_bundles/environments'

#environments-list-view{ data: { environments_data: environments_list_data,
  "can-read-environment" => can?(current_user, :read_environment, @project).to_s,
  "can-create-environment" => can?(current_user, :create_environment, @project).to_s,
  "new-environment-path" => new_project_environment_path(@project),
  "help-page-path" => help_page_path("ci/environments/index.md"),
  "deploy-boards-help-path" => help_page_path("user/project/deploy_boards", anchor: "enabling-deploy-boards"),
  "project-path" => @project.full_path } }
