- page_title "Environments"
= render "header_title"

.gray-content-block
  Environments for this project

%ul.content-list
  - if @environments.blank?
    %li
      .nothing-here-block No environments to show
  - else
    .table-holder
      %table.table.builds
        %tbody
          %th Environment
          %th Pipeline ID
          %th Build ID
          %th Changes
          %th
          %th
        - @environments.each do |build|
          = render "environment", build: build
