- @no_container = true
- page_title "Environments"
= render "projects/pipelines/head"

- content_for :page_specific_javascripts do
  = page_specific_javascript_tag("environments/environments_bundle.js")
.commit-icon-svg.hidden
  = custom_icon("icon_commit")

.play-icon-svg{ slot: "actionplayicon" }
  %span.hide
    = custom_icon("icon_play")

#environments-list-view{ data: { environments_data: environments_list_data,
  "can-create-deployment" => can?(current_user, :create_deployment, @project).to_s,
  "can-read-environment" => can?(current_user, :read_environment, @project).to_s,
  "can-create-environment" => can?(current_user, :create_environment, @project).to_s,
  "project-environments-path" => project_environments_path(@project),
  "project-stopped-environments-path" => project_environments_path(@project, scope: :stopped),
  "new-environment-path" => new_namespace_project_environment_path(@project.namespace, @project),
  "help-page-path" => help_page_path("ci/environments")}, class: container_class }
