- @no_container = true
- page_title "Environments"
- add_to_breadcrumbs("Pipelines", project_pipelines_path(@project))

#environments-list-view{ data: { environments_data: environments_list_data,
  "can-create-deployment" => can?(current_user, :create_deployment, @project).to_s,
  "can-read-environment" => can?(current_user, :read_environment, @project).to_s,
  "can-create-environment" => can?(current_user, :create_environment, @project).to_s,
  "new-environment-path" => new_project_environment_path(@project),
  "help-page-path" => help_page_path("ci/environments"),
  "css-class" => container_class } }
