- page_title _("Environments")
- add_page_specific_style 'page_bundles/environments'

#environments-table{ data: { endpoint: project_environments_path(@project, format: :json),
  "can-read-environment" => can?(current_user, :read_environment, @project).to_s,
  "can-create-environment" => can?(current_user, :create_environment, @project).to_s,
  "new-environment-path" => new_project_environment_path(@project),
  "help-page-path" => help_page_path("ci/environments/_index.md"),
  "project-path" => @project.full_path,
  "project-id" => @project.id,
  "default-branch-name" => @project.default_branch_or_main } }
