- add_to_breadcrumbs s_("Environments|Environments"), project_environments_path(@project)
- breadcrumb_title s_("Environments|New environment")
- page_title s_("Environments|New environment")
- add_page_specific_style 'page_bundles/environments'

#js-new-environment{ data: { project_environments_path: project_environments_path(@project), project_path: @project.full_path, kas_tunnel_url: ::Gitlab::Kas.tunnel_url, markdown_preview_path: preview_markdown_path(@project) } }
