- breadcrumb_title _("Environments")
- page_title _("New Environment")
- add_page_specific_style 'page_bundles/environments'

#js-new-environment{ data: { project_environments_path: project_environments_path(@project) } }
