- @no_container = true
- page_title "Environments"
= render "projects/pipelines/head"

%div{ class: (container_class) }
  .gray-content-block
    Latest deployments for
    %strong= @environment.name

  %ul.content-list
    - if @deployments.blank?
      %li
        .nothing-here-block No deployment for specific environment
    - else
      .table-holder
        %table.table.builds
          %thead
            %tr
              %th Commit
              %th Context
              %th Date
              %th

          = render @deployments

      = paginate @deployments, theme: 'gitlab'
