= render ::Layouts::SettingsBlockComponent.new(_('General'),
  id: 'js-general-settings',
  expanded: expanded_by_default?) do |c|
  - c.with_description do
    = s_('Repository|Configure general repository settings.')
  - c.with_body do
    #js-web-based-commit-signing-settings{ data: {
      full_path: group.full_path,
      level_id: group.id,
      web_based_commit_signing_enabled: group.web_based_commit_signing_enabled?.to_s,
      group_settings_repository_path: group_settings_repository_path(group)
    } }
