- breadcrumb_title _('Repository Settings')
- page_title _('Repository')
- @force_desktop_expanded_sidebar = true

- if can?(current_user, :create_deploy_token, @group)
  - deploy_token_description = s_('DeployTokens|Group deploy tokens allow access to the packages, repositories, and registry images within the group.')
  = render "shared/deploy_tokens/index", group_or_project: @group, description: deploy_token_description

- if can?(current_user, :admin_group, @group)
  = render "default_branch", group: @group
  = render_if_exists "protected_branches/protected_branches", protected_branch_entity: @group

- if can?(current_user, :change_push_rules, @group)
  = render "push_rules"
