%tr
  %td
    = link_to key_path(key) do
      %strong= key.title
  %td
    %span.cgray
      Added
      = time_ago_in_words(key.created_at)
      ago
  %td
    = link_to 'Remove', key, confirm: 'Are you sure?', method: :delete, class: "btn btn-small btn-remove delete-key pull-right"

