%h3 
  SSH Keys
  = link_to "Add new", new_key_path, :class => "btn small right"
  
%hr

%table#keys-table.zebra-striped.borders
  - @keys.each do |key|
    = render(:partial => 'show', :locals => {:key => key})
