%h3
  SSH Keys
  = link_to "Add new", new_key_path, :class => "btn small right"

%br

%table#keys-table.admin-table
  %thead
    %tr
      %th Name
      %th Added
      %th
  - @keys.each do |key|
    = render(:partial => 'show', :locals => {:key => key})
