%h3 
  SSH Keys
  = link_to "Add new", new_key_path, :class => "btn small right"
  
%hr

%div#keys-table{ :class => "update-data ui-box ui-box-small ui-box-big" }
  %ul.unstyled
    - @keys.each do |key|
      = render(:partial => 'show', :locals => {:key => key})
