%h3 
  = t '.title'
  = link_to t('.new'), new_key_path, :class => "btn small right"
  
%br

%table#keys-table.table
  - @keys.each do |key|
    = render(:partial => 'show', :locals => {:key => key})
