:plain
  var new_key_dialog = $("<div id='new_key_dialog'></div>");
  new_key_dialog.html("#{escape_javascript(render('form'))}");
  $(new_key_dialog).dialog({
    width: 350,
    resizable: false,
    draggable: false,
    title: "Add new public key",
    close: function(event, ui) { $("#new_key_dialog").remove();},
    modal: true
  });
