- data_attribute = local_assigns.fetch(:data, {})

%li
  = link_to url, rel: rel, remote: local_assigns[:remote], class: 'gl-pagination-item', data: { testid: testid, **data_attribute }, aria: local_assigns[:aria] do
    = yield
