-#  Link showing page number
-#  available local variables
-#    page:          a page object for "this" page
-#    url:           url to this page
-#    current_page:  a page object for the currently displayed page
-#    total_pages:   total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
%li.page-item.js-pagination-page{ class: [active_when(page.current?),
  ('sibling' if page.next? || page.prev?),
  ('js-first-button' if page.first?),
  ('js-last-button' if page.last?),
  ('d-none d-md-block' if !page.current?)] }
  = link_to page, url, { remote: remote, rel: page.next? ? 'next' : page.prev? ? 'prev' : nil, class: ['page-link', active_when(page.current?)] }
