= render "projects/blob/breadcrumb", blob: blob

.info-well.hidden-xs
  .well-segment
    %ul.blob-commit-info
      - blob_commit = @repository.last_commit_for_path(@commit.id, blob.path)
      = render blob_commit, project: @project, ref: @ref

#blob-content-holder.blob-content-holder
  %article.file-holder
    = render "projects/blob/header", blob: blob
    = render 'projects/blob/content', blob: blob
