- simple_viewer = blob.simple_viewer
- rich_viewer = blob.rich_viewer
- rich_viewer_active = rich_viewer && params[:viewer] != 'simple'
- blob_data = defined?(@blob) ? @blob.data : {}
- filename = defined?(@blob) ? @blob.name : ''

#js-blob-toggle-graph-preview{ data: { blob_data: blob_data, filename: filename } }

= render 'projects/blob/viewer', viewer: simple_viewer, hidden: rich_viewer_active

- if rich_viewer
  = render 'projects/blob/viewer', viewer: rich_viewer, hidden: !rich_viewer_active
