%table.table-striped.table-bordered.csv
  - parse_csv(csv, headers: :first_row, return_headers: true) do |row|
    %tr
      - row.each do |_, column|
        - if row.header_row?
          %th= column
        - else
          %td= column
