.file-content.blob_file.blob-no-preview
  .center
    = link_to namespace_project_raw_path(@project.namespace, @project, @id) do
      %h1.light
        %i.fa.fa-download
      %h4
        - if blob.lfs_pointer?
          - size = blob.lfs_size
        - else
          - size = blob.size
        Download (#{number_to_human_size size})
