- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('dxf_viewer')

.file-content.is-dxf-loading
  #js-dxf-viewer{ data: { endpoint: namespace_project_raw_path(@project.namespace, @project, @id) } }
    = icon('spinner spin 2x', class: 'prepend-top-default append-bottom-default hidden', 'aria-hidden' => 'true', 'aria-label' => 'Loading')
