.file-header-content
  = blob_icon blob.mode, blob.name

  %strong.file-title-name
    = blob.name

  = copy_file_path_button(blob.path)

  %small
    = number_to_human_size(blob.raw_size)

  - if blob.stored_externally? && blob.external_storage == :lfs
    %span.label.label-lfs.append-right-5 LFS
