.file-content.code
  .nothing-here-block
    The #{viewer.switcher_title} could not be displayed because #{blob_render_error_reason(viewer)}.

    You can
    = Gitlab::Utils.to_exclusive_sentence(blob_render_error_options(viewer)).html_safe
    instead.
