.file-content.code
  .nothing-here-block
    The #{viewer.switcher_title} could not be displayed because #{blob_render_error_reason(viewer)}.

    You can
    = blob_render_error_options(viewer).to_sentence(two_words_connector: ' or ', last_word_connector: ', or ').html_safe
    instead.
