- blob.load_all_data!(@repository)
- if markup?(blob.name)
  .file-content.wiki
    = render_markup(blob.name, blob.data)
- else
  - unless blob.empty?
    = render 'shared/file_highlight', blob: blob
  - else
    .file-content.code
      .nothing-here-block Empty file
