- if blob.only_display_raw?
  .file-content.code
    .nothing-here-block
      File too large, you can
      = succeed '.' do
        = link_to 'view the raw file', namespace_project_raw_path(@project.namespace, @project, @id), target: '_blank'

- else
  - blob.load_all_data!(@repository)

  - if markup?(blob.name)
    .file-content.wiki
      = render_markup(blob.name, blob.data)
  - else
    - if blob.empty?
      .file-content.code
        .nothing-here-block Empty file
    - else
      = render 'shared/file_highlight', blob: blob, repository: @repository
