- if gitlab_markdown?(blob.name)
  .file-content.wiki
    = preserve do
      = markdown(blob.data)
- elsif markup?(blob.name)
  .file-content.wiki
    = render_markup(blob.name, blob.data)
- else
  .file-content.code
    - unless blob.empty?
      = render 'shared/file_hljs', blob: blob
    - else
      %p.nothing_here_message Empty file
