.file-content.code
  .nothing-here-block
    The file could not be displayed as it is too large, you can
    #{link_to('view the raw file', namespace_project_raw_path(@project.namespace, @project, @id), target: '_blank', rel: 'noopener noreferrer')}
    instead.
