- current_plan = subscription_plan_info(plans_data, namespace.actual_plan_name)

- if current_plan
  = render 'shared/billings/billing_plan_header', namespace: namespace, plan: current_plan

  - unless has_plan_purchase_link?(plans_data)
    .billing-plans-alert.card.prepend-top-10
      .card-header.bg-warning.text-white
        = s_("BillingPlans|Automatic downgrade and upgrade to some plans is currently not available.")
        - customer_support_url = 'https://support.gitlab.com/hc/en-us/requests/new?ticket_form_id=334447';
        - customer_support_link = link_to s_("BillingPlans|Customer Support"), customer_support_url
        = s_("BillingPlans|Please contact %{customer_support_link} in that case.").html_safe % { customer_support_link: customer_support_link }

.billing-plans
  - plans_data.each do |plan|
    = render 'shared/billings/billing_plan', namespace: namespace, plan: plan
