@import '../framework/variables';
@import '../framework/variables_overrides';
@import '../framework/mixins';

img {
  max-width: 100%;
  height: auto;
}

p.details {
  font-style: italic;
  color: $gl-text-color-subtle;
}

.footer > p {
  font-size: small;
  color: $gl-text-color-subtle;
}

pre.commit-message {
  white-space: pre-wrap;
}

.content {
  @include email-code-block;
}
