@import 'notify_base';

// stylelint-disable-next-line gitlab/no-gl-class
.gl-label-scoped {
  border: 2px solid currentColor;
  box-sizing: border-box;
  display: inline-block;
  height: 17px;
  line-height: 14px;
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-label-text {
  padding: 0 5px;
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-label-text-light {
  color: $gl-label-dark-text-color;
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-label-text-dark {
  color: $gl-label-light-text-color;
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-label-text-scoped {
  padding: 0 5px;
  color: $gl-label-scoped-text-color;
}

.content {
  .markdown-code-block pre.code {
    padding: $gl-padding-8 $input-horizontal-padding;
    margin: 0 0 $gl-padding-8;
    border: 1px solid $gray-100;
    border-radius: $border-radius-small;
  }
}
