html {
  overflow-y: scroll;
  height: 100%;
  margin: 0;

  &.touch .tooltip { display: none !important; }

  body {
    padding-top: $header-height;
    height: 100%;
    margin: 0;
  }
}

.container {
  padding-top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.content {
  height: 100%;
  width: 100%;
}

.content section {
  height: 100%;
  display: table-row;
}

.container .content {
  margin: 0 0;
}

.navless-container {
  margin-top: 30px;
}

.container-limited {
  max-width: $fixed-layout-width;
}

.max-height {
  height: 100%;
  display: table;
  width: 100%;
}