- content_for :usage_quotas_subtitle do
  = s_('UsageQuota|Usage of shared resources across the projects in your instance')

- content_for :usage_quotas_tabs do
  #js-pipeline-usage-app

= render 'shared/usage_quotas/index'
