%tr
  %td
    %a{href: project_deploy_key_path(key.project, key)}
      %strong= key.title
  %td
    %span.update-author
      Added
      = time_ago_in_words(key.created_at)
      ago
  %td
    = link_to 'Remove', project_deploy_key_path(key.project, key), confirm: 'Are you sure?', method: :delete, class: "btn btn-remove delete-key btn-small pull-right"

