%h2.icon
  %span>
  SSH Keys
%div#new-key-holder.right
  = link_to "Add new", new_project_deploy_key_path, :remote => true, :class => "grey-button"
%br

%div#keys-table{ :class => "update-data ui-box ui-box-small ui-box-big" }
  .data
    - @keys.each do |key|
      = render(:partial => 'show', :locals => {:key => key})

:javascript
  $('.delete-key').live('ajax:success', function() {
    $(this).closest('.update-item').fadeOut(); });

