= render "repositories/head"
%h3= @key.title
%hr
%pre= @key.key
.actions
  = link_to t('global.destroy'), project_deploy_key_path(@key.project, @key), :confirm => t('global.destroy_confirm'), :method => :delete, :class => "danger btn delete-key"
  .clear
