- filter_placeholder = local_assigns.fetch(:filter_placeholder, 'Search')

.dropdown-page-one
  .issue-board-dropdown-content
    %p
      = _('Assignee lists show all issues assigned to the selected user.')
  .js-assignees-list
