- @no_container = true
- page_title "Continuous Integration", "Graphs"
= render 'head'

%div{ class: container_class }
  .sub-header-block
    .oneline
      A collection of graphs for Continuous Integration

  #charts.ci-charts
    .row
      .col-md-6
        = render 'projects/graphs/ci/overall'
      .col-md-6
        = render 'projects/graphs/ci/build_times'

    %hr
    = render 'projects/graphs/ci/builds'
