- if @success
  :plain
    controller = new ContributorsStatGraph
    controller.init(#{@log})

    $("select").change( function () {
      var field = $(this).val()
      controller.set_current_field(field)
      controller.redraw_master()
      controller.redraw_authors()
    })

    $("#brush_change").change( function () {
      controller.change_date_header()
      controller.redraw_authors()
    })
- else
  :plain
    $('.stat-graph').replaceWith('<div class="alert alert-danger">Failed to load graph</div>')
