- label_class = local_assigns.fetch(:bold_label, false) ? 'font-weight-bold' : ''

.form-check
  = form.check_box :request_access_enabled, class: 'form-check-input'
  = form.label :request_access_enabled, class: 'form-check-label' do
    %span{ class: label_class }= _('Allow users to request access')
    %br
    %span.text-muted= _('Allow users to request access if visibility is public or internal.')
