= form.gitlab_ui_checkbox_component :request_access_enabled,
    _('Users can request access (if visibility is public or internal)'),
    checkbox_options: { data: { testid: 'request-access-checkbox' } }
