.form-check
  = form.label :request_access_enabled do
    = form.check_box :request_access_enabled
    %strong Allow users to request access
    %br
    %span.descr Allow users to request access if visibility is public or internal.
