.form-check
  = form.check_box :request_access_enabled, class: 'form-check-input'
  = form.label :request_access_enabled, class: 'form-check-label' do
    %strong Allow users to request access
    %br
    %span.descr Allow users to request access if visibility is public or internal.
