%div{ class: '!gl-pt-5' }
  = render Pajamas::BannerComponent.new(button_text: s_('AutoDevOps|Enable in settings'),
    button_link: project_settings_ci_cd_path(@project, anchor: 'autodevops-settings'),
    svg_path: 'illustrations/devops-sm.svg',
    banner_options: { class: 'js-autodevops-banner auto-devops-callout', data: { uid: 'auto_devops_settings_dismissed', project_path: project_path(@project) } },
    close_options: { 'aria-label' => s_('AutoDevOps|Dismiss Auto DevOps box'), class: 'js-close-callout' }) do |c|
    - c.with_title do
      = s_('AutoDevOps|Auto DevOps')

    %p
      - link = link_to(s_('AutoDevOps|Auto DevOps documentation'), help_page_path('topics/autodevops/_index.md'), target: '_blank', rel: 'noopener noreferrer')
      = s_('AutoDevOps|Automatically build, test, and deploy your application based on a predefined CI/CD configuration.')
      = s_('AutoDevOps|Learn more in the %{link_to_documentation}.').html_safe % { link_to_documentation: link }
