- content = render_broadcast_message(message)
- expire_date = message.ends_at.iso8601
- cookie_key = Users::BroadcastMessageDismissal.get_cookie_key(message.id)
- dismissal_path = current_user ? broadcast_message_dismissals_path : nil

- if message.notification?
  .broadcast-notification-message{ data: { testid: 'broadcast-notification-container' } }
    = render Pajamas::BroadcastBannerComponent.new(message: content, id: message.id, theme: nil, dismissable: true, expire_date: expire_date, cookie_key: cookie_key, dismissal_path: dismissal_path, button_testid: 'close-button')

- else
  = render Pajamas::BroadcastBannerComponent.new(message: content, id: message.id, theme: message.theme, dismissable: message.dismissable?, expire_date: expire_date, cookie_key: cookie_key, dismissal_path: dismissal_path, banner: true)
