%a.choose-btn.btn.btn-sm.js-choose-group-avatar-button
  %i.fa.fa-paperclip
  %span Choose File ...
&nbsp;
%span.file_name.js-avatar-filename File name...
= f.file_field :avatar, class: 'js-group-avatar-input hidden'
.light The maximum file size allowed is 200KB.
