%a.choose-btn.btn.btn-sm.js-choose-group-avatar-button
  %i.fa.fa-paperclip
  %span 选择文件...
&nbsp;
%span.file_name.js-avatar-filename 文件名...
= f.file_field :avatar, class: 'js-group-avatar-input hidden'
.light 允许的最大文件大小 200KB。
