.input-prepend.project_clone_holder
  - if current_user.can?(:push_code, @project)
    %button{class: "btn active", :"data-clone" => @project.ssh_url_to_repo} SSH
    %button{class: "btn", :"data-clone" => @project.http_url_to_repo}= Gitlab.config.gitlab.protocol.upcase
    = text_field_tag :project_clone, @project.url_to_repo, class: "one_click_select input-xxlarge"
  - else
    %button{class: "btn", :"data-clone" => @project.ssh_url_to_repo} SSH
    %button{class: "btn active", :"data-clone" => @project.http_url_to_repo}= Gitlab.config.gitlab.protocol.upcase
    = text_field_tag :project_clone, @project.http_url_to_repo, class: "one_click_select input-xxlarge"
