.input-prepend.input-append.project_clone_holder
  %button{class: "btn active", :"data-clone" => @project.ssh_url_to_repo} SSH
  %button{class: "btn", :"data-clone" => @project.http_url_to_repo}= gitlab_config.protocol.upcase
  = text_field_tag :project_clone, @project.url_to_repo, class: "one_click_select span7", readonly: true
  %span.add-on
    - if @project.public
      = public_icon
      %span.cblue public
    - else
      = private_icon
      %span.cgreen private
