.commit-message-container
  .max-width-marker
    -# When the `ch` CSS length unit becomes widely supported `http://www.quirksmode.org/css/units-values` remove this workaround.
    = 'a' * 72
  = textarea
