.form-group.commit_message-group
  - nonce = SecureRandom.hex
  = label_tag "commit_message-#{nonce}", class: 'control-label' do
    提交信息
  .col-sm-10
    .commit-message-container
      .max-width-marker
      = text_area_tag 'commit_message',
          (params[:commit_message] || local_assigns[:text] || local_assigns[:placeholder]),
          class: 'form-control js-commit-message', placeholder: local_assigns[:placeholder],
          required: true, rows: (local_assigns[:rows] || 3),
          id: "commit_message-#{nonce}"
    - if local_assigns[:hint]
      %p.hint
        建议第一行最多 52 个字节，其他行最多 72 字节。
