.form-group
  %legend.h5.gl-border-none.gl-mt-0.gl-mb-3= _('Initial default branch protection')
  - Gitlab::Access.protection_options.each do |option|
    = f.gitlab_ui_radio_component :default_branch_protection, option[:value], option[:label], help_text: option[:help_text]
