.modal{ id: "modal-delete-label-#{label.id}", tabindex: -1 }
  .modal-dialog
    .modal-content
      .modal-header
        %h3.page-title= _('Delete label: %{label_name} ?') % { label_name: label.name }
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": true } &times;

      .modal-body
        %p
          = _('<strong>%{label_name}</strong> <span>will be permanently deleted from %{subject_name}. This cannot be undone.</span>').html_safe % { label_name: label.name, subject_name: label.subject_name }

      .modal-footer
        %a{ href: '#', data: { dismiss: 'modal' }, class: 'btn btn-default' }= _('Cancel')

        = link_to _('Delete label'),
          label.destroy_path,
          title: _('Delete'),
          method: :delete,
          class: 'btn btn-remove'
