.event_filter
  = event_filter_link EventFilter.push, t("gitlab.events.push_events")
  = event_filter_link EventFilter.merged, t("gitlab.events.merge_events")
  = event_filter_link EventFilter.comments, t("gitlab.events.comments")
  = event_filter_link EventFilter.team, t("gitlab.events.team")
