%ul.nav-links.event-filter
  = event_filter_link EventFilter.push, '推送事件'
  = event_filter_link EventFilter.merged, '合并事件'
  = event_filter_link EventFilter.comments, '注释'
  = event_filter_link EventFilter.team, '团队'
