%ul.nav-links.event-filter
  = event_filter_link EventFilter.push, 'Push events'
  = event_filter_link EventFilter.merged, 'Merge events'
  = event_filter_link EventFilter.comments, 'Comments'
  = event_filter_link EventFilter.team, 'Team'
