%span.js-filepicker
  %button.btn.js-filepicker-button{ type: 'button' }= _("Choose file…")
  %span.file_name.js-filepicker-filename= _("No file chosen")
  = f.file_field field, class: "js-filepicker-input hidden"
  - if help_text.present?
    .form-text.text-muted= help_text
