#geo_info
  %geo-clone-dialog{id: 'modal_geo_info', title: 'How to optimize with Geo'}
    %p{slot: 'body'}
      %strong
        Clone the repository and define a different remote to push code
        = clipboard_button(clipboard_target: 'pre#geo-info')

:javascript
  gl.GeoCloneDialog = new Vue({
    el: '#geo_info',
    data: {
      cloneUrlSecondary: "#{h default_url_to_repo(project)}",
      cloneUrlPrimary: "#{h geo_primary_default_url_to_repo(project)}",
    }
    });

  $(function(){
    var modal = $('#modal_geo_info').modal({modal: true, show:false});
    $('.btn-geo').bind("click", function(){
      modal.show();
    });
    $('.modal-header .close').bind("click", function(){
      modal.hide();
    })
  })
