%ul
  %li= _('A group is a collection of several projects')
  %li= _('Members of a group may only view projects they have permission to access')
  %li= _('Group project URLs are prefixed with the group namespace')
  %li= _('Existing projects may be moved into a group')
