%ul
  %li A group is a collection of several projects
  %li Groups are private by default
  %li Members of a group may only view projects they have permission to access
  %li Group project URLs are prefixed with the group namespace
  %li Existing projects may be moved into a group
