- if @group.persisted?
  = f.text_field :name, label: 'Group name', placeholder: 'open-source'

= f.text_field :path, label: 'Group path', placeholder: 'open-source', prepend: root_url, autofocus: local_assigns[:autofocus] || false

- if @group.persisted?
  = f.form_group do
    .alert.alert-warning.prepend-top-10
      %ul
        %li Changing group path can have unintended side effects.
        %li Renaming group path will rename directory for all related projects
        %li It will change web url for access group and group projects.
        %li It will change the git path to repositories under this group.

= f.text_area :description, label: 'Details', maxlength: 250, class: 'js-gfm-input', rows: 4
