- data = local_assigns.fetch(:data)
- loading_text = local_assigns.fetch(:loading_text)

-# Fix for iOS 13+, the height of the page is actually less than
-# 100vh because of the presence of the bottom bar

#ide.gl-h-full{ data: data }
  .web-ide-loader.gl-flex.gl-justify-center.gl-items-center.gl-flex-col.gl-h-full.gl-mx-auto
    = brand_header_logo
    %h3.clblack.gl-mt-6= loading_text
