- if show_invalid_gpg_key_message?(project)
  = render Pajamas::AlertComponent.new(variant: :warning, dismissible: false) do |c|
    - c.with_body do
      = s_('GpgKeys|There is no valid GPG key issued by Beyond Identity associated with your profile. Please add a valid key to your profile.')
    - c.with_actions do
      = link_button_to s_('GpgKeys|Manage GPG keys'), user_settings_gpg_keys_path, variant: :confirm
