- if @issues.to_a.any?
<<<<<<< HEAD
  .card.panel-small.card-without-border
=======
  .card.card-small.card-without-border
>>>>>>> gitlab-ce/master
    %ul.content-list.issues-list.issuable-list
      = render partial: 'projects/issues/issue', collection: @issues
  = paginate @issues, theme: "gitlab"
- else
  = render 'shared/empty_states/issues'
