= render 'shared/alerts/positioning_disabled'

- if @issues.to_a.any?
  %ul.content-list.issues-list.issuable-list{ class: issue_manual_ordering_class, data: { group_full_path: @group&.full_path } }
    = render partial: 'projects/issues/issue', collection: @issues
  = paginate @issues, theme: "gitlab"
- else
  - project_select_button = local_assigns.fetch(:project_select_button, false)
  = render 'shared/empty_states/issues', project_select_button: project_select_button
