- if @issues.any?
  - @issues.group_by(&:project).each do |group|
    .panel.panel-default.panel-small
      - project = group[0]
      .panel-heading
        = link_to project.name_with_namespace, namespace_project_issues_path(project.namespace, project)
        - if can?(current_user, :create_issue, project)
          .pull-right
            = link_to 'New issue', new_namespace_project_issue_path(project.namespace, project)

      %ul.content-list.issues-list
        - group[1].each do |issue|
          = render 'projects/issues/issue', issue: issue
  = paginate @issues, theme: "gitlab"
- else
  .nothing-here-block No issues to show
