- labels.each do |label|
  %span.label-row
    = link_to_label(label, tooltip: true)
    %button.btn.btn-sm.btn-transparent.append-right-5.js-label-filter-remove{ type: "button", data: { label: label.title } }
      = icon("times")
