- subject = local_assigns[:subject]
- show_label_issues_link = show_label_issuables_link?(label, :issues, project: @project)
- show_label_merge_requests_link = show_label_issuables_link?(label, :merge_requests, project: @project)

.label-row
  .label-name
    = link_to_label(label, subject: @project, tooltip: false)
  .label-description
    - if label.description.present?
      .description-text
        = markdown_field(label, :description)
    %ul.label-links
      - if show_label_issues_link
        %li.label-link-item.inline
          = link_to_label(label, subject: subject) { 'Issues' }
      - if show_label_merge_requests_link
        &middot;
        %li.label-link-item.inline
          = link_to_label(label, subject: subject, type: :merge_request) { 'Merge requests' }
      - if label.priority?
        %li.label-link-item.inline.prepend-left-10
          .label-badge.label-badge-blue Prioritized label