- if controller.controller_path =~ /^groups/
  - label = 'This group'
- if controller.controller_path =~ /^projects/
  - label = 'This project'

- if label.present?
  %span.location-badge
    %i.location-text
      = label

    %a.remove-badge{href: '#'}
      x
