- if @merge_requests.any?
  - @merge_requests.group_by(&:target_project).each do |group|
    .panel.panel-default.panel-small
      - project = group[0]
      .panel-heading
        = link_to project.name_with_namespace, namespace_project_merge_requests_path(project.namespace, project)
        - if can?(current_user, :create_merge_request, project)
          .pull-right
            = link_to 'New merge request', new_namespace_project_merge_request_path(project.namespace, project)

      %ul.content-list.mr-list
        - group[1].each do |merge_request|
          = render 'projects/merge_requests/merge_request', merge_request: merge_request
  = paginate @merge_requests, theme: "gitlab"

- else
  .nothing-here-block No merge requests to show
