- if can?(current_user, :read_pipeline, merge_request.head_pipeline)
  %li.issuable-pipeline-status.gl-flex
    = render 'ci/status/icon', status: merge_request.head_pipeline.detailed_status(current_user), option_css_classes: 'gl-flex'
