- if milestone.expired? and not milestone.closed?
  .status-box.status-box-expired.append-bottom-5 Expired
- if milestone.upcoming?
  .status-box.status-box-mr-merged.append-bottom-5 Upcoming
- if milestone.closed?
  .status-box.status-box-closed.append-bottom-5 Closed
