- if milestone.expired? && !milestone.closed?
  = gl_badge_tag _('Expired'), { variant: :warning }, { class: "gl-mb-2" }
- if milestone.upcoming?
  = gl_badge_tag _('Upcoming'), { variant: :info }, { class: "gl-mb-2" }
- if milestone.closed?
  = gl_badge_tag _('Closed'), { variant: :danger }, { class: "gl-mb-2" }
