- if milestone.expired? && !milestone.closed?
  .gl-badge.badge-warning.badge-pill.gl-mb-2= _('Expired')
- if milestone.upcoming?
  .gl-badge.badge-primary.badge-pill.gl-mb-2= _('Upcoming')
- if milestone.closed?
  .gl-badge.badge-danger.badge-pill.gl-mb-2= _('Closed')
