- if milestone.expired? and not milestone.closed?
  .status-box.status-box-expired.gl-mb-2= _('Expired')
- if milestone.upcoming?
  .status-box.status-box-mr-merged.gl-mb-2= _('Upcoming')
- if milestone.closed?
  .status-box.status-box-closed.gl-mb-2= _('Closed')
