- if @projects.any?
  .project-item-select-holder
    = project_select_tag :project_path, class: "project-item-select", data: { include_groups: local_assigns[:include_groups], order_by: 'last_activity_at' }, with_feature_enabled: local_assigns[:with_feature_enabled]
    %a.btn.btn-new.new-project-item-select-button{ data: { relative_path: local_assigns[:path] } }
      = local_assigns[:label]
      = icon('caret-down')
