- if cookies[:hide_no_password_message].blank? && !current_user.hide_no_password && current_user.require_password?
  .no-password-message.alert.alert-warning.hidden-xs
    你不能通过 #{gitlab_config.protocol.upcase} 拉取和推送项目代码，除非你立即#{link_to '设置账户密码', edit_profile_password_path}。

    .pull-right
      = link_to "不再显示", profile_path(user: {hide_no_password: true}), method: :put
      |
      = link_to '稍后提示', '#', class: 'hide-no-password-message'
