- if current_user.require_ssh_key?
  %h6.error_message
    %span
      You won't be able to pull or push project code until you
      %strong
        = link_to new_key_path, class: "vlink" do
          add a SSH key
      to your profile
