- if show_no_ssh_key_message?(project)
  = render Pajamas::AlertComponent.new(variant: :warning,
    alert_options: { class: 'js-no-ssh-message' },
    close_button_options: { class: 'js-hide-no-ssh-message'}) do |c|
    - c.with_body do
      = s_("MissingSSHKeyWarningLink|You can't push or pull repositories using SSH until you add an SSH key to your profile.")
    - c.with_actions do
      = link_button_to s_('MissingSSHKeyWarningLink|Add SSH key'), user_settings_ssh_keys_path, class: 'gl-alert-action', variant: :confirm
      = link_button_to s_("MissingSSHKeyWarningLink|Don't show again"), user_settings_profile_path(user: { hide_no_ssh_key: true }), method: :put, role: 'button', class: 'gl-alert-action'
