- if show_no_password_message?
  = render Pajamas::AlertComponent.new(variant: :warning,
    alert_options: { class: 'js-no-password-message' },
    close_button_options: { class: 'js-hide-no-password-message' }) do |c|
    - c.with_body do
      = no_password_message
    - c.with_actions do
      = link_button_to _('Remind later'), '#', class: 'js-hide-no-password-message gl-alert-action', variant: :confirm
      = link_button_to _("Don't show again"), user_settings_profile_path(user: { hide_no_password: true }), method: :put, role: 'button', class: 'gl-alert-action'
