- if cookies[:hide_no_password_message].blank? && !current_user.hide_no_password && current_user.require_password?
  .no-password-message.alert.alert-warning.hidden-xs
    You won't be able to pull or push project code via #{gitlab_config.protocol.upcase} until you #{link_to 'set a password', edit_profile_password_path} on your account

    .pull-right
      = link_to "Don't show again", profile_path(user: {hide_no_password: true}), method: :put
      |
      = link_to 'Remind later', '#', class: 'hide-no-password-message'
