- if current_user.require_ssh_key? && alert.blank? && notice.blank?
  %p.error-message.centered
    You won't be able to pull or push project code via SSH until you #{link_to 'add an SSH key', new_profile_key_path} to your profile
