- if cookies[:hide_no_ssh_message].blank? && !current_user.hide_no_ssh_key && current_user.require_ssh_key?
  .no-ssh-key-message.alert.alert-warning.hidden-xs
    在您#{link_to '添加SSH Key', new_profile_key_path, class: 'alert-link'}之前您将不能通过SSH拉取或推送项目代码.

    .pull-right
      = link_to "不再显示", profile_path(user: {hide_no_ssh_key: true}), method: :put, class: 'alert-link'
      |
      = link_to '今后再提示', '#', class: 'hide-no-ssh-message alert-link'
