- if outdated_browser?
  - link = "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md#supported-web-browsers"
  .browser-alert
    GitLab可能无法正常工作， 因为您正在使用过时的网页浏览器.
    %br
    Please install a
    为获取更佳的体验请安装一款
    = link_to '支持的网页浏览器.', link
