- if outdated_browser?
  - link = "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md#supported-web-browsers"
  .browser-alert
    很可能因为使用了过时的网页浏览器导致 GitLab 无法工作。
    %br
    请安装
    = link_to '支持的网页浏览器', link
    获得更好的体验。
