- if cookies[:hide_project_limit_message].blank? && !current_user.d-none_project_limit && !current_user.can_create_project? && current_user.projects_limit > 0
  .project-limit-message.alert.alert-warning.hidden-xs
    You won't be able to create new projects because you have reached your project limit.

    .float-right
      = link_to "Don't show again", profile_path(user: {hide_project_limit: true}), method: :put, class: 'alert-link'
      |
      = link_to 'Remind later', '#', class: 'hide-project-limit-message alert-link'
