.gitlab-promo
  = link_to 'Homepage', promo_url
  = link_to 'Blog', promo_url + '/blog/'
  = link_to '@gitlab', 'https://twitter.com/gitlab'
  = link_to 'Requests', 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#feature-proposals'
