.gitlab-promo
  = link_to "Homepage", "https://www.gitlab.com/"
  = link_to "Blog", "https://www.gitlab.com/blog/"
  = link_to "@gitlabhq", "https://twitter.com/gitlabhq"
  = link_to "Requests", "http://feedback.gitlab.com/"
