- if cookies[:hide_project_limit_message].blank? && !current_user.hide_project_limit && !current_user.can_create_project? && current_user.projects_limit > 0
  .project-limit-message.alert.alert-warning.hidden-xs
    因为你创建的项目达到限制，无法创建新项目。

    .pull-right
      = link_to "不再显示", profile_path(user: {hide_project_limit: true}), method: :put, class: 'alert-link'
      |
      = link_to '稍后提醒', '#', class: 'hide-project-limit-message alert-link'
