- license = local_assigns.fetch(:license)
- registration_features_docs_path = help_page_path('development/service_ping/index.md', anchor: 'registration-features-program')
- service_ping_settings_path = metrics_and_profiling_admin_application_settings_path(anchor: 'js-usage-settings')

%div
  %span= s_('RegistrationFeatures|Want to use this feature for free?')
  - if license.present?
    = link_to s_('RegistrationFeatures|Enable Service Ping and register for this feature.'), service_ping_settings_path
  = sprintf(s_('RegistrationFeatures|Read more about the %{linkStart}Registration Features Program%{linkEnd}.') , { linkStart: "<a href=\"#{registration_features_docs_path}\" target=\"_blank\">", linkEnd: "</a>", }).html_safe
