- if remote_mirror.update_in_progress?
  = render Pajamas::ButtonComponent.new(icon: 'retry',
    button_options: { class: 'disabled', title: _('Updating'), data: { toggle: 'tooltip', container: 'body' } },
    icon_classes: 'spin')
- elsif remote_mirror.enabled?
  = link_button_to nil, update_now_project_mirror_path(@project, sync_remote: true), method: :post, class: 'rspec-update-now-button', data: { toggle: 'tooltip', container: 'body', testid: 'update-now-button' }, title: _('Update now'), icon: 'retry'
