- return if @hide_search_settings

- container_class = local_assigns.fetch(:container_class, 'gl-mt-5')

%div{ class: container_class }
  .js-search-settings-app
    %input.gl-form-input.form-control{ type: "text", placeholder: _("Search settings"), aria_label: _("Search settings"), disabled: true }
