.search-box-by-type.gl-mt-5
  = sprite_icon('search', css_class: 'gl-search-box-by-type-search-icon gl-icon s16')
  %input#search-settings-input.gl-form-input.gl-w-full.gl-search-box-by-type-input{ type: 'search', placeholder: _('Search settings') }
