- project = local_assigns.fetch(:project, nil)
- namespace = local_assigns.fetch(:namespace, project && project.namespace)
- scope = (project || namespace).full_path
- has_limit = (project || namespace).shared_runners_minutes_limit_enabled?
- can_see_status = project.nil? || can?(current_user, :create_pipeline, project)
- if cookies[:hide_shared_runner_quota_message].blank? && has_limit && namespace.shared_runners_minutes_used? && can_see_status
  .shared-runner-quota-message.alert.alert-warning.hidden-xs{ data: { scope: scope } }
    = namespace.name
    has exceeded their build minutes quota. Pipelines will not run anymore on shared Runners.

    .pull-right
      = link_to 'Remind later', '#', class: 'hide-shared-runner-limit-message alert-link'
