- project = local_assigns.fetch(:project, nil)

- if cookies[:hide_shared_runner_quota_message].blank? &&
    project.shared_runners_minutes_quota? &&
    namespace.shared_runners_minutes_used? &&
    can?(current_user, :create_pipeline, project)
  .shared-runner-quota-message.alert.alert-warning.hidden-xs
    = namespace.name
    has exceeded its build minutes quota. Pipelines will not run anymore on shared runners.

    .pull-right
      = link_to "Don't show again this month", '#', class: 'hide-shared-runner-limit-message-one-month alert-link'
      |
      = link_to 'Remind later', '#', class: 'hide-shared-runner-limit-message alert-link'
