- if cookies[:hide_shared_runner_quota_message].blank? && namespace.shared_runners_minutes_used?
  .shared-runner-quota-message.alert.alert-warning.hidden-xs
    - if namespace.class.to_s === 'Group'
      Your group has exceeded its build minutes quota.
    - else
      You have exceeded your build minutes quota.
    Pipelines will not run anymore on shared runners.

    .pull-right
      = link_to "Don't show again this month", '#', class: 'hide-shared-runner-limit-message-one-month alert-link'
      |
      = link_to 'Remind later', '#', class: 'hide-shared-runner-limit-message alert-link'
