= render Pajamas::AlertComponent.new(variant: :info, dismissible: false) do |c|
  - c.with_body do
    .gl-flex.gl-items-center
      .gl-grow
        = I18n.t('devise.failure.unauthenticated')
  - c.with_actions do
    = link_button_to s_("Register now"), new_user_registration_path, class: 'btn-confirm'
