- return unless ::Gitlab::SilentMode.enabled?

= content_for :page_level_alert do
  %div{ class: [container_class, @content_class, '!gl-pt-5'] }
    = render Pajamas::AlertComponent.new(title: s_('SilentMode|Silent mode is enabled'),
      dismissible: false,
      variant: :warning) do |c|
      - c.with_body do
        = s_('SilentMode|All outbound communications are blocked. %{link_start}Learn more%{link_end}.').html_safe % { link_start: "<a href='#{help_page_path('administration/silent_mode/_index.md')}' target='_blank' rel='noopener noreferrer'>".html_safe, link_end: '</a>'.html_safe }
