- return unless instance_review_permitted?

%li.divider
%li
  = link_to admin_instance_review_path, target: '_blank', class: 'text-nowrap', data: {track_action: 'click_link', track_label: 'instance_review', track_property: 'navigation_top'} do
    = _("Get a free instance review")
