- if can_change_visibility_level?(@project, current_user)
  - levels_options_hash = {}
  - Gitlab::VisibilityLevel.values.each do |level|
    - levels_options_hash[visibility_level_label(level)] = level
  - options = options_for_select(levels_options_hash, selected_level)
  = form.select(model_method, options, {}, class: 'form-control visibility-select')
- else
  .info.js-locked{ data: { help_block: visibility_level_description(@project.visibility_level, @project)}}
    = visibility_level_icon(@project.visibility_level)
    %strong
      = visibility_level_label(@project.visibility_level)
