- @gfm_form = true
- current_text ||= nil
- supports_autocomplete = local_assigns.fetch(:supports_autocomplete, true)
- supports_quick_actions = local_assigns.fetch(:supports_quick_actions, false)
- testid = local_assigns.fetch(:testid, '')
- autofocus = local_assigns.fetch(:autofocus, false)

.zen-backdrop
  - classes << ' js-gfm-input js-autosize markdown-area'
  - if defined?(f) && f
    = f.text_area attr,
      class: classes,
      placeholder: placeholder,
      dir: 'auto',
      data: { supports_quick_actions: supports_quick_actions,
        supports_autocomplete: supports_autocomplete,
        testid: testid,
        autofocus: autofocus }
  - else
    = text_area_tag attr, current_text, data: { testid: testid }, class: classes, placeholder: placeholder
  = render(Pajamas::ButtonComponent.new(category: :tertiary, size: :medium, icon: 'minimize', button_options: { class: 'zen-control zen-control-leave js-zen-leave has-tooltip gl-text-gray-500', title: _("Exit full screen"), aria: { label: _("Exit full screen") } }))
