- if mirror_update_failed?
  .panel.panel-danger
    .panel-heading
      = render partial: 'shared/projects/mirror_status', show_icon: false
    .panel-body
      %pre
        :preserve
          #{h(@project.import_error.try(:strip))}
