.panel.panel-default.project-members-groups
  .panel-heading
    Groups with access to
    %strong #{@project.name}
    %span.badge= group_links.size
  %ul.content-list
    - group_links.each do |group_link|
      - group = group_link.group
      = render 'shared/members/group', group_link: group_link, group: group
