.card.project-members-groups
  .card-header
    Groups with access to
    %strong= @project.name
    %span.badge.badge-pill= group_links.size
  %ul.content-list
    = render partial: 'shared/members/group', collection: group_links, as: :group_link
