.panel.panel-default
  .panel-heading
    Users with access to
    %strong #{@project.name}
    %span.badge= @project_members_size
  %ul.content-list
    - members.each do |user|
      - member = @project.team.find_member(user.id)
      = render 'shared/members/member', member: member, user: user
