.panel.panel-default
  .panel-heading
    Users with access to
    %strong #{@project.name}
    %span.badge= members.size
  %ul.content-list
    = render partial: 'shared/members/member', collection: members, as: :member
