:plain
  var $listItem = $('#{escape_javascript(render('shared/members/member', member: @project_member))}');
  $("##{dom_id(@project_member)} .list-item-name").replaceWith($listItem.find('.list-item-name'));
