- breadcrumb_title _("Projects")
- page_title _("Explore projects")

= render_dashboard_ultimate_trial(current_user)

.page-title-holder.gl-flex.gl-items-center{ data: { testid: 'explore-projects-title' } }
  %h1.page-title.gl-text-size-h-display= page_title
  .page-title-controls
    - if current_user&.can_create_project?
      = render Pajamas::ButtonComponent.new(href: new_project_path, variant: :confirm, button_options: { data: { event_tracking: 'click_new_project_projects_explore' } }) do
        = _("New project")
