- if params[:name].present? && params[:name].size < Explore::ProjectsController::MIN_SEARCH_LENGTH
  .nothing-here-block
    %h5= _('Enter at least three characters to search')
- else
  = render 'shared/projects/list', projects: projects, user: current_user, explore_page: true, pipeline_status: Feature.enabled?(:explore_pipeline_status, type: :ops), event_tracking: 'use_pagination_projects_explore'
