- @hide_top_links = true
- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

= render 'explore/projects/nav'
= render 'projects', projects: @projects
