- page_title "Projects"
- if current_user
  = render 'dashboard/projects_head'
.gray-content-block.clearfix
  = render 'filter'
= render 'projects', projects: @projects
= paginate @projects, theme: "gitlab"
