- page_title "Trending Projects"
- if current_user
  = render 'dashboard/projects_head'
.explore-title
  %h3
    Explore GitLab
  %p.lead
    Discover projects and groups. Share your projects with others
%hr
.explore-trending-block
  .lead
    %i.fa.fa-comments-o
    See most discussed projects for last month
    .pull-right
      = render 'explore/projects/dropdown'
  .public-projects
    %ul.bordered-list
      = render @trending_projects
