- page_title    "项目"
- header_title  "项目", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

= render 'explore/projects/nav'
= render 'projects', projects: @projects
