.explore-trending-block
  %p.lead
    %i.fa.fa-comments-o
    See most discussed projects for last month
  %hr
  .public-projects
    %ul.bordered-list
      = render @trending_projects

  .center
    = link_to 'Show all projects', explore_projects_path, class: 'btn btn-primary'
