- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path
- @disable_projects_dropdown = true

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.explore-trending-block
  .gray-content-block.second-block
    .pull-right
      = render 'dropdown'
    .oneline
      %i.fa.fa-comments-o
      See most discussed projects for last month
  = render 'projects', projects: @projects
