- add_page_specific_style 'page_bundles/organizations'
- page_title s_('Organization|Organizations')
- header_title _("Your work"), root_path

#js-organizations-index{ data: { app_data: organization_index_app_data } }
