- add_page_specific_style 'page_bundles/organizations'
- page_title s_('Organization|New organization')
- header_title _("Your work"), root_path
- add_to_breadcrumbs s_('Organization|Organizations'), organizations_path

#js-organizations-new{ data: { app_data: organization_new_app_data } }
