-# .diff-file class used for compatibility with legacy styles for now
.rd-image-diff.diff-file{ data: { image_data: image_data.to_json } }
  .rd-image-diff-fallback{ data: { image_view: true } }
    = s_('RapidDiffs|Loading image diff...')
