- submit_btn_css ||= 'gl-button btn btn-danger btn-sm'
= form_tag admin_application_path(application) do
  %input{ :name => "_method", :type => "hidden", :value => "delete" }/
  = submit_tag 'Destroy', class: submit_btn_css, data: { confirm: _('Are you sure?') }
