- submit_btn_css ||= 'btn btn-remove btn-sm'
= bootstrap_form_tag url: admin_application_path(application), method: 'delete' do |f|
  = f.submit 'Destroy', onclick: "return confirm('Are you sure?')", class: submit_btn_css