- submit_btn_css ||= 'gl-button btn btn-danger btn-danger-secondary btn-sm js-application-delete-button'

%button{ class: submit_btn_css, data: { path: admin_application_path(application), name: application.name } }
  = _('Destroy')
