- breadcrumb_title _("Add new application")
- page_title _("Add new application")

%h3.page-title
  = _("Add new application")
- @url = admin_applications_path
= render 'form', application: @application
