- add_to_breadcrumbs _("Applications"), admin_applications_path
- page_title @application.name

= render ::Layouts::PageHeadingComponent.new(_('Application: %{application_name}') % { application_name: @application.name })

= render 'shared/doorkeeper/applications/show',
  edit_path: edit_admin_application_path(@application),
  delete_path: admin_application_path(@application),
  index_path: admin_applications_path,
  renew_path: renew_admin_application_path(@application),
  show_trusted_row: true
