- checked = local_assigns.fetch(:checked, nil)
- check_box_options = {}
- check_box_options[:checked] = checked unless checked.nil?

.form-group
  = f.check_box :mirror_trigger_builds, check_box_options.merge(class: "pull-left")
  .prepend-left-20
    = f.label :mirror_trigger_builds, "Trigger pipelines for mirror updates", class: "label-light"
    %p.light.append-bottom-0
      Trigger pipelines when branches or tags are updated from the upstream repository.
      Depending on the activity of the upstream repository, this may greatly increase the load on your CI runners.
      Only enable this if you know they can handle the load.
      <strong>CI will run using the credentials assigned above.</strong>
