- if License.feature_available?(:repository_mirrors)
  .form-group
    = f.label :mirror, class: 'label-bold' do
      = f.check_box :mirror, disabled: true
      %strong
        Mirror repository
    .form-text.text-muted
      Automatically update this project's branches and tags from the upstream
      repository every hour. The Git LFS objects will not be synced.
    - if Gitlab::CurrentSettings.should_check_namespace_plan?
      .form-text.text-muted
        Mirroring will only be available if the feature is included in the plan of the selected group or user.

  = f.hidden_field :mirror_user_id, value: current_user.id
