- page_title 'Active Sessions'
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.
  .col-lg-8
    .append-bottom-default

      %ul.well-list
        = render partial: 'profiles/active_sessions/active_session', collection: @sessions
