%li.commit
  .commit-row-title
    = link_to truncate_sha(commit[:id]), project_commit_path(project, commit[:id]), class: "commit-sha", alt: '', title: truncate_sha(commit[:id])
    &middot;
    = markdown event_commit_title(commit[:message]), project: project, pipeline: :single_line, author: event.author
