- if event.allowed?
  .event_feed
    - if event.issue? 
      = render "events/event_issue", :event => event
    - elsif event.merge_request? 
      = render "events/event_merge_request", :event => event
    - elsif event.push?
      = render "events/event_push", :event => event
