- illustration_path = 'illustrations/empty-state/empty-activity-md.svg'
- current_user_empty_message_header = s_('UserProfile|No activities found')
- current_user_empty_message_description = s_('UserProfile|Join or create a group to start contributing by commenting on issues or submitting merge requests!')
- primary_button_label = _('New group')
- primary_button_link = new_group_path
- secondary_button_label = _('Explore groups')
- secondary_button_link = explore_groups_path
- visitor_empty_message = _('No activities found')

- if @events.present?
  = render partial: 'events/event', collection: @events
- else
  = render partial: 'shared/empty_states/profile_tabs', locals: { illustration_path: illustration_path,
    current_user_empty_message_header: current_user_empty_message_header,
    current_user_empty_message_description: current_user_empty_message_description,
    primary_button_label: primary_button_label,
    primary_button_link: primary_button_link,
    secondary_button_label: secondary_button_label,
    secondary_button_link: secondary_button_link,
    visitor_empty_message: visitor_empty_message }
