- if event.allowed?
  %div.event-item
    - if event.push?
      = render "events/event_push", event: event
    - else
      = render "events/event_common", event: event

    %span.cgray.right
      = time_ago_in_words(event.created_at)
      ago.
    .clearfix
