- experiment = @candidate.experiment
- add_to_breadcrumbs _("Experiments"), project_ml_experiments_path(@project)
- add_to_breadcrumbs experiment.name, project_ml_experiment_path(@project, experiment.iid)
- breadcrumb_title "Run #{@candidate.iid}"
- add_page_specific_style 'page_bundles/ml_experiment_tracking'
- presenter = ::Ml::CandidateDetailsPresenter.new(@candidate, current_user)

#js-show-ml-candidate{ data: { view_model: presenter.present_as_json } }
