= render "commits/commit_box"
= render "commits/diffs", diffs: @commit.diffs
= render "notes/notes_with_form", tid: @commit.id, tt: "commit"
= render "notes/per_line_form"


:javascript
  $(function(){
    PerLineNotes.init();
    var w, h;
    $('.diff-file').each(function(){
      $('.image.diff-removed img', this).on('load', $.proxy(function(event){
        var w = event.currentTarget.naturalWidth
          , h = event.currentTarget.naturalHeight;
        $('.image.diff-removed .image-info', this).append(' | <b>W:</b> ' + w + 'px | <b>H:</b> ' + h + 'px');
      }, this));
      $('.image.diff-added img', this).on('load', $.proxy(function(event){
        var w = event.currentTarget.naturalWidth
          , h = event.currentTarget.naturalHeight;
        $('.image.diff-added .image-info', this).append(' | <b>W:</b> ' + w + 'px | <b>H:</b> ' + h + 'px');
      }, this));
      
    });
    
  });
