.mr-widget-code-quality {
  .code-quality-container {
    border-top: 1px solid $gray-darker;
    padding: $gl-padding-top;
    background-color: $gray-light;
    margin: $gl-padding -16px -16px;

    .mr-widget-code-quality-info {
      padding-left: 10px;
    }

    .mr-widget-dast-code {
      margin-left: 26px;
    }

    .mr-widget-code-quality-list {
      list-style: none;
      padding: 0 1px;
      margin: 0;
      line-height: $code_line_height;

      .btn-open-modal {
        padding: 0 5px 4px;
      }

      .mr-widget-code-quality-list-item {
        display: flex;
      }

      .mr-widget-code-quality-list-item-modal {
        display: flex;
        flex-wrap: wrap;
      }

      .failed .mr-widget-code-quality-icon {
        color: $red-500;
      }

      .success .mr-widget-code-quality-icon {
        color: $green-500;
      }

      .neutral .mr-widget-code-quality-icon {
        color: $theme-gray-700;
      }

      .mr-widget-code-quality-icon {
        margin: -5px 4px 0 0;
        fill: currentColor;
      }
    }
  }
}
