.service-desk-issues {
  .empty-state {
    max-width: 450px;
    text-align: center;
  }

  .non-empty-state {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;

    .service-desk-graphic {
      margin-top: 20px;
    }

    .media-body {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  .turn-on-btn-container {
    margin-top: 10px;
  }
}
