.service-desk-issues {
  .empty-state {
    max-width: 450px;
    text-align: center;
  }

  .non-empty-state {
    text-align: left;
    padding-bottom: $gl-padding-top;
    border-bottom: 1px solid $border-color;

    .service-desk-graphic {
      margin-top: $gl-padding;
    }

    .media-body {
      margin-top: $gl-padding-top;
      margin-left: $gl-padding;
    }
  }

  .turn-on-btn-container {
    margin-top: $gl-padding-top;
  }
}
