.service-desk-issues {
  .empty-state {
    max-width: 450px;
    text-align: center;
  }

  .non-empty-state {
    text-align: left;
    margin-bottom: 20px;

    .service-desk-graphic {
      margin-top: 20px;
    }

    .media-body {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}
