/*
 * General Colors
 */
$style_color: #474D57;
$hover: #FFF3EB;
$box_bg: #F9F9F9;

/*
 * Link colors
 */
$link_color: #446e9b;
$link_hover_color: darken($link-color, 10%);

$btn-border: 1px solid #ccc;

/*
 * State colors:
 */
$gl-success: #019875;
$gl-danger: #d9534f;
$gl-primary: #446e9b;
$gl-info: #029ACF;
$gl-warning: #EB9532;

/**
 * Commit Diff Colors
 */
$added: #63c363;
$deleted: #f77;

/**
 * NProgress customize
 */
$nprogress-color: #c0392b;

/**
 * Font sizes
 */
$list-font-size: 15px;

/**
 * Sidebar navigation width
 */
$sidebar_width: 230px;

$avatar_radius: 50%;
$code_font_size: 13px;
$code_line_height: 1.5;
