- page_title "User map", "Google Code import"
- header_title "Projects", root_path
%h3.page-title
  %i.fa.fa-google
  Import projects from Google Code
%hr

= form_tag create_user_map_import_google_code_path do
  %p
    Customize how Google Code email addresses and usernames are imported into GitLab.
    In the next step, you'll be able to select the projects you want to import.
  %p
    The user map is a JSON document mapping the Google Code users that participated on your projects to the way their email addresses and usernames will be imported into GitLab. You can change this by changing the value on the right hand side of <code>:</code>. Be sure to preserve the surrounding double quotes, other punctuation and the email address or username on the left hand side.
  %ul
    %li
      %strong Default: Directly import the Google Code email address or username
      %p
        <code>"johnsmith@example.com": "johnsm...@example.com"</code>
        will add "By johnsm...@example.com" to all issues and comments originally created by johnsmith@example.com.
        The email address or username is masked to ensure the user's privacy.
    %li
      %strong Map a Google Code user to a GitLab user
      %p
        <code>"johnsmith@example.com": "@johnsmith"</code>
        will add "By <a href="#">@johnsmith</a>" to all issues and comments originally created by johnsmith@example.com,
        and will set <a href="#">@johnsmith</a> as the assignee on all issues originally assigned to johnsmith@example.com.
    %li
      %strong Map a Google Code user to a full name
      %p
        <code>"johnsmith@example.com": "John Smith"</code>
        will add "By John Smith" to all issues and comments originally created by johnsmith@example.com.
    %li
      %strong Map a Google Code user to a full email address
      %p
        <code>"johnsmith@example.com": "johnsmith@example.com"</code>
        will add "By <a href="#">johnsmith@example.com</a>" to all issues and comments originally created by johnsmith@example.com.
        By default, the email address or username is masked to ensure the user's privacy. Use this option if you want to show the full email address.

  .form-group.row
    .col-sm-12
      = text_area_tag :user_map, JSON.pretty_generate(@user_map), class: 'form-control', rows: 15

  .form-actions
    = submit_tag 'Continue to the next step', class: "btn btn-create"
