%h4.prepend-top-0
  Secret variables
  = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'secret-variables'), target: '_blank'
%p
  These variables will be set to environment by the runner, and could be protected by exposing only to protected branches or tags.
%p
  So you can use them for passwords, secret keys or whatever you want.
%p
  The value of the variable can be visible in job log if explicitly asked to do so.
