%h4.prepend-top-0
  Secret Variables
%p
  These variables will be set to environment by the runner.
%p
  So you can use them for passwords, secret keys or whatever you want.
%p
  The value of the variable can be visible in build log if explicitly asked to do so.
