- page_title "变量"

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    = render "content"
  .col-lg-9
    %h5.prepend-top-0
      增加变量
    = render "form", btn_text: "增加新的变量"
    %hr
    %h5.prepend-top-0
      你的变量 (#{@project.variables.size})
    - if @project.variables.empty?
      %p.settings-message.text-center.append-bottom-0
        没有变量，请使用上面的表单增加。
    - else
      = render "table"
