- add_to_breadcrumbs s_('FeatureFlags|Feature Flags'), project_feature_flags_path(@project)
- add_to_breadcrumbs s_('FeatureFlags|User Lists'), project_feature_flags_user_lists_path(@project)
- breadcrumb_title s_('FeatureFlags|List details')
- page_title s_('FeatureFlags|Feature Flag User List Details')

#js-edit-user-list{ data: { project_id: @project.id,
  user_list_iid: @user_list.iid,
  empty_state_path: image_path('illustrations/feature_flag.svg') } }
