- if current_user.projects.count > 0
  %div.widget
    %h4
      Recent Projects:
    %ul
      - current_user.projects.order("id DESC").limit(5).each do |project|
        %li
          = link_to project_path(project) do
            = project.name
    .link_holder
      = link_to "Projects » ", projects_path
