- @no_container = true
- @content_class = "issue-boards-content"
- page_title "Boards"
= render "projects/issues/head"

.boards-list
  .board
    .board-inner
      %header.board-inner-container
        %h3.board-title
          Backlog
          %span.pull-right
            5
      .board-inner-container.board-search-container
        %input.form-control{ type: "text", placeholder: "Search issues" }
      %ul.board-list
        %li.card
          %h4.card-title
            Issue title
          .card-footer
            %span.card-number
              \#288
            %span.label.color-label{ style: "background-color: #428bca; color: #FFFFFF" }
              label
