- @no_container = true
- @content_class = "issue-boards-content"
- page_title "Boards"

- content_for :page_specific_javascripts do
  = page_specific_javascript_tag('boards/boards_bundle.js')

= render "projects/issues/head"

= render 'shared/issuable/filter', type: :boards

.boards-list#board-app{ ":class" => "{ 'is-dragging': interaction.dragging }"}
  {{ interaction.dragging }}
  = render "projects/boards/components/board"
