%h3.page_title Project Network Graph
%br
= render partial: 'shared/ref_switcher', locals: {destination: 'graph', path: @path}
%br
.graph_holder
  %h4
    %small You can move around the graph by using the arrow keys.
  #holder.graph
    .loading.loading-gray

:javascript
  var branch_graph;
  $(function(){
    branch_graph = new BranchGraph($("#holder"), {
      url: '#{project_graph_path(@project, @ref, format: :json)}',
      commit_url: '#{project_commit_path(@project, 'ae45ca32').gsub("ae45ca32", "%s")}',
      ref: '#{@ref}'
    });
  });
