- page_title _('Bitbucket import')
- header_title _('Projects'), root_path

%h1.page-title.gl-text-size-h-display.gl-flex.gl-items-center
  .gl-flex.gl-items-center.gl-justify-center
    = sprite_icon('bitbucket', css_class: 'gl-mr-3', size: 48)
  = _('Import projects from Bitbucket')

= render 'import/githubish_status', provider: 'bitbucket', default_namespace: @namespace
