- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('balsamiq_viewer')

.file-content.balsamiq-viewer#js-balsamiq-viewer{ data: { endpoint: namespace_project_raw_path(@project.namespace, @project, @id) } }
