= icon('cubes fw')
= succeed '.' do
  This project manages its dependencies using
  %strong= viewer.manager_name

= link_to 'Learn more', viewer.manager_url, target: '_blank', rel: 'noopener noreferrer'
