.file-content.blob_file.blob-no-preview
  .center.render-error
    = link_to blob_raw_path do
      %h1.light
        = sprite_icon('download')
      %h4
        = _('Download (%{size})').html_safe % { size: number_to_human_size(viewer.blob.raw_size) }
