- blob = viewer.blob
- context = {}
- if params[:legacy_render]
  - context[:markdown_engine] = :redcarpet
- else
  - context[:rendered] = blob.rendered_markup if blob.respond_to?(:rendered_markup)
.file-content.wiki
  = markup(blob.name, blob.data, context)
