- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('notebook_viewer')

.file-content#js-notebook-viewer{ data: { endpoint: blob_raw_url } }
