- content_for :page_specific_javascripts do
  = page_specific_javascript_bundle_tag('common_vue')
  = page_specific_javascript_bundle_tag('pdf_viewer')

.file-content#js-pdf-viewer{ data: { endpoint: blob_raw_url } }
