= loading_icon(css_class: "gl-vertical-align-text-bottom gl-mr-1")
Validating Route Map…

= link_to 'Learn more', help_page_path('ci/environments/index.md', anchor: 'going-from-source-files-to-public-pages')
