.file-content#js-sketch-viewer{ data: { endpoint: blob_raw_path } }
  .js-loading-icon.text-center.prepend-top-default.append-bottom-default.js-loading-icon{ 'aria-label' => 'Loading Sketch preview' }
    = icon('spinner spin 2x', 'aria-hidden' => 'true');
