.file-content.is-stl-loading
  .text-center#js-stl-viewer{ data: { endpoint: blob_raw_path } }
    = loading_icon(size: "md", css_class: "gl-mt-4 gl-mb-3")
  .text-center.gl-mt-3.gl-mb-3.stl-controls
    .btn-group
      %button.gl-button.btn.btn-default.btn-sm.js-material-changer{ data: { type: 'wireframe' } }
        Wireframe
      %button.gl-button.btn.btn-default.btn-sm.selected.js-material-changer{ data: { type: 'default' } }
        Solid
