.file-content.is-stl-loading
  .text-center#js-stl-viewer{ data: { endpoint: blob_raw_path } }
    = icon('spinner spin 2x', class: 'prepend-top-default append-bottom-default', 'aria-hidden' => 'true', 'aria-label' => 'Loading')
  .text-center.prepend-top-default.append-bottom-default.stl-controls
    .btn-group
      %button.btn.btn-default.btn-sm.js-material-changer{ data: { type: 'wireframe' } }
        Wireframe
      %button.btn.btn-default.btn-sm.active.js-material-changer{ data: { type: 'default' } }
        Solid
