- breadcrumb_title _("Security Configuration")
- page_title _("Security Configuration")

#js-security-configuration-static{ data: { project_path: @project.full_path, upgrade_path: security_upgrade_path } }
