- breadcrumb_title _("Security configuration")
- page_title _("Security configuration")

#js-security-configuration{ data: { **@configuration.to_html_data_attribute,
  vulnerability_training_docs_path: vulnerability_training_docs_path,
  upgrade_path: security_upgrade_path,
  project_full_path: @project.full_path,
  group_full_path: @project.root_ancestor.full_path,
  can_read_attributes: can?(current_user, :read_security_attribute, @project.root_ancestor).to_s,
  can_manage_attributes: can?(current_user, :admin_security_attributes, @project.root_ancestor).to_s,
  group_manage_attributes_path: group_security_configuration_path(@project.root_ancestor) } }
