=begin
#OpenBao API

#HTTP API that gives you full access to OpenBao. All API routes are prefixed with `/v1/`.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenbaoClient
  class AuthApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_bind_secret_id(role_name, approle_mount_path, opts = {})
      app_role_delete_bind_secret_id_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_bind_secret_id_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_bind_secret_id ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_bind_secret_id"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_bind_secret_id"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/bind-secret-id'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_bind_secret_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_bind_secret_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_bound_cidr_list(role_name, approle_mount_path, opts = {})
      app_role_delete_bound_cidr_list_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_bound_cidr_list_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_bound_cidr_list ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_bound_cidr_list"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_bound_cidr_list"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/bound-cidr-list'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_bound_cidr_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_bound_cidr_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_period(role_name, approle_mount_path, opts = {})
      app_role_delete_period_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_period_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_period ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_period"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_period"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/period'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_policies(role_name, approle_mount_path, opts = {})
      app_role_delete_policies_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_policies_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_policies ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_policies"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_policies"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/policies'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_role(role_name, approle_mount_path, opts = {})
      app_role_delete_role_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_role_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_role ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_role"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_role"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_secret_id_bound_cidrs(role_name, approle_mount_path, opts = {})
      app_role_delete_secret_id_bound_cidrs_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_secret_id_bound_cidrs_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_secret_id_bound_cidrs ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_secret_id_bound_cidrs"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_secret_id_bound_cidrs"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-bound-cidrs'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_secret_id_bound_cidrs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_secret_id_bound_cidrs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_secret_id_num_uses(role_name, approle_mount_path, opts = {})
      app_role_delete_secret_id_num_uses_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_secret_id_num_uses_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_secret_id_num_uses ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_secret_id_num_uses"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_secret_id_num_uses"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-num-uses'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_secret_id_num_uses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_secret_id_num_uses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_secret_id_ttl(role_name, approle_mount_path, opts = {})
      app_role_delete_secret_id_ttl_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_secret_id_ttl_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_secret_id_ttl ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_secret_id_ttl"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_secret_id_ttl"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-ttl'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_secret_id_ttl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_secret_id_ttl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_token_bound_cidrs(role_name, approle_mount_path, opts = {})
      app_role_delete_token_bound_cidrs_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_token_bound_cidrs_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_token_bound_cidrs ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_token_bound_cidrs"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_token_bound_cidrs"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/token-bound-cidrs'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_token_bound_cidrs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_token_bound_cidrs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_token_max_ttl(role_name, approle_mount_path, opts = {})
      app_role_delete_token_max_ttl_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_token_max_ttl_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_token_max_ttl ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_token_max_ttl"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_token_max_ttl"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/token-max-ttl'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_token_max_ttl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_token_max_ttl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_token_num_uses(role_name, approle_mount_path, opts = {})
      app_role_delete_token_num_uses_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_token_num_uses_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_token_num_uses ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_token_num_uses"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_token_num_uses"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/token-num-uses'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_token_num_uses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_token_num_uses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_delete_token_ttl(role_name, approle_mount_path, opts = {})
      app_role_delete_token_ttl_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_delete_token_ttl_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_delete_token_ttl ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_delete_token_ttl"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_delete_token_ttl"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/token-ttl'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_delete_token_ttl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_delete_token_ttl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_destroy_secret_id_request [AppRoleDestroySecretIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_destroy_secret_id(role_name, approle_mount_path, app_role_destroy_secret_id_request, opts = {})
      app_role_destroy_secret_id_with_http_info(role_name, approle_mount_path, app_role_destroy_secret_id_request, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_destroy_secret_id_request [AppRoleDestroySecretIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_destroy_secret_id_with_http_info(role_name, approle_mount_path, app_role_destroy_secret_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_destroy_secret_id ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_destroy_secret_id"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_destroy_secret_id"
      end
      # verify the required parameter 'app_role_destroy_secret_id_request' is set
      if @api_client.config.client_side_validation && app_role_destroy_secret_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_role_destroy_secret_id_request' when calling AuthApi.app_role_destroy_secret_id"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id/destroy'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_role_destroy_secret_id_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_destroy_secret_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_destroy_secret_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_destroy_secret_id2(role_name, approle_mount_path, opts = {})
      app_role_destroy_secret_id2_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_destroy_secret_id2_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_destroy_secret_id2 ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_destroy_secret_id2"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_destroy_secret_id2"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id/destroy'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_destroy_secret_id2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_destroy_secret_id2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_destroy_secret_id_by_accessor_request [AppRoleDestroySecretIdByAccessorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_destroy_secret_id_by_accessor(role_name, approle_mount_path, app_role_destroy_secret_id_by_accessor_request, opts = {})
      app_role_destroy_secret_id_by_accessor_with_http_info(role_name, approle_mount_path, app_role_destroy_secret_id_by_accessor_request, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_destroy_secret_id_by_accessor_request [AppRoleDestroySecretIdByAccessorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_destroy_secret_id_by_accessor_with_http_info(role_name, approle_mount_path, app_role_destroy_secret_id_by_accessor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_destroy_secret_id_by_accessor ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_destroy_secret_id_by_accessor"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_destroy_secret_id_by_accessor"
      end
      # verify the required parameter 'app_role_destroy_secret_id_by_accessor_request' is set
      if @api_client.config.client_side_validation && app_role_destroy_secret_id_by_accessor_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_role_destroy_secret_id_by_accessor_request' when calling AuthApi.app_role_destroy_secret_id_by_accessor"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-accessor/destroy'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_role_destroy_secret_id_by_accessor_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_destroy_secret_id_by_accessor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_destroy_secret_id_by_accessor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_destroy_secret_id_by_accessor2(role_name, approle_mount_path, opts = {})
      app_role_destroy_secret_id_by_accessor2_with_http_info(role_name, approle_mount_path, opts)
      nil
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_destroy_secret_id_by_accessor2_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_destroy_secret_id_by_accessor2 ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_destroy_secret_id_by_accessor2"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_destroy_secret_id_by_accessor2"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-accessor/destroy'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_destroy_secret_id_by_accessor2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_destroy_secret_id_by_accessor2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [AppRoleListRolesResponse]
    def app_role_list_roles(approle_mount_path, list, opts = {})
      data, _status_code, _headers = app_role_list_roles_with_http_info(approle_mount_path, list, opts)
      data
    end

    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleListRolesResponse, Integer, Hash)>] AppRoleListRolesResponse data, response status code and response headers
    def app_role_list_roles_with_http_info(approle_mount_path, list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_list_roles ...'
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_list_roles"
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling AuthApi.app_role_list_roles"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role'.sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleListRolesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_list_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_list_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [AppRoleListSecretIdsResponse]
    def app_role_list_secret_ids(role_name, approle_mount_path, list, opts = {})
      data, _status_code, _headers = app_role_list_secret_ids_with_http_info(role_name, approle_mount_path, list, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleListSecretIdsResponse, Integer, Hash)>] AppRoleListSecretIdsResponse data, response status code and response headers
    def app_role_list_secret_ids_with_http_info(role_name, approle_mount_path, list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_list_secret_ids ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_list_secret_ids"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_list_secret_ids"
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling AuthApi.app_role_list_secret_ids"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleListSecretIdsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_list_secret_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_list_secret_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_login_request [AppRoleLoginRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def app_role_login(approle_mount_path, app_role_login_request, opts = {})
      app_role_login_with_http_info(approle_mount_path, app_role_login_request, opts)
      nil
    end

    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_login_request [AppRoleLoginRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def app_role_login_with_http_info(approle_mount_path, app_role_login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_login ...'
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_login"
      end
      # verify the required parameter 'app_role_login_request' is set
      if @api_client.config.client_side_validation && app_role_login_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_role_login_request' when calling AuthApi.app_role_login"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/login'.sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_role_login_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_login",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_look_up_secret_id_request [AppRoleLookUpSecretIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AppRoleLookUpSecretIdResponse]
    def app_role_look_up_secret_id(role_name, approle_mount_path, app_role_look_up_secret_id_request, opts = {})
      data, _status_code, _headers = app_role_look_up_secret_id_with_http_info(role_name, approle_mount_path, app_role_look_up_secret_id_request, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_look_up_secret_id_request [AppRoleLookUpSecretIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleLookUpSecretIdResponse, Integer, Hash)>] AppRoleLookUpSecretIdResponse data, response status code and response headers
    def app_role_look_up_secret_id_with_http_info(role_name, approle_mount_path, app_role_look_up_secret_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_look_up_secret_id ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_look_up_secret_id"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_look_up_secret_id"
      end
      # verify the required parameter 'app_role_look_up_secret_id_request' is set
      if @api_client.config.client_side_validation && app_role_look_up_secret_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_role_look_up_secret_id_request' when calling AuthApi.app_role_look_up_secret_id"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id/lookup'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_role_look_up_secret_id_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleLookUpSecretIdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_look_up_secret_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_look_up_secret_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_look_up_secret_id_by_accessor_request [AppRoleLookUpSecretIdByAccessorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AppRoleLookUpSecretIdByAccessorResponse]
    def app_role_look_up_secret_id_by_accessor(role_name, approle_mount_path, app_role_look_up_secret_id_by_accessor_request, opts = {})
      data, _status_code, _headers = app_role_look_up_secret_id_by_accessor_with_http_info(role_name, approle_mount_path, app_role_look_up_secret_id_by_accessor_request, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param app_role_look_up_secret_id_by_accessor_request [AppRoleLookUpSecretIdByAccessorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleLookUpSecretIdByAccessorResponse, Integer, Hash)>] AppRoleLookUpSecretIdByAccessorResponse data, response status code and response headers
    def app_role_look_up_secret_id_by_accessor_with_http_info(role_name, approle_mount_path, app_role_look_up_secret_id_by_accessor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_look_up_secret_id_by_accessor ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_look_up_secret_id_by_accessor"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_look_up_secret_id_by_accessor"
      end
      # verify the required parameter 'app_role_look_up_secret_id_by_accessor_request' is set
      if @api_client.config.client_side_validation && app_role_look_up_secret_id_by_accessor_request.nil?
        fail ArgumentError, "Missing the required parameter 'app_role_look_up_secret_id_by_accessor_request' when calling AuthApi.app_role_look_up_secret_id_by_accessor"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-accessor/lookup'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(app_role_look_up_secret_id_by_accessor_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleLookUpSecretIdByAccessorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_look_up_secret_id_by_accessor",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_look_up_secret_id_by_accessor\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadBindSecretIdResponse]
    def app_role_read_bind_secret_id(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_bind_secret_id_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadBindSecretIdResponse, Integer, Hash)>] AppRoleReadBindSecretIdResponse data, response status code and response headers
    def app_role_read_bind_secret_id_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_bind_secret_id ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_bind_secret_id"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_bind_secret_id"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/bind-secret-id'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadBindSecretIdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_bind_secret_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_bind_secret_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadBoundCidrListResponse]
    def app_role_read_bound_cidr_list(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_bound_cidr_list_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadBoundCidrListResponse, Integer, Hash)>] AppRoleReadBoundCidrListResponse data, response status code and response headers
    def app_role_read_bound_cidr_list_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_bound_cidr_list ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_bound_cidr_list"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_bound_cidr_list"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/bound-cidr-list'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadBoundCidrListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_bound_cidr_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_bound_cidr_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadLocalSecretIdsResponse]
    def app_role_read_local_secret_ids(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_local_secret_ids_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadLocalSecretIdsResponse, Integer, Hash)>] AppRoleReadLocalSecretIdsResponse data, response status code and response headers
    def app_role_read_local_secret_ids_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_local_secret_ids ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_local_secret_ids"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_local_secret_ids"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/local-secret-ids'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadLocalSecretIdsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_local_secret_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_local_secret_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadPeriodResponse]
    def app_role_read_period(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_period_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadPeriodResponse, Integer, Hash)>] AppRoleReadPeriodResponse data, response status code and response headers
    def app_role_read_period_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_period ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_period"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_period"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/period'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadPeriodResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadPoliciesResponse]
    def app_role_read_policies(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_policies_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadPoliciesResponse, Integer, Hash)>] AppRoleReadPoliciesResponse data, response status code and response headers
    def app_role_read_policies_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_policies ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_policies"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_policies"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/policies'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadPoliciesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadRoleResponse]
    def app_role_read_role(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_role_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadRoleResponse, Integer, Hash)>] AppRoleReadRoleResponse data, response status code and response headers
    def app_role_read_role_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_role ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_role"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_role"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadRoleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadRoleIdResponse]
    def app_role_read_role_id(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_role_id_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadRoleIdResponse, Integer, Hash)>] AppRoleReadRoleIdResponse data, response status code and response headers
    def app_role_read_role_id_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_role_id ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_role_id"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_role_id"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/role-id'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadRoleIdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_role_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_role_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadSecretIdBoundCidrsResponse]
    def app_role_read_secret_id_bound_cidrs(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_secret_id_bound_cidrs_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadSecretIdBoundCidrsResponse, Integer, Hash)>] AppRoleReadSecretIdBoundCidrsResponse data, response status code and response headers
    def app_role_read_secret_id_bound_cidrs_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_secret_id_bound_cidrs ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_secret_id_bound_cidrs"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_secret_id_bound_cidrs"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-bound-cidrs'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadSecretIdBoundCidrsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_secret_id_bound_cidrs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_secret_id_bound_cidrs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadSecretIdNumUsesResponse]
    def app_role_read_secret_id_num_uses(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_secret_id_num_uses_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadSecretIdNumUsesResponse, Integer, Hash)>] AppRoleReadSecretIdNumUsesResponse data, response status code and response headers
    def app_role_read_secret_id_num_uses_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_secret_id_num_uses ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_secret_id_num_uses"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_secret_id_num_uses"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-num-uses'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadSecretIdNumUsesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_secret_id_num_uses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_secret_id_num_uses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadSecretIdTtlResponse]
    def app_role_read_secret_id_ttl(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_secret_id_ttl_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadSecretIdTtlResponse, Integer, Hash)>] AppRoleReadSecretIdTtlResponse data, response status code and response headers
    def app_role_read_secret_id_ttl_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_secret_id_ttl ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_secret_id_ttl"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_secret_id_ttl"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/secret-id-ttl'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadSecretIdTtlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_secret_id_ttl",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_secret_id_ttl\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadTokenBoundCidrsResponse]
    def app_role_read_token_bound_cidrs(role_name, approle_mount_path, opts = {})
      data, _status_code, _headers = app_role_read_token_bound_cidrs_with_http_info(role_name, approle_mount_path, opts)
      data
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppRoleReadTokenBoundCidrsResponse, Integer, Hash)>] AppRoleReadTokenBoundCidrsResponse data, response status code and response headers
    def app_role_read_token_bound_cidrs_with_http_info(role_name, approle_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.app_role_read_token_bound_cidrs ...'
      end
      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling AuthApi.app_role_read_token_bound_cidrs"
      end
      # verify the required parameter 'approle_mount_path' is set
      if @api_client.config.client_side_validation && approle_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'approle_mount_path' when calling AuthApi.app_role_read_token_bound_cidrs"
      end
      # resource path
      local_var_path = '/auth/{approle_mount_path}/role/{role_name}/token-bound-cidrs'.sub('{' + 'role_name' + '}', CGI.escape(role_name.to_s)).sub('{' + 'approle_mount_path' + '}', CGI.escape(approle_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppRoleReadTokenBoundCidrsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.app_role_read_token_bound_cidrs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#app_role_read_token_bound_cidrs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param role_name [String] Name of the role. Must be less than 4096 bytes.
    # @param approle_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [AppRoleReadTokenMaxTtlResponse]
[...]
