=begin
#OpenBao API

#HTTP API that gives you full access to OpenBao. All API routes are prefixed with `/v1/`.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenbaoClient
  class IdentityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new alias.
    # @param alias_create_request [AliasCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alias_create(alias_create_request, opts = {})
      alias_create_with_http_info(alias_create_request, opts)
      nil
    end

    # Create a new alias.
    # @param alias_create_request [AliasCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alias_create_with_http_info(alias_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.alias_create ...'
      end
      # verify the required parameter 'alias_create_request' is set
      if @api_client.config.client_side_validation && alias_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'alias_create_request' when calling IdentityApi.alias_create"
      end
      # resource path
      local_var_path = '/identity/alias'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alias_create_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.alias_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#alias_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alias_delete_by_id(id, opts = {})
      alias_delete_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alias_delete_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.alias_delete_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.alias_delete_by_id"
      end
      # resource path
      local_var_path = '/identity/alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.alias_delete_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#alias_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the alias IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alias_list_by_id(list, opts = {})
      alias_list_by_id_with_http_info(list, opts)
      nil
    end

    # List all the alias IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alias_list_by_id_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.alias_list_by_id ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.alias_list_by_id"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/alias/id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.alias_list_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#alias_list_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alias_read_by_id(id, opts = {})
      alias_read_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alias_read_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.alias_read_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.alias_read_by_id"
      end
      # resource path
      local_var_path = '/identity/alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.alias_read_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#alias_read_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the alias
    # @param alias_update_by_id_request [AliasUpdateByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def alias_update_by_id(id, alias_update_by_id_request, opts = {})
      alias_update_by_id_with_http_info(id, alias_update_by_id_request, opts)
      nil
    end

    # @param id [String] ID of the alias
    # @param alias_update_by_id_request [AliasUpdateByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def alias_update_by_id_with_http_info(id, alias_update_by_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.alias_update_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.alias_update_by_id"
      end
      # verify the required parameter 'alias_update_by_id_request' is set
      if @api_client.config.client_side_validation && alias_update_by_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'alias_update_by_id_request' when calling IdentityApi.alias_update_by_id"
      end
      # resource path
      local_var_path = '/identity/alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alias_update_by_id_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.alias_update_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#alias_update_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param entity_batch_delete_request [EntityBatchDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_batch_delete(entity_batch_delete_request, opts = {})
      entity_batch_delete_with_http_info(entity_batch_delete_request, opts)
      nil
    end

    # @param entity_batch_delete_request [EntityBatchDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_batch_delete_with_http_info(entity_batch_delete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_batch_delete ...'
      end
      # verify the required parameter 'entity_batch_delete_request' is set
      if @api_client.config.client_side_validation && entity_batch_delete_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_batch_delete_request' when calling IdentityApi.entity_batch_delete"
      end
      # resource path
      local_var_path = '/identity/entity/batch-delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_batch_delete_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_batch_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_batch_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param entity_create_request [EntityCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_create(entity_create_request, opts = {})
      entity_create_with_http_info(entity_create_request, opts)
      nil
    end

    # @param entity_create_request [EntityCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_create_with_http_info(entity_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_create ...'
      end
      # verify the required parameter 'entity_create_request' is set
      if @api_client.config.client_side_validation && entity_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_create_request' when calling IdentityApi.entity_create"
      end
      # resource path
      local_var_path = '/identity/entity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_create_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new alias.
    # @param entity_create_alias_request [EntityCreateAliasRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_create_alias(entity_create_alias_request, opts = {})
      entity_create_alias_with_http_info(entity_create_alias_request, opts)
      nil
    end

    # Create a new alias.
    # @param entity_create_alias_request [EntityCreateAliasRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_create_alias_with_http_info(entity_create_alias_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_create_alias ...'
      end
      # verify the required parameter 'entity_create_alias_request' is set
      if @api_client.config.client_side_validation && entity_create_alias_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_create_alias_request' when calling IdentityApi.entity_create_alias"
      end
      # resource path
      local_var_path = '/identity/entity-alias'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_create_alias_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_create_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_create_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_delete_alias_by_id(id, opts = {})
      entity_delete_alias_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_delete_alias_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_delete_alias_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.entity_delete_alias_by_id"
      end
      # resource path
      local_var_path = '/identity/entity-alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_delete_alias_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_delete_alias_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the entity. If set, updates the corresponding existing entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_delete_by_id(id, opts = {})
      entity_delete_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the entity. If set, updates the corresponding existing entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_delete_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_delete_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.entity_delete_by_id"
      end
      # resource path
      local_var_path = '/identity/entity/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_delete_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the entity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_delete_by_name(name, opts = {})
      entity_delete_by_name_with_http_info(name, opts)
      nil
    end

    # @param name [String] Name of the entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_delete_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_delete_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling IdentityApi.entity_delete_by_name"
      end
      # resource path
      local_var_path = '/identity/entity/name/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_delete_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_delete_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the alias IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_list_aliases_by_id(list, opts = {})
      entity_list_aliases_by_id_with_http_info(list, opts)
      nil
    end

    # List all the alias IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_list_aliases_by_id_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_list_aliases_by_id ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.entity_list_aliases_by_id"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/entity-alias/id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_list_aliases_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_list_aliases_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_list_by_id(list, opts = {})
      entity_list_by_id_with_http_info(list, opts)
      nil
    end

    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_list_by_id_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_list_by_id ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.entity_list_by_id"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/entity/id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_list_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_list_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_list_by_name(list, opts = {})
      entity_list_by_name_with_http_info(list, opts)
      nil
    end

    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_list_by_name_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_list_by_name ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.entity_list_by_name"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/entity/name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_list_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_list_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query entities based on various properties.
    # @param entity_look_up_request [EntityLookUpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_look_up(entity_look_up_request, opts = {})
      entity_look_up_with_http_info(entity_look_up_request, opts)
      nil
    end

    # Query entities based on various properties.
    # @param entity_look_up_request [EntityLookUpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_look_up_with_http_info(entity_look_up_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_look_up ...'
      end
      # verify the required parameter 'entity_look_up_request' is set
      if @api_client.config.client_side_validation && entity_look_up_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_look_up_request' when calling IdentityApi.entity_look_up"
      end
      # resource path
      local_var_path = '/identity/lookup/entity'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_look_up_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_look_up",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_look_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param entity_merge_request [EntityMergeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_merge(entity_merge_request, opts = {})
      entity_merge_with_http_info(entity_merge_request, opts)
      nil
    end

    # @param entity_merge_request [EntityMergeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_merge_with_http_info(entity_merge_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_merge ...'
      end
      # verify the required parameter 'entity_merge_request' is set
      if @api_client.config.client_side_validation && entity_merge_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_merge_request' when calling IdentityApi.entity_merge"
      end
      # resource path
      local_var_path = '/identity/entity/merge'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_merge_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_merge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_merge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_read_alias_by_id(id, opts = {})
      entity_read_alias_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the alias
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_read_alias_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_read_alias_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.entity_read_alias_by_id"
      end
      # resource path
      local_var_path = '/identity/entity-alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_read_alias_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_read_alias_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the entity. If set, updates the corresponding existing entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_read_by_id(id, opts = {})
      entity_read_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the entity. If set, updates the corresponding existing entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_read_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_read_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.entity_read_by_id"
      end
      # resource path
      local_var_path = '/identity/entity/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_read_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_read_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the entity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_read_by_name(name, opts = {})
      entity_read_by_name_with_http_info(name, opts)
      nil
    end

    # @param name [String] Name of the entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_read_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_read_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling IdentityApi.entity_read_by_name"
      end
      # resource path
      local_var_path = '/identity/entity/name/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_read_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_read_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the alias
    # @param entity_update_alias_by_id_request [EntityUpdateAliasByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_update_alias_by_id(id, entity_update_alias_by_id_request, opts = {})
      entity_update_alias_by_id_with_http_info(id, entity_update_alias_by_id_request, opts)
      nil
    end

    # @param id [String] ID of the alias
    # @param entity_update_alias_by_id_request [EntityUpdateAliasByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_update_alias_by_id_with_http_info(id, entity_update_alias_by_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_update_alias_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.entity_update_alias_by_id"
      end
      # verify the required parameter 'entity_update_alias_by_id_request' is set
      if @api_client.config.client_side_validation && entity_update_alias_by_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_update_alias_by_id_request' when calling IdentityApi.entity_update_alias_by_id"
      end
      # resource path
      local_var_path = '/identity/entity-alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_update_alias_by_id_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_update_alias_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_update_alias_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the entity. If set, updates the corresponding existing entity.
    # @param entity_update_by_id_request [EntityUpdateByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_update_by_id(id, entity_update_by_id_request, opts = {})
      entity_update_by_id_with_http_info(id, entity_update_by_id_request, opts)
      nil
    end

    # @param id [String] ID of the entity. If set, updates the corresponding existing entity.
    # @param entity_update_by_id_request [EntityUpdateByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_update_by_id_with_http_info(id, entity_update_by_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_update_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.entity_update_by_id"
      end
      # verify the required parameter 'entity_update_by_id_request' is set
      if @api_client.config.client_side_validation && entity_update_by_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_update_by_id_request' when calling IdentityApi.entity_update_by_id"
      end
      # resource path
      local_var_path = '/identity/entity/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_update_by_id_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_update_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_update_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the entity
    # @param entity_update_by_name_request [EntityUpdateByNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def entity_update_by_name(name, entity_update_by_name_request, opts = {})
      entity_update_by_name_with_http_info(name, entity_update_by_name_request, opts)
      nil
    end

    # @param name [String] Name of the entity
    # @param entity_update_by_name_request [EntityUpdateByNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def entity_update_by_name_with_http_info(name, entity_update_by_name_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.entity_update_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling IdentityApi.entity_update_by_name"
      end
      # verify the required parameter 'entity_update_by_name_request' is set
      if @api_client.config.client_side_validation && entity_update_by_name_request.nil?
        fail ArgumentError, "Missing the required parameter 'entity_update_by_name_request' when calling IdentityApi.entity_update_by_name"
      end
      # resource path
      local_var_path = '/identity/entity/name/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(entity_update_by_name_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.entity_update_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#entity_update_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param group_create_request [GroupCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_create(group_create_request, opts = {})
      group_create_with_http_info(group_create_request, opts)
      nil
    end

    # @param group_create_request [GroupCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_create_with_http_info(group_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_create ...'
      end
      # verify the required parameter 'group_create_request' is set
      if @api_client.config.client_side_validation && group_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_create_request' when calling IdentityApi.group_create"
      end
      # resource path
      local_var_path = '/identity/group'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_create_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new group alias, or updates an existing one.
    # @param group_create_alias_request [GroupCreateAliasRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_create_alias(group_create_alias_request, opts = {})
      group_create_alias_with_http_info(group_create_alias_request, opts)
      nil
    end

    # Creates a new group alias, or updates an existing one.
    # @param group_create_alias_request [GroupCreateAliasRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_create_alias_with_http_info(group_create_alias_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_create_alias ...'
      end
      # verify the required parameter 'group_create_alias_request' is set
      if @api_client.config.client_side_validation && group_create_alias_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_create_alias_request' when calling IdentityApi.group_create_alias"
      end
      # resource path
      local_var_path = '/identity/group-alias'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_create_alias_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_create_alias",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_create_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the group alias.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_delete_alias_by_id(id, opts = {})
      group_delete_alias_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the group alias.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_delete_alias_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_delete_alias_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.group_delete_alias_by_id"
      end
      # resource path
      local_var_path = '/identity/group-alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_delete_alias_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_delete_alias_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the group. If set, updates the corresponding existing group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_delete_by_id(id, opts = {})
      group_delete_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the group. If set, updates the corresponding existing group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_delete_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_delete_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.group_delete_by_id"
      end
      # resource path
      local_var_path = '/identity/group/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_delete_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_delete_by_name(name, opts = {})
      group_delete_by_name_with_http_info(name, opts)
      nil
    end

    # @param name [String] Name of the group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_delete_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_delete_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling IdentityApi.group_delete_by_name"
      end
      # resource path
      local_var_path = '/identity/group/name/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_delete_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_delete_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the group alias IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_list_aliases_by_id(list, opts = {})
      group_list_aliases_by_id_with_http_info(list, opts)
      nil
    end

    # List all the group alias IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_list_aliases_by_id_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_list_aliases_by_id ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.group_list_aliases_by_id"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/group-alias/id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_list_aliases_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_list_aliases_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the group IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_list_by_id(list, opts = {})
      group_list_by_id_with_http_info(list, opts)
      nil
    end

    # List all the group IDs.
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_list_by_id_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_list_by_id ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.group_list_by_id"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/group/id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_list_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_list_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_list_by_name(list, opts = {})
      group_list_by_name_with_http_info(list, opts)
      nil
    end

    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_list_by_name_with_http_info(list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_list_by_name ...'
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling IdentityApi.group_list_by_name"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/identity/group/name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_list_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_list_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query groups based on various properties.
    # @param group_look_up_request [GroupLookUpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_look_up(group_look_up_request, opts = {})
      group_look_up_with_http_info(group_look_up_request, opts)
      nil
    end

    # Query groups based on various properties.
    # @param group_look_up_request [GroupLookUpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_look_up_with_http_info(group_look_up_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_look_up ...'
      end
      # verify the required parameter 'group_look_up_request' is set
      if @api_client.config.client_side_validation && group_look_up_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_look_up_request' when calling IdentityApi.group_look_up"
      end
      # resource path
      local_var_path = '/identity/lookup/group'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_look_up_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_look_up",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_look_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the group alias.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_read_alias_by_id(id, opts = {})
      group_read_alias_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the group alias.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_read_alias_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_read_alias_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.group_read_alias_by_id"
      end
      # resource path
      local_var_path = '/identity/group-alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_read_alias_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_read_alias_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the group. If set, updates the corresponding existing group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_read_by_id(id, opts = {})
      group_read_by_id_with_http_info(id, opts)
      nil
    end

    # @param id [String] ID of the group. If set, updates the corresponding existing group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_read_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_read_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.group_read_by_id"
      end
      # resource path
      local_var_path = '/identity/group/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_read_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_read_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_read_by_name(name, opts = {})
      group_read_by_name_with_http_info(name, opts)
      nil
    end

    # @param name [String] Name of the group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_read_by_name_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_read_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling IdentityApi.group_read_by_name"
      end
      # resource path
      local_var_path = '/identity/group/name/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_read_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_read_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the group alias.
    # @param group_update_alias_by_id_request [GroupUpdateAliasByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_update_alias_by_id(id, group_update_alias_by_id_request, opts = {})
      group_update_alias_by_id_with_http_info(id, group_update_alias_by_id_request, opts)
      nil
    end

    # @param id [String] ID of the group alias.
    # @param group_update_alias_by_id_request [GroupUpdateAliasByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_update_alias_by_id_with_http_info(id, group_update_alias_by_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_update_alias_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.group_update_alias_by_id"
      end
      # verify the required parameter 'group_update_alias_by_id_request' is set
      if @api_client.config.client_side_validation && group_update_alias_by_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_update_alias_by_id_request' when calling IdentityApi.group_update_alias_by_id"
      end
      # resource path
      local_var_path = '/identity/group-alias/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_update_alias_by_id_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_update_alias_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_update_alias_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] ID of the group. If set, updates the corresponding existing group.
    # @param group_update_by_id_request [GroupUpdateByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_update_by_id(id, group_update_by_id_request, opts = {})
      group_update_by_id_with_http_info(id, group_update_by_id_request, opts)
      nil
    end

    # @param id [String] ID of the group. If set, updates the corresponding existing group.
    # @param group_update_by_id_request [GroupUpdateByIdRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_update_by_id_with_http_info(id, group_update_by_id_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_update_by_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentityApi.group_update_by_id"
      end
      # verify the required parameter 'group_update_by_id_request' is set
      if @api_client.config.client_side_validation && group_update_by_id_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_update_by_id_request' when calling IdentityApi.group_update_by_id"
      end
      # resource path
      local_var_path = '/identity/group/id/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_update_by_id_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_update_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_update_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the group.
    # @param group_update_by_name_request [GroupUpdateByNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def group_update_by_name(name, group_update_by_name_request, opts = {})
      group_update_by_name_with_http_info(name, group_update_by_name_request, opts)
      nil
    end

    # @param name [String] Name of the group.
    # @param group_update_by_name_request [GroupUpdateByNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def group_update_by_name_with_http_info(name, group_update_by_name_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.group_update_by_name ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling IdentityApi.group_update_by_name"
      end
      # verify the required parameter 'group_update_by_name_request' is set
      if @api_client.config.client_side_validation && group_update_by_name_request.nil?
        fail ArgumentError, "Missing the required parameter 'group_update_by_name_request' when calling IdentityApi.group_update_by_name"
      end
      # resource path
      local_var_path = '/identity/group/name/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_update_by_name_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.group_update_by_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#group_update_by_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Destroys a TOTP secret for the given MFA method ID on the given entity
    # @param mfa_admin_destroy_totp_secret_request [MfaAdminDestroyTotpSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mfa_admin_destroy_totp_secret(mfa_admin_destroy_totp_secret_request, opts = {})
      mfa_admin_destroy_totp_secret_with_http_info(mfa_admin_destroy_totp_secret_request, opts)
      nil
    end

    # Destroys a TOTP secret for the given MFA method ID on the given entity
    # @param mfa_admin_destroy_totp_secret_request [MfaAdminDestroyTotpSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mfa_admin_destroy_totp_secret_with_http_info(mfa_admin_destroy_totp_secret_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.mfa_admin_destroy_totp_secret ...'
      end
      # verify the required parameter 'mfa_admin_destroy_totp_secret_request' is set
      if @api_client.config.client_side_validation && mfa_admin_destroy_totp_secret_request.nil?
        fail ArgumentError, "Missing the required parameter 'mfa_admin_destroy_totp_secret_request' when calling IdentityApi.mfa_admin_destroy_totp_secret"
      end
      # resource path
      local_var_path = '/identity/mfa/method/totp/admin-destroy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mfa_admin_destroy_totp_secret_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.mfa_admin_destroy_totp_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#mfa_admin_destroy_totp_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or create TOTP secret for the given method ID on the given entity.
    # @param mfa_admin_generate_totp_secret_request [MfaAdminGenerateTotpSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mfa_admin_generate_totp_secret(mfa_admin_generate_totp_secret_request, opts = {})
      mfa_admin_generate_totp_secret_with_http_info(mfa_admin_generate_totp_secret_request, opts)
      nil
    end

    # Update or create TOTP secret for the given method ID on the given entity.
    # @param mfa_admin_generate_totp_secret_request [MfaAdminGenerateTotpSecretRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mfa_admin_generate_totp_secret_with_http_info(mfa_admin_generate_totp_secret_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.mfa_admin_generate_totp_secret ...'
      end
      # verify the required parameter 'mfa_admin_generate_totp_secret_request' is set
      if @api_client.config.client_side_validation && mfa_admin_generate_totp_secret_request.nil?
        fail ArgumentError, "Missing the required parameter 'mfa_admin_generate_totp_secret_request' when calling IdentityApi.mfa_admin_generate_totp_secret"
      end
      # resource path
      local_var_path = '/identity/mfa/method/totp/admin-generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mfa_admin_generate_totp_secret_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.mfa_admin_generate_totp_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#mfa_admin_generate_totp_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or create a configuration for the given MFA method
    # @param method_id [String] The unique identifier for this MFA method.
    # @param mfa_configure_duo_method_request [MfaConfigureDuoMethodRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mfa_configure_duo_method(method_id, mfa_configure_duo_method_request, opts = {})
      mfa_configure_duo_method_with_http_info(method_id, mfa_configure_duo_method_request, opts)
      nil
    end

    # Update or create a configuration for the given MFA method
    # @param method_id [String] The unique identifier for this MFA method.
    # @param mfa_configure_duo_method_request [MfaConfigureDuoMethodRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mfa_configure_duo_method_with_http_info(method_id, mfa_configure_duo_method_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.mfa_configure_duo_method ...'
      end
      # verify the required parameter 'method_id' is set
      if @api_client.config.client_side_validation && method_id.nil?
        fail ArgumentError, "Missing the required parameter 'method_id' when calling IdentityApi.mfa_configure_duo_method"
      end
      # verify the required parameter 'mfa_configure_duo_method_request' is set
      if @api_client.config.client_side_validation && mfa_configure_duo_method_request.nil?
        fail ArgumentError, "Missing the required parameter 'mfa_configure_duo_method_request' when calling IdentityApi.mfa_configure_duo_method"
      end
      # resource path
      local_var_path = '/identity/mfa/method/duo/{method_id}'.sub('{' + 'method_id' + '}', CGI.escape(method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mfa_configure_duo_method_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.mfa_configure_duo_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentityApi#mfa_configure_duo_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update or create a configuration for the given MFA method
    # @param method_id [String] The unique identifier for this MFA method.
    # @param mfa_configure_okta_method_request [MfaConfigureOktaMethodRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def mfa_configure_okta_method(method_id, mfa_configure_okta_method_request, opts = {})
      mfa_configure_okta_method_with_http_info(method_id, mfa_configure_okta_method_request, opts)
      nil
    end

    # Update or create a configuration for the given MFA method
    # @param method_id [String] The unique identifier for this MFA method.
    # @param mfa_configure_okta_method_request [MfaConfigureOktaMethodRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def mfa_configure_okta_method_with_http_info(method_id, mfa_configure_okta_method_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentityApi.mfa_configure_okta_method ...'
      end
      # verify the required parameter 'method_id' is set
      if @api_client.config.client_side_validation && method_id.nil?
        fail ArgumentError, "Missing the required parameter 'method_id' when calling IdentityApi.mfa_configure_okta_method"
      end
      # verify the required parameter 'mfa_configure_okta_method_request' is set
      if @api_client.config.client_side_validation && mfa_configure_okta_method_request.nil?
        fail ArgumentError, "Missing the required parameter 'mfa_configure_okta_method_request' when calling IdentityApi.mfa_configure_okta_method"
      end
      # resource path
      local_var_path = '/identity/mfa/method/okta/{method_id}'.sub('{' + 'method_id' + '}', CGI.escape(method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mfa_configure_okta_method_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IdentityApi.mfa_configure_okta_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

[...]
