=begin
#OpenBao API

#HTTP API that gives you full access to OpenBao. All API routes are prefixed with `/v1/`.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenbaoClient
  class SecretsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes the secret at the specified location.
    # @param path [String] Specifies the path of the secret.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cubbyhole_delete(path, opts = {})
      cubbyhole_delete_with_http_info(path, opts)
      nil
    end

    # Deletes the secret at the specified location.
    # @param path [String] Specifies the path of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cubbyhole_delete_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.cubbyhole_delete ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.cubbyhole_delete"
      end
      # resource path
      local_var_path = '/cubbyhole/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.cubbyhole_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#cubbyhole_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve the secret at the specified location.
    # @param path [String] Specifies the path of the secret.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list Return a list if &#x60;true&#x60;
    # @return [nil]
    def cubbyhole_read(path, opts = {})
      cubbyhole_read_with_http_info(path, opts)
      nil
    end

    # Retrieve the secret at the specified location.
    # @param path [String] Specifies the path of the secret.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list Return a list if &#x60;true&#x60;
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cubbyhole_read_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.cubbyhole_read ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.cubbyhole_read"
      end
      # resource path
      local_var_path = '/cubbyhole/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = opts[:'list'] if !opts[:'list'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.cubbyhole_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#cubbyhole_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Store a secret at the specified location.
    # @param path [String] Specifies the path of the secret.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cubbyhole_write(path, opts = {})
      cubbyhole_write_with_http_info(path, opts)
      nil
    end

    # Store a secret at the specified location.
    # @param path [String] Specifies the path of the secret.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cubbyhole_write_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.cubbyhole_write ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.cubbyhole_write"
      end
      # resource path
      local_var_path = '/cubbyhole/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.cubbyhole_write",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#cubbyhole_write\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param database_configure_connection_request [DatabaseConfigureConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_configure_connection(name, database_mount_path, database_configure_connection_request, opts = {})
      database_configure_connection_with_http_info(name, database_mount_path, database_configure_connection_request, opts)
      nil
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param database_configure_connection_request [DatabaseConfigureConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_configure_connection_with_http_info(name, database_mount_path, database_configure_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_configure_connection ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_configure_connection"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_configure_connection"
      end
      # verify the required parameter 'database_configure_connection_request' is set
      if @api_client.config.client_side_validation && database_configure_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_configure_connection_request' when calling SecretsApi.database_configure_connection"
      end
      # resource path
      local_var_path = '/{database_mount_path}/config/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_configure_connection_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_configure_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_configure_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_delete_connection_configuration(name, database_mount_path, opts = {})
      database_delete_connection_configuration_with_http_info(name, database_mount_path, opts)
      nil
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_delete_connection_configuration_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_delete_connection_configuration ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_delete_connection_configuration"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_delete_connection_configuration"
      end
      # resource path
      local_var_path = '/{database_mount_path}/config/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_delete_connection_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_delete_connection_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_delete_role(name, database_mount_path, opts = {})
      database_delete_role_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Manage the roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_delete_role_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_delete_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_delete_role"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_delete_role"
      end
      # resource path
      local_var_path = '/{database_mount_path}/roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_delete_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_delete_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the static roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_delete_static_role(name, database_mount_path, opts = {})
      database_delete_static_role_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Manage the static roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_delete_static_role_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_delete_static_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_delete_static_role"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_delete_static_role"
      end
      # resource path
      local_var_path = '/{database_mount_path}/static-roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_delete_static_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_delete_static_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request database credentials for a certain role.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_generate_credentials(name, database_mount_path, opts = {})
      database_generate_credentials_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Request database credentials for a certain role.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_generate_credentials_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_generate_credentials ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_generate_credentials"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_generate_credentials"
      end
      # resource path
      local_var_path = '/{database_mount_path}/creds/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_generate_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_generate_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure connection details to a database plugin.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_list_connections(database_mount_path, list, opts = {})
      database_list_connections_with_http_info(database_mount_path, list, opts)
      nil
    end

    # Configure connection details to a database plugin.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_list_connections_with_http_info(database_mount_path, list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_list_connections ...'
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_list_connections"
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling SecretsApi.database_list_connections"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/{database_mount_path}/config'.sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_list_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_list_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the roles that can be created with this backend.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_list_roles(database_mount_path, list, opts = {})
      database_list_roles_with_http_info(database_mount_path, list, opts)
      nil
    end

    # Manage the roles that can be created with this backend.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_list_roles_with_http_info(database_mount_path, list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_list_roles ...'
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_list_roles"
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling SecretsApi.database_list_roles"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/{database_mount_path}/roles'.sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_list_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_list_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the static roles that can be created with this backend.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_list_static_roles(database_mount_path, list, opts = {})
      database_list_static_roles_with_http_info(database_mount_path, list, opts)
      nil
    end

    # Manage the static roles that can be created with this backend.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_list_static_roles_with_http_info(database_mount_path, list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_list_static_roles ...'
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_list_static_roles"
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling SecretsApi.database_list_static_roles"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/{database_mount_path}/static-roles'.sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_list_static_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_list_static_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_read_connection_configuration(name, database_mount_path, opts = {})
      database_read_connection_configuration_with_http_info(name, database_mount_path, opts)
      nil
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_read_connection_configuration_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_read_connection_configuration ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_read_connection_configuration"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_read_connection_configuration"
      end
      # resource path
      local_var_path = '/{database_mount_path}/config/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_read_connection_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_read_connection_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_read_role(name, database_mount_path, opts = {})
      database_read_role_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Manage the roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_read_role_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_read_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_read_role"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_read_role"
      end
      # resource path
      local_var_path = '/{database_mount_path}/roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_read_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_read_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the static roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_read_static_role(name, database_mount_path, opts = {})
      database_read_static_role_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Manage the static roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_read_static_role_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_read_static_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_read_static_role"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_read_static_role"
      end
      # resource path
      local_var_path = '/{database_mount_path}/static-roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_read_static_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_read_static_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request database credentials for a certain static role. These credentials are rotated periodically.
    # @param name [String] Name of the static role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_read_static_role_credentials(name, database_mount_path, opts = {})
      database_read_static_role_credentials_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Request database credentials for a certain static role. These credentials are rotated periodically.
    # @param name [String] Name of the static role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_read_static_role_credentials_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_read_static_role_credentials ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_read_static_role_credentials"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_read_static_role_credentials"
      end
      # resource path
      local_var_path = '/{database_mount_path}/static-creds/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_read_static_role_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_read_static_role_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resets a database plugin.
    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_reset_connection(name, database_mount_path, opts = {})
      database_reset_connection_with_http_info(name, database_mount_path, opts)
      nil
    end

    # Resets a database plugin.
    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_reset_connection_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_reset_connection ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_reset_connection"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_reset_connection"
      end
      # resource path
      local_var_path = '/{database_mount_path}/reset/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_reset_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_reset_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_rotate_root_credentials(name, database_mount_path, opts = {})
      database_rotate_root_credentials_with_http_info(name, database_mount_path, opts)
      nil
    end

    # @param name [String] Name of this database connection
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_rotate_root_credentials_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_rotate_root_credentials ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_rotate_root_credentials"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_rotate_root_credentials"
      end
      # resource path
      local_var_path = '/{database_mount_path}/rotate-root/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_rotate_root_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_rotate_root_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the static role
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_rotate_static_role_credentials(name, database_mount_path, opts = {})
      database_rotate_static_role_credentials_with_http_info(name, database_mount_path, opts)
      nil
    end

    # @param name [String] Name of the static role
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_rotate_static_role_credentials_with_http_info(name, database_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_rotate_static_role_credentials ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_rotate_static_role_credentials"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_rotate_static_role_credentials"
      end
      # resource path
      local_var_path = '/{database_mount_path}/rotate-role/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_rotate_static_role_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_rotate_static_role_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param database_write_role_request [DatabaseWriteRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_write_role(name, database_mount_path, database_write_role_request, opts = {})
      database_write_role_with_http_info(name, database_mount_path, database_write_role_request, opts)
      nil
    end

    # Manage the roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param database_write_role_request [DatabaseWriteRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_write_role_with_http_info(name, database_mount_path, database_write_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_write_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_write_role"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_write_role"
      end
      # verify the required parameter 'database_write_role_request' is set
      if @api_client.config.client_side_validation && database_write_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_write_role_request' when calling SecretsApi.database_write_role"
      end
      # resource path
      local_var_path = '/{database_mount_path}/roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_write_role_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_write_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_write_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manage the static roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param database_write_static_role_request [DatabaseWriteStaticRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def database_write_static_role(name, database_mount_path, database_write_static_role_request, opts = {})
      database_write_static_role_with_http_info(name, database_mount_path, database_write_static_role_request, opts)
      nil
    end

    # Manage the static roles that can be created with this backend.
    # @param name [String] Name of the role.
    # @param database_mount_path [String] Path that the backend was mounted at
    # @param database_write_static_role_request [DatabaseWriteStaticRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def database_write_static_role_with_http_info(name, database_mount_path, database_write_static_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.database_write_static_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.database_write_static_role"
      end
      # verify the required parameter 'database_mount_path' is set
      if @api_client.config.client_side_validation && database_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'database_mount_path' when calling SecretsApi.database_write_static_role"
      end
      # verify the required parameter 'database_write_static_role_request' is set
      if @api_client.config.client_side_validation && database_write_static_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_write_static_role_request' when calling SecretsApi.database_write_static_role"
      end
      # resource path
      local_var_path = '/{database_mount_path}/static-roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'database_mount_path' + '}', CGI.escape(database_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_write_static_role_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.database_write_static_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#database_write_static_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_check_configuration(kubernetes_mount_path, opts = {})
      kubernetes_check_configuration_with_http_info(kubernetes_mount_path, opts)
      nil
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_check_configuration_with_http_info(kubernetes_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_check_configuration ...'
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_check_configuration"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/check'.sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_check_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_check_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param kubernetes_configure_request [KubernetesConfigureRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_configure(kubernetes_mount_path, kubernetes_configure_request, opts = {})
      kubernetes_configure_with_http_info(kubernetes_mount_path, kubernetes_configure_request, opts)
      nil
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param kubernetes_configure_request [KubernetesConfigureRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_configure_with_http_info(kubernetes_mount_path, kubernetes_configure_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_configure ...'
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_configure"
      end
      # verify the required parameter 'kubernetes_configure_request' is set
      if @api_client.config.client_side_validation && kubernetes_configure_request.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_configure_request' when calling SecretsApi.kubernetes_configure"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/config'.sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(kubernetes_configure_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_configure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_configure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_delete_configuration(kubernetes_mount_path, opts = {})
      kubernetes_delete_configuration_with_http_info(kubernetes_mount_path, opts)
      nil
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_delete_configuration_with_http_info(kubernetes_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_delete_configuration ...'
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_delete_configuration"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/config'.sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_delete_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_delete_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_delete_role(name, kubernetes_mount_path, opts = {})
      kubernetes_delete_role_with_http_info(name, kubernetes_mount_path, opts)
      nil
    end

    # @param name [String] Name of the role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_delete_role_with_http_info(name, kubernetes_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_delete_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.kubernetes_delete_role"
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_delete_role"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_delete_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_delete_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the OpenBao role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param kubernetes_generate_credentials_request [KubernetesGenerateCredentialsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_generate_credentials(name, kubernetes_mount_path, kubernetes_generate_credentials_request, opts = {})
      kubernetes_generate_credentials_with_http_info(name, kubernetes_mount_path, kubernetes_generate_credentials_request, opts)
      nil
    end

    # @param name [String] Name of the OpenBao role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param kubernetes_generate_credentials_request [KubernetesGenerateCredentialsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_generate_credentials_with_http_info(name, kubernetes_mount_path, kubernetes_generate_credentials_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_generate_credentials ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.kubernetes_generate_credentials"
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_generate_credentials"
      end
      # verify the required parameter 'kubernetes_generate_credentials_request' is set
      if @api_client.config.client_side_validation && kubernetes_generate_credentials_request.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_generate_credentials_request' when calling SecretsApi.kubernetes_generate_credentials"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/creds/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(kubernetes_generate_credentials_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_generate_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_generate_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_list_roles(kubernetes_mount_path, list, opts = {})
      kubernetes_list_roles_with_http_info(kubernetes_mount_path, list, opts)
      nil
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param list [String] Must be set to &#x60;true&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_list_roles_with_http_info(kubernetes_mount_path, list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_list_roles ...'
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_list_roles"
      end
      # verify the required parameter 'list' is set
      if @api_client.config.client_side_validation && list.nil?
        fail ArgumentError, "Missing the required parameter 'list' when calling SecretsApi.kubernetes_list_roles"
      end
      # verify enum value
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && !allowable_values.include?(list)
        fail ArgumentError, "invalid value for \"list\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/roles'.sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = list

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_list_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_list_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_read_configuration(kubernetes_mount_path, opts = {})
      kubernetes_read_configuration_with_http_info(kubernetes_mount_path, opts)
      nil
    end

    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_read_configuration_with_http_info(kubernetes_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_read_configuration ...'
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_read_configuration"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/config'.sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_read_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_read_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_read_role(name, kubernetes_mount_path, opts = {})
      kubernetes_read_role_with_http_info(name, kubernetes_mount_path, opts)
      nil
    end

    # @param name [String] Name of the role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_read_role_with_http_info(name, kubernetes_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_read_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.kubernetes_read_role"
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_read_role"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_read_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_read_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param name [String] Name of the role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param kubernetes_write_role_request [KubernetesWriteRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kubernetes_write_role(name, kubernetes_mount_path, kubernetes_write_role_request, opts = {})
      kubernetes_write_role_with_http_info(name, kubernetes_mount_path, kubernetes_write_role_request, opts)
      nil
    end

    # @param name [String] Name of the role
    # @param kubernetes_mount_path [String] Path that the backend was mounted at
    # @param kubernetes_write_role_request [KubernetesWriteRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kubernetes_write_role_with_http_info(name, kubernetes_mount_path, kubernetes_write_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kubernetes_write_role ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SecretsApi.kubernetes_write_role"
      end
      # verify the required parameter 'kubernetes_mount_path' is set
      if @api_client.config.client_side_validation && kubernetes_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_mount_path' when calling SecretsApi.kubernetes_write_role"
      end
      # verify the required parameter 'kubernetes_write_role_request' is set
      if @api_client.config.client_side_validation && kubernetes_write_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'kubernetes_write_role_request' when calling SecretsApi.kubernetes_write_role"
      end
      # resource path
      local_var_path = '/{kubernetes_mount_path}/roles/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s)).sub('{' + 'kubernetes_mount_path' + '}', CGI.escape(kubernetes_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(kubernetes_write_role_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kubernetes_write_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kubernetes_write_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write, Patch, Read, and Delete data in the Key-Value Store.
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kv_delete_data_path(path, kv_v2_mount_path, opts = {})
      kv_delete_data_path_with_http_info(path, kv_v2_mount_path, opts)
      nil
    end

    # Write, Patch, Read, and Delete data in the Key-Value Store.
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kv_delete_data_path_with_http_info(path, kv_v2_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kv_delete_data_path ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.kv_delete_data_path"
      end
      # verify the required parameter 'kv_v2_mount_path' is set
      if @api_client.config.client_side_validation && kv_v2_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kv_v2_mount_path' when calling SecretsApi.kv_delete_data_path"
      end
      # resource path
      local_var_path = '/{kv_v2_mount_path}/data/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s)).sub('{' + 'kv_v2_mount_path' + '}', CGI.escape(kv_v2_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kv_delete_data_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kv_delete_data_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configures settings for the KV store
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kv_delete_metadata_path(path, kv_v2_mount_path, opts = {})
      kv_delete_metadata_path_with_http_info(path, kv_v2_mount_path, opts)
      nil
    end

    # Configures settings for the KV store
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kv_delete_metadata_path_with_http_info(path, kv_v2_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kv_delete_metadata_path ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.kv_delete_metadata_path"
      end
      # verify the required parameter 'kv_v2_mount_path' is set
      if @api_client.config.client_side_validation && kv_v2_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kv_v2_mount_path' when calling SecretsApi.kv_delete_metadata_path"
      end
      # resource path
      local_var_path = '/{kv_v2_mount_path}/metadata/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s)).sub('{' + 'kv_v2_mount_path' + '}', CGI.escape(kv_v2_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kv_delete_metadata_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kv_delete_metadata_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pass-through secret storage to the storage backend, allowing you to read/write arbitrary data into secret storage.
    # @param path [String] Location of the secret.
    # @param kv_v1_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kv_delete_path(path, kv_v1_mount_path, opts = {})
      kv_delete_path_with_http_info(path, kv_v1_mount_path, opts)
      nil
    end

    # Pass-through secret storage to the storage backend, allowing you to read/write arbitrary data into secret storage.
    # @param path [String] Location of the secret.
    # @param kv_v1_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kv_delete_path_with_http_info(path, kv_v1_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kv_delete_path ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.kv_delete_path"
      end
      # verify the required parameter 'kv_v1_mount_path' is set
      if @api_client.config.client_side_validation && kv_v1_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kv_v1_mount_path' when calling SecretsApi.kv_delete_path"
      end
      # resource path
      local_var_path = '/{kv_v1_mount_path}/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s)).sub('{' + 'kv_v1_mount_path' + '}', CGI.escape(kv_v1_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kv_delete_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kv_delete_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read the backend level settings.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kv_read_config(kv_v2_mount_path, opts = {})
      kv_read_config_with_http_info(kv_v2_mount_path, opts)
      nil
    end

    # Read the backend level settings.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kv_read_config_with_http_info(kv_v2_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kv_read_config ...'
      end
      # verify the required parameter 'kv_v2_mount_path' is set
      if @api_client.config.client_side_validation && kv_v2_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kv_v2_mount_path' when calling SecretsApi.kv_read_config"
      end
      # resource path
      local_var_path = '/{kv_v2_mount_path}/config'.sub('{' + 'kv_v2_mount_path' + '}', CGI.escape(kv_v2_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kv_read_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kv_read_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write, Patch, Read, and Delete data in the Key-Value Store.
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def kv_read_data_path(path, kv_v2_mount_path, opts = {})
      kv_read_data_path_with_http_info(path, kv_v2_mount_path, opts)
      nil
    end

    # Write, Patch, Read, and Delete data in the Key-Value Store.
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kv_read_data_path_with_http_info(path, kv_v2_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kv_read_data_path ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.kv_read_data_path"
      end
      # verify the required parameter 'kv_v2_mount_path' is set
      if @api_client.config.client_side_validation && kv_v2_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kv_v2_mount_path' when calling SecretsApi.kv_read_data_path"
      end
      # resource path
      local_var_path = '/{kv_v2_mount_path}/data/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s)).sub('{' + 'kv_v2_mount_path' + '}', CGI.escape(kv_v2_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kv_read_data_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecretsApi#kv_read_data_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configures settings for the KV store
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list Return a list if &#x60;true&#x60;
    # @return [nil]
    def kv_read_metadata_path(path, kv_v2_mount_path, opts = {})
      kv_read_metadata_path_with_http_info(path, kv_v2_mount_path, opts)
      nil
    end

    # Configures settings for the KV store
    # @param path [String] Location of the secret.
    # @param kv_v2_mount_path [String] Path that the backend was mounted at
    # @param [Hash] opts the optional parameters
    # @option opts [String] :list Return a list if &#x60;true&#x60;
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def kv_read_metadata_path_with_http_info(path, kv_v2_mount_path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecretsApi.kv_read_metadata_path ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SecretsApi.kv_read_metadata_path"
      end
      # verify the required parameter 'kv_v2_mount_path' is set
      if @api_client.config.client_side_validation && kv_v2_mount_path.nil?
        fail ArgumentError, "Missing the required parameter 'kv_v2_mount_path' when calling SecretsApi.kv_read_metadata_path"
      end
      # resource path
      local_var_path = '/{kv_v2_mount_path}/metadata/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s)).sub('{' + 'kv_v2_mount_path' + '}', CGI.escape(kv_v2_mount_path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'list'] = opts[:'list'] if !opts[:'list'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecretsApi.kv_read_metadata_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
[...]
