=begin
#OpenBao API

#HTTP API that gives you full access to OpenBao. All API routes are prefixed with `/v1/`.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenbaoClient
  class SystemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param path [String] The name of the backend. Cannot be delimited. Example: \&quot;mysql\&quot;
    # @param auditing_calculate_hash_request [AuditingCalculateHashRequest]
    # @param [Hash] opts the optional parameters
    # @return [AuditingCalculateHashResponse]
    def auditing_calculate_hash(path, auditing_calculate_hash_request, opts = {})
      data, _status_code, _headers = auditing_calculate_hash_with_http_info(path, auditing_calculate_hash_request, opts)
      data
    end

    # @param path [String] The name of the backend. Cannot be delimited. Example: \&quot;mysql\&quot;
    # @param auditing_calculate_hash_request [AuditingCalculateHashRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuditingCalculateHashResponse, Integer, Hash)>] AuditingCalculateHashResponse data, response status code and response headers
    def auditing_calculate_hash_with_http_info(path, auditing_calculate_hash_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_calculate_hash ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auditing_calculate_hash"
      end
      # verify the required parameter 'auditing_calculate_hash_request' is set
      if @api_client.config.client_side_validation && auditing_calculate_hash_request.nil?
        fail ArgumentError, "Missing the required parameter 'auditing_calculate_hash_request' when calling SystemApi.auditing_calculate_hash"
      end
      # resource path
      local_var_path = '/sys/audit-hash/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auditing_calculate_hash_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuditingCalculateHashResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_calculate_hash",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_calculate_hash\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable the audit device at the given path.
    # @param path [String] The name of the backend. Cannot be delimited. Example: \&quot;mysql\&quot;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auditing_disable_device(path, opts = {})
      auditing_disable_device_with_http_info(path, opts)
      nil
    end

    # Disable the audit device at the given path.
    # @param path [String] The name of the backend. Cannot be delimited. Example: \&quot;mysql\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auditing_disable_device_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_disable_device ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auditing_disable_device"
      end
      # resource path
      local_var_path = '/sys/audit/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_disable_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_disable_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable auditing of the given request header.
    # @param header [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auditing_disable_request_header(header, opts = {})
      auditing_disable_request_header_with_http_info(header, opts)
      nil
    end

    # Disable auditing of the given request header.
    # @param header [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auditing_disable_request_header_with_http_info(header, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_disable_request_header ...'
      end
      # verify the required parameter 'header' is set
      if @api_client.config.client_side_validation && header.nil?
        fail ArgumentError, "Missing the required parameter 'header' when calling SystemApi.auditing_disable_request_header"
      end
      # resource path
      local_var_path = '/sys/config/auditing/request-headers/{header}'.sub('{' + 'header' + '}', CGI.escape(header.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_disable_request_header",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_disable_request_header\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable a new audit device at the supplied path.
    # @param path [String] The name of the backend. Cannot be delimited. Example: \&quot;mysql\&quot;
    # @param auditing_enable_device_request [AuditingEnableDeviceRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auditing_enable_device(path, auditing_enable_device_request, opts = {})
      auditing_enable_device_with_http_info(path, auditing_enable_device_request, opts)
      nil
    end

    # Enable a new audit device at the supplied path.
    # @param path [String] The name of the backend. Cannot be delimited. Example: \&quot;mysql\&quot;
    # @param auditing_enable_device_request [AuditingEnableDeviceRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auditing_enable_device_with_http_info(path, auditing_enable_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_enable_device ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auditing_enable_device"
      end
      # verify the required parameter 'auditing_enable_device_request' is set
      if @api_client.config.client_side_validation && auditing_enable_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'auditing_enable_device_request' when calling SystemApi.auditing_enable_device"
      end
      # resource path
      local_var_path = '/sys/audit/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auditing_enable_device_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_enable_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_enable_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable auditing of a header.
    # @param header [String]
    # @param auditing_enable_request_header_request [AuditingEnableRequestHeaderRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auditing_enable_request_header(header, auditing_enable_request_header_request, opts = {})
      auditing_enable_request_header_with_http_info(header, auditing_enable_request_header_request, opts)
      nil
    end

    # Enable auditing of a header.
    # @param header [String]
    # @param auditing_enable_request_header_request [AuditingEnableRequestHeaderRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auditing_enable_request_header_with_http_info(header, auditing_enable_request_header_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_enable_request_header ...'
      end
      # verify the required parameter 'header' is set
      if @api_client.config.client_side_validation && header.nil?
        fail ArgumentError, "Missing the required parameter 'header' when calling SystemApi.auditing_enable_request_header"
      end
      # verify the required parameter 'auditing_enable_request_header_request' is set
      if @api_client.config.client_side_validation && auditing_enable_request_header_request.nil?
        fail ArgumentError, "Missing the required parameter 'auditing_enable_request_header_request' when calling SystemApi.auditing_enable_request_header"
      end
      # resource path
      local_var_path = '/sys/config/auditing/request-headers/{header}'.sub('{' + 'header' + '}', CGI.escape(header.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auditing_enable_request_header_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_enable_request_header",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_enable_request_header\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the enabled audit devices.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auditing_list_enabled_devices(opts = {})
      auditing_list_enabled_devices_with_http_info(opts)
      nil
    end

    # List the enabled audit devices.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auditing_list_enabled_devices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_list_enabled_devices ...'
      end
      # resource path
      local_var_path = '/sys/audit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_list_enabled_devices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_list_enabled_devices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the request headers that are configured to be audited.
    # @param [Hash] opts the optional parameters
    # @return [AuditingListRequestHeadersResponse]
    def auditing_list_request_headers(opts = {})
      data, _status_code, _headers = auditing_list_request_headers_with_http_info(opts)
      data
    end

    # List the request headers that are configured to be audited.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuditingListRequestHeadersResponse, Integer, Hash)>] AuditingListRequestHeadersResponse data, response status code and response headers
    def auditing_list_request_headers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_list_request_headers ...'
      end
      # resource path
      local_var_path = '/sys/config/auditing/request-headers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuditingListRequestHeadersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_list_request_headers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_list_request_headers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the information for the given request header.
    # @param header [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auditing_read_request_header_information(header, opts = {})
      auditing_read_request_header_information_with_http_info(header, opts)
      nil
    end

    # List the information for the given request header.
    # @param header [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auditing_read_request_header_information_with_http_info(header, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auditing_read_request_header_information ...'
      end
      # verify the required parameter 'header' is set
      if @api_client.config.client_side_validation && header.nil?
        fail ArgumentError, "Missing the required parameter 'header' when calling SystemApi.auditing_read_request_header_information"
      end
      # resource path
      local_var_path = '/sys/config/auditing/request-headers/{header}'.sub('{' + 'header' + '}', CGI.escape(header.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auditing_read_request_header_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auditing_read_request_header_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable the auth method at the given auth path
    # @param path [String] The path to mount to. Cannot be delimited. Example: \&quot;user\&quot;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_disable_method(path, opts = {})
      auth_disable_method_with_http_info(path, opts)
      nil
    end

    # Disable the auth method at the given auth path
    # @param path [String] The path to mount to. Cannot be delimited. Example: \&quot;user\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_disable_method_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auth_disable_method ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auth_disable_method"
      end
      # resource path
      local_var_path = '/sys/auth/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auth_disable_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auth_disable_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enables a new auth method.
    # After enabling, the auth method can be accessed and configured via the auth path specified as part of the URL. This auth path will be nested under the auth prefix.  For example, enable the \"foo\" auth method will make it accessible at /auth/foo.
    # @param path [String] The path to mount to. Cannot be delimited. Example: \&quot;user\&quot;
    # @param auth_enable_method_request [AuthEnableMethodRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_enable_method(path, auth_enable_method_request, opts = {})
      auth_enable_method_with_http_info(path, auth_enable_method_request, opts)
      nil
    end

    # Enables a new auth method.
    # After enabling, the auth method can be accessed and configured via the auth path specified as part of the URL. This auth path will be nested under the auth prefix.  For example, enable the \&quot;foo\&quot; auth method will make it accessible at /auth/foo.
    # @param path [String] The path to mount to. Cannot be delimited. Example: \&quot;user\&quot;
    # @param auth_enable_method_request [AuthEnableMethodRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_enable_method_with_http_info(path, auth_enable_method_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auth_enable_method ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auth_enable_method"
      end
      # verify the required parameter 'auth_enable_method_request' is set
      if @api_client.config.client_side_validation && auth_enable_method_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_enable_method_request' when calling SystemApi.auth_enable_method"
      end
      # resource path
      local_var_path = '/sys/auth/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_enable_method_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auth_enable_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auth_enable_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_list_enabled_methods(opts = {})
      auth_list_enabled_methods_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_list_enabled_methods_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auth_list_enabled_methods ...'
      end
      # resource path
      local_var_path = '/sys/auth'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auth_list_enabled_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auth_list_enabled_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read the configuration of the auth engine at the given path.
    # @param path [String] The path to mount to. Cannot be delimited. Example: \&quot;user\&quot;
    # @param [Hash] opts the optional parameters
    # @return [AuthReadConfigurationResponse]
    def auth_read_configuration(path, opts = {})
      data, _status_code, _headers = auth_read_configuration_with_http_info(path, opts)
      data
    end

    # Read the configuration of the auth engine at the given path.
    # @param path [String] The path to mount to. Cannot be delimited. Example: \&quot;user\&quot;
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReadConfigurationResponse, Integer, Hash)>] AuthReadConfigurationResponse data, response status code and response headers
    def auth_read_configuration_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auth_read_configuration ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auth_read_configuration"
      end
      # resource path
      local_var_path = '/sys/auth/{path}'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReadConfigurationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auth_read_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auth_read_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reads the given auth path's configuration.
    # This endpoint requires sudo capability on the final path, but the same functionality can be achieved without sudo via `sys/mounts/auth/[auth-path]/tune`.
    # @param path [String] Tune the configuration parameters for an auth path.
    # @param [Hash] opts the optional parameters
    # @return [AuthReadTuningInformationResponse]
    def auth_read_tuning_information(path, opts = {})
      data, _status_code, _headers = auth_read_tuning_information_with_http_info(path, opts)
      data
    end

    # Reads the given auth path&#39;s configuration.
    # This endpoint requires sudo capability on the final path, but the same functionality can be achieved without sudo via &#x60;sys/mounts/auth/[auth-path]/tune&#x60;.
    # @param path [String] Tune the configuration parameters for an auth path.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthReadTuningInformationResponse, Integer, Hash)>] AuthReadTuningInformationResponse data, response status code and response headers
    def auth_read_tuning_information_with_http_info(path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auth_read_tuning_information ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auth_read_tuning_information"
      end
      # resource path
      local_var_path = '/sys/auth/{path}/tune'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthReadTuningInformationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auth_read_tuning_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auth_read_tuning_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Tune configuration parameters for a given auth path.
    # This endpoint requires sudo capability on the final path, but the same functionality can be achieved without sudo via `sys/mounts/auth/[auth-path]/tune`.
    # @param path [String] Tune the configuration parameters for an auth path.
    # @param auth_tune_configuration_parameters_request [AuthTuneConfigurationParametersRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_tune_configuration_parameters(path, auth_tune_configuration_parameters_request, opts = {})
      auth_tune_configuration_parameters_with_http_info(path, auth_tune_configuration_parameters_request, opts)
      nil
    end

    # Tune configuration parameters for a given auth path.
    # This endpoint requires sudo capability on the final path, but the same functionality can be achieved without sudo via &#x60;sys/mounts/auth/[auth-path]/tune&#x60;.
    # @param path [String] Tune the configuration parameters for an auth path.
    # @param auth_tune_configuration_parameters_request [AuthTuneConfigurationParametersRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_tune_configuration_parameters_with_http_info(path, auth_tune_configuration_parameters_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.auth_tune_configuration_parameters ...'
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling SystemApi.auth_tune_configuration_parameters"
      end
      # verify the required parameter 'auth_tune_configuration_parameters_request' is set
      if @api_client.config.client_side_validation && auth_tune_configuration_parameters_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_tune_configuration_parameters_request' when calling SystemApi.auth_tune_configuration_parameters"
      end
      # resource path
      local_var_path = '/sys/auth/{path}/tune'.sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_tune_configuration_parameters_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.auth_tune_configuration_parameters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#auth_tune_configuration_parameters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Information about the host instance that this OpenBao server is running on.
    # Information about the host instance that this OpenBao server is running on.   The information that gets collected includes host hardware information, and CPU,   disk, and memory utilization
    # @param [Hash] opts the optional parameters
    # @return [CollectHostInformationResponse]
    def collect_host_information(opts = {})
      data, _status_code, _headers = collect_host_information_with_http_info(opts)
      data
    end

    # Information about the host instance that this OpenBao server is running on.
    # Information about the host instance that this OpenBao server is running on.   The information that gets collected includes host hardware information, and CPU,   disk, and memory utilization
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectHostInformationResponse, Integer, Hash)>] CollectHostInformationResponse data, response status code and response headers
    def collect_host_information_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.collect_host_information ...'
      end
      # resource path
      local_var_path = '/sys/host-info'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectHostInformationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.collect_host_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#collect_host_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # reports in-flight requests
    # This path responds to the following HTTP methods.   GET /    Returns a map of in-flight requests.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def collect_in_flight_request_information(opts = {})
      collect_in_flight_request_information_with_http_info(opts)
      nil
    end

    # reports in-flight requests
    # This path responds to the following HTTP methods.   GET /    Returns a map of in-flight requests.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def collect_in_flight_request_information_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.collect_in_flight_request_information ...'
      end
      # resource path
      local_var_path = '/sys/in-flight-req'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.collect_in_flight_request_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#collect_in_flight_request_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Configure the CORS settings.
    # @param cors_configure_request [CorsConfigureRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cors_configure(cors_configure_request, opts = {})
      cors_configure_with_http_info(cors_configure_request, opts)
      nil
    end

    # Configure the CORS settings.
    # @param cors_configure_request [CorsConfigureRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cors_configure_with_http_info(cors_configure_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.cors_configure ...'
      end
      # verify the required parameter 'cors_configure_request' is set
      if @api_client.config.client_side_validation && cors_configure_request.nil?
        fail ArgumentError, "Missing the required parameter 'cors_configure_request' when calling SystemApi.cors_configure"
      end
      # resource path
      local_var_path = '/sys/config/cors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cors_configure_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.cors_configure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#cors_configure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove any CORS settings.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cors_delete_configuration(opts = {})
      cors_delete_configuration_with_http_info(opts)
      nil
    end

    # Remove any CORS settings.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cors_delete_configuration_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.cors_delete_configuration ...'
      end
      # resource path
      local_var_path = '/sys/config/cors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.cors_delete_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#cors_delete_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return the current CORS settings.
    # @param [Hash] opts the optional parameters
    # @return [CorsReadConfigurationResponse]
    def cors_read_configuration(opts = {})
      data, _status_code, _headers = cors_read_configuration_with_http_info(opts)
      data
    end

    # Return the current CORS settings.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CorsReadConfigurationResponse, Integer, Hash)>] CorsReadConfigurationResponse data, response status code and response headers
    def cors_read_configuration_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.cors_read_configuration ...'
      end
      # resource path
      local_var_path = '/sys/config/cors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CorsReadConfigurationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.cors_read_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#cors_read_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decodes the encoded token with the otp.
    # @param decode_request [DecodeRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def decode(decode_request, opts = {})
      decode_with_http_info(decode_request, opts)
      nil
    end

    # Decodes the encoded token with the otp.
    # @param decode_request [DecodeRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def decode_with_http_info(decode_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.decode ...'
      end
      # verify the required parameter 'decode_request' is set
      if @api_client.config.client_side_validation && decode_request.nil?
        fail ArgumentError, "Missing the required parameter 'decode_request' when calling SystemApi.decode"
      end
      # resource path
      local_var_path = '/sys/decode-token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(decode_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.decode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#decode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param encryption_key_configure_rotation_request [EncryptionKeyConfigureRotationRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def encryption_key_configure_rotation(encryption_key_configure_rotation_request, opts = {})
      encryption_key_configure_rotation_with_http_info(encryption_key_configure_rotation_request, opts)
      nil
    end

    # @param encryption_key_configure_rotation_request [EncryptionKeyConfigureRotationRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def encryption_key_configure_rotation_with_http_info(encryption_key_configure_rotation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.encryption_key_configure_rotation ...'
      end
      # verify the required parameter 'encryption_key_configure_rotation_request' is set
      if @api_client.config.client_side_validation && encryption_key_configure_rotation_request.nil?
        fail ArgumentError, "Missing the required parameter 'encryption_key_configure_rotation_request' when calling SystemApi.encryption_key_configure_rotation"
      end
      # resource path
      local_var_path = '/sys/rotate/config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(encryption_key_configure_rotation_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.encryption_key_configure_rotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#encryption_key_configure_rotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [EncryptionKeyReadRotationConfigurationResponse]
    def encryption_key_read_rotation_configuration(opts = {})
      data, _status_code, _headers = encryption_key_read_rotation_configuration_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(EncryptionKeyReadRotationConfigurationResponse, Integer, Hash)>] EncryptionKeyReadRotationConfigurationResponse data, response status code and response headers
    def encryption_key_read_rotation_configuration_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.encryption_key_read_rotation_configuration ...'
      end
      # resource path
      local_var_path = '/sys/rotate/config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EncryptionKeyReadRotationConfigurationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.encryption_key_read_rotation_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#encryption_key_read_rotation_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def encryption_key_rotate(opts = {})
      encryption_key_rotate_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def encryption_key_rotate_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.encryption_key_rotate ...'
      end
      # resource path
      local_var_path = '/sys/rotate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.encryption_key_rotate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#encryption_key_rotate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provides information about the backend encryption key.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def encryption_key_status(opts = {})
      encryption_key_status_with_http_info(opts)
      nil
    end

    # Provides information about the backend encryption key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def encryption_key_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.encryption_key_status ...'
      end
      # resource path
      local_var_path = '/sys/key-status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.encryption_key_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#encryption_key_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param generate_hash_request [GenerateHashRequest]
    # @param [Hash] opts the optional parameters
    # @return [GenerateHashResponse]
    def generate_hash(generate_hash_request, opts = {})
      data, _status_code, _headers = generate_hash_with_http_info(generate_hash_request, opts)
      data
    end

    # @param generate_hash_request [GenerateHashRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateHashResponse, Integer, Hash)>] GenerateHashResponse data, response status code and response headers
    def generate_hash_with_http_info(generate_hash_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.generate_hash ...'
      end
      # verify the required parameter 'generate_hash_request' is set
      if @api_client.config.client_side_validation && generate_hash_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_hash_request' when calling SystemApi.generate_hash"
      end
      # resource path
      local_var_path = '/sys/tools/hash'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_hash_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateHashResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.generate_hash",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#generate_hash\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param urlalgorithm [String] Algorithm to use (POST URL parameter)
    # @param generate_hash_with_algorithm_request [GenerateHashWithAlgorithmRequest]
    # @param [Hash] opts the optional parameters
    # @return [GenerateHashWithAlgorithmResponse]
    def generate_hash_with_algorithm(urlalgorithm, generate_hash_with_algorithm_request, opts = {})
      data, _status_code, _headers = generate_hash_with_algorithm_with_http_info(urlalgorithm, generate_hash_with_algorithm_request, opts)
      data
    end

    # @param urlalgorithm [String] Algorithm to use (POST URL parameter)
    # @param generate_hash_with_algorithm_request [GenerateHashWithAlgorithmRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateHashWithAlgorithmResponse, Integer, Hash)>] GenerateHashWithAlgorithmResponse data, response status code and response headers
    def generate_hash_with_algorithm_with_http_info(urlalgorithm, generate_hash_with_algorithm_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.generate_hash_with_algorithm ...'
      end
      # verify the required parameter 'urlalgorithm' is set
      if @api_client.config.client_side_validation && urlalgorithm.nil?
        fail ArgumentError, "Missing the required parameter 'urlalgorithm' when calling SystemApi.generate_hash_with_algorithm"
      end
      # verify the required parameter 'generate_hash_with_algorithm_request' is set
      if @api_client.config.client_side_validation && generate_hash_with_algorithm_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_hash_with_algorithm_request' when calling SystemApi.generate_hash_with_algorithm"
      end
      # resource path
      local_var_path = '/sys/tools/hash/{urlalgorithm}'.sub('{' + 'urlalgorithm' + '}', CGI.escape(urlalgorithm.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_hash_with_algorithm_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateHashWithAlgorithmResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.generate_hash_with_algorithm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#generate_hash_with_algorithm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param generate_random_request [GenerateRandomRequest]
    # @param [Hash] opts the optional parameters
    # @return [GenerateRandomResponse]
    def generate_random(generate_random_request, opts = {})
      data, _status_code, _headers = generate_random_with_http_info(generate_random_request, opts)
      data
    end

    # @param generate_random_request [GenerateRandomRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateRandomResponse, Integer, Hash)>] GenerateRandomResponse data, response status code and response headers
    def generate_random_with_http_info(generate_random_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.generate_random ...'
      end
      # verify the required parameter 'generate_random_request' is set
      if @api_client.config.client_side_validation && generate_random_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_random_request' when calling SystemApi.generate_random"
      end
      # resource path
      local_var_path = '/sys/tools/random'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_random_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateRandomResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.generate_random",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#generate_random\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param urlbytes [String] The number of bytes to generate (POST URL parameter)
    # @param generate_random_with_bytes_request [GenerateRandomWithBytesRequest]
    # @param [Hash] opts the optional parameters
    # @return [GenerateRandomWithBytesResponse]
    def generate_random_with_bytes(urlbytes, generate_random_with_bytes_request, opts = {})
      data, _status_code, _headers = generate_random_with_bytes_with_http_info(urlbytes, generate_random_with_bytes_request, opts)
      data
    end

    # @param urlbytes [String] The number of bytes to generate (POST URL parameter)
    # @param generate_random_with_bytes_request [GenerateRandomWithBytesRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateRandomWithBytesResponse, Integer, Hash)>] GenerateRandomWithBytesResponse data, response status code and response headers
    def generate_random_with_bytes_with_http_info(urlbytes, generate_random_with_bytes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.generate_random_with_bytes ...'
      end
      # verify the required parameter 'urlbytes' is set
      if @api_client.config.client_side_validation && urlbytes.nil?
        fail ArgumentError, "Missing the required parameter 'urlbytes' when calling SystemApi.generate_random_with_bytes"
      end
      # verify the required parameter 'generate_random_with_bytes_request' is set
      if @api_client.config.client_side_validation && generate_random_with_bytes_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_random_with_bytes_request' when calling SystemApi.generate_random_with_bytes"
      end
      # resource path
      local_var_path = '/sys/tools/random/{urlbytes}'.sub('{' + 'urlbytes' + '}', CGI.escape(urlbytes.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_random_with_bytes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateRandomWithBytesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.generate_random_with_bytes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#generate_random_with_bytes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param source [String] Which system to source random data from, ether \&quot;platform\&quot;, \&quot;seal\&quot;, or \&quot;all\&quot;.
    # @param generate_random_with_source_request [GenerateRandomWithSourceRequest]
    # @param [Hash] opts the optional parameters
    # @return [GenerateRandomWithSourceResponse]
    def generate_random_with_source(source, generate_random_with_source_request, opts = {})
      data, _status_code, _headers = generate_random_with_source_with_http_info(source, generate_random_with_source_request, opts)
      data
    end

    # @param source [String] Which system to source random data from, ether \&quot;platform\&quot;, \&quot;seal\&quot;, or \&quot;all\&quot;.
    # @param generate_random_with_source_request [GenerateRandomWithSourceRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateRandomWithSourceResponse, Integer, Hash)>] GenerateRandomWithSourceResponse data, response status code and response headers
    def generate_random_with_source_with_http_info(source, generate_random_with_source_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.generate_random_with_source ...'
      end
      # verify the required parameter 'source' is set
      if @api_client.config.client_side_validation && source.nil?
        fail ArgumentError, "Missing the required parameter 'source' when calling SystemApi.generate_random_with_source"
      end
      # verify the required parameter 'generate_random_with_source_request' is set
      if @api_client.config.client_side_validation && generate_random_with_source_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_random_with_source_request' when calling SystemApi.generate_random_with_source"
      end
      # resource path
      local_var_path = '/sys/tools/random/{source}'.sub('{' + 'source' + '}', CGI.escape(source.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_random_with_source_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateRandomWithSourceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.generate_random_with_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#generate_random_with_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param source [String] Which system to source random data from, ether \&quot;platform\&quot;, \&quot;seal\&quot;, or \&quot;all\&quot;.
    # @param urlbytes [String] The number of bytes to generate (POST URL parameter)
    # @param generate_random_with_source_and_bytes_request [GenerateRandomWithSourceAndBytesRequest]
    # @param [Hash] opts the optional parameters
    # @return [GenerateRandomWithSourceAndBytesResponse]
    def generate_random_with_source_and_bytes(source, urlbytes, generate_random_with_source_and_bytes_request, opts = {})
      data, _status_code, _headers = generate_random_with_source_and_bytes_with_http_info(source, urlbytes, generate_random_with_source_and_bytes_request, opts)
      data
    end

    # @param source [String] Which system to source random data from, ether \&quot;platform\&quot;, \&quot;seal\&quot;, or \&quot;all\&quot;.
    # @param urlbytes [String] The number of bytes to generate (POST URL parameter)
    # @param generate_random_with_source_and_bytes_request [GenerateRandomWithSourceAndBytesRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateRandomWithSourceAndBytesResponse, Integer, Hash)>] GenerateRandomWithSourceAndBytesResponse data, response status code and response headers
    def generate_random_with_source_and_bytes_with_http_info(source, urlbytes, generate_random_with_source_and_bytes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.generate_random_with_source_and_bytes ...'
      end
      # verify the required parameter 'source' is set
      if @api_client.config.client_side_validation && source.nil?
        fail ArgumentError, "Missing the required parameter 'source' when calling SystemApi.generate_random_with_source_and_bytes"
      end
      # verify the required parameter 'urlbytes' is set
      if @api_client.config.client_side_validation && urlbytes.nil?
        fail ArgumentError, "Missing the required parameter 'urlbytes' when calling SystemApi.generate_random_with_source_and_bytes"
      end
      # verify the required parameter 'generate_random_with_source_and_bytes_request' is set
      if @api_client.config.client_side_validation && generate_random_with_source_and_bytes_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_random_with_source_and_bytes_request' when calling SystemApi.generate_random_with_source_and_bytes"
      end
      # resource path
      local_var_path = '/sys/tools/random/{source}/{urlbytes}'.sub('{' + 'source' + '}', CGI.escape(source.to_s)).sub('{' + 'urlbytes' + '}', CGI.escape(urlbytes.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_random_with_source_and_bytes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateRandomWithSourceAndBytesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.generate_random_with_source_and_bytes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#generate_random_with_source_and_bytes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check the HA status of an OpenBao cluster
    # @param [Hash] opts the optional parameters
    # @return [HaStatusResponse]
    def ha_status(opts = {})
      data, _status_code, _headers = ha_status_with_http_info(opts)
      data
    end

    # Check the HA status of an OpenBao cluster
    # @param [Hash] opts the optional parameters
    # @return [Array<(HaStatusResponse, Integer, Hash)>] HaStatusResponse data, response status code and response headers
    def ha_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.ha_status ...'
      end
      # resource path
      local_var_path = '/sys/ha-status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HaStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.ha_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#ha_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initialize a new OpenBao instance.
    # The OpenBao instance must not have been previously initialized. The recovery options, as well as the stored shares option, are only available when using OpenBao HSM.
    # @param initialize_system_request [InitializeSystemRequest]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def initialize_system(initialize_system_request, opts = {})
      initialize_system_with_http_info(initialize_system_request, opts)
      nil
    end

    # Initialize a new OpenBao instance.
    # The OpenBao instance must not have been previously initialized. The recovery options, as well as the stored shares option, are only available when using OpenBao HSM.
    # @param initialize_system_request [InitializeSystemRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def initialize_system_with_http_info(initialize_system_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.initialize_system ...'
      end
      # verify the required parameter 'initialize_system_request' is set
      if @api_client.config.client_side_validation && initialize_system_request.nil?
        fail ArgumentError, "Missing the required parameter 'initialize_system_request' when calling SystemApi.initialize_system"
      end
      # resource path
      local_var_path = '/sys/init'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initialize_system_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.initialize_system",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#initialize_system\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Backwards compatibility is not guaranteed for this API
    # @param [Hash] opts the optional parameters
    # @return [InternalCountEntitiesResponse]
    def internal_count_entities(opts = {})
      data, _status_code, _headers = internal_count_entities_with_http_info(opts)
      data
    end

    # Backwards compatibility is not guaranteed for this API
    # @param [Hash] opts the optional parameters
    # @return [Array<(InternalCountEntitiesResponse, Integer, Hash)>] InternalCountEntitiesResponse data, response status code and response headers
    def internal_count_entities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_count_entities ...'
      end
      # resource path
      local_var_path = '/sys/internal/counters/entities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalCountEntitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_count_entities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_count_entities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Backwards compatibility is not guaranteed for this API
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_count_requests(opts = {})
      internal_count_requests_with_http_info(opts)
      nil
    end

    # Backwards compatibility is not guaranteed for this API
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_count_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_count_requests ...'
      end
      # resource path
      local_var_path = '/sys/internal/counters/requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_count_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_count_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Backwards compatibility is not guaranteed for this API
    # @param [Hash] opts the optional parameters
    # @return [InternalCountTokensResponse]
    def internal_count_tokens(opts = {})
      data, _status_code, _headers = internal_count_tokens_with_http_info(opts)
      data
    end

    # Backwards compatibility is not guaranteed for this API
    # @param [Hash] opts the optional parameters
    # @return [Array<(InternalCountTokensResponse, Integer, Hash)>] InternalCountTokensResponse data, response status code and response headers
    def internal_count_tokens_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_count_tokens ...'
      end
      # resource path
      local_var_path = '/sys/internal/counters/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalCountTokensResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_count_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_count_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :generic_mount_paths Use generic mount paths (default to false)
    # @return [nil]
    def internal_generate_open_api_document(opts = {})
      internal_generate_open_api_document_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :generic_mount_paths Use generic mount paths (default to false)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_generate_open_api_document_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_generate_open_api_document ...'
      end
      # resource path
      local_var_path = '/sys/internal/specs/openapi'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'generic_mount_paths'] = opts[:'generic_mount_paths'] if !opts[:'generic_mount_paths'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_generate_open_api_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_generate_open_api_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param internal_generate_open_api_document_with_parameters_request [InternalGenerateOpenApiDocumentWithParametersRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :generic_mount_paths Use generic mount paths (default to false)
    # @return [nil]
    def internal_generate_open_api_document_with_parameters(internal_generate_open_api_document_with_parameters_request, opts = {})
      internal_generate_open_api_document_with_parameters_with_http_info(internal_generate_open_api_document_with_parameters_request, opts)
      nil
    end

    # @param internal_generate_open_api_document_with_parameters_request [InternalGenerateOpenApiDocumentWithParametersRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :generic_mount_paths Use generic mount paths (default to false)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_generate_open_api_document_with_parameters_with_http_info(internal_generate_open_api_document_with_parameters_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_generate_open_api_document_with_parameters ...'
      end
      # verify the required parameter 'internal_generate_open_api_document_with_parameters_request' is set
      if @api_client.config.client_side_validation && internal_generate_open_api_document_with_parameters_request.nil?
        fail ArgumentError, "Missing the required parameter 'internal_generate_open_api_document_with_parameters_request' when calling SystemApi.internal_generate_open_api_document_with_parameters"
      end
      # resource path
      local_var_path = '/sys/internal/specs/openapi'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'generic_mount_paths'] = opts[:'generic_mount_paths'] if !opts[:'generic_mount_paths'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(internal_generate_open_api_document_with_parameters_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_generate_open_api_document_with_parameters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_generate_open_api_document_with_parameters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Expose the route entry and mount entry tables present in the router
    # @param tag [String] Name of subtree being observed
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_inspect_router(tag, opts = {})
      internal_inspect_router_with_http_info(tag, opts)
      nil
    end

    # Expose the route entry and mount entry tables present in the router
    # @param tag [String] Name of subtree being observed
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_inspect_router_with_http_info(tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_inspect_router ...'
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling SystemApi.internal_inspect_router"
      end
      # resource path
      local_var_path = '/sys/internal/inspect/router/{tag}'.sub('{' + 'tag' + '}', CGI.escape(tag.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_inspect_router",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_inspect_router\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists enabled feature flags.
    # @param [Hash] opts the optional parameters
    # @return [InternalUiListEnabledFeatureFlagsResponse]
    def internal_ui_list_enabled_feature_flags(opts = {})
      data, _status_code, _headers = internal_ui_list_enabled_feature_flags_with_http_info(opts)
      data
    end

    # Lists enabled feature flags.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InternalUiListEnabledFeatureFlagsResponse, Integer, Hash)>] InternalUiListEnabledFeatureFlagsResponse data, response status code and response headers
    def internal_ui_list_enabled_feature_flags_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_ui_list_enabled_feature_flags ...'
      end
      # resource path
      local_var_path = '/sys/internal/ui/feature-flags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InternalUiListEnabledFeatureFlagsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.internal_ui_list_enabled_feature_flags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#internal_ui_list_enabled_feature_flags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all enabled and visible auth and secrets mounts.
    # @param [Hash] opts the optional parameters
    # @return [InternalUiListEnabledVisibleMountsResponse]
    def internal_ui_list_enabled_visible_mounts(opts = {})
      data, _status_code, _headers = internal_ui_list_enabled_visible_mounts_with_http_info(opts)
      data
    end

    # Lists all enabled and visible auth and secrets mounts.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InternalUiListEnabledVisibleMountsResponse, Integer, Hash)>] InternalUiListEnabledVisibleMountsResponse data, response status code and response headers
    def internal_ui_list_enabled_visible_mounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.internal_ui_list_enabled_visible_mounts ...'
      end
      # resource path
      local_var_path = '/sys/internal/ui/mounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
[...]
