- page_title "Spam 日志"
%h3.page-title Spam 日志
%hr
- if @spam_logs.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th 日期
          %th 用户
          %th 来源 IP
          %th API?
          %th 类型
          %th 标题
          %th 描述
          %th 主要操作
          %th
      = render @spam_logs
  = paginate @spam_logs
- else
  %h4 没有 Spam 日志
