- integration = local_assigns.fetch(:integration)

.row.gl-mt-3
  .col-lg-4
    %h3.page-title.gl-mt-0
      = integration.title

  .col-lg-8
    = form_for integration, as: :service, url: scoped_integration_path(integration), method: :put, html: { class: 'gl-show-field-errors integration-settings-form js-integration-settings-form', data: { 'test-url' => scoped_test_integration_path(integration) } } do |form|
      = render 'shared/service_settings', form: form, integration: integration
