- add_to_breadcrumbs _('Integrations'), scoped_integrations_path(project: @project, group: @group)
- breadcrumb_title @integration.title
- page_title @integration.title, _('Integrations')

%h2.gl-mb-4
  = @integration.title

= render 'shared/integrations/tabs', integration: @integration, active_tab: 'edit' do
  = render 'shared/integration_settings', integration: @integration
