- add_to_breadcrumbs _('Integrations'), scoped_integrations_path(project: @project, group: @group)
- breadcrumb_title @integration.title
- page_title @integration.title, _('Integrations')

= render ::Layouts::PageHeadingComponent.new(@integration.title)

- if @integration.title == 'Beyond Identity'
  .js-vue-beyond-identity-exclusions{ data: integration_overrides_data(@integration) }

- else
  .js-vue-integration-overrides{ data: integration_overrides_data(@integration, project: @project, group: @group) }
