%div#modal-new-wiki.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title New Wiki Page
      .modal-body
        .form-group
          = label_tag :new_wiki_path do
            %span Page slug
          = text_field_tag :new_wiki_path, nil, placeholder: 'how-to-setup', class: 'form-control', required: true, :'data-wikis-path' => namespace_project_wikis_path(@project.namespace, @project)
        .form-actions
          = link_to 'Create Page', '#', class: 'build-new-wiki btn btn-create'
