%div#modal-new-wiki.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title 新建Wiki页面
      .modal-body
        = label_tag :new_wiki_path do
          %span Page slug
        = text_field_tag :new_wiki_path, nil, placeholder: '如何设置', class: 'form-control', required: true, :'data-wikis-path' => namespace_project_wikis_path(@project.namespace, @project)
        %p.hint
          请不要使用空格.
      .modal-footer
        = link_to '构建', '#', class: 'build-new-wiki btn btn-create'
