%div#modal-new-wiki.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title 新维基页面
      .modal-body
        %form.new-wiki-page
          .form-group
            = label_tag :new_wiki_path do
              %span 页面别名
            = text_field_tag :new_wiki_path, nil, placeholder: 'how-to-setup', class: 'form-control', required: true, :'data-wikis-path' => namespace_project_wikis_path(@project.namespace, @project), autofocus: true
          .form-actions
            = button_tag '创建页面', class: 'build-new-wiki btn btn-create'
