%li
  = link_to wiki_page.title, project_wiki_path(@project, wiki_page)
  %small (#{wiki_page.format})
  .pull-right
    %small= (s_("Last edited %{date}") % { date: time_ago_with_tooltip(wiki_page.last_version.authored_date) }).html_safe
