- add_to_breadcrumbs _('Google Cloud'), @google_cloud_path
- breadcrumb_title s_('CloudSeed|Deployments')
- page_title s_('CloudSeed|Deployments')

- @content_class = "limit-container-width" unless fluid_layout

#js-google-cloud-deployments{ data: @js_data }
