- add_to_breadcrumbs _('Google Cloud'), project_google_cloud_path(@project)
- add_to_breadcrumbs s_('CloudSeed|Databases'), project_google_cloud_databases_path(@project)
- breadcrumb_title @title
- page_title @title

= form_tag project_google_cloud_databases_path(@project), method: 'post' do
  #js-google-cloud-databases-cloudsql-form{ data: @js_data }
