- add_to_breadcrumbs _('Google Cloud'), @google_cloud_path
- breadcrumb_title s_('CloudSeed|Databases')
- page_title s_('CloudSeed|Databases')

- @content_class = "limit-container-width" unless fluid_layout

#js-google-cloud-databases{ data: @js_data }
