.alert.alert-danger
  %p
    Now you need Runners to process your builds.
  %span
    Checkout the #{link_to 'GitLab Runner section', 'https://about.gitlab.com/gitlab-ci/#gitlab-runner', target: '_blank'} to install it


