- breadcrumb_title _("Edit")
- add_to_breadcrumbs _('Milestones'), group_milestones_path(@group)
- add_to_breadcrumbs @milestone.title, milestone_path(@milestone)
- page_title _('Edit'), @milestone.title, _('Milestones')

= render ::Layouts::PageHeadingComponent.new(_('Edit milestone'))
= render "form"
