- page_title "Milestones"
- header_title group_title(@group, "Milestones", group_milestones_path(@group))

= render 'shared/milestones_filter'
.gray-content-block
  Only milestones from
  %strong #{@group.name}
  group are listed here.
.milestones
  %ul.content-list
    - if @group_milestones.blank?
      %li
        .nothing-here-block No milestones to show
    - else
      - @group_milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @group_milestones, theme: "gitlab"
