- add_to_breadcrumbs _("Milestones"), group_milestones_path(@group)
- breadcrumb_title _("New milestone")
- page_title _("Milestones"), @milestone.name, _("Milestones")

= render ::Layouts::PageHeadingComponent.new(_('New milestone'))

.gl-mt-3
  = render "form"
