- add_page_specific_style 'page_bundles/import'
- provider = local_assigns.fetch(:provider).to_sym
- extra_data = local_assigns.fetch(:extra_data, {})
- filterable = local_assigns.fetch(:filterable, true)
- paginatable = local_assigns.fetch(:paginatable, false)
- provider_title = Gitlab::ImportSources.title(provider)

- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_projects_path(anchor: 'import_project')

#import-projects-mount-element{ data: { provider: provider, provider_title: provider_title,
                               can_select_namespace: current_user.can_select_namespace?.to_s,
                               ci_cd_only: has_ci_cd_only_params?.to_s,
                               namespaces_path: import_available_namespaces_path,
                               repos_path: url_for([:status, :import, provider, format: :json]),
                               jobs_path: url_for([:realtime_changes, :import, provider, format: :json]),
                               import_path: url_for([:import, provider, format: :json]),
                               filterable: filterable.to_s,
                               paginatable: paginatable.to_s }.merge(extra_data) }
