- show_calendar_button = local_assigns.fetch(:show_calendar_button, true)

- if show_calendar_button
  = link_to safe_params.merge(calendar_url_options), class: 'dropdown-item' do
    .gl-dropdown-item-text-wrapper
      = _("Subscribe to calendar")

= link_to safe_params.merge(rss_url_options), class: 'dropdown-item' do
  .gl-dropdown-item-text-wrapper
    = _("Subscribe to RSS feed")
