- if params[:milestone_title]
  = hidden_field_tag(:milestone_title, params[:milestone_title])
= dropdown_tag(h(params[:milestone_title].presence || "Milestone"), options: { title: "Filter by milestone", toggle_class: 'js-milestone-select js-filter-submit', filter: true, dropdown_class: "dropdown-menu-selectable",
  placeholder: "Search milestones", footer_content: @project.present?, data: { show_no: true, show_any: true, field_name: "milestone_title", selected: params[:milestone_title], project_id: @project.try(:id), milestones: milestones_filter_dropdown_path, default_label: "Milestone" } }) do
  - if @project
    %ul.dropdown-footer-list
      - if can? current_user, :admin_milestone, @project
        %li
          = link_to new_namespace_project_milestone_path(@project.namespace, @project), title: "New Milestone" do
            Create new
      %li
        = link_to namespace_project_milestones_path(@project.namespace, @project) do
          - if can? current_user, :admin_milestone, @project
            Manage milestones
          - else
            View milestones
