- if current_controller?(:issues)
  - participants_endpoint = participants_namespace_project_issue_path(@project.namespace, @project, @issue)
- else
  - participants_endpoint = participants_namespace_project_merge_request_path(@project.namespace, @project, @merge_request)

.block.participants.js-participants-block
  #js-participants-options{ data: { 'participants-endpoint': participants_endpoint, 'participants-row': 7 } }
  .sidebar-collapsed-icon
    = icon('users')
    %span.count
      = icon('spinner spin')
  .title.hide-collapsed
    Participants
  .hide-collapsed.participants-list
    = icon('spinner spin', class: 'spinner')

  %script#participant-template{ type: 'text/template' }
    .participants-author.js-participants-author
      %a.author_link.has_tooltip{ href: '<%- link %>', data: { 'original-title': '<%- name %>' } }
        %img.avatar.avatar-inline.s24{ width: '24', src: '<%- avatar %>' }

  %script#more-participants-template{ type: 'text/template' }
    .participants-more
      %a.js-participants-more{ href: '#', data: { 'original-text': '+ <%- moreCount %> more', 'less-text': '- show less' } }
        + <%- moreCount %> more
