= form_tag(path, method: :get, id: "issue_search_form", class: 'issue-search-form') do
  = search_field_tag :issue_search, params[:issue_search], { placeholder: 'Filter by name ...', class: 'form-control issue_search search-text-input input-short', spellcheck: false }
