- is_collapsed = local_assigns.fetch(:is_collapsed, false)
- has_todo = !!issuable_sidebar.dig(:current_user, :todo, :id)

- todo_button_data = issuable_todo_button_data(issuable_sidebar, is_collapsed)
- button_title = has_todo ? todo_button_data[:mark_text] : todo_button_data[:todo_text]
- button_icon = has_todo ? todo_button_data[:mark_icon] : todo_button_data[:todo_icon]

%button.issuable-todo-btn.js-issuable-todo{ type: 'button',
  class: (is_collapsed ? 'btn-blank sidebar-collapsed-icon dont-change-state has-tooltip' : 'gl-button btn btn-default issuable-header-btn float-right'),
  title: button_title,
  'aria-label' => button_title,
  data: todo_button_data }
  %span.issuable-todo-inner.js-issuable-todo-inner<
    = is_collapsed ? button_icon : button_title
  = loading_icon(css_class: is_collapsed ? '' : 'gl-ml-3')
