- issuable_type = issuable_sidebar[:type]
- dropdown_options = assignees_dropdown_options(issuable_type)

.js-sidebar-assignees-root{ data: { field: issuable_type,
  max_assignees: dropdown_options[:data][:"max-select"],
  directly_invite_members: can_admin_project_member?(@project) } }
  .title.hide-collapsed.gl-flex.gl-justify-between.gl-items-center{ class: '!gl-mb-0' }
    %span.gl-font-bold= s_('Label|Assignee')
    = gl_loading_icon(inline: true)
