- viewing_issues = controller.controller_name == 'issues' || controller.action_name == 'issues'
- viewing_merge_requests = controller.controller_name == 'merge_requests' || controller.action_name == 'merge_requests'
- items = issuable_sort_options(viewing_issues, viewing_merge_requests)
- selected = issuable_sort_option_overrides[@sort] || @sort

%div
  .btn-group{ role: 'group' }
    = gl_redirect_listbox_tag(items, selected, class: 'btn-group', data: { placement: 'right' })
    = issuable_sort_direction_button(@sort)
