- user = local_assigns.fetch(:user)
- avatar = local_assigns.fetch(:avatar, { })

%li.filter-dropdown-item{ class: ('js-current-user' if user == current_user) }
  %button.gl-button.btn.btn-link.dropdown-user{ type: :button }
    .avatar-container.s40
      = user_avatar_without_link(user: user, lazy: avatar[:lazy], url: avatar[:url], size: 40, has_tooltip: false)
    .dropdown-user-details
      %span
        = user.name
      %span.dropdown-light-content
        = user.to_reference
