:plain
  var $listItem = $('#{escape_javascript(render('shared/members/group', group_link: @group_link, group: @group_link.group))}');
  $("##{dom_id(@group_link.group)} .list-item-name").replaceWith($listItem.find('.list-item-name'));
