- page_title 'Abuse Reports'
%h3.page-title Abuse Reports
%hr
.abuse-reports
  - if @abuse_reports.present?
    .panel-group#accordion{ role: 'tablist', aria: { multiselectable: 'true' } }
      = render @abuse_reports
    = paginate @abuse_reports
  - else
    .no-reports
      %span.pull-left
        There are no abuse reports!
      .pull-left
        = emoji_icon 'tada'
