- page_title 'Abuse Reports'
%h3.page-title Abuse Reports
%hr
.abuse-reports
  - if @abuse_reports.present?
    .table-holder
      %table.table
        %thead.hidden-sm.hidden-xs
          %tr
            %th User
            %th Reported by
            %th.wide Message
            %th Action
        = render @abuse_reports
  - else
    .no-reports
      %span.pull-left
        There are no abuse reports!
      .pull-left
        = emoji_icon 'tada'
