// -------
// Please see `app/assets/stylesheets/page_bundles/ide_themes/README.md` for a guide on contributing new themes
// -------
.ide {
  $bs-input-focus-border: #80bdff;
  $bs-input-focus-box-shadow: rgba(0, 123, 255, 0.25);

  a:not(.btn),
  .gl-button.btn-link,
  .gl-button.btn-link:hover,
  .gl-button.btn-link:focus,
  .gl-button.btn-link:active {
    color: var(--ide-link-color, $blue-600);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  code,
  .md table:not(.code),
  .md,
  .md p,
  .context-header > a,
  input,
  textarea,
  .dropdown-menu li button,
  .dropdown-menu-selectable li a.is-active,
  .dropdown-menu-inner-title,
  .ide-pipeline .top-bar,
  .ide-pipeline .top-bar .controllers .controllers-buttons,
  .controllers-buttons svg,
  .nav-links li a.active,
  .gl-tabs-nav li a.gl-tab-nav-item-active,
  .md-area.is-focused {
    color: var(--ide-text-color, var(--gl-text-color-default));
  }

  .badge.badge-pill {
    color: var(--ide-text-color, var(--gl-icon-color-subtle));
    background-color: var(--ide-background, $badge-bg);
  }

  .nav-links li:not(.md-header-toolbar) a,
  .gl-tabs-nav li a,
  .dropdown-menu-inner-content,
  .file-row .file-row-icon svg,
  .file-row:hover .file-row-icon svg {
    color: var(--ide-text-color-secondary, var(--gl-text-color-subtle));
  }

  .nav-links li:not(.md-header-toolbar),
  .gl-tabs-nav li {
    &:hover a,
    &.active a,
    a:hover,
    a.active {
      &,
      .badge.badge-pill {
        color: var(--ide-text-color, $black);
        border-color: var(--ide-input-border, $gray-200);
      }
    }
  }

  .drag-handle:hover {
    background-color: var(--ide-dropdown-hover-background, $gray-50);
  }

  .card-header {
    background-color: var(--ide-background, $white);

    .badge.badge-pill {
      background-color: var(--ide-dropdown-hover-background, $badge-bg);
    }
  }

  .gl-text-subtle,
  .text-secondary {
    color: var(--ide-text-color-secondary, var(--gl-text-color-subtle)) !important;
  }

  input[type='search']::placeholder,
  input[type='text']::placeholder,
  textarea::placeholder {
    color: var(--ide-input-border, $gl-text-color-tertiary);
  }

  .dropdown-input .dropdown-input-clear {
    color: var(--ide-input-border, var(--gl-control-border-color-default));
  }

  .ide-nav-form .input-icon {
    color: var(--ide-input-border, var(--gl-control-border-color-default));
  }

  code {
    background-color: var(--ide-background, $gray-100);
  }

  .ide-pipeline .top-bar,
  .ide-terminal .top-bar {
    background-color: var(--ide-background, $gray-10);
  }

  .common-note-form .md-area {
    border-color: var(--ide-input-border, var(--gl-border-color-default));
  }

  .md table:not(.code) tr th {
    background-color: var(--ide-highlight-background, $gray-100);
  }

  &,
  .card,
  .common-note-form .md-area {
    background-color: var(--ide-highlight-background, $white);
  }

  .card,
  .card-header,
  .ide-terminal .top-bar,
  .ide-pipeline .top-bar {
    border-color: var(--ide-border-color, var(--gl-border-color-default));
  }

  hr {
    border-color: var(--ide-border-color, var(--gl-border-color-default));
  }

  .md h1,
  .md h2,
  .md blockquote,
  .md table:not(.code) tbody td,
  .md table:not(.code) tr th,
  .nav-links,
  .gl-tabs-nav,
  .common-note-form .md-area.is-focused .nav-links {
    border-color: var(--ide-border-color-alt, var(--gl-border-color-default));
  }

  pre {
    border-color: var(--ide-border-color-alt, $gray-100);

    code {
      background-color: var(--ide-empty-state-background, inherit);
    }
  }

  // highlight accents (based on navigation theme) should only apply
  // in the default white theme and "none" theme.
  &:not(.theme-white):not(.theme-none) {
    .ide-sidebar-link.active {
      color: var(--ide-highlight-accent, var(--gl-text-color-default));
      box-shadow: inset 3px 0 var(--ide-highlight-accent, var(--gl-text-color-default));

      &.is-right {
        box-shadow: inset -3px 0 var(--ide-highlight-accent, var(--gl-text-color-default));
      }
    }

    .nav-links li.active a,
    .nav-links li a.active {
      border-color: var(--ide-highlight-accent, var(--gl-text-color-default));
    }

    .dropdown-menu .nav-links li a.active {
      border-color: var(--ide-highlight-accent, var(--gl-text-color-default));
    }

    .gl-tabs-nav li a.gl-tab-nav-item-active {
      box-shadow: inset 0 -2px 0 0 var(--ide-highlight-accent, var(--gl-text-color-default));
    }

    // for other themes, suppress different avatar default colors for simplicity
    .avatar-container {
      &,
      .avatar {
        color: var(--ide-text-color, var(--gl-text-color-default));
        background-color: var(--ide-highlight-background, $white);
        border-color: var(--ide-highlight-background, var(--gl-avatar-border-color-default));
      }
    }
  }

  input[type='text'],
  input[type='search'],
  .filtered-search-box {
    border-color: var(--ide-input-border, var(--gl-border-color-default));
    background: var(--ide-input-background, $white) !important;
  }

  input[type='text']:not([disabled]):not([readonly]):focus,
  .md-area.is-focused {
    border-color: var(--ide-input-border, $bs-input-focus-border);
    box-shadow: 0 0 0 3px var(--ide-dropdown-background, $bs-input-focus-box-shadow);
  }

  input[type='text'],
  input[type='search'],
  .filtered-search-box,
  textarea {
    color: var(--ide-input-color, var(--gl-text-color-default)) !important;
  }

  .filtered-search-box input[type='search'] {
    border-color: transparent !important;
    box-shadow: none !important;
  }

  .filtered-search-token .value-container,
  .filtered-search-term .value-container {
    background-color: var(--ide-dropdown-hover-background, $gray-50);
    color: var(--ide-text-color, var(--gl-text-color-default));

    &:hover {
      background-color: var(--ide-input-border, $gray-100);
    }
  }

  @function calc-btn-hover-padding($original-padding, $original-border: 1px) {
    @return calc(#{$original-padding + $original-border} - var(--ide-btn-hover-border-width, #{$original-border}));
  }

  .btn:not(.gl-button):not(.btn-link):not([disabled]):hover {
    border-width: var(--ide-btn-hover-border-width, 1px);
    padding: calc-btn-hover-padding(6px) calc-btn-hover-padding(10px);
  }

  .btn:not(.gl-button):not([disabled]).btn-sm:hover {
    padding: calc-btn-hover-padding(4px) calc-btn-hover-padding(10px);
  }

  .btn:not(.gl-button):not([disabled]).btn-block:hover {
    padding: calc-btn-hover-padding(6px) 0;
  }

  .btn-default:not(.gl-button),
  .dropdown,
  .dropdown-menu-toggle {
    color: var(--ide-input-color, var(--gl-text-color-default)) !important;
    border-color: var(--ide-btn-default-border, var(--gl-border-color-default));
  }

  .dropdown-menu-toggle {
    border-color: var(--ide-btn-default-border, $gray-200);
    background-color: var(--ide-input-background, transparent);

    &:hover,
    &:focus {
      background-color: var(--ide-dropdown-btn-hover-background, $gray-50) !important;
      border-color: var(--ide-dropdown-btn-hover-border, $gray-200) !important;
    }
  }

  // todo: remove this block after all default buttons have been migrated to gl-button
  .btn-default:not(.gl-button) {
    background-color: var(--ide-btn-default-background, $white) !important;
    border-color: var(--ide-btn-default-border, var(--gl-border-color-default));

    &:hover,
    &:focus {
      border-color: var(--ide-btn-default-hover-border, var(--gl-border-color-default)) !important;
      background-color: var(--ide-btn-default-background, $gray-50) !important;
    }

    &:active,
    .active {
      border-color: var(--ide-btn-default-hover-border, var(--gl-border-color-default)) !important;
      background-color: var(--ide-btn-default-background, var(--gl-border-color-default)) !important;
    }
  }

  .dropdown-menu {
    color: var(--ide-text-color, var(--gl-text-color-default));
    border-color: var(--ide-background, var(--gl-border-color-default));
    background-color: var(--ide-dropdown-background, $white);

    .nav-links {
      background-color: var(--ide-dropdown-hover-background, $white);
      border-color: var(--ide-dropdown-hover-background, var(--gl-border-color-default));
    }

    .gl-tabs-nav {
      background-color: var(--ide-dropdown-hover-background, $white);
      box-shadow: inset 0 -2px 0 0 var(--ide-dropdown-hover-background, var(--gl-border-color-default));
    }

    .divider {
      background-color: var(--ide-dropdown-hover-background, $gray-100);
      border-color: var(--ide-dropdown-hover-background, $gray-100);
    }

    li > a:not(.disable-hover):hover,
    li > a:not(.disable-hover):focus,
    li button:not(.disable-hover):hover,
    li button:not(.disable-hover):focus,
    li button.is-focused {
      background-color: var(--ide-dropdown-hover-background, $gray-50);
      color: var(--ide-text-color, var(--gl-text-color-default));
    }
  }

  .dropdown-title,
  .dropdown-input {
    border-color: var(--ide-dropdown-hover-background, $gray-100) !important;
  }

  // todo: remove this block after all disabled buttons have been migrated to gl-button
  .btn[disabled]:not(.gl-button) {
    background-color: var(--ide-btn-default-background, $gray-10) !important;
    border: 1px solid var(--ide-btn-disabled-border, $gray-100) !important;
    color: var(--ide-btn-disabled-color, var(--gl-text-color-disabled)) !important;
  }

  .md table:not(.code) tbody {
    background-color: var(--ide-empty-state-background, $white);
  }

  .animation-container {
    [class^='skeleton-line-'] {
      background-color: var(--ide-animation-gradient-1, $gray-100);

      &::after {
        background-image: linear-gradient(to right,
        var(--ide-animation-gradient-1, $gray-100) 0%,
        var(--ide-animation-gradient-2, $gray-10) 20%,
        var(--ide-animation-gradient-1, $gray-100) 40%,
        var(--ide-animation-gradient-1, $gray-100) 100%);
      }
    }
  }

  .idiff.addition {
    background-color: var(--ide-diff-insert, $line-added-dark);
  }

  .idiff.deletion {
    background-color: var(--ide-diff-remove, $line-removed-dark);
  }

  ~ .popover {
    box-shadow: none;
  }
}

.navbar:not(.theme-white):not(.theme-none) {
  border-bottom-color: transparent;
}
