@import 'mixins_and_variables_and_functions';

.clusters-container {
  @include media-breakpoint-down(xs) {
    .nav-controls {
      width: 100%;
      order: -1;

      // stylelint-disable-next-line gitlab/no-gl-class
      .gl-dropdown,
      .split-content-button {
        width: 100%;
      }
    }
  }
}

.cluster-card-item {
  @include media-breakpoint-up(sm) {
    padding-top: $gl-spacing-scale-2;
    min-height: 372px;
  }
}

.select-agent-dropdown {
  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-button-text {
    flex-grow: 1;
  }
}
