@import 'mixins_and_variables_and_functions';

.commit-description,
.commit-row-description {
  padding: $gl-padding-8 0 $gl-padding-8 $gl-padding-8;
  margin-top: $gl-padding-8;
  border: 0;
  border-radius: unset;
  background: none;
  word-break: normal;
  overflow-x: auto;
  border-left: 3px solid var(--gl-border-color-default);
  color: var(--gl-text-color-subtle);
}

.commit-box {
  border-top: 1px solid var(--gl-border-color-default);
  padding: $gl-padding 0;

  .commit-title {
    margin: 0;
    color: var(--gl-text-color-default);
  }
}
