@import 'mixins_and_variables_and_functions';

$design-pin-diameter: 28px;
$design-pin-diameter-sm: 24px;

.layout-page.design-detail-layout {
  max-height: 100vh;

  .super-sidebar, .top-bar-fixed {
    z-index: 0;
  }
}

.design-detail {
  bottom: $calc-application-footer-height;

  .comment-indicator {
    border-radius: 50%;
  }

  .comment-indicator,
  .frame .design-note-pin {
    &:active {
      cursor: grabbing;
    }
  }
}

.design-disclosure {
  min-width: 400px;
  flex-shrink: 4;

  @media (min-width: $breakpoint-lg) {
    width: 400px !important;
    flex-shrink: 0;
  }
}

// These are composite classes for use with Vue Transition
// https://vuejs.org/guide/built-ins/transition
.design-disclosure-enter-to {
  transform: translateX(0);
}

.design-disclosure-enter,
.design-disclosure-leave-to {
  transform: translateX(100%);
}

.design-disclosure-enter-active,
.design-disclosure-leave-active {
  transition: all .2s ease;
}

.design-list-item {
  height: 160px;
  text-decoration: none;

  &:hover {
    border-color: var(--gray-400, $gray-400);
  }
}

.design-note-pin {
  display: flex;
  height: $design-pin-diameter-sm;
  width: $design-pin-diameter-sm;
  box-sizing: content-box;
  @apply gl-bg-purple-500 dark:gl-bg-purple-700;
  color: var(--white, $white);
  font-weight: $gl-font-weight-bold;
  border-radius: 50%;
  z-index: 1;
  padding: 0;
  border: 0;

  &.draft {
    background-color: var(--orange-500, $orange-500);
  }

  &.resolved {
    background-color: var(--gray-500, $gray-500);
  }

  &.on-image {
    box-shadow: 0 2px 4px var(--gl-color-alpha-dark-8), 0 0 1px var(--gl-color-alpha-dark-24);
    border: var(--white, $white) 2px solid;
    will-change: transform, box-shadow, opacity;
    // NOTE: verbose transition property required for Safari
    transition: transform $general-hover-transition-duration linear, box-shadow $general-hover-transition-duration linear, opacity $general-hover-transition-duration linear;
    transform-origin: 0 0;
    transform: translate(-50%, -50%);

    &:hover {
      transform: scale(1.2) translate(-50%, -50%);
    }

    &:active {
      box-shadow: 0 0 4px var(--gl-shadow-color-default), 0 4px 12px var(--gl-shadow-color-default);
    }

    &.inactive {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.small {
    position: absolute;
    border: 1px solid var(--white, $white);
    height: $design-pin-diameter-sm;
    width: $design-pin-diameter-sm;
  }

  &.user-avatar {
    top: 25px;
    right: 8px;
  }
}

.design-scaler-wrapper {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-notes {
  overflow-y: auto;
  padding: $gl-padding;
  padding-top: 50px;
  @apply gl-bg-default;

  .link-inherit-color {
    &,
    &:hover,
    &:active,
    &:focus {
      color: inherit;
    }
  }

  .toggle-comments {
    line-height: 20px;
    @apply gl-border-t;
    @apply gl-border-t-subtle;

    &[aria-expanded="true"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .toggle-comments-button:focus {
      text-decoration: none;
      color: var(--blue-600, $blue-600);
    }
  }

  .toggle-comments ~ .design-note {
    @apply gl-bg-subtle;
  }

  .design-discussion {
    margin: $gl-padding 0;

    &::before {
      content: '';
      border-left: 1px solid var(--gray-100, $gray-100);
      position: absolute;
      left: 11px;
      top: -17px;
      height: 17px;
    }

    .design-note {
      padding: $gl-padding-8;
      list-style: none;
      border-top-left-radius: $gl-border-radius-base;
      border-top-right-radius: $gl-border-radius-base;
      @apply gl-transition-background;

      video {
        width: 100%;
      }
    }

    .reply-wrapper {
      padding: $gl-padding-8;
      border-radius: 0 0 $gl-border-radius-base $gl-border-radius-base;
      @apply gl-bg-subtle;
    }
  }

  .new-discussion-disclaimer {
    line-height: 20px;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .design-detail {
    overflow-y: scroll;
  }

  .image-notes {
    overflow-y: auto;
    min-width: 100%;
    flex-grow: 1;
    flex-basis: auto;
  }
}
