@import 'page_bundles/mixins_and_variables_and_functions';

.environments-container {
  .ci-table {
    .commit-title {
      margin: 0;
    }

    .external-url,
    .dropdown-new {
      @apply gl-text-subtle;
    }

    .build-link,
    .ref-name {
      color: var(--gray-900, $gray-900);
    }

    .folder-icon {
      margin-right: 3px;
      @apply gl-fill-icon-subtle;
      display: inline-block;
      vertical-align: text-top;
    }

    .folder-name {
      cursor: pointer;
      @apply gl-text-subtle;
      display: inline-block;
    }

    .icon-container {
      width: 20px;
      text-align: center;
    }

    .environment-child-row {
      padding-left: 20px;
    }
  }
}

// stylelint-disable-next-line gitlab/no-gl-class
.gl-responsive-table-row {
  .branch-commit {
    max-width: 100%;
  }
}

.folder-row {
  border-left: 0;
  border-right: 0;

  @media (min-width: map-get($grid-breakpoints, md)-1) {
    border-top: 0;
  }
}

.x-axis path,
.y-axis path,
.label-x-axis-line,
.label-y-axis-line {
  fill: none;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.x-axis path,
.y-axis path {
  stroke: var(--gray-300, $gray-300);
}

.label-x-axis-line,
.label-y-axis-line {
  stroke: var(--gray-100, $gray-100);
}

.y-axis {
  line {
    stroke: var(--gray-300, $gray-300);
    stroke-width: 1;
  }
}

/**
 * Deploy boards
*/
.deploy-board {
  background-color: var(--gray-50, $gray-50);
  min-height: 20px;

  > .loading-icon,
  > .deploy-board-empty,
  > .deploy-board-information {
    padding: 10px;
  }

  .deploy-board-information {
    display: flex;
    justify-content: space-between;

    .deploy-board-status {
      order: 1;
      display: flex;
      width: 70px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0 0 5px;
    }

    .deploy-board-instances {
      order: 2;
      margin-left: 20px;
      width: 100%;
    }

    .deploy-board-canary-ingress {
      order: 7;
    }

    .deploy-board-actions {
      order: 3;
      align-self: center;
      min-width: 150px;
      margin-left: 10px;
    }

    .deploy-board-empty-state-text {
      order: 2;
      flex-wrap: wrap;
      margin: auto auto 15px 0;
    }

    .deploy-board-empty-state-title {
      order: 1;
      font-size: 17px;
      line-height: 40px;
    }
  }

  .deploy-board-legend .legend-text {
    color: var(--gray-900, $gray-900);
    font-size: $gl-font-size-small;
    font-weight: $gl-font-weight-bold;
    line-height: 1;
  }
}

.deploy-board-icon {
  display: none;

  @include media-breakpoint-up(md) {
    float: left;
    display: block;
  }

  i {
    cursor: pointer;
    @apply gl-text-disabled;
    padding-right: 10px;
  }
}

/**
* Kubernetes Tree view
**/

.kubernetes-tree-view {
  .connector {
    width: calc(100% + #{$gl-spacing-scale-6});
    height: calc(100% + #{$gl-spacing-scale-4});

    &::after {
      content: '';
      left: calc(50% + #{$gl-spacing-scale-2});
      top: -4.5px;
      position: absolute;
      border-style: solid;
      border-color: transparent;
      border-width: $gl-spacing-scale-2 $gl-spacing-scale-3;
      border-left-color: var(--gray-200, $gray-200);
    }
  }
}
