@import 'page_bundles/mixins_and_variables_and_functions';

.group-home-panel {
  .home-panel-avatar {
    flex-basis: $home-panel-title-row-height;
  }

  .home-panel-title {
    .icon {
      vertical-align: 1px;
    }
  }

  .home-panel-description {
    @include media-breakpoint-up(md) {
      font-size: $gl-font-size-large;
    }
  }

  mark {
    @include str-highlighted;
  }
}
