@import 'page_bundles/mixins_and_variables_and_functions';

.group-home-panel {
  .home-panel-avatar {
    flex-basis: $home-panel-title-row-height;
  }

  .home-panel-title {
    .icon {
      vertical-align: 1px;
    }
  }

  .home-panel-metadata {
    line-height: $gl-btn-line-height;
  }

  .home-panel-description {
    @include media-breakpoint-up(md) {
      font-size: $gl-font-size-large;
    }
  }
}

.group-nav-container {
  .nav-controls {
    .group-filter-form {
      flex: 1 1 auto;
      margin-right: $gl-padding-8;
    }

    .dropdown-menu-right {
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      .dropdown,
      .dropdown .dropdown-toggle,
      .btn-success {
        display: block;
      }

      .group-filter-form,
      .dropdown {
        margin-bottom: 10px;
        margin-right: 0;
      }

      &,
      .group-filter-form,
      .group-filter-form-field,
      .dropdown,
      .dropdown .dropdown-toggle,
      .btn-success {
        width: 100%;
      }
    }
  }

  // Remove this selector once https://gitlab.com/gitlab-org/gitlab/-/issues/370050 is addressed.
  .scrolling-tabs-container {
    width: 100%;
  }
}
