@import 'mixins_and_variables_and_functions';

$import-bar-height: calc(#{$gl-spacing-scale-9} - 1px);

.import-table-bar {
  top: $calc-application-header-height;
}

.import-table {
  thead {
    top: calc(#{$calc-application-header-height} + #{$import-bar-height});
  }
}
