@import 'mixins_and_variables_and_functions';

.issues-list {
  &.manual-ordering {
    background-color: var(--gray-10, $gray-10);
    border-radius: $gl-border-radius-base;
    padding: $gl-padding-8;

    .issue {
      background-color: var(--white, $white);
      margin-bottom: $gl-padding-8;
      border-radius: $gl-border-radius-base;
      border: 1px solid var(--gl-border-color-default);
      box-shadow: 0 1px 2px $issue-boards-card-shadow;
    }
  }

  .issue {
    padding: 10px $gl-padding;
    position: relative;

    .title {
      margin-bottom: 2px;
    }
  }
}

.is-ghost {
  opacity: 0.3;
  pointer-events: none;
}
