@import 'mixins_and_variables_and_functions';

.issues-list {
  &.manual-ordering {
    background-color: var(--gray-10, $gray-10);
    border-radius: $border-radius-default;
    padding: $gl-padding-8;

    .issue {
      background-color: var(--white, $white);
      margin-bottom: $gl-padding-8;
      border-radius: $border-radius-default;
      border: 1px solid var(--border-color, $border-color);
      box-shadow: 0 1px 2px $issue-boards-card-shadow;
    }
  }

  .issue {
    padding: 10px $gl-padding;
    position: relative;

    .title {
      margin-bottom: 2px;
    }

    .icon-merge-request-unmerged {
      height: 13px;
      margin-bottom: 3px;
    }
  }
}

.is-ghost {
  opacity: 0.3;
  pointer-events: none;
}

.work-item-labels {
  .gl-token {
    padding-left: $gl-spacing-scale-1;
  }

  .gl-token-close {
    display: none;
  }
}
