@import 'mixins_and_variables_and_functions';

.description {
  li {
    position: relative;
    margin-inline-start: 2.25rem;

    .drag-icon {
      position: absolute;
      inset-block-start: 0.3rem;
      inset-inline-start: -2.3rem;
      padding-inline-end: 1rem;
      width: 2rem;
    }

    .task-list-item-actions-wrapper {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: -2rem;
    }

    .task-list-item-actions[aria-expanded="true"],
    .task-list-item-actions:is(:focus, :hover) {
      opacity: 1;
    }
  }

  .has-task-list-item-actions > :is(ul, ol) > li {
    margin-inline-end: 1.5rem;
  }

  ul.task-list > li.task-list-item {
    margin-inline-start: 0.5rem !important; /* Override typography.scss */

    > .drag-icon {
      inset-inline-start: -0.6rem;
    }
  }
}

.is-ghost {
  opacity: 0.3;
  pointer-events: none;
}
