@import 'mixins_and_variables_and_functions';
@import '@gitlab/ui/src/tokens/build/css/tokens';

@import '@gitlab/ui/src/scss/bootstrap';
@import '@gitlab/ui/src/scss/bootstrap_vue';

// We should only import styles that we actually use.
@import '@gitlab/ui/src/components/base/alert/alert';
@import '@gitlab/ui/src/components/base/avatar/avatar';
@import '@gitlab/ui/src/components/base/button/button';
@import '@gitlab/ui/src/components/base/banner/banner';
@import '@gitlab/ui/src/components/base/card/card';
@import '@gitlab/ui/src/components/base/icon/icon';
@import '@gitlab/ui/src/components/base/link/link';
@import '@gitlab/ui/src/components/base/loading_icon/loading_icon';
@import '@gitlab/ui/src/components/base/modal/modal';
@import '@gitlab/ui/src/components/base/pagination/pagination';
@import '@gitlab/ui/src/components/base/table/table';
@import '@gitlab/ui/src/components/base/tooltip/tooltip';
@import '@gitlab/ui/src/components/base/form/form_input/form_input';
@import '@gitlab/ui/src/components/base/form/form_radio/form_radio';
@import '@gitlab/ui/src/components/base/form/form_radio_group/form_radio_group';
@import '@gitlab/ui/src/components/base/form/form_checkbox/form_checkbox';
@import '@gitlab/ui/src/components/base/form/form_group/form_group';
@import '@gitlab/ui/src/components/base/search_box_by_type/search_box_by_type';

$header-height: $gl-spacing-scale-8;

.jira-connect-header {
  min-height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.jira-connect-app {
  margin-top: $header-height;
  height: 100%;
  max-height: calc(100% - #{$header-height + $gl-spacing-scale-7 * 2});
}
