@import 'mixins_and_variables_and_functions';

.jira-connect-users-container {
  margin-left: auto;
  margin-right: auto;
  width: px-to-rem(350px);
}

.devise-layout-html body .navless-container {
  @include media-breakpoint-down(xs) {
    padding-top: 65px;
  }
}
