@import 'mixins_and_variables_and_functions';
@import 'components/rapid_diffs';

@supports (content-visibility: hidden) {
  // cache diffs rendering state for better performance when switching tabs
  .tab-pane[style="display: none;"] {
    display: block !important;
    content-visibility: hidden;
  }
}

.container-fluid .diffs.tab-pane {
  margin: 0;
}

.rd-app {
  --rd-app-sticky-top: calc(#{$calc-application-header-height} + #{$mr-sticky-header-height} - 1px);

  // merge request sticky header appears after sm breakpoint
  @include media-breakpoint-down(sm) {
    --rd-app-sticky-top: calc(#{$calc-application-header-height});
  }
}

