@import '../page_bundles/mixins_and_variables_and_functions';

table.ml-candidate-table {
  tr td,
  tr th {
    padding: $gl-padding-8;
    min-width: 100px;

    > * {
      @include gl-display-block;
      @include gl-text-truncate;
    }
  }
}

table.candidate-details {
  td {
    padding: $gl-spacing-scale-3;
  }
}
