@import 'mixins_and_variables_and_functions';
@import './pipeline_mixins';

/**
 * Pipelines Bundle: Pipeline lists and Mini Pipelines
 */

.pipelines-container .top-area .nav-controls > .btn:last-child {
  float: none;
}

// Pipelines list
// Should affect pipelines table components rendered by:
// - app/assets/javascripts/commit/pipelines/pipelines_bundle.js

.pipelines {
  .pipeline-tags .label-container {
    white-space: normal;
  }

  .dark-mode-override {
    // stylelint-disable-next-line gitlab/no-gl-class
    .gl-dark & {
      background-color: $white;
    }
  }
}

// Pipeline mini graph
.pipeline-mini-graph-stage-container {
  // Temoorarily sets a max height for the dropdown
  // until GlDisclosureDropdown supports adding
  // a max-height value
  // see https://gitlab.com/gitlab-org/gitlab-ui/-/issues/3010
  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-new-dropdown-inner {
    max-height: $dropdown-max-height-lg !important;
  }

  &:last-child {
    margin-right: 0;
  }

  &:not(:last-child) {
    &::after {
      content: '';
      border-bottom: 2px solid $gray-200;
      position: absolute;
      right: -4px;
      top: 12px;
      width: 4px;
    }
  }
}
