@import 'mixins_and_variables_and_functions';
@import 'framework/mixins';

.edit-user {
  .emoji-menu-toggle-button {
    @include emoji-menu-toggle-button;
  }

  @include media-breakpoint-down(sm) {
    .input-md,
    .input-lg {
      max-width: 100%;
    }
  }
}

.modal-profile-crop {
  .modal-dialog {
    width: 380px;

    @include media-breakpoint-down(xs) {
      width: auto;
    }
  }

  .profile-crop-image-container {
    height: 300px;
    margin: 0 auto;
  }
}

.calendar-help {
  // Match width of calendar
  max-width: 864px;
}

// Middle dot divider between each element in a list of items.
.middle-dot-divider {
  @include middle-dot-divider;
}

.middle-dot-divider-sm {
  @include media-breakpoint-up(sm) {
    @include middle-dot-divider;
  }
}

// Limits the width of the user bio for readability.
.profile-user-bio {
  max-width: 600px;
}

.profile-readme-wrapper .read-more-trigger {
  bottom: 0;
  left: 1px;
  right: 1px;
}

.user-calendar-activities {
  direction: ltr;

  .str-truncated {
    max-width: 70%;
  }
}

.user-contrib-text {
  font-size: 11px;
  fill: $calendar-user-contrib-text;
}

.user-profile {
  @include media-breakpoint-up(lg) {
    .profile-header {
      position: sticky;
      top: $calc-application-header-height;
      height: $calc-application-viewport-height;
      padding-left: $gl-spacing-scale-2;
    }
  }

  .user-profile-nav {
    font-size: 0;
  }

  .fade-right {
    right: 0;
  }

  .fade-left {
    left: 0;
  }

  .activities-block {
    .event-item {
      padding-left: 40px;
    }

    .gl-label-scoped {
      --label-inset-border: inset 0 0 0 1px currentColor;
    }
  }

  @include media-breakpoint-down(xs) {
    .user-profile-nav {
      a {
        margin-right: 0;
      }
    }

    .activities-block {
      .event-item {
        padding-left: 0;
      }
    }
  }
}

.linkedin-icon {
  color: $linkedin;
}

.skype-icon {
  color: $skype;
}

.x-icon {
  color: var(--gl-text-color, $gl-text-color);
}

.discord-icon {
  color: $discord;
}

.mastodon-icon {
  color: $mastodon;
}

.key-created-at {
  line-height: 42px;
}

.key-list-item {
  .key-list-item-info {
    @include media-breakpoint-up(sm) {
      float: left;
    }
  }
}

.ssh-keys-list {
  .last-used-at,
  .expires,
  .key-created-at {
    line-height: 32px;
  }
}

.subkeys-list {
  @include basic-list;

  li {
    padding: 3px 0;
    border: 0;
  }
}

.user-profile {
  position: relative;

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.user-profile-with-sidebar {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr $right-sidebar-width;
    gap: 2rem;
  }
}

.user-profile-sidebar {
  z-index: 2;
}

.user-profile-sidebar,
.user-profile-content {
  min-width: 1px; // grid overflow fix
}

// Home panel show profile sidebar
// information on top
.user-profile {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;

    .user-overview-page.active {
      display: flex;
      flex-wrap: wrap;

      .user-profile-content {
        flex-basis: 100%;
      }
    }

    .user-profile-sidebar {
      order: -1;
      flex-basis: 100%;
    }
  }
}

.provider-btn-group {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid $border-color;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.social-provider-btn-image {
  > img {
    width: 16px;
    vertical-align: inherit;
  }
}

.provider-btn-image {
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid $border-color;

  > img {
    width: 20px;
  }
}

.provider-btn {
  display: inline-block;
  padding: 5px 10px;
  margin-left: -3px;
  line-height: 22px;
  background-color: var(--gl-gray-10);
}
