@import 'mixins_and_variables_and_functions';

.release-block {
  transition: background-color 1s linear;
}

.release-block-milestone-info {
  .milestone-progress-bar-container {
    width: 300px;
    min-height: 46px;
  }
}

.release-tag-selector {
  .popover-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    min-width: $gl-dropdown-width;
    max-width: $gl-dropdown-width;
  }

  .release-tag-list {
    max-height: $dropdown-max-height;
  }
}
