@import 'mixins_and_variables_and_functions';

.terms {
  .with-system-header &,
  .with-system-header.with-performance-bar &,
  .with-performance-bar & {
    margin-top: 0;
  }

  .terms-fade {
    background: linear-gradient(rgba($white, 0), $white);

    .gl-dark & {
      background: linear-gradient(rgba($gray-900, 0), $gray-900);
    }
  }

  .content {
    padding-top: $gl-padding;
  }

  .gl-card {
    .gl-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: $line-height-base;

      .nav li {
        float: none;
      }
    }

    .panel-content {
      padding: $gl-padding;

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    .footer-block {
      margin: 0;
    }
  }
}
