@import 'mixins_and_variables_and_functions';

/**
 * Dashboard Todos
 *
 */

.todos-list > .todo {
  // workaround because we cannot use border-collapse
  border-top: 1px solid transparent;

  &:hover {
    background-color: var(--blue-50, $blue-50);
    border-color: var(--blue-200, $blue-200);
    cursor: pointer;
  }

  // overwrite border style of .content-list
  &:last-child {
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: var(--blue-200, $blue-200);
    }
  }

  &.todo-pending.done-reversible {
    &:hover {
      border-color: var(--border-color, $border-color);
      background-color: var(--gray-50, $gray-50);
      border-top: 1px solid transparent;

      .todo-avatar,
      .todo-item {
        opacity: 0.6;
      }
    }

    .todo-avatar,
    .todo-item {
      opacity: 0.2;
    }

    .btn {
      background-color: var(--gray-50, $gray-50);
    }
  }
}

.todo-item {
  @include transition(opacity);

  .status-box {
    line-height: inherit;
  }

  .todo-label,
  .todo-project {
    a {
      color: var(--blue-600, $blue-600);
    }
  }

  .todo-body {
    p {
      color: var(--gl-text-color, $gl-text-color);
    }

    pre {
      border: 0;
      background: var(--gray-50, $gray-50);
      border-radius: 0;
      color: var(--gray-500, $gray-500);
      margin: 0 20px;
      overflow: hidden;
    }

    .note-image-attach {
      margin-top: 4px;
      margin-left: 0;
      max-width: 200px;
      float: none;
    }

    .gl-label-scoped {
      --label-inset-border: inset 0 0 0 1px currentColor;
    }

    @include media-breakpoint-down(sm) {
      border-left: 2px solid var(--border-color, $border-color);
      padding-left: 10px;
    }
  }
}
