@import 'mixins_and_variables_and_functions';

.user-search-btn {
  top: 1px;
  @apply gl-text-disabled;
  background: transparent;
  border: 0;
  outline: 0;
}

.content-list.members-list li {
  display: flex;
  justify-content: space-between;

  .list-item-name {
    float: none;
    display: flex;
    flex: 1;
  }
}

.card-body .user-info {
  float: left;

  .user {
    @apply gl-text-default;
    font-weight: $gl-font-weight-bold;
  }
}
