- page_title 'Labels'

.top-area.adjust
  .nav-text
    Labels can be applied to issues and merge requests.

  .nav-controls
    = link_to new_admin_label_path, class: 'btn btn-new' do
      New label

.labels
  .global-labels
    %h5
      = icon('globe')
      Global Labels
    %ul.content-list.manage-labels-list.js-global-labels
      - if @labels.present?
        = render @labels
    = paginate @labels, theme: 'gitlab'
    - if @labels.blank?
      .nothing-here-block
        There are no labels yet
