- add_to_breadcrumbs _("Labels"), admin_labels_path
- breadcrumb_title _("New label")
- page_title _("New Label")

= render ::Layouts::PageHeadingComponent.new(_('New label'))
= render 'shared/labels/form', url: admin_labels_path, back_path: admin_labels_path
