%div.wall-page
  %ul.well-list.notes
  .notes-busy.js-notes-busy

  .js-main-target-form
  - if can? current_user, :write_note, @project
    = render "notes/form"

:javascript
  $(function(){
    Wall.init(#{@project.id});
  });
