.services-installation-info
  - unless integration.activated?
    .row
      .col-sm-9.offset-sm-3
        = link_to new_project_mattermost_path(@project), class: 'btn gl-button btn-lg' do
          = custom_icon('mattermost_logo', size: 15)
          = s_("MattermostService|Add to Mattermost")
