%p This is page with preview for all system emails that are sent to user
%p Email previews built based on existing Project/Commit/Issue base - so some preview maybe unavailable unless object appear in system

#accordion
  %h3
    %a New user
  %div
    %iframe{ :src=> admin_mailer_preview_user_new_path, :width=>"100%", :height=>"350"}
  %h3
    %a New issue
  %div
    %iframe{ :src=> admin_mailer_preview_issue_new_path, :width=>"100%", :height=>"350"}
  %h3
    %a Commit note
  %div
    %iframe{ :src=> admin_mailer_preview_note_path(:type => "Commit"), :width=>"100%", :height=>"350"}
  %h3
    %a Issue note
  %div
    %iframe{ :src=> admin_mailer_preview_note_path(:type => "Issue"), :width=>"100%", :height=>"350"}
  %h3
    %a Wall note
  %div
    %iframe{ :src=> admin_mailer_preview_note_path(:type => "Wall"), :width=>"100%", :height=>"350"}

:javascript
  $(function() {
      $( "#accordion" ).accordion(); });
