- @content_class = "limit-container-width" unless fluid_layout
- breadcrumb_title _('Serverless')
- page_title _('Serverless')
- status_path = project_serverless_functions_path(@project, format: :json)
- clusters_path = project_clusters_path(@project)

.serverless-functions-page.js-serverless-functions-page{ data: { status_path: status_path,
  installed: @installed,
  clusters_path: clusters_path,
  help_path: help_page_path('user/project/clusters/serverless/index'),
  empty_image_path: image_path('illustrations/empty-state/empty-serverless-lg.svg') } }

.js-serverless-survey-banner{ data: { user_name: current_user.name, user_email: current_user.email } }

.js-serverless-functions-notice
  .flash-container

.top-area.adjust.d-flex.justify-content-center.gl-border-none
  .serverless-functions-table#js-serverless-functions
