- is_project_overview = local_assigns.fetch(:is_project_overview, false)

.nav-block.activities.gl-static
  = render 'shared/event_filter'
  .controls.gl-flex
    = link_button_to nil, project_path(@project, rss_url_options), title: s_("ProjectActivityRSS|Subscribe"), class: '!gl-hidden sm:!gl-inline-flex has-tooltip', icon: 'rss'
    - if is_project_overview && can?(current_user, :download_code, @project)
      .project-code-holder.gl-hidden.md:gl-inline-flex.gl-ml-2
        = render "projects/buttons/code", dropdown_class: 'dropdown-menu-right', ref: @ref

.content_list.project-activity{ :"data-href" => activity_project_path(@project) }
.loading
  = render Pajamas::SpinnerComponent.new(size: :md)
