%div{ class: container_class }
  .nav-block.activity-filter-block.activities
    .controls
      = link_to project_path(@project, rss_url_options), title: s_("ProjectActivityRSS|Subscribe"), class: 'btn rss-btn has-tooltip' do
        = icon('rss')

    = render 'shared/event_filter'

  .content_list.project-activity{ :"data-href" => activity_project_path(@project) }
  = spinner
