= render 'projects/last_push'
.gray-content-block.activity-filter-block
  - if current_user
    .pull-right
      = link_to namespace_project_path(@project.namespace, @project, format: :atom, private_token: current_user.private_token), title: "Feed", class: 'btn rss-btn' do
        %i.fa.fa-rss

  = render 'shared/event_filter'
.content_list{:"data-href" => activity_project_path(@project)}
= spinner

:coffeescript
  new Activities()
