#bitbucket_import_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title Import projects from Bitbucket
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": "true" } &times;
      .modal-body
        To enable importing projects from Bitbucket,
        - if current_user.admin?
          as administrator you need to configure
        - else
          ask your GitLab administrator to configure
        = link_to 'OAuth integration', help_page_path("integration/bitbucket")
