%div#bitbucket_import_modal.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 从Bitbucket导入项目
      .modal-body
        启用从Bitbucket导入项目,
        - if current_user.admin?
          您需求
        - else
          您的GitLab管理员需要
        == #{link_to '设置OAuth集成', 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/integration/bitbucket.md'}.
