%div#bitbucket_import_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 从 Bitbucket 导入项目
      .modal-body
        要开启从 Bitbucket 导入项目，
        - if current_user.admin?
          作为管理员你需要配置
        - else
          请求你的 GitLab 管理员去配置
        == #{link_to 'OAuth 集成', help_page_path("integration", "bitbucket")}.
