.file-holder.file
  .file-title
    %i.icon-file
    %span.file_name
      %span.monospace.light #{ref}
      - if local_assigns[:path]
        = ': ' + local_assigns[:path]
  .file-content.code
    %pre.js-edit-mode-pane#editor
      = params[:content] || local_assigns[:blob_data]
    - if local_assigns[:path]
      .js-edit-mode-pane#preview.hide
        .center
          %h2
            %i.icon-spinner.icon-spin
