.form-actions
  = button_tag 'Commit changes', class: 'btn commit-btn js-commit-button btn-create'
  = link_to 'Cancel', cancel_path,
            class: 'btn btn-cancel', data: {confirm: leave_edit_message}

  = render 'shared/projects/edit_information'
