.row-content-block.project-home-empty
  .text-center{ class: container_class }
    %h4
      Customize your workflow!
    %p
      Get started with GitLab by enabling features that work best for your project. From issues and wikis, to merge requests and pipelines, GitLab can help manage your workflow from idea to production!
    - if can?(current_user, :admin_project, @project)
      = link_button_to "Get started", edit_project_path(@project), variant: :confirm
