- if @project.delayed_deletion_ready?
  - if @project.self_deletion_scheduled?
    %p= delete_immediately_project_scheduled_for_deletion_message(@project)
    #js-project-delete-button{ data: project_delete_immediately_button_data(@project, _('Delete project immediately')) }
  - else
    = render 'delete_delayed'
- else
  %p= _('This action will permanently delete this project, including all its resources.')
  #js-project-delete-button{ data: project_delete_immediately_button_data(@project) }
