- return unless Gitlab::CurrentSettings.project_export_enabled?

- project = local_assigns.fetch(:project)
- expanded = Rails.env.test?

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      Export project
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      Export this project with all its related data in order to move your project to a new GitLab instance. Once the export is finished, you can import the file from the "New Project" page.
  .settings-content
    .bs-callout.bs-callout-info
      %p.append-bottom-0
        %p
          The following items will be exported:
        %ul
          %li Project and wiki repositories
          %li Project uploads
          %li Project configuration including web hooks and services
          %li Issues with comments, merge requests with diffs and comments, labels, milestones, snippets, and other project entities
          %li LFS objects
        %p
          The following items will NOT be exported:
        %ul
          %li Job traces and artifacts
          %li Container registry images
          %li CI variables
          %li Any encrypted tokens
    %p
      Once the exported file is ready, you will receive a notification email with a download link, or you can download it from this page.
    - if project.export_project_path
      = link_to 'Download export',  download_export_project_path(project),
              rel: 'nofollow', download: '', method: :get, class: "btn btn-default"
      = link_to 'Generate new export',  generate_new_export_project_path(project),
              method: :post, class: "btn btn-default"
    - else
      = link_to 'Export project', export_project_path(project),
              method: :post, class: "btn btn-default"
