- ref = local_assigns.fetch(:ref) { current_ref }
- project = local_assigns.fetch(:project) { @project }
- add_page_startup_api_call logs_file_project_ref_path(@project, ref, @path, format: "json", offset: 0, ref_type: @ref_type)
- if readme_path = @project.repository.readme_path
  - add_page_startup_api_call project_blob_path(@project, tree_join(@ref, readme_path), viewer: "rich", format: "json")
- add_page_specific_style 'page_bundles/commit_description'

#tree-holder.tree-holder.clearfix.js-per-page.gl-mt-5{ data: { blame_per_page: Gitlab::Git::BlamePagination::PAGINATION_PER_PAGE } }
  .nav-block.gl-display-flex.gl-flex-direction-column.gl-sm-flex-direction-row.gl-align-items-stretch
    = render 'projects/tree/tree_header', tree: @tree

  .info-well.gl-display-none.gl-sm-display-flex.project-last-commit.gl-flex-direction-column.gl-mt-5
    #js-last-commit.gl-m-auto{ data: {ref_type: @ref_type.to_s} }
      = gl_loading_icon(size: 'md')
    - if project.licensed_feature_available?(:code_owners)
      #js-code-owners{ data: { branch: @ref, can_view_branch_rules: can_view_branch_rules?, branch_rules_path: branch_rules_path } }

  - if project.forked?
    #js-fork-info{ data: vue_fork_divergence_data(project, ref) }

  #js-tree-list{ data: vue_file_list_data(project, ref) }
