- ref = local_assigns.fetch(:ref) { current_ref }
- project = local_assigns.fetch(:project) { @project }
- pipeline = local_assigns.fetch(:pipeline, nil)
- is_project_overview = local_assigns.fetch(:is_project_overview, false)
- repository_file_tree_browser_enabled = Feature.enabled?(:repository_file_tree_browser, @project)
- @force_fluid_layout = repository_file_tree_browser_enabled
- unless @skip_logs_tree_loading
  - add_page_startup_api_call logs_file_project_ref_path(@project, ref, @path, format: "json", offset: 0, ref_type: @ref_type&.upcase)
- if readme_path = @project.repository.readme_path
  - add_page_startup_api_call project_blob_path(@project, tree_join(@ref, readme_path), viewer: "rich", format: "json")
- add_page_specific_style 'page_bundles/commit_description'
- add_page_specific_style 'page_bundles/projects'

- if repository_file_tree_browser_enabled
  .gl-flex.navigation-root
    #js-file-browser
    .gl-w-full.gl-min-w-0.gl-pl-4
      #tree-holder.tree-holder.gl-clearfix.js-per-page.gl-mt-4{ data: { blame_per_page: Gitlab::Git::BlamePagination::PAGINATION_PER_PAGE } }
        = render 'projects/tree_content', project: project, ref: ref, pipeline: pipeline, is_project_overview: is_project_overview, tree: @tree, ref_type: @ref_type
- else
  #tree-holder.tree-holder.gl-clearfix.js-per-page.gl-mt-5{ data: { blame_per_page: Gitlab::Git::BlamePagination::PAGINATION_PER_PAGE } }
    = render 'projects/tree_content', project: project, ref: ref, pipeline: pipeline, is_project_overview: is_project_overview, tree: @tree, ref_type: @ref_type
