- project = local_assigns[:project]
- show_failure_alert = project.import_failed? && !project.repository.exists? && can?(current_user, :read_import_error, project)

- if project.import_in_progress? || show_failure_alert
  - content_for :page_level_alert do
    - if project.import_in_progress?
      = render Pajamas::AlertComponent.new(variant: :warning, dismissible: false, title: _('Import in progress'), alert_options: { class: 'gl-mb-3' }) do |c|
        - c.with_body do
          = s_('Import|This project is being imported. Do not make any changes to the project until the import is complete.')
    - elsif show_failure_alert
      = render Pajamas::AlertComponent.new(variant: :danger, dismissible: false, title: s_('Import|The repository could not be imported.'), alert_options: { class: 'gl-mb-3' }) do |c|
        - c.with_body do
          = project.import_state&.last_error
