- if can_invite_members_for_project?(project)
  .js-invite-members-modal{ data: { id: project.id,
    name: project.name,
    is_project: 'true',
    access_levels: ProjectMember.access_level_roles.to_json,
    default_access_level: Gitlab::Access::GUEST,
    help_link: help_page_url('user/permissions') } }
