- issue = local_assigns.fetch(:issue)

- if issue.time_estimate > 0
  %span.issuable-estimate.gl-hidden.sm:gl-inline-block.has-tooltip{ data: { container: 'body' }, title: _('Estimate') }
    &nbsp;
    = sprite_icon('timer', css_class: 'issue-estimate-icon')
    = Gitlab::TimeTrackingFormatter.output(issue.time_estimate)
