- cls = 'btn'
- cls += ' disabled' unless signed_in
%span{class: starred ? 'turn-on' : 'turn-off'}
  = link_to toggle_star_project_path(@project), title: title,
      class: cls, method: :post, remote: true, data: {type: 'json'} do
    %span.toggle<>
      %i.icon-star
      - if starred
        Unstar
      - else
        Star
    %span.count<>
      = @project.star_count
