.md-area
  .md-header
    %ul.nav-links.clearfix
      %li.active
        %a.js-md-write-button{ href: "#md-write-holder", tabindex: -1 }
          Write
      %li
        %a.js-md-preview-button{ href: "#md-preview-holder", tabindex: -1 }
          Preview

      - if defined?(@issue) && @issue.confidential?
        %li.confidential-issue-warning
          = icon('warning')
          %span This is a confidential issue. Your comment will not be visible to the public.
          
      %li.pull-right

        %a.btn.btn-xs.js-md{ 'data-md-tag' => '**' }
          =icon('bold fw')
        %a.btn.btn-xs.js-md{ 'data-md-tag' => '*' }
          =icon('italic fw')
        %a.btn.btn-xs.js-md{ 'data-md-tag' => '`' }
          =icon('code fw')
        %a.btn.btn-xs.js-md.js-list{ 'data-md-tag' => '* ', 'data-md-prepend' => true }
          =icon('list-ul fw')
        %a.btn.btn-xs.js-md.js-list.hidden-xs{ 'data-md-tag' => '1. ', 'data-md-prepend' => true }
          =icon('list-ol fw')
        %a.btn.btn-xs.js-md.js-list.hidden-xs{ 'data-md-tag' => '* [ ] ', 'data-md-prepend' => true }
          =icon('check-square-o fw')
        %a.btn.btn-xs.js-md.js-list.hidden-xs{ 'data-md-tag' => '> ', 'data-md-prepend' => true }
          =icon('quote-right fw')

        %a.btn.btn-xs.js-md.js-list.hidden-xs{ 'data-md-tag' => '!', 'data-md-prepend' => true }
          =icon('tasks fw')
        %a.btn.btn-xs.js-md.js-list.hidden-xs{ 'data-md-tag' => '#', 'data-md-prepend' => true }
          =icon('exclamation-circle fw')

        %a.btn.btn-xs.js-zen-enter.hidden-xs
          =icon('arrows-alt fw')

  .md-write-holder
    = yield
  .md.md-preview-holder.js-md-preview.hide{class: (preview_class if defined?(preview_class))}

  - if defined?(referenced_users) && referenced_users
    %div.referenced-users.hide
      %span
        = icon('exclamation-triangle')
        You are about to add
        %strong
          %span.js-referenced-users-count 0
          people
        to the discussion. Proceed with caution.
