.md-area
  .md-header
    %ul.nav-links
      %li.active
        %a.js-md-write-button{ href: "#md-write-holder" }
          Write
      %li
        %a.js-md-preview-button{ href: "#md-preview-holder" }
          Preview
      %li.pull-right
        %button.zen-cotrol.zen-control-full.js-zen-enter{ type: 'button' }
          Go full screen

  .md-write-holder
    = yield
  .md.md-preview-holder.js-md-preview.hide{class: (preview_class if defined?(preview_class))}

  - if defined?(referenced_users) && referenced_users
    %div.referenced-users.hide
      %span
        = icon('exclamation-triangle')
        You are about to add
        %strong
          %span.js-referenced-users-count 0
          people
        to the discussion. Proceed with caution.
