%ul.nav.nav-tabs
  %li.active
    = link_to '#md-write-holder', class: 'js-md-write-button' do
      Write
  %li
    = link_to '#md-preview-holder', class: 'js-md-preview-button',
        data: { url: markdown_preview_project_path(@project) } do
      Preview
%div
  .md-write-holder
    = yield
  .md-preview-holder.hide
    .js-md-preview
