.md-area
  .md-header.clearfix
    %ul.nav-links.pull-left
      %li.active
        %a.js-md-write-button{ href: "#md-write-holder" }
          Write
      %li
        %a.js-md-preview-button{ href: "#md-preview-holder" }
          Preview
    .pull-right
      %a.zen-cotrol.js-zen-enter{ href: "#" }
        Go full screen

  .md-write-holder
    = yield
  .md.md-preview-holder.hide
    .js-md-preview{class: (preview_class if defined?(preview_class))}

  - if defined?(referenced_users) && referenced_users
    %div.referenced-users.hide
      %span
        = icon('exclamation-triangle')
        You are about to add
        %strong
          %span.js-referenced-users-count 0
          people
        to the discussion. Proceed with caution.
