.merge-requests-feature
  %fieldset.builds-feature
    %hr
    %h5.prepend-top-0
      Merge Requests
    .form-group
      .checkbox
        = f.label :only_allow_merge_if_build_succeeds do
          = f.check_box :only_allow_merge_if_build_succeeds
          %strong Only allow merge requests to be merged if the build succeeds
          %br
          %span.descr
            Builds need to be configured to enable this feature.
            = link_to icon('question-circle'), help_page_path('user/project/merge_requests/merge_when_build_succeeds', anchor: 'only-allow-merge-requests-to-be-merged-if-the-build-succeeds')
