- form = local_assigns.fetch(:form)

%fieldset.features.merge-requests-feature.append-bottom-default
  %hr
  %h5.prepend-top-0
    Merge Requests

<<<<<<< HEAD
  = render 'projects/ee/merge_request_settings', form: form, project: @project

=======
>>>>>>> ce/master
  = render 'projects/merge_request_merge_settings', form: form
