%fieldset.builds-feature
  %h5.prepend-top-0
    Merge Requests
  .form-group
    .checkbox
      = f.label :only_allow_merge_if_build_succeeds do
        = f.check_box :only_allow_merge_if_build_succeeds
        %strong Only allow merge requests to be merged if the build succeeds
      .help-block
        Builds need to be configured to enable this feature.
        = link_to icon('question-circle'), help_page_path('workflow/merge_requests', anchor: 'only-allow-merge-requests-to-be-merged-if-the-build-succeeds')
