- form = local_assigns.fetch(:form)

<<<<<<< HEAD
= render 'projects/ee/merge_request_settings', form: form, project: @project

=======
>>>>>>> ce-com/master
= render 'projects/merge_request_merge_settings', form: form
