.form-group.import-url-data
  = f.label :import_url, class: 'control-label' do
    %span GitLab export file
  .col-sm-10
    = f.file_field :file, class: ''

    .well.prepend-top-20
      The project must have a valid Gitlab export format