- f ||= local_assigns[:f]

.project-templates-buttons.import-buttons.col-sm-12
  = render 'projects/project_templates/built_in_templates'

.project-fields-form
  = render 'projects/project_templates/project_fields_form'
  = render 'projects/new_project_fields', f: f, project_name_id: "template-project-name"
