
.btn-group.project-templates-buttons{ data: { toggle: "buttons" }}
  %label.btn.active
    %input{ type: "radio",  autocomplete: "off", name: "project_templates" }
    = icon('file-o')
    Blank
  - Gitlab::ProjectTemplate.all.each do |template|
    -# The title should be the value posted to the controller, a pretty name to print would be
    -# template.name
    %label.btn
      %input{ type: "radio",  autocomplete: "off", name: "project_templates" }
      = image_tag(template.logo_path)
      = template.title

