%div.top_project_menu
  %span= link_to 'All', projects_path, :class => current_page?(projects_path) ? "current" : nil
  %span= link_to "New Project", new_project_path, :class => current_page?(:controller => "projects", :action => "new") ? "current" : nil
  %span.right
    = link_to_function(image_tag("list_view_icon.jpg"), "switchProjectView()", :style => "border:none;box-shadow:none;")

:javascript
  function switchProjectView(){
    $(".tile").toggle();
    $(".list").toggle();
    if($(".tile").is(":visible")){
      $.cookie('project_view', 'tile', { expires: 14 });
    } else { 
      $.cookie('project_view', 'list', { expires: 14 });
    }
  }
