- return unless can?(current_user, :remove_project, project)

.sub-section
  %h4.danger-title= _('Delete project')
  %p
    %strong= _('Deleting the project will delete its repository and all related resources, including issues and merge requests.')
    = link_to _('Learn more.'), help_page_path('user/project/settings/index', anchor: 'removing-a-fork-relationship'), target: '_blank', rel: 'noopener noreferrer'
  %p
    %strong= _('Deleted projects cannot be restored!')
  #js-project-delete-button{ data: { form_path: project_path(project), confirm_phrase: project.path } }
