- return unless project.self_monitoring?

= content_for :page_level_alert do
  .flash-container.flash-container-page.sticky
    %div{ class: [container_class, 'limit-container-width', 'gl-pt-5!'] }
      = render Pajamas::AlertComponent.new(title: _('Deprecation notice'),
        variant: :danger,
        alert_options: { class: 'gl-mb-3 gl-sticky' }) do |c|
        = c.body do
          - deprecation_link = '<a href="%{url}">'.html_safe % { url: help_page_path('update/deprecations', anchor: 'gitlab-self-monitoring-project') }
          - removal_link = '<a href="%{url}">'.html_safe % { url: 'https://gitlab.com/gitlab-org/gitlab/-/issues/348909' }
          - opstrace_link = '<a href="%{url}">'.html_safe % { url: 'https://gitlab.com/groups/gitlab-org/-/epics/6976' }
          = _("Self-monitoring was %{deprecation}deprecated%{link_end} in GitLab 14.9, and is %{removal}scheduled for removal%{link_end} in GitLab 16.0. For information on a possible replacement, %{opstrace}learn more about Opstrace%{link_end}.").html_safe % { deprecation: deprecation_link, removal: removal_link, opstrace: opstrace_link, link_end: '</a>'.html_safe }
