- anchors = local_assigns.fetch(:anchors, [])

- if anchors.size > 0
  %ul.nav
    - anchors.each do |anchor|
      %li
        - if anchor.link
          = link_to anchor.link, class: anchor.enabled ? 'stat-link' : "btn btn-#{anchor.class_modifier || 'missing'}" do
            = anchor.label
        - else
          %span.stat-text
            = anchor.label
