- anchors = local_assigns.fetch(:anchors, [])
- project_buttons = local_assigns.fetch(:project_buttons, false)
- ff_reorg_enabled = Feature.enabled?(:project_overview_reorg)

- return unless anchors.any?

%ul.nav.gl-row-gap-2.gl-column-gap-5
  - anchors.each do |anchor|
    %li.nav-item
      = link_to_if(anchor.link, anchor.label, anchor.link, stat_anchor_attrs(anchor)) do
        .stat-text.d-flex.align-items-center{ class: "#{'btn gl-button btn-default disabled' if project_buttons} #{'gl-px-0! gl-pb-2!' if ff_reorg_enabled}" }= anchor.label
