%table.admin-table
  %thead
    %tr
      %th User
      %th Permissions
  %tbody
    - @project.users_projects.each do |up|
      = render(partial: 'team_members/show', locals: {member: up})


:javascript
  $(function(){
    $('select.team_member_project_access').chosen();
    $('select.team_member_project_access').on('change', function() {
      $(this.form).submit();
    });
  })
