%ul.media-grid
  - @project.users_projects.each do |up|
    = render(:partial => 'team_members/show', :locals => {:member => up})

:javascript
  $(function(){
    $('#team-table .repo-access-select, #team-table .project-access-select').live("change", function() { 
      $(this.form).submit();
    });
  })

  /* 
  $('.delete-team-member').live('ajax:success', function() {
    $(this).closest('tr').fadeOut(); });
  */
