- if show_terraform_banner?(project)
  .container-fluid.container-limited
    .js-terraform-notification{ data: { terraform_image_path: image_path('illustrations/third-party-logos/ci_cd-template-logos/terraform.svg') } }
