- @projects.in_groups_of(3, false) do |projects|
  - projects.each_with_index do |project, i|
    %div.grid_1.projects_selector
      %div{ :class => "project-box ui-box ui-box-big" }
        = link_to project_path(project) do 
          %h3= project.name
        .data
          %p.title.repository.git_url_wrapper
            %span Repository:
            %input{ :value => project.url_to_repo, :class => ['git-url', 'one_click_select', 'text', 'project_list_url'], :readonly => 'readonly' }
          %p.title.activity
            %span Last Activity:
            - last_note = project.notes.last
            = last_note ? last_note.created_at.stamp("24 Aug, 2011") : "Never"

          %p.small-tags= tag_list project

        .buttons
          %a.browse-code.button.yellow{:href => tree_project_path(project)} Browse code
          %a.commits.button.green{:href => project_commits_path(project)} Commits
