- if can_change_visibility_level?(@project, current_user)
  = form.select(model_method, visibility_select_options(@project, selected_level), {}, class: 'form-control visibility-select')
- else
  .info.js-locked{ data: { help_block: visibility_level_description(@project.visibility_level, @project) } }
    = visibility_level_icon(@project.visibility_level)
    %strong
      = visibility_level_label(@project.visibility_level)
