.zennable
  %input#zen-toggle-comment.zen-toggle-comment(tabindex="-1" type="checkbox")
  .zen-backdrop
    - classes << ' js-gfm-input markdown-area'
    - if defined?(f) && f
      = f.text_area attr, class: classes, placeholder: ''
    - else
      = text_area_tag attr, nil, class: classes, placeholder: ''
    %a.zen-enter-link(tabindex="-1" href="#")
      = icon('expand')
      Edit in fullscreen
    %a.zen-leave-link(href="#")
      = icon('compress')
