- if @project.saved?
  - if @project.import?
    :plain
      location.href = "#{import_project_path(@project)}";
  - else
    :plain
      location.href = "#{project_path(@project)}";
- else
  :plain
    $(".project-edit-errors").html("#{escape_javascript(render('errors'))}");
    $('.project-submit').enable();
    $('.save-project-loader').hide();
    $('.project-edit-container').show();
