- if @project.valid?
  :plain
    location.href = "#{project_path(@project, :notice => 'Project was successfully created.')}";
- else
  :plain
    $("#new_project").replaceWith("#{escape_javascript(render('form'))}");
    $('.ajax_loader').hide();
