= render "project_head"
.project_edit_holder
  %h3.page_title Edit Project
  %hr
  = render "projects/form"
%div.save-project-loader.hide
  %center
    = image_tag "ajax_loader.gif"
    %h3 Saving project. Please wait a few minutes

:javascript
  $(function(){ new Projects(); });
