= render "project_head"
- unless @notes.empty?
  %table
    %thead
      %tr
        %th File name
        %th

    - @notes.each do |note|
      %tr
        %td
          %a{href: note.attachment.url}
            = image_tag gravatar_icon(note.author_email), class: "avatar s24"
            = note.attachment_identifier
        %td
          Added
          = time_ago_in_words(note.created_at)
          ago
- else
  %p.slead All files attached to project wall, issues etc will be displayed here


