%h3.page_title Project Network Graph
%br
.graph_holder
  %h4
    %small You can move around the graph by using the arrow keys.
  #holder.graph

:javascript
  var commits = #{@commits_json}
    , days = #{@days_json};
  var branch_graph = new BranchGraph(days, commits);
  $(function(){
    branch_graph.buildGraph($("#holder")[0]);
    GraphNav.init();
  });
