- content_for(:body_class, "projects-page")
.container_4
  .grid_4
    - if current_user.can_create_project?
      %a.grey-button.right{:href => new_project_path} Create new project
    %h2.icon
      %span
      Projects

  %div.clear
  - unless @projects.empty?
    %div{:class => "tile"}
      = render "tile"

    -# If projects requris paging
    -# We add ajax loader & init script
    - if @projects.count == @limit
      .clear
      .loading{ :style => "display:none;"}
        %center= image_tag "ajax-loader.gif"

      :javascript
        $(function(){
          ProjectsList.init(16);
        });
  - else
    %center.prepend-top
      %h2
        %cite Nothing here
