%h3 Projects
%hr
- unless @projects.empty?
  %div.tile= render "tile"

  -# If projects requris paging
  -# We add ajax loader & init script
  - if @projects.count == @limit
    .loading{ :style => "display:none;"}
      %center= image_tag "ajax-loader.gif"

    :javascript
      $(function(){
        ProjectsList.init(16);
      });
- else
  %h2 Nothing here
