- content_for(:page_title) do
  .grid-4
    %h2.icon
      - if current_user.can_create_project?
        %a.grey-button.right{:href => new_project_path} Create new project
      %span
      Projects

- unless @projects.empty?
  %div{:class => "tile", :style => view_mode_style("tile")}
    = render "tile"
  %div{:class => "list", :style => view_mode_style("list")}
    = render "list"
- else
  %center.prepend-top
    %h2
      %cite Nothing here
