.left.width-49p
  =render "projects/recent_commits"

.right.width-49p
  =render "projects/recent_messages"

:javascript
  function updateDashboard(){
    $('.project-content').load("#{escape_javascript(project_path(@project))} .project-content>*");
  }
  setInterval("updateDashboard()", 300000);
