- content_for(:body_class, "project-page dashboard")

= render "project_head"
#news-feed.news-feed
  .project-box.project-updates
    - @activities.each do |update|
      = render "projects/feed", :update => update, :project => @project

:javascript
  function updateDashboard(){
    $('.project-content').load("#{escape_javascript(project_path(@project))} .project-content>*");
  }
  setInterval("updateDashboard()", 300000);
