- if @project.valid?
  :plain
    location.href = "#{edit_project_path(@project)}";
- else
  :plain
    $(".project-edit-errors").html("#{escape_javascript(render('errors'))}");
    $('.save-project-loader').hide();
    $('.project-edit-container').show();
    $('.edit-project .js-btn-save-general-project-settings').enable();
