- if @project.valid?
  :plain
    location.href = "#{project_path(@project, :notice => 'Project was successfully updated.')}";
- else
  :plain
    $(".edit_project").replaceWith("#{escape_javascript(render('form'))}");
