- if @project.valid?
  :plain
    location.href = "#{edit_namespace_project_path(@project.namespace, @project)}";
- else
  :plain
    $('.save-project-loader').hide();
    $('.project-edit-container').show();
    $('.edit-project .btn-save').enable();
