%button.position-absolute.gl-top-3.gl-right-0.gl-translate-y-n50.gl-cursor-default.btn.btn-default.btn-sm.gl-button.btn-default-tertiary.js-cascading-settings-lock-popover-target{ class: 'gl-p-1! gl-text-gray-600! gl-bg-transparent!',
  type: 'button',
  data: cascading_namespace_settings_popover_data(attribute, group, settings_path_helper) }
  = sprite_icon('lock', size: 16)
