- attribute = local_assigns.fetch(:attribute, nil)
- group = local_assigns.fetch(:group, nil)
- settings_path_helper = local_assigns.fetch(:settings_path_helper, nil)
- setting_locked = local_assigns.fetch(:setting_locked, false)
- help_text = local_assigns.fetch(:help_text, nil)

- return unless attribute && group && settings_path_helper

%legend.h5.gl-border-none.gl-m-0
  = render 'shared/namespaces/cascading_settings/setting_label_container' do
    = yield
    - if setting_locked
      = render 'shared/namespaces/cascading_settings/lock_icon', local_assigns
- if help_text
  %p.gl-text-gray-500
    = help_text
