%span.btn-group
  = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'zip'), class: 'btn btn-default', rel: 'nofollow' do
    %span Source code
  %a.btn.btn-default.dropdown-toggle{ 'data-toggle' => 'dropdown' }
    %span.caret
    %span.sr-only
      Select Archive Format
  %ul.dropdown-menu.dropdown-menu-align-right{ role: 'menu' }
    %li
      = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'zip'), rel: 'nofollow' do
        %span Download zip
    %li
      = link_to archive_namespace_project_repository_path(project.namespace, project, ref: ref, format: 'tar.gz'), rel: 'nofollow' do
        %span Download tar.gz
