- release_btn_text = s_('TagsPage|Create release')
- release_btn_path = new_project_release_path(project, tag_name: tag.name)
- option_css_classes = local_assigns.fetch(:option_css_classes, '')
- if release
  - release_btn_text = s_('TagsPage|Edit release')
  - release_btn_path = edit_project_release_path(project, release)
= render Pajamas::ButtonComponent.new(href: release_btn_path, button_options: { class: option_css_classes }) do
  = release_btn_text
