- if can?(current_user, :read_release, release)
  %span
    = sprite_icon("rocket", size: 12, css_class: "gl-text-secondary")
    = _("Release:")
    = link_to release.name, project_release_path(project, release), class: "!gl-text-link"
