- emails_disabled = group.emails_disabled?

.gl-responsive-table-row.notification-list-item
  .table-section.section-40
    %span.notification.gl-mr-2
      = notification_icon(notification_icon_level(setting, emails_disabled))

    %span.str-truncated
      = link_to group.name, group_path(group)

  .table-section.section-30.text-right
    - if setting
      .js-vue-notification-dropdown{ data: { disabled: emails_disabled.to_s, dropdown_items: notification_dropdown_items(setting).to_json, notification_level: setting.level, group_id: group.id, container_class: 'gl-mr-3', show_label: "true" } }

  .table-section.section-30
    = form_for setting, url: profile_notifications_group_path(group), method: :put, html: { class: 'update-notifications gl-display-flex' } do |f|
      = f.select :notification_email, @user.public_verified_emails, { include_blank: 'Global notification email' }, class: 'select2 js-group-notification-email'
