- emails_disabled = project.emails_disabled?

%li.notification-list-item
  %span.notification.gl-mr-2
    = notification_icon(notification_icon_level(setting, emails_disabled))

  %span.str-truncated
    = link_to_project(project)

  .float-right
    = render 'shared/notifications/button', notification_setting: setting, emails_disabled: emails_disabled
