%li.notification-list-item
  %span.notification.fa.fa-holder.append-right-5
    - if setting.global?
      = notification_icon(current_user.global_notification_setting.level)
    - else
      = notification_icon(setting.level)

  %span.str-truncated
    = link_to_project(project)

  .float-right
    = render 'shared/notifications/button', notification_setting: setting
