- if @project.feature_available?(:audit_events)
  = nav_link(controller: :audit_events) do
    = link_to project_audit_events_path(@project), title: "Audit Events" do
      %span
        Audit Events
