.row.empty-state
  .col-xs-12
    .svg-content
      = image_tag 'illustrations/epics/list.svg'
  .col-xs-12
    .text-content
      %h4
        = _('Epics let you manage your portfolio of projects more efficiently and with less effort')
      %p
        = _('Track groups of issues that share a theme, across projects and milestones')
      - if can?(current_user, :create_epic, @group)
        #new-epic-app{ data: { endpoint: request.url } }
