- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'ee_protected_branches'

- content_for :create_protected_branch do
  = render 'projects/protected_branches/ee/create_protected_branch'

- content_for :branches_list do
  = render "projects/protected_branches/ee/branches_list"

= render 'projects/protected_branches/shared/index'
