.emoji-menu
  .emoji-menu-content
    = text_field_tag :emoji_search, "", class: "emoji-search search-input form-control"
    - AwardEmoji.emoji_by_category.each do |category, emojis|
      %h5= AwardEmoji::CATEGORIES[category]
      %ul
        - emojis.each do |emoji|
          %li
            = emoji_icon(emoji["name"], emoji["unicode"], emoji["aliases"])