- if defined?(@discussions)
  - @discussions.each do |discussion|
    = render discussion.to_partial_path, discussion: discussion
- else
  = render partial: "shared/notes/note", collection: @notes, as: :note
