# If you change this file in a Merge Request, please also create
# a MR on https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests

defaults: &defaults
  gitlab_server:
    url: 'https://gitlab.example.com/' # Replace with your gitlab server url
    app_id: ''
    app_secret: ''

  ## Gitlab CI settings
  gitlab_ci:
    ## Web server settings
    host: localhost
    port: 80
    https: false

    ## Email settings
    # Email address used in the "From" field in mails sent by GitLab-CI
    email_from: gitlab-ci@localhost

    # Email address of your support contact (default: same as email_from)
    support_email: support@localhost

    # Default project notifications settings:
    #
    # Send emails only on broken builds (default: true)
    # all_broken_builds: true
    #
    # Add pusher to recipients list (default: false)
    # add_pusher: true

    # The location where build traces are stored (default: builds/). Relative paths are relative to Rails.root
    # builds_path: builds/

  ## Backup settings
  backup:
    path: "tmp/backups"   # Relative paths are relative to Rails.root (default: tmp/backups/)
    # keep_time: 604800   # default: 0 (forever) (in seconds)
    # upload:
    #   # Fog storage connection settings, see http://fog.io/storage/ .
    #   connection:
    #     provider: AWS
    #     region: eu-west-1
    #     aws_access_key_id: AKIAKIAKI
    #     aws_secret_access_key: 'secret123'
    #   # The remote 'directory' to store your backups. For S3, this would be the bucket name.
    #   remote_directory: 'my.s3.bucket'
    #   # Use multipart uploads when file size reaches 100MB, see
    #   #  http://docs.aws.amazon.com/AmazonS3/latest/dev/uploadobjusingmpu.html
    #   multipart_chunk_size: 104857600


development:
  <<: *defaults

test:
  <<: *defaults
  gitlab_server:
    url: 'http://demo.gitlab.com/'
    app_id: 'id'
    app_secret: 'secret'
  gitlab_ci:
    host: localhost
    port: 80
    https: false

production:
  <<: *defaults
