# # # # # # # # # # # # # # # # # #
# Gitlab application config file  #
# # # # # # # # # # # # # # # # # #

#
# 1. Common settings
# ==========================

# Web application specific settings
web:
  host: localhost
  port: 80
  https: false

# Email used for notification
# about new issues, comments
email:
  from: notify@localhost

# Application specific settings
# Like default project limit for user etc
app:
  default_projects_limit: 10
  # backup_path: "/vol/backups"   # default: Rails.root + backups/
  # backup_keep_time: 604800      # default: 0 (forever) (in seconds)
  # disable_gravatar: true        # default: false - Disable user avatars from Gravatar.com

#
# 2. Advanced settings:
# ==========================

# Git Hosting configuration
git_host:
  admin_uri: git@localhost:gitolite-admin
  base_path: /home/git/repositories/
  # host: localhost
  git_user: git
  upload_pack: true
  receive_pack: true
  # port: 22

# Git settings
# Use default values unless you understand it
git:
  path: /usr/bin/git
  # Max size of git object like commit, in bytes
  # This value can be increased if you have a very large commits
  git_max_size: 5242880 # 5.megabytes
  # Git timeout to read commit, in seconds
  git_timeout: 10
