upstream gitlab {
    server unix:/var/www/gitlabhq/tmp/sockets/gitlab.socket;
}

server {
    listen   80;
    listen   [::]:80;
    listen   443 default ssl;

    # change the server_name to your host
    server_name gitlab.local.host;

    root /var/www/gitlabhq/public;
    ssl on;
    #ssl_certificate        /path/to/my/cert;
    #ssl_certificate_key    /path/to/my/key;


    # individual nginx logs for this gitlab vhost
    access_log  /var/log/nginx/gitlab_access.log;
    error_log   /var/log/nginx/gitlab_error.log;

    if ($ssl_protocol = "") {
       rewrite ^   https://$server_name$request_uri? permanent;
    }

    location / {
    # serve static files from defined root folder;.
    # @gitlab is a named location for the upstream fallback, see below
    try_files $uri $uri/index.html $uri.html @gitlab;
    }

    # if a file, which is not found in the root folder is requested,
    # then the proxy pass the request to the upsteam (gitlab unicorn)
    location @gitlab {
      proxy_redirect     off;
      # you need to change this to "https", if you set "ssl" directive to "on"
      proxy_set_header   X-FORWARDED_PROTO https;
      proxy_set_header   Host              gitlab.local.host:80;
      proxy_set_header   X-Real-IP         $remote_addr;

      proxy_pass http://gitlab;
    }

}
