# # # # # # # # # # # # # # # # # #
# Gitlab application config file  #
# # # # # # # # # # # # # # # # # #

#
# 1. Common settings
# ==========================

# Web application specific settings
web:
  host: localhost
  port: 80
  https: false

# Email used for notification
# about new issues, comments
email:
  from: notify@localhost

# Application specific settings
# Like default project limit for user etc
app:
  default_projects_limit: 10
  # backup_path: "/vol/backups"   # default: Rails.root + backups/
  # backup_keep_time: 604800      # default: 0 (forever) (in seconds)
  # disable_gravatar: true        # default: false - Disable user avatars from Gravatar.com


#
# 2. Auth settings
# ==========================
ldap: 
  enabled: false
  host: '_your_ldap_server'
  base: '_the_base_where_you_search_for_users'
  port: 636
  uid: 'sAMAccountName'
  method: 'ssl' # plain
  bind_dn: '_the_full_dn_of_the_user_you_will_bind_with'
  password: '_the_password_of_the_bind_user'

omniauth:
  # Enable ability for users
  # to login via twitter, google ..
  enabled: false

  # IMPORTANT! 
  # It allows user to login without having user account
  allow_single_sign_on: false
  block_auto_created_users: true

  # Auth providers 
  providers:
    # - { name: 'google_oauth2', app_id: 'YOUR APP ID',
    #     app_secret: 'YOUR APP SECRET',
    #     args: { access_type: 'offline', approval_prompt: '' } }
    # - { name: 'twitter', app_id: 'YOUR APP ID',
    #     app_secret: 'YOUR APP SECRET'}
    # - { name: 'github', app_id: 'YOUR APP ID',
    #     app_secret: 'YOUR APP SECRET' }


#
# 3. Advanced settings:
# ==========================

# Git Hosting configuration
git_host:
  admin_uri: git@localhost:gitolite-admin
  base_path: /home/git/repositories/
  hooks_path: /home/git/.gitolite/hooks/
  gitolite_admin_key: gitlab 
  git_user: git
  upload_pack: true
  receive_pack: true
  # host: localhost
  # port: 22

# Git settings
# Use default values unless you understand it
git:
  path: /usr/bin/git
  # Max size of git object like commit, in bytes
  # This value can be increased if you have a very large commits
  git_max_size: 5242880 # 5.megabytes
  # Git timeout to read commit, in seconds
  git_timeout: 10
