:mailboxes:
  -
    # # IMAP server host
    # :host: "imap.gmail.com"
    # # IMAP server port
    # :port: 993
    # # Whether the IMAP server uses SSL
    # :ssl: true
    # # Email account username. Usually the full email address.
    # :email: "replies@gitlab.example.com"
    # # Email account password
    # :password: "password"
    # # The name of the mailbox where incoming mail will end up. Usually "inbox".
    # :name: "inbox"
    # # Always "sidekiq".
    # :delivery_method: sidekiq
    # # Always true.
    # :delete_after_delivery: true
    # :delivery_options:
    #   # The URL to the Redis server used by Sidekiq. Should match the URL in config/resque.yml.
    #   :redis_url: redis://localhost:6379
    #   # Always "resque:gitlab".
    #   :namespace: resque:gitlab
    #   # Always "incoming_email".
    #   :queue: incoming_email
    #   # Always "EmailReceiverWorker"
    #   :worker: EmailReceiverWorker
