# If you change this file in a merge request, please also create
# a merge request on https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests
#
development:
  url: redis://localhost:6379/13
  #
  # url: redis://localhost:6382
  # sentinels:
  #   -
  #     host: localhost
  #     port: 26382 # point to sentinel, not to redis port
  #   -
  #     host: replica2
  #     port: 26382 # point to sentinel, not to redis port
test:
  url: redis://localhost:6379/13
  #
  # url: redis://localhost:6382
production:
  # Redis (single instance)
  url: unix:/var/run/redis/redis.trace_chunks.sock
  ##
  # Redis + Sentinel (for HA)
  #
  # Please read instructions carefully before using it as you may lose data:
  # http://redis.io/topics/sentinel
  #
  # You must specify a list of a few sentinels that will handle client connection
  # please read here for more information: https://docs.gitlab.com/ee/administration/redis/index.html
  ##
  # url: redis://master:6382
  # sentinels:
  #   -
  #     host: replica1
  #     port: 26382 # point to sentinel, not to redis port
  #   -
  #     host: replica2
  #     port: 26382 # point to sentinel, not to redis port
