---
development:
  chat:
    cluster:
      - redis://localhost:7001
  cache:
    cluster:
      - redis://localhost:7001
  cluster_shared_state:
    cluster:
      - redis://localhost:7001
  feature_flag:
    cluster:
      - redis://localhost:7001
  rate_limiting:
    cluster:
      - redis://localhost:7001

test:
  chat:
    cluster:
      - redis://localhost:7001
  cache:
    cluster:
      - redis://localhost:7001
  cluster_shared_state:
    cluster:
      - redis://localhost:7001
  feature_flag:
    cluster:
      - redis://localhost:7001
  rate_limiting:
    cluster:
      - redis://localhost:7001
