production:
  # db_key_base is used to encrypt for Variables. Ensure that you don't lose it.
  # If you change or lose this key you will be unable to access variables stored in database.
  # Make sure the secret is at least 32 characters and all random,
  # no regular words or you'll be exposed to dictionary attacks.
  # db_key_base:

development:
  db_key_base: development

test:
  db_key_base: test
