.js-groups-list-holder
  %ul.content-list
    - @group_members.each do |group_member|
      = render 'shared/groups/group', group: group_member.group, group_member: group_member

  = paginate @group_members, theme: 'gitlab'
