- page_title "Groups"
- header_title  "Groups", dashboard_groups_path
= render 'dashboard/groups_head'

%ul.content-list
  - @group_members.each do |group_member|
    - group = group_member.group
    = render 'shared/groups/group', group: group, group_member: group_member

= paginate @group_members, theme: 'gitlab'
