- @hide_top_links = true
- page_title "Groups"
- header_title  "Groups", dashboard_groups_path
= render 'dashboard/groups_head'

- if params[:filter].blank? && @groups.empty?
  = render 'shared/groups/empty_state'
- else
  = render 'groups'
