- @hide_top_links = true
- page_title _("Groups")
- header_title _("Groups"), dashboard_groups_path

= render_dashboard_ultimate_trial(current_user)
= render 'dashboard/groups_head'

- if params[:filter].blank? && @groups.empty?
  .empty-state
    = render 'shared/groups/empty_state'
- else
  = render 'groups'
