.commit-head {
  @extend .well;
  @extend .clearfix;

  padding: 14px;
  padding-bottom: 8px;
  line-height: 24px;

  .browse-button {
    @extend .btn;
    @extend .btn-small;
    float: right;
  }

  .commit-title {
    line-height: 26px;
  }

  .commit-description {
    background-color: white;
  }

  .sha-block {
    float: right;
    margin-left: 10px
  }

  &.merge-commit .sha-block {
    clear: right;
  }

  .committer {
    padding-left: 32px;
  }

  .avatar {
    margin-right: 4px;
  }
}