.commit-head {
  @extend .main_box;

  padding: 14px;
  padding-bottom: 8px;
  line-height: 24px;

  .browse-button {
    @extend .btn;
    @extend .btn-small;
    float: right;
  }

  .commit-title {
    line-height: 26px;
  }

  .commit-description {
    font-size: 14px;
    padding: 0px;
    padding-bottom: 4px;
    border: none;
    background-color: white;
  }

  .commit-info {
    @extend .middle_box_content;
    @extend .clearfix;

    padding-bottom: 8px;
    padding-top: 8px;

    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -8px;

    .author .name, .committer .name {
      font-weight: bold;
    }
  }

  .sha-block {
    float: right;
    margin-left: 10px
  }

  &.merge-commit .sha-block {
    clear: right;
  }

  .committer {
    padding-left: 32px;
  }

  .avatar {
    margin-right: 4px;
  }
}