.file-editor {
  #editor{
    border: none;
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .editor-commit-comment {
    padding-top:20px;
    textarea {
      width: 50%;
      margin-left: 20px;
    }
  }
}
