/**
 * Events labels
 *
 */
.event_label {
  &.pushed {
    padding: 0 2px;
  }

  &.opened {
    padding: 0 2px;
  }

  &.closed {
    padding: 0 2px;
  }

  &.merged {
    padding: 0 2px;
  }

  &.left,
  &.joined {
    padding: 0 2px;
    float: none;
  }
}

/**
 * Dashboard events feed
 *
 */
.event-item {
  border-bottom: 1px solid #eee;
  .event-title {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    .author_name {
      color: #333;
    }
  }
  .event-body {
    .commit p {
      color: #666;
      padding-top: 5px;
    }
    .event-info {
      color: #666;
    }
    .event-note {
      color: #555;
      margin-top: 5px;
      margin-left: 40px;

      pre {
        border: none;
        background: #f9f9f9;
        border-radius: 0;
        color: #555;
        margin: 0 20px;
      }

      .note-file-attach {
        .note-image-attach {
          margin-top: 4px;
          margin-left: 0px;
          max-width: 200px;
        }
      }
    }
    .event-note-icon {
      color: #777;
      float: left;
      font-size: 16px;
      line-height: 16px;
      margin-right: 5px;
    }
  }
  .avatar {
    position: relative;
    top: -3px;
  }
  .event_icon {
    position: relative;
    float: right;
    border: 1px solid #EEE;
    padding: 5px;
    @include border-radius(5px);
    background: #F9F9F9;
    margin-left: 10px;
    top: -6px;
    img {
      width: 20px;
    }
  }
  ul {
    margin-left: 50px;
    margin-bottom: 5px;
    .avatar {
      width: 18px;
      margin-top: 3px;
    }
  }

  padding: 16px 5px;
  &:last-child { border:none }

  .event_commits {
    margin-top: 5px;

    li {
      &.commit {
        background: transparent;
        padding: 3px;
        border: none;
        font-size: 12px;
      }
      &.commits-stat {
        display: block;
        margin-top: 5px;
      }
    }
  }
}

/**
 * Push event widget
 *
 */
.event_lp {
  color: #777;
  padding: 10px;
  min-height: 22px;
  border-left: 5px solid $primary_color;
  margin-bottom: 20px;
  background: #f9f9f9;

  .avatar {
    width: 24px;
  }

  .btn-new-mr {
    @extend .btn-primary;
    @extend .small;
    @extend .pull-right;
    margin: -2px;
  }
}

/**
 * Event filter
 *
 */
.event_filter {
  position: absolute;
  width: 40px;
  margin-left: -55px;

  .filter_icon {
    a {
      text-align:center;
      border-left: 3px solid $primary_color;
      background: #f9f9f9;
      margin-bottom: 10px;
      float: left;
      padding: 9px 7px;
      font-size: 18px;
      width: 26px;
    }

    &.inactive {
      a {
        color: #DDD;
        border-left: 3px solid #EEE;
      }
    }
  }
}
