.graph_holder { 
  border: 1px solid #aaa;
  padding: 1px;


  h4 { 
    padding: 0 10px;
    border-bottom: 1px solid #bbb;
    @include bg-gray-gradient;
  }

  .graph { 
    background: #f1f1f1;
    cursor: move;
    height: 70%;
    overflow: hidden;
  }
}

