.projects {
  @extend .row;
  .activities {
  }

  .side {
    @extend .right;

    .groups_box {
      > .title {
        padding: 2px 15px;
      }
      .well-list {
        li { padding: 15px; }
        .edit {
          float: right;
          margin: 0;
        }
        .description {
          padding-top: 5px;
          display: block;
          span, strong {
            font-size: 12px;
            color: #666;
          }
        }
      }
      @extend .ui-box;
    }
  }
}
