.issues-list {
  .issue {
    padding: 10px;
    position: relative;

    .issue-title {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .issue-info {
      color: #999;
    }

    .issue-check {
      float: left;
      padding: 8px 0;
      padding-right: 8px;
      min-width: 15px;
    }

    .issue-labels {
      display: inline-block;
    }

    .issue-actions {
      display: none;
      position: absolute;
      top: 10px;
      right: 2px;
    }

    &:hover {
      .issue-actions {
        display: block;
      }
    }
  }
}

input.check_all_issues {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  position: relative;
  top: 13px;
}

.issues_content {
  .title {
    height: 40px;
  }

  form {
    margin: 0;
  }
}

.btn.close_issue {
  color: #B94A48;
  font-weight: bold;
  @include shade;
  &:hover {
    color: #B94A48;
  }
}
.btn.reopen_issue {
  color: #468847;
  font-weight: bold;
  @include shade;
  &:hover {
    color: #468847;
  }
}

@media (min-width: 800px)  { .issues_filters select { width: 160px; }  }
@media (min-width: 1200px) { .issues_filters select { width: 220px; }  }

@media (min-width: 800px)  { .issues_bulk_update select { width: 120px; }  }
@media (min-width: 1200px) { .issues_bulk_update select { width: 160px; }  }

.issues-holder {
  .issues_filters {
  }

  .issues_bulk_update {
    margin: 0;
    form {
      float:left;
    }

    .update_selected_issues {
      margin-left: 4px;
    }
  }
}

#update_status {
  width: 100px;
}

.participants {
  margin-bottom: 10px;
}
