.issue-form-box {
  @extend .main-box;
  .issue-title {
    @extend .top-box-content;
    .clearfix {
      margin-bottom: 0px;
      input {
        @extend .span8;
      }
    }
  }
  .issue-middle-block {
    @extend .middle-box-content;
    height: 30px;
    .issue-assignee {
      @extend .span6;
      float: left;
    }
    .issue-milestone {
      @extend .span4;
      float: left;
    }
  }
  .issue-description {
    @extend .bottom-box-content;
  }
}

.issues-table {
  .issue {
    padding: 7px 10px;

    .issue-check {
      float: left;
      padding: 8px 0;
      padding-right: 8px;
      min-width: 15px;
    }

    p {
      padding-top: 0;
      padding-bottom: 2px;
    }

    img.avatar {
      width: 32px;
      margin-top: 1px;
    }
  }
}

input.check-all-issues {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  position: relative;
  top: 8px;
  height: 22px;
}

.issues-content {
  .title {
    height: 40px;
  }
}

.btn.close-issue {
  color: #B94A48;
  font-weight: bold;
  @include shade;
  &:hover {
    color: #B94A48;
  }
}
.btn.reopen-issue {
  color: #468847;
  font-weight: bold;
  @include shade;
  &:hover {
    color: #468847;
  }
}

@media (min-width: 800px) { .issues-filters select { width: 160px; }  }
@media (min-width: 1000px) { .issues-filters select { width: 200px; }  }
@media (min-width: 1200px) { .issues-filters select { width: 220px; }  }


#issues-table-holder {
  .issues-filters {
    form {
      padding: 0;
      margin: 0;
      margin-top:7px
    }
  }

  .issues-bulk-update {
    margin: 0;
    form {
      padding: 0;
      margin: 0;
      margin-top:7px
    }
    .update-selected-issues {
      position: relative;
      top:-2px;
      margin-left: 4px;
      float: left;
    }

    .update-issues-text {
      padding: 3px;
      line-height: 18px;
      float: left;
    }
  }
}

#update-status {
  width: 100px;
}


/**
 * Milestones list
 *
 */
.milestone {
  @extend .wll;
}

/**
 *  Fix milestone calendar
 */

.ui-datepicker {
  border: none;
  box-shadow: none;
  .ui-datepicker-header {
    @include solid-shade;
    margin-bottom: 10px;
    border: 1px solid #bbb;
  }
}
