
/**
 * MR -> show: Automerge widget
 *
 */
.automerge_widget {
  form {
    margin-bottom: 0;
    .clearfix {
      margin-bottom: 0;
    }
  }

  .accept-group {
    label {
      margin: 5px;
      margin-left: 20px;
    }
  }
}

.merge-request .merge-request-tabs{
  border-bottom: 2px solid $border_primary;
  margin: 20px 0;

  li {
    a {
      padding: 15px 40px;
      font-size: 14px;
      margin-bottom: -2px;
      border-bottom: 2px solid $border_primary;
      @include border-radius(0px);
    }
  }
}

.mr_source_commit,
.mr_target_commit {
  .commit {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    &:hover {
      background: none;
    }
  }
}

.label-branch {
  @include border-radius(4px);
  padding: 2px 4px;
  border: none;
  background: #555;
  color: #fff;
  font-family: $monospace_font;
  font-weight: normal;
  overflow: hidden;

  .label-project {
    @include border-radius-left(4px);
    padding: 3px 4px;
    background: #279;
    position: relative;
    left: -4px;
    letter-spacing: -1px;
  }
}

.mr-list {
  .merge-request {
    padding: 10px 15px;
    position: relative;

    .merge-request-title {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .merge-request-info {
      color: #999;

      .merge-request-labels {
        display: inline-block;
      }
    }
  }
}

.merge-request-angle {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  line-height: 1.1;
}

.merge-request-form-info {
  padding-top: 15px;
}

// hide mr close link for inline diff comment form
.diff-file .close-mr-link,
.diff-file .reopen-mr-link {
  display: none;
}

.mr-state-widget {
  .panel-body {
    h4 {
      margin-top: 0px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.merge-request-show-labels .label {
  padding: 6px 10px;
}

.mr-commits .commit {
  padding: 10px 15px;
}
