/**
 * MR form
 *
 */

.mr-branch-box {
  @extend .ui-box;
  margin-bottom: 20px;

  .body {
    background: #f1f1f1;
  }

}

/**
 * MR -> show: Automerge widget
 *
 */
.automerge-widget {
  &.can-be-merged {
    background: #DFF0D8;
  }

  form {
    margin-bottom: 0;
    .clearfix {
      margin-bottom: 0;
    }
  }

  .accept-group {
    float: left;
    border: 1px solid #ADA;
    padding: 2px;
    @include border-radius(5px);
    background: #CEB;

    .accept-merge-request {
      font-size: 13px;
      float: left;
    }
    .remove-branch-holder {
      margin-left: 20px;
      margin-right: 10px;
      float: left;
    }
    label {
      color: #444;
    }
  }


  .how-to-merge-link {
    @extend .primary;
  }
}

.mr-nav-tabs {
  li {
    a {
      font-weight: bold;
      padding: 8px 20px;
      text-align: center;
    }
  }
}

li.merge-request {
  padding: 7px 10px;
  img.avatar {
    width: 32px;
    margin-top: 1px;
  }
  p {
    padding: 0px;
    padding-bottom: 2px;
  }
}

.merge-in-progress {
  @extend .padded;
  @extend .append-bottom-10;
}

.label-branch {
  @include border-radius(4px);
  padding: 2px 4px;
  border: none;
  font-size: 14px;
  background: #474D57;
  color: #fff;
  font-family: 'Menlo', 'Liberation Mono', 'Consolas', 'Courier New', 'andale mono','lucida console',monospace;
}

.mr-source-commit,
.mr-target-commit {
  .commit {
    margin: 0;
    padding: 0;
    padding: 5px;
    margin-bottom: 5px;
    .avatar { position:relative }
    .row-title {
      color: #444;
    }
    .commit-author-name,
    .dash,
    .committed-ago,
    .browse-code-link-holder {
      display: none;
    }
    list-style: none;
    &:hover {
      background: none;
    }
  }
}

.mr-direction-tip {
  margin-top:40px
}

.merge-requests-form-box {
  @extend .main-box;
  .merge-requests-middle-box {
    @extend .middle-box_content;
    height: 30px;
    .merge-requests-assignee {
      @extend .span6;
      float: left;
    }
    .merge-requests-milestone {
      @extend .span4;
      float: left;
    }
  }
}

.status-badge {
  height: 32px;
  width: 100%;
  @include border-radius(5px);
}
