/*
 *  Main Menu of Application
 *
 */
ul.main_menu {
  border-radius: 4px;
  margin: auto;
  margin:30px 0;
  border:1px solid #AAA;
  height:37px;
  @include bg-gray-gradient;
  position:relative;
  overflow:hidden;
  @include shade;
  .count {
    position: relative;
	  top: -1px;
	  display: inline-block;
	  height: 15px;
	  margin: 0 0 0 5px;
	  padding: 0 8px 1px 8px;
	  height: auto;
	  font-size: 0.82em;
	  line-height: 14px;
	  text-align: center;
	  color: #777;
	  background: #f2f2f2;
	  border-top: 1px solid #CCC;
	  border-radius: 8px;
	 -moz-border-radius: 8px;
  }
  .label {
    background:$hover;
    text-shadow:none;
    color:$style_color;
  }
  li {
    list-style-type: none;
    margin: 0;
    display: table-cell;
    width: 1%;
    border-right: 1px solid #DDD;
    border-left: 1px solid #EEE;
    border-bottom:2px solid #CFCFCF;

    &:first-child{
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-left: 0;
    }

    &.active {
      background-color:#D5D5D5;
      border-right: 1px solid #BBB;
      border-left: 1px solid #BBB;
      border-radius: 0 0 1px 1px;
      &:first-child{
        border-bottom:none;
        border-left:none;
      }
    }

    &.home {
      a {
        background: url(home_icon.PNG) no-repeat center center;
        text-indent:-9999px;
        min-width:20px;
        img {
          position:relative;
          top:4px;
        }
      }
    }
  }
  a {
    display: block;
    text-align: center;
    font-weight:bold;
    height:35px;
    line-height:36px;
    color: $style_color;
    text-shadow:0 1px 1px white;
    padding:0 10px;
  }
}
/*
 *  End of Main Menu
 *
 */

