.new_project,
.edit_project {
  fieldset.features {
    .control-label {
      font-weight: bold;
    }
  }
}

.project-name-holder {
  .help-inline {
    vertical-align: top;
    padding: 7px;
  }
}

.project-home-panel {
  border-bottom: 1px solid #DDD;
  padding-bottom: 25px;
  margin-bottom: 30px;

  .project-home-title {
    font-size: 18px;
    color: #777;
    margin: 0;
    line-height: 32px;
  }
  .project-home-dropdown {
    margin-left: 10px;
    float: right;
  }
  .project-home-extra {
    margin-top: 15px;

    .project-home-desc {
      float: left;
      color: #999;
    }

    .project-home-links {
      float: right;
      a {
        margin-left: 10px;
      }
    }
  }

  .public-label {
    font-size: 14px;
    background: #f1f1f1;
    padding: 8px 10px;
    border-radius: 4px;
    margin-left: 10px;
    color: #888;
    text-shadow: 0 1px 1px #FFF;
  }
}

.git-clone-holder {
  float: right;
  border: 1px solid #E1E1E1;
  @include border-radius(4px);

  .btn {
    margin-left: 3px;
    border: none;
    background: none;
    box-shadow: none;
    color: #29b;
    padding: 6px;

    &.active {
      color: #333;
      font-weight: bold;
    }
  }

  input[type="text"] {
    margin-left: 2px;
    border: none;
    border-radius: 0;
    border-left: 1px solid #E1E1E1;
    @extend .monospace;
    box-shadow: none;
    background: #FAFAFA;
    padding: 6px 10px;
  }
}

.project-public-holder {
  .help-inline {
    padding-top: 7px;
  }
}

.save-project-loader {
  img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  h3 {
    @extend .page-title;
  }

}

ul.nav.nav-projects-tabs {
  @extend .nav-tabs;

  padding-left: 8px;

  li {
    a {
      padding: 6px 25px;
      margin-top: 2px;
      border-color: #DDD;
      background-color: #EEE;
      text-shadow: 0 1px 1px white;
      color: #555;
    }
    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}

.team_member_row form {
  margin: 0px;
}

.my-projects {
  li {
    .project-info {
      margin-bottom: 10px;
    }

    .access-icon {
      color: #AAA;
      margin-left: 10px;
      i {
        color: #AAA;
      }
    }
  }
}

.public-clone {
  background: #333;
  color: #f5f5f5;
  padding: 6px 10px;
  margin: 1px;
  font-weight: normal;
}

.new-tag-btn {
  position: relative;
  top: -5px;
}

.public-projects .repo-info {
  color: #777;

  a {
    color: #777;
  }
}

.project-side {
  .btn-block {
    background-image: none;
    background-color: #F1f1f1;
    border-color: #EEE;
    &:hover {
      background-color: #eee;
      border-color: #DDD;
    }
  }
  .project-fork-icon {
    float: left;
    font-size: 26px;
    margin-right: 10px;
    line-height: 1.5;
  }
}

.transfer-project .chosen-container {
  min-width: 200px;
}

/** Branch/tag selector **/
.project-refs-form {
  margin: 0;
  span {
    background:none !important;
    position:static !important;
    width:auto !important;
    height:auto !important;
  }
}
.project-refs-select {
  width: 120px;
}

.project-refs-form .chosen-container {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;

  .chosen-single span {
    font-weight: bold;
    color: #555;
  }

  &.chosen-container-active {
    .chosen-drop {
      min-width: 400px;
    }

    .chosen-results {
      max-height: 400px;
    }
  }
}
