#tree-holder {
  #tree-content-holder {
    float:left;
    width:100%;
  }
  #tree-readme-holder {
    float:left;
    width:100%;
    .readme {
      border:1px solid #ccc;
      padding:12px;
      background: #F7F7F7;

      pre {
        overflow: auto;
      }
    }
  }

  .tree_progress {
    display:none;
    margin:20px;
    &.loading {
      display:block;
    }
  }

  #tree-slider {
    @include border-radius(0);
    .tree-item {
      &:hover {
        td {
          background: $hover;
          border-top:1px solid #FEA;
          border-bottom:1px solid #FEA;
        }
        cursor:pointer;
      }
    }
  }

  .tree-item {
    .tree-item-file-name {
      vertical-align:middle;
      a {
        &:hover {
          color:$blue_link;
        }
      }

      img {
        position: relative;
        top:-1px;
      }
    }
  }


  #tree-slider {
    td {
      background:#fafafa;
    }
  }

  .tree-commit-link {
    color:#333;
  }

  a.tree-commit-link {
    color: #666;
    &:hover {
      text-decoration: underline;
    }
  }

}
