.mr-state-widget.mr-state-closed{"v-if"=>"state.closed"}
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      Closed
      %a.author_link{"v-bind:href"=>"state.author_link"}
      %img.avatar.avatar-inline.s16{width: 16, "v-bind:src"=>"state.avatar",alt:""}
      %span.author
        {{state.author}}
    %p 
      The changes were not merged into
      %span.label-branch
        {{state.target_branch}}.
