.mr-state-widget
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      Merge in progress...
    %p
      Merging is in progress. While merging this request is locked and cannot be closed.

