.mr-state-widget
  = render 'projects/merge_requests/widget/heading'
  .mr-widget-body
    %h4
      = icon("spinner spin")
      Merge in progress&hellip;
    %p
      This merge request is in the process of being merged, during which time it is locked and cannot be closed.

