%ul.content-list
  - if @collection.blank?
    %li
      .nothing-here-block No IP addresses to show
  - else
    .table-holder
      %table.table.builds
        %thead
          %tr
            %th IP
            %th Description
            %th Created by
            %th Created at
            %th Updated at
            %th

        %tbody
          - @collection.each do |row|
            = render 'admin/ip_blocking/blocking_ip', ip: row

    = paginate @collection, theme: 'gitlab'
