%ul.content-list
  - if @collection.blank?
    %li
      .nothing-here-block No DNS lists to show
  - else
    .table-holder
      %table.table.builds
        %thead
          %tr
            %th Domain
            %th Weight
            %th Created by
            %th Created at
            %th Updated at
            %th

        %tbody
          - @collection.each do |row|
            = render 'admin/ip_blocking/dns_list', dns_list: row

    = paginate @collection, theme: 'gitlab'
