.pull-right
  .control
    = form_tag('', method: :get, class: 'form-inline fieldset-form') do
      = search_field_tag :search, params[:search], { placeholder: 'Filter by domain name', class: 'form-control search-text-input', spellcheck: false }
