.prepend-top-default
.user-callout{ data: { uid: 'convdev_intro_callout_dismissed' } }
  .bordered-box.landing.content-block
    %button.btn.btn-default.close.js-close-callout{ type: 'button',
      'aria-label' => _('Dismiss ConvDev introduction') }
      = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
    .user-callout-copy
      %h4
        = _('Introducing Your Conversational Development Index')
      %p
        = _('Your Conversational Development Index gives an overview of how you are using GitLab from a feature perspective. View how you compare with other organizations, discover features you are not using, and learn best practices through blog posts and white papers.')
    .svg-container.devops
      = custom_icon('convdev_overview')
