- sorted_by = sort_options_hash[@sort]

.dropdown.inline.prepend-left-10
  %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown', display: 'static' } }
    = sorted_by
    = icon('chevron-down')
  %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
    %li
      = sortable_item(sort_title_created_date,     page_filter_path(sort: sort_value_created_date,     label: true), sorted_by)
      = sortable_item(sort_title_contacted_date,   page_filter_path(sort: sort_value_contacted_date,   label: true), sorted_by)

