- active_status = params[:status].presence

- toggle_text = 'Status'
- if active_status
  = hidden_field_tag :status, params[:status]
  - toggle_text = params[:status].titleize

= dropdown_tag(toggle_text, options: { wrapper_class: 'dropdown-menu-selectable', title: 'Statuses' }) do
  %ul
    %li= link_to 'Any Status', admin_runners_path(safe_params.slice(:search)), class: ('is-active' unless active_status)
    %li.divider
    - Ci::Runner::AVAILABLE_STATUSES.each do |status|
      %li= link_to status.titleize, admin_runners_path(safe_params.slice(:search).merge(status: status)), class: ('is-active' if active_status == status)
