- breadcrumb_title _('Runners')
- page_title _('Runners')

#div{ data: { event_tracking_load: 'true', event_tracking: 'view_admin_runners_pageload' } }

#js-admin-runners{ data: admin_runners_app_data }
