- add_to_breadcrumbs _("Merge requests"), project_merge_requests_path(@project)
- breadcrumb_title _("New")
- page_title _("New merge request")
- add_page_specific_style 'page_bundles/pipelines'
- add_page_specific_style 'page_bundles/ci_status'

- if @merge_request.can_be_created && !params[:change_branches]
  = render 'new_submit'
- else
  = render 'new_compare'
