---
redirect_to: 'unit_test_reports.md'
---

This document was moved to [unit_test_reports](unit_test_reports.md).

<!-- This redirect file can be deleted after February 1, 2021. -->
<!-- Before deletion, see: https://docs.gitlab.com/ee/development/documentation/#move-or-rename-a-page -->
