- issuable = local_assigns.fetch(:issuable)
- form = local_assigns.fetch(:form)
- contribution_help_link = help_page_path('user/project/merge_requests/allow_collaboration.md')
- contribution_help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: contribution_help_link }

- return unless issuable.is_a?(MergeRequest)
- return unless issuable.for_fork?
- return unless can?(current_user, :push_code, issuable.source_project)

%hr

.form-group
  %label
    = _('Contribution')
  = form.gitlab_ui_checkbox_component :allow_collaboration,
    _('Allow commits from members who can merge to the target branch. %{link_start}About this feature.%{link_end}').html_safe % { link_start: contribution_help_link_start, link_end: '</a>'.html_safe },
    checkbox_options: { disabled: !issuable.can_allow_collaboration?(current_user) },
    help_text: allow_collaboration_unavailable_reason(issuable)
