.gl-mt-3.gl-text-subtle
  - link = link_to('', help_page_path('user/project/description_templates.md'), target: '_blank', rel: 'noopener noreferrer')
  = safe_format(s_('Promotions|Add %{link_start} description templates %{link_end} to help your contributors to communicate effectively!'), tag_pair(link, :link_start, :link_end))
