- return unless issuable.supports_issue_type? && can?(current_user, :create_issue, @project)

.form-group
  = form.label :type do
    = _('Type')
    #js-type-popover

  .issuable-form-select-holder.form-group.gl-mb-0.gl-block
    #js-type-select{ data: issuable_type_selector_data(issuable) }

  - if issuable.incident_type_issue?
    %p.form-text.gl-text-subtle
      - incident_docs_url = help_page_path('operations/incident_management/incidents.md')
      - incident_docs_start = format('<a href="%{url}" target="_blank" rel="noopener noreferrer">', url: incident_docs_url)
      = format(_('A %{incident_docs_start}modified issue%{incident_docs_end} to guide the resolution of incidents.'), incident_docs_start: incident_docs_start, incident_docs_end: '</a>').html_safe
