.file-holder
  .file-title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      .btn-group.tree-btn-group.pull-right
        - if can?(current_user, :admin_project_snippet, @project) || @snippet.author == current_user
          = link_to "Edit", edit_project_snippet_path(@project, @snippet), class: "btn btn-tiny", title: 'Edit Snippet'
        = link_to "raw", raw_project_snippet_path(@project, @snippet), class: "btn btn-tiny", target: "_blank"
  .file-content.code
    - unless @snippet.content.empty?
      %div{class: user_color_scheme_class}
        = raw @snippet.colorize(formatter: :gitlab)
    - else
      %p.nothing_here_message Empty file
