- page_title "编辑", @snippet.title, "代码片段"
= render "header_title"

%h3.page-title
  编辑代码片段
%hr
= render "shared/snippets/form", url: namespace_project_snippet_path(@project.namespace, @project, @snippet), visibility_level: @snippet.visibility_level
