- page_title "Edit", @snippet.title, "Snippets"
%h3.page-title
  Edit snippet
%hr
= render "shared/snippets/form", url: namespace_project_snippet_path(@project.namespace, @project, @snippet), visibility_level: @snippet.visibility_level
