- add_to_breadcrumbs _("Snippets"), project_snippets_path(@project)
- add_to_breadcrumbs @snippet.to_reference, project_snippet_path(@project, @snippet)
- breadcrumb_title _("Edit")
- page_title _("Edit"), "#{@snippet.title} (#{@snippet.to_reference})", _("Snippets")

%h1.page-title.gl-text-size-h-display
  = _("Edit snippet")

= render "shared/snippets/form", url: project_snippet_path(@project, @snippet)
