- page_title _("Snippets")

- if @snippets.exists?
  - if current_user
    .top-area
      - include_private = @project.team.member?(current_user) || current_user.admin?
      = render partial: 'snippets/snippets_scope_menu', locals: { subject: @project, include_private: include_private }

      - if can?(current_user, :create_project_snippet, @project)
        .nav-controls
          = link_to _("New snippet"), new_project_snippet_path(@project), class: "btn btn-success", title: _("New snippet")

  = render 'shared/snippets/list'
- else
  = render 'shared/empty_states/snippets', button_path: new_namespace_project_snippet_path(@project.namespace, @project)
