- page_title "Snippets"
= render "header_title"

.gray-content-block.top-block
  .pull-right
    = link_to new_namespace_project_snippet_path(@project.namespace, @project), class: "btn btn-new", title: "New Snippet" do
      = icon('plus')
      New Snippet

  .oneline
    Share code pastes with others out of git repository

= render 'snippets/snippets'
