- page_title _("Snippets")
- new_project_snippet_link = new_project_snippet_path(@project) if can?(current_user, :create_snippet, @project)

- if @snippets.exists?
  - if current_user
    .top-area
      - include_private = @project.team.member?(current_user) || current_user.admin?
      = render partial: 'snippets/snippets_scope_menu', locals: { subject: @project, include_private: include_private, counts: @snippet_counts }

      - if new_project_snippet_link.present?
        .nav-controls
          = link_to _("New snippet"), new_project_snippet_link, class: "gl-button btn btn-confirm", title: _("New snippet")

  = render 'shared/snippets/list'
- else
  = render 'shared/empty_states/snippets', button_path: new_project_snippet_link
