%h3.page_title
  Snippets
  %small share code pastes with others out of git repository

  - if can? current_user, :write_project_snippet, @project
    = link_to new_project_snippet_path(@project), class: "btn btn-small add_new pull-right", title: "New Snippet" do
      Add new snippet
%hr
%ul.bordered-list
  = render partial: "projects/snippets/snippet", collection: @snippets
  - if @snippets.empty?
    %li
      %h3.nothing_here_message Nothing here.
