- content_for(:body_class, "projects-page")
- content_for(:page_title) do
  .grid_4
    %h2
      Tags

  .tags-list
    - @tags.all.each do |tag|
      = link_to "#{tag.name}(#{tag.count})", tag_path(name)

