#{@message}.
\
= _("View details: %{details_url}") % { details_url: admin_projects_url(last_repository_check_failed: 1) }

= _("You are receiving this message because you are a GitLab administrator for %{url}.") % { url: Gitlab.config.gitlab.url }

= render_if_exists 'shared/additional_email_text'
