.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.prepend-top-0
      Request details
  .col-lg-9
    = link_to 'Resend Request', @hook_log.present.retry_path, method: :post, class: "btn btn-default float-right prepend-left-10"

    = render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
