- @content_class = 'limit-container-width' unless fluid_layout
- add_to_breadcrumbs _('Webhook Settings'), namespace_project_hooks_path
- page_title _('Webhook Logs')

.row.prepend-top-default.append-bottom-default
  .col-lg-3
    %h4.gl-mt-0
      Request details
  .col-lg-9
    = link_to 'Resend Request', @hook_log.present.retry_path, method: :post, class: "btn btn-default float-right prepend-left-10"

    = render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
