- @content_class = 'limit-container-width' unless fluid_layout
- add_to_breadcrumbs _('Webhook Settings'), namespace_project_hooks_path
- page_title _('Webhook Logs')

.row.gl-mt-3.gl-mb-3
  .col-lg-3
    %h4.gl-mt-0
      Request details
  .col-lg-9
    = link_to 'Resend Request', @hook_log.present.retry_path, method: :post, class: "btn gl-button btn-default float-right gl-ml-3"

    = render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
