%h3 Versions
%table
  %thead
    %tr
      %th #
      %th last edit
      %th created by
  %tbody
    - @wikis.each_with_index do |wiki_page, i|
      %tr
        %td= i + 1
        %td
          = link_to wiki_page.created_at.to_s(:short), project_wiki_path(@project, wiki_page, :old_page_id => wiki_page.id)
          (
          = time_ago_in_words(wiki_page.created_at)
          ago
          )
        %td= wiki_page.user.name

