%h3
  = @wiki.title
  - if can? current_user, :write_wiki, @project
    = link_to history_project_wiki_path(@project, @wiki), :class => "right btn small" do
      History
    = link_to edit_project_wiki_path(@project, @wiki), :class => "right btn small" do
      Edit

= markdown @wiki.content
