- if current_user
  .gray-content-block.top-block
    = render "search"
  .projects
    .wide-table-holder
      %table.table.projects-table.content-list
        %thead
          %tr
            %th Project Name
            %th Last commit
            %th Access
            %th Commits

        = render @projects
    = paginate @projects, theme: 'gitlab'
- else
  = render 'public'
