%nav
  %ul.error-nav
    %li
      = link_to s_('Nav|Home'), root_path
    %li
      - if current_user
        = link_to s_('Nav|Sign out and sign in with a different account'), '#', class: 'js-sign-out-link'
        %form.js-sign-out-form{ action: destroy_user_session_path, method: :post }
      - else
        = link_to s_('Nav|Sign In / Register'), new_session_path(:user, redirect_to_referer: 'yes')
    %li
      = link_to s_('Nav|Help'), help_path
