.alert-message.block-message.error
  %h3 Access Denied
  %hr
  %p Youre not allowed to access this page
  %p Read more about project permissions #{link_to "here", help_permissions_path, :class => "vlink"}
