- content_for(:title, 'Encoding Error')
%img{ :alt => "GitLab Logo", :src => image_path('logo.svg') }
  %h1
    500
.container
  %h3 Encoding Error
  %hr
  %p Page can't be loaded because of an encoding error.
