- content_for(:title, 'Encoding Error')

.error-container
  = image_tag('illustrations/error/error-500-lg.svg', alt: '500', lazy: false)
  %h1
    = s_('500|500: Encoding error')
  %p
    = s_("500|Page cannot be loaded because of an encoding error.")
