.alert-message.block-message.error
  %h3 Git Resource Not found
  %hr
  %p
    Application cant get access to some
    %span.label branch
    or
    %span.label commit
    in your repository. Maybe it was moved
