- content_for(:title, 'Git Resource Not Found')
%img{ :alt => "GitLab Logo", :src => image_path('logo.svg') }
  %h1
    404
.container
  %h3 Git Resource Not found
  %hr
  %p Application can't get access to some branch or commit in your repository. It
  may have been moved
