.alert-message.block-message.error
  %h3 Gitolite Error
  %h4 Application can't get access to your gitolite system.




%h4 Tips for Administrator:

%ul
  %li
    %p
      Check git logs in admin area
  %li
    %p
      Check config/gitlab.yml for correct settings.
  %li
    %p
      Diagnostic tool:
      %pre
        bundle exec rake gitlab:app:status RAILS_ENV=production
  %li
    %p
      Permissions:
    %pre
      = preserve do
        sudo chmod -R 770 /home/git/repositories/
        sudo chown -R git:git /home/git/repositories/
        sudo chown gitlab:gitlab /home/git/repositories/**/hooks/post-receive 

