.alert-message.block-message.error
  %h3 Gitolite Error
  %hr
  %h4 Application cant get access to your gitolite system.
  %ol
    %li
      %p
        Check 'config/gitlab.yml' for correct settings.
    %li
      %p
        Make sure web server user has access to gitolite.
        %a{:href => "https://github.com/gitlabhq/gitlabhq/wiki/Gitolite"} Setup tutorial
    %li
      %p
        Try:
      %pre
        = preserve do
          sudo chmod -R 770 /home/git/repositories/
          sudo chown -R git:git /home/git/repositories/
