%h1 Git Error
%hr
%h2 GitLab was unable to access your Gitolite system.

.git_error_tips
  %h4 Tips for Administrator:
  %ol
    %li
      %p
        Check git logs in admin area
    %li
      %p
        Check config/gitlab.yml for correct settings.
    %li
      %p
        Diagnostic tool:
        %pre
          bundle exec rake gitlab:app:status RAILS_ENV=production
    %li
      %p
        Permissions:
      %pre
        = preserve do
          sudo chmod -R 770 #{Gitlab.config.git_base_path}
          sudo chown -R git:git #{Gitlab.config.git_base_path}
