%h1.http_status_code 500
%h3.page_title GitLab was unable to access your Gitolite system.
%hr

.git_error_tips
  %h4 Tips for Administrator:
  %ol
    %li
      %p
        Check git logs in admin area
    %li
      %p
        Check config/gitlab.yml for correct settings.
    %li
      %p
        Diagnostic tool:
        %pre
          bundle exec rake gitlab:app:status RAILS_ENV=production
    %li
      %p
        Permissions:
      %pre
        = preserve do
          sudo chown -R git:git #{Gitlab.config.gitolite.repos_path}
          sudo chmod -R ug+rwXs #{Gitlab.config.gitolite.repos_path}
