- content_for(:title, 'Encoding Error')
%img{ :alt => "GitLab Logo", :src => image_path('logo.svg') }
  %h1
    412
.container
  %h3 Precondition failed
  %hr
  %p Page can't be loaded because of invalid parameters.
