- content_for(:title, 'Encoding Error')

.error-container
  = image_tag('illustrations/error/error-422-lg.svg', alt: '412', lazy: false)
  %h1
    = s_('412|412: Precondition failed')
  %p
    = s_("412|Page cannot be loaded because of invalid parameters.")
