- add_to_breadcrumbs _('Repository Settings'), project_settings_repository_path(@project)
- page_title s_('BranchRules|Branch rules details')

%h3.gl-mb-5= s_('BranchRules|Branch rules details')

#js-branch-rules{ data: branch_rules_data(@project) }
