- add_to_breadcrumbs _('Repository Settings'), project_settings_repository_path(@project)
- page_title _('Branch rules')

%h3= _('Branch rules')

#js-branch-rules{ data: { project_path: @project.full_path } }
