- type = local_assigns.fetch(:type)

= render 'shared/access_tokens/form',
    ajax: true,
    type: type,
    path: project_settings_access_tokens_path(@project),
    resource: @project,
    token: @resource_access_token,
    scopes: @scopes,
    access_levels: ProjectMember.permissible_access_level_roles_for_project_access_token(current_user, @project),
    default_access_level: Gitlab::Access::GUEST,
    prefix: :resource_access_token,
    description_prefix: :project_access_token,
    help_path: help_page_path('user/project/settings/project_access_tokens.md', anchor: 'scopes-for-a-project-access-token')
