%head
  %meta{charset: "utf-8"}
  %meta{content: "GitLab Continuous Integration", name: "description"}
  %title GitLab CI
  = stylesheet_link_tag    "ci/application", :media => "all"
  = javascript_include_tag "ci/application"
  = csrf_meta_tags
  = favicon_link_tag 'ci/favicon.ico'
  :erb
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

