.container
  - if alert || notice
    - if alert
      .alert.alert-danger= alert
    - if notice
      .alert.alert-info= notice

  - if current_user && current_user.is_admin && Ci::Runner.count.zero?
    = render 'ci/shared/no_runners'
