!!! 5
%html{ lang: "en"}
  = render 'layouts/ci/head'
  %body{ :'data-page' => body_data_page }
    = render 'layouts/ci/info'
    - if content_for?(:title)
      .container.container-title
        = yield(:title)
      %hr

    .container.container-body
      .content
        = yield

