%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab CI

  %body
    = yield :header

    %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "padding: 10px 0;", width: "100%"}
      %tr
        %td{align: "left", style: "margin: 0; padding: 10px;"}
          = yield
          %br
      %tr
        %td{align: "left", style: "margin: 0; padding: 10px;"}
          %p{style: "font-size:small;color:#777"}
            - if @project
              You're receiving this notification because you are the one who triggered a build on the #{@project.name} project.
