.border-top
  .row.empty-state
  .col-12
    .text-content
      %h4.text-center= s_('FeatureFlags|Get started with feature flags')
      %p.text-center
        = s_('FeatureFlags|Feature flags allow you to configure your code into different flavors by dynamically toggling certain functionality.')
        = link_to 'More information', '#'

      .text-center
        = render 'new_feature_flag_button'
