- project = local_assigns.fetch(:project)
- model = local_assigns.fetch(:model)

- form = local_assigns.fetch(:form)
- supports_quick_actions = model.new_record?

- if supports_quick_actions
  - preview_url = preview_markdown_path(project, quick_actions_target_type: model.class.name)
- else
  - preview_url = preview_markdown_path(project)

.form-group.detail-page-description
  = form.label :description, 'Description', class: 'col-form-label'
  .col-sm-10

    = render layout: 'projects/md_preview', locals: { url: preview_url, referenced_users: true } do
      = render 'projects/zen', f: form, attr: :description,
                               classes: 'note-textarea qa-issuable-form-description',
                               placeholder: "Write a comment or drag your files here...",
                               supports_quick_actions: supports_quick_actions
      = render 'shared/notes/hints', supports_quick_actions: supports_quick_actions
      .clearfix
      .error-alert
