- id = local_assigns.fetch(:id, nil)
- key = local_assigns.fetch(:key, "")
- value = local_assigns.fetch(:value, "")
%li.js-row.pipeline-variable-row{ data: { is_persisted: "#{!id.nil?}" } }
  .pipeline-variable-row-body
    %input{ type: "hidden", name: "schedule[variables_attributes][][id]", value: id }
    %input.js-destroy-input{ type: "hidden", name: "schedule[variables_attributes][][_destroy]" }
    %input.js-user-input.pipeline-variable-key-input.form-control{ type: "text",
      name: "schedule[variables_attributes][][key]",
      value: key,
      placeholder: s_('PipelineSchedules|Input variable key') }
    %textarea.js-user-input.pipeline-variable-value-input.form-control{ rows: 1,
      name: "schedule[variables_attributes][][value]",
      placeholder: s_('PipelineSchedules|Input variable value') }
      = value
  %button.js-row-remove-button.pipeline-variable-row-remove-button{ 'aria-label': s_('PipelineSchedules|Remove variable row') }
    %i.fa.fa-minus-circle{ 'aria-hidden': "true" }
