- add_to_breadcrumbs _("Schedules"), pipeline_schedules_path(@project)
- breadcrumb_title "##{@schedule.id}"
- page_title _("Edit"), @schedule.description, _("Pipeline Schedule")

%h1.page-title.gl-text-size-h-display
  = _("Edit Scheduled Pipeline")

#pipeline-schedules-form-edit{ data: js_pipeline_schedules_form_data(@project, @schedule) }
