- add_to_breadcrumbs _("Schedules"), pipeline_schedules_path(@project)
- breadcrumb_title "##{@schedule.id}"
- page_title _("Edit"), @schedule.description, _("Pipeline Schedule")
- add_page_specific_style 'page_bundles/pipeline_schedules'

%h3.page-title
  = _("Edit Pipeline Schedule %{id}") % { id: @schedule.id }
%hr

= render "form"
