- breadcrumb_title _("Schedules")
- page_title _("Pipeline Schedules")

#pipeline-schedules-app{ data: { full_path: @project.full_path, pipelines_path: project_pipelines_path(@project), new_schedule_path: new_project_pipeline_schedule_path(@project) } }
