- breadcrumb_title _('Schedules')
- @breadcrumb_link = namespace_project_pipeline_schedules_path(@project.namespace, @project)
- page_title _("New Pipeline Schedule")

- add_to_breadcrumbs("Pipelines", project_pipelines_path(@project))

%h1.page-title.gl-text-size-h-display
  = _("Schedule a new pipeline")

#pipeline-schedules-form-new{ data: js_pipeline_schedules_form_data(@project, @schedule) }
