- @content_class = "limit-container-width" unless fluid_layout
- breadcrumb_title "Integrations Settings"
- page_title 'Integrations'
= render 'projects/hooks/index'
= render 'projects/services/index'
