= form_tag(user_omniauth_callback_path(:ldap), id: 'new_ldap_user' ) do
  = text_field_tag :username, nil, {class: "form-control top", placeholder: "LDAP Login", autofocus: "autofocus"}
  = password_field_tag :password, nil, {class: "form-control bottom", placeholder: "Password"}
  %br/
  = submit_tag "LDAP Sign in", class: "btn-save btn"
