- if current_user.try(:onboarding_status_initial_registration_type) != "trial"
  = render 'devise/sessions/successful_verification', local_assigns
- else
  - experiment(:lightweight_trial_registration_redesign, actor: current_user) do |e|
    - e.control do
      = render 'devise/sessions/successful_verification', local_assigns
    - e.candidate do
      = render 'devise/sessions/successful_verification_lightweight', local_assigns
