%div
  .login-box
    .login-heading
      %h3 Two-factor Authentication
    .login-body
      = form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f|
        - if @error
          .alert.alert-danger
            = @error
        = f.text_field :otp_attempt, class: 'form-control', placeholder: 'Two-factor authentication code', required: true, autofocus: true
        .prepend-top-20
          = f.submit "Verify code", class: "btn btn-save"
