.content-block.oneline-block
  = icon("sort-amount-desc")
  Most recent commits displayed first

%ol#commits-list.list-unstyled
  = render "projects/commits/commits", project: @merge_request.source_project, ref: @merge_request.source_branch
