- if @merge_request_diff.collected?
  = render "projects/diffs/diffs", diffs: params[:w] == '1' ? @merge_request.diffs_no_whitespace : @merge_request.diffs, project: @merge_request.project
- elsif @merge_request_diff.empty?
  .nothing-here-block Nothing to merge from #{@merge_request.source_branch} into #{@merge_request.target_branch}
- else
  .alert.alert-warning
    %h4
      Changes view for this comparison is extremely large.
    %p
      You can
      = link_to "download it", merge_request_path(@merge_request, format: :diff), class: "vlink"
      instead.
