%div#modal_merge_info.modal.hide
  .modal-header
    %a.close{href: "#"} ×
    %h3 How To Merge
  .modal-body
    %p
      %strong Step 1.
      Checkout target branch and get recent objects from GitLab
    %pre.dark
      :preserve
        git checkout #{@merge_request.target_branch}
        git fetch origin
    %p
      %strong Step 2.
      Merge source branch into target branch and push changes to GitLab
    %pre.dark
      :preserve
        git merge origin/#{@merge_request.source_branch}
        git push origin #{@merge_request.target_branch}
