%h3.page-title
  .issue-box{ class: issue_box_class(@merge_request) }
    - if @merge_request.merged?
      Merged
    - elsif @merge_request.closed?
      Closed
    - else
      Open
  = "Merge Request ##{@merge_request.iid}"
  .pull-right.creator
    %small Created by #{link_to_member(@project, @merge_request.author)} #{time_ago_with_tooltip(@merge_request.created_at)}
