%h3.issue-title{ dir: 'auto' }
  = gfm escape_once(@merge_request.title)

%div
  - if @merge_request.description.present?
    .description
      .wiki
        = preserve do
          %span{ dir: 'auto' }= markdown(@merge_request.description, parse_tasks: true)
