.participants
  %cite.cgray #{@merge_request.participants.count} participants
  - @merge_request.participants.each do |participant|
    = link_to_member(@project, participant, name: false, size: 24)

  .merge-request-show-labels.pull-right
    - @merge_request.labels.each do |label|
      = render_colored_label(label)
