- breadcrumb_title _("Learn GitLab")
- page_title _("Learn GitLab")
- add_page_specific_style 'page_bundles/learn_gitlab'
- data = learn_gitlab_data(@project)

= render 'projects/invite_members_modal', project: @project

#js-learn-gitlab-app{ data: data }
