- page_title "Audit Events"

- if show_project_feature_promotion?(:audit_events)
  = render 'shared/promotions/promote_audit_events'

%h3.page-title Project Audit Events
%p.light Events in #{@project.full_path}

- if @project.feature_available?(:audit_events)
  = render 'shared/audit_events/event_table', events: @events
