.row-content-block.second-block.content-component-block.gl-px-0.gl-py-3
  .gl-w-max.gl-max-w-full
    #js-graph-ref-switcher{ data: { project_id: @project.id, ref: @ref, network_path: project_network_path(@project, @ref, ref_type: @ref_type) } }

  .oneline
    = _("You can move around the graph by using the arrow keys.")
