- @no_container = true

%div{ class: container_class }
  .row-content-block.second-block.content-component-block
    .tree-ref-holder
      = render partial: 'shared/ref_switcher', locals: {destination: 'graph'}

    .oneline
      = _("You can move around the graph by using the arrow keys.")
