.gray-content-block.append-bottom-default
  .tree-ref-holder
    = render partial: 'shared/ref_switcher', locals: {destination: 'graph'}

  .oneline
    You can move around the graph by using the arrow keys.
