.row-content-block.second-block.content-component-block.gl-px-0.gl-py-3
  .tree-ref-holder
    = render partial: 'shared/ref_switcher', locals: {destination: 'graph'}

  .oneline
    = _("You can move around the graph by using the arrow keys.")
