- return unless EE::Gitlab::ServiceDesk.enabled?(project: @project)

= nav_link(controller: :issues, action: :service_desk ) do
  = link_to service_desk_project_issues_path(@project), title: 'Service Desk' do
    = _('Service Desk')
