- return unless can?(current_user, :read_project_security_dashboard, @project)

= nav_link(path: 'projects/security/dashboard#show') do
  = link_to project_security_dashboard_path(@project), title: _('Security Dashboard'), class: 'shortcuts-project-security-dashboard' do
    %span= _('Security Dashboard')
