%inline-conflict-lines{ "inline-template" => "true", ":file" => "file" }
  %table.diff-wrap-lines.code.code-commit.js-syntax-highlight
    %tr.line_holder.diff-inline{ "v-for" => "line in file.inlineLines" }
      %td.diff-line-num.new_line{ ":class" => "lineCssClass(line)", "v-if" => "!line.isHeader" }
        %a {{line.new_line}}
      %td.diff-line-num.old_line{ ":class" => "lineCssClass(line)", "v-if" => "!line.isHeader" }
        %a {{line.old_line}}
      %td.line_content{ ":class" => "lineCssClass(line)", "v-if" => "!line.isHeader", "v-html" => "line.richText" }
      %td.diff-line-num.header{ ":class" => "lineCssClass(line)", "v-if" => "line.isHeader" }
      %td.diff-line-num.header{ ":class" => "lineCssClass(line)", "v-if" => "line.isHeader" }
      %td.line_content.header{ ":class" => "lineCssClass(line)", "v-if" => "line.isHeader" }
        %strong{ "v-html" => "line.richText" }
        %button.btn{ "@click" => "handleSelected(file, line.id, line.section)" }
          {{line.buttonTitle}}
