%parallel-conflict-lines{"inline-template" => "true", ":file" => "file"}
  %table
    %tr.line_holder.parallel{"v-for" => "section in file.parallelLines"}
      %td{"is"=>"parallel-conflict-line", "v-for" => "line in section", ":line" => "line", ":file" => "file"}
