.alert-management-list {
  // these styles need to be deleted once GlTable component looks in GitLab same as in @gitlab/ui
  table {
    color: $gray-700;

    tr {
      &:focus {
        outline: none;
      }

      td,
      th {
        // TODO:  There is no gl-pl-9 utlity for this padding, to be done and then removed.
        padding-left: 1.25rem;
        @include gl-py-5;
        @include gl-outline-none;

        &.alert-title {
          @include gl-pointer-events-none;
        }
      }

      th {
        background-color: transparent;
        font-weight: $gl-font-weight-bold;
        color: $gl-gray-600;
      }
    }

    @include media-breakpoint-up(md) {
      tr {
        &:last-child {
          td {
            @include gl-border-0;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .alert-management-table {
      tr {
        border-top: 0;

        .table-col {
          min-height: 68px;

          &:last-child {
            background-color: $gray-10;

            &::before {
              content: none !important;
            }

            div {
              width: 100% !important;
              padding: 0 !important;
            }
          }
        }

        &:hover {
          background-color: $white;
          border-color: $white;
          border-bottom-style: none;
        }
      }
    }
  }

  .gl-tab-nav-item {
    color: $gl-gray-600;

    > .gl-tab-counter-badge {
      color: inherit;
      @include gl-font-sm;
      background-color: $white-normal;
    }
  }
}
