.incident-severity,
.incident-management-list,
.alert-management-details {
  .icon-critical {
    color: $red-800;
  }

  .icon-high {
    color: $red-600;
  }

  .icon-medium {
    color: $orange-400;
  }

  .icon-low {
    color: $orange-300;
  }

  .icon-info {
    color: $blue-400;
  }

  .icon-unknown {
    color: $gray-200;
  }
}
