- note = discussion_notes.first
- diff_file = note.diff_file
- return unless diff_file

- blob = note.blob

.diff-file.file-holder
  .file-title
    = render "projects/diffs/file_header", diff_file: diff_file, blob: blob, diff_commit: diff_file.content_commit, project: note.project, url: diff_note_path(note)

  .diff-content.code.js-syntax-highlight
    %table
      - note.truncated_diff_lines.each do |line|
        = render "projects/diffs/line", line: line, diff_file: diff_file, plain: true

        - if note.for_line?(line)
          = render "projects/notes/diff_notes_with_reply", notes: discussion_notes
