= link_to 'Buy License', ::EE::SUBSCRIPTIONS_PLANS_URL, target: '_blank', rel: 'noopener noreferrer nofollow', class: "btn btn-success btn-inverted float-right btn-buy-license"
= link_to 'Upload New License', new_admin_license_path, class: "btn float-right btn-upload-license append-right-10"
