- page_title "License"

%h3.page-title
  Your License
  = render "upload_buy_license"
- if params[:trial_key].present?
  = render "upload_trial_license"

%hr

.container.blank-state-container
  .text-center
    = custom_icon("missing_license")
    %h4 You do not have a license.
    %p.trial-description You can start a free trial of GitLab Ultimate without any obligation or payment details.
    = link_to 'Start free trial', new_trial_url, class: "btn btn-new btn-start-trial prepend-top-10"
