- if @work_item.present?
  = render 'shared/work_item_metadata', work_item: @work_item
- add_page_specific_style 'page_bundles/issuable_list'
- add_page_specific_style 'page_bundles/issues_list'
- add_page_specific_style 'page_bundles/issues_show'
- add_work_items_stylesheet
- add_page_specific_style 'page_bundles/design_management'
- @gfm_form = true
- @noteable_type = 'WorkItem'

#js-work-items{ data: work_items_show_data(@project, current_user) }
