- page_title _("Manifest file import")
- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')


%h1.page-title.gl-text-size-h-display
  = _('Manifest file import')

= render 'import/shared/errors'
= render 'form'
