- page_title _('Error Details')
- add_to_breadcrumbs _('Errors'), project_error_tracking_index_path(@project)
- add_page_specific_style 'page_bundles/error_tracking_details'

#js-error_details{ data: error_details_data(@project, @issue_id) }
