%h4.prepend-top-0
  = s_('ClusterIntegration|Add a Kubernetes cluster integration')
%p
  = s_('ClusterIntegration|Adding a Kubernetes cluster to your group will automatically share the cluster across all your projects.')
  = s_('ClusterIntegration|Use review apps, deploy your applications, and easily run your pipelines for all projects using the same cluster.')
