- page_title s_('ProjectImportByURL|Import repository by URL')
- header_title _('New project'), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')
- @repository_mirrors_available = 'false'
- render_if_exists('import/url/repository_mirrors_data')

-# Only added for fix in .project-destination-select
- add_page_specific_style 'page_bundles/projects'

.js-vue-import-by-url-app{ data: {
  import_by_url_validate_path: validate_import_url_path,
  can_create_project: current_user.can_create_project?.to_s,
  default_project_visibility: default_project_visibility,
  has_repository_mirrors_feature: @repository_mirrors_available,
  new_project_path: new_project_path(anchor: 'import_project'),
  new_project_form_path: projects_path,
  user_namespace_id: current_user.namespace_id.to_s,
  user_namespace_full_path: current_user.namespace.full_path } }
