= nav_link(path: ['groups#show', 'groups#details'], html_options: { class: 'context-header' }) do
  = link_to group_path(@group), title: @group.name, data: { qa_selector: 'group_scope_link' } do
    %span{ class: ['avatar-container', 'rect-avatar', 'group-avatar' , 's32'] }
      = group_icon(@group, class: ['avatar', 'avatar-tile', 's32'])
    %span.sidebar-context-title
      = @group.name
