.created-personal-access-token-container
  %h5.gl-mt-0
    = _('Your new %{type}') % { type: type }
  .form-group
    .input-group
      = text_field_tag 'created-personal-access-token', new_token_value, readonly: true, class: 'qa-created-access-token form-control js-select-on-focus', 'aria-describedby' => 'created-token-help-block'
      %span.input-group-append
        = clipboard_button(text: new_token_value, title: _('Copy %{type}') % { type: type }, placement: 'left', class: 'input-group-text btn-default btn-clipboard')
    %span#created-token-help-block.form-text.text-muted.text-danger
      = _("Make sure you save it - you won't be able to access it again.")

%hr
