%h2#usage-ping Usage ping

.bs-callout.clearfix
  %p
    User cohorts are shown because the usage ping is enabled. The data sent with
    this is shown below. To disable this, visit
    = succeed '.' do
      = link_to 'application settings', admin_application_settings_path(anchor: 'usage-statistics')

%pre.usage-data.js-syntax-highlight.code.highlight{ data: { endpoint: usage_data_admin_application_settings_path(format: :html) } }
