- page_title _('Logs')

.row.empty-state
  .col-sm-12
    .svg-content
      = image_tag 'illustrations/operations_log_pods_empty.svg'
  .col-12
    .text-content
      %h4.text-center
        = s_('Environments|No deployed environments')
      %p.state-description.text-center
        = s_('Logs|To see the logs, deploy your code to an environment.')
      .text-center
        = link_to s_('Environments|Learn about environments'), help_page_path('ci/environments/index.md'), class: 'gl-button btn btn-confirm'
