%span.left-label Newer
%span.legend-box.legend-box-0
%span.legend-box.legend-box-1
%span.legend-box.legend-box-2
%span.legend-box.legend-box-3
%span.legend-box.legend-box-4
%span.legend-box.legend-box-5
%span.legend-box.legend-box-6
%span.legend-box.legend-box-7
%span.legend-box.legend-box-8
%span.legend-box.legend-box-9
%span.right-label Older
