- page_title _("Blame"), @blob.path, @ref
- link_icon = sprite_icon("link", size: 12)

#blob-content-holder.tree-holder
  = render "projects/blob/breadcrumb", blob: @blob, blame: true

  .file-holder
    = render "projects/blob/header", blob: @blob, blame: true
    .file-blame-legend
      = render 'age_map_legend'
    .table-responsive.file-content.blame.code.js-syntax-highlight
      %table
        - current_line = 1
        - @blame.groups.each do |blame_group|
          - commit_data = @blame.commit_data(blame_group[:commit])

          = render 'blame_group',
            blame_group: blame_group,
            current_line: current_line,
            link_icon: link_icon,
            commit_data: commit_data

          - current_line += blame_group[:lines].count
