%li.context-header
  = link_to admin_root_path, title: _('Admin Area'), class: 'has-tooltip', data: { container: 'body', placement: 'right' } do
    %span.avatar-container.icon-avatar.rect-avatar.s32
      = sprite_icon('admin', size: 18)
    %span.sidebar-context-title
      = _('Admin Area')
