%li.context-header
  = link_to explore_root_url, title: _('Explore'), class: 'has-tooltip', data: { container: 'body', placement: 'right' } do
    %span.avatar-container.icon-avatar.rect-avatar.s32
      = sprite_icon('compass', size: 18)
    %span.sidebar-context-title
      = _('Explore')
