.context-header
  = link_to scope_menu.link, **scope_menu.container_html_options do
    %span.avatar-container.rect-avatar.s40.project-avatar
      = source_icon(scope_menu.container, alt: scope_menu.title, class: 'avatar s40 avatar-tile', width: 40, height: 40)
    %span.sidebar-context-title
      = scope_menu.title
