= link_to scope_menu.link, **scope_menu.container_html_options do
  %span.avatar-container.rect-avatar.s32.project-avatar
    = source_icon(scope_menu.container, alt: scope_menu.title, class: 'avatar s32 avatar-tile', width: 32, height: 32)
  %span.sidebar-context-title
    = scope_menu.title
