%strong.fly-out-top-item-name
  = sidebar_menu.title
- if sidebar_menu.has_pill?
  %span.badge.badge-pill.count.fly-out-badge{ **sidebar_menu.pill_html_options }
    = number_with_delimiter(sidebar_menu.pill_count)
