%li.context-header
  = link_to root_url, title: _('Your work'), class: 'has-tooltip', data: { container: 'body', placement: 'right' } do
    %span.avatar-container.icon-avatar.rect-avatar.s32
      = sprite_icon('work', size: 18)
    %span.sidebar-context-title
      = _('Your work')
