- button_class = local_assigns.fetch(:button_class, '')
- hook = local_assigns.fetch(:hook)
- triggers = hook.class.triggers

.hook-test-button.dropdown.gl-new-dropdown.inline>
  %button.btn.gl-button{ 'data-toggle' => 'dropdown', class: button_class }
    = _('Test')
    = sprite_icon('chevron-down')
  %ul.dropdown-menu.dropdown-menu-right{ role: 'menu' }
    .gl-new-dropdown-inner
      - triggers.each_value do |event|
        %li.gl-new-dropdown-item
          = link_to_test_hook(hook, event)
