.gl-flex.gl-gap-5.gl-flex-wrap
  .gl-p-4.gl-border.gl-rounded-base.gl-flex.gl-flex-col.gl-items-center.gl-gap-2
    = render(upload_component)
    upload

  .gl-p-4.gl-border.gl-rounded-base.gl-flex.gl-flex-col.gl-items-center.gl-gap-2
    = render(duo_chat_component)
    duo_chat

  .gl-p-4.gl-border.gl-rounded-base.gl-flex.gl-flex-col.gl-items-center.gl-gap-2
    = render(loader_component)
    loader
