- if current_user&.admin? && license_message.present?
  .alert.alert-dismissible.gitlab-ee-trial-banner.hidden.js-gitlab-ee-trial-banner{ role: 'alert', 'data-license-expiry' => current_license.expires_at }
    %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Dismiss banner' }
      = icon('times', 'aria-hidden' => 'true')
    %p
      = license_message
