%header.navbar.fixed-top.navbar-gitlab.justify-content-center
  .gl-hidden.lg:gl-block
    = render partial: 'shared/logo_with_text', formats: :svg
  .lg:gl-hidden
    = render partial: 'shared/logo', formats: :svg
