%header.navbar.fixed-top.navbar-gitlab.justify-content-center
  .gl-display-none.gl-lg-display-block
    = render partial: 'shared/logo_with_white_text', formats: :svg
  .gl-lg-display-none
    = render partial: 'shared/logo', formats: :svg
