%header.navbar.fixed-top.navbar-gitlab.justify-content-center
  = render partial: 'shared/logo', formats: :svg
  %span.logo-text.d-none.d-lg-block.gl-ml-3.pt-1
    = render partial: 'shared/logo_type', formats: :svg
