%header.navbar.fixed-top.navbar-gitlab.justify-content-center
  .gl-hidden{ class: "@lg/panel:gl-block" }
    = render partial: 'shared/logo_with_text', formats: :svg
  %div{ class: "@lg/panel:gl-hidden" }
    = render partial: 'shared/logo', formats: :svg
