- return unless show_openssl_callout?

-# rubocop:disable Gitlab/DocumentationLinks/HardcodedUrl -- This documentation section is only available in version 17.4 onward in GitLab.com.
- link = link_to('', 'https://docs.gitlab.com/ee/update/versions/gitlab_17_changes.html#1770', target: '_blank', rel: 'noopener noreferrer')
-# rubocop:enable Gitlab/DocumentationLinks/HardcodedUrl
- message = safe_format(_('Starting with GitLab 17.7, OpenSSL 3 will be used. All TLS connections require TLS 1.2 or higher. Weaker ciphers are no longer supported. Encryption must have at least of 112 bits of security. %{link_start}Learn more%{link_end}.'), tag_pair(link, :link_start, :link_end))

= render Pajamas::AlertComponent.new(title: _('OpenSSL version 3'),
  variant: :warning,
  alert_options: { class: 'js-openssl-callout',
                   data: { feature_id: Users::CalloutsHelper::OPENSSL_CALLOUT,
                           dismiss_endpoint: callouts_path }},
  close_button_options: { data: { testid: 'close-openssl-callout' }}) do |c|
  - c.with_body do
    = message
  - c.with_actions do
    = render Pajamas::ButtonComponent.new(variant: :confirm, button_options: { class: 'js-close' }) do
      = _('Acknowledge')
