%header.navbar.navbar-fixed-top.navbar-gitlab{ class: nav_header_class }
  %div{ class: fluid_layout ? "container-fluid" : "container-fluid" }
    .header-content
      - unless current_controller?('sessions')
        .pull-right
          = link_to "Sign in", new_session_path(:user, redirect_to_referer: 'yes'), class: 'btn btn-sign-in btn-success'

      %h1.title= title

= render 'shared/outdated_browser'
