- top_class = local_assigns.fetch(:class, nil)

%li.nav-item{ class: top_class }
  %div
    - sign_in_text = allow_signup? ? _('Sign in / Register') : _('Sign in')
    = render Pajamas::ButtonComponent.new(href: new_session_path(:user, redirect_to_referer: 'yes'), button_options: { class: 'btn-sign-in'}) do
      = sign_in_text
