- top_class = local_assigns.fetch(:class, nil)

%li.nav-item{ class: top_class }
  %div
    - sign_in_text = allow_signup? ? _('Sign in / Register') : _('Sign in')
    = link_to sign_in_text, new_session_path(:user, redirect_to_referer: 'yes'), class: 'gl-button btn btn-default btn-sign-in'
