- page_title "Pipelines quota"
= render "groups/settings_head"

%h3.page-title
  Group pipelines quota
  = link_to icon('question-circle'), help_page_path("user/admin_area/settings/continuous_integration", anchor: "shared-runners-build-minutes-quota"), target: '_blank'
%p.light
  Monthly pipeline minutes usage across shared Runners for the
  %strong= @group.name
  group

= render "namespaces/pipelines_quota/list",
  locals: { namespace: @group, projects: @projects }
