%div.tree-content-holder
  .tree-table-holder
    %table.table#files-slider{class: "table_#{@hex_path} tree-table table-striped" }
      = render partial: 'projects/tree_filter/blob_item',
        collection: tree_filter_list,
        locals: { type: 'file', project: project, id: id, commit: commit }
