- title = has_ci_cd_only_params? ? _('Connect repositories from GitHub') : _('GitHub import')
- page_title title

.gl-border-solid.gl-border-default.gl-border-0.gl-border-b-1
  %h1.gl-text-size-h1.gl-my-0.gl-py-4.gl-flex.gl-items-center.gl-gap-3
    = sprite_icon('github', size: 24, variant: 'strong')
    %span= _('Import repositories from GitHub')

= render 'import/githubish_status',
  provider: 'github', paginatable: true,
  default_namespace: @namespace,
  cancel_path: cancel_import_github_path,
  details_path: details_import_github_path,
  status_import_github_group_path: status_import_github_group_path(format: :json),
  optional_stages: Gitlab::GithubImport::Settings.stages_array(current_user)
