- title = has_ci_cd_only_params? ? _('Connect repositories from GitHub') : _('GitHub import')
- page_title title
%h3.page-title.mb-0.gl-display-flex
  .gl-display-flex.gl-align-items-center.gl-justify-content-center
    = sprite_icon('github', css_class: 'gl-mr-2')
  = _('Import repositories from GitHub')

- paginatable = Feature.enabled?(:remove_legacy_github_client)

= render 'import/githubish_status', provider: 'github', paginatable: paginatable
