- if @project.pages_deployed?
  .card
    .card-header
      Access pages
    .card-body
      %p
        %strong
          Congratulations! Your pages are served under:

      %p= link_to @project.pages_url, @project.pages_url

      - @project.pages_domains.each do |domain|
        %p= link_to domain.url, domain.url
