- if @project.pages_deployed?
  - if can?(current_user, :remove_pages, @project)
    .panel.panel-default.panel.panel-danger
      .panel-heading Remove pages
      .errors-holder
      .panel-body
        %p
          Removing the pages will prevent from exposing them to outside world.
        .form-actions
          = link_to 'Remove pages', project_pages_path(@project), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove"
  - else
    .nothing-here-block Only the project owner can remove pages
