- if @project.pages_deployed?
  - if can?(current_user, :remove_pages, @project)
    .card.border-danger
      .card-header.bg-danger.text-white Remove pages
      .errors-holder
      .card-body
        %p
          Removing pages will prevent them from being exposed to the outside world.
        .form-actions
          = link_to 'Remove pages', project_pages_path(@project), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove"
  - else
    .nothing-here-block Only the project owner can remove pages
