- if @project.pages_deployed?
  - if can?(current_user, :remove_pages, @project)
    .card.border-danger
      .card-header.bg-danger.text-white
        = s_('GitLabPages|Remove pages')
      .errors-holder
      .card-body
        %p
          = s_('GitLabPages|Removing pages will prevent them from being exposed to the outside world.')
        .form-actions
          = link_to s_('GitLabPages|Remove pages'), project_pages_path(@project), data: { confirm: s_('GitLabPages|Are you sure?')}, method: :delete, class: "btn gl-button btn-danger"
  - else
    .nothing-here-block
      = s_('GitLabPages|Only project maintainers can remove pages')
