- if can?(current_user, :update_pages, @project)
  .panel.panel-default
    .panel-heading
      Domains
    .nothing-here-block
      Support for domains and certificates is disabled.
      Ask your system's administrator to enable it.
