- if can?(current_user, :update_pages, @project) && @project.pages_custom_certificate
  .panel.panel-default.panel.panel-danger
    .panel-heading
      Remove certificate
    .errors-holder
    .panel-body
      = form_tag(certificates_namespace_project_pages_path(@project.namespace, @project), method: :delete, class: 'form-horizontal') do
        %p
          Removing the certificate will stop serving the page under HTTPS.
        - if certificate
          %p
            %pre
              = certificate.to_text

        .form-actions
          = button_to 'Remove certificate', '#', class: "btn btn-remove js-confirm-danger", data: { "confirm-danger-message" => remove_pages_certificate_message(@project) }
