- unless @project.pages_url
  .panel.panel-info
    .panel-heading
      Configure pages
    .panel-body
      %p
        Learn how to upload your static site and have it served by
        GitLab by following the #{link_to "documentation on GitLab Pages", "http://doc.gitlab.com/ee/pages/README.html", target: :blank}.
      %p
        In the example below we define a special job named
        %code pages
        which is using Jekyll to build a static site. The generated
        HTML will be stored in the
        %code public/
        directory which will then be archived and uploaded to GitLab.
        The name of the directory should not be different than
        %code public/
        in order for the pages to work.
