- unless @project.pages_deployed?
  .panel.panel-info
    .panel-heading
      Configure pages
    .panel-body
      %p
        Learn how to upload your static site and have it served by
        GitLab by following the #{link_to "documentation on GitLab Pages", "http://doc.gitlab.com/ee/pages/README.html", target: :blank}.
