- page_title "#{@domain.domain}", "Pages Domain"

%h3.page-title
  #{@domain.domain}

.table-holder
  %table.table
    %tr
      %td
        Domain
      %td
        = link_to @domain.domain, @domain.url
    %tr
      %td
        Certificate
      %td
        - if @domain.certificate
          %pre
            = @domain.certificate.to_text
        - else
          .light
            missing
