- plugins = Gitlab::Plugin.files

.row.prepend-top-default
  .col-lg-4
    %h4.prepend-top-0
      Plugins
    %p
      #{link_to 'Plugins', help_page_path('administration/plugins')} are similar to
      system hooks but can be are executed as files instead of URL.

  .col-lg-8.append-bottom-default
    - if plugins.any?
      %ul.content-list
        - plugins.each do |file|
          %li
            = File.basename(file)
    - else
      %p.light-well.text-center
        No plugins found.
