<!DOCTYPE html>
<html>
  <head>
  <%= webpack_bundle_tag("sandboxed_mermaid") %>
  <% if params[:darkMode] == 'true' %>
    <meta name="color-scheme" content="dark">
  <% end %>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
