%h3.page_title
  Projects
  %small Read-Only Access
%hr

%ul.unstyled
  - @projects.each do |project|
    %li.clearfix
      %h5
        %i.icon-share
        = project.name_with_namespace
        .right
          %span.monospace.tiny
            git clone #{project.http_url_to_repo}


= paginate @projects, theme: "admin"
