- add_to_breadcrumbs _("Messages"), admin_broadcast_messages_path
- breadcrumb_title @broadcast_message.id
- page_title _("Broadcast Messages")

#js-broadcast-message{ data: broadcast_message_data(@broadcast_message) }
