- breadcrumb_title _("Messages")
- page_title _("Broadcast Messages")
- page_description = _('Use banners and notifications to notify your users about scheduled maintenance, recent upgrades, and more.')

= render ::Layouts::PageHeadingComponent.new(_("Broadcast Messages"), description: page_description, options: { data: { event_tracking_load: 'true', event_tracking: 'view_admin_broadcast_messages_pageload' } })

#js-broadcast-messages{ data: {
  page: params[:page] || 1,
  target_access_level_options: target_access_level_options.to_json,
  messages_path: admin_broadcast_messages_path,
  preview_path: preview_admin_broadcast_messages_path,
  messages_count: @broadcast_messages.total_count,
  messages: admin_broadcast_messages_data(@broadcast_messages) } }
