- breadcrumb_title _("Messages")
- page_title _("Broadcast Messages")
- vue_app_enabled = Feature.enabled?(:vue_broadcast_messages, current_user)

%h1.page-title.gl-font-size-h-display
  = _('Broadcast Messages')
%p.light
  = _('Use banners and notifications to notify your users about scheduled maintenance, recent upgrades, and more.')

- if vue_app_enabled
  #js-broadcast-messages{ data: { messages: @broadcast_messages.to_json } }
- else
  = render 'form'
  %br.clearfix
  = render 'table'
