- @no_container = true

- page_title _('Trace Details')
- add_to_breadcrumbs _('Tracing'), project_tracing_index_path(@project)

#js-tracing-details{ data: { view_model: observability_tracing_details_model(@project, @trace_id) } }

