- if Gitlab::CurrentSettings.email_additional_text.present?
  %tr
    %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding:25px 0;" }
  %tr
    %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;color:#5c5c5c;" }
      %table.wrapper{ border: "0", cellpadding: "0", cellspacing: "0", style: "width:640px;margin:0 auto;border-collapse:separate;border-spacing:0;" }
        %tbody
          %tr
            %td{ style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;background-color:#ffffff;text-align:left;padding:18px 25px;border:1px solid #ededed;border-radius:3px;overflow:hidden;" }
              %table.content{ border: "0", cellpadding: "0", cellspacing: "0", style: "width:100%;border-collapse:separate;border-spacing:0;" }
                %tbody
                  = Gitlab::Utils.nlbr(Gitlab::CurrentSettings.email_additional_text)
