= render "repositories/head"
%pre= @hook.url

- if can? current_user, :admin_project, @project
  .actions
    = link_to 'Test Hook', test_project_hook_path(@project, @hook), :class => "btn"
    = link_to 'Remove', project_hook_path(@project, @hook), :confirm => 'Are you sure?', :method => :delete, :class => "danger btn"
