= render "repositories/head"
= debug @hook

- if can? current_user, :admin_project, @project
  .merge-tabs
    .right
      = link_to 'Remove', project_hook_path(@project, @hook), :confirm => 'Are you sure?', :method => :delete, :class => "red-button"
