/** COLORS **/
.cgray { color: gray }
.clgray { color: #BBB }
.cred { color: #D12F19 }
.cgreen { color: #4a2 }
.cblue { color: #29A }
.cblack { color: #111 }
.cdark { color: #444 }
.camber { color: #ffc000 }
.cwhite { color: #fff!important }
.bgred { background: #F2DEDE!important }

/** COMMON CLASSES **/
.prepend-top-10 { margin-top:10px }
.prepend-top-20 { margin-top:20px }
.prepend-left-10 { margin-left:10px }
.prepend-left-20 { margin-left:20px }
.append-right-10 { margin-right:10px }
.append-right-20 { margin-right:20px }
.append-bottom-10 { margin-bottom:10px }
.append-bottom-15 { margin-bottom:15px }
.append-bottom-20 { margin-bottom:20px }
.inline { display: inline-block }
.padded { padding:20px }
.ipadded { padding:20px!important }
.lborder { border-left:1px solid #eee }
.underlined_link { text-decoration: underline; }
.hint { font-style: italic; color: #999; }
.light { color: #888 }
.tiny { font-weight: normal }
.vtop { vertical-align: top !important; }


.dropdown-menu > li > a {
  text-shadow: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #29b;
}

.breadcrumb > li + li:before {
  content: "/";
  padding: 0;
  color: #666;
}

.str-truncated {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  max-width: 82%;
}

.page-title {
  color: #444;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 15px;
}

.slead {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
}

.help-callout {
  li {
    font-size: 15px;
    line-height: 1.6;
  }
}

/** light list with border-bottom between li **/
ul.bordered-list {
  margin: 5px 0px;
  padding: 0px;
  li {
    padding: 5px 0;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    display: block;
    margin: 0px;
    &:last-child { border:none }
    &.active {
      background: #f9f9f9;
      a { font-weight: bold; }
    }
  }

  &.top-list {
    li:first-child {
      padding-top: 0;
      h4, h5 {
        margin-top: 0;
      }
    }
  }
}

.underlined-title {
  border-bottom: 1px solid #ccc;
  padding: 0 0 3px 3px;
}

// Nav tabs
.nav.nav-tabs {
  li {
    > a {
      padding: 8px 20px;
      margin-right: 7px;
      line-height: 20px;
      border-color: #EEE;
      color: #888;
      border-bottom: 1px solid #ddd;
      .badge {
        background-color: #eee;
        color: #888;
        text-shadow: 0 1px 1px #fff;
      }
      i.fa {
        line-height: 14px;
      }
    }
    &.active {
      > a {
        border-color: #CCC;
        border-bottom: 1px solid #fff;
        color: #333;
        font-weight: bold;
      }
    }
  }

  &.nav-small-tabs > li > a {
    padding: 6px 9px;
  }
}

.nav-tabs > li > a,
.nav-pills > li > a {
  color: #666;
}

.nav-small > li > a {
  padding: 3px 5px;
  font-size: 12px;
}



// Breadcrumb
ul.breadcrumb {
  background: white;
  border: none;
  li {
    display: inline;
    text-shadow: 0 1px 0 white
  }

  a {
    font-size: 16px;
  }
}

/**
 * fix to keep tooltips position in top navigation bar
 *
 */
.navbar .nav > li {
  position: relative;
  white-space: nowrap;
}

// alerts
.alert-disabled {
  background-color: #e6e6e6;
  border-color: #ebccd1;
  color: #b0b0b0;
}

.label {
  margin-right: 5px;
  font-weight: normal;
}
