%tr{ class: "tree-item #{tree_hex_class(blob_item)}" }
  %td.tree-item-file-name
    = tree_icon(type, blob_item.mode, blob_item.name)
    %span.str-truncated
      = link_to blob_item.name, namespace_project_blob_path(@project.namespace, @project, tree_join(@id || @commit.id, blob_item.name))
  %td.tree_time_ago.cgray
    = render 'projects/tree/spinner'
  %td.hidden-xs.tree_commit
