- if readme.rich_viewer
  %article.file-holder.readme-holder{ id: 'readme', class: ("limited-width-container" unless fluid_layout) }
    .js-file-title.file-title
      = blob_icon readme.mode, readme.name
      = link_to project_blob_path(@project, tree_join(@ref, readme.path)) do
        %strong
          = readme.name

    = render 'projects/blob/viewer', viewer: readme.rich_viewer, viewer_url: project_blob_path(@project, tree_join(@ref, readme.path), viewer: :rich, format: :json)
