%tr{ class: "tree-item" }
  %td.tree-item-file-name
    = image_tag "submodule.png"
    %span
      = link_to truncate(submodule_item.name, length: 40), submodule_item.submodule_url
    @
    %span.monospace #{submodule_item.id[0..10]}
  %td
  %td
  %td
