- tree, commit = submodule_links(submodule_item)
%tr{ class: "tree-item" }
  %td.tree-item-file-name
    %i.fa.fa-archive
    %span
      = link_to truncate(submodule_item.name, length: 40), tree
    @
    %span.monospace
      - if commit.nil?
        #{truncate_sha(submodule_item.id)}
      - else
        = link_to "#{truncate_sha(submodule_item.id)}", commit
  %td
  %td.hidden-xs
