.tree-content-holder
  #sidebar{ ":class" => "{'sidebar-mini' : isMini}", "v-cloak" => "1" }<
    %table.table
      %thead{"v-if" => "!isMini"}
        %th{"v-if" => "!isMini"}
          Name
        %th{"v-else" => "1"}
          Project
        %th.hidden-sm.hidden-xs{"v-if" => "!isMini"}
          Last Commit
        %th.hidden-xs{"v-if" => "!isMini"}
          Last Update
      %tbody
        %tr{ is: "repo-file-options", ":is-mini" => "isMini", "project-name" => @project.name }
        %tr{ is: "repo-previous-directory", ":prevurl" => "prevURL", "@linkclicked" => "linkClicked" }
        %tr{ is: "repo-loading-file", "v-for" => "n in 5", ":loading" => "loading", ":has-files" => "!!files.length", ":is-mini" => "isMini"}
        %tr{ is: "repo-file", "v-for" => "file in files", ":key" => "file.id", ":file" => "file",":is-mini" => "isMini", "@linkclicked" => "linkClicked(file)", ":is-tree" => "isTree", ":loading" => "loading", ":has-files" => "!!files.length", ":active-file" => "activeFile" }
  .panel-right>
    %ul#tabs{"v-if" => "isMini", ":style" => "{height: 41 + scrollWidth + 'px'}", "v-cloak" => "1"}
      %li{ is: "repo-tab", "v-for" => "tab in openedFiles", ":key" => "tab.id", ":tab" => "tab", ":class" => "{'active' : tab.active}" }
    #ide{ data: { url: repo_url } }
    #binary-viewer{ "v-if" => "binary" }
      %img{"v-if" => "binaryTypes.png", ":src" => "pngBlobWithDataURI"}
- if can_edit_tree?
  = render 'projects/blob/upload', title: _('Upload New File'), placeholder: _('Upload New File'), button_title: _('Upload file'), form_path: namespace_project_create_blob_path(@project.namespace, @project, @id), method: :post
  = render 'projects/blob/new_dir'

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    gl.utils.ajaxGet("#{escape_javascript(@logs_path)}");
  });
