%tr{ class: "tree-item #{tree_hex_class(tree_item)}" }
  %td.tree-item-file-name
    = tree_icon(type)
    %span.str-truncated
      = link_to tree_item.name, project_tree_path(@project, tree_join(@id || @commit.id, tree_item.name))
  %td.tree_time_ago.cgray
    = render 'spinner'
  %td.tree_commit{ colspan: 2 }
