%span.str-truncated
  %span.tree_author= commit_author_link(commit, avatar: true, size: 16)
  = link_to_gfm commit.title, namespace_project_commit_path(@project.namespace, @project, commit.id), class: "tree-commit-link"
