.tree-controls
  %a.btn.btn-default.editable-mode{href='#'}
    Edit mode
  = render 'projects/find_file_link'

  = render 'projects/buttons/download', project: @project, ref: @ref

.tree-ref-holder
  = render 'shared/ref_switcher', destination: 'tree', path: @path
