.tree-content-holder
  #sidebar{ ":class" => "{'sidebar-mini' : !isTree}" }<
    %table.table
      %thead{"v-if" => "isTree"}
        %th{"v-if" => "isTree"}
          Name
        %th{"v-else"}
          Project
        %th{"v-if" => "isTree"}
          Last Commit
        %th{"v-if" => "isTree"}
          Last Update
      %tr{ is: "repo-previous-directory", ":prevurl" => "prevURL", "@linkclicked" => "linkClicked" }
      %tr{ is: "repo-file", "v-for" => "file in files", ":key" => "file.id", ":file" => "file","@linkclicked" => "linkClicked(file)", ":is-tree" => "isTree" }
  #ide{ data: { url: repo_url }, style: "height:400px;" }>

- if can_edit_tree?
  = render 'projects/blob/upload', title: _('Upload New File'), placeholder: _('Upload New File'), button_title: _('Upload file'), form_path: namespace_project_create_blob_path(@project.namespace, @project, @id), method: :post
  = render 'projects/blob/new_dir'

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    gl.utils.ajaxGet("#{escape_javascript(@logs_path)}");
  });
