%tr{ class: "tree-item #{tree_hex_class(tree_item)}" }
  %td.tree-item-file-name
    = tree_icon(type, tree_item.mode, tree_item.name)
    %span.str-truncated
      - path = flatten_tree(tree_item)
      = link_to path, namespace_project_tree_path(@project.namespace, @project, tree_join(@id || @commit.id, path))
  %td.tree_time_ago.cgray
    = render 'projects/tree/spinner'
  %td.hidden-xs.tree_commit
