#repo{ data: { url: repo_url(@project), 'project-name' => @project.name, refs_url: refs_namespace_project_path(@project.namespace, @project, format: "json") } }

- if can_edit_tree?
  = render 'projects/blob/upload', title: _('Upload New File'), placeholder: _('Upload New File'), button_title: _('Upload file'), form_path: project_create_blob_path(@project, @id), method: :post
  = render 'projects/blob/new_dir'

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    gl.utils.ajaxGet("#{escape_javascript(@logs_path)}");
  });
