.panel.panel-default
  .panel-heading
    = title
    .pull-right= issues.size
  %ul{ class: "well-list issues-sortable-list", id: "issues-list-#{id}", "data-state" => id }
    - issues.sort_by(&:position).each do |issue|
      = render 'issue', issue: issue
