= render 'shared/milestones/milestone',
          milestone_path: namespace_project_milestone_path(milestone.project.namespace, milestone.project, milestone),
          issues_path: namespace_project_issues_path(milestone.project.namespace, milestone.project, milestone_title: milestone.title),
          merge_requests_path: namespace_project_merge_requests_path(milestone.project.namespace, milestone.project, milestone_title: milestone.title),
          milestone: milestone
