- breadcrumb_title _('Edit')
- add_to_breadcrumbs _('Milestones'), project_milestones_path(@project)
- page_title _('Edit'), @milestone.title, _('Milestones')

%h1.page-title.gl-font-size-h-display
  = _('Edit milestone')

= render 'form'
