- @no_container = true
- add_to_breadcrumbs _('Milestones'), project_milestones_path(@project)
- breadcrumb_title _('New')
- page_title _('New Milestone')

%div{ class: container_class }
  %h3.page-title
    = _('New Milestone')

  %hr

  = render 'form'
