.board-list-component
  .board-list-loading.text-center{ "v-if" => "loading" }
    = icon("spinner spin")
  - if can? current_user, :create_issue, @project
    %board-new-issue{ ":list" => "list",
      "v-if" => 'list.type !== "done" && showIssueForm' }
  %ul.board-list{ "ref" => "list",
    "v-show" => "!loading",
    ":data-board" => "list.id",
    ":class" => '{ "is-smaller": showIssueForm }' }
    %board-card{ "v-for" => "(issue, index) in issues",
      "ref" => "issue",
      ":index" => "index",
      ":list" => "list",
      ":issue" => "issue",
      ":issue-link-base" => "issueLinkBase",
      ":root-path" => "rootPath",
      ":disabled" => "disabled",
      ":key" => "issue.id" }
    %li.board-list-count.text-center{ "v-if" => "showCount",
      "data-issue-id" => "-1" }
      = icon("spinner spin", "v-show" => "list.loadingMore" )
      %span{ "v-if" => "list.issues.length === list.issuesSize" }
        Showing all issues
      %span{ "v-else" => true }
        Showing {{ list.issues.length }} of {{ list.issuesSize }} issues
