.board{ ":class" => '{ "is-draggable": !list.preset }',
  ":data-id" => "list.id" }
  .board-inner
    %header.board-header{ ":class" => '{ "has-border": list.label }', ":style" => "{ borderTopColor: (list.label ? list.label.color : null) }" }
      %h3.board-title.js-board-handle{ ":class" => '{ "user-can-drag": (!disabled && !list.preset) }' }
        %span.has-tooltip{ ":title" => '(list.label ? list.label.description : "")',
          data: { container: "body", placement: "bottom" } }
          {{ list.title }}
        .board-issue-count-holder.pull-right.clearfix{ "v-if" => 'list.type !== "blank"' }
          %span.board-issue-count.pull-left{ ":class" => '{ "has-btn": list.type !== "done" && !disabled }' }
            {{ list.issuesSize }}
          - if can?(current_user, :admin_issue, @project)
            %button.btn.btn-small.btn-default.pull-right.has-tooltip{ type: "button",
              "@click" => "showNewIssueForm",
              "v-if" => 'list.type !== "done"',
              "aria-label" => "Add an issue",
              "title" => "Add an issue",
              data: { placement: "top", container: "body" } }
              = icon("plus")
        - if can?(current_user, :admin_list, @project)
          %board-delete{ "inline-template" => true,
            ":list" => "list",
            "v-if" => "!list.preset && list.id" }
            %button.board-delete.has-tooltip.pull-right{ type: "button", title: "Delete list", "aria-label" => "Delete list", data: { placement: "bottom" }, "@click.stop" => "deleteBoard" }
              = icon("trash")
    %board-list{ "v-if" => 'list.type !== "blank"',
      ":list" => "list",
      ":issues" => "list.issues",
      ":loading" => "list.loading",
      ":disabled" => "disabled",
      ":issue-link-base" => "issueLinkBase",
      "ref" => "board-list" }
    - if can?(current_user, :admin_list, @project)
      = render "projects/boards/components/blank_state"
