%li.card{ ":class" => '{ "user-can-drag": !disabled && issue.id, "is-disabled": disabled || !issue.id, "is-active": issueDetailVisible }',
  ":index" => "index",
  ":data-issue-id" => "issue.id",
  "@mousedown" => "mouseDown",
  "@mousemove" => "mouseMove",
  "@mouseup" => "showIssue($event)" }
  %issue-card-inner{ ":list" => "list",
    ":issue" => "issue",
    ":issue-link-base" => "issueLinkBase",
    ":root-path" => "rootPath" }
