%li.card{ ":data-issue" => "issue.id", "v-for" => "issue in issues | filterBy query in 'title' | filterBy customFilter" }
  %h4.card-title
    %a{ href: "#", ":title" => "issue.title" }
      {{ issue.title }}
  .card-footer
    %span.card-number
      = precede '#' do
        {{ issue.id }}
    %span.label.color-label{ "v-for" => "label in issue.labels", ":style" => "{ backgroundColor: label.backgroundColor, color: label.textColor }" }
      {{ label.title }}
