- add_to_breadcrumbs _("Labels"), project_labels_path(@project)
- add_to_breadcrumbs @label.name, project_labels_path(@project)
- breadcrumb_title _("Edit")
- page_title _("Edit"), @label.name, _("Labels")
- show_lock_on_merge = @project.supports_lock_on_merge?

%h1.page-title.gl-text-size-h-display
  = _('Edit label')

= render 'shared/labels/form', url: project_label_path(@project, @label), back_path: project_labels_path(@project), show_lock_on_merge: show_lock_on_merge
