- @no_container = true
- page_title "Edit", @label.name, "Labels"
= render "projects/issues/head"

%div{ class: container_class }
  %h3.page-title
    Edit Label
  %hr
  = render 'form', url: namespace_project_label_path(@project.namespace.becomes(Namespace), @project, @label)
