- page_title "Edit", @label.name, "Labels"
%h3
  Edit label
  %span.light #{@label.name}
.back-link
  = link_to namespace_project_labels_path(@project.namespace, @project) do
    &larr; To labels list
%hr
= render 'form'
