= render "projects/issues/head"

- if @labels.present?
  %ul.bordered-list.labels-table
    - @labels.each do |label|
      = render 'label', label: label

- else
  .light-well
    %h3.nothing_here_message Add first label to your issues or #{link_to 'generate', generate_project_labels_path(@project), method: :post} default set of labels
