- page_title "Labels"
- if can? current_user, :admin_label, @project
  = link_to new_namespace_project_label_path(@project.namespace, @project), class: "pull-right btn btn-new" do
    New label
%h3.page-title
  Labels
%hr

.labels
  - if @labels.present?
    %ul.bordered-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .light-well
      - if can? current_user, :admin_label, @project
        .nothing-here-block Create first label or #{link_to 'generate', generate_namespace_project_labels_path(@project.namespace, @project), method: :post} default set of labels
      - else
        .nothing-here-block No labels created
