= render "projects/issues/head"

- if can? current_user, :admin_label, @project
  = link_to new_project_label_path(@project), class: "pull-right btn btn-new" do
    New label
%h3.page-title
  Labels
%hr

- if @labels.present?
  %ul.bordered-list.manage-labels-list
    = render @labels

- else
  .light-well
    .nothing-here-block Add first label to your issues or #{link_to 'generate', generate_project_labels_path(@project), method: :post} default set of labels
