- @no_container = true
- breadcrumb_title "Labels"
- page_title "New Label"

%div{ class: container_class }
  %h3.page-title
    New Label
  %hr
  = render 'shared/labels/form', url: project_labels_path(@project), back_path: project_labels_path(@project)
