- add_to_breadcrumbs _("Labels"), project_labels_path(@project)
- breadcrumb_title _("New label")
- page_title _("New Label")

%h1.page-title.gl-text-size-h-display
  = _('New Label')

= render 'shared/labels/form', url: project_labels_path(@project), back_path: project_labels_path(@project)
