@import '../framework/variables';

@mixin diff-background($background, $idiff, $border) {
  background: $background;

  &.line_content span.idiff {
    background: $idiff;
  }

  &.diff-line-num {
    border-color: $border;
  }
}

@mixin dark-diff-match-line {
  color: $dark-diff-match-bg;
  background: $dark-diff-match-color;
}

@mixin diff-expansion($background, $border, $link) {
  background-color: $background;

  td {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  a {
    color: $link;
  }
}
