- user = local_assigns.fetch(:user)

= render Pajamas::CardComponent.new(body_options: { class: 'gl-flex gl-gap-3' }) do |c|
  - c.with_body do
    = render Pajamas::AvatarComponent.new(user, size: 48, alt: "")

    .gl-grow.user-info
      .gl-line-clamp-1.gl-break-all
        = link_to user.name, user_path(user), class: 'js-user-link', data: { user_id: user.id, testid: 'user-link', qa_username: user.username }

      .gl-line-clamp-1.gl-break-all
        %span.gl-text-subtle= user.to_reference
