- user = local_assigns.fetch(:user)

%li.member{ class: dom_class(user), id: dom_id(user) }
  %span.list-item-name
    = image_tag avatar_icon_for_user(user, 40), class: "avatar s40", alt: ''
    .user-info
      = link_to user.name, user_path(user), class: 'member js-user-link', data: { user_id: user.id }
      %br
      %span.cgray= user.to_reference

      - if user == current_user
        %span.badge.badge-success.prepend-left-5= _("It's you")
