- user = local_assigns.fetch(:user)

.col-lg-3.col-md-4.col-sm-12
  .gl-card.gl-mb-5
    .gl-card-body
      = image_tag avatar_icon_for_user(user, 40), class: "avatar s40", alt: ''

      .user-info
        .block-truncated
          = link_to user.name, user_path(user), class: 'user js-user-link', data: { user_id: user.id, qa_selector: 'user_link', qa_username: user.username }

        .block-truncated
          %span.gl-text-gray-900= user.to_reference
