%ul.dropdown-menu.dropdown-menu-no-wrap.dropdown-menu-selectable.dropdown-menu-large{ role: "menu", class: [notifications_menu_identifier("dropdown", notification_setting)] }
  - NotificationSetting.levels.each_key do |level|
    - next if level == "custom"
    - next if level == "global" && notification_setting.source.nil?

    = notification_list_item(level, notification_setting)

  %li.divider
  %li
    %a.update-notification{ href: "#", role: "button", class: ("is-active" if notification_setting.custom?), data: { toggle: "modal", target: "#" + notifications_menu_identifier("modal", notification_setting), notification_level: "custom", notification_title: "Custom" } }
      %strong.dropdown-menu-inner-title= s_('NotificationSetting|Custom')
      %span.dropdown-menu-inner-content= notification_description("custom")
