- tag_name = Gitlab::Git.ref_name(matching_tag.name, types: 'tags')

%tr
  %td
    = link_to tag_name, project_ref_path(@project, tag_name), class: 'ref-name'

    - if @project.root_ref?(tag_name)
      = gl_badge_tag s_('ProtectedTag|default'), { variant: :info }, { class: 'gl-ml-2' }
  %td
    - commit = @project.commit(tag_name)
    = link_to(commit.short_id, project_commit_path(@project, commit.id), class: 'commit-sha')
    = time_ago_with_tooltip(commit.committed_date)
