%tr
  %td
    = link_to matching_tag.name, project_ref_path(@project, matching_tag.name), class: 'ref-name'

    - if @project.root_ref?(matching_tag.name)
      %span.badge.badge-info.prepend-left-5 default
  %td
    - commit = @project.commit(matching_tag.name)
    = link_to(commit.short_id, project_commit_path(@project, commit.id), class: 'commit-sha')
    = time_ago_with_tooltip(commit.committed_date)
