.protected-tags-list.js-protected-tags-list
  - if @protected_tags.empty?
    .card-header
      Protected tags (#{@protected_tags_count})
    %p.settings-message.text-center
      No tags are protected.
  - else
    - can_admin_project = can?(current_user, :admin_project, @project)

    %table.table.table-bordered
      %colgroup
        %col{ width: "25%" }
        %col{ width: "25%" }
        %col{ width: "50%" }
        - if can_admin_project
          %col
      %thead
        %tr
          %th Protected tags (#{@protected_tags_count})
          %th Last commit
          %th Allowed to create
          - if can_admin_project
            %th
      %tbody
        %tr
        = yield

    = paginate @protected_tags, theme: 'gitlab'
