- page_title _("Background jobs")
- sidekiq_link = link_to('', 'https://sidekiq.org/', target: '_blank', rel: 'noopener noreferrer')
- page_description = safe_format(_('GitLab uses %{link_start}Sidekiq%{link_end} to process background jobs'), tag_pair(sidekiq_link, :link_start, :link_end))

= render ::Layouts::PageHeadingComponent.new(_('Background jobs'),
  description: page_description,
  options: { data: { event_tracking_load: 'true', event_tracking: 'view_admin_background_jobs_pageload' } })

%iframe{ src: sidekiq_path, width: '100%', height: 970, style: "border: 0" }
