%h3.page-title Background Jobs
%br
.ui-box
  %iframe{src: sidekiq_path, width: '100%', height: 900, style: "border: none"}
%h4 Sidekiq running processes
- sidekiq_processes = `ps -eo euser,pid,pcpu,pmem,stat,start,command | grep sidekiq | grep -v grep`
- if sidekiq_processes.empty?
  %b There are no running sidekiq processes
  %b Please restart GitLab
- else
  .ui-box
    %table.zebra-striped
      %thead
        %th USER
        %th
        %th PID
        %th
        %th CPU
        %th
        %th MEM
        %th
        %th STATE
        %th
        %th START
        %th
        %th COMMAND
        %th
        - sidekiq_processes.split("\n").each do |process|
          - next unless process.match(/(sidekiq \d+\.\d+\.\d+.+$)/)
          - data = process.gsub!(/\s+/m, '|').strip.split('|')
          %tr
            - 6.times do
              %td= data.shift
              %td
            %td= data.join(" ")
  %b If '[25 of 25 busy]' is shown, restart GitLab.
  %br
  %b If more than one sidekiq process is listed, stop GitLab, kill the remaining sidekiq processes (sudo pkill -u git -f sidekiq) and restart GitLab.
