- page_title 'IP Blocking: Edit DNS Blacklist'
%h3 Edit DNS Blacklist

= render 'admin/ip_blocking/nav'

.gray-content-block.clearfix
  = render 'admin/ip_blocking/dns_list_form', url: admin_ip_blocking_dns_blacklist_path(@dns_list.id)
