- page_title _("Edit"), @application.name, _("Group applications")

= render ::Layouts::PageHeadingComponent.new(_('Edit group application'))
= render 'shared/doorkeeper/applications/form', url: group_settings_application_path(@group, @application)
