.nav-controls
  - if clusterable.can_add_cluster?
    = link_to s_('ClusterIntegration|Add Kubernetes cluster'), clusterable.new_path, class: 'btn btn-success js-add-cluster'
  - else
    %span.btn.btn-add-cluster.disabled.js-add-cluster
      = s_("ClusterIntegration|Add Kubernetes cluster")
