- active = params[:tab] == 'details' || !params[:tab].present?

%li.nav-item{ role: 'presentation' }
  %a#cluster-details-tab.nav-link.qa-details{ class: active_when(active), href: clusterable.cluster_path(@cluster.id, params: {tab: 'details'}) }
    %span= _('Details')
