%section.settings.no-animate.expanded.cluster-health-graphs.qa-cluster-health-section#cluster-health
  - if @cluster&.integration_prometheus_available?
    #prometheus-graphs{ data: @cluster.health_data(clusterable) }

  - else
    %p.settings-message.text-center= s_("ClusterIntegration|In order to view the health of your cluster, you must first enable Prometheus in the Integrations tab.")
