- active = params[:tab] == 'migrate'

- if can_admin_cluster?(current_user, @cluster)
  = gl_tab_link_to clusterable.cluster_path(@cluster.id, params: { tab: 'migrate' }), { item_active: active } do
    = sprite_icon('warning', css_class: 'gl-mr-2')
    = s_('ClusterIntegration|Migrate')
