%h4.gl-mt-0
  = s_('ClusterIntegration|Add a Kubernetes cluster integration')
%p
  = clusterable.sidebar_text
%p
  = clusterable.learn_more_link

= render_if_exists 'clusters/multiple_clusters_message'
