- is_connect_page = local_assigns.fetch(:is_connect_page, false)
- title = is_connect_page ? s_('ClusterIntegration|Connect a Kubernetes cluster') : s_('ClusterIntegration|Create a Kubernetes cluster')

%h3
  = title
%p
  = clusterable.sidebar_text

- if is_connect_page
  %p
    = clusterable.learn_more_link

  = render 'clusters/clusters/multiple_clusters_message'
