- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title _('Connect a cluster')
- page_title _('Connect a Kubernetes Cluster')

= render 'deprecation_alert'

.md:gl-flex.gl-mt-3
  .gl-w-full.gl-shrink-0.md:gl-mr-5{ class: 'sm:gl-w-1/4' }
    = render 'sidebar', is_connect_page: true
  .gl-w-full
    #js-cluster-new
    = render 'clusters/clusters/user/form'
