- add_page_specific_style 'page_bundles/clusters'
- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Clusters')

.clusters-container
  .js-clusters-main-view{ data: js_clusters_list_data(clusterable) }
