- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title _('Create a cluster')
- page_title _('Create a Kubernetes cluster')

= render_gcp_signup_offer

.md:gl-flex.gl-mt-3
  .gl-w-full.gl-shrink-0.md:gl-mr-5{ class: 'sm:gl-w-1/4' }
    = render 'sidebar', is_connect_page: false
  .gl-w-full
    = render 'clusters/clusters/cloud_providers/cloud_provider_selector'
