- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title _('Create a cluster')
- page_title _('Create a Kubernetes cluster')

= render_gcp_signup_offer

.md:gl-flex.gl-mt-3
  .gl-w-full.gl-sm-w-25p.gl-flex-shrink-0.gl-md-mr-5
    = render 'sidebar', is_connect_page: false
  .gl-w-full
    = render 'clusters/clusters/cloud_providers/cloud_provider_selector'
