- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title @cluster.name
- page_title _('Kubernetes Cluster')
- manage_prometheus_path = edit_project_service_path(@cluster.project, 'prometheus') if @project

- expanded = expanded_by_default?

- status_path = clusterable.cluster_status_cluster_path(@cluster.id, format: :json) if can?(current_user, :admin_cluster, @cluster)
.edit-cluster-form.js-edit-cluster-form{ data: { status_path: status_path,
  install_helm_path: clusterable.install_applications_cluster_path(@cluster, :helm),
  install_ingress_path: clusterable.install_applications_cluster_path(@cluster, :ingress),
  install_cert_manager_path: clusterable.install_applications_cluster_path(@cluster, :cert_manager),
  install_prometheus_path: clusterable.install_applications_cluster_path(@cluster, :prometheus),
  install_runner_path: clusterable.install_applications_cluster_path(@cluster, :runner),
  install_jupyter_path: clusterable.install_applications_cluster_path(@cluster, :jupyter),
  install_knative_path: clusterable.install_applications_cluster_path(@cluster, :knative),
  update_knative_path: clusterable.update_applications_cluster_path(@cluster, :knative),
  toggle_status: @cluster.enabled? ? 'true': 'false',
  has_rbac: has_rbac_enabled?(@cluster) ? 'true': 'false',
  cluster_type: @cluster.cluster_type,
  cluster_status: @cluster.status_name,
  cluster_status_reason: @cluster.status_reason,
  help_path: help_page_path('user/project/clusters/index.md', anchor: 'installing-applications'),
  ingress_help_path: help_page_path('user/project/clusters/index.md', anchor: 'getting-the-external-endpoint'),
  ingress_dns_help_path: help_page_path('user/project/clusters/index.md', anchor: 'manually-determining-the-external-endpoint'),
  environments_help_path: help_page_path('ci/environments', anchor: 'defining-environments'),
  clusters_help_path: help_page_path('user/project/clusters/index.md', anchor: 'deploying-to-a-kubernetes-cluster'),
  deploy_boards_help_path: help_page_path('user/project/deploy_boards.html', anchor: 'enabling-deploy-boards'),
  manage_prometheus_path: manage_prometheus_path,
  cluster_id: @cluster.id } }

  .js-cluster-application-notice
    .flash-container

  %h4= @cluster.name
  = render 'banner'

  = render_if_exists 'clusters/clusters/group_cluster_environments', expanded: expanded

  - unless Gitlab.ee?
    = render 'configure', expanded: expanded
