.has-tooltip{ class: "limit-box limit-box-#{objects} gl-ml-2", data: { title: _('Project has too many %{label_for_message} to search') % { label_for_message: label_for_message } } }
  .limit-icon
    - if objects == :branch
      = sprite_icon('fork', size: 12)
    - else
      = sprite_icon('tag')
  .limit-message
    %span= _('%{label_for_message} unavailable') % { label_for_message: label_for_message.capitalize }
