- icon = objects == :branch ? 'fork' : 'tag'
- text = _('%{label_for_message} unavailable') % { label_for_message: label_for_message.capitalize }
- tooltip_title = _('Project has too many %{label_for_message} to search') % { label_for_message: label_for_message }

= gl_badge_tag(text, { variant: :danger, icon: icon }, { class: 'has-tooltip gl-ml-2', data: { title: tooltip_title } })
