- title = _('Multiple signatures')
- description = _('This commit was signed with multiple signatures.')
- locals = { signature: signature, title: title, description: description, label: _('Unverified'), variant: 'muted' }

= render partial: 'projects/commit/signature_badge', locals: locals
