- title = _("Different user's signature")
- description = _("This commit was signed with a different user's verified signature.")
- locals = { signature: signature, title: title, description: description, label: _('Unverified'), variant: 'muted' }

= render partial: 'projects/commit/signature_badge', locals: locals
