%div
  - if pipelines.blank?
    %div
      .nothing-here-block No pipelines to show
  - else
    .table-holder
      %table.table.ci-table.js-pipeline-table
        %thead
          %th.pipeline-status Status
          %th.pipeline-info Pipeline
          %th.pipeline-commit Commit
          %th.pipeline-stages Stages
          %th.pipeline-date
          %th.pipeline-actions
        = render pipelines, commit_sha: true, stage: true, allow_retry: true, show_commit: false
