- disable_initialization = local_assigns.fetch(:disable_initialization, false)
- artifacts_endpoint_placeholder = ':pipeline_artifacts_id'

#commit-pipeline-table-view{ data: { disable_initialization: disable_initialization,
  endpoint: endpoint,
  full_path: @project.full_path,
  graphql_path: api_graphql_path,
  "empty-state-svg-path" => image_path('illustrations/empty-state/empty-pipeline-md.svg'),
  "error-state-svg-path" => image_path('illustrations/empty-state/empty-job-failed-md.svg'),
  "project-id": @project.id,
  "artifacts-endpoint" => downloadable_artifacts_project_pipeline_path(@project, artifacts_endpoint_placeholder, format: :json),
  "artifacts-endpoint-placeholder" => artifacts_endpoint_placeholder,
} }
