%ul.content-list.pipelines
  - if pipelines.blank?
    %li
      .nothing-here-block No pipelines to show
  - else
    .table-holder
      %table.table.builds
        %tbody
          %th Status
          %th Commit
          - pipelines.stages.each do |stage|
            %th.stage
              - if stage.titleize.length > 12
                %span.has-tooltip{ title: "#{stage.titleize}" }
                  = stage.titleize
              - else
                = stage.titleize
          %th
          %th
        = render pipelines, commit_sha: true, stage: true, allow_retry: true, stages: pipelines.stages, status_icon_only: true, hide_branch: true
