- disable_initialization = local_assigns.fetch(:disable_initialization, false)
#commit-pipeline-table-view{ data: { disable_initialization: disable_initialization,
  endpoint: endpoint,
  "help-page-path" => help_page_path('ci/quick_start/README'),
  "help-auto-devops-path" => help_page_path('topics/autodevops/index.md'),
  "empty-state-svg-path" => image_path('illustrations/pipelines_empty.svg'),
  "error-state-svg-path" => image_path('illustrations/pipelines_failed.svg'),
} }
