%ul.content-list.pipelines
  - if pipelines.blank?
    %li
      .nothing-here-block No pipelines to show
  - else
    .table-holder
      %table.table.ci-table
        %tbody
          %th Status
          %th Pipeline
          %th Commit
          %th Stages
          %th
          %th
        = render pipelines, commit_sha: true, stage: true, allow_retry: true, stages: pipelines.stages, status_icon_only: true, show_commit: false
