- title = _('Unverified signature')
- description = _('This commit was signed with an unverified signature.')
- locals = { signature: signature, title: title, description: description, label: _('Unverified'), variant: 'muted' }

= render partial: 'projects/commit/signature_badge', locals: locals
