- title = capture do
  .gpg-popover-icon.valid
    = render 'shared/icons/icon_status_success_borderless.svg'
  %div
    This commit was signed with a <strong>verified</strong> signature and the
    committer email is verified to belong to the same user.

- content = capture do
  = render partial: 'projects/commit/signature_badge_user', locals: { signature: signature }

- locals = { signature: signature, title: title, content: content, label: 'Verified', css_classes: ['valid'] }

= render partial: 'projects/commit/signature_badge', locals: locals
