- if @branches_limit_exceeded
  = branches_unavailable_message
- elsif @branches.any?
  - branch = commit_default_branch(@project, @branches)
  = commit_branch_link(project_ref_path(@project, branch), branch)

-# `commit_default_branch` deletes the default branch from `@branches`,
  -# so only render this if we have more branches or tags left
- if @tags_limit_exceeded
  = tags_unavailable_message
- elsif @tags.any?
  = commit_tags_links(@project, @tags)
