- page_title 'Request details'
%h3.page-title
  Request details

%hr

= link_to 'Resend Request', retry_admin_hook_hook_log_path(@hook, @hook_log), class: "btn btn-secondary float-right prepend-left-10"

= render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }

