- page_title _('Request details')
%h3.page-title
  = _("Request details")

%hr

= link_to _("Resend Request"), retry_admin_hook_hook_log_path(@hook, @hook_log), method: :post, class: "btn gl-button btn-default float-right gl-ml-3"

= render partial: 'shared/hook_logs/content', locals: { hook_log: @hook_log }
