- page_title _("Home")
- add_page_specific_style 'page_bundles/personal_homepage'

= render_if_exists 'shared/dashboard/saml_reauth_notice',
  groups_requiring_saml_reauth: user_groups_requiring_reauth

#js-homepage-app{ data: @homepage_app_data }
