- if visible?
  %td.rd-line-number{ id: id, class: border_class, data: { legacy_id: legacy_id, change: change_type } }
    = link_to '', "##{id}", { class: 'rd-line-link', data: { line_number: line_number }, aria: { label: s_('Line number %{number}').html_safe % { number: line_number } } }
- else
  %td.rd-line-number{ class: border_class, data: { change: change_type } }
