- if visible?
  %td.rd-line-number{ id: id, class: border_class, data: { legacy_id: legacy_id, change: change_type, position: @position } }
    = link_to '', "##{id}", { class: 'rd-line-link', data: { line_number: line_number }, aria: { label: label } }
- else
  %td.rd-line-number{ class: border_class, data: { change: change_type, position: @position } }
