- if visible?
  %td.rd-line-number{ data: { change: change_type, position: @position } }
    = link_to '', "##{@line_id}", { class: 'rd-line-link', data: { line_number: line_number }, aria: { label: label } }
- else
  %td.rd-line-number.rd-line-number-empty{ data: { change: change_type, position: @position } }
