- if @diff_hunk.header
  %tr
    - 2.times do
      %td= render RapidDiffs::Viewers::Text::ExpandLinesComponent.new(directions: @diff_hunk.expand_directions)
      %td= @diff_hunk.header_text

- @diff_hunk.parallel_lines.each do |pair|
  %tr
    - [pair[:left], pair[:right]].each_with_index do |line, index|
      - if line
        - position = index == 0 ? :old : :new
        = render RapidDiffs::Viewers::Text::LineNumberComponent.new(diff_file: @diff_file, line: line, position: position)
        %td= line.text_content
      - else
        %td
        %td
