%table.rd-text-view-root
  %thead.gl-sr-only
    %tr
      - column_titles.each do |title|
        %th= title
  %tbody.rd-text-view-content
    - @diff_file.viewer_hunks.each do |hunk|
      = render RapidDiffs::Viewers::Text::ParallelHunkComponent.new(diff_hunk: hunk, file_hash: @diff_file.file_hash, file_path: @diff_file.file_path)
