%h4.mt-4.mb-4= s_("PipelineCharts|Overall statistics")
.row
  .col-md-6
    = render 'projects/pipelines/charts/pipeline_statistics'
  .col-md-6
    = render 'projects/pipelines/charts/pipeline_times'
