%h4 Overall stats
%ul
  %li
    Total:
    %strong= pluralize @counts[:total], 'job'
  %li
    Successful:
    %strong= pluralize @counts[:success], 'job'
  %li
    Failed:
    %strong= pluralize @counts[:failed], 'job'
  %li
    Success ratio:
    %strong
      #{success_ratio(@counts)}%
