// Left over of avatar. Still used in email templates.
.avatar {
  float: left;
  margin-right: $gl-padding;
  border-radius: $avatar-radius;
  transition-property: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: var(--gl-background-color-subtle);
  overflow: hidden;
  box-shadow: inset 0 0 0 1px var(--gl-avatar-border-color-default);

  &.center {
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
  }

  &.avatar-tile {
    border-radius: 0;
    border: 0;
  }
}

.avatar-counter {
  @include avatar-counter();
}

.user-popover {
  // GlAvatarLabeled doesn't expose any prop to override internal classes

  // Max width of popover container is set by gl-max-w-48
  // so we need to ensure that name/username/status container doesn't overflow
  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-avatar-labeled-labels {
    max-width: px-to-rem(290px);
  }

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-avatar-labeled-label,
  .gl-avatar-labeled-sublabel {
    @include gl-text-truncate;
  }

  &.user-popover-cannot-merge {
    .popover-header {
      background-color: var(--gl-feedback-warning-background-color);
    }
  }
}
