.detail-page-header {
  padding-top: $gl-spacing-scale-4;
  color: $gl-text-color;
  line-height: 34px;
  display: flex;

  .author-link {
    white-space: nowrap;
  }

  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.detail-page-header a {
  color: $gl-text-color;
}

.detail-page-header a.link,
.detail-page-header .title a {
  color: $blue-600;
}

.detail-page-header-body {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 1;
  min-width: 0;

  @include media-breakpoint-up(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.detail-page-header-actions {
  flex: 0 0 auto;
}

.detail-page-header-meta {
  flex-basis: 100%;
}

.detail-page-description {
  .title {
    margin: 0 0 $gl-spacing-scale-4;
    color: $gl-text-color;
    padding: 0 0 0.3em;
  }

  .description {
    @include clearfix;

    margin-top: 6px;

    + .edited-text {
      display: inline-block;
      margin-top: $gl-spacing-scale-4;
    }
  }

  .author-link {
    color: $gl-text-color;
  }
}
