.featured-card-wrapper {
  padding: 3px;
  border-radius: 15px;
  width: 100%;
  height: 116px;
  transition:
    transform var(--gl-transition-duration-medium) var(--gl-transition-timing-function-default),
    box-shadow var(--gl-transition-duration-medium) var(--gl-transition-timing-function-default);
  position: relative;
  overflow: hidden;
}

.featured-card-wrapper--purple {
  background: linear-gradient(
      93deg,
      var(--gl-color-purple-500, #6b4fbb) 0%,
      var(--gl-color-purple-200, #c3b6f5) 100%
  );
}

.featured-card-wrapper--red {
  background: linear-gradient(
      93deg,
      var(--gl-color-orange-500, #fc6d26) 0%,
      var(--gl-color-purple-200, #c3b6f5) 100%
  );
}

.featured-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: var(--gl-background-color-default, #fff);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  margin: -0.5px;
  transform: translateZ(0);
}

.featured-card-body {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.featured-card--purple {
  background-image: url('featured-update-headline-purple.svg');
}

.featured-card--red {
  background-image: url('featured-update-headline-red.svg');
}

.featured-card-title {
  font-size: var(--gl-font-size-lg, 1rem);
  line-height: var(--gl-line-height-24, 1.5);
  letter-spacing: -0.01em;
  color: var(--gl-text-color-heading, #18171d);
  word-break: break-word;
  overflow-wrap: break-word;
}

.featured-card-description {
  font-size: var(--gl-font-size-base, 0.875rem);
  line-height: var(--gl-line-height-20, 1.43);
  color: var(--gl-text-color-default, #666);
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.featured-card-button:hover {
  text-decoration: none;
}

.featured-card-button:hover .featured-card-wrapper {
  transition: all var(--gl-transition-duration-medium) var(--gl-transition-timing-function-default);
}

.featured-card-button:hover .featured-card-wrapper--purple {
  background: linear-gradient(
      93deg,
      var(--gl-color-purple-400, #7c6adb) 0%,
      var(--gl-color-purple-100, #f4f0ff) 100%
  );
}

.featured-card-button:hover .featured-card-wrapper--red {
  background: linear-gradient(
      93deg,
      var(--gl-color-orange-400, #fd8f5c) 0%,
      var(--gl-color-purple-100, #f4f0ff) 100%
  );
}

.featured-card-button:active .featured-card-wrapper {
  transition: transform var(--gl-transition-duration-fast)
  var(--gl-transition-timing-function-default);
  transform: scale(0.98);
}
