.ref-selector {
  .dropdown-menu.show {
    // Make the dropdown a little wider and longer than usual
    // since it contains quite a bit of content.
    overflow: hidden;
    width: 20rem;

    // stylelint-disable-next-line gitlab/no-gl-class
    &,
    .gl-dropdown-inner {
      max-height: $dropdown-max-height-lg;
    }
  }
}
