/**
* Overrides styles from ToastUI editor
*/

.tui-editor-defaultUI {

  // Toolbar buttons
  .tui-editor-defaultUI-toolbar .toolbar-button {
    color: $gray-500;
    border: 0;

    &:hover,
    &:active {
      color: $blue-500;
      border: 0;
    }
  }

  // Contextual menu's & popups
  .tui-popup-wrapper {
    @include gl-overflow-hidden;
    @include gl-rounded-base;
    @include gl-border-gray-200;

    hr {
      @include gl-m-0;
      @include gl-bg-gray-200;
    }

    button {
      @include gl-text-gray-700;
    }
  }

  /**
  * Overrides styles from ToastUI's Code Mirror (markdown mode) editor.
  * Toast UI internally overrides some of these using the `.tui-md-` prefix.
  * https://codemirror.net/doc/manual.html#styling
  */

  .te-md-container .CodeMirror * {
    @include gl-font-monospace;
    @include gl-font-size-monospace;
    @include gl-line-height-20;
  }
}

/**
* Styling below ensures that YouTube videos are displayed in the editor the same as they would in about.gitlab.com
* https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/main/source/stylesheets/_base.scss#L977
*/
.video_container {
  padding-bottom: 56.25%;
}
