.whats-new-drawer {
  box-shadow: none;
  overflow-y: hidden;
  width: 500px;

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-infinite-scroll-legend {
    display: none;
  }

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-tabs {
    overflow-y: auto;
  }

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-tabs-nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: stretch;

    .nav-item {
      flex-shrink: 0;

      a {
        height: 100%;
        line-height: 1.5;
      }
    }
  }

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-spinner-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.whats-new-modal-backdrop {
  z-index: 699;
}
