%p
  The mirror user for #{@project.full_path} has been changed from #{@deleted_user_name} to yourself because their account was deleted.

%p
  You can change this setting from the #{link_to("repository settings page", project_settings_repository_path(@project))}.
