%p
  Assignee changed
  - if @previous_assignee
    from
    %strong{ dir: :auto } #{@previous_assignee.name}
  to
  - if issuable.assignee_id
    %strong{ dir: :auto } #{issuable.assignee_name}
  - else
    %strong Unassigned
