%p
  = _('Hi %{username}!') % { username: sanitize_name(@user.name) }
%p
  - docs_link = link_to _("documentation"), help_page_url('integration/oauth_provider', anchor: 'view-all-authorized-applications'), target: '_blank', rel: 'noopener noreferrer'
  = s_('Notify|A new OAuth 2 application has been authorized. If you did not expect this, check the authorized OAuth 2 applications %{docs_link}.').html_safe % { docs_link: docs_link }
