%p
  - milestone_link = link_to(@milestone.name, @milestone_url)
  = s_('Notify|Milestone changed to %{milestone}').html_safe % { milestone: content_tag(:strong, milestone_link).html_safe }
  - if date_range = milestone_date_range(@milestone)
    = "(#{date_range})"
