%p
  = say_hi(@user)
%p
  = _('A WebAuthn device has been deleted from your GitLab account.')
  %ul
    %li= _('Device name: %{device_name}') % { device_name: sanitize_name(@device_name) }
%p
  = re_enable_two_factor_authentication_text(format: :html)
