%p
  = say_hi(@user)
%p
  = safe_format(_('A WebAuthn device, named %{codeOpen}%{device_name}%{codeClose}, was registered to your account.'), tag_pair(tag.code, :codeOpen, :codeClose), device_name: @device_name)
%p
  = manage_two_factor_authentication_text(format: :html)
