%p
  #{@group_member.invite_email}, now known as
  #{link_to @group_member.user.name, user_url(@group_member.user)},
  has accepted your invitation to join group
  #{link_to @group.name, group_url(@group)}.

