%p
  = sprintf(s_('Notify|%{type} was %{issue_status} by %{updated_by}'), { issue_status: @issue_status, updated_by: sanitize_name(@updated_by.name), type: work_item_type_for(@issue).capitalize }).html_safe
