%p
  #{member.invite_email}, now known as
  #{link_to member.user.name, user_url(member.user)},
  has accepted your invitation to join the
  #{link_to member_target_name, member_target_url} #{member_target_type}.
