%tr
  %td.text-content
    %p
      #{content_tag :span, @invite_email, class: :highlight}
      has #{content_tag :span, 'declined', class: :highlight} your invitation to join the
      #{link_to member_source.human_name, member_source.web_url, class: :highlight} #{member_source.model_name.singular}.

