= email_default_heading(say_hi(@member.user))

%p
  = member_about_to_expire_text(@member_source, @days_to_expire, format: :html)
%p
  = member_about_to_expire_link(@member, @member_source, format: :html)
