%p
  Hi #{@user.name}!
%p
  A new email was added to your account:
%p
  email:
  %code= @email.email
%p
  If this email was added in error, you can remove it here:
  = link_to "Emails", profile_emails_url
