- if Gitlab::CurrentSettings.email_author_in_body
  %p.details
    #{link_to @merge_request.author_name, user_url(@merge_request.author)} created a merge request:

%p.details
  != merge_path_description(@merge_request, '&rarr;')

- if @merge_request.assignee_id.present?
  %p
    Assignee: #{@merge_request.assignee_name}

- if @merge_request.description
  %div
    = markdown(@merge_request.description, pipeline: :email, author: @merge_request.author)
