- if current_application_settings.email_author_in_body
  %div
    #{link_to @issue.author_name, user_url(@issue.author)} wrote:
-if @issue.description
  = markdown(@issue.description, pipeline: :email)

- if @issue.assignee_id.present?
  %p
    Assignee: #{@issue.assignee_name}
