%p
  Hi #{@user['name']}!
%p
  - if Gitlab.config.gitlab.signup_enabled
    您的帐号添加成功.
  - else
    管理员为您创建了帐号. 现在您是公司GitLab应用的成员之一.
%p
  登录名..........................................
  %code= @user['email']

- if @user.created_by_id
  %p
    = link_to "点此设置密码", edit_password_url(@user, :reset_password_token => @token)
