%p.details
  = html_escape(_('%{user} created an %{type}: %{issue_link}')) % { user: link_to(@issue.author_name, user_url(@issue.author)),
                                                                    issue_link: issue_reference_link(@issue),
                                                                    type: work_item_type_for(@issue) }

- if @issue.assignees.any?
  %p
    = assignees_label(@issue)

- if @issue.description
  .md
    = markdown(@issue.description, pipeline: :email, author: @issue.author, current_user: @recipient, issuable_reference_expansion_enabled: true)
