%p.details
  #{link_to @issue.author_name, user_url(@issue.author)} created an issue #{link_to @issue.to_reference(full: false), issue_url(@issue)}:

- if @issue.assignees.any?
  %p
    = assignees_label(@issue)

- if @issue.description
  %div
  = markdown(@issue.description, pipeline: :email, author: @issue.author)
