-if @issue.description
  = replace_image_links_with_base64(markdown(@issue.description, reference_only_path: false), @issue.project)

- if @issue.assignee_id.present?
  %p
    Assignee: #{@issue.assignee_name}
