%p
  Hi #{@user['name']}!
%p
  - if Gitlab.config.gitlab.signup_enabled
    Account has been created successfully.
  - else
    Administrator created account for you. Now you are a member of company GitLab application.
%p
  login..........................................
  %code= @user['email']
%p
  - unless Gitlab.config.gitlab.signup_enabled
    password..................................
    %code= @password
%p
  = link_to "Click here to login", root_url
