%p
  Hi #{@user['name']}!
%p
  - if Gitlab::CurrentSettings.allow_signup?
    Your account has been created successfully.
  - else
    The Administrator created an account for you. Now you are a member of the company GitLab application.
%p
  login..........................................
  %code= @user['email']

- if @user.created_by_id
  %p
    = link_to "Click here to set your password", edit_password_url(@user, reset_password_token: @token)
  %p
    = raw reset_token_expire_message
