%p
  Following a verification check, your GitLab Pages custom domain has been
  %strong disabled.
  This means that your content is no longer visible at #{link_to @domain.url, @domain.url}
%p
  Project: #{link_to @project.human_name, project_url(@project)}
%p
  Domain: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  If this domain has been disabled in error, please follow
  = link_to 'these instructions', help_page_url('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')
  to verify and re-enable your domain.
%p
  If you no longer wish to use this domain with GitLab Pages, please remove it
  from your GitLab project and delete any related DNS records.
