%p
  #{@project_member.invite_email}，现在以
  #{link_to @project_member.user.name, user_url(@project_member.user)},
  账户接受邀请加入项目
  #{link_to @project.name_with_namespace, namespace_project_url(@project.namespace, @project)}。

