%td.content{align: "left", style: "font-family: Helvetica, Arial, sans-serif; padding: 20px 0 0;", valign: "top", width: "600"}
  %table{border: "0", cellpadding: "0", cellspacing: "0", style: "color: #555; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;", width: "600"}
    %tr
      %td{width: "21"}
      %td
        %h2
          = "Project was moved to another location"
      %td{width: "21"}
    %tr
      %td{width: "21"}
      %td
        %p
          The project is now located under
          = link_to project_url(@project) do
            = @project.name_with_namespace
        %p
          To update the remote url in your local repository run:
        %br
        %table{border: "0", cellpadding: "0", cellspacing: "0", width: "558"}
          %tr
            %td{valign: "top"}
              %p{ style: "background:#f5f5f5; padding:10px; border:1px solid #ddd" }
                git remote set-url origin #{@project.ssh_url_to_repo}
        %br
      %td{ width: "21"}
