%p
  #{@project_member.invite_email}, now known as
  #{link_to @project_member.user.name, user_url(@project_member.user)},
  has accepted your invitation to join project
  #{link_to @project.name_with_namespace, namespace_project_url(@project.namespace, @project)}.

