%p
  Assignee changed
  - if @previous_assignees.any?
    from
    %strong= @previous_assignees.map(&:to_reference).to_sentence
  to
  - if @issue.assignees.any?
    %strong= @issue.assignee_list
  - else
    %strong Unassigned

