%p
  Assignee changed
  - if @previous_assignees.any?
    from
    %strong= sanitize_name(@previous_assignees.map(&:name).to_sentence)
  to
  - if @issue.assignees.any?
    %strong= @issue.assignee_list
  - else
    %strong Unassigned
