- if Gitlab::CurrentSettings.email_author_in_body
  %div
    = _("%{author_link} wrote:").html_safe % { author_link: link_to(@note.author_name, user_url(@note.author)) }
%div
  = markdown(@note.note, pipeline: :email, author: @note.author)
