%p
  = _("You have been added to ticket #%{issue_iid}.") % { issue_iid: @issue.iid }
%p
  = _("Reply to this email to participate in the discussion. All other participants of the ticket will receive notifications of your reply.")
%p
  = _("You can unsubscribe from further updates to this ticket. To receive updates in the future, you will have to be added again as a participant.")
