%p
  = _('Hi %{username}!') % { username: sanitize_name(@user.name) }
%p
  = _('SSH keys with the following fingerprints are scheduled to expire soon. Expired SSH keys can not be used:')
%table
  %tbody
    - @fingerprints.each do |fingerprint|
      %tr
        %td= fingerprint

%p
  - ssh_key_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: @target_url }
  = html_escape(_('You can create a new one or check them in your %{ssh_key_link_start}SSH keys%{ssh_key_link_end} settings.')) % { ssh_key_link_start: ssh_key_link_start, ssh_key_link_end: '</a>'.html_safe }
