.profile-icon.open-icon
  = custom_icon("icon_status_open")

.event-title
  %span{ class: event.action_name }
    = event_action_name(event)

  - if event.project
    = link_to_project event.project
  - else
    = event.project_name
