.system-note-image.gl-rounded-full.gl-bg-strong.gl-leading-0= sprite_icon('eye-slash', size: 14, css_class: 'icon')

= event_user_info(event)

.event-title.gl-flex.gl-font-semibold.gl-text-default
  = inline_event_icon(event)
  = s_('Profiles|Made a private contribution')
