- page_title "Preview | Appearance"
.login-box
  .login-heading
    %h3 Existing user? Sign in
  %form
    = text_field_tag :login, nil, class: "form-control top", placeholder: "Username or Email"
    = password_field_tag :password, nil, class: "form-control bottom", placeholder: "Password"
    = button_tag "Sign in", class: "btn-create btn"

