- return unless can?(current_user, :read_prometheus_alerts, @project)
- return unless integration.manual_configuration?

- notify_url = notify_project_prometheus_alerts_url(@project, format: :json)
- authorization_key = @project.alerting_setting.try(:token)
- learn_more_url = help_page_path('operations/metrics/alerts.md', anchor: 'external-prometheus-instances')

#js-settings-prometheus-alerts{ data: { notify_url: notify_url, authorization_key: authorization_key, change_key_url: reset_alerting_token_project_settings_operations_path(@project), learn_more_url: learn_more_url, disabled: true } }
