- if @project
  = render 'projects/services/prometheus/configuration_banner', project: @project, integration: integration

%h4.gl-mb-3
  = s_('PrometheusService|Manual configuration')
%p
  = s_('PrometheusService|Auto configuration settings are used unless you override their values here.')
