.row
  .col-lg-3
    %h4.prepend-top-0
      = s_('PrometheusService|Metrics')

.row.append-bottom-default.prometheus-metrics-monitoring.js-prometheus-metrics-monitoring
  = render 'projects/services/prometheus/metrics', project: @project

= render_if_exists 'projects/services/prometheus/external_alerts', project: @project
