.row.prepend-top-default.append-bottom-default.prometheus-metrics-monitoring.js-prometheus-metrics-monitoring
  .col-lg-3
    %h4.prepend-top-0
      = s_('PrometheusService|Metrics')
    %p
      = s_('PrometheusService|Common metrics are automatically monitored based on a library of metrics from popular exporters.')
      = link_to s_('PrometheusService|More information'), help_page_path('user/project/integrations/prometheus_library/metrics'), target: '_blank', rel: "noopener noreferrer"

  .col-lg-9
    = render 'projects/services/prometheus/metrics', project: @project
