.account-well.prepend-top-default.append-bottom-default
  %ul
    %li
      The repository must be accessible over <code>http://</code>, <code>https://</code>, <code>ssh://</code> or <code>git://</code>.
    %li
      The update action will time out after 10 minutes. For big repositories, use a clone/push combination.
    %li
      The Git LFS objects will <strong>not</strong> be synced.
    %li
      This user will be the author of all events in the activity feed that are the result of an update,
      like new branches being created or new commits being pushed to existing branches.
