.account-well.prepend-top-default.append-bottom-default
  %ul
    %li
      = _('The repository must be accessible over')
      %code http://
      %code https://
      %code ssh://
      %code git://
    %li
      = _('The update action will time out after 10 minutes. For big repositories, use a clone/push combination.')
    %li
      The Git LFS objects will
      %strong not
      be synced.
    %li
      = _("This user will be the author of all events in the activity feed that are the result of an update, like new branches being created or new commits being pushed to existing branches.")
