- return unless License.feature_available?(:project_creation_level)
- form = local_assigns.fetch(:form)
- application_setting = local_assigns.fetch(:application_setting)
.form-group
  = form.label s_('ProjectCreationLevel|Default project creation protection'), class: 'label-bold'
  = form.select :default_project_creation, options_for_select(Gitlab::Access.project_creation_options, application_setting.default_project_creation), {}, class: 'form-control'
