- add_page_specific_style 'page_bundles/organizations'
- page_title _("General settings")
- add_page_specific_style 'page_bundles/settings'

#js-organizations-settings-general{ data: { app_data: organization_settings_general_app_data(@organization) } }
