- add_to_breadcrumbs _("Groups"), admin_groups_path
- breadcrumb_title _("New group")

- page_title _("New Group")
= render ::Layouts::PageHeadingComponent.new(_('New group'))
= render 'form', visibility_level: default_group_visibility
