- project = local_assigns.fetch(:project)
- ref = local_assigns.fetch(:ref)
- archive_prefix = "#{project.path}-#{ref.tr('/', '-')}"

%li.gl-dropdown-item{ role: 'menuitem' }
  %h3.h5.m-0.dropdown-bold-header= _('Download source code')
  = render 'projects/buttons/download_links', project: project, ref: ref, archive_prefix: archive_prefix, path: nil
.js-directory-downloads{ data: { links: directory_download_links(project, ref, archive_prefix).to_json } }
