- formats = [['zip', 'btn-primary'], ['tar.gz'], ['tar.bz2'], ['tar']]

.btn-group.ml-0.w-100
  - formats.each do |(fmt, extra_class)|
    = link_to fmt, project_archive_path(project, id: tree_join(ref, archive_prefix), path: path, format: fmt), rel: 'nofollow', download: '', class: "btn btn-xs #{extra_class}"
