- if koding_enabled? && current_user && @repository.koding_yml && can_push_branch?(@project, @project.default_branch)
  = link_to koding_project_url(@project), class: 'btn project-action-button inline', target: '_blank' do
    Run in IDE (Koding)
