- if koding_enabled? && current_user && @repository.koding_yml && can_push_branch?(@project, @project.default_branch)
  = link_to koding_project_url(@project), class: 'btn project-action-button inline', target: '_blank', rel: 'noopener noreferrer' do
    _('Run in IDE (Koding)')
