- page_title 'Edit Geo Node'
%h3.page-title
  Edit Geo Node

= form_for [:admin, @node], html: { class: 'js-geo-node-form' } do |f|
  = render partial: 'form', locals: { form: f, geo_node: @node }
  .form-actions
    = f.submit 'Save changes', class: 'btn btn-success'
    = link_to 'Cancel', admin_geo_nodes_path, class: 'btn btn-cancel'

%hr
