- page_title 'New node'
- @content_class = "geo-admin-container"

%h2.page-title
  %span.title-text
    New node
%hr.page-title-separator

- if Gitlab::Geo.license_allows?
  = form_for [:admin, @node], as: :geo_node, url: admin_geo_nodes_path, html: { class: 'js-geo-node-form' } do |f|
    = render partial: 'form', locals: { form: f, geo_node: @node }
    .form-actions
      = f.submit 'Add Node', class: 'btn btn-success'
