// -------
// Please see `app/assets/stylesheets/page_bundles/ide_themes/README.md` for a guide on contributing new themes
// -------
.ide.theme-solarized-dark {
  --ide-border-color: #002c38;
  --ide-border-color-alt: var(--ide-background);
  --ide-highlight-accent: #fff;
  --ide-text-color: #ddd;
  --ide-text-color-secondary: #ddd;
  --ide-background: #004152;
  --ide-background-hover: #003b4d;
  --ide-highlight-background: #003240;
  --ide-link-color: #73b9ff;
  --ide-footer-background: var(--ide-highlight-background);
  --ide-empty-state-background: var(--ide-border-color);

  --ide-input-border: #d8d8d8;
  --ide-input-background: transparent;
  --ide-input-color: #fff;

  --ide-btn-default-background: transparent;
  --ide-btn-default-border: #d8d8d8;
  --ide-btn-default-hover-border: #d8d8d8;
  --ide-btn-default-hover-border-width: 2px;
  --ide-btn-default-focus-box-shadow: 0 0 0 1px #d8d8d8;

  --ide-btn-primary-background: #1068bf;
  --ide-btn-primary-border: #428fdc;
  --ide-btn-primary-hover-border: #63a6e9;
  --ide-btn-primary-hover-border-width: 2px;
  --ide-btn-primary-focus-box-shadow: 0 0 0 1px #63a6e9;

  // Danger styles should be the same as default styles in dark theme
  --ide-btn-danger-secondary-background: var(--ide-btn-default-background);
  --ide-btn-danger-secondary-border: var(--ide-btn-default-border);
  --ide-btn-danger-secondary-hover-border: var(--ide-btn-default-hover-border);
  --ide-btn-danger-secondary-hover-border-width: var(--ide-btn-default-hover-border-width);
  --ide-btn-danger-secondary-focus-box-shadow: var(--ide-btn-default-focus-box-shadow);

  --ide-btn-disabled-background: transparent;
  --ide-btn-disabled-border: rgba(223, 223, 223, 0.24);
  --ide-btn-disabled-hover-border: rgba(223, 223, 223, 0.24);
  --ide-btn-disabled-hover-border-width: 1px;
  --ide-btn-disabled-focus-box-shadow: transparent;
  --ide-btn-disabled-color: rgba(145, 145, 145, 0.48);

  --ide-dropdown-background: #004c61;
  --ide-dropdown-hover-background: #00617a;

  --ide-dropdown-btn-hover-border: #e9ecef;
  --ide-dropdown-btn-hover-background: var(--ide-background-hover);

  --ide-file-row-btn-hover-background: #005a73;

  --ide-diff-insert: rgba(155, 185, 85, 0.2);
  --ide-diff-remove: rgba(255, 0, 0, 0.2);

  --ide-animation-gradient-1: var(--ide-file-row-btn-hover-background);
  --ide-animation-gradient-2: var(--ide-dropdown-hover-background);
}
