/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui/jquery-ui
 *= require jquery-ui/jquery.ui.selectmenu
 *= require jquery-ui/jquery.tagify
 *= require chosen
 *= require_self
 *= require_tree .
*/

/** COLORS **/
.cgray { color:gray; }
.cred { color:#D12F19; }
.cgreen { color:#44aa22; }

/** COMMON STYLES **/
.left {
  float:left;
}
.right {
  float:right;
}
.width-50p{
  width:50%;
}
.width-49p{
  width:49%;
}
.width-30p{
  width:30%;
}
.width-65p{
  width:65%;
}
.width-100p{
  width:100%;
}
.append-bottom-10 {
  margin-bottom:10px;
}
.prepend-top-10 {
  margin-top:10px;
}
.no-borders { 
  border:none;
}
.no-padding { 
  padding:0 !important;
}


/** COMMIT BLOCK **/
.commit-title{display: block;}
.commit-title{margin-bottom: 10px}
.commit-author{color: #999; font-weight: normal; font-style: italic;}
.commit-author strong{font-weight: bold; font-style: normal;}
