/* Buttons */
.grey-button{
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 17px;
  border: 1px solid #999;
  color: #666;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background-image: -webkit-gradient(linear, 0 0, 0 26, color-stop(0.192, #fff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(#fff 19.2%, #f4f4f4);
  background-image: -moz-linear-gradient(#fff 19.2%, #f4f4f4);
  background-image: -o-linear-gradient(#fff 19.2%, #f4f4f4);
}

.red-button{
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 17px;
  border: 1px solid #999;
  color: #666;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background: #D12F19;
  color: white;
}

.positive-button{
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 17px;
  border: 1px solid #999;
  color: #666;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background: #4A2;
  color: white;
}


.lbutton,
.lite_button {
  display:block;
  float:left;
  margin: 0px 5px 0px 0px;
  padding:5px 10px;

  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  border:1px solid #D3D3D3;
  background:white;
  font-size:12px !important;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;

  &:hover {
    border:1px solid #C2E1EF;
    color: #0099FF;
  }

  &.hm {
    margin: 0px 0px;
  }

  &.vm {
    margin: 5px 0px;
  }
}

a.button, input.button {
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  color: #578E91;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #8CE2E6;
  background-image: -webkit-gradient(linear, 0 0, 0 34, color-stop(0.794, #dbf5f6), to(#c5eef0));
  background-image: -webkit-linear-gradient(#dbf5f6 79.4%, #c5eef0);
  background-image: -moz-linear-gradient(#dbf5f6 79.4%, #c5eef0);
  background-image: -o-linear-gradient(#dbf5f6 79.4%, #c5eef0);
}

input.button{margin-bottom: 1.5em}

.button:hover {color: rgba(0,0,0,.8)}

.button.green {margin-right: 0; }

.button.yellow{
  color: #908054;
  border-color: #DDCDA1;
  background-image: -webkit-gradient(linear, 0 0, 0 34, color-stop(0.794, #FFEFC3), to(#F3E3B7));
  background-image: -webkit-linear-gradient(#FFEFC3 79.4%, #F3E3B7);
  background-image: -moz-linear-gradient(#FFEFC3 79.4%, #F3E3B7);
  background-image: -o-linear-gradient(#FFEFC3 79.4%, #F3E3B7);  
}

.button.blue{
  color: #417E97;
  border-color: #b2cdec;
  background-image: -webkit-gradient(linear, 0 0, 0 34, color-stop(0.794, #dbe8f6), to(#c7daf1));
  background-image: -webkit-linear-gradient(#dbe8f6 79.4%, #c7daf1);
  background-image: -moz-linear-gradient(#dbe8f6 79.4%, #c7daf1);
  background-image: -o-linear-gradient(#dbe8f6 79.4%, #c7daf1);
}

.button-small{ text-shadow: none;  padding: 4px 10px; }
.button-green{background: #A6B807; color: white}


.commit-button{
  background-image: -webkit-gradient(linear, 0 0, 0 26, color-stop(0.192, #fff), to(#f4f4f4));
  background-image: -webkit-linear-gradient(#fff 19.2%, #f4f4f4);
  background-image: -moz-linear-gradient(#fff 19.2%, #f4f4f4);
  background-image: -o-linear-gradient(#fff 19.2%, #f4f4f4);
  box-shadow: 0 -1px 0 white inset;
  display: block;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 2px;
  position: relative;
  padding-right: 20px !important;
}

.commit-button i{
  background: url('images.png') no-repeat -138px -27px;
  width: 6px;
  height: 9px;
  float: right;
  position: absolute;
  top: 6px;
  right: 5px;
}
