@import "bootstrap";

/** GITLAB colors **/
$text_color:#222;
$lite_text_color: #666; 
$link_color:#111; 
$active_link_color:#2FA0BB;
$active_bg_color:#79C3E0;
$active_bd_color: #2FA0BB;
$border_color:#CCC;
$lite_border_color:#EEE;
$min_app_width:940px;
$max_app_width:980px;
$app_padding:20px;
$bg_color: #FFF;
$styled_border_color: #2FA0BB;
$color: "#4BB8D2";
$blue_link: "#2fa0bb";

/** MIXINS **/
@mixin round-borders-bottom($radius) {
  border-top: 1px solid #eaeaea;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin round-borders-top($radius) {
  border-top: 1px solid #eaeaea;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin round-borders-all($radius) {
  border: 1px solid #eaeaea;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

/** COLORS **/
.cgray { color:gray; }
.cred { color:#D12F19; }
.cgreen { color:#44aa22; }

/** COMMON STYLES **/
.left {
  float:left;
}
.right {
  float:right;
}
.width-50p{
  width:50%;
}
.width-49p{
  width:49%;
}
.width-30p{
  width:30%;
}
.width-65p{
  width:65%;
}
.width-100p{
  width:100%;
}
.append-bottom-10 {
  margin-bottom:10px;
}
.append-bottom-20 {
  margin-bottom:20px;
}
.prepend-top-10 {
  margin-top:10px;
}
.no-borders { 
  border:none;
}
.no-padding { 
  padding:0 !important;
}
.underlined { 
  border-bottom: 1px solid $border_color;
}

/** LAYOUT **/

.container-fluid { 
  min-width:$min_app_width;
  max-width:$max_app_width;
  margin:auto;
  margin-top:51px;
}

.container-fluid > .sidebar { 
  width: 140px;
  border-right: 1px solid $border_color;
  height:100%;
  min-height:450px;

  .fixed { 
    position:fixed;
  }

  aside a {
    display:block;
    position:relative;
    padding:15px 10px;
    margin:10px 0 0 0;
    font-size:13px;
    font-weight:bold;
  }
}

.container-fluid > .content {
  margin-left: 160px;
  margin-top:20px;
}

aside.projects,
aside.project-side
{ 
  margin-left: 0;
  padding-left: 20px;
}

img.avatar { 
  width:32px;
  float:left;
  padding-right:5px;
}

.media-grid { 
  h3, h2 , h4 {
    &.media_h { 
      padding-left:10px;
      float:left;
    }
  }
}

@import "reset_bootstrap.scss";
@import "top_panel.scss";
@import "projects.css.scss";
@import "commits.css.scss";
@import "tree.scss";
@import "issues.css.scss";
@import "merge_requests.css.scss";
@import "notes.css.scss";
@import "login.scss";

//@import "style.scss";

//@import "commits.css.scss";

//@import "dashboard.scss";
//@import "tags.scss";
//@import "buttons.scss";

/** CODE HIGHTLIGHT **/
@import "highlight.css.scss";
@import "highlight.black.css.scss";

