/**
 * 
 * COMMIT SHOw
 *
 */


.diff_file {
  border:1px solid #CCC;
  margin-bottom:1em;

  .diff_file_header {
    padding:5px 5px;
    border-bottom:1px solid #CCC;
    background: #eee;
  }
  .diff_file_content {
    overflow:auto;
    overflow-y:hidden;
    background:#fff;
    color:#333;
    font-size: 12px;
    font-family: 'Menlo', 'Courier New', 'andale mono','lucida console',monospace;
  }
  .diff_file_content_image {
    background:#eee;
    text-align:center;
    img {
      padding:100px;
      max-width:300px;
    }
  }
}

.diff_file_content{
  table { 
    border:none;
    margin:0px;
    padding:0px;
    tr {
      td { 
        font-size:12px;
      }
    }
  }
  .old_line, .new_line {
    margin:0px;
    padding:0px;
    border:none;
    background:#F7F7F7;
    color:#aaa;
    padding: 0px 5px;
    border-right: 1px solid #ccc;
    text-align:right;
    min-width:35px;
    max-width:35px;
    width:35px;
    moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    a { 
      float:left;
      width:35px;
      font-weight:normal;
      color:#aaa;
      &:hover { 
        text-decoration:underline;
      }
    }
  }
  .line_content { 
    white-space:pre; 
    height:14px;
    margin:0px;
    padding:0px;
    border:none;
    &.new { 
      background: #CFD;
    }
    &.old { 
      background: #FDD;
    }
    &.matched { 
      color:#ccc;
      background:#fafafa;
    }
  }
}

/** COMMIT BLOCK **/
.commit-title{display: block;}
.commit-title{margin-bottom: 10px}
.commit-author, .commit-committer{display: block;color: #999; font-weight: normal; font-style: italic;}
.commit-author strong, .commit-committer strong{font-weight: bold; font-style: normal;}

/** bordered list **/
ul.bordered-list { 
  margin:5px 0px;
  padding:0px;
  li { 
    padding: 5px 0;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    display: block;
    margin:0px;
  }
}

ul.bordered-list li:last-child { border:none } 

.line_holder { 
  &:hover { 
    td { 
      background: #FFFFCF !important;
    }
  }
}



/** FLASH **/
#flash_container {
  height:45px;
  position:fixed;
  z-index:10001;
  top:0px;
  width:100%;
  margin-bottom:15px;
  overflow:hidden;
  background:white;
  cursor:pointer;
  border-bottom:1px solid #777;

  h4 {
    color:#444;
    font-size:22px;
    padding-top:5px;
    margin:2px;
  }
}

.project-refs-form.commit-refs-form .chzn-container {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;
}

li.commit { 
  .avatar { 
    width:24px;
    top:-3px;
    margin-right:10px;
    margin-left:10px;
  }

  code { 
    padding:4px;
  }
}
