a {
  color: $link_color;
  &:hover { 
    text-decoration:none; 
    color: $style_color;
  }
}

.pills .active a {
  background-color: #474D57;
}

.label { 
  background-color: #474D57;
}

.tabs > li > a, .pills > li > a {
  color:$style_color;
}

.diff_file_header a,
.file_stats a {
  color:$style_color;
}

/** COLORS **/
.cgray { color:gray; }
.cred { color:#D12F19; }
.cgreen { color:#44aa22; }

/** COMMON STYLES **/
.left {
  float:left;
}
.right {
  float:right;
}
.width-50p{
  width:50%;
}
.width-49p{
  width:49%;
}
.width-30p{
  width:30%;
}
.width-65p{
  width:65%;
}
.width-100p{
  width:100%;
}
.append-bottom-10 {
  margin-bottom:10px;
}
.append-bottom-20 {
  margin-bottom:20px;
}
.prepend-top-10 {
  margin-top:10px;
}
.no-borders { 
  border:none;
}
.no-padding { 
  padding:0 !important;
}
.underlined { 
  border-bottom: 1px solid $border_color;
}

/** LAYOUT **/

.container { 
  width:$min_app_width;
  margin-top:50px;
  padding:$app_padding;
}

.container  .sidebar { 
  width: 250px;
  height:100%;
  min-height:450px;
  float:right;
}

nav.main_menu { 
  border-radius: 4px;
  width: 100%;
  margin: auto;
  margin-top:30px;
  margin-bottom:30px;
  background:#f1f1f1;
  border:1px solid #ccc;
  height:38px;

  background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #f1f1f1), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#f1f1f1 6.6%, #dfdfdf);
  background-image: -moz-linear-gradient(#f1f1f1 6.6%, #dfdfdf);
  background-image: -o-linear-gradient(#f1f1f1 6.6%, #dfdfdf);


  .label { 
    background:$hover;
    text-shadow:none;
    color:$style_color;
  }

  a { 

    font-weight:bold;
    &:first-child{ 
      -webkit-border-top-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    padding: 10px 25px;
    display: inline-block;
    color: $style_color;
    border-right: 1px solid #ccc;
    position: relative;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    margin: 0;
    float:left;
    text-shadow:0 1px 1px white;
    &.current { 
      background:#DDD;
    }
  }
}

aside.projects,
aside.project-side
{ 
  margin-left: 0;
  padding-left: 20px;
}

img.avatar { 
  float:left;
  margin-right:15px;
  width:40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

img.lil_av { 
  padding-left: 5px;
  position: relative;
  top: 3px;
}

.media-grid { 
  h3, h2 , h4 {
    &.media_h { 
      padding-left:10px;
      float:left;
    }
  }
}

.wll { 
  background-color: #FFF;
  padding: 10px 5px;
  min-height: 20px;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  cursor:pointer;
  &:hover { 
    background:$hover;
  }
  &:last-child { border:none }
  p { padding-top:5px; margin:0; color:$style_color;}
  .author { color: #999; }
  p { 
    color:$style_color;
    margin-bottom: 0;
    img { 
      position:relative;
      top:3px;
    }
  }
}

.visible_link,
.author_link { 
  color: $link_color;
}
.entry { 
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;
  filter:none;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);

  background:#F1F1F1;
  border: 1px solid #ccc;


  p { 
    color:$style_color;
    margin-bottom: 0;
    img { 
      position:relative;
      top:3px;
    }
  }
}

.widget { 
  padding:20px;
  margin-bottom:20px;
}


.ui-box { 
  margin-bottom: 40px;
  @include round-borders-all(4px);
  border-color:#ddd;

  h5 { 
    padding: 5px 10px;
    background:#f5f5f5;
    border-bottom: 1px solid #ccc;
  }

  li {
    padding:10px;
  }
}
