.application .news-feed{margin-left: 285px; min-height: 600px; margin-top: 20px; margin-right:2px; padding:20px;}
.application .application-content{ position: relative; float: left; width: 100%; height: 100%; }
.application .news-feed h2{float: left;}

body.application aside{
  min-height: 820px; position: relative; top: 0; bottom: 0; right: 0; width: 260px;  float: left;  border-right: 1px solid $border_color; padding:20px; padding-right:0;
  h4{margin: 0; border-bottom: 1px solid #ccc; padding: 20px 20px 20px 0px; font-size: 11px; font-weight: bold; text-transform: uppercase;}
  .project-list {list-style: none; margin: 0; padding: 0;}
  .project-list li a {background: white;  color: #{$blue_link}; display: block; border-bottom: 1px solid $lite_border_color; padding: 14px 6% 14px 0px;}
  .project-list li a span.project-name{font-size: 14px; display: block; margin-bottom: 8px}
  .project-list li a span.time{color: #666; font-weight: normal; font-size: 11px}
  .project-list li a span.arrow{float: right; background: #E3E5EA; padding: 10px; border-radius: 5px; margin-top: 2px; text-shadow: none; color: #999}
}

body.application .news-feed .project-updates  {
  margin-bottom: 20px; display: block; width: 100%;
  .data{ padding: 0}
  a.project-update {padding: 10px; overflow: hidden; display: block;}
  a.project-update:last-child{border-bottom: 0}
  a.project-update img{float: left; margin-right: 10px;}
  a.project-update span.update-title, .application .news-feed .project-updates li a span.update-author{display: block;}
  a.project-update span.update-title{margin-bottom: 10px}
  a.project-update span.update-author{color: #999; font-weight: normal; font-style: italic;}
  a.project-update span.update-author strong{font-weight: bold; font-style: normal;}
}
/* eo Dashboard Page */

