/* -------------------------------------------------------
Inter variable font.

Usage:
  html { font-family: 'GitLab Sans', sans-serif; }
*/
@font-face {
  font-family: 'GitLab Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  /* stylelint-disable-next-line property-no-unknown */
  font-named-instance: 'Regular';
  src: url('gitlab-sans/GitLabSans.woff2') format('woff2');
}

@font-face {
  font-family: 'GitLab Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  /* stylelint-disable-next-line property-no-unknown */
  font-named-instance: 'Regular';
  src: url('gitlab-sans/GitLabSans-Italic.woff2') format('woff2');
}

/* -------------------------------------------------------
Monospaced font: GitLab Mono.

Usage:
  html { font-family: 'GitLab Mono', monospace; }
*/
@font-face {
  font-family: 'GitLab Mono';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('gitlab-mono/GitLabMono.woff2') format('woff2');
}

@font-face {
  font-family: 'GitLab Mono';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url('gitlab-mono/GitLabMono-Italic.woff2') format('woff2');
}

// This isn't the best solution, but we needed a quick fix
// https://gitlab.com/gitlab-org/gitlab/-/merge_requests/107592/
* {
  font-variant-ligatures: none;
}
