.issue-number {
  float: left;
  border-radius: 5px;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.12);
  text-align: center;
  padding: 14px 8px;
  width: 40px;
  margin-right: 10px;
  color: #444;
}

#issue_assignee_id {
  width:300px;
}
