@import "bootstrap";

/** GITLAB colors **/
$text_color:#222;
$lite_text_color: #666; 
$link_color:#2A79A3; 
$active_link_color:#2FA0BB;
$active_bg_color:#79C3E0;
$active_bd_color: #2FA0BB;
$border_color:#CCC;
$lite_border_color:#EEE;
$min_app_width:980px;
$max_app_width:980px;
$app_padding:20px;
$bg_color: #FFF;
$styled_border_color: #2FA0BB;
$color: "#4BB8D2";
$blue_link: "#2fa0bb";


/** Style colors **/
$style_color: #474D57;
$hover: #FDF5D9;


/** MIXINS **/
@mixin shade {
  -moz-box-shadow: 0 0 3px #ddd;
  -webkit-box-shadow: 0 0 3px #ddd;
  box-shadow: 0 0 3px #ddd;
}


@mixin round-borders-bottom($radius) {
  border-top: 1px solid #eaeaea;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin round-borders-top($radius) {
  border-top: 1px solid #eaeaea;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin round-borders-all($radius) {
  border: 1px solid #eaeaea;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}


@import "common.scss";
@import "top_panel.scss";

@import "projects.css.scss";
@import "commits.css.scss";
@import "tree.scss";
@import "notes.css.scss";
@import "login.scss";

/** CODE HIGHTLIGHT **/
@import "highlight.css.scss";
@import "highlight.black.css.scss";

@import "wiki.scss";


