/** Notes **/

#notes-list {
  display:block;
  list-style:none;
  margin:0px;
  padding:0px;
}

.issue_notes {
  .note_content {
    float:left;
    width:400px;
  }
}


/* Note textare */
#note_note {
  height:100px;
  width:97%;
  font-size:14px;
}

#new_note {
  #note_note {
    height:25px;
  }
  .attach_holder {
    display:none;
  }
}

#notes-list .note .delete-note { display:none; }
#notes-list .note:hover .delete-note { display:block; }

body.project-page #notes-list .note {padding: 10px; border-bottom: 1px solid #eee; overflow: hidden; display: block;}
body.project-page #notes-list .note {padding: 10px; border-bottom: 1px solid #eee; overflow: hidden; display: block;}
body.project-page #notes-list .note img{float: left; margin-right: 10px;}
body.project-page #notes-list .note span.note-title{display: block;}
body.project-page #notes-list .note span.note-title{margin-bottom: 10px}
body.project-page #notes-list .note span.note-author{color: #999; font-weight: normal; font-style: italic;}
body.project-page #notes-list .note span.note-author strong{font-weight: bold; font-style: normal;}

