@import 'framework/variables';

img {
  max-width: 100%;
  height: auto;
}

p.details {
  font-style: italic;
  color: $gray-500;
}

.footer > p {
  font-size: small;
  color: $gray-500;
}

pre.commit-message {
  white-space: pre-wrap;
}

.gl-label-scoped {
  border: 2px solid currentColor;
  box-sizing: border-box;
  display: inline-block;
  height: 17px;
  line-height: 14px;
}

.gl-label-text {
  padding: 0 5px;
}

.gl-label-text-light {
  color: $white;
}

.gl-label-text-dark {
  color: $gl-text-color;
}
