.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-top: 17px;
}

.md h1 {
  font-size: 30px;
}

.md h2 {
  font-size: 22px;
}

.md h3 {
  font-size: 18px;
  font-weight: 600;
}

header,
nav,
nav.navbar-collapse,
nav.navbar-collapse.collapse,
.nav-sidebar,
.profiler-results,
.tree-ref-holder,
.tree-holder .breadcrumb,
.nav,
.btn,
ul.notes-form,
.ci-status-link::after,
.issuable-gutter-toggle,
.gutter-toggle,
.issuable-details .content-block-small,
.edit-link,
.note-action-button,
.right-sidebar,
.flash-container,
#js-peek {
  display: none !important;
}

pre {
  page-break-before: avoid;
  page-break-inside: auto;
}

.page-gutter {
  padding-top: 0;
  padding-left: 0;
}

.right-sidebar {
  top: 0;
}

a[href]::after {
  content: none !important;
}

.with-performance-bar .layout-page {
  margin-top: 0;
}

.content-wrapper-margin {
  margin-top: 0;
}
