.git_url_wrapper {
  margin-right:50px
}
.file_stats {
  span {
    img {
      width:14px;
      float:left;
      margin-right:6px;
      padding:2px 0;
    }
  }
}

.handle:hover {
  cursor:move;
}

/* Project Dashboard Page */
.news-feed h2 {
  float:left;
}
.news-feed .project-updates {
  margin-bottom:20px;
  display:block;
  width:100%;
}
.news-feed .project-updates .data {
  padding:0
}
.news-feed .project-updates a.project-update {
  padding:10px;
  border-bottom:1px solid #eee;
  overflow:hidden;
  display:block;
}
.news-feed .project-updates a.project-update:last-child {
  border-bottom:0
}
.news-feed .project-updates a.project-update img {
  float:left;
  margin-right:10px;
}
span.update-title,
span.update-author {
  display:block;
}
span.update-title {
  margin-bottom:10px
}
span.update-author {
  color:#999;
  font-weight:normal;
  font-style:italic;
}
span.update-author strong {
  font-weight:bold;
  font-style: normal;
}
/** UPDATE ITEM **/
.update-data {
  padding:0
}
.update-data {
  width:100%;
}
a.update-item {
  padding:10px;
  border-bottom:1px solid #eee;
  overflow:hidden;
  display:block;
}
a.update-item:last-child {
  border-bottom:0
}
a.update-item img {
  float:left;
  margin-right:10px;
}
span.update-title,
span.update-author {
  display:block;
}
a.update-item span.update-title {
  margin-bottom:10px
}
a.update-item span.update-author {
  color:#999;
  font-weight:normal;
  font-style:italic;
}
a.update-item span.update-author strong {
  font-weight:bold;
  font-style:normal;
}
/** END UPDATE ITEM **/
.ajax-tab-loading {
  padding:40px;
  display:none;
}
#tree-content-holder {
  float:left;
  width:100%;
}
#tree-readme-holder {
  float:left;
  width:100%;
  .readme {
    @include round-borders-all(4px);
    padding:4px 15px;
    background: #F7F7F7;
  }
}
.dashboard-loader {
  float:left;
  margin:10px;
  display:none;
}
.user-mention {
  color:#2FA0BB;
  font-weight:bold;
}

a.project-update.titled {
  position:relative;
  padding-left:35% !important;
  .title-block {
    padding:10px;
    width:35%;
    position:absolute;
    left:0;
    top:0;
  }
}
/**
 * Project graph
 */
#holder {
  cursor: move;
  height: 70%;
  overflow: hidden;
}


/** Branch/tag selector **/
.project-refs-form {
  margin:0;
  span {
    background:none !important;
    position:static !important;
    width:auto !important;
    height:auto !important;
  }
}
.project-refs-select {
  width:120px;
}

.project-refs-form .chzn-container { 
  position:relative;
  top: -5px;
  left: -11px;

  .chzn-drop { 
    margin:7px 0;
    border: 1px solid #CCC;
    min-width: 300px;

    .chzn-results { 
      max-height:300px;
    }

    .chzn-search input {
      min-width:200px;
    }
  }

  .chzn-single { 
    background:#ddd;
    //border:none;
    //box-shadow:none;

    div { 
      background:transparent;
      border-left:none;
    }

    span { 
      font-weight: normal;
    }
  }
}


input.git_clone_url { 
  width:475px;
}

.team_member_row { 
  img { 
    width:60px;
  }
}

.merge-request-form-holder {
  select { 
    width:300px;
  }
}

/** Issues **/
#issue_assignee_id {
  width:300px;
}

#new_issue_dialog textarea{
    height: 100px;
}

.project_list_url { 
  width:270px;
  background:#fff !important;
}

.project_tile { 
  @include shade;
  @include round-borders-all(4px);
  margin-bottom:20px;
  width:338px;
  float:left;
  margin-left:20px;
  border: 1px solid #DDD;
  padding-bottom:20px;

  .title { 
    background:#f5f5f5;
    padding: 5px 10px 2px 20px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 15px;

    h3 { 
      &:hover { 
        text-decoration: underline;
      }
    }
  }
  .data { 
    margin: 0 20px;
  }
  .buttons { 
    margin: 0 20px;
  }
}

