/** MIXINS **/
@mixin round-borders-bottom($radius) {
  border-top: 1px solid #eaeaea;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin round-borders-top($radius) {
  border-top: 1px solid #eaeaea;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin round-borders-all($radius) {
  border: 1px solid #eaeaea;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

/** File stat **/
.file_stats {
  margin-bottom:10px;
  @include round-borders-all(4px);

  span {
    border-top: 1px solid #eaeaea;
    padding:5px 5px;
    display:block;
    &:first-child {
      border-top:none;
    }

    img {
      width:18px;
      float:left;
      margin-right: 6px;
    }
  }
}

.round-borders {
  @include round-borders-all(4px);
  padding: 4px 0px;
}

table.round-borders {
  float:left;
}

a {
  color: #111;
}

/** FILE CONTENT VIEW **/
.view_file_content{
  .old_line, .new_line {
    background:#ECECEC;
    color:#777;
    width:15px;
    float:left;
    padding: 0px 10px;
    border-right: 1px solid #ccc;
  }
  .old_line{
    display:none;
  }
}

.view_file {
  border:1px solid #CCC;
  margin-bottom:1em;

  .view_file_header {
    padding:5px 5px;
    border-bottom:1px solid #CCC;
    background: #eee;
  }
  .view_file_content {
    background:#fff;
    color:#514721;
    font-size: 11px;
  }
  .view_file_content_image {
    background:#eee;
    text-align:center;
    img {
      padding:100px;
      max-width:300px;
    }
  }
}

td.code {
  width: 100%;
  .highlight {
    margin-left: 55px;
    overflow:auto;
    overflow-y:hidden;
  }
}
.highlight pre {
  white-space: pre;
  word-wrap:normal;
}

.highlighttable tr:hover {
  background:white;
}
table.highlighttable pre{
  line-height:16px !important;
  font-size:12px !important;
}

table.highlighttable .linenodiv pre {
  text-align: right;
  padding-right: 4px;
}

/** PROJECTS **/
input.ssh_project_url {
  padding:5px;
  margin:0px;
  float:right;
  width:400px;
  text-align:center;
}

#projects-list .project {
  height:50px;
}

#tree-slider .tree-item,
#projects-list .project,
#snippets-table .snippet,
#issues-table .issue{
  cursor:pointer;
}

.clear {
  clear: both;
}

/** FORM INPUTS **/
.user_new,
.new_key,
.new_issue,
.new_note,
.edit_user,
.new_project,
.new_snippet,
.edit_snippet,
.edit_project {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    width:400px;
    padding:8px;
    font-size:14px;
    @include round-borders-all(4px);
  }
}

.input_button {
  padding:8px;
  font-size:14px;
  cursor:pointer;
  background-color: #F5F5F5;
  border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
  border-right: 1px solid #DEDEDE;
  border-style: solid;
  border-width: 1px;
}

/** FLASH **/
#flash_container {
  height:40px;
  position:fixed;
  z-index:1209;
  top:0px;
  width:100%;
  margin-bottom:10px;
  overflow:hidden;
  background:white;
  cursor:pointer;
  border-bottom:1px solid #777;

  h4 {
    color:#444;
    font-size:22px;
    padding-top:5px;
    margin:2px;
  }
}

/** Buttons **/
.lbutton,
.lite_button {
  display:block;
  float:left;
  margin: 0px 5px;
  padding:5px 10px;

  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  border:1px solid #D3D3D3;
  background:white;
  font-size:12px !important;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;

  &:hover {
    border:1px solid #C2E1EF;
    color: #0099FF;
  }

  &.hm {
    margin: 0px 0px;
  }

  &.vm {
    margin: 5px 0px;
  }
}

#user_projects_limit{
  width: 60px;
}

.handle:hover{
  cursor: move;
}

.project-refs-form {
  span {
    background: none !important;
    position:static !important;
    width:auto !important;
    height: auto !important;
  }
}

.project-refs-select {
  width:200px;
}

.filter .left { margin-right:15px; }

body.project-page table .commit {
  a.tree-commit-link {
    color:gray;
    &:hover {
      text-decoration:underline;
    }
  }
}

/** NEW PROJECT **/
.new-project-hodler {
  .icon span { background-position: -31px -70px; }
  td { border-bottom: 1px solid #DEE2E3; }
}

/** Feed entry **/
.commit,
.snippet,
.message {
  .title {
    color:#666;
    a { color:#666 !important; }
    p { margin-top:0px; }
  }
  .author { color: #999 }
}

/** JQuery UI **/
.ui-autocomplete { @include round-borders-all(5px); }
.ui-menu-item { cursor: pointer }
.ui-selectmenu{
  @include round-borders-all(4px);
  margin-right:10px;
  font-size:1.5em;
  height:auto;
  font-weight:bold;
  .ui-selectmenu-status {
    padding:3px 10px;
  }
}

/** Snippets **/
.new_snippet textarea,
.edit_snippet textarea {
  height:300px;
  padding: 8px;
  width: 95%;
}
.snippet .action-links {
  display:none;
  a {
    margin-left:10px;
  }
}
.snippet:hover .action-links { display:block; }

/** ISSUES TAGS **/
.tag {
  @include round-borders-all(4px);
  padding:2px 4px;
  border:none;
  text-shadow:none;

  &.high {
    background: #D12F19;
    color:white;
  }

  &.today {
    background: #44aa22;
    color:white;
  }

  &.yours {
    background: #4466cc;
    color:white;
  }
  &.normal {
    background: #2c5ca6;
    color:white;
  }
  &.notes {
    background: #2c5c66;
    color:white;
  }
  &.note {
    background: #2c5c66;
    color:white;
  }
  &.issue {
    background: #D12F19;
    color:white;
  }
  &.commit {
    background: #44aacc;
    color:white;
  }
}

#holder {
  border: solid 1px #999;
  cursor: move;
  height: 70%;
  overflow: hidden;
}

/* Project Dashboard Page */
html, body { height: 100%; }

body.dashboard.project-page .news-feed h2{float: left;}
body.dashboard.project-page .news-feed .project-updates  {margin-bottom: 20px; display: block; width: 100%;}
body.dashboard.project-page .news-feed .project-updates .data{ padding: 0}
body.dashboard.project-page .news-feed .project-updates a.project-update {padding: 10px; border-bottom: 1px solid #eee; overflow: hidden; display: block;}
body.dashboard.project-page .news-feed .project-updates a.project-update:last-child{border-bottom: 0}
body.dashboard.project-page .news-feed .project-updates a.project-update img{float: left; margin-right: 10px;}
body.dashboard.project-page .news-feed .project-updates a.project-update span.update-title, .dashboard-page .news-feed .project-updates li a span.update-author{display: block;}
body.dashboard.project-page .news-feed .project-updates a.project-update span.update-title{margin-bottom: 10px}
body.dashboard.project-page .news-feed .project-updates a.project-update span.update-author{color: #999; font-weight: normal; font-style: italic;}
body.dashboard.project-page .news-feed .project-updates a.project-update span.update-author strong{font-weight: bold; font-style: normal;}
/* eo Dashboard Page */
