/** Branch/tag selector **/
.project-refs-form {
  margin:0;
  span {
    background:none !important;
    position:static !important;
    width:auto !important;
    height:auto !important;
  }
}
.project-refs-select {
  width:120px;
}

.project-refs-form .chzn-container { 
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;

  .chzn-drop { 
    margin:7px 0;
    border: 1px solid #CCC;
    min-width: 300px;

    .chzn-results { 
      max-height:300px;
    }

    .chzn-search input {
      min-width:200px;
    }
  }

  .chzn-single { 
    @include bg-gray-gradient;

    div { 
      background:transparent;
      border-left:none;
    }

    span { 
      font-weight: normal;
    }
  }
}

/** Fix for Search Dropdown Border **/
.chzn-container {
  .chzn-search {
    input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
