/* stylelint-disable scss/at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Components layer:
https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes

The components layer will be rendered _before_ the utilities,
so that utilities can overwrite values
*/
@layer components {
    /*
    Type scale: adding our gl-heading shorthands.
     */
    .gl-heading-display {
        font-size: clamp(1.75rem, 0.8611111111rem + 1.8518518519vw, 2.25rem);
        line-height: 1.125;
        @apply gl-font-bold;
        letter-spacing: -0.01em;
        @apply gl-mt-0;
        @apply gl-mb-6;
    }

    .gl-heading-1 {
        font-size: clamp(1.5rem, 0.8333333333rem + 1.3888888889vw, 1.875rem);
        line-height: 1.25;
        @apply gl-font-bold;
        letter-spacing: -0.01em;
        @apply gl-mt-0;
        @apply gl-mb-5;
    }

    .gl-heading-2 {
        font-size: clamp(1.3125rem, 0.8680555556rem + 0.9259259259vw, 1.5625rem);
        line-height: 1.25;
        @apply gl-font-bold;
        letter-spacing: -0.01em;
        @apply gl-mt-0;
        @apply gl-mb-5;
    }

    .gl-heading-3 {
        font-size: clamp(1.125rem, 0.9027777778rem + 0.462962963vw, 1.25rem);
        line-height: 1.25;
        @apply gl-font-bold;
        letter-spacing: inherit;
        @apply gl-mt-0;
        @apply gl-mb-5;
    }

    .gl-heading-4 {
        @apply gl-text-lg;
        line-height: 1.25;
        @apply gl-font-bold;
        letter-spacing: inherit;
        @apply gl-mt-0;
        @apply gl-mb-5;
    }

    .gl-heading-5 {
        @apply gl-text-base;
        line-height: 1.25;
        @apply gl-font-bold;
        letter-spacing: inherit;
        @apply gl-mt-0;
        @apply gl-mb-5;
    }
}

