#tree-holder { 
  #tree-content-holder {
    float:left;
    width:100%;
  }
  #tree-readme-holder {
    float:left;
    width:100%;
    .readme {
      @include round-borders-all(4px);
      padding:4px 15px;
      background: #F7F7F7;
    }
  }

  .tree_progress { 
    display:none;
    margin:20px;
    &.loading { 
      display:block;
    }
  }


  /** FILE CONTENT VIEW **/
  .view_file_content{
    .old_line, .new_line {
      background:#ECECEC;
      color:#777;
      width:15px;
      float:left;
      padding: 0px 10px;
      border-right: 1px solid #ccc;
    }
    .old_line{
      display:none;
    }
  }

  .view_file .view_file_header,
  .diff_file .diff_file_header {
    background:#f5f5f5;
    margin: 0;
    font-weight: normal;
    font-weight: bold;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding: 7px 10px;

    .mode_text,
    .file_icon { 
      color:#aaa;
    }
  }

  .view_file {
    border:1px solid #CCC;
    margin-bottom:1em;

    .view_file_content {
      background:#fff;
      color:#514721;
      font-size: 11px;
    }
    .view_file_content_image {
      background:#eee;
      text-align:center;
      img {
        padding:100px;
        max-width:300px;
      }
    }
  }

  td.code {
    width: 100%;
    .highlight {
      margin-left: 55px;
      overflow:auto;
      overflow-y:hidden;
    }
  }
  .highlight pre {
    white-space: pre;
    word-wrap:normal;
  }

  table.highlighttable {
    border: none;
  }
  body.project-page table.highlighttable td { border: none }
  table.highlighttable tr:hover { background:none;}

  table.highlighttable pre{
    line-height:16px !important;
    font-size:12px !important;
  }

  table.highlighttable .linenodiv pre {
    text-align: right;
    padding-right: 4px;
    color:#888;
  }

  .tree-item { 
    &:hover { 
      background: $hover;
      cursor:pointer;
    }


    .tree-item-file-name { 
      font-weight:bold;
      a { 
        color:$style_color;
      }

      img { 
        position: relative;
        top: 2px;
      }
    }
  }

  ul.breadcrumb {
    background:white;
    border:none;

    a { 
      color:#666;
      font-weight:bold;
      font-size:14px;
    }
  }

  #tree-slider { 
    @include shade;

    td { 
      padding:7px;
      border-color:#f1f1f1;
    }

    th { 
      background:#f5f5f5;
      border-color:#f1f1f1;
    }
  }

  .tree-commit-link { 
    color:#333;
  }

  #tree-content-holder .view_file{ 
    @include shade;
  }

  #tree-readme-holder .readme { 
    @include shade;
    margin-bottom:20px;
  }

  a.tree-commit-link { 
    color: #666;
    &:hover { 
      text-decoration: underline;
    }
  }

  .arrow { 
    background: url("images.png") no-repeat -85px -77px;
    width: 19px;
    height: 16px;
    float: left;
    position: relative;
    left: -10px;
    padding:0;
    margin:0;
  }
}
