%ul.nav.nav-tabs
  %li
    = render partial: 'projects/refs', locals: { destination: 'tree' }
  %li{class: "#{'active' if (controller.controller_name == "refs") }"}
    = link_to tree_project_ref_path(@project, @ref) do
      Source
