- return unless Gitlab::CurrentSettings.should_check_namespace_plan?

.form-group
  = f.label :plan, class: 'col-form-label'
  .col-sm-10
    = f.select :plan_id, Plan.pluck(:title, :id),
      { include_blank: 'No plan' },
      class: 'form-control'
