.gl-flex.gl-flex-wrap.gl-items-center.gl-justify-between.gl-gap-y-3.gl-my-5{ @options }
  .gl-flex.gl-flex-wrap.md:gl-flex-nowrap.gl-justify-between.gl-gap-x-5.gl-gap-y-3.gl-w-full
    %h1.gl-heading-1{ class: '!gl-m-0', data: { testid: 'page-heading' } }
      = heading || @heading

    - if actions?
      .page-heading-actions.gl-self-start.md:gl-mt-1.lg:gl-mt-2.gl-flex.gl-flex-wrap.gl-items-center.gl-gap-3.gl-w-full.sm:gl-w-auto.gl-shrink-0{ data: { testid: 'page-heading-actions' } }
        = actions

  - if description? || @description
    .gl-w-full.gl-text-subtle{ data: { testid: 'page-heading-description' } }
      = description || @description
