.gl-flex.gl-flex-wrap.gl-items-center.gl-justify-between.gl-gap-y-2.gl-gap-x-5.gl-my-5{ @options }
  %h1.gl-heading-1{ class: '!gl-m-0', data: { testid: 'page-heading' } }
    = heading || @heading

  - if actions?
    .gl-flex.gl-items-center.gl-gap-3{ data: { testid: 'page-heading-actions' } }
      = actions

  - if description? || @description
    .gl-w-full.gl-mt-2.gl-text-secondary{ data: { testid: 'page-heading-description' } }
      = description || @description
