%p
  = s_('CiVariables|Variables can be accidentally exposed in a job log, or maliciously sent to a third party server. The masked variable feature can help reduce the risk of accidentally exposing variable values, but is not a guaranteed method to prevent malicious users from accessing variables.')
  = link_to _('How can I make my variables more secure?'), help_page_path('ci/variables/_index.md', anchor: 'cicd-variable-security'), target: '_blank', rel: 'noopener noreferrer'
