= format(s_('CiVariables|Variables store information that you can use in job scripts. Each %{entity} can define a maximum of %{limit} variables.'), entity: entity, limit: variable_limit).html_safe
= link_to _('Learn more.'), help_page_path('ci/variables/_index.md'), target: '_blank', rel: 'noopener noreferrer'
