- expanded = local_assigns.fetch(:expanded)

%h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
  = _('Variables')

= render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
  = expanded ? _('Collapse') : _('Expand')

%p.gl-text-secondary
  = render "ci/variables/content", entity: @entity, variable_limit: @variable_limit
