- expanded = local_assigns.fetch(:expanded)

%h4
  = _('Variables')
  = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'variables'), target: '_blank', rel: 'noopener noreferrer'

%button.btn.btn-default.js-settings-toggle{ type: 'button' }
  = expanded ? _('Collapse') : _('Expand')

%p.append-bottom-0
  = render "ci/variables/content"
