- expanded = local_assigns.fetch(:expanded)

%h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
  = _('Variables')

%button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
  = expanded ? _('Collapse') : _('Expand')

%p
  = render "ci/variables/content"
