- save_endpoint = local_assigns.fetch(:save_endpoint, nil)
- is_group = !@group.nil?
- is_project = !@project.nil?

= render 'ci/variables/attributes'

#js-ci-variables{ data: { endpoint: save_endpoint,
  is_project: is_project.to_s,
  project_id: @project&.id || '',
  project_full_path: @project&.full_path || '',
  is_group: is_group.to_s,
  group_id: @group&.id || '',
  group_path: @group&.full_path,
  maskable_raw_regex: ci_variable_maskable_raw_regex,
  maskable_regex: ci_variable_maskable_regex,
  protected_by_default: ci_variable_protected_by_default?.to_s,
  contains_variable_reference_link: help_page_path('ci/variables/_index.md', anchor: 'prevent-cicd-variable-expansion'),
  masked_environment_variables_link: help_page_path('ci/variables/_index.md', anchor: 'mask-a-cicd-variable') } }

- if !@group && @project.group
  = render 'ci/group_variables/header'
  = render 'ci/group_variables/index'
