.row.prepend-top-default.append-bottom-default
  .col-lg-12
    %h5.prepend-top-0
      Add a variable
    = render "ci/variables/form", btn_text: "Add new variable"
    %hr
    %h5.prepend-top-0
      Your variables (#{@variables.size})
    - if @variables.empty?
      %p.settings-message.text-center.append-bottom-0
        No variables found, add one with the form above.
    - else
      .js-secret-variable-table
        = render "ci/variables/table"
        %button.btn.btn-info.js-secret-value-reveal-button{ data: { secret_reveal_status: 'false' } }
          = n_('Reveal value', 'Reveal values', @variables.size)
