.row.prepend-top-default.append-bottom-default
  .col-lg-4
    = render "ci/variables/content"
  .col-lg-8
    %h5.prepend-top-0
      Add a variable
    = render "ci/variables/form", btn_text: "Add new variable"
    %hr
    %h5.prepend-top-0
      Your variables (#{@variables.size})
    - if @variables.empty?
      %p.settings-message.text-center.append-bottom-0
        No variables found, add one with the form above.
    - else
      = render "ci/variables/table"
      %button.btn.btn-info.js-btn-toggle-reveal-values{ "data-status" => 'hidden' } Reveal Values
