- @body_class = 'ide-layout'
- page_title _('IDE')

- add_page_specific_style 'page_bundles/build'
- add_page_specific_style 'page_bundles/ide'

#ide.ide-loading{ data: ide_data }
  .text-center
    .spinner.spinner-md
    %h2.clgray= _('Loading the GitLab IDE...')
