- @body_class = 'ide-layout'
- page_title _('IDE')

- content_for :page_specific_javascripts do
  = stylesheet_link_tag 'page_bundles/ide'

#ide.ide-loading{ data: ide_data }
  .text-center
    .spinner.spinner-md
    %h2.clgray= _('Loading the GitLab IDE...')
