- @body_class = 'ide-layout'
- page_title _('IDE')

- add_page_specific_style 'page_bundles/build'
- add_page_specific_style 'page_bundles/ide'

- content_for :prefetch_asset_tags do
  - webpack_preload_asset_tag('monaco')

#ide.ide-loading{ data: ide_data }
  .text-center
    .gl-spinner.gl-spinner-md
    %h2.clgray= _('Loading the GitLab IDE...')
