- @body_class = 'ide'
- page_title 'IDE'

- content_for :page_specific_javascripts do
  = stylesheet_link_tag 'page_bundles/ide'

#ide.ide-loading{ data: {"empty-state-svg-path" => image_path('illustrations/multi_file_editor_empty.svg'),
  "no-changes-state-svg-path" => image_path('illustrations/multi-editor_no_changes_empty.svg'),
  "committed-state-svg-path" => image_path('illustrations/multi-editor_all_changes_committed_empty.svg'),
  "pipelines-empty-state-svg-path": image_path('illustrations/pipelines_empty.svg'),
  "ci-help-page-path" => help_page_path('ci/quick_start/README'), } }
  .text-center
    = icon('spinner spin 2x')
    %h2.clgray= _('Loading the GitLab IDE...')
