- @body_class = 'ide'
- page_title 'IDE'

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'ide', force_same_domain: true

#ide.ide-loading{ data: {"empty-state-svg-path" => image_path('illustrations/multi_file_editor_empty.svg')} }
  .text-center
    = icon('spinner spin 2x')
    %h2.clgray= _('Loading the GitLab IDE...')
