- disable_fixed_body_scroll
- page_title _("IDE"), @project.full_name
- add_page_specific_style 'page_bundles/web_ide_loader'
- data = ide_data(project: @project, fork_info: @fork_info, params: params)

= render partial: 'shared/ide_root', locals: { data: data, loading_text: _('Loading the Web IDE') }
