<p>Welcome <%= @resource.name %>!</p>

<% if @resource.unconfirmed_email.present? %>
  <p>You can confirm your email (<%= @resource.unconfirmed_email %>) through the link below:</p>
<% else %>
  <p>You can confirm your account through the link below:</p>
<% end %>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @resource.confirmation_token) %></p>
