= email_default_heading(_("Hello, %{name}!") % { name: @resource.name })
%p
  = _('The password for your GitLab account on %{link_to_gitlab} has successfully been changed.').html_safe % { link_to_gitlab: link_to(Gitlab.config.gitlab.url, Gitlab.config.gitlab.url) }
%p
  = _('If you did not initiate this change, please contact your administrator immediately.')
