= email_default_heading("Hello, #{@resource.name}!")
%p
  The password for your GitLab account on
  #{link_to(Gitlab.config.gitlab.url, Gitlab.config.gitlab.url)}
  has successfully been changed.
%p
  If you did not initiate this change, please contact your administrator
  immediately.
