<p>Hello <%= @resource.email %>!</p>

<p>有人请求了修改您密码的链接, 您可以访问以下链接修改密码.</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是您本人操作, 请忽略此邮件.</p>
<p>您的密码在您访问以上链接之前密码是不会变的， 您可以访问以上链接创建新密码.</p>
