= email_default_heading("Hello, #{@resource.name}!")
%p
  Someone, hopefully you, has requested to reset the password for your
  GitLab account on #{link_to(Gitlab.config.gitlab.url, Gitlab.config.gitlab.url)}.
%p
  If you did not perform this request, you can safely ignore this email.
%p
  Otherwise, click the link below to complete the process.
#cta
  = link_to('Reset password', edit_password_url(@resource, reset_password_token: @token))
