<p>你好 <%= @resource.email %>!</p>

<p>有人请求修改你的密码，你可以点击下面的链接去操作。</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你自己没有请求修改，请忽略本邮件。</p>
<p>一旦你访问了该链接将会创建新的密码；不访问链接密码不会被修改。</p>
