%p
你好 #{@resource.name}!

%p
  由于账号被试图攻击，你的 GitLab 账号被锁定。你的账号将在
  = time_ago_in_words(Devise.unlock_in.from_now)
  自动解锁或者点击下面的链接马上解锁你的账号。

%p= link_to '解锁你的账号', unlock_url(@resource, unlock_token: @token)
