#content
  = email_default_heading(_("Hello, %{name}!") % { name: @resource.name })
  %p
    = _("Your GitLab account has been locked due to an excessive number of unsuccessful sign in attempts. You can wait for your account to automatically unlock in %{duration} or you can click the link below to unlock now.") % { duration: distance_of_time_in_words(Devise.unlock_in) }
  #cta
    = link_to(_('Unlock account'), unlock_url(@resource, unlock_token: @token))
  %p
    = _('If you did not initiate these sign-in attempts, please reach out to your administrator or enable two-factor authentication (2FA) on your account.')
