- if defined?(token)
  - path = oauth_authorized_application_path(0, token_id: token)
- else
  - path = oauth_authorized_application_path(application)

= form_tag path do
  %input{ :name => "_method", :type => "hidden", :value => "delete" }/
  = render Pajamas::ButtonComponent.new(type: :submit, variant: :danger, size: :small, button_options: { aria: { label: s_('AuthorizedApplication|Revoke application') }, data: { confirm: s_('AuthorizedApplication|Are you sure you want to revoke this application?'), confirm_btn_variant: 'danger' } }) do
    = _('Revoke')
