%header.page-header
  %h1 认证应用
%main{:role => "main"}
  .table-holder
    %table.table.table-striped
      %thead
        %tr
          %th 应用
          %th 创建时间
          %th
          %th
      %tbody
        - @applications.each do |application|
          %tr
            %td= application.name
            %td= application.created_at.strftime('%Y-%m-%d %H:%M:%S')
            %td= render 'delete_form', application: application
