.issue-closed-by-widget.second-block
  - pluralized_mr_this = merge_request_count > 1 ? "these" : "this"
  - pluralized_mr_is = merge_request_count > 1 ? "are" : "is"
  When #{pluralized_mr_this} merge #{"request".pluralize(merge_request_count)} #{pluralized_mr_is} accepted, this issue will be closed automatically.
