.issue-closed-by-widget 
  %i.fa.fa-check
  - if @closed_by_mr.count == 1
    This issue will be closed when #{gfm(@closed_by_mr.first.to_reference)} is accepted.
  -else 
    This issue will be closed when any of merge requests #{gfm(merge_requests_sentence(@closed_by_mr.sort))} is accepted.
