.issue-closed-by-widget.gray-content-block.second-block.white
  This issue will be closed automatically when merge request #{markdown(merge_requests_sentence(@closed_by_merge_requests), pipeline: :gfm)} is accepted.
