- return if @issue.work_item_type&.incident?

- requirements_link_url = help_page_path('user/project/issues/design_management.md', anchor: 'prerequisites')
- requirements_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: requirements_link_url }
- link_end = '</a>'.html_safe
- enable_lfs_message = s_("DesignManagement|To upload designs, you'll need to enable LFS and have an admin enable hashed storage. %{requirements_link_start}More information%{requirements_link_end}").html_safe % { requirements_link_start: requirements_link_start, requirements_link_end: link_end }

- if @project.design_management_enabled?
  - add_page_startup_graphql_call('design_management/get_design_list', { fullPath: @project.full_path, iid: @issue.iid.to_s, atVersion: nil })
  - add_page_startup_graphql_call('design_management/design_permissions', { fullPath: @project.full_path, iid: @issue.iid.to_s })
  .js-design-management{ data: { project_path: @project.full_path,
    issue_iid: @issue.iid,
    issue_path: project_issue_path(@project, @issue),
    register_path: new_user_registration_path(redirect_to_referer: 'yes'),
    sign_in_path: new_session_path(:user, redirect_to_referer: 'yes'),
    new_comment_template_paths: new_comment_template_paths(@project.group, @project).to_json } }
- else
  .gl-border-solid.gl-border-1.gl-border-default.gl-rounded-base.gl-mt-5.gl-p-3.gl-text-center
    = enable_lfs_message
