- add_page_startup_api_call discussions_path(@issue, per_page: 20)

- @gfm_form = true

%section.issuable-discussion.js-vue-notes-event
  #js-vue-notes{ data: { notes_data: notes_data(@issue).to_json,
    noteable_data: serialize_issuable(@issue, with_blocking_issues: true),
    noteable_type: 'Issue',
    notes_filters: UserPreference.notes_filters.to_json,
    notes_filter_value: current_user&.notes_filter_for(@issue),
    target_type: 'issue',
    show_timeline_view_toggle: show_timeline_view_toggle?(@issue).to_s,
    current_user_data: UserSerializer.new.represent(current_user, {only_path: true}, CurrentUserEntity).to_json,
    can_add_timeline_events: "#{can?(current_user, :admin_incident_management_timeline_event, @issue)}",
    report_abuse_path: add_category_abuse_reports_path,
    new_comment_template_paths: new_comment_template_paths(@project.group, @project).to_json,
    new_custom_emoji_path: new_custom_emoji_path(@project.group) } }
