= gitlab_ui_form_for [@project, @issue],
  html: { class: 'issue-form common-note-form gl-mt-3 js-quick-submit gl-show-field-errors', data: issues_form_data(@project) } do |f|
  = render 'shared/issuable/form', f: f, issuable: @issue
