- if can?(current_user, :modify_issue, @issue)
  - if @issue.closed?
    = link_to 'Reopen Issue', project_issue_path(@project, @issue, issue: { state_event: :reopen }, status_only: true), method: :put, :'data-action-text' => 'Reopen Issue', :'data-comment-text' => 'Reopen and comment', method: :put,  class: 'btn btn-grouped btn-reopen js-comment-action-button'
  - else
    = link_to 'Close Issue', project_issue_path(@project, @issue, issue: { state_event: :close }, status_only: true), :'data-action-text' => 'Close Issue', :'data-comment-text' => 'Close and comment', method: :put, class: 'btn btn-grouped btn-close js-comment-action-button'
