- if current_user && can?(current_user, :push_code, @project) && @issue.new_branch_button?(current_user)
  .pull-right
    = link_to namespace_project_branches_path(@project.namespace, @project, branch_name: @issue.to_branch_name), method: :post, class: 'btn' do
      = icon('code-fork')
      New Branch
