- if @related_branches.any?
  = render ::Layouts::CrudComponent.new(_('Related branches'),
    icon: 'branch',
    count: @related_branches.size,
    options: { class: 'gl-mt-5' },
    body_options: { class: 'gl-p-3' },
    is_collapsible: true) do |c|
    - c.with_body do
      %ul.related-merge-requests.content-list
        - @related_branches.each do |branch|
          %li{ class: '!gl-p-0 !gl-border-b-0' }
            .item-body.gl-p-3
              .gl-flex.gl-items-center.gl-gap-3
                - if branch[:pipeline_status].present?
                  %span.-gl-my-2
                    = render 'ci/status/icon', status: branch[:pipeline_status]
                = link_to branch[:name], branch[:compare_path], class: 'ref-name'
