- if @related_branches.any?
  %h2.gl-font-lg
    = pluralize(@related_branches.size, 'Related Branch')
  %ul.related-merge-requests.gl-pl-0.gl-mb-3
    - @related_branches.each do |branch|
      %li.gl-display-flex.gl-align-items-center
        - if branch[:pipeline_status].present?
          %span.related-branch-ci-status
            = render 'ci/status/icon', status: branch[:pipeline_status]
        %span.related-branch-info
          %strong
            = link_to branch[:name], branch[:link], class: "ref-name"
