- if @related_branches.any?
  %h2.related-branches-title
    = pluralize(@related_branches.count, 'Related Branch')
  %ul.unstyled-list.related-merge-requests
    - @related_branches.each do |branch|
      %li
        - target = @project.repository.find_branch(branch).dereferenced_target
        - pipeline = @project.pipeline_for(branch, target.sha) if target
        - if pipeline
          %span.related-branch-ci-status
            = render_pipeline_status(pipeline)
        %span.related-branch-info
          %strong
            = link_to branch, project_compare_path(@project, from: @project.default_branch, to: branch), class: "ref-name"
