.js-work-item-links-root{ data: { issuable_id: @issue.id,
  full_path: @project.full_path,
  wi: work_items_index_data(@project),
  register_path: new_user_registration_path(redirect_to_referer: 'yes'),
  sign_in_path: new_session_path(:user, redirect_to_referer: 'yes') } }
