= render "head"
.row
  .left.sidebar-expand-button.hidden-lg.hidden-md
    %i.icon-list.icon-2x
  .col-md-3.responsive-side-left
    = render 'shared/project_filter', project_entities_path: project_issues_path(@project),
             labels: true, redirect: 'issues'
  .col-md-9.issues-holder
    = render "issues"
