= render "head"
.row
  .fixed.fixed.sidebar-expand-button.hidden-lg.hidden-md.hidden-xs
    %i.icon-list.icon-2x
  .col-md-3.responsive-side
    = render 'shared/project_filter', project_entities_path: project_issues_path(@project),
             labels: true, redirect: 'issues', entity: 'issue'
  .col-md-9.issues-holder
    = render "issues"
