- add_page_specific_style 'page_bundles/merge_request'
- add_page_specific_style 'page_bundles/labels'
- add_to_breadcrumbs _("Issues"), project_issues_path(@project)
- breadcrumb_title _("New")
- page_title _("New Issue")

.page-title-holder
  %h1.page-title.gl-font-size-h-display= _("New Issue")

= render "form"
