- @can_bulk_update = false

- page_title _("Service Desk")
- add_page_specific_style 'page_bundles/issuable_list'
- add_page_specific_style 'page_bundles/issues_list'
- service_desk_enabled = ::ServiceDesk.enabled?(@project)

- support_bot_attrs = { service_desk_enabled: service_desk_enabled, **UserSerializer.new.represent(Users::Internal.support_bot) }.to_json

.js-service-desk-issues.service-desk-issues{ data: { support_bot: support_bot_attrs } }
  .js-service-desk-list{ data: { project_data: project_issues_list_data(@project, current_user),
    service_desk_email_address: ::ServiceDesk::Emails.new(@project).address,
    can_admin_issues: can?(current_user, :admin_issue, @project).to_s,
    can_edit_project_settings: can?(current_user, :admin_project, @project).to_s,
    service_desk_callout_svg_path: image_path('illustrations/service-desk-sm.svg'),
    service_desk_settings_path: edit_project_path(@project, anchor: 'js-service-desk'),
    service_desk_help_path: help_page_path('user/project/service_desk/_index.md'),
    is_service_desk_supported: ::ServiceDesk.supported?.to_s,
    is_service_desk_enabled: service_desk_enabled.to_s } }
