- if params[:status_only]
  - if @issue.valid?
    :plain
      $("##{dom_id(@issue)}").fadeOut();
- elsif params[:issue_context]
  $('.context').html("#{escape_javascript(render partial: 'issue_context', locals: { issue: @issue })}");
  $('.context').effect('highlight');
  - if @issue.milestone
    $('.milestone-nav-link').replaceWith("<span class='milestone-nav-link'>| <span class='light'>Milestone</span> #{escape_javascript(link_to @issue.milestone.title, namespace_project_milestone_path(@issue.project.namespace, @issue.project, @issue.milestone))}</span>")
  - else
    $('.milestone-nav-link').html('')


$('select.select2').select2({width: 'resolve', dropdownAutoWidth: true})
$('.edit-issue.inline-update input[type="submit"]').hide();
new ProjectUsersSelect();
new Issue();
