- form = [@project.namespace.becomes(Namespace), @project, @issue]

= render layout: 'layouts/recaptcha_verification', locals: { spammable: @issue, form: form } do
  = hidden_field_tag(:merge_request_for_resolving_discussions, params[:merge_request_for_resolving_discussions])
