.settings-section
  .settings-sticky-header
    .settings-sticky-header-inner
      %h4.gl-my-0
        = _('Admin notes')

  .form-group.gl-form-group{ role: 'group' }
    = f.label :note, s_('Admin|Note')
    = f.text_area :note, class: 'form-control gl-form-input gl-form-textarea'
