%fieldset
  %legend.gl-border-bottom-0= _('Admin notes')
  .form-group.row
    .col-12
      = f.label :note, s_('Admin|Note')
      = f.text_area :note, class: 'form-control gl-form-input gl-form-textarea'
