%fieldset
  %legend= _('Admin notes')
  .form-group.row
    .col-sm-2.col-form-label.text-right
      = f.label :note, s_('AdminNote|Note')
    .col-sm-10
      = f.text_area :note, class: 'form-control'
