%fieldset
  %legend= _('Admin notes')
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :note, s_('Admin|Note')
    .col-sm-10
      = f.text_area :note, class: 'form-control gl-form-input gl-form-textarea'
