#js-delete-user-modal
#js-modal-texts.hidden{ "hidden": true, "aria-hidden": "true" }
  %div{ data: { modal: "delete",
    title: s_("AdminUsers|Delete User %{username}?"),
    action: s_('AdminUsers|Delete user'),
    'secondary-action': s_('AdminUsers|Block user') } }
    = s_('AdminUsers|You are about to permanently delete the user %{username}. Issues, merge requests,
      and groups linked to them will be transferred to a system-wide "Ghost-user". To avoid data loss,
      consider using the %{strongStart}block user%{strongEnd} feature instead. Once you %{strongStart}Delete user%{strongEnd},
      it cannot be undone or recovered.')

  %div{ data: { modal: "delete-with-contributions",
    title: s_("AdminUsers|Delete User %{username} and contributions?"),
    action: s_('AdminUsers|Delete user and contributions') ,
    'secondary-action': s_('AdminUsers|Block user') } }
    = s_('AdminUsers|You are about to permanently delete the user %{username}. This will delete all of the issues,
      merge requests, and groups linked to them. To avoid data loss,
      consider using the %{strongStart}block user%{strongEnd} feature instead. Once you %{strongStart}Delete user%{strongEnd},
      it cannot be undone or recovered.')

