- if local_assigns.has_key?(:contributed_projects) && contributed_projects.present?
  .card.contributed-projects
    .card-header Projects contributed to
    = render 'shared/projects/list',
      projects: contributed_projects.sort_by(&:star_count).reverse,
      projects_limit: 5, stars: true, avatar: false

- if local_assigns.has_key?(:projects) && projects.present?
  .card
    .card-header Personal projects
    = render 'shared/projects/list',
      projects: projects.sort_by(&:star_count).reverse,
      projects_limit: 10, stars: true, avatar: false
