%p
  = s_('AdminUsers|Rejected users:')
%ul
  %li
    = s_('AdminUsers|Cannot sign in or access instance information')
  %li
    = s_('AdminUsers|Will be deleted')
%p
  - link_start = '<a href="%{url}">'.html_safe % { url: help_page_path("user/profile/account/delete_account", anchor: "associated-records") }
  = s_('AdminUsers|For more information, please refer to the %{link_start}user account deletion documentation.%{link_end}').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
