%p
  = s_('AdminUsers|Reactivating a user will:')
%ul
  %li
    = s_('AdminUsers|Restore user access to the account, including web, Git and API.')
  = render_if_exists 'admin/users/user_activation_effects_on_seats'
