- add_to_breadcrumbs _("Users"), admin_users_path
- add_to_breadcrumbs @user.name, admin_user_path(@user)
- breadcrumb_title _("Edit")
- page_title _("Edit"), @user.name, _("Users")

%h1.page-title.gl-text-size-h-display
  = _("Edit user: %{user_name}") % { user_name: @user.name }

- if show_admin_edit_user_organization_field?(@user)
  - content_for :organization_section do
    = render ::Layouts::SettingsSectionComponent.new(_('Organization'), testid: 'organization-section') do |c|
      - c.with_body do
        #js-admin-edit-user-organization-field{ data: { app_data: admin_edit_user_organization_field_app_data(@user) } }
= render 'form'
