- add_to_breadcrumbs _("Users"), admin_users_path
- breadcrumb_title @user.name
- page_title _("SSH Keys"), @user.name, _("Users")
= render 'admin/users/head'
= render 'user_settings/ssh_keys/key_table', admin: true
