- page_title _("New User")
%h1.page-title.gl-text-size-h-display
  = s_('AdminUsers|New user')

- if show_admin_new_user_organization_field?
  - content_for :organization_section do
    = render ::Layouts::SettingsSectionComponent.new(_('Organization'), testid: 'organization-section') do |c|
      - c.with_body do
        #js-admin-new-user-organization-field{ data: { app_data: admin_new_user_organization_field_app_data } }
= render 'form'
