%tr{ class: 'tree-item' }
  %td.tree-item-file-name
    = tree_icon('file', '664', file.basename)
    %span.str-truncated
      = file.basename
  %td
    = link_to '', class: 'btn btn-xs btn-default' do
      = icon('download')
