- path_to_directory = browse_project_job_artifacts_path(@project, @build, path: directory.path)

%tr.tree-item{ 'data-link' => path_to_directory }
  %td.tree-item-file-name
    = tree_icon('folder', '755', directory.name)
    = link_to path_to_directory, class: 'str-truncated', data: { testid: 'directory-name-link', qa_directory_name: directory.name } do
      %span= directory.name
  %td
