- page_title "#{@build.name} (##{@build.id})", 'Build artifacts'
- header_title project_title(@project, "Build artifacts", namespace_project_build_path(@project.namespace, @project, @build))

%table.table.table-hover
  = render partial: 'tree_directory', collection: @path.directories, as: :directory
  = render partial: 'tree_file', collection: @path.files, as: :file
