.abuse-reports
  .message#long
    Cat ipsum dolor sit amet, hide head under blanket so no one can see.
    Gate keepers of hell eat and than sleep on your face but hunt by meowing
    loudly at 5am next to human slave food dispenser cats go for world
    domination or chase laser, yet poop on grasses chirp at birds. Cat is love,
    cat is life chase after silly colored fish toys around the house climb a
    tree, wait for a fireman jump to fireman then scratch his face fall asleep
    on the washing machine lies down always hungry so caticus cuteicus. Sit on
    human. Spot something, big eyes, big eyes, crouch, shake butt, prepare to
    pounce sleep in the bathroom sink hiss at vacuum cleaner hide head under
    blanket so no one can see throwup on your pillow.
  .message#short
    Cat ipsum dolor sit amet, groom yourself 4 hours - checked, have your
    beauty sleep 18 hours - checked, be fabulous for the rest of the day -
    checked! for shake treat bag.
