.issue-details.issuable-details
  .detail-page-description.content-block
    %h2.title Quibusdam sint officiis earum molestiae ipsa autem voluptatem nisi rem.
    .description.js-task-list-container.is-task-list-enabled
      .wiki
        %p Qui exercitationem magnam optio quae fuga earum odio.
        %textarea.hidden.js-task-list-field Qui exercitationem magnam optio quae fuga earum odio.
      %small.edited-text
    .content-block.content-block-small
      .awards.js-awards-block{"data-award-url" => "/gitlab-org/gitlab-test/issues/8/toggle_award_emoji"}
        %button.award-control.btn.js-emoji-btn{"data-placement" => "bottom", "data-title" => "", :type => "button"}
          .icon.emoji-icon.emoji-1F44D{"data-aliases" => "", "data-emoji" => "thumbsup", "data-unicode-name" => "1F44D", :title => "thumbsup"}
          %span.award-control-text.js-counter 0
        %button.award-control.btn.js-emoji-btn{"data-placement" => "bottom", "data-title" => "", :type => "button"}
          .icon.emoji-icon.emoji-1F44E{"data-aliases" => "", "data-emoji" => "thumbsdown", "data-unicode-name" => "1F44E", :title => "thumbsdown"}
          %span.award-control-text.js-counter 0
        .award-menu-holder.js-award-holder
          %button.btn.award-control.js-add-award{:type => "button"}
            %i.fa.fa-smile-o.award-control-icon.award-control-icon-normal
            %i.fa.fa-spinner.fa-spin.award-control-icon.award-control-icon-loading
            %span.award-control-text Add
    %section.issuable-discussion
      #notes
        %ul#notes-list.notes.main-notes-list.timeline
          %li#note_348.note.note-row-348.timeline-entry{"data-author-id" => "18", "data-editable" => ""}
            .timeline-entry-inner
              .timeline-icon
                %a{:href => "/u/agustin"}
                  %img.avatar.s40{:alt => "", :src => "#"}/
              .timeline-content
                .note-header
                  %a.author_link{:href => "/u/agustin"}
                    %span.author Brenna Stokes
                  .inline.note-headline-light
                    @agustin commented
                    %a{:href => "#note_348"}
                      %time 11 days ago
                  .note-actions
                    %span.note-role Reporter
                    %a.note-action-button.note-emoji-button.js-add-award.js-note-emoji{"data-position" => "right", :href => "#", :title => "Award Emoji"}
                      %i.fa.fa-spinner.fa-spin
                      %i.fa.fa-smile-o.link-highlight
                .js-task-list-container.note-body.is-task-list-enabled
                  .note-text
                    %p Suscipit sunt quia quisquam sed eveniet ipsam.
                  .note-awards
                    .awards.hidden.js-awards-block{"data-award-url" => "/gitlab-org/gitlab-test/notes/348/toggle_award_emoji"}
                      .award-menu-holder.js-award-holder
                        %button.btn.award-control.js-add-award{:type => "button"}
                          %i.fa.fa-smile-o.award-control-icon.award-control-icon-normal
                          %i.fa.fa-spinner.fa-spin.award-control-icon.award-control-icon-loading
                          %span.award-control-text Add
