.search.search-form.has-location-badge
  %form.navbar-form
    .search-input-container
      .search-location-badge
        %span.location-badge
          %i.location-text
            This project
      .search-input-wrap
        .dropdown
          %input#search.search-input.dropdown-menu-toggle
          .dropdown-menu.dropdown-select
            .dropdown-content
