%ul.nav.nav-sidebar
  %li.home.active
    %a.dashboard-shortcuts-projects
      %span
        Projects
  %li
    %a
      %span
        Todos
        %span.count.js-todos-count
        1
  %li
    %a.dashboard-shortcuts-activity
      %span
        Activity
  %li
    %a
      %span
        Groups
  %li
    %a
      %span
        Milestones
  %li
    %a.dashboard-shortcuts-issues
      %span
        Issues
        %span
        1
  %li
    %a.dashboard-shortcuts-merge_requests
      %span
        Merge Requests
  %li
    %a
      %span
        Snippets
  %li
    %a
      %span
        Help
  %li
    %a
      %span
        Profile Settings
