.block.due_date
  .sidebar-collapsed-icon
    %i.fa.fa-calendar
    %span.js-due-date-sidebar-value
      Nov 20, 2016
  .title.hide-collapsed
    Due date
    %i.fa.fa-spinner.fa-spin.block-loading
    %a.edit-link.pull-right{ href: "#"} Edit
  .value.hide-collapsed
    %span.value-content
      %span.bold
        Nov 20, 2016
      %span.no-value.js-remove-due-date-holder
        %a.js-remove-due-date{ href: "#", role: "button" }
          remove due date
    .selectbox.hide-collapsed
      %input{type: "hidden", name: "issue[due_date]", id: "issue[due_date]", value: "2016-11-20"}
      .dropdown
        %button.dropdown-menu-toggle.js-due-date-select{ type: 'button', data: { toggle: 'dropdown', field_name: "issue[due_date]", ability_name: "issue", issue_update: "/h5bp/html5-boilerplate/issues/10.json" } }
          %span.dropdown-toggle-text Due date
          %i.fa.fa-chevron-down
        .dropdown-menu.dropdown-menu-due-date
          .dropdown-title
            %span Due Date
            %button.dropdown-title-button.dropdown-menu-close{ type: "button" }
              %i.fa.fa-times.dropdown-menu-close-icon
          .dropdown-content
            .js-due-date-calendar
