.js-kubernetes-logs{ data: { logs_path: '/root/kubernetes-app/environments/1/logs' } }
  .build-page
    .build-trace-container.prepend-top-default
      .top-bar.js-top-bar
        .truncated-info.hidden-xs.pull-left.js-pod-name
          Pod logs from pod name

        .controllers.pull-right
          .has-tooltip.controllers-buttons{ title: 'Scroll to top', data: { placement: 'top', container: 'body'} }
            %button.js-scroll-up.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
          .has-tooltip.controllers-buttons{ title: 'Scroll to bottom', data: { placement: 'top', container: 'body'} }
            %button.js-scroll-down.btn-scroll.btn-transparent.btn-blank{ type: 'button', disabled: true }
          .has-tooltip.controllers-buttons{ title: 'Refresh', data: { placement: 'top', container: 'body'} }
            %button.js-refresh-log.btn-default.btn-refresh{ type: 'button', disabled: true }

      %pre.build-trace#build-trace
        %code.bash.js-build-output
          .build-loader-animation.js-build-refresh
