.block.labels
  .sidebar-collapsed-icon.js-sidebar-labels-tooltip
  .title.hide-collapsed
    %a.edit-link.float-right{ href: "#" }
      Edit
  .selectbox.hide-collapsed{ style: "display: none;" }
    .dropdown
      %button.dropdown-menu-toggle.js-label-select.js-multiselect{ type: "button", data: { ability_name: "issue", field_name: "issue[label_names][]", issue_update: "/root/test/issues/2.json", labels: "/root/test/labels.json", project_id: "12", show_any: "true", show_no: "true", toggle: "dropdown" } }
        %span.dropdown-toggle-text
          Label
        %i.fa.fa-chevron-down
      .dropdown-menu.dropdown-select.dropdown-menu-paging.dropdown-menu-labels.dropdown-menu-selectable
        .dropdown-page-one
          .dropdown-content
          .dropdown-loading
            %i.fa.fa-spinner.fa-spin
