:css
  .hidden { display: none !important; }

.flash-container
  .flash-alert
  .flash-notice

.status-box.status-box-open Open
.status-box.status-box-closed.hidden Closed
%a.btn-close{"href" => "http://gitlab.com/issues/6/close"} Close
%a.btn-reopen.hidden{"href" => "http://gitlab.com/issues/6/reopen"} Reopen

.detail-page-description
  .description.js-task-list-container
    .wiki
      %ul.task-list
        %li.task-list-item
          %input.task-list-item-checkbox{type: 'checkbox'}
          Task List Item
      %textarea.js-task-list-field
        \- [ ] Task List Item

%form.js-issuable-update{action: '/foo'}
