%ul
  %li.note
    .js-task-list-container
      .note-text
        %ul.task-list
          %li.task-list-item
            %input.task-list-item-checkbox{type: 'checkbox'}
            Task List Item
      .note-edit-form
        %form
          %textarea.js-task-list-field
            \- [ ] Task List Item
