%ul.nav.nav-tabs.linked-tabs
  %li.nav-item
    %a.nav-link{ href: 'foo/bar/1', data: { target: 'div#tab1', action: 'tab1', toggle: 'tab' } }
      Tab 1
  %li.nav-item
    %a.nav-link{ href: 'foo/bar/1/context', data: { target: 'div#tab2', action: 'tab2', toggle: 'tab' } }
      Tab 2

.tab-content
  #tab1.tab-pane
    Tab 1 Content
  #tab2.tab-pane
    Tab 2 Content
