%div.js-builds-dropdown-tests.dropdown.dropdown.js-mini-pipeline-graph
  %button.js-builds-dropdown-button{'data-stage-endpoint' => 'foobar', data: { toggle: 'dropdown'} }
    Dropdown

  %ul.dropdown-menu.mini-pipeline-graph-dropdown-menu.js-builds-dropdown-container
    %li.js-builds-dropdown-list.scrollable-menu
      %ul

    %li.js-builds-dropdown-loading.hidden
      %span.fa.fa-spinner
