%div.js-builds-dropdown-tests
  %button.dropdown.js-builds-dropdown-button{'data-stage-endpoint' => 'foobar'}
    Dropdown
  %div.js-builds-dropdown-container
    %div.js-builds-dropdown-list

    %div.js-builds-dropdown-loading.builds-dropdown-loading.hidden
      %span.fa.fa-spinner.fa-spin
