%div
  #pipelines-list-vue{ data: { endpoint: 'foo',
    "help-page-path" => 'foo',
    "help-auto-devops-path" => 'foo',
    "empty-state-svg-path" => 'foo',
    "error-state-svg-path" => 'foo',
    "new-pipeline-path" => 'foo',
    "can-create-pipeline" => 'true',
    "has-ci" => 'foo',
    "ci-lint-path" => 'foo',
    "reset-cache-path" => 'foo' } }

