%div
  #pipelines-list-vue{ data: { endpoint: 'foo',
    "css-class" => 'foo',
    "help-page-path" => 'foo',
    "empty-state-svg-path" => 'foo',
    "error-state-svg-path" => 'foo',
    "new-pipeline-path" => 'foo',
    "can-create-pipeline" => 'true',
    "all-path" =>  'foo',
    "pending-path" => 'foo',
    "running-path" => 'foo',
    "finished-path" => 'foo',
    "branches-path" => 'foo',
    "tags-path" => 'foo',
    "has-ci" => 'foo',
    "ci-lint-path" => 'foo' } }
