%div.pipeline-visualization.js-pipeline-graph
  %ul.stage-column-list
    %li.stage-column
      .stage-name
        %a{:href => "/"}
          Test
          .builds-container
            %ul
              %li.build
                .curve
                %a
                  %svg
                  .ci-status-text
                    stop_review
