%h1.title
  %a
    GitLab Org
  %a.project-item-select-holder{href: "/gitlab-org/gitlab-test"}
    GitLab Test
    %input#project_path.project-item-select.js-projects-dropdown.ajax-project-select{type: "hidden", name: "project_path", "data-include-groups" => "false"}
  %i.fa.chevron-down.dropdown-toggle-caret.js-projects-dropdown-toggle
