.project-item-select-holder
  %input.project-item-select{ data: { group_id: '12345' , relative_path: 'issues/new' } }
  %a.new-project-item-link{ data: { label: 'New issue', type: 'issues' }, href: ''}
    %i.fa.fa-spinner.spin
  %a.new-project-item-select-button
    %i.fa.fa-caret-down
