.search.search-form.has-location-badge
  %form.navbar-form
    .search-input-container
      %div.location-badge
        This project
      .search-input-wrap
        .dropdown
          %input#search.search-input.dropdown-menu-toggle
          .dropdown-menu.dropdown-select
            .dropdown-content
    %input{ type: "hidden", class: "js-search-project-options" }
