.search.search-form
  %form.form-inline
    .search-input-container
      .search-input-wrap
        .dropdown
          %input#search.search-input.dropdown-menu-toggle
          .dropdown-menu.dropdown-select
            .dropdown-content
    %input{ type: "hidden", class: "js-search-project-options" }
