.zennable
  .zen-backdrop
    %textarea#note_note.js-gfm-input.markdown-area
    %a.js-zen-enter(tabindex="-1" href="#")
      %i.fa.fa-expand
      Edit in fullscreen
    %a.js-zen-leave(tabindex="-1" href="#")
      %i.fa.fa-compress
