.gl-mt-3
  = form_errors(@page, truncate: :title)

- templates = @templates.map { |t| wiki_page_basic_info(t) }

#js-wiki-form{ data: { page_info: wiki_page_info(@page, uploads_path: uploads_path).to_json, templates: templates.to_json, format_options: wiki_markup_hash_by_name_id.to_json } }
