- if @page&.persisted?
  = link_button_to wiki_page_path(@wiki, @page, action: :history), role: "button", data: { qa_selector: 'page_history_button' } do
    = s_("Wiki|Page history")
  - if can?(current_user, :create_wiki, @wiki.container)
    = link_button_to wiki_path(@wiki, action: :new), role: "button", data: { qa_selector: 'new_page_button' }, variant: :confirm, category: :secondary do
      = s_("Wiki|New page")
