%li{ class: "#{ '!gl-border-b-0' if !wiki_page.template? }" }
  .gl-flex.gl-items-center.gl-justify-between.gl-gap-5
    .gl-flex.gl-items-baseline.gl-gap-5.gl-w-full
      .gl-flex.gl-items-baseline.gl-grow.gl-gap-2
        = link_to wiki_page.human_title, wiki_page_path(@wiki, wiki_page), data: { testid: 'wiki-page-link', qa_page_name: wiki_page.slug }
    - if can?(current_user, :create_wiki, @wiki) && wiki_page.template?
      = render Pajamas::ButtonComponent.new(category: :tertiary, icon: 'pencil', size: 'small', href: wiki_page_path(@wiki, wiki_page, action: :edit), button_options: { title: s_('Edit template'), class: 'has-tooltip' })
