- wiki_path = wiki_page_path(@wiki, wiki_page)

%li{ class: active_when(params[:id] == wiki_page.slug) }
  .gl-relative.gl-display-flex.gl-align-items-center.js-wiki-list-toggle.wiki-list{ data: { testid: 'wiki-list' } }
    = render Pajamas::ButtonComponent.new(icon: 'plus', size: :small, href: "#{wiki_path}/{new_page_title}", button_options: { class: 'wiki-list-create-child-button gl-bg-transparent! gl-hover-bg-gray-50! gl-focus-bg-gray-50! gl-absolute gl-top-1/2 gl-translate-y-n50 gl-cursor-pointer gl-right-2' })
    = link_to wiki_path, data: { testid: 'wiki-page-link', qa_page_name: wiki_page.human_title } do
      = wiki_page.human_title
