- @gfm_form = true
- @noteable_type = 'Wiki'
- @content_class = "limit-container-width" unless fluid_layout
- page_title s_("WikiClone|Git Access"), _("Wiki")
- add_page_specific_style 'page_bundles/wiki'

.wiki-page-header.has-sidebar-toggle.gl-flex-col.gl-py-5
  %h1.gl-heading-1{ class: '!gl-mt-0' }= s_('WikiClone|Clone Wiki repository')
  = wiki_sidebar_toggle_button
  = render "shared/clone_panel", container: @wiki
= render 'shared/wikis/sidebar'
