- blob = @project.repository.parse_search_result(blob)
.blob-result
  .file-holder
    .file-title
      = link_to namespace_project_blob_path(@project.namespace, @project, tree_join(blob.ref, blob.filename), :anchor => "L" + blob.startline.to_s) do
        %i.fa.fa-file
        %strong
          = blob.filename
    .file-content.code.term
      = render 'shared/file_highlight', blob: blob, first_line_number: blob.startline
