.blob-result
  .file-holder
    .file-title
      = link_to project_blob_path(@project, tree_join(blob.ref, blob.filename), :anchor => "L" + blob.startline.to_s) do
        %i.icon-file
        %strong
          = blob.filename
    .file-content.code.term
      = render 'shared/file_hljs', blob: blob, first_line_number: blob.startline
