<<<<<<< HEAD
= render 'projects/commits/commit', project: commit.project, commit: commit, ref: nil
=======
= render 'projects/commits/commit', project: @project, commit: commit, ref: nil
>>>>>>> ce/master
