.search_box.gl-my-8.gl-text-center
  .search_glyph
  %h4
    = sprite_icon('search', size: 24, css_class: 'gl-vertical-align-text-bottom')
    = search_entries_empty_message(@scope, @search_term, @group, @project)
