= render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-search-md.svg',
  title: s_('SearchError|A problem has occurred')) do |c|

  - c.with_description do
    = s_('SearchError|To resolve the problem, check the query syntax and try again.')
