.gl-display-flex.gl-flex-direction-column.gl-align-items-center
  %div
    .svg-content.svg-150
      = image_tag 'illustrations/search-timeout-md.svg'
  %div
    %h4.gl-text-center.gl-font-weight-bold= s_('SearchError|A search query problem has occurred')
    %p.gl-text-center= s_('SearchError|To resolve the problem, check the query syntax and try again.')
