- index = local_assigns.fetch(:index, nil)
- milestone = local_assigns.fetch(:result, nil)
- position = index + 1

.search-result-row
  = link_to project_milestone_path(milestone.project, milestone), class: 'gl-font-bold gl-text-default', data: { event_tracking: 'click_search_result', event_label: @scope, event_value: position } do
    %span.term.str-truncated= simple_search_highlight_and_truncate(milestone.title, @search_term)

  - if milestone.project_milestone?
    .gl-mt-2= gl_badge_tag milestone.project.full_name, { variant: :muted }, { class: 'gl-whitespace-normal gl-text-left' }

  - if milestone.description.present?
    .description.term
      = search_md_sanitize(milestone.description)
