- project = wiki_blob.project
- wiki_blob_link = project_wiki_path(project, wiki_blob.basename)

= render partial: 'search/results/blob_data', locals: { blob: wiki_blob, project: project, path: wiki_blob.path, blob_link: wiki_blob_link }
