- wiki_blob = @project.repository.parse_search_result(wiki_blob)
.blob-result
  .file-holder
    .file-title
      = link_to namespace_project_wiki_path(@project.namespace, @project, wiki_blob.filename) do
        %i.fa.fa-file
        %strong
          = wiki_blob.filename
    .file-content.code.term
      = render 'shared/file_highlight', blob: wiki_blob, first_line_number: wiki_blob.startline
