- page_title _("Dependency Proxy")
- @content_class = "limit-container-width" unless fluid_layout
- dependency_proxy_available = Feature.enabled?(:dependency_proxy_for_private_groups, default_enabled: true) || @group.public?

#js-dependency-proxy{ data: { group_path: @group.full_path,
  dependency_proxy_available: dependency_proxy_available.to_s,
  no_manifests_illustration: image_path('illustrations/docker-empty-state.svg'), group_id: @group.id } }
