- page_title _("Dependency Proxy")

#js-dependency-proxy{ data: { group_path: @group.full_path,
  endpoint: group_dependency_proxy_path(@group),
  no_manifests_illustration: image_path('illustrations/status/status-nothing-md.svg'),
  group_id: @group.id,
  settings_path: group_settings_packages_and_registries_path(@group),
  can_clear_cache: can?(current_user, :admin_group, @group).to_s } }
