= render 'shared/milestones/milestone',
          issues_path: issues_dashboard_path(milestone_title: milestone.title),
          merge_requests_path: merge_requests_dashboard_path(milestone_title: milestone.title),
          milestone: milestone
