- page_title "Milestones"
%h3.page-title
  Milestones
  %span.pull-right #{@dashboard_milestones.count} milestones

%p.light
  List all milestones from all projects you have access to.

%hr

= render 'shared/milestones_filter'
.milestones
  .panel.panel-default
    %ul.well-list
      - if @dashboard_milestones.blank?
        %li
          .nothing-here-block No milestones to show
      - else
        - @dashboard_milestones.each do |milestone|
          = render 'milestone', milestone: milestone
  = paginate @dashboard_milestones, theme: "gitlab"
