- header_title "Milestones", dashboard_milestones_path

= render 'shared/milestones/top', milestone: @milestone
= render 'shared/milestones/tabs', milestone: @milestone, show_full_project_name: true
= render 'shared/milestones/sidebar', milestone: @milestone, affix_offset: 51
