- add_to_breadcrumbs _('Packages and registries settings'), project_settings_packages_and_registries_path(@project)
- breadcrumb_title s_('ContainerRegistry|Container registry cleanup policies')
- page_title s_('ContainerRegistry|Container registry cleanup policies'), _('Packages and registries settings')

#js-registry-settings-cleanup-image-tags{ data: cleanup_settings_data(@project) }
