- breadcrumb_title _('Packages and registries settings')
- page_title _('Packages and registries settings')
- @force_desktop_expanded_sidebar = true

%h1.gl-sr-only= @breadcrumb_title

#js-registry-settings{ data: settings_data(@project) }
