.row.empty-state.text-center
  .col-xs-12
    .svg-130.prepend-top-default
      = image_tag 'illustrations/issue-dashboard_results-without-filter.svg'
  .col-xs-12
    .text-content
      %h4
        = _("Please select at least one filter to see results")
