.content-block.emoji-block.emoji-list-container.js-noteable-awards
  = render 'award_emoji/awards_block', awardable: @merge_request, inline: true, api_awards_path: award_emoji_merge_request_api_path(@merge_request) do
    .ml-auto.gl-my-2
      #js-vue-sort-issue-discussions
      = render "projects/merge_requests/discussion_filter"
