= form_for [@project.namespace.becomes(Namespace), @project, @merge_request],
           html: { class: 'merge-request-form common-note-form js-requires-input js-quick-submit' },
           data: { markdown_version: @merge_request.cached_markdown_version } do |f|
  = render 'shared/issuable/form', f: f, issuable: @merge_request
