= gitlab_ui_form_for [@project, @merge_request],
           html: { class: 'merge-request-form common-note-form js-quick-submit' } do |f|
  = render 'shared/issuable/form', f: f, issuable: @merge_request, presenter: @mr_presenter
