%ul.content-list.mr-list
  = render @merge_requests
  - if @merge_requests.blank?
    %li
      .nothing-here-block No merge requests to show

- if @merge_requests.present?
  = paginate @merge_requests, theme: "gitlab"

