- if @can_bulk_update
  = button_tag "Edit Merge Requests", class: "btn js-bulk-update-toggle"
- if merge_project
  = link_to new_merge_request_path, class: "btn btn-new", title: "New merge request" do
    New merge request
