- endpoint_path = local_assigns[:endpoint] || pipelines_project_merge_request_path(@project, @merge_request, format: :json)
- disable_initialization = local_assigns.fetch(:disable_initialization, false)

= render 'projects/commit/pipelines_list', endpoint: endpoint_path, disable_initialization: disable_initialization
