%span{
  id: "js-merge-request-metadata",
  class: ["js-merge-request-metadata", "gl-display-none"],
  data: {
    "source-project-id": mr.source_project_id,
    "source-branch": mr.source_branch,
    "target-project-id": mr.target_project_id,
    "target-branch": mr.target_branch
  }
}
