- add_page_specific_style 'page_bundles/merge_request'
- add_page_specific_style 'page_bundles/merge_request_rapid_diffs'
- @content_class = 'rd-page-container diffs-container-limited'

= render 'page'
