:plain
  $(".target_branch").html("#{escape_javascript(options_for_select(@target_branches))}");
  $(".target_branch").trigger("chosen:updated");
  $(".mr_target_commit").html("");
  $(".target_branch").trigger("change");
