- if @project.mirror_last_update_failed?
  .card.bg-danger
    .card-header
      = render partial: 'shared/mirror_status', locals: { raw_message: true }
    .card-body
      %pre
        :preserve
          #{h(@project.import_error.try(:strip))}
