- enabled = Gitlab.config.mattermost.enabled

.well
  This service allows GitLab users to perform common operations on this
  project by entering slash commands in Mattermost.
  %br
  See list of available commands in Mattermost after setting up this service,
  by entering
  %code /&lt;command_trigger_word&gt; help

  - unless enabled
    = render 'projects/services/mattermost_slash_commands/detailed_help', subject: @service

- if enabled
  = render 'projects/services/mattermost_slash_commands/installation_info', subject: @service
