%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Last build
      %th Access
      %th Builds
      %th

  - @projects.each do |project|
    = render "ci/admin/projects/project", project: project

= paginate @projects

