- class_name = local_assigns.fetch(:class_name, '')

.branch-commit.gl-text-sm.gl-text-subtle.gl-truncate{ class: class_name }
  = link_to commit.short_id, project_commit_path(project, commit.id), class: "commit-sha"
  &middot;
  %span
    = link_to_markdown commit.title, project_commit_path(project, commit.id), class: "commit-row-message !gl-text-subtle"
  &middot;
  %span.gl-text-subtle= time_ago_with_tooltip(commit.committed_date)
