.branch-commit
  = link_to commit.short_id, namespace_project_commit_path(project.namespace, project, commit), class: "commit-id"
  &middot;
  %span.str-truncated
    = link_to_gfm commit.title, namespace_project_commit_path(project.namespace, project, commit.id), class: "commit-row-message"
  &middot;
  #{time_ago_with_tooltip(commit.committed_date)}
