.branch-commit
  .icon-container.commit-icon
    = custom_icon("icon_commit")
  = link_to commit.short_id, project_commit_path(project, commit.id), class: "commit-sha"
  &middot;
  %span.str-truncated
    = link_to_markdown commit.title, project_commit_path(project, commit.id), class: "commit-row-message"
  &middot;
  #{time_ago_with_tooltip(commit.committed_date)}
