:plain
  $(".js-branch-#{@branch.name}").remove();
  $('.js-recentbranch-count').html("#{@repository.recent_branches.count}")
  $('.js-protectedbranch-count').html("#{@project.protected_branches.count}")
  $('.js-totalbranch-count').html("#{@repository.branch_names.count}")
