= render "projects/commits/head"
.row
  .col-md-3
    = render "filter"
  .col-md-9
    - unless @branches.empty?
      %ul.bordered-list.top-list.all-branches
        - @branches.each do |branch|
          = render "projects/branches/branch", branch: branch
      = paginate @branches, theme: 'gitlab'
