.file_content.blob_file
  %center
    = link_to project_blob_path(@project, @id) do
      %div.padded
        %br
        = image_tag "download.png", width: 64
        %h3
          Download (#{blob.mb_size})
