- if gitlab_markdown?(blob.name)
  .file_content.wiki
    = preserve do
      = markdown(blob.data)
- elsif markup?(blob.name)
  .file_content.wiki
    = raw GitHub::Markup.render(blob.name, blob.data)
- else
  .file_content.code
    - unless blob.empty?
      %div{class: user_color_scheme_class}
        = raw blob.colorize(formatter: :gitlab)
    - else
      %p.nothing_here_message Empty file
