.votes.votes-block
  .btn-group
    - unless votable.upvotes.zero?
      .btn.btn-sm.disabled.cgreen
        %i.fa.fa-thumbs-up
        = votable.upvotes
    - unless votable.downvotes.zero?
      .btn.btn-sm.disabled.cred
        %i.fa.fa-thumbs-down
        = votable.downvotes
