.votes.votes-inline
  - unless votable.upvotes.zero?
    %span.upvotes.cgreen
      + #{votable.upvotes}
    - unless votable.downvotes.zero?
      \/
  - unless votable.downvotes.zero?
    %span.downvotes.cred
      \- #{votable.downvotes}
