- add_to_breadcrumbs _('New group'), new_group_path
- add_to_breadcrumbs _('Import group'), new_group_path(anchor: 'import-group-pane')
- page_title s_('Import|GitLab Migration details')

.js-bulk-import-details
