- add_to_breadcrumbs _('New group'), new_group_path
- add_to_breadcrumbs _('Import group'), new_group_path(anchor: 'import-group-pane')
- add_to_breadcrumbs s_('BulkImport|Migration history'), history_import_bulk_imports_path
- add_to_breadcrumbs @bulk_import.id, history_import_bulk_import_path(@bulk_import.id)
- page_title format(s_('Import|Failures for %{id}'), id: @bulk_import_entity.full_path_with_fallback)

.js-bulk-import-details{ data: { id: @bulk_import.id, entity_id: @bulk_import_entity.id, full_path: @bulk_import_entity.full_path_with_fallback } }
