- add_to_breadcrumbs _('New group'), new_group_path
- add_to_breadcrumbs _('Import group'), new_group_path(anchor: 'import-group-pane')
- if @bulk_import.present?
  - add_to_breadcrumbs s_('BulkImport|Migration history'), history_import_bulk_imports_path
  - breadcrumb_title @bulk_import.id.to_s
- page_title s_('BulkImport|Migration history')

- add_page_specific_style 'page_bundles/import'

- pending_reassignment_presenter = Gitlab::View::Presenter::Factory.new(@bulk_import, current_user: current_user, presenter_class: ::Import::PendingReassignmentAlertPresenter).fabricate!
- if pending_reassignment_presenter.show_alert?
  = render Pajamas::AlertComponent.new(variant: :notice, title: pending_reassignment_presenter.title, alert_options: { class: 'gl-mt-4' }) do |c|
    - c.with_body do
      = pending_reassignment_presenter.body
    - c.with_actions do
      = render Pajamas::ButtonComponent.new(variant: :default, href: help_page_path('user/project/import/_index.md', anchor: 'placeholder-users'), button_options: { class: 'deferred-link gl-alert-action', rel: 'noreferrer noopener' }, target: '_blank') do
        = _('Learn more')

#import-history-mount-element{ data: { id: @bulk_import&.id, details_path: failures_import_bulk_import_path(':id', ':entity_id'), realtime_changes_path: realtime_changes_import_bulk_imports_path(format: :json) } }
