- add_to_breadcrumbs _('New group'), new_group_path
- add_to_breadcrumbs _('Import group'), new_group_path(anchor: 'import-group-pane')
- if @bulk_import.present?
  - add_to_breadcrumbs s_('BulkImport|Migration history'), history_import_bulk_imports_path
  - breadcrumb_title @bulk_import.id.to_s
- page_title s_('BulkImport|Migration history')

- add_page_specific_style 'page_bundles/import'

#import-history-mount-element{ data: { id: @bulk_import&.id, details_path: failures_import_bulk_import_path(':id', ':entity_id'), realtime_changes_path: realtime_changes_import_bulk_imports_path(format: :json) } }
