- add_to_breadcrumbs 'New group', admin_users_path
- add_page_specific_style 'page_bundles/import'
- breadcrumb_title _('Import groups')

%h1.gl-my-0.gl-py-4.gl-font-size-h1.gl-border-solid.gl-border-gray-200.gl-border-0.gl-border-b-1
  = s_('BulkImport|Import groups from GitLab')

#import-groups-mount-element{ data: { status_path: status_import_bulk_imports_path(format: :json),
  available_namespaces_path: import_available_namespaces_path(format: :json),
  create_bulk_import_path: import_bulk_imports_path(format: :json),
  source_url: @source_url } }
