- add_to_breadcrumbs _('New group'), new_group_path
- add_to_breadcrumbs _('Import group'), new_group_path(anchor: 'import-group-pane')
- breadcrumb_title s_('BulkImport|Direct transfer')
- page_title s_('BulkImport|Import groups by direct transfer')
- add_page_specific_style 'page_bundles/import'

#import-groups-mount-element{ data: { status_path: status_import_bulk_imports_path(format: :json),
  default_target_namespace: @namespace&.id,
  create_bulk_import_path: import_bulk_imports_path(format: :json),
  jobs_path: realtime_changes_import_bulk_imports_path(format: :json),
  source_url: @source_url,
  group_path_regex: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS,
  history_path: history_import_bulk_imports_path,
  history_show_path: history_import_bulk_import_path(':id'),
  group_url_error_message: group_url_error_message } }
