- add_to_breadcrumbs _('New group'), new_group_path
- add_page_specific_style 'page_bundles/import'
- breadcrumb_title _('Import groups')

#import-groups-mount-element{ data: { status_path: status_import_bulk_imports_path(format: :json),
  available_namespaces_path: import_available_namespaces_path(format: :json),
  create_bulk_import_path: import_bulk_imports_path(format: :json),
  jobs_path: realtime_changes_import_bulk_imports_path(format: :json),
  source_url: @source_url,
  group_path_regex: Gitlab::PathRegex::NAMESPACE_FORMAT_REGEX_JS } }
