%ul.nav.nav-tabs
  = nav_link(controller: :projects) do
    = link_to 'Projects', admin_projects_path, class: "tab"
  = nav_link(controller: :groups) do
    = link_to 'Groups', admin_groups_path, class: "tab"
