.alert.alert-danger
  %p
    There are NO runners to build this project.
    %br
    You can add Specific runner for this project on Runners page

    - if current_user.admin
      or add Shared runner for whole application in admin are.
