- if @ci_project.generated_yaml_config
  %p.alert.alert-danger
    CI Jobs are deprecated now, you can #{link_to "download", dumped_yaml_ci_project_path(@ci_project)}
    or
    %a.preview-yml{:href => "#yaml-content", "data-toggle" => "modal"} preview
    yaml file which is based on your old jobs.
    Put this file to the root of your project and name it .gitlab-ci.yml

- if no_runners_for_project?(@ci_project)
  = render 'no_runners'

= render 'form'

- if @ci_project.generated_yaml_config
  #yaml-content.modal.fade{"aria-hidden" => "true", "aria-labelledby" => ".gitlab-ci.yml", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Content of .gitlab-ci.yml
        .modal-body
          = text_area_tag :yaml, @ci_project.generated_yaml_config, size: "70x25", class: "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
