- show_create_form = @hooks.nil? || params[:create].present?
- show_webhooks_list = @hooks.any? && params[:create].nil?

.integrations-webhooks-page
  - if show_webhooks_list
    = render 'projects/hooks/hooks_list'

  - if show_create_form
    = render 'projects/hooks/hook_form', create_hook: true
