- breadcrumb_title "Integrations"
- add_to_breadcrumbs("Settings", edit_project_path(@project))

.integrations-webhooks-page
  = render 'projects/hooks/hook_form', create_hook: false
  %hr
  = render partial: 'projects/hook_logs/index', locals: { hook: @hook, hook_logs: @hook_logs, project: @project }

