- breadcrumb_title _('Webhook Settings')
- page_title _('Webhooks')
- @force_desktop_expanded_sidebar = true

.gl-mt-3.js-search-settings-section
  = render 'shared/web_hooks/title_and_docs', hook: @hook
  = render 'shared/web_hooks/index', hooks: @hooks, title: @hook.pluralized_name, partial: 'shared/web_hooks/form', url: polymorphic_path([@project, :hooks])
