- page_title _('Bitbucket Server import')

%h3.page-title.d-flex
  .gl-display-flex.gl-align-items-center.gl-justify-content-center
    = sprite_icon('bitbucket', css_class: 'gl-mr-2')
  = _('Import projects from Bitbucket Server')

= render 'import/githubish_status', provider: 'bitbucket_server', paginatable: true, extra_data: { reconfigure_path: configure_import_bitbucket_server_path }
