= render 'shared/runners/runner_description'

.row
  .col-sm-6
    = render 'projects/runners/project_runners'
  .col-sm-6
    = render 'projects/runners/shared_runners'
    = render 'projects/runners/group_runners'
