%h3 Specific Runners

= render partial: 'ci/runner/how_to_setup_specific_runner',
         locals: { registration_token: @project.runners_token }

- if @project_runners.any?
  %h4.underlined-title Runners activated for this project
  %ul.bordered-list.activated-specific-runners
    = render partial: 'projects/runners/runner', collection: @project_runners, as: :runner

- if @assignable_runners.any?
  %h4.underlined-title Available specific runners
  %ul.bordered-list.available-specific-runners
    = render partial: 'projects/runners/runner', collection: @assignable_runners, as: :runner
  = paginate @assignable_runners, theme: "gitlab"
