- runner_name = runner_short_name(@runner)
- breadcrumb_title runner_name
- page_title runner_name
- add_to_breadcrumbs _('CI/CD Settings'), project_settings_ci_cd_path(@project)

= render 'shared/runners/runner_details', runner: @runner
