- if can?(current_user, :request_access, source)
  - if requester = source.requesters.find_by(user_id: current_user.id)
    = link_to 'Withdraw Access Request', polymorphic_path([:leave, source, :members]),
              method: :delete,
              data: { confirm: remove_member_message(requester) },
              class: 'btn'
  - else
    = link_to 'Request Access', polymorphic_path([:request_access, source, :members]),
              method: :post,
              class: 'btn'
