- path = local_assigns.fetch(:path, nil)

.gl-float-right
  = link_to path, class: 'btn btn-default btn-sm gl-button' do
    = sprite_icon('pencil-square', css_class: 'gl-icon gl-button-icon')
    %span.gl-button-text
      = _('Manage access')
