- if requesters.any?
  .panel.panel-default
    .panel-heading
      %strong= membership_source.name
      access requests
      %span.badge= requesters.size
    %ul.content-list
      = render partial: 'shared/members/member', collection: requesters, as: :member
