- membership_source = local_assigns.fetch(:membership_source)
- requesters = local_assigns.fetch(:requesters)
- force_mobile_view = local_assigns.fetch(:force_mobile_view, false)

- return if requesters.empty?

.card.prepend-top-default{ class: ('card-mobile' if force_mobile_view ) }
  .card-header
    Users requesting access to
    %strong= membership_source.name
    %span.badge.badge-pill= requesters.size
  %ul.content-list.members-list
    = render partial: 'shared/members/member', collection: requesters, as: :member, locals: { force_mobile_view: force_mobile_view }
