- page_title _('Product Analytics')

= render 'links'

%p
  = _('Showing graphs based on events of the last %{timerange} days.') % { timerange: @timerange }


.gl-mb-3
  = render 'graph', graph: @activity_graph

- @graphs.each_slice(2) do |pair|
  .row.append-bottom-10
    - pair.each do |graph|
      .col-md-6{ id: graph[:id] }
        = render 'graph', graph: graph
