- page_title _('Product Analytics')

= render 'links'

%p
  = _('Copy the code below to implement tracking in your application:')

%pre
  = render "tracker"

%p.hint
  = _('A platform value can be web, mob or app.')
