- milestone_url = @milestone.project_milestone? ? project_milestone_path(@project, @milestone) : group_milestone_path(@group, @milestone)

%button.js-delete-milestone-button.btn.btn-grouped.btn-danger{ data: { toggle: 'modal',
  target: '#delete-milestone-modal',
  milestone_id: @milestone.id,
  milestone_title: markdown_field(@milestone, :title),
  milestone_url: milestone_url,
  milestone_issue_count: @milestone.issues.count,
  milestone_merge_request_count: @milestone.merge_requests.count },
  disabled: true }
  = _('Delete')
  = icon('spin spinner', class: 'js-loading-icon hidden' )

#delete-milestone-modal
