.detail-page-description.milestone-detail
  %h2.gl-m-0{ data: { qa_selector: "milestone_title_content" } }
    = markdown_field(milestone, :title)

  - if milestone.try(:description).present?
    %div{ data: { qa_selector: "milestone_description_content" } }
      .description.md.gl-px-0.gl-pt-4.gl-border-1.gl-border-t-solid.gl-border-gray-100
        = markdown_field(milestone, :description)
