.detail-page-description.milestone-detail.gl-py-4
  %h2.gl-m-0{ data: { testid: "milestone-title-content" } }
    = markdown_field(milestone, :title)
    .gl-font-sm.gl-text-secondary.gl-font-base.gl-font-weight-normal.gl-line-height-normal{ itemprop: 'identifier' }
      - if can?(current_user, :read_milestone, @milestone)
        %span.gl-display-inline-block.gl-vertical-align-middle
          = s_('MilestonePage|Milestone ID: %{milestone_id}') % { milestone_id: @milestone.id }
          = clipboard_button(title: s_('MilestonePage|Copy milestone ID'), text: @milestone.id)

  - if milestone.try(:description).present?
    %div{ data: { testid: "milestone-description-content" } }
      .description.md.gl-px-0.gl-pt-4{ class: ('js-task-list-container' if can?(current_user, :admin_milestone, milestone)), data: { lock_version: @milestone.lock_version } }
        = markdown_field(milestone, :description)
        -# This textarea is necessary for `task_list.js` to work.
        %textarea.hidden.js-task-list-field{ data: { value: milestone.description, update_url: milestone_path(milestone, format: :json)} }
