.col-md-6
  .form-group
    = f.label :start_date, "Start Date", class: "col-form-label"
    .col-sm-10
      = f.text_field :start_date, class: "datepicker form-control", placeholder: "Select start date"
      %a.inline.float-right.prepend-top-5.js-clear-start-date{ href: "#" } Clear start date
.col-md-6
  .form-group
    = f.label :due_date, "Due Date", class: "col-form-label"
    .col-sm-10
      = f.text_field :due_date, class: "datepicker form-control", placeholder: "Select due date"
      %a.inline.float-right.prepend-top-5.js-clear-due-date{ href: "#" } Clear due date
