- args = { show_project_name: local_assigns.fetch(:show_project_name, false),
           show_full_project_name: local_assigns.fetch(:show_full_project_name, false) }

.row.prepend-top-default
  .col-md-4
    = render 'shared/milestones/issuables', args.merge(title: '未开始的问题 (未关闭 & 未指派)', issuables: issues.opened.unassigned, id: 'unassigned', show_counter: true)
  .col-md-4
    = render 'shared/milestones/issuables', args.merge(title: '正在进行的问题 (未关闭 & 已指派)', issuables: issues.opened.assigned, id: 'ongoing', show_counter: true)
  .col-md-4
    = render 'shared/milestones/issuables', args.merge(title: '完成的问题 (已关闭)', issuables: issues.closed, id: 'closed', show_counter: true)
