%ul.bordered-list.manage-labels-list
  - labels.each do |label|
    - options = { milestone_title: @milestone.title, label_name: label.title }

    %li.is-not-draggable
      %span.label-row
        %span.label-name
          = link_to milestones_label_path(options) do
            - render_colored_label(label, tooltip: false)
        %span.prepend-description-left
          = markdown_field(label, :description)

      .float-right.hidden-xs.hidden-sm.hidden-md
        = link_to milestones_label_path(options.merge(state: 'opened')), class: 'btn btn-transparent btn-action' do
          - pluralize milestone_issues_by_label_count(@milestone, label, state: :opened), 'open issue'
        = link_to milestones_label_path(options.merge(state: 'closed')), class: 'btn btn-transparent btn-action' do
          - pluralize milestone_issues_by_label_count(@milestone, label, state: :closed), 'closed issue'
