- args = { show_project_name: local_assigns.fetch(:show_project_name, false),
           show_full_project_name: local_assigns.fetch(:show_full_project_name, false) }

.row.prepend-top-default
  .col-md-3
    = render 'shared/milestones/records', args.merge({ title: 'Work in progress (open and unassigned)', records: unassigned, id: 'unassigned' })
  .col-md-3
    = render 'shared/milestones/records', args.merge({ title: 'Waiting for merge (open and assigned)', records: assigned, id: 'ongoing' })
  .col-md-3
    = render 'shared/milestones/records', args.merge({ title: 'Rejected (closed)', records: closed, id: 'closed' })
  .col-md-3
    = render 'shared/milestones/records', args.merge({ title: 'Merged', records: merged, id: 'merged', primary: true })
