- milestone = local_assigns[:milestone]

- if milestone.complete? && milestone.active?
  = render Pajamas::AlertComponent.new(variant: :success,
    alert_options: { data: { testid: 'all-issues-closed-alert' }},
    dismissible: false) do |c|
    - c.with_body do
      = yield
