%ul.bordered-list
  - users.each do |user|
    %li
      = link_to user, title: user.name, class: "gl-flex" do
        = render Pajamas::AvatarComponent.new(user, size: 32, class: "gl-mr-3")
        .gl-flex.gl-flex-col
          %strong= truncate(user.name, length: 40)
          %small.gl-text-default= user.username
