- project = local_assigns[:project]

.context.prepend-top-default
  .milestone-summary
    %h4 Progress

    .milestone-stats-and-buttons
      .milestone-stats
        %span.milestone-stat
          %strong== #{milestone.percent_complete(current_user)}%
          complete

    = milestone_progress_bar(milestone)
