---
info:
  title: GitLab API
  version: v4
swagger: '2.0'
produces:
- application/json
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
host: gitlab.com
tags:
- name: wikis
  description: Operations about wikis
- name: group_access_tokens
  description: Operations about group_access_tokens
- name: groups
  description: Operations about groups
- name: members
  description: Operations about members
- name: invitations
  description: Operations about invitations
- name: group_avatar
  description: Operations about group_avatars
- name: runners
  description: Operations about runners
- name: badges
  description: Operations about badges
- name: tags
  description: Operations about tags
- name: project_access_tokens
  description: Operations about project_access_tokens
- name: remote_mirrors
  description: Operations about remote_mirrors
- name: protected_tags
  description: Operations about protected_tags
- name: project_snippets
  description: Operations about project_snippets
- name: projects_job_token_scope
  description: Operations about projects_job_token_scopes
- name: project_avatar
  description: Operations about project_avatars
- name: pages
  description: Operations about pages
- name: user_starred_dashboards
  description: Operations about user_starred_dashboards
- name: commits
  description: Operations about commits
- name: secure_files
  description: Operations about secure_files
- name: branches
  description: Operations about branches
- name: alert_management
  description: Operations about alert_managements
- name: batched_background_migrations
  description: Operations about batched_background_migrations
- name: admin
  description: Operations about admins
- name: migrations
  description: Operations about migrations
- name: broadcast_messages
  description: Operations about broadcast_messages
- name: applications
  description: Operations about applications
- name: avatar
  description: Operations about avatars
- name: bulk_imports
  description: Operations about bulk_imports
- name: job
  description: Operations about jobs
- name: jobs
  description: Operations about jobs
- name: events
  description: Operations about events
- name: users
  description: Operations about users
- name: keys
  description: Operations about keys
- name: markdown
  description: Operations about markdowns
- name: namespaces
  description: Operations about namespaces
- name: personal_access_tokens
  description: Operations about personal_access_tokens
- name: project_repository_storage_moves
  description: Operations about project_repository_storage_moves
- name: snippets
  description: Operations about snippets
- name: snippet_repository_storage_moves
  description: Operations about snippet_repository_storage_moves
- name: hooks
  description: Operations about hooks
- name: usage_data
  description: Operations about usage_data
- name: metrics
  description: Operations about metrics
- name: user
  description: Operations about users
- name: user_counts
  description: Operations about user_counts
- name: application
  description: Operations about applications
- name: import
  description: Operations about imports
- name: slack
  description: Operations about slacks
- name: topics
  description: Operations about topics
- name: access_requests
  description: Operations related to access requests
- name: ci_lint
  description: Operations related to linting a CI config file
- name: ci_resource_groups
  description: Operations to manage job concurrency with resource groups
- name: ci_variables
  description: Operations related to CI/CD variables
- name: cluster_agents
  description: Operations related to the GitLab agent for Kubernetes
- name: clusters
  description: Operations related to clusters
- name: composer_packages
  description: Operations related to Composer packages
- name: conan_packages
  description: Operations related to Conan packages
- name: container_registry
  description: Operations related to container registry
- name: container_registry_event
  description: Operations related to container registry events
- name: dashboard_annotations
  description: Operations related to dashboard annotations
- name: debian_distribution
  description: Operations related to Debian Linux distributions
- name: debian_packages
  description: Operations related to Debian Linux packages
- name: dependency_proxy
  description: Operations to manage dependency proxy for a groups
- name: deploy_keys
  description: Operations related to deploy keys
- name: deploy_tokens
  description: Operations related to deploy tokens
- name: deployments
  description: Operations related to deployments
- name: dora_metrics
  description: Operations related to DevOps Research and Assessment (DORA) key metrics
- name: environments
  description: Operations related to environments
- name: error_tracking_client_keys
  description: Operations related to error tracking client keys
- name: error_tracking_project_settings
  description: Operations related to error tracking project settings
- name: feature_flags_user_lists
  description: Operations related to accessing GitLab feature flag user lists
- name: feature_flags
  description: Operations related to feature flags
- name: features
  description: Operations related to managing Flipper-based feature flags
- name: freeze_periods
  description: Operations related to deploy freeze periods
- name: generic_packages
  description: Operations related to Generic packages
- name: geo
  description: Operations related to Geo
- name: geo_nodes
  description: Operations related Geo Nodes
- name: go_proxy
  description: Operations related to Go Proxy
- name: group_export
  description: Operations related to exporting groups
- name: group_import
  description: Operations related to importing groups
- name: group_packages
  description: Operations related to group packages
- name: helm_packages
  description: Operations related to Helm packages
- name: integrations
  description: Operations related to integrations
- name: issue_links
  description: Operations related to issue links
- name: jira_connect_subscriptions
  description: Operations related to JiraConnect subscriptions
- name: maven_packages
  description: Operations related to Maven packages
- name: merge_requests
  description: Operations related to merge requests
- name: metadata
  description: Operations related to metadata of the GitLab instance
- name: metrics_user_starred_dashboards
  description: Operations related to User-starred metrics dashboards
- name: ml_model_registry
  description: Operations related to Model registry
- name: npm_packages
  description: Operations related to NPM packages
- name: nuget_packages
  description: Operations related to Nuget packages
- name: package_files
  description: Operations about package files
- name: plan_limits
  description: Operations related to plan limits
- name: project_export
  description: Operations related to exporting projects
- name: project_hooks
  description: Operations related to project hooks
- name: project_import
  description: Operations related to importing projects
- name: project_import_bitbucket
  description: Operations related to importing BitBucket projects
- name: project_import_github
  description: Operations related to importing GitHub projects
- name: project_packages
  description: Operations related to project packages
- name: projects
  description: Operations related to projects
- name: protected environments
  description: Operations related to protected environments
- name: pypi_packages
  description: Operations related to PyPI packages
- name: release_links
  description: Operations related to release assets (links)
- name: releases
  description: Operations related to releases
- name: resource_milestone_events
  description: Operations about resource milestone events
- name: rpm_packages
  description: Operations related to RPM packages
- name: rubygem_packages
  description: Operations related to RubyGems
- name: suggestions
  description: Operations related to suggestions
- name: system_hooks
  description: Operations related to system hooks
- name: terraform_state
  description: Operations related to Terraform state files
- name: terraform_registry
  description: Operations related to the Terraform module registry
- name: unleash_api
  description: Operations related to Unleash API
paths:
  "/api/v4/groups/{id}/wikis/attachments":
    post:
      summary: Upload an attachment to the wiki repository
      description: This feature was introduced in GitLab 11.3.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: formData
        name: file
        description: The attachment file to be uploaded
        type: file
        required: true
      - in: formData
        name: branch
        description: The name of the branch
        type: string
        required: false
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Upload an attachment to the wiki repository
          schema:
            "$ref": "#/definitions/API_Entities_WikiAttachment"
        '404':
          description: Not found
      tags:
      - wikis
      operationId: postApiV4GroupsIdWikisAttachments
  "/api/v4/groups/{id}/wikis/{slug}":
    delete:
      description: Delete a wiki page
      produces:
      - application/json
      parameters:
      - in: path
        name: slug
        description: The slug of a wiki page
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a wiki page
        '400':
          description: Validation error
        '404':
          description: Not found
      tags:
      - wikis
      operationId: deleteApiV4GroupsIdWikisSlug
    put:
      description: Update a wiki page
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: formData
        name: title
        description: Title of a wiki page
        type: string
        required: false
      - in: formData
        name: front_matter[title]
        description: Front matter title of a wiki page
        type: string
        required: false
      - in: formData
        name: content
        description: Content of a wiki page
        type: string
        required: false
      - in: formData
        name: format
        description: Format of a wiki page. Available formats are markdown, rdoc,
          asciidoc and org
        type: string
        default: markdown
        enum:
        - markdown
        - rdoc
        - asciidoc
        - org
        required: false
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - in: path
        name: slug
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Update a wiki page
          schema:
            "$ref": "#/definitions/API_Entities_WikiPage"
        '400':
          description: Validation error
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - wikis
      operationId: putApiV4GroupsIdWikisSlug
    get:
      description: Get a wiki page
      produces:
      - application/json
      parameters:
      - in: path
        name: slug
        description: The slug of a wiki page
        type: string
        required: true
      - in: query
        name: version
        description: The version hash of a wiki page
        type: string
        required: false
      - in: query
        name: render_html
        description: Render content to HTML
        type: boolean
        default: false
        required: false
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a wiki page
          schema:
            "$ref": "#/definitions/API_Entities_WikiPage"
        '404':
          description: Not found
      tags:
      - wikis
      operationId: getApiV4GroupsIdWikisSlug
  "/api/v4/groups/{id}/wikis":
    post:
      description: Create a wiki page
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: formData
        name: title
        description: Title of a wiki page
        type: string
        required: true
      - in: formData
        name: front_matter[title]
        description: Front matter title of a wiki page
        type: string
        required: false
      - in: formData
        name: content
        description: Content of a wiki page
        type: string
        required: true
      - in: formData
        name: format
        description: Format of a wiki page. Available formats are markdown, rdoc,
          asciidoc and org
        type: string
        default: markdown
        enum:
        - markdown
        - rdoc
        - asciidoc
        - org
        required: false
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Create a wiki page
          schema:
            "$ref": "#/definitions/API_Entities_WikiPage"
        '400':
          description: Validation error
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - wikis
      operationId: postApiV4GroupsIdWikis
    get:
      description: Get a list of wiki pages
      produces:
      - application/json
      parameters:
      - in: query
        name: with_content
        description: Include pages' content
        type: boolean
        default: false
        required: false
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of wiki pages
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_WikiPageBasic"
        '404':
          description: Not found
      tags:
      - wikis
      operationId: getApiV4GroupsIdWikis
  "/api/v4/groups/{id}/access_tokens/{token_id}/rotate":
    post:
      summary: Rotate a resource access token
      description: This feature was introduced in GitLab 16.0.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: token_id
        description: The ID of the token
        type: string
        required: true
      - in: formData
        name: expires_at
        description: The expiration date of the token
        type: string
        format: date
        required: false
        example: '2021-01-31'
      responses:
        '201':
          description: Rotate a resource access token
          schema:
            "$ref": "#/definitions/API_Entities_ResourceAccessTokenWithToken"
      tags:
      - group_access_tokens
      operationId: postApiV4GroupsIdAccessTokensTokenIdRotate
  "/api/v4/groups/{id}/access_tokens":
    post:
      summary: Create a resource access token
      description: This feature was introduced in GitLab 13.9.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
        example: 2
      - in: formData
        name: name
        description: Resource access token name
        type: string
        required: true
        example: test
      - in: formData
        name: scopes
        description: The permissions of the token
        type: array
        items:
          type: string
          enum:
          - api
          - read_api
          - create_runner
          - k8s_proxy
          - read_repository
          - write_repository
          - read_observability
          - write_observability
          - ai_features
        required: true
        example:
        - api
        - read_repository
      - in: formData
        name: expires_at
        description: The expiration date of the token
        type: string
        format: date
        default: '2025-03-13T16:12:31.421Z'
        required: true
        example: "\"2021-01-31"
      - in: formData
        name: access_level
        description: The access level of the token in the group
        type: integer
        format: int32
        default: 40
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
        example: 40
      responses:
        '201':
          description: Create a resource access token
          schema:
            "$ref": "#/definitions/API_Entities_ResourceAccessTokenWithToken"
      tags:
      - group_access_tokens
      operationId: postApiV4GroupsIdAccessTokens
    get:
      summary: Get list of all access tokens for the specified resource
      description: This feature was introduced in GitLab 13.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: ID or URL-encoded path of the group
        type: string
        required: true
      responses:
        '200':
          description: Get list of all access tokens for the specified resource
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_ResourceAccessToken"
      tags:
      - group_access_tokens
      operationId: getApiV4GroupsIdAccessTokens
  "/api/v4/groups/{id}/access_tokens/{token_id}":
    delete:
      summary: Revoke a resource access token
      description: This feature was introduced in GitLab 13.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: token_id
        description: The ID of the token
        type: string
        required: true
      responses:
        '204':
          description: Revoke a resource access token
        '400':
          description: Bad Request
        '404':
          description: Not found
      tags:
      - group_access_tokens
      operationId: deleteApiV4GroupsIdAccessTokensTokenId
    get:
      summary: Get an access token for the specified resource by ID
      description: This feature was introduced in GitLab 14.10.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: ID or URL-encoded path of the group
        type: string
        required: true
      - in: path
        name: token_id
        description: The ID of the token
        type: string
        required: true
      responses:
        '200':
          description: Get an access token for the specified resource by ID
          schema:
            "$ref": "#/definitions/API_Entities_ResourceAccessToken"
      tags:
      - group_access_tokens
      operationId: getApiV4GroupsIdAccessTokensTokenId
  "/api/v4/groups/{id}/releases":
    get:
      summary: List group releases
      description: Returns a list of group releases.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      - in: query
        name: sort
        description: The direction of the order. Either `desc` (default) for descending
          order or `asc` for ascending order
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: simple
        description: Return only limited fields for each release
        type: boolean
        default: false
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: List group releases
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Release"
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - releases
      operationId: getApiV4GroupsIdReleases
  "/api/v4/groups/{id}/merge_requests":
    get:
      summary: List group merge requests
      description: Get all merge requests for this group and its subgroups.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - in: query
        name: author_id
        description: Returns merge requests created by the given user `id`. Mutually
          exclusive with `author_username`. Combine with `scope=all` or `scope=assigned_to_me`.
        type: integer
        format: int32
        required: false
      - in: query
        name: author_username
        description: Returns merge requests created by the given `username`. Mutually
          exclusive with `author_id`.
        type: string
        required: false
      - in: query
        name: assignee_id
        description: Returns merge requests assigned to the given user `id`. `None`
          returns unassigned merge requests. `Any` returns merge requests with an
          assignee.
        type: integer
        format: int32
        required: false
      - in: formData
        name: assignee_username
        description: Returns merge requests created by the given `username`. Mutually
          exclusive with `author_id`.
        type: array
        items:
          type: string
        required: false
      - in: query
        name: reviewer_username
        description: Returns merge requests which have the user as a reviewer with
          the given `username`. `None` returns merge requests with no reviewers. `Any`
          returns merge requests with any reviewer. Mutually exclusive with `reviewer_id`.
          Introduced in GitLab 13.8.
        type: string
        required: false
      - in: formData
        name: labels
        description: Returns merge requests matching a comma-separated list of labels.
          `None` lists all merge requests with no labels. `Any` lists all merge requests
          with at least one label. Predefined names are case-insensitive.
        type: array
        items:
          type: string
        required: false
      - in: query
        name: milestone
        description: Returns merge requests for a specific milestone. `None` returns
          merge requests with no milestone. `Any` returns merge requests that have
          an assigned milestone.
        type: string
        required: false
      - in: query
        name: my_reaction_emoji
        description: Returns merge requests reacted by the authenticated user by the
          given `emoji`. `None` returns issues not given a reaction. `Any` returns
          issues given at least one reaction.
        type: string
        required: false
      - in: query
        name: reviewer_id
        description: Returns merge requests which have the user as a reviewer with
          the given user `id`. `None` returns merge requests with no reviewers. `Any`
          returns merge requests with any reviewer. Mutually exclusive with `reviewer_username`.
        type: integer
        format: int32
        required: false
      - in: query
        name: state
        description: Returns `all` merge requests or just those that are `opened`,
          `closed`, `locked`, or `merged`.
        type: string
        default: all
        enum:
        - opened
        - closed
        - locked
        - merged
        - all
        required: false
      - in: query
        name: order_by
        description: Returns merge requests ordered by `created_at`, `label_priority`,
          `milestone_due`, `popularity`, `priority`, `title` or `updated_at` fields.
          Introduced in GitLab 14.8.
        type: string
        default: created_at
        enum:
        - created_at
        - label_priority
        - milestone_due
        - popularity
        - priority
        - title
        - updated_at
        required: false
      - in: query
        name: sort
        description: Returns merge requests sorted in `asc` or `desc` order.
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: with_labels_details
        description: 'If `true`, response returns more details for each label in labels
          field: `:name`,`:color`, `:description`, `:description_html`, `:text_color`'
        type: boolean
        default: false
        required: false
      - in: query
        name: with_merge_status_recheck
        description: If `true`, this projection requests (but does not guarantee)
          that the `merge_status` field be recalculated asynchronously. Introduced
          in GitLab 13.0.
        type: boolean
        default: false
        required: false
      - in: query
        name: created_after
        description: Returns merge requests created on or after the given time. Expected
          in ISO 8601 format.
        type: string
        format: date-time
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: created_before
        description: Returns merge requests created on or before the given time. Expected
          in ISO 8601 format.
        type: string
        format: date-time
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: updated_after
        description: Returns merge requests updated on or after the given time. Expected
          in ISO 8601 format.
        type: string
        format: date-time
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: updated_before
        description: Returns merge requests updated on or before the given time. Expected
          in ISO 8601 format.
        type: string
        format: date-time
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: view
        description: If simple, returns the `iid`, URL, title, description, and basic
          state of merge request
        type: string
        enum:
        - simple
        required: false
      - in: query
        name: scope
        description: 'Returns merge requests for the given scope: `created_by_me`,
          `assigned_to_me` or `all`'
        type: string
        enum:
        - created-by-me
        - assigned-to-me
        - created_by_me
        - assigned_to_me
        - all
        required: false
      - in: query
        name: source_branch
        description: Returns merge requests with the given source branch
        type: string
        required: false
      - in: query
        name: source_project_id
        description: Returns merge requests with the given source project id
        type: integer
        format: int32
        required: false
      - in: query
        name: target_branch
        description: Returns merge requests with the given target branch
        type: string
        required: false
      - in: query
        name: search
        description: Search merge requests against their `title` and `description`.
        type: string
        required: false
      - in: query
        name: in
        description: Modify the scope of the search attribute. `title`, `description`,
          or a string joining them with comma.
        type: string
        required: false
        example: title,description
      - in: query
        name: wip
        description: Filter merge requests against their `wip` status. `yes` to return
          only draft merge requests, `no` to return non-draft merge requests.
        type: string
        enum:
        - 'yes'
        - 'no'
        required: false
      - in: query
        name: not[author_id]
        description: "`<Negated>` Returns merge requests created by the given user
          `id`. Mutually exclusive with `author_username`. Combine with `scope=all`
          or `scope=assigned_to_me`."
        type: integer
        format: int32
        required: false
      - in: query
        name: not[author_username]
        description: "`<Negated>` Returns merge requests created by the given `username`.
          Mutually exclusive with `author_id`."
        type: string
        required: false
      - in: query
        name: not[assignee_id]
        description: "`<Negated>` Returns merge requests assigned to the given user
          `id`. `None` returns unassigned merge requests. `Any` returns merge requests
          with an assignee."
        type: integer
        format: int32
        required: false
      - in: formData
        name: not[assignee_username]
        description: "`<Negated>` Returns merge requests created by the given `username`.
          Mutually exclusive with `author_id`."
        type: array
        items:
          type: string
        required: false
      - in: query
        name: not[reviewer_username]
        description: "`<Negated>` Returns merge requests which have the user as a
          reviewer with the given `username`. `None` returns merge requests with no
          reviewers. `Any` returns merge requests with any reviewer. Mutually exclusive
          with `reviewer_id`. Introduced in GitLab 13.8."
        type: string
        required: false
      - in: formData
        name: not[labels]
        description: "`<Negated>` Returns merge requests matching a comma-separated
          list of labels. `None` lists all merge requests with no labels. `Any` lists
          all merge requests with at least one label. Predefined names are case-insensitive."
        type: array
        items:
          type: string
        required: false
      - in: query
        name: not[milestone]
        description: "`<Negated>` Returns merge requests for a specific milestone.
          `None` returns merge requests with no milestone. `Any` returns merge requests
          that have an assigned milestone."
        type: string
        required: false
      - in: query
        name: not[my_reaction_emoji]
        description: "`<Negated>` Returns merge requests reacted by the authenticated
          user by the given `emoji`. `None` returns issues not given a reaction. `Any`
          returns issues given at least one reaction."
        type: string
        required: false
      - in: query
        name: not[reviewer_id]
        description: "`<Negated>` Returns merge requests which have the user as a
          reviewer with the given user `id`. `None` returns merge requests with no
          reviewers. `Any` returns merge requests with any reviewer. Mutually exclusive
          with `reviewer_username`."
        type: integer
        format: int32
        required: false
      - in: query
        name: deployed_before
        description: Returns merge requests deployed before the given date/time. Expected
          in ISO 8601 format.
        type: string
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: deployed_after
        description: Returns merge requests deployed after the given date/time. Expected
          in ISO 8601 format
        type: string
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: environment
        description: Returns merge requests deployed to the given environment
        type: string
        required: false
        example: '2019-03-15T08:00:00Z'
      - in: query
        name: approved
        description: Filters merge requests by their `approved` status. `yes` returns
          only approved merge requests. `no` returns only non-approved merge requests.
        type: string
        enum:
        - 'yes'
        - 'no'
        required: false
      - in: query
        name: merge_user_id
        description: Returns merge requests which have been merged by the user with
          the given user `id`. Mutually exclusive with `merge_user_username`.
        type: integer
        format: int32
        required: false
      - in: query
        name: merge_user_username
        description: Returns merge requests which have been merged by the user with
          the given `username`. Mutually exclusive with `merge_user_id`.
        type: string
        required: false
      - in: query
        name: approver_ids
        description: Return merge requests which have specified the users with the
          given IDs as an individual approver
        type: string
        required: false
      - in: query
        name: approved_by_ids
        description: Return merge requests which have been approved by the specified
          users with the given IDs
        type: string
        required: false
      - in: query
        name: approved_by_usernames
        description: |-
          Return merge requests which have been approved by the specified users with the given
                      usernames
        type: string
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: non_archived
        description: Returns merge requests from non archived projects only.
        type: boolean
        default: true
        required: false
      responses:
        '200':
          description: List group merge requests
          schema:
            "$ref": "#/definitions/API_Entities_MergeRequestBasic"
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - merge_requests
      operationId: getApiV4GroupsIdMergeRequests
  "/api/v4/groups/{id}/billable_members/{user_id}":
    delete:
      description: Removes a billable member from a group or project.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Removes a billable member from a group or project.
      tags:
      - groups
      operationId: deleteApiV4GroupsIdBillableMembersUserId
  "/api/v4/groups/{id}/billable_members/{user_id}/memberships":
    get:
      description: Get the memberships of a billable user of a root group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get the memberships of a billable user of a root group.
          schema:
            "$ref": "#/definitions/EE_API_Entities_BillableMembership"
      tags:
      - groups
      operationId: getApiV4GroupsIdBillableMembersUserIdMemberships
  "/api/v4/groups/{id}/members/{user_id}/state":
    put:
      description: Changes the state of the memberships of a user in the group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the user
        type: integer
        format: int32
        required: true
      - in: formData
        name: state
        description: The new state for the memberships of the user
        type: string
        enum:
        - awaiting
        - active
        required: true
      responses:
        '200':
          description: Changes the state of the memberships of a user in the group
      tags:
      - groups
      operationId: putApiV4GroupsIdMembersUserIdState
  "/api/v4/groups/{id}/billable_members":
    get:
      description: Gets a list of billable users of root group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: search
        description: The exact name of the subscribed member
        type: string
        required: false
      - in: query
        name: sort
        description: The sorting option
        type: string
        enum:
        - access_level_asc
        - access_level_desc
        - last_joined
        - name_asc
        - name_desc
        - oldest_joined
        - oldest_sign_in
        - recent_sign_in
        - last_activity_on_asc
        - last_activity_on_desc
        required: false
      responses:
        '200':
          description: Gets a list of billable users of root group.
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - groups
      operationId: getApiV4GroupsIdBillableMembers
  "/api/v4/groups/{id}/pending_members":
    get:
      description: Lists all pending members for a group including invited users
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Lists all pending members for a group including invited users
      tags:
      - groups
      operationId: getApiV4GroupsIdPendingMembers
  "/api/v4/groups/{id}/members/approve_all":
    post:
      description: Approves all pending members
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '201':
          description: Approves all pending members
      tags:
      - groups
      operationId: postApiV4GroupsIdMembersApproveAll
  "/api/v4/groups/{id}/members/{member_id}/approve":
    put:
      description: Approves a pending member
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: member_id
        description: The ID of the member requiring approval
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Approves a pending member
      tags:
      - groups
      operationId: putApiV4GroupsIdMembersMemberIdApprove
  "/api/v4/groups/{id}/members/{user_id}/override":
    delete:
      description: Remove an LDAP group member access level override.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Remove an LDAP group member access level override.
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - groups
      operationId: deleteApiV4GroupsIdMembersUserIdOverride
    post:
      description: Overrides the access level of an LDAP group member.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Overrides the access level of an LDAP group member.
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - groups
      operationId: postApiV4GroupsIdMembersUserIdOverride
  "/api/v4/groups/{id}/members/{user_id}":
    delete:
      description: Removes a user from a group or project.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      - in: query
        name: skip_subresources
        description: Flag indicating if the deletion of direct memberships of the
          removed member in subgroups and projects should be skipped
        type: boolean
        default: false
        required: false
      - in: query
        name: unassign_issuables
        description: Flag indicating if the removed member should be unassigned from
          any issues or merge requests within given group or project
        type: boolean
        default: false
        required: false
      responses:
        '204':
          description: Removes a user from a group or project.
      tags:
      - members
      operationId: deleteApiV4GroupsIdMembersUserId
    put:
      description: Updates a member of a group or project.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the new member
        type: integer
        format: int32
        required: true
      - in: formData
        name: access_level
        description: A valid access level
        type: integer
        format: int32
        required: true
      - in: formData
        name: expires_at
        description: Date string in the format YEAR-MONTH-DAY
        type: string
        format: date-time
        required: false
      - in: formData
        name: member_role_id
        description: The ID of the Member Role to be updated
        type: integer
        format: int32
        required: false
      responses:
        '200':
          description: Updates a member of a group or project.
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - members
      operationId: putApiV4GroupsIdMembersUserId
    get:
      description: Gets a member of a group or project.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Gets a member of a group or project.
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - members
      operationId: getApiV4GroupsIdMembersUserId
  "/api/v4/groups/{id}/members":
    post:
      description: Adds a member to a group or project.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: formData
        name: access_level
        description: 'A valid access level (defaults: `30`, developer access level)'
        type: integer
        format: int32
        required: true
      - in: formData
        name: user_id
        description: The user ID of the new member or multiple IDs separated by commas.
        type: integer
        format: int32
        required: true
      - in: formData
        name: expires_at
        description: Date string in the format YEAR-MONTH-DAY
        type: string
        format: date-time
        required: false
      - in: formData
        name: invite_source
        description: Source that triggered the member creation process
        type: string
        default: members-api
        required: false
      responses:
        '201':
          description: Adds a member to a group or project.
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - members
      operationId: postApiV4GroupsIdMembers
    get:
      description: Gets a list of group or project members viewable by the authenticated
        user.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: query
        name: query
        description: A query string to search for members
        type: string
        required: false
      - in: formData
        name: user_ids
        description: Array of user ids to look up for membership
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: formData
        name: skip_users
        description: Array of user ids to be skipped for membership
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: show_seat_info
        description: Show seat information for members
        type: boolean
        required: false
      - in: query
        name: with_saml_identity
        description: List only members with linked SAML identity
        type: boolean
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Gets a list of group or project members viewable by the authenticated
            user.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Member"
      tags:
      - members
      operationId: getApiV4GroupsIdMembers
  "/api/v4/groups/{id}/members/all/{user_id}":
    get:
      description: Gets a member of a group or project, including those who gained
        membership through ancestor group
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the member
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Gets a member of a group or project, including those who gained
            membership through ancestor group
          schema:
            "$ref": "#/definitions/API_Entities_Member"
      tags:
      - members
      operationId: getApiV4GroupsIdMembersAllUserId
  "/api/v4/groups/{id}/members/all":
    get:
      description: Gets a list of group or project members viewable by the authenticated
        user, including those who gained membership through ancestor group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: query
        name: query
        description: A query string to search for members
        type: string
        required: false
      - in: formData
        name: user_ids
        description: Array of user ids to look up for membership
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: show_seat_info
        description: Show seat information for members
        type: boolean
        required: false
      - in: query
        name: state
        description: Filter results by member state
        type: string
        enum:
        - awaiting
        - active
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Gets a list of group or project members viewable by the authenticated
            user, including those who gained membership through ancestor group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Member"
      tags:
      - members
      operationId: getApiV4GroupsIdMembersAll
  "/api/v4/groups/{id}/-/packages/maven/*path/{file_name}":
    get:
      summary: Download the maven package file at a group level
      description: This feature was introduced in GitLab 11.7
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - in: query
        name: path
        description: Package path
        type: string
        required: true
        example: foo/bar/mypkg/1.0-SNAPSHOT
      - in: path
        name: file_name
        description: Package file name
        type: string
        required: true
        example: mypkg-1.0-SNAPSHOT.jar
      responses:
        '200':
          description: Download the maven package file at a group level
        '302':
          description: Download the maven package file at a group level
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - maven_packages
      operationId: getApiV4GroupsIdPackagesMaven*pathFileName
  "/api/v4/groups/{id}/invitations/{email}":
    delete:
      description: Removes an invitation from a group or project.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: email
        description: The email address of the invitation
        type: string
        required: true
      responses:
        '204':
          description: Removes an invitation from a group or project.
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Could not delete invitation
      tags:
      - invitations
      operationId: deleteApiV4GroupsIdInvitationsEmail
    put:
      description: Updates a group or project invitation.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: path
        name: email
        description: The email address of the invitation
        type: string
        required: true
      - in: formData
        name: access_level
        description: 'A valid access level (defaults: `30`, developer access level)'
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: formData
        name: expires_at
        description: Date string in ISO 8601 format (`YYYY-MM-DDTHH:MM:SSZ`)
        type: string
        format: date-time
        required: false
      responses:
        '200':
          description: Updates a group or project invitation.
          schema:
            "$ref": "#/definitions/API_Entities_Invitation"
      tags:
      - invitations
      operationId: putApiV4GroupsIdInvitationsEmail
  "/api/v4/groups/{id}/invitations":
    get:
      summary: Get a list of group or project invitations viewable by the authenticated
        user
      description: This feature was introduced in GitLab 13.6
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: query
        description: A query string to search for members
        type: string
        required: false
      responses:
        '200':
          description: Get a list of group or project invitations viewable by the
            authenticated user
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Invitation"
      tags:
      - invitations
      operationId: getApiV4GroupsIdInvitations
    post:
      summary: Invite non-members by email address to a group or project.
      description: This feature was introduced in GitLab 13.6
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID
        type: string
        required: true
      - in: formData
        name: access_level
        description: 'A valid access level (defaults: `30`, developer access level)'
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        - 5
        required: true
      - in: formData
        name: email
        description: The email address to invite, or multiple emails separated by
          comma
        type: array
        items:
          type: string
        required: false
      - in: formData
        name: user_id
        description: The user ID of the new member or multiple IDs separated by commas.
        type: array
        items:
          type: string
        required: false
      - in: formData
        name: expires_at
        description: Date string in the format YEAR-MONTH-DAY
        type: string
        format: date-time
        required: false
      - in: formData
        name: invite_source
        description: Source that triggered the member creation process
        type: string
        default: invitations-api
        required: false
      responses:
        '201':
          description: Invite non-members by email address to a group or project.
          schema:
            "$ref": "#/definitions/API_Entities_Invitation"
      tags:
      - invitations
      operationId: postApiV4GroupsIdInvitations
  "/api/v4/groups/{id}/variables/{key}":
    delete:
      description: Delete an existing variable from a group
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: |-
          The ID of a group or URL-encoded path of the group owned by the authenticated
                user
        type: string
        required: true
      - in: path
        name: key
        description: The key of a variable
        type: string
        required: true
      responses:
        '404':
          description: Group Variable Not Found
        '204':
          description: Delete an existing variable from a group
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Variable"
      tags:
      - ci_variables
      operationId: deleteApiV4GroupsIdVariablesKey
    put:
      description: Update an existing variable from a group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: |-
          The ID of a group or URL-encoded path of the group owned by the authenticated
                user
        type: string
        required: true
      - in: path
        name: key
        description: The key of a variable
        type: string
        required: true
      - in: formData
        name: value
        description: The value of a variable
        type: string
        required: false
      - in: formData
        name: protected
        description: Whether the variable is protected
        type: string
        required: false
      - in: formData
        name: masked
        description: Whether the variable is masked
        type: string
        required: false
      - in: formData
        name: raw
        description: Whether the variable will be expanded
        type: string
        required: false
      - in: formData
        name: variable_type
        description: 'The type of the variable. Default: env_var'
        type: string
        enum:
        - env_var
        - file
        required: false
      - in: formData
        name: environment_scope
        description: The environment scope of the variable
        type: string
        required: false
      - in: formData
        name: description
        description: The description of the variable
        type: string
        required: false
      responses:
        '200':
          description: Update an existing variable from a group
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Variable"
        '400':
          description: 400 Bad Request
        '404':
          description: Group Variable Not Found
      tags:
      - ci_variables
      operationId: putApiV4GroupsIdVariablesKey
    get:
      description: Get the details of a group’s specific variable
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: |-
          The ID of a group or URL-encoded path of the group owned by the authenticated
                user
        type: string
        required: true
      - in: path
        name: key
        description: The key of the variable
        type: string
        required: true
      responses:
        '200':
          description: Get the details of a group’s specific variable
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Variable"
        '404':
          description: Group Variable Not Found
      tags:
      - ci_variables
      operationId: getApiV4GroupsIdVariablesKey
  "/api/v4/groups/{id}/variables":
    post:
      description: Create a new variable in a group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: |-
          The ID of a group or URL-encoded path of the group owned by the authenticated
                user
        type: string
        required: true
      - in: formData
        name: key
        description: |-
          The ID of a group or URL-encoded path of the group owned by the
                  authenticated user
        type: string
        required: true
      - in: formData
        name: value
        description: The value of a variable
        type: string
        required: true
      - in: formData
        name: protected
        description: Whether the variable is protected
        type: string
        required: false
      - in: formData
        name: masked
        description: Whether the variable is masked
        type: string
        required: false
      - in: formData
        name: raw
        description: Whether the variable will be expanded
        type: string
        required: false
      - in: formData
        name: variable_type
        description: 'The type of the variable. Default: env_var'
        type: string
        enum:
        - env_var
        - file
        required: false
      - in: formData
        name: environment_scope
        description: The environment scope of the variable
        type: string
        required: false
      - in: formData
        name: description
        description: The description of the variable
        type: string
        required: false
      responses:
        '201':
          description: Create a new variable in a group
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Variable"
        '400':
          description: 400 Bad Request
      tags:
      - ci_variables
      operationId: postApiV4GroupsIdVariables
    get:
      description: Get a list of group-level variables
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: |-
          The ID of a group or URL-encoded path of the group owned by the authenticated
                user
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get a list of group-level variables
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Variable"
      tags:
      - ci_variables
      operationId: getApiV4GroupsIdVariables
  "/api/v4/groups/{id}/packages":
    get:
      summary: List packages within a group
      description: Get a list of project packages at the group level. This feature
        was introduced in GitLab 12.5
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: ID or URL-encoded path of the group
        type: string
        required: true
      - in: query
        name: exclude_subgroups
        description: Determines if subgroups should be excluded
        type: boolean
        default: false
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: order_by
        description: Return packages ordered by `created_at`, `name`, `version` or
          `type` fields.
        type: string
        default: created_at
        enum:
        - created_at
        - name
        - version
        - type
        - project_path
        required: false
      - in: query
        name: sort
        description: Return packages sorted in `asc` or `desc` order.
        type: string
        default: asc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: package_type
        description: Return packages of a certain type
        type: string
        enum:
        - maven
        - npm
        - conan
        - nuget
        - pypi
        - composer
        - generic
        - golang
        - debian
        - rubygems
        - helm
        - terraform_module
        - rpm
        - ml_model
        required: false
      - in: query
        name: package_name
        description: Return packages with this name
        type: string
        required: false
      - in: query
        name: package_version
        description: Return packages with this version
        type: string
        required: false
      - in: query
        name: include_versionless
        description: Returns packages without a version
        type: boolean
        required: false
      - in: query
        name: status
        description: Return packages with specified status
        type: string
        enum:
        - default
        - hidden
        - processing
        - error
        - pending_destruction
        required: false
      responses:
        '200':
          description: List packages within a group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Package"
        '401':
          description: Unauthorized
        '404':
          description: Group Not Found
      tags:
      - group_packages
      operationId: getApiV4GroupsIdPackages
  "/api/v4/groups/import":
    post:
      summary: Create a new group import
      description: This feature was introduced in GitLab 12.8
      produces:
      - application/json
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        name: path
        description: Group path
        type: string
        required: true
      - in: formData
        name: name
        description: Group name
        type: string
        required: true
      - in: formData
        name: file
        description: The group export file to be imported
        type: file
        required: true
      - in: formData
        name: parent_id
        description: The ID of the parent group that the group will be imported into.
          Defaults to the current user's namespace.
        type: integer
        format: int32
        required: false
      responses:
        '202':
          description: Create a new group import
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '503':
          description: Service unavailable
      tags:
      - group_import
      operationId: postApiV4GroupsImport
  "/api/v4/groups/import/authorize":
    post:
      summary: Workhorse authorize the group import upload
      description: This feature was introduced in GitLab 12.8
      produces:
      - application/json
      consumes:
      - application/json
      responses:
        '201':
          description: Workhorse authorize the group import upload
      tags:
      - group_import
      operationId: postApiV4GroupsImportAuthorize
  "/api/v4/groups/{id}/export_relations/status":
    get:
      summary: Relations export status
      description: This feature was introduced in GitLab 13.12
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: relation
        description: Group relation name
        type: string
        required: false
      responses:
        '200':
          description: Relations export status
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_BulkImports_ExportStatus"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: getApiV4GroupsIdExportRelationsStatus
  "/api/v4/groups/{id}/export_relations/download":
    get:
      summary: Download relations export
      description: This feature was introduced in GitLab 13.12
      produces:
      - application/octet-stream
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: relation
        description: Group relation name
        type: string
        required: true
      - in: query
        name: batched
        description: Whether to download in batches
        type: boolean
        required: false
      - in: query
        name: batch_number
        description: Batch number to download
        type: integer
        format: int32
        required: false
      responses:
        '200':
          description: Download relations export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: getApiV4GroupsIdExportRelationsDownload
  "/api/v4/groups/{id}/export_relations":
    post:
      summary: Start relations export
      description: This feature was introduced in GitLab 13.12
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: formData
        name: batched
        description: Whether to export in batches
        type: boolean
        required: false
      responses:
        '202':
          description: Start relations export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: postApiV4GroupsIdExportRelations
  "/api/v4/groups/{id}/export":
    post:
      summary: Start export
      description: This feature was introduced in GitLab 12.5.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '202':
          description: Start export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: postApiV4GroupsIdExport
  "/api/v4/groups/{id}/export/download":
    get:
      summary: Download export
      description: This feature was introduced in GitLab 12.5.
      produces:
      - application/octet-stream
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '200':
          description: Download export
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: getApiV4GroupsIdExportDownload
  "/api/v4/groups/{id}/registry/repositories":
    get:
      summary: List registry repositories within a group
      description: Get a list of registry repositories in a group. This feature was
        introduced in GitLab 12.2.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group accessible by the authenticated
          user
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: List registry repositories within a group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_ContainerRegistry_Repository"
        '401':
          description: Unauthorized
        '404':
          description: Group Not Found
      tags:
      - container_registry
      operationId: getApiV4GroupsIdRegistryRepositories
  "/api/v4/groups/{id}/clusters/{cluster_id}":
    delete:
      summary: Delete group cluster
      description: This feature was introduced in GitLab 12.1. Deletes an existing
        group cluster. Does not remove existing resources within the connected Kubernetes
        cluster.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: path
        name: cluster_id
        description: The Cluster ID
        type: integer
        format: int32
        required: true
      responses:
        '403':
          description: Forbidden
        '204':
          description: Delete group cluster
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '404':
          description: Not found
      tags:
      - clusters
      operationId: deleteApiV4GroupsIdClustersClusterId
    put:
      summary: Edit group cluster
      description: This feature was introduced in GitLab 12.1. Updates an existing
        group cluster.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: path
        name: cluster_id
        description: The cluster ID
        type: integer
        format: int32
        required: true
      - in: formData
        name: name
        description: Cluster name
        type: string
        required: false
      - in: formData
        name: enabled
        description: Determines if cluster is active or not
        type: boolean
        required: false
      - in: formData
        name: domain
        description: Cluster base domain
        type: string
        required: false
      - in: formData
        name: environment_scope
        description: The associated environment to the cluster
        type: string
        required: false
      - in: formData
        name: namespace_per_environment
        description: Deploy each environment to a separate Kubernetes namespace
        type: boolean
        default: true
        required: false
      - in: formData
        name: management_project_id
        description: The ID of the management project
        type: integer
        format: int32
        required: false
      - in: formData
        name: managed
        description: Determines if GitLab will manage namespaces and service accounts
          for this cluster
        type: boolean
        required: false
      - in: formData
        name: platform_kubernetes_attributes[api_url]
        description: URL to access the Kubernetes API
        type: string
        required: false
      - in: formData
        name: platform_kubernetes_attributes[token]
        description: Token to authenticate against Kubernetes
        type: string
        required: false
      - in: formData
        name: platform_kubernetes_attributes[ca_cert]
        description: TLS certificate (needed if API is using a self-signed TLS certificate)
        type: string
        required: false
      - in: formData
        name: platform_kubernetes_attributes[namespace]
        description: Unique namespace related to Group
        type: string
        required: false
      responses:
        '200':
          description: Edit group cluster
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '400':
          description: Validation error
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - clusters
      operationId: putApiV4GroupsIdClustersClusterId
    get:
      summary: Get a single group cluster
      description: This feature was introduced in GitLab 12.1. Gets a single group
        cluster.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: path
        name: cluster_id
        description: The cluster ID
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a single group cluster
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - clusters
      operationId: getApiV4GroupsIdClustersClusterId
  "/api/v4/groups/{id}/clusters/user":
    post:
      summary: Add existing cluster to group
      description: This feature was introduced in GitLab 12.1. Adds an existing Kubernetes
        cluster to the group.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: formData
        name: name
        description: Cluster name
        type: string
        required: true
      - in: formData
        name: enabled
        description: Determines if cluster is active or not, defaults to true
        type: boolean
        default: true
        required: false
      - in: formData
        name: environment_scope
        description: The associated environment to the cluster
        type: string
        default: "*"
        required: false
      - in: formData
        name: namespace_per_environment
        description: Deploy each environment to a separate Kubernetes namespace
        type: boolean
        default: true
        required: false
      - in: formData
        name: domain
        description: Cluster base domain
        type: string
        required: false
      - in: formData
        name: management_project_id
        description: The ID of the management project
        type: integer
        format: int32
        required: false
      - in: formData
        name: managed
        description: Determines if GitLab will manage namespaces and service accounts
          for this cluster, defaults to true
        type: boolean
        default: true
        required: false
      - in: formData
        name: platform_kubernetes_attributes[api_url]
        description: URL to access the Kubernetes API
        type: string
        required: true
      - in: formData
        name: platform_kubernetes_attributes[token]
        description: Token to authenticate against Kubernetes
        type: string
        required: true
      - in: formData
        name: platform_kubernetes_attributes[ca_cert]
        description: TLS certificate (needed if API is using a self-signed TLS certificate)
        type: string
        required: false
      - in: formData
        name: platform_kubernetes_attributes[namespace]
        description: Unique namespace related to Group
        type: string
        required: false
      - in: formData
        name: platform_kubernetes_attributes[authorization_type]
        description: Cluster authorization type, defaults to RBAC
        type: string
        default: rbac
        enum:
        - unknown_authorization
        - rbac
        - abac
        required: false
      responses:
        '201':
          description: Add existing cluster to group
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '400':
          description: Validation error
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - clusters
      operationId: postApiV4GroupsIdClustersUser
  "/api/v4/groups/{id}/clusters":
    get:
      summary: List group clusters
      description: This feature was introduced in GitLab 12.1. Returns a list of group
        clusters.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: List group clusters
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Cluster"
        '403':
          description: Forbidden
      tags:
      - clusters
      operationId: getApiV4GroupsIdClusters
  "/api/v4/groups/{id}/avatar":
    get:
      summary: Download the group avatar
      description: This feature was introduced in GitLab 14.0
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      responses:
        '200':
          description: Download the group avatar
      tags:
      - group_avatar
      operationId: getApiV4GroupsIdAvatar
  "/api/v4/groups/{id}/deploy_tokens/{token_id}":
    delete:
      summary: Delete a group deploy token
      description: Removes a deploy token from the group. This feature was introduced
        in GitLab 12.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: path
        name: token_id
        description: The ID of the deploy token
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a group deploy token
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: deleteApiV4GroupsIdDeployTokensTokenId
    get:
      summary: Get a group deploy token
      description: 'Get a single group''s deploy token by ID. This feature was introduced
        in GitLab 14.9. '
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: path
        name: token_id
        description: The ID of the deploy token
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a group deploy token
          schema:
            "$ref": "#/definitions/API_Entities_DeployToken"
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: getApiV4GroupsIdDeployTokensTokenId
  "/api/v4/groups/{id}/deploy_tokens":
    post:
      summary: Create a group deploy token
      description: Creates a new deploy token for a group. This feature was introduced
        in GitLab 12.9.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: formData
        name: name
        description: New deploy token's name
        type: string
        required: true
      - in: formData
        name: scopes
        description: Indicates the deploy token scopes. Must be at least one of `read_repository`,
          `read_registry`, `write_registry`, `read_package_registry`, or `write_package_registry`
        type: array
        items:
          type: string
          enum:
          - read_repository
          - read_registry
          - write_registry
          - read_package_registry
          - write_package_registry
        required: true
      - in: formData
        name: expires_at
        description: Expiration date for the deploy token. Does not expire if no value
          is provided. Expected in ISO 8601 format (`2019-03-15T08:00:00Z`)
        type: string
        format: date-time
        required: false
      - in: formData
        name: username
        description: Username for deploy token. Default is `gitlab+deploy-token-{n}`
        type: string
        required: false
      responses:
        '201':
          description: Create a group deploy token
          schema:
            "$ref": "#/definitions/API_Entities_DeployTokenWithToken"
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: postApiV4GroupsIdDeployTokens
    get:
      summary: List group deploy tokens
      description: Get a list of a group's deploy tokens. This feature was introduced
        in GitLab 12.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: active
        description: Limit by active status
        type: boolean
        required: false
      responses:
        '200':
          description: List group deploy tokens
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_DeployToken"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: getApiV4GroupsIdDeployTokens
  "/api/v4/groups/{id}/dependency_proxy/cache":
    delete:
      summary: Purge the dependency proxy for a group
      description: Schedules for deletion the cached manifests and blobs for a group.This
        endpoint requires the Owner role for the group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      responses:
        '202':
          description: Purge the dependency proxy for a group
        '401':
          description: Unauthorized
      tags:
      - dependency_proxy
      operationId: deleteApiV4GroupsIdDependencyProxyCache
  "/api/v4/groups/{id}/runners/reset_registration_token":
    post:
      summary: Reset the runner registration token for a group
      description: Reset runner registration token
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '201':
          description: Reset runner registration token
          schema:
            "$ref": "#/definitions/API_Entities_Ci_ResetTokenResult"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Group Not Found
      tags:
      - runners
      - groups
      operationId: postApiV4GroupsIdRunnersResetRegistrationToken
  "/api/v4/groups/{id}/runners":
    get:
      summary: List group's runners
      description: List all runners available in the group as well as its ancestor
        groups, including any allowed shared runners.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: type
        description: The type of runners to return
        type: string
        enum:
        - instance_type
        - group_type
        - project_type
        required: false
      - in: query
        name: paused
        description: Whether to include only runners that are accepting or ignoring
          new jobs
        type: boolean
        required: false
      - in: query
        name: status
        description: The status of runners to return
        type: string
        enum:
        - active
        - paused
        - online
        - offline
        - never_contacted
        - stale
        required: false
      - in: formData
        name: tag_list
        description: A list of runner tags
        type: array
        items:
          type: string
        required: false
        example: "['macos', 'shell']"
      - in: query
        name: version_prefix
        description: The version prefix of runners to return
        type: string
        required: false
        example: "'15.1.' or '16.'"
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get runners available for group
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Runner"
        '400':
          description: Scope contains invalid value
        '403':
          description: Forbidden
      tags:
      - runners
      - groups
      operationId: getApiV4GroupsIdRunners
  "/api/v4/groups/{id}/ssh_certificates/{ssh_certificates_id}":
    delete:
      summary: Removes an ssh certificate from a group.
      description: Removes a Groups::SshCertificate
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - in: path
        name: ssh_certificates_id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Removes an ssh certificate from a group.
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable entity
      tags:
      - groups
      operationId: deleteApiV4GroupsIdSshCertificatesSshCertificatesId
  "/api/v4/groups/{id}/ssh_certificates":
    post:
      summary: Add a Groups::SshCertificate.
      description: Create a ssh certificate for a group.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: formData
        name: title
        description: The title of the ssh certificate
        type: string
        required: true
      - in: formData
        name: key
        description: The key of the ssh certificate
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Create a ssh certificate for a group.
          schema:
            "$ref": "#/definitions/EE_API_Entities_SshCertificate"
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - groups
      operationId: postApiV4GroupsIdSshCertificates
    get:
      summary: Get a list of Groups::SshCertificate for a Group.
      description: Get a list of ssh certificates created for a group.
      produces:
      - application/json
      parameters:
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of ssh certificates created for a group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/EE_API_Entities_SshCertificate"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 404 Not Found
      tags:
      - groups
      operationId: getApiV4GroupsIdSshCertificates
  "/api/v4/groups/{id}/users":
    get:
      description: Get a list of users for the group
      produces:
      - application/json
      parameters:
      - in: query
        name: search
        description: Search users by name, email or username
        type: string
        required: false
      - in: query
        name: active
        description: Filters only active users
        type: boolean
        default: false
        required: false
      - in: query
        name: include_saml_users
        description: Return users with a SAML identity in this group
        type: boolean
        required: false
      - in: query
        name: include_service_accounts
        description: Return service accounts owned by this group
        type: boolean
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of users for the group
          schema:
            "$ref": "#/definitions/API_Entities_UserPublic"
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: 404 Not Found
      tags:
      - groups
      operationId: getApiV4GroupsIdUsers
  "/api/v4/groups/{id}/provisioned_users":
    get:
      description: Get a list of users provisioned by the group
      produces:
      - application/json
      parameters:
      - in: query
        name: username
        description: Return a single user with a specific username
        type: string
        required: false
      - in: query
        name: search
        description: Search users by name, email or username
        type: string
        required: false
      - in: query
        name: active
        description: Return only active users
        type: boolean
        default: false
        required: false
      - in: query
        name: blocked
        description: Return only blocked users
        type: boolean
        default: false
        required: false
      - in: query
        name: created_after
        description: Return users created after the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: created_before
        description: Return users created before the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of users provisioned by the group
          schema:
            "$ref": "#/definitions/API_Entities_UserPublic"
      tags:
      - groups
      operationId: getApiV4GroupsIdProvisionedUsers
  "/api/v4/groups/{id}/restore":
    post:
      description: Restore a group.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Restore a group.
      tags:
      - groups
      operationId: postApiV4GroupsIdRestore
  "/api/v4/groups/{id}/ldap_sync":
    post:
      description: Sync a group with LDAP.
      produces:
      - application/json
[...]
