---
info:
  title: GitLab API
  version: v4
swagger: '2.0'
produces:
- application/json
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
host: gitlab.com
tags:
- name: badges
  description: Operations about badges
- name: groups
  description: Operations about groups
- name: runners
  description: Operations about runners
- name: group_avatar
  description: Operations about group_avatars
- name: invitations
  description: Operations about invitations
- name: members
  description: Operations about members
- name: group_access_tokens
  description: Operations about group_access_tokens
- name: wikis
  description: Operations about wikis
- name: alert_management
  description: Operations about alert_managements
- name: branches
  description: Operations about branches
- name: secure_files
  description: Operations about secure_files
- name: commits
  description: Operations about commits
- name: pages
  description: Operations about pages
- name: pages_domains
  description: Operations about pages_domains
- name: project_avatar
  description: Operations about project_avatars
- name: projects_job_token_scope
  description: Operations about projects_job_token_scopes
- name: project_snippets
  description: Operations about project_snippets
- name: protected_tags
  description: Operations about protected_tags
- name: remote_mirrors
  description: Operations about remote_mirrors
- name: project_access_tokens
  description: Operations about project_access_tokens
- name: tags
  description: Operations about tags
- name: batched_background_migrations
  description: Operations about batched_background_migrations
- name: admin
  description: Operations about admins
- name: migrations
  description: Operations about migrations
- name: broadcast_messages
  description: Operations about broadcast_messages
- name: applications
  description: Operations about applications
- name: avatar
  description: Operations about avatars
- name: bulk_imports
  description: Operations about bulk_imports
- name: job
  description: Operations about jobs
- name: jobs
  description: Operations about jobs
- name: events
  description: Operations about events
- name: users
  description: Operations about users
- name: keys
  description: Operations about keys
- name: markdown
  description: Operations about markdowns
- name: namespaces
  description: Operations about namespaces
- name: organizations
  description: Operations about organizations
- name: personal_access_tokens
  description: Operations about personal_access_tokens
- name: project_repository_storage_moves
  description: Operations about project_repository_storage_moves
- name: snippets
  description: Operations about snippets
- name: snippet_repository_storage_moves
  description: Operations about snippet_repository_storage_moves
- name: hooks
  description: Operations about hooks
- name: usage_data
  description: Operations about usage_data
- name: metrics
  description: Operations about metrics
- name: user
  description: Operations about users
- name: user_counts
  description: Operations about user_counts
- name: application
  description: Operations about applications
- name: import
  description: Operations about imports
- name: slack
  description: Operations about slacks
- name: topics
  description: Operations about topics
- name: web_commits
  description: Operations about web_commits
- name: access_requests
  description: Operations related to access requests
- name: ci_lint
  description: Operations related to linting a CI config file
- name: ci_resource_groups
  description: Operations to manage job concurrency with resource groups
- name: ci_variables
  description: Operations related to CI/CD variables
- name: cluster_agents
  description: Operations related to the GitLab agent for Kubernetes
- name: clusters
  description: Operations related to clusters
- name: composer_packages
  description: Operations related to Composer packages
- name: conan_packages
  description: Operations related to Conan packages
- name: container_registry
  description: Operations related to container registry
- name: container_registry_event
  description: Operations related to container registry events
- name: debian_distribution
  description: Operations related to Debian Linux distributions
- name: debian_packages
  description: Operations related to Debian Linux packages
- name: dependency_proxy
  description: Operations to manage dependency proxy for a groups
- name: deploy_keys
  description: Operations related to deploy keys
- name: deploy_tokens
  description: Operations related to deploy tokens
- name: deployments
  description: Operations related to deployments
- name: dora_metrics
  description: Operations related to DevOps Research and Assessment (DORA) key metrics
- name: environments
  description: Operations related to environments
- name: error_tracking_client_keys
  description: Operations related to error tracking client keys
- name: error_tracking_project_settings
  description: Operations related to error tracking project settings
- name: feature_flags_user_lists
  description: Operations related to accessing GitLab feature flag user lists
- name: feature_flags
  description: Operations related to feature flags
- name: features
  description: Operations related to managing Flipper-based feature flags
- name: freeze_periods
  description: Operations related to deploy freeze periods
- name: generic_packages
  description: Operations related to Generic packages
- name: geo
  description: Operations related to Geo
- name: geo_nodes
  description: Operations related Geo Nodes
- name: go_proxy
  description: Operations related to Go Proxy
- name: group_export
  description: Operations related to exporting groups
- name: group_import
  description: Operations related to importing groups
- name: group_packages
  description: Operations related to group packages
- name: helm_packages
  description: Operations related to Helm packages
- name: integrations
  description: Operations related to integrations
- name: issue_links
  description: Operations related to issue links
- name: jira_connect_subscriptions
  description: Operations related to JiraConnect subscriptions
- name: maven_packages
  description: Operations related to Maven packages
- name: merge_requests
  description: Operations related to merge requests
- name: metadata
  description: Operations related to metadata of the GitLab instance
- name: ml_model_registry
  description: Operations related to Model registry
- name: npm_packages
  description: Operations related to NPM packages
- name: nuget_packages
  description: Operations related to Nuget packages
- name: package_files
  description: Operations about package files
- name: plan_limits
  description: Operations related to plan limits
- name: project_export
  description: Operations related to exporting projects
- name: project_hooks
  description: Operations related to project hooks
- name: project_import
  description: Operations related to importing projects
- name: project_import_bitbucket
  description: Operations related to importing BitBucket projects
- name: project_import_github
  description: Operations related to importing GitHub projects
- name: project_packages
  description: Operations related to project packages
- name: projects
  description: Operations related to projects
- name: protected environments
  description: Operations related to protected environments
- name: pypi_packages
  description: Operations related to PyPI packages
- name: release_links
  description: Operations related to release assets (links)
- name: releases
  description: Operations related to releases
- name: resource_milestone_events
  description: Operations about resource milestone events
- name: rpm_packages
  description: Operations related to RPM packages
- name: rubygem_packages
  description: Operations related to RubyGems
- name: suggestions
  description: Operations related to suggestions
- name: system_hooks
  description: Operations related to system hooks
- name: terraform_state
  description: Operations related to Terraform state files
- name: terraform_registry
  description: Operations related to the Terraform module registry
- name: unleash_api
  description: Operations related to Unleash API
paths:
  "/api/v4/groups/{id}/access_requests":
    get:
      summary: Gets a list of access requests for a group.
      description: This feature was introduced in GitLab 8.11.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Gets a list of access requests for a group.
          schema:
            "$ref": "#/definitions/API_Entities_AccessRequester"
      tags:
      - access_requests
      operationId: getApiV4GroupsIdAccessRequests
    post:
      summary: Requests access for the authenticated user to a group.
      description: This feature was introduced in GitLab 8.11.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      responses:
        '200':
          description: successful operation
          schema:
            "$ref": "#/definitions/API_Entities_AccessRequester"
          examples:
            successfull_response:
              id: 1
              username: raymond_smith
              name: Raymond Smith
              state: active
              created_at: '2012-10-22T14:13:35Z'
              access_level: 20
      tags:
      - access_requests
      operationId: postApiV4GroupsIdAccessRequests
  "/api/v4/groups/{id}/access_requests/{user_id}/approve":
    put:
      summary: Approves an access request for the given user.
      description: This feature was introduced in GitLab 8.11.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the access requester
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdAccessRequestsUserIdApprove
        in: body
        required: true
        schema:
          "$ref": "#/definitions/putApiV4GroupsIdAccessRequestsUserIdApprove"
      responses:
        '200':
          description: successful operation
          schema:
            "$ref": "#/definitions/API_Entities_AccessRequester"
          examples:
            successfull_response:
              id: 1
              username: raymond_smith
              name: Raymond Smith
              state: active
              created_at: '2012-10-22T14:13:35Z'
              access_level: 20
      tags:
      - access_requests
      operationId: putApiV4GroupsIdAccessRequestsUserIdApprove
  "/api/v4/groups/{id}/access_requests/{user_id}":
    delete:
      summary: Denies an access request for the given user.
      description: This feature was introduced in GitLab 8.11.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      - in: path
        name: user_id
        description: The user ID of the access requester
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Denies an access request for the given user.
      tags:
      - access_requests
      operationId: deleteApiV4GroupsIdAccessRequestsUserId
  "/api/v4/groups/{id}/badges":
    get:
      summary: Gets a list of group badges viewable by the authenticated user.
      description: This feature was introduced in GitLab 10.6.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: name
        description: Name for the badge
        type: string
        required: false
      responses:
        '200':
          description: Gets a list of group badges viewable by the authenticated user.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Badge"
      tags:
      - badges
      operationId: getApiV4GroupsIdBadges
    post:
      summary: Adds a badge to a group.
      description: This feature was introduced in GitLab 10.6.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - name: postApiV4GroupsIdBadges
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdBadges"
      responses:
        '201':
          description: Adds a badge to a group.
          schema:
            "$ref": "#/definitions/API_Entities_Badge"
      tags:
      - badges
      operationId: postApiV4GroupsIdBadges
  "/api/v4/groups/{id}/badges/render":
    get:
      summary: Preview a badge from a group.
      description: This feature was introduced in GitLab 10.6.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - in: query
        name: link_url
        description: URL of the badge link
        type: string
        required: true
      - in: query
        name: image_url
        description: URL of the badge image
        type: string
        required: true
      responses:
        '200':
          description: Preview a badge from a group.
          schema:
            "$ref": "#/definitions/API_Entities_BasicBadgeDetails"
      tags:
      - badges
      operationId: getApiV4GroupsIdBadgesRender
  "/api/v4/groups/{id}/badges/{badge_id}":
    get:
      summary: Gets a badge of a group.
      description: This feature was introduced in GitLab 10.6.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - in: path
        name: badge_id
        description: The badge ID
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Gets a badge of a group.
          schema:
            "$ref": "#/definitions/API_Entities_Badge"
      tags:
      - badges
      operationId: getApiV4GroupsIdBadgesBadgeId
    put:
      summary: Updates a badge of a group.
      description: This feature was introduced in GitLab 10.6.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - in: path
        name: badge_id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdBadgesBadgeId
        in: body
        required: true
        schema:
          "$ref": "#/definitions/putApiV4GroupsIdBadgesBadgeId"
      responses:
        '200':
          description: Updates a badge of a group.
          schema:
            "$ref": "#/definitions/API_Entities_Badge"
      tags:
      - badges
      operationId: putApiV4GroupsIdBadgesBadgeId
    delete:
      summary: Removes a badge from the group.
      description: This feature was introduced in GitLab 10.6.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user.
        type: string
        required: true
      - in: path
        name: badge_id
        description: The badge ID
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Removes a badge from the group.
      tags:
      - badges
      operationId: deleteApiV4GroupsIdBadgesBadgeId
  "/api/v4/groups/{id}/custom_attributes":
    get:
      description: Get all custom attributes on a group
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get all custom attributes on a group
          schema:
            "$ref": "#/definitions/API_Entities_CustomAttribute"
      tags:
      - groups
      operationId: getApiV4GroupsIdCustomAttributes
  "/api/v4/groups/{id}/custom_attributes/{key}":
    get:
      description: Get a custom attribute on a group
      produces:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a custom attribute on a group
          schema:
            "$ref": "#/definitions/API_Entities_CustomAttribute"
      tags:
      - groups
      operationId: getApiV4GroupsIdCustomAttributesKey
    put:
      description: Set a custom attribute on a group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdCustomAttributesKey
        in: body
        required: true
        schema:
          "$ref": "#/definitions/putApiV4GroupsIdCustomAttributesKey"
      responses:
        '200':
          description: Set a custom attribute on a group
      tags:
      - groups
      operationId: putApiV4GroupsIdCustomAttributesKey
    delete:
      description: Delete a custom attribute on a group
      produces:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a custom attribute on a group
      tags:
      - groups
      operationId: deleteApiV4GroupsIdCustomAttributesKey
  "/api/v4/groups":
    get:
      description: Get a groups list
      produces:
      - application/json
      parameters:
      - in: query
        name: statistics
        description: Include project statistics
        type: boolean
        default: false
        required: false
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: all_available
        description: Show all group that you have access to
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Search for a specific group
        type: string
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        type: string
        default: name
        enum:
        - name
        - path
        - id
        - similarity
        required: false
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        type: string
        default: asc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: top_level_only
        description: Only include top-level groups
        type: boolean
        required: false
      - in: query
        name: repository_storage
        description: Filter by repository storage used by the group
        type: string
        required: false
      - in: query
        name: marked_for_deletion_on
        description: Date when the group was marked for deletion
        type: string
        format: date
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a groups list
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: getApiV4Groups
    post:
      description: Create a group. Available only for users who can create groups.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4Groups
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4Groups"
      responses:
        '201':
          description: Create a group. Available only for users who can create groups.
          schema:
            "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: postApiV4Groups
  "/api/v4/groups/{id}":
    put:
      description: Update a group. Available only for users who can administrate groups.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - name: putApiV4GroupsId
        in: body
        required: true
        schema:
          "$ref": "#/definitions/putApiV4GroupsId"
      responses:
        '200':
          description: Update a group. Available only for users who can administrate
            groups.
          schema:
            "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: putApiV4GroupsId
    get:
      description: Get a single group, with containing projects.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      - in: query
        name: with_projects
        description: Omit project details
        type: boolean
        default: true
        required: false
      responses:
        '200':
          description: Get a single group, with containing projects.
          schema:
            "$ref": "#/definitions/API_Entities_GroupDetail"
      tags:
      - groups
      operationId: getApiV4GroupsId
    delete:
      description: Remove a group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '204':
          description: Remove a group.
      tags:
      - groups
      operationId: deleteApiV4GroupsId
  "/api/v4/groups/{id}/groups/shared":
    get:
      description: Get a list of shared groups this group was invited to
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Search for a specific group
        type: string
        required: false
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        type: string
        default: name
        enum:
        - name
        - path
        - id
        - similarity
        required: false
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        type: string
        default: asc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of shared groups this group was invited to
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: getApiV4GroupsIdGroupsShared
  "/api/v4/groups/{id}/invited_groups":
    get:
      description: Get a list of invited groups in this group
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: relation
        description: Include group relations
        type: array
        items:
          type: string
          enum:
          - direct
          - inherited
        required: false
      - in: query
        name: search
        description: Search for a specific group
        type: string
        required: false
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of invited groups in this group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: getApiV4GroupsIdInvitedGroups
  "/api/v4/groups/{id}/projects":
    get:
      description: Get a list of projects in this group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: archived
        description: Limit by archived status
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Return list of authorized projects matching the search criteria
        type: string
        required: false
      - in: query
        name: order_by
        description: Return projects ordered by field
        type: string
        default: created_at
        enum:
        - id
        - name
        - path
        - created_at
        - updated_at
        - last_activity_at
        - similarity
        - star_count
        required: false
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: simple
        description: Return only the ID, URL, name, and path of each project
        type: boolean
        default: false
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: starred
        description: Limit by starred status
        type: boolean
        default: false
        required: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_shared
        description: Include projects shared to this group
        type: boolean
        default: true
        required: false
      - in: query
        name: include_subgroups
        description: Includes projects in subgroups of this group
        type: boolean
        default: false
        required: false
      - in: query
        name: include_ancestor_groups
        description: Includes projects in ancestors of this group
        type: boolean
        default: false
        required: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user on projects
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      - in: query
        name: with_security_reports
        description: Return only projects having security report artifacts present
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of projects in this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Project"
      tags:
      - groups
      operationId: getApiV4GroupsIdProjects
  "/api/v4/groups/{id}/projects/shared":
    get:
      description: Get a list of shared projects in this group
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: archived
        description: Limit by archived status
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Return list of authorized projects matching the search criteria
        type: string
        required: false
      - in: query
        name: order_by
        description: Return projects ordered by field
        type: string
        default: created_at
        enum:
        - id
        - name
        - path
        - created_at
        - updated_at
        - last_activity_at
        - star_count
        required: false
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: simple
        description: Return only the ID, URL, name, and path of each project
        type: boolean
        default: false
        required: false
      - in: query
        name: starred
        description: Limit by starred status
        type: boolean
        default: false
        required: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        type: boolean
        default: false
        required: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user on projects
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of shared projects in this group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Project"
      tags:
      - groups
      operationId: getApiV4GroupsIdProjectsShared
  "/api/v4/groups/{id}/subgroups":
    get:
      description: Get a list of subgroups in this group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: statistics
        description: Include project statistics
        type: boolean
        default: false
        required: false
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: all_available
        description: Show all group that you have access to
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Search for a specific group
        type: string
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        type: string
        default: name
        enum:
        - name
        - path
        - id
        - similarity
        required: false
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        type: string
        default: asc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: top_level_only
        description: Only include top-level groups
        type: boolean
        required: false
      - in: query
        name: repository_storage
        description: Filter by repository storage used by the group
        type: string
        required: false
      - in: query
        name: marked_for_deletion_on
        description: Date when the group was marked for deletion
        type: string
        format: date
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of subgroups in this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: getApiV4GroupsIdSubgroups
  "/api/v4/groups/{id}/descendant_groups":
    get:
      description: Get a list of descendant groups of this group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: statistics
        description: Include project statistics
        type: boolean
        default: false
        required: false
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: all_available
        description: Show all group that you have access to
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Search for a specific group
        type: string
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        type: string
        default: name
        enum:
        - name
        - path
        - id
        - similarity
        required: false
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        type: string
        default: asc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: top_level_only
        description: Only include top-level groups
        type: boolean
        required: false
      - in: query
        name: repository_storage
        description: Filter by repository storage used by the group
        type: string
        required: false
      - in: query
        name: marked_for_deletion_on
        description: Date when the group was marked for deletion
        type: string
        format: date
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of descendant groups of this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: getApiV4GroupsIdDescendantGroups
  "/api/v4/groups/{id}/projects/{project_id}":
    post:
      description: Transfer a project to the group namespace. Available only for admin.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: project_id
        description: The ID or path of the project
        type: string
        required: true
      responses:
        '201':
          description: Transfer a project to the group namespace. Available only for
            admin.
          schema:
            "$ref": "#/definitions/API_Entities_GroupDetail"
      tags:
      - groups
      operationId: postApiV4GroupsIdProjectsProjectId
  "/api/v4/groups/{id}/transfer_locations":
    get:
      description: Get the groups to where the current group can be transferred to
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: search
        description: Return list of namespaces matching the search criteria
        type: string
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get the groups to where the current group can be transferred
            to
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Group"
      tags:
      - groups
      operationId: getApiV4GroupsIdTransferLocations
  "/api/v4/groups/{id}/transfer":
    post:
      description: Transfer a group to a new parent group or promote a subgroup to
        a top-level group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - name: postApiV4GroupsIdTransfer
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdTransfer"
      responses:
        '201':
          description: Transfer a group to a new parent group or promote a subgroup
            to a top-level group
      tags:
      - groups
      operationId: postApiV4GroupsIdTransfer
  "/api/v4/groups/{id}/share":
    post:
      description: Share a group with a group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - name: postApiV4GroupsIdShare
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdShare"
      responses:
        '201':
          description: Share a group with a group
          schema:
            "$ref": "#/definitions/API_Entities_GroupDetail"
      tags:
      - groups
      operationId: postApiV4GroupsIdShare
  "/api/v4/groups/{id}/share/{group_id}":
    delete:
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: path
        name: group_id
        description: The ID of the shared group
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: deleted Share
      tags:
      - groups
      operationId: deleteApiV4GroupsIdShareGroupId
  "/api/v4/groups/{id}/tokens/revoke":
    post:
      summary: Revoke a single token
      description: |
        Revoke a token, if it has access to the group or any of its subgroups
        and projects. If the token is revoked, or was already revoked, its
        details are returned in the response.

        The following criteria must be met:

        - The group must be a top-level group.
        - You must have Owner permission in the group.
        - The token type is one of:
          - Personal access token
          - Group access token
          - Project access token
          - Group deploy token
          - User feed token

        This feature is gated by the :group_agnostic_token_revocation feature flag.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a top-level group
        type: string
        required: true
      - name: postApiV4GroupsIdTokensRevoke
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdTokensRevoke"
      responses:
        '201':
          description: Revoke a single token
      tags:
      - groups
      operationId: postApiV4GroupsIdTokensRevoke
  "/api/v4/groups/{id}/ldap_sync":
    post:
      description: Sync a group with LDAP.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Sync a group with LDAP.
      tags:
      - groups
      operationId: postApiV4GroupsIdLdapSync
  "/api/v4/groups/{id}/audit_events":
    get:
      description: Get a list of audit events in this group.
      produces:
      - application/json
      parameters:
      - in: query
        name: created_after
        description: Return audit events created after the specified time
        type: string
        format: date-time
        required: false
        example: '2016-01-19T09:05:50.355Z'
      - in: query
        name: created_before
        description: Return audit events created before the specified time
        type: string
        format: date-time
        required: false
        example: '2016-01-19T09:05:50.355Z'
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of audit events in this group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/EE_API_Entities_AuditEvent"
      tags:
      - groups
      operationId: getApiV4GroupsIdAuditEvents
  "/api/v4/groups/{id}/audit_events/{audit_event_id}":
    get:
      description: Get a specific audit event in this group.
      produces:
      - application/json
      parameters:
      - in: path
        name: audit_event_id
        description: The ID of the audit event
        type: integer
        format: int32
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a specific audit event in this group.
          schema:
            "$ref": "#/definitions/EE_API_Entities_AuditEvent"
      tags:
      - groups
      operationId: getApiV4GroupsIdAuditEventsAuditEventId
  "/api/v4/groups/{id}/restore":
    post:
      description: Restore a group.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Restore a group.
      tags:
      - groups
      operationId: postApiV4GroupsIdRestore
  "/api/v4/groups/{id}/provisioned_users":
    get:
      description: Get a list of users provisioned by the group
      produces:
      - application/json
      parameters:
      - in: query
        name: username
        description: Return a single user with a specific username
        type: string
        required: false
      - in: query
        name: search
        description: Search users by name, email or username
        type: string
        required: false
      - in: query
        name: active
        description: Return only active users
        type: boolean
        default: false
        required: false
      - in: query
        name: blocked
        description: Return only blocked users
        type: boolean
        default: false
        required: false
      - in: query
        name: created_after
        description: Return users created after the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: created_before
        description: Return users created before the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of users provisioned by the group
          schema:
            "$ref": "#/definitions/API_Entities_UserPublic"
      tags:
      - groups
      operationId: getApiV4GroupsIdProvisionedUsers
  "/api/v4/groups/{id}/users":
    get:
      description: Get a list of users for the group
      produces:
      - application/json
      parameters:
      - in: query
        name: search
        description: Search users by name, email or username
        type: string
        required: false
      - in: query
        name: active
        description: Filters only active users
        type: boolean
        default: false
        required: false
      - in: query
        name: include_saml_users
        description: Return users with a SAML identity in this group
        type: boolean
        required: false
      - in: query
        name: include_service_accounts
        description: Return service accounts owned by this group
        type: boolean
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of users for the group
          schema:
            "$ref": "#/definitions/API_Entities_UserPublic"
        '400':
          description: Bad request
        '403':
          description: Forbidden
        '404':
          description: 404 Not Found
      tags:
      - groups
      operationId: getApiV4GroupsIdUsers
  "/api/v4/groups/{id}/ssh_certificates":
    get:
      summary: Get a list of Groups::SshCertificate for a Group.
      description: Get a list of ssh certificates created for a group.
      produces:
      - application/json
      parameters:
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of ssh certificates created for a group.
          schema:
            type: array
            items:
              "$ref": "#/definitions/EE_API_Entities_SshCertificate"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 404 Not Found
      tags:
      - groups
      operationId: getApiV4GroupsIdSshCertificates
    post:
      summary: Add a Groups::SshCertificate.
      description: Create a ssh certificate for a group.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: postApiV4GroupsIdSshCertificates
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdSshCertificates"
      responses:
        '201':
          description: Create a ssh certificate for a group.
          schema:
            "$ref": "#/definitions/EE_API_Entities_SshCertificate"
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - groups
      operationId: postApiV4GroupsIdSshCertificates
  "/api/v4/groups/{id}/ssh_certificates/{ssh_certificates_id}":
    delete:
      summary: Removes an ssh certificate from a group.
      description: Removes a Groups::SshCertificate
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - in: path
        name: ssh_certificates_id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Removes an ssh certificate from a group.
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable entity
      tags:
      - groups
      operationId: deleteApiV4GroupsIdSshCertificatesSshCertificatesId
  "/api/v4/groups/{id}/runners":
    get:
      summary: List group's runners
      description: List all runners available in the group as well as its ancestor
        groups, including any allowed shared runners.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: type
        description: The type of runners to return
        type: string
        enum:
        - instance_type
        - group_type
        - project_type
        required: false
      - in: query
        name: paused
        description: Whether to include only runners that are accepting or ignoring
          new jobs
        type: boolean
        required: false
      - in: query
        name: status
        description: The status of runners to return
        type: string
        enum:
        - active
        - paused
        - online
        - offline
        - never_contacted
        - stale
        required: false
      - in: query
        name: tag_list
        description: A list of runner tags
        type: array
        items:
          type: string
        required: false
        example: "['macos', 'shell']"
      - in: query
        name: version_prefix
        description: The version prefix of runners to return
        type: string
        required: false
        example: "'15.1.' or '16.'"
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get runners available for group
          schema:
            "$ref": "#/definitions/API_Entities_Ci_Runner"
        '400':
          description: Scope contains invalid value
        '403':
          description: Forbidden
      tags:
      - runners
      - groups
      operationId: getApiV4GroupsIdRunners
  "/api/v4/groups/{id}/runners/reset_registration_token":
    post:
      summary: Reset the runner registration token for a group
      description: Reset runner registration token
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '201':
          description: Reset runner registration token
          schema:
            "$ref": "#/definitions/API_Entities_Ci_ResetTokenResult"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Group Not Found
      tags:
      - runners
      - groups
      operationId: postApiV4GroupsIdRunnersResetRegistrationToken
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/Release.gpg":
    get:
      summary: The Release file signature
      description: This feature was introduced in GitLab 13.5
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      responses:
        '200':
          description: The Release file signature
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionReleaseGpg
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/Release":
    get:
      summary: The unsigned Release file
      description: This feature was introduced in GitLab 13.5
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      responses:
        '200':
          description: The unsigned Release file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionRelease
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/InRelease":
    get:
      summary: The signed Release file
      description: This feature was introduced in GitLab 13.5
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      responses:
        '200':
          description: The signed Release file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionInrelease
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/debian-installer/binary-{architecture}/Packages":
    get:
      summary: The installer (udeb) binary files index
      description: This feature was introduced in GitLab 15.4
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: component
        description: The Debian Component
        type: string
        required: true
        example: main
      - in: path
        name: architecture
        description: The Debian Architecture
        type: string
        required: true
        example: binary-amd64
      responses:
        '200':
          description: The installer (udeb) binary files index
        '202':
          description: The installer (udeb) binary files index
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentDebianInstallerBinaryArchitecturePackages
  ? "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/debian-installer/binary-{architecture}/by-hash/SHA256/{file_sha256}"
  : get:
      summary: The installer (udeb) binary files index by hash
      description: This feature was introduced in GitLab 15.4
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: component
        description: The Debian Component
        type: string
        required: true
        example: main
      - in: path
        name: architecture
        description: The Debian Architecture
        type: string
        required: true
        example: binary-amd64
      - in: path
        name: file_sha256
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: The installer (udeb) binary files index by hash
        '202':
          description: The installer (udeb) binary files index by hash
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentDebianInstallerBinaryArchitectureByHashSha256FileSha256
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/source/Sources":
    get:
      summary: The source files index
      description: This feature was introduced in GitLab 15.4
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: component
        description: The Debian Component
        type: string
        required: true
        example: main
      responses:
        '200':
          description: The source files index
        '202':
          description: The source files index
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentSourceSources
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/source/by-hash/SHA256/{file_sha256}":
    get:
      summary: The source files index by hash
      description: This feature was introduced in GitLab 15.4
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: component
        description: The Debian Component
        type: string
        required: true
        example: main
      - in: path
        name: file_sha256
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: The source files index by hash
        '202':
          description: The source files index by hash
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentSourceByHashSha256FileSha256
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/binary-{architecture}/Packages":
    get:
      summary: The binary files index
      description: This feature was introduced in GitLab 13.5
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: component
        description: The Debian Component
        type: string
        required: true
        example: main
      - in: path
        name: architecture
        description: The Debian Architecture
        type: string
        required: true
        example: binary-amd64
      responses:
        '200':
          description: The binary files index
        '202':
          description: The binary files index
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentBinaryArchitecturePackages
  "/api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/binary-{architecture}/by-hash/SHA256/{file_sha256}":
    get:
      summary: The binary files index by hash
      description: This feature was introduced in GitLab 15.4
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: component
        description: The Debian Component
        type: string
        required: true
        example: main
      - in: path
        name: architecture
        description: The Debian Architecture
        type: string
        required: true
        example: binary-amd64
      - in: path
        name: file_sha256
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: The binary files index by hash
        '202':
          description: The binary files index by hash
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentBinaryArchitectureByHashSha256FileSha256
  "/api/v4/groups/{id}/-/packages/debian/pool/{distribution}/{project_id}/{letter}/{package_name}/{package_version}/{file_name}":
    get:
      summary: Download Debian package
      description: This feature was introduced in GitLab 14.2
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        type: string
        required: true
      - in: path
        name: project_id
        description: The Project Id
        type: integer
        format: int32
        required: true
      - in: path
        name: distribution
        description: The Debian Codename or Suite
        type: string
        required: true
        example: my-distro
      - in: path
        name: letter
        description: The Debian Classification (first-letter or lib-first-letter)
        type: string
        required: true
        example: a
      - in: path
        name: package_name
        description: The Debian Source Package Name
        type: string
        required: true
        example: my-pkg
      - in: path
        name: package_version
        description: The Debian Source Package Version
        type: string
        required: true
        example: 1.0.0
      - in: path
        name: file_name
        description: The Debian File Name
        type: string
        required: true
        example: example_1.0.0~alpha2_amd64.deb
      responses:
        '200':
          description: Download Debian package
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_packages
      operationId: getApiV4GroupsIdPackagesDebianPoolDistributionProjectIdLetterPackageNamePackageVersionFileName
  "/api/v4/groups/{id}/dependency_proxy/cache":
    delete:
      summary: Purge the dependency proxy for a group
      description: Schedules for deletion the cached manifests and blobs for a group.This
        endpoint requires the Owner role for the group.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: string
        required: true
      responses:
        '202':
          description: Purge the dependency proxy for a group
        '401':
          description: Unauthorized
      tags:
      - dependency_proxy
      operationId: deleteApiV4GroupsIdDependencyProxyCache
  "/api/v4/groups/{id}/deploy_tokens":
    get:
      summary: List group deploy tokens
      description: Get a list of a group's deploy tokens. This feature was introduced
        in GitLab 12.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: active
        description: Limit by active status
        type: boolean
        required: false
      responses:
        '200':
          description: List group deploy tokens
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_DeployToken"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: getApiV4GroupsIdDeployTokens
    post:
      summary: Create a group deploy token
      description: Creates a new deploy token for a group. This feature was introduced
        in GitLab 12.9.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - name: postApiV4GroupsIdDeployTokens
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdDeployTokens"
      responses:
        '201':
          description: Create a group deploy token
          schema:
            "$ref": "#/definitions/API_Entities_DeployTokenWithToken"
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: postApiV4GroupsIdDeployTokens
  "/api/v4/groups/{id}/deploy_tokens/{token_id}":
    get:
      summary: Get a group deploy token
      description: 'Get a single group''s deploy token by ID. This feature was introduced
        in GitLab 14.9. '
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: path
        name: token_id
        description: The ID of the deploy token
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a group deploy token
          schema:
            "$ref": "#/definitions/API_Entities_DeployToken"
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: getApiV4GroupsIdDeployTokensTokenId
    delete:
      summary: Delete a group deploy token
      description: Removes a deploy token from the group. This feature was introduced
        in GitLab 12.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group owned by the authenticated
          user
        type: integer
        format: int32
        required: true
      - in: path
        name: token_id
        description: The ID of the deploy token
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a group deploy token
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - deploy_tokens
      operationId: deleteApiV4GroupsIdDeployTokensTokenId
  "/api/v4/groups/{id}/avatar":
    get:
      summary: Download the group avatar
      description: This feature was introduced in GitLab 14.0
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      responses:
        '200':
          description: Download the group avatar
      tags:
      - group_avatar
      operationId: getApiV4GroupsIdAvatar
  "/api/v4/groups/{id}/clusters":
    get:
      summary: List group clusters
      description: This feature was introduced in GitLab 12.1. Returns a list of group
        clusters.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: List group clusters
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_Cluster"
        '403':
          description: Forbidden
      tags:
      - clusters
      operationId: getApiV4GroupsIdClusters
  "/api/v4/groups/{id}/clusters/{cluster_id}":
    get:
      summary: Get a single group cluster
      description: This feature was introduced in GitLab 12.1. Gets a single group
        cluster.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: path
        name: cluster_id
        description: The cluster ID
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a single group cluster
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - clusters
      operationId: getApiV4GroupsIdClustersClusterId
    put:
      summary: Edit group cluster
      description: This feature was introduced in GitLab 12.1. Updates an existing
        group cluster.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: path
        name: cluster_id
        description: The cluster ID
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdClustersClusterId
        in: body
        required: true
        schema:
          "$ref": "#/definitions/putApiV4GroupsIdClustersClusterId"
      responses:
        '200':
          description: Edit group cluster
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '400':
          description: Validation error
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - clusters
      operationId: putApiV4GroupsIdClustersClusterId
    delete:
      summary: Delete group cluster
      description: This feature was introduced in GitLab 12.1. Deletes an existing
        group cluster. Does not remove existing resources within the connected Kubernetes
        cluster.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - in: path
        name: cluster_id
        description: The Cluster ID
        type: integer
        format: int32
        required: true
      responses:
        '403':
          description: Forbidden
        '204':
          description: Delete group cluster
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '404':
          description: Not found
      tags:
      - clusters
      operationId: deleteApiV4GroupsIdClustersClusterId
  "/api/v4/groups/{id}/clusters/user":
    post:
      summary: Add existing cluster to group
      description: This feature was introduced in GitLab 12.1. Adds an existing Kubernetes
        cluster to the group.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the group
        type: string
        required: true
      - name: postApiV4GroupsIdClustersUser
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdClustersUser"
      responses:
        '201':
          description: Add existing cluster to group
          schema:
            "$ref": "#/definitions/API_Entities_ClusterGroup"
        '400':
          description: Validation error
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - clusters
      operationId: postApiV4GroupsIdClustersUser
  "/api/v4/groups/{id}/registry/repositories":
    get:
      summary: List registry repositories within a group
      description: Get a list of registry repositories in a group. This feature was
        introduced in GitLab 12.2.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group accessible by the authenticated
          user
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: List registry repositories within a group
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_ContainerRegistry_Repository"
        '401':
          description: Unauthorized
        '404':
          description: Group Not Found
      tags:
      - container_registry
      operationId: getApiV4GroupsIdRegistryRepositories
  "/api/v4/groups/{id}/-/debian_distributions":
    post:
      summary: Create a Debian Distribution
      description: This feature was introduced in 14.0
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - name: postApiV4GroupsIdDebianDistributions
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdDebianDistributions"
      responses:
        '201':
          description: Create a Debian Distribution
          schema:
            "$ref": "#/definitions/API_Entities_Packages_Debian_Distribution"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_distribution
      operationId: postApiV4GroupsIdDebianDistributions
    get:
      summary: Get a list of Debian Distributions
      description: This feature was introduced in 14.0
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: codename
        description: The Debian Codename
        type: string
        required: false
        example: sid
      - in: query
        name: suite
        description: The Debian Suite
        type: string
        required: false
        example: unstable
      - in: query
        name: origin
        description: The Debian Origin
        type: string
        required: false
        example: Grep
      - in: query
        name: label
        description: The Debian Label
        type: string
        required: false
        example: grep.be
      - in: query
        name: version
        description: The Debian Version
        type: string
        required: false
        example: '12'
      - in: query
        name: description
        description: The Debian Description
        type: string
        required: false
        example: My description
      - in: query
        name: valid_time_duration_seconds
        description: The duration before the Release file should be considered expired
          by the client
        type: integer
        format: int32
        required: false
        example: 604800
      - in: query
        name: components
        description: The list of Components
        type: array
        items:
          type: string
        required: false
        example: main
      - in: query
        name: architectures
        description: The list of Architectures
        type: array
        items:
          type: string
        required: false
        example: amd64
      responses:
        '200':
          description: Get a list of Debian Distributions
          schema:
            "$ref": "#/definitions/API_Entities_Packages_Debian_Distribution"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_distribution
      operationId: getApiV4GroupsIdDebianDistributions
  "/api/v4/groups/{id}/-/debian_distributions/{codename}":
    get:
      summary: Get a Debian Distribution
      description: This feature was introduced in 14.0
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - in: path
        name: codename
        description: The Debian Codename
        type: string
        required: true
        example: sid
      responses:
        '200':
          description: Get a Debian Distribution
          schema:
            "$ref": "#/definitions/API_Entities_Packages_Debian_Distribution"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_distribution
      operationId: getApiV4GroupsIdDebianDistributionsCodename
    put:
      summary: Update a Debian Distribution
      description: This feature was introduced in 14.0
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - in: path
        name: codename
        description: The Debian Codename
        type: string
        required: true
        example: sid
      - name: putApiV4GroupsIdDebianDistributionsCodename
        in: body
        required: true
        schema:
          "$ref": "#/definitions/putApiV4GroupsIdDebianDistributionsCodename"
      responses:
        '200':
          description: Update a Debian Distribution
          schema:
            "$ref": "#/definitions/API_Entities_Packages_Debian_Distribution"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_distribution
      operationId: putApiV4GroupsIdDebianDistributionsCodename
    delete:
      summary: Delete a Debian Distribution
      description: This feature was introduced in 14.0
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - in: path
        name: codename
        description: The Debian Codename
        type: string
        required: true
        example: sid
      - in: query
        name: suite
        description: The Debian Suite
        type: string
        required: false
        example: unstable
      - in: query
        name: origin
        description: The Debian Origin
        type: string
        required: false
        example: Grep
      - in: query
        name: label
        description: The Debian Label
        type: string
        required: false
        example: grep.be
      - in: query
        name: version
        description: The Debian Version
        type: string
        required: false
        example: '12'
      - in: query
        name: description
        description: The Debian Description
        type: string
        required: false
        example: My description
      - in: query
        name: valid_time_duration_seconds
        description: The duration before the Release file should be considered expired
          by the client
        type: integer
        format: int32
        required: false
        example: 604800
      - in: query
        name: components
        description: The list of Components
        type: array
        items:
          type: string
        required: false
        example: main
      - in: query
        name: architectures
        description: The list of Architectures
        type: array
        items:
          type: string
        required: false
        example: amd64
      responses:
        '202':
          description: Delete a Debian Distribution
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_distribution
      operationId: deleteApiV4GroupsIdDebianDistributionsCodename
  "/api/v4/groups/{id}/-/debian_distributions/{codename}/key.asc":
    get:
      summary: Get a Debian Distribution Key
      description: This feature was introduced in 14.4
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        type: string
        required: true
      - in: path
        name: codename
        description: The Debian Codename
        type: string
        required: true
        example: sid
      responses:
        '200':
          description: Get a Debian Distribution Key
          schema:
            "$ref": "#/definitions/API_Entities_Packages_Debian_Distribution"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - debian_distribution
      operationId: getApiV4GroupsIdDebianDistributionsCodenameKeyAsc
  "/api/v4/groups/{id}/export/download":
    get:
      summary: Download export
      description: This feature was introduced in GitLab 12.5.
      produces:
      - application/octet-stream
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '200':
          description: Download export
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: getApiV4GroupsIdExportDownload
  "/api/v4/groups/{id}/export":
    post:
      summary: Start export
      description: This feature was introduced in GitLab 12.5.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      responses:
        '202':
          description: Start export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: postApiV4GroupsIdExport
  "/api/v4/groups/{id}/export_relations":
    post:
      summary: Start relations export
      description: This feature was introduced in GitLab 13.12
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - name: postApiV4GroupsIdExportRelations
        in: body
        required: true
        schema:
          "$ref": "#/definitions/postApiV4GroupsIdExportRelations"
      responses:
        '202':
          description: Start relations export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: postApiV4GroupsIdExportRelations
  "/api/v4/groups/{id}/export_relations/download":
    get:
      summary: Download relations export
      description: This feature was introduced in GitLab 13.12
      produces:
      - application/octet-stream
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: relation
        description: Group relation name
        type: string
        required: true
      - in: query
        name: batched
        description: Whether to download in batches
        type: boolean
        required: false
      - in: query
        name: batch_number
        description: Batch number to download
        type: integer
        format: int32
        required: false
      responses:
        '200':
          description: Download relations export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - group_export
      operationId: getApiV4GroupsIdExportRelationsDownload
  "/api/v4/groups/{id}/export_relations/status":
    get:
      summary: Relations export status
      description: This feature was introduced in GitLab 13.12
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a group
        type: string
        required: true
      - in: query
        name: relation
        description: Group relation name
        type: string
        required: false
      responses:
        '200':
          description: Relations export status
          schema:
            type: array
            items:
              "$ref": "#/definitions/API_Entities_BulkImports_ExportStatus"
        '401':
[...]
