- @no_container = true
- breadcrumb_title "CI / CD Charts"
- page_title _("Charts"), _("Pipelines")

%div{ class: container_class }
  .sub-header-block
    .oneline
      = _("A collection of graphs regarding Continuous Integration")

  #charts.ci-charts
    .row
      .col-md-6
        = render 'projects/pipelines/charts/overall'
      .col-md-6
        = render 'projects/pipelines/charts/pipeline_times'

    %hr
    = render 'projects/pipelines/charts/pipelines'
