- page_title _('Pipelines')
- add_page_specific_style 'page_bundles/pipelines'
- add_page_specific_style 'page_bundles/ci_status'

= render_if_exists "shared/shared_runners_minutes_limit_flash_message"

#pipelines-list-vue{ data: pipelines_list_data(@project) }
