- @no_container = true
- page_title "Pipelines"

%div{ 'class' => container_class }
  #pipelines-list-vue{ data: { endpoint: project_pipelines_path(@project, format: :json),
    "help-page-path" => help_page_path('ci/quick_start/README'),
    "help-auto-devops-path" => help_page_path('topics/autodevops/index.md'),
    "empty-state-svg-path" => image_path('illustrations/pipelines_empty.svg'),
    "error-state-svg-path" => image_path('illustrations/pipelines_failed.svg'),
    "no-pipelines-svg-path" => image_path('illustrations/pipelines_pending.svg'),
    "can-create-pipeline" => can?(current_user, :create_pipeline, @project).to_s,
    "new-pipeline-path" => can?(current_user, :create_pipeline, @project) && new_project_pipeline_path(@project),
    "ci-lint-path" => can?(current_user, :create_pipeline, @project) && project_ci_lint_path(@project),
    "reset-cache-path" => can?(current_user, :admin_pipeline, @project) && reset_cache_project_settings_ci_cd_path(@project) ,
    "has-gitlab-ci" => (@project.has_ci? && @project.builds_enabled?).to_s } }
