- breadcrumb_title _('Pipelines')
- page_title s_('Pipeline|Run pipeline')

%h3.page-title
  = s_('Pipeline|Run pipeline')
%hr

#js-new-pipeline{ data: { project_id: @project.id,
  pipelines_path: project_pipelines_path(@project),
  config_variables_path: config_variables_namespace_project_pipelines_path(@project.namespace, @project),
  default_branch: @project.default_branch,
  ref_param: params[:ref] || @project.default_branch,
  var_param: params[:var].to_json,
  file_param: params[:file_var].to_json,
  project_refs_endpoint: refs_project_path(@project, sort: 'updated_desc'),
  settings_link: project_settings_ci_cd_path(@project),
  max_warnings: ::Gitlab::Ci::Warnings::MAX_LIMIT } }
