- breadcrumb_title s_('Pipeline|Run pipeline')
- add_to_breadcrumbs s_('Pipeline|Pipelines'), project_pipelines_path(@project)
- page_title s_('Pipeline|Run pipeline')

%h1.page-title.gl-font-size-h-display
  = s_('Pipeline|Run pipeline')

#js-new-pipeline{ data: new_pipeline_data(@project) }
