- @no_container = true
- add_to_breadcrumbs "Pipelines", project_pipelines_path(@project)
- breadcrumb_title "##{@pipeline.id}"
- page_title "Pipeline"

.js-pipeline-container{ class: container_class, data: { controller_action: "#{controller.action_name}" } }
  - if @commit
    = render "projects/pipelines/info"

  = render "projects/pipelines/with_tabs", pipeline: @pipeline

.js-pipeline-details-vue{ data: { endpoint: project_pipeline_path(@project, @pipeline, format: :json) } }
