- @no_container = true
- page_title "Pipeline"
= render "projects/pipelines/head"

%div{ class: container_class }
  - if @commit
    = render "projects/pipelines/info"

  = render "projects/pipelines/with_tabs", pipeline: @pipeline
