- @no_container = true
- add_to_breadcrumbs "Pipelines", project_pipelines_path(@project)
- breadcrumb_title "##{@pipeline.id}"
- page_title "Pipeline"

.js-pipeline-container{ class: container_class, data: { controller_action: "#{controller.action_name}" } }
  #js-pipeline-header-vue.pipeline-header-container

  - if @pipeline.commit.present?
    = render "projects/pipelines/info", commit: @pipeline.commit

  = render "projects/pipelines/with_tabs", pipeline: @pipeline

.js-pipeline-details-vue{ data: { endpoint: project_pipeline_path(@project, @pipeline, format: :json) } }
