- hide_top_links = @hide_top_links || false
- if !hide_top_links && @header_title && @header_title_url
  - push_to_schema_breadcrumb(@header_title, @header_title_url)
- unless @skip_current_level_breadcrumb
  - push_to_schema_breadcrumb(@breadcrumb_title, breadcrumb_title_link)

-# See https://schema.org/BreadcrumbList
-# haml-lint:disable InlineJavaScript
%script{ type: 'application/ld+json' }
  :plain
    #{schema_breadcrumb_json}

#js-vue-page-breadcrumbs-wrapper{ data: { testid: 'breadcrumb-links' } }
  #js-vue-page-breadcrumbs{ data: { breadcrumbs_json: breadcrumbs_as_json } }
  #js-injected-page-breadcrumbs

= yield :header_content
