- if broadcast_message.present?
  .broadcast-message{ style: broadcast_styling(broadcast_message) }
    %i.fa.fa-bullhorn
    = broadcast_message.message
  :css
    .sidebar-wrapper .nav-sidebar {
      margin-top: 58px;
    }
