- if nav_menu_collapsed?
  = link_to icon('angle-right'), '#', class: 'toggle-nav-collapse', title: "Open/Close"
- else
  = link_to icon('angle-left'), '#', class: 'toggle-nav-collapse', title: "Open/Close"
