.flash-container.flash-container-page
  - if alert
    .flash-alert
      %div{ class: (container_class) }
        %span= alert

  - elsif notice
    .flash-notice
      %div{ class: (container_class) }
        %span= notice
