:javascript
  GitLab.GfmAutoComplete.dataSource = "#{autocomplete_sources_project_path(@project)}"
  GitLab.GfmAutoComplete.Emoji.assetBase = "#{Gitlab.config.gitlab.relative_url_root + '/assets/emoji'}"
  GitLab.GfmAutoComplete.setup();
