- object = @target_project || @project || @group
- noteable_type = @noteable_type || @noteable&.class

- datasources = autocomplete_data_sources(object, noteable_type)

- if object
  = javascript_tag do
    :plain
      gl = window.gl || {};
      gl.GfmAutoComplete = gl.GfmAutoComplete || {};
      gl.GfmAutoComplete.dataSources = #{datasources.to_json};
