.browser-alert
  .alert-container
    .flash-alert
      You are using outdated version of browser.
      Gitlab may not work properly.
      %br
      Please, update your browser.
      The list of supported browsers listed on the page:
      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/install/requirements.md#supported-webbrowsers"}
        supported webbrowsers
