%aside.projects
  - if current_user.can_create_project?
    .widget
      You can create at least
      = current_user.projects_limit
      projects. Click on link below to add a new one
      .link_holder
        = link_to new_project_path, :class => "" do 
          New Project » 

  - if current_user.is_admin?
    .widget
      You have administrator privilegies. You can configure application following this button:
      .link_holder
        = link_to admin_root_path, :class => "", :title => "Admin"  do 
          Visit Admin Area »

  - if current_user.projects.count > 0
    = render "widgets/recent_projects"


