- return unless use_startup_css?

= javascript_tag nonce: true do
  :plain
    document.querySelectorAll('link[media="print"]').forEach(linkTag => {
      linkTag.addEventListener('load', function() {this.media='all'}, {once: true});
    })
