!!! 5
%html{ lang: "zh"}
  = render "layouts/head", title: "管理区域"
  %body{class: "#{app_theme}  admin", :'data-page' => body_data_page}
    = render "layouts/head_panel", title: link_to("管理区域", admin_root_path)
    = render 'layouts/page', sidebar: 'layouts/nav/admin'
