- page_title       @group.name
- page_description @group.description  unless page_description
- header_title     group_title(@group) unless header_title
- nav              "group"

= render template: "layouts/application"
