- @breadcrumb_title = _("Help")
- page_title    _("Help")
- header_title  _("Help"), help_path
- content_for :meta_tags do
  %meta{ name: "robots", content: "noindex, nofollow" }

= render template: "layouts/application"
