- page_title _('Instance Statistics')
- header_title _('Instance Statistics'), instance_statistics_root_path
- nav 'instance_statistics'
- @left_sidebar = true

= render template: 'layouts/application'
