%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab
  :ruby
    require 'rouge'
    stock_style = 'p.details { font-style:italic; color:#777 }'
    stock_style2 = '.footer p { font-size:small; color:#777 }'
    haml_io.puts '<style>'
    haml_io.puts stock_style
    haml_io.puts stock_style2
    haml_io.puts Rouge::Themes::Github.render(:scope => '.highlight')
    haml_io.puts '</style>'

  %body
    %div.content
      = yield
    %div.footer{style: "margin-top: 10px;"}
      %p
        \—
        %br
        - if @project
          You're receiving this notification because you are a member of the #{link_to_unless @target_url, @project.name_with_namespace, project_url(@project)} project team.
        - if @target_url
          #{link_to "View it on GitLab", @target_url}
