%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab

  %body
    %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "padding: 10px 0;", width: "100%"}
      %tr
        %td{align: "left", style: "margin: 0; padding: 10px;"}
          = yield
      %tr
        %td{align: "left", style: "margin: 0; padding: 10px;"}
          %p{style: "font-size:small;color:#777"}
            - if @project
              You're receiving this notification because you are a member of the #{link_to @project.name_with_namespace, project_url(@project)} project team.
              %br
            - if @target_url
              #{link_to "View in GitLab", @target_url}
