%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        GitLab

  %body
    %h1{style: "background: #EEE; border-bottom: 1px solid #DDD; color: #474D57; font: normal 20px Helvetica, Arial, sans-serif; margin: 0; padding: 5px 10px; line-height: 32px; font-size: 16px;"}
      GitLab
      - if @project
        \|
        = link_to @project.name_with_namespace, project_url(@project), style: 'color: #29B; text-decoration: none'
    %table{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "padding: 10px 0;", width: "100%"}
      %tr
        %td{align: "left", style: "margin: 0; padding: 10px;"}
          = yield
          %br
      %tr
        %td{align: "left", style: "margin: 0; padding: 10px;"}
          %p{style: "font-size:small;color:#777"}
            - if @project
              You're receiving this notification because you are a member of the #{@project.name_with_namespace} project team.
