- page_title @organization.name if @organization
- header_title @organization.name, organization_path(@organization) if @organization
- nav(organization_layout_nav)

= render template: "layouts/application"
