- page_title    "User Settings"
- header_title  "User Settings", profile_path unless header_title
- sidebar       "dashboard"
- nav           "profile"
- @left_sidebar = true

= render template: "layouts/application"
