- page_title  _("Settings")
- nav         "project"
- add_page_specific_style 'page_bundles/settings'
- add_page_specific_style 'page_bundles/projects'

- enable_search_settings locals: { container_class: 'gl-my-5' }

= render template: "layouts/project"
