- page_title       @project.full_name
- page_description @project.description    unless page_description
- header_title     project_title(@project) unless header_title
- nav              "project"
- @left_sidebar    = true

- content_for :project_javascripts do
  - project = @target_project || @project
  - if current_user
    -# haml-lint:disable InlineJavaScript
    :javascript
      window.uploads_path = "#{project_uploads_path(project)}";

= render template: "layouts/application"
