!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: @title
  %body{class: "#{app_theme}  application", :'data-page' => body_data_page}
    = render "layouts/public_head_panel", title: defined?(@title_url) ? link_to(@title, @title_url) : @title
    = render 'layouts/page'
