- page_title    _("Search")
- header_title  _("Search"), search_path
- add_page_specific_style 'page_bundles/search'
- @force_desktop_expanded_sidebar = true

= render template: "layouts/application"
