- page_title _("Snippets")
- header_title _("Snippets"), snippets_path
- snippets_upload_path = snippets_upload_path(@snippet, current_user)

- if Feature.enabled?(:your_work_sidebar)
  -# Show the "Your work" sidebar only for user's own snippets,
  -# not while browsing others' public snippets.
  - if @snippet && (@snippet.author == current_user || @snippet.new_record?)
    - @left_sidebar = true
    - nav "your_work"

- content_for :page_specific_javascripts do
  - if snippets_upload_path
    = javascript_tag do
      :plain
        window.uploads_path = "#{snippets_upload_path}";

= render template: "layouts/application"
