- page_title _("Snippets")
- header_title _("Snippets"), snippets_path
- snippets_upload_path = snippets_upload_path(@snippet, current_user)

- if current_user && Feature.enabled?(:your_work_sidebar, current_user)
  - @left_sidebar = true
  - nav "your_work"

- content_for :page_specific_javascripts do
  - if snippets_upload_path
    = javascript_tag do
      :plain
        window.uploads_path = "#{snippets_upload_path}";

= render template: "layouts/application"
