- page_title    'Snippets'
- if current_user
  - header_title  "Dashboard", root_path
- else
  - header_title  'Snippets', snippets_path
- sidebar       "dashboard"

= render template: "layouts/application"
