- page_title    'Snippets'
- if current_user
  - header_title  "Snippets", user_snippets_path(current_user)
- else
  - header_title  'Snippets', snippets_path
- sidebar       "dashboard"

= render template: "layouts/application"
