!!! 5
%html.subscriptions-layout-html{ lang: 'en' }
  = render 'layouts/head'
  %body.ui-indigo.gl-display-flex.vh-100
    = render "layouts/header/logo_with_title"
    = render "layouts/broadcast"
    .container.gl-display-flex.gl-flex-grow-1
      = yield
