- add_to_breadcrumbs s_('ModelRegistry|Model registry'), project_ml_models_path(@model.project)
- breadcrumb_title @model.name
- page_title @model.name

#js-mount-show-ml-model{ data: { view_model: show_ml_model_data(@model, @current_user) } }
