- add_to_breadcrumbs s_('ModelRegistry|Model registry'), project_ml_models_path(@model.project)
- breadcrumb_title @model.name
- page_title @model.name

= render(Projects::Ml::ShowMlModelComponent.new(model: @model, current_user: current_user))
