@mixin dark-theme($color-light, $color, $color-darker, $color-dark) {
  header {
    &.navbar-gitlab {
      .navbar-inner {
        .navbar-toggle {
          color: #FFF;
        }

        .app_logo, .navbar-toggle {
          a {
            color: $color-light;
          }
          background-color: $color-darker;

          &:hover {
            background-color: $color-dark;
            a {
              color: #FFF;
            }
          }
        }

        .app_logo {
          @media (max-width: $screen-md-max) {
            width: 52px;
            h3 {
              display: none;
            }
          }
          border-bottom: 1px solid transparent;
          margin-bottom: -1px;

          a {
            padding: 5px 8px;

            img {
              float: left;
            }

            h3 {
              width: 158px;
              float: left;
              margin: 0;
              margin-left: 20px;
              font-size: 18px;
              line-height: 34px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .page-with-sidebar {
    background: $color-darker;

    .collapse-nav a {
      color: #FFF;
      background: $color;
    }

    .sidebar-wrapper {
      background: $color-darker;
      border-right: 1px solid $color-darker;
    }

    .nav-sidebar li {
      a {
        color: $color-light;

        &:hover, &:focus, &:active {
          background: $color-dark;
        }

        i {
          color: $color-light;
        }

        .count {
          color: $color-light;
          background: $color-dark;
        }
      }

      &.separate-item {
        border-top: 1px solid $color;
      }

      &.active a {
        color: #FFF;
        font-weight: bold;

        &.no-highlight {
          border: none;
        }

        i {
          color: #FFF
        }
      }
    }
  }
}
