@import './themes/dark';
@import 'page_bundles/mixins_and_variables_and_functions';

:root {
  color-scheme: dark;

  --dark-icon-color-purple-1: #524a68;
  --dark-icon-color-purple-2: #715bae;
  --dark-icon-color-purple-3: #9a79f7;
  --dark-icon-color-orange-1: #665349;
  --dark-icon-color-orange-2: #b37a5d;

  --svg-status-bg: #{$white};
}

:root.gl-dark {
  // redefine some colors and values to prevent sourcegraph conflicts
  color-scheme: dark;
  --gray-10: #{$gray-10};
  --white: #{$white};
  --black: #{$black};
}

.gl-dark {
  .gl-dark-invert-keep-hue {
    filter: invert(0.8) hue-rotate(180deg);
  }

  .gl-dark-invert-keep-hue\! {
    filter: invert(0.8) hue-rotate(180deg) !important;
  }
}

// Decrease brightness and increase contrast for GlLabel in dark mode
.gl-label {
  filter: brightness(0.9) contrast(1.1);
}

:root.gl-dark {
  .md :not(pre.code) > code {
    background-color: $gray-200;
  }
}
