@import '../page_bundles/mixins_and_variables_and_functions';
/**
 * Styles the GitLab application with a specific color theme
 */
@mixin gitlab-theme-super-sidebar(
  $theme-color-lightest,
  $theme-color-light,
  $theme-color,
  $theme-color-darkest,
) {
  .super-sidebar {
    --super-sidebar-bg: #{mix(white, $theme-color-lightest, 50%)};
    --super-sidebar-user-bar-bg: #{$theme-color};
    --super-sidebar-primary: #{$theme-color};
    --super-sidebar-notification-dot: #{$theme-color-darkest};

    --super-sidebar-user-bar-button-bg: #{$t-white-a-16};
    --super-sidebar-user-bar-button-color: #{$theme-color-lightest};
    --super-sidebar-user-bar-button-border-color: #{$t-white-a-16};
    --super-sidebar-user-bar-button-hover-bg: #{$t-white-a-24};
    --super-sidebar-user-bar-button-hover-color: #{$white};
    --super-sidebar-user-bar-button-active-bg: #{$t-white-a-36};

    --super-sidebar-user-bar-button-icon-color: #{$theme-color-light};
    --super-sidebar-user-bar-button-icon-hover-color: #{$theme-color-light};
    --super-sidebar-user-bar-button-icon-mix-blend-mode: screen;

    hr {
      mix-blend-mode: multiply;
    }

    .super-sidebar-context-header {
      color: var(--super-sidebar-primary);
    }
  }
}
