/**
 * This file represent some UI that can be changed 
 * during web app restyle or theme select. 
 * 
 * Next items should be placed there
 * - link colors
 * - header styles
 * - main menu styles
 *
 */
.ui_basic { 
  /*
   * Common styles
   *
   */
  a {
    color: $link_color;
    &:hover { 
      text-decoration:none; 
      color: $blue_link;
    }
  }


  /*
   *  Application Header
   *
   */
  header { 
    width:100%;
    padding:0;
    margin:0;
    top:1px;
    left:0;
    background: #F1F1F1; /* for non-css3 browsers */
    border-bottom: 1px solid #ccc; 
    box-shadow: 0 -1px 0 white inset;
    -moz-box-shadow: 0 -1px 0 white inset;
    -webkit-box-shadow: 0 -1px 0 white inset;
    z-index:10;
    height:60px;

    .app_logo {
      width:230px;
      float:left;
      position:relative;
      top:-5px;

      a { 
        float:left;

        h1 { 
          text-indent:-9999px;
          width:102px;
          background: url('logo_text.png') no-repeat 0px -3px;
          float:left;
          margin-left:5px;
          font-size:20px;
          line-height:36px;
          font-weight:bold;
          color:#aaa;
          text-shadow: 0 1px 1px #FFF;
          padding-left:50px;
        }
      }
      .separator {
        margin-left:20px;
        float: left;
        height: 60px;
        width: 1px;
        background: white;
        border-left: 1px solid #DDD;
        margin-top: -10px;
      }
    }
    .container { 
      .top_panel_content { 
        margin:auto;
        position:relative;
        padding:15px 0;
      }
    }

    .project_name {
      float:left;
      margin:0;
      margin-right:30px;
      font-size:20px;
      line-height:36px;
      font-weight:bold;
      color:$style_color;
      text-shadow: 0 1px 1px #FFF;
    }

    .fbtn { 
      float: right;
      margin-right:10px;
      .btn { 
        margin-left:8px;
      }
    }

    .search { 
      float: right;
      margin-right: 55px;

      .search-input { 
        width:130px;
        background-image: url("icon-search.png");
        background-repeat: no-repeat;
        background-position: 10px;
        padding-left:25px;
        @include border-radius(5px);
        border:1px solid #ccc;
      }
    }
  }
  /*
   *  End of Application Header
   *
   */
}
