/**
 * This file represent some UI that can be changed
 * during web app restyle or theme select.
 *
 * Next items should be placed there
 * - link colors
 * - header styles
 * - main menu styles
 *
 */
.ui_modern {
  /*
   *  Application Header
   *
   */
  header {
    height:40px;
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: linear-gradient(top, #333, #222);
    background-repeat: repeat-x;
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

    .container .top_panel_content  { padding: 5px 0; }


    /**
     *
     * Logo holder
     *
     */
    .app_logo {
      width:160px;
      a {
        h1 {
          background: none;
          color:#DDD;
          font-size:30px;
          text-shadow: 0 1px 1px #111;
          padding-left: 0;
        }
      }
      .separator {
        width: 1px;
        height: 40px;
        margin: 0 10px;
        overflow: hidden;
        background: #222;
        border-left: 1px solid #333;
      }
    }

    .fbtn {
      .btn {
        i {
          position: relative;
          top: 2px;
        }
        background:none;
        margin-left:8px;
        font-size: 13px;
        line-height: 19px;
        color:#ccc;
        &:hover {
          color:#fff;
          i { 
            @extend .icon-white;
          }
        }
        border: none;
        box-shadow:none;
        text-shadow: 0 -1px 0 #000000;
        border-left: 1px solid #333;
      }
    }

    /**
     *
     * Search box
     *
     */
    .search {
      float: right;
      margin-right: 45px;
      .search-input {
        border: 1px solid rgba(0, 0, 0, 0.7);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.4) inset;
        background-color: #D2D5DA;
        background-color: rgba(255, 255, 255, 0.5);

        &:focus {
          background-color: white;
        }
      }
      .search-input::-webkit-input-placeholder {
        color: #666;
      }
    }

    /**
     *
     * Project / Area name
     *
     */
    .project_name {
      line-height:36px;
      font-size:30px;
      color:#DDD;
      text-shadow: 0 1px 1px #111;
    }

    /**
     *
     * Account box
     *
     */
    .account-box {
      top:6px;
      img {
        top:1px;
        right: 5px;
        width: 26px;
        height: 26px;
      }
    }
  }
}
