%h5= s_('ClusterIntegration|Environment pattern')
%p
  = s_("ClusterIntegration|Choose which of your project's environments will use this cluster.")
  = link_to s_("ClusterIntegration|Learn more about environments."), help_page_path('ci/environments')

.form-group
  = field.text_field :environment_scope, class: 'form-control js-select-on-focus', readonly: !has_multiple_clusters?(@project), placeholder: s_('ClusterIntegration|Environment scope')
