
%section.settings.no-animate.expanded#cluster-health
  %h4= s_('ClusterIntegration|Kubernetes cluster health')

  .settings-content
    %p= s_("ClusterIntegration|In order to show the health of the cluster, we'll need to provision your cluster with Prometheus to collect the required data.")

    %a.btn{ href: '#cluster-applications' }
      = s_('ClusterIntegration|Install Prometheus')
