.col-sm-4
  %h4.prepend-top-0
    = s_('ClusterIntegration|Cluster integration')
  %p
    = s_('ClusterIntegration|With cluster integration you can take advantage of Kubernetes auto deployment.')
  %p
    - link = link_to(s_('ClusterIntegration|auto deployment'), help_page_path('TODO'), target: '_blank', rel: 'noopener noreferrer')
    = s_('ClusterIntegration|Learn more about %{link_to_documentation} in GitLab').html_safe % { link_to_documentation: link }