.row.prepend-top-default
  = render 'sidebar'
  = render 'header'
.row
  .col-sm-8.col-sm-offset-4
    - if @authorize_url
      %a{ href: @authorize_url }
        = image_tag('auth_buttons/signin_with_google.png')
    -# - else
    -#   You have not configrued GitLab properly. So we can not proceed authentication. Please check if you have set up omniauth->providers->google_oauth2 in gitlab.yml
