Create a new cluster

%br

- if @authorize_url
  I have not authenticated yet. I can authenticate from
  = link_to("authenticate from here", @authorize_url)
- else
  I have already authenticated.
  %br
  Avaiable GCP project lists
  %br
  Avaiable zones
  %br
  = link_to "Create on Google Container Engine", namespace_project_clusters_path(@project.namespace, @project, creation_type: 'on_gke', cluster_name: 'new-cluster-shinya', gcp_project_id: 'gitlab-internal', cluster_zone: 'gitlab-internal', cluster_size: 'gitlab-internal', project_namespace: 'aaa'), method: :post
  %br
  = link_to "Use existing kubernets cluster", namespace_project_clusters_path(@project.namespace, @project, creation_type: 'manual', end_point: 'xxx.xxx.xxx.xxx', ca_cert: 'xxx...xxx', token: 'xxx', project_namespace: 'aaa'), method: :post
